<div class="modal-header">
    <h2 class="modal-title" translate>Cost plan</h2>
</div>
<div class="modal-body">
    <div ng-if="$ctrl.loading">
        <loading-spinner/>
    </div>
    <div ng-if="!$ctrl.loading">
        <div class="form-group">
            <label class="control-label m-b-sm">
              <span translate>Name</span>
            </label>
            <input type="text" class="form-control" ng-model="$ctrl.plan.name">
        </div>
        <div class="form-group">
            <label class="control-label m-b-sm">
              <span translate>Required certifications</span>
            </label>
            <ui-select ng-model="$ctrl.plan.certifications" multiple>
              <ui-select-match placeholder="{{ 'Select certifications' | translate }}">
                {{ $item.name }}
              </ui-select-match>
              <ui-select-choices
                repeat="certification in $ctrl.certifications | filter: {name: $select.search} track by certification.uuid">
                <div ng-bind-html="certification.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
        </div>
        <cost-plan-items
            items="$ctrl.plan.items"
            presets="$ctrl.presets"
            on-add="$ctrl.addItem()"
            on-delete="$ctrl.deleteItem(item)"/>
    </div>
</div>
<div class="modal-footer">
    <button type="button"
        class="btn btn-primary"
        ng-class="{'disabled': $ctrl.loading}"
        submit-button="$ctrl.save()">
        <span translate>Save</span>
    </button>
    <button class="btn btn-default"
        ng-click="$ctrl.dismiss()">
        <span translate>Cancel</span>
    </button>
</div>
