<article class="tab-sizing">
    <div class="sizing-actions">
        <a href="#" class="btn btn-primary">New</a>
    </div>
    <ul class="sizing-list">
        <li ng-repeat="item in CustomerSizing.list"
            ng-class="{open: item.open === true}">
            <header ng-click="item.open = !item.open">
                <div class="title">
                    <h2 stoppropagation>
                        <span editable-text="item.name"
                              e-form="rowform"
                              buttons="no">
                            {{ item.name }}
                        </span>
                        <div class="icon pencil-square-o"
                             ng-click="rowform.$show()"
                             ng-hide="rowform.$visible"></div>
                    </h2>
                    <span stoppropagation>
                        email to:
                        <span editable-text="item.email"
                              e-form="rowformEmail"
                              buttons="no">{{ item.email }}</span>
                        <div class="icon pencil-square-o"
                             ng-click="rowformEmail.$show()"
                             ng-hide="rowformEmail.$visible"></div>
                    </span>
                </div>
                <div class="price">
                    <b>{{ CustomerSizing.calculate(item) }}</b>
                    <span>USD/mo ({{ item.provider.name ? item.provider.name : 'Provider doesn\'t selected' }})</span>
                </div>
                <div class="btn-set">
                    <a href="#" class="btn btn-primary">Send</a>
                    <a href="#" class="btn btn-primary">Provision</a>
                    <a href="#" class="btn btn-primary">Clone</a>
                </div>
                <expandable-indicator open="item.open"></expandable-indicator>
            </header>
            <sizing item="item"></sizing>
        </li>
    </ul>
</article>
