@import 'mixins/components.scss';
@import 'variables.scss';

.tab-sizing {
  .sizing-actions {
    text-align: right;
    margin-bottom: 10px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .sizing-list {
    >li {
      @include clearfix;
      border-radius: 4px;
      header {
        @include clearfix;
        padding-bottom: 10px;
        padding-left: 10px;
        border-bottom: 1px solid;
        cursor: pointer;
        position: relative;
        padding-right: 15px;
        .title {
          float: left;
          display: block;
          padding-top: 9px;
          h2 {
            margin: 0;
          }
        }
        .btn-set {
          display: none;
          float: right;
          padding-top: 20px;
          margin-right:15px;
        }
        .price {
          float: right;
          height: 100%;
          padding-top: 24px;
          margin-right: 20px;
        }

        .expandable-indicator {
          top: 28px;
          position: absolute;
        }

        &:hover {
          background: $expandable-hover;
        }
      }
      main {
        @include clearfix;
        display: none;
        padding: 9px;
        h3 {
          text-align: center;
        }
        aside {
          position: relative;
          float: left;
          &.left {
            width: 19%;
            border-right: 2px solid $table-gray;
            padding-right: 5px;
            ul {
              li {
                a {
                  color: $dashboard-black;
                  text-decoration: none;
                  padding: 5px;
                  display: block;
                  &:hover {
                    background: $table-gray;
                  }
                }
                ul {
                  padding-left: 20px;
                  border-bottom: 1px solid;
                  display: none;
                  li {
                    position: relative;
                    &:before {
                      content: '+';
                      display: block;
                      position: absolute;
                      left: -10px;
                      top: 4px;
                    }
                  }
                }
                &.open {
                  ul {
                    display: block;
                  }
                }
              }
            }
          }
          &.right {
            width: 24%;
            border-left: 2px solid $table-gray;
            padding-left: 5px;
            .provider {
              padding: 5px;
              border: 1px solid;
              margin-bottom: 10px;
              cursor: pointer;
              &.active {
                position: relative;
                border: 1px solid $dashboard-green;
                &:before {
                  content: '\f00c';
                  font-family: FontAwesome;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                  text-align: center;
                  background-color: $dashboard-green;
                  color: $white;
                  width: 18px;
                  height: 18px;
                  -webkit-border-radius: 100%;
                  border-radius: 100%;
                  position: absolute;
                  left: 50%;
                  margin-left: -9px;
                  bottom: -9px;
                  line-height: 19px;
                  font-size: 12px;
                }
              }
              h4 {
                margin: 0;
                font-weight:bold;
              }
              .price {
                text-align: center;
                padding: 10px 0;
                b {
                  font-size: 30px;
                }
                span {
                  font-size: 24px;
                }
              }
            }
          }
        }
        .view {
          float: left;
          width: 55%;
          margin: 0 1%;
          ul {
            li {
              display: table;
              width: 100%;
              border-bottom: 1px solid $gray-text;
              height: 50px;
              >div {
                display: table-cell;
                padding: 5px;
                vertical-align: middle;
                &.name {
                  width: 20%;

                  h4 {
                    margin: 0;
                    font-weight: bold;
                  }
                }
                &.switch-wrapper {
                  .switch {
                    display: block;
                    position: relative;
                    border-radius: 4px;
                    overflow: hidden;
                    height: 30px;
                    background: $table-gray;
                    border: 1px solid $gray-text;
                    cursor: pointer;
                    line-height: 30px;
                    .sub-label {
                      display: block;
                      float: left;
                      height: 100%;
                      width: 33%;
                      text-align: center;
                    }
                    .slider {
                      position: absolute;
                      width: 33%;
                      height: 100%;
                      left: 0;
                      transition: all .3s ease;
                      background: $gray-text;
                      text-align: center;
                      span {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        transition: all .3s ease;
                        opacity: 0;
                      }
                    }
                    &.first {
                      .slider {
                        left: 0%;
                        span {
                          &.first {
                            opacity: 1;
                          }
                        }
                      }
                    }
                    &.second {
                      .slider {
                        left: 33.33%;
                        span {
                          &.second {
                            opacity: 1;
                          }
                        }
                      }
                    }
                    &.third {
                      .slider {
                        left: 67%;
                        right: 0;
                        span {
                          &.third {
                            opacity: 1;
                          }
                        }
                      }
                    }
                  }
                }
                &.multiplier {
                  text-align: center;
                  span {

                  }
                  input {
                    width: 70px;
                    height: 30px;
                    margin-right: 10px;
                    text-align: center;
                    padding-left: 14px;
                  }
                  button {
                    padding: 0;
                    height: 30px;
                    width: 30px;
                    text-align: center;
                    line-height: 20px;
                  }
                }
              }
            }
          }
        }
      }
      &.open {
        header {
          background: $expandable-hover;
          .btn-set {
            display: block;
          }
          .price {
            display: none;
          }
        }
        main {
          display: block;
        }
      }
    }
  }
}
