<main>
    <section>
        <aside class="left">
            <h3>Add infrastructure</h3>
            <ul>
                <li ng-repeat="inf in infrastructures" ng-class="inf.open">
                    <a ng-click="inf.open = inf.open != 'open' ? 'open' : ''">{{ inf.type }}</a>
                    <ul>
                        <li ng-repeat="view in inf.views">
                            <a ng-click="addView(inf.type, view)">{{ view }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>
        <section class="view">
            <h3>Stack planning view</h3>
            <ul>
                <li ng-repeat="view in item.views">
                    <div class="name">
                        <h4>{{ view.type }}</h4>
                        <span>{{ view.name }}</span>
                    </div>
                    <div class="switch-wrapper">
                        <div  class="switch" ng-init="view.switch = 'first'" ng-class="view.switch">
                            <span class="sub-label" ng-click="view.switch = 'first'">Small</span>
                            <span class="sub-label" ng-click="view.switch = 'second'">Average</span>
                            <span class="sub-label" ng-click="view.switch = 'third'">Large</span>
                            <div class="slider">
                                <span class="first">Small</span>
                                <span class="second">Average</span>
                                <span class="third">Large</span>
                            </div>
                        </div>
                    </div>
                    <div class="multiplier">
                        <span>x</span>
                        <input type="number"  ng-model="view.count">
                        <button class="btn btn-primary" ng-click="view.count = view.count > 0 ? view.count - 1 : view.count">-</button>
                        <button class="btn btn-primary" ng-click="view.count = view.count + 1">+</button>
                    </div>
                </li>
            </ul>
        </section>
        <aside class="right">
            <h3>Providers</h3>
            <div class="provider"
                 ng-repeat="provider in providers"
                 ng-class="{active: item.provider === provider }"
                 ng-click="item.provider = provider">
                <h4>{{ provider.name }}</h4>
                <div class="price">
                    <b>{{ provider.price }}</b>
                    <span>USD/mo</span>
                </div>
            </div>
        </aside>
    </section>
</main>
