// Basic Colors
$primary-color: #008800;
$secondary-color: #7f998a;

$background-light: #f6faf5;
$border-color: #7f998a;

// Button colors
$btn-primary: #f6faf7;
$btn-primary-text: #7f998a;
$btn-primary-hover: #eaf1ec;

// Table colors
$table-header-color: #405448;
$table-header-border-color: #f2f9f3;
$table-data-color: #7f998a;
