<div ng-if="loading">
  <h1 class="text-center"><i class="icon fa-spinner fa-spin"></i></h1>
</div>
<div ng-if="!loading && !service.quotas.length" class="empty-list-message">
  There are no quotas yet.
</div>
<div class="provider-quotas" ng-if="!loading">
  <div class="details-table__row" ng-repeat="quota in service.quotas | orderBy:'name'">
    <div class="details-table__key">
      {{ ::quota.name | quotaName }}:
    </div>
    <div class="details-table__value">
      {{ quota.usage|quotaValue:quota.name }} of
      {{ quota.limit|quotaValue:quota.name }}
    </div>
  </div>
</div>
