<div class="success-message" ng-if="getClass() == 'processing'">
  <span translate>Please wait while provider is being configured.</span>
</div>

<div ng-if="service.state == 'Erred'" class="error-message">
  {{ ::service.error_message || defaultErrorMessage }}
</div>

<div ng-if="loading">
  <loading-spinner/>
</div>

<div ng-if="!loading && !service.editable" class="empty-list-message">
  You don't have enough permissions to edit settings for <strong>{{ service.name }}</strong> provider.
</div>

<div class="form-horizontal" ng-if="!loading">
  <div class="form-group" ng-repeat="field in service.fields" ng-if="::service.editable">
    <label class="col-sm-3 control-label" for="{{ ::service.uuid }}_{{ ::field.name }}">
      <helpicon help-text="{{ ::field.help_text }}" ng-if="::field.help_text"></helpicon>
      {{ field.label | translate }}
    </label>
    <div class="col-sm-9">
      <div ng-if="field.secret" class="has-password">
        <input class="form-control" id="{{ ::service.uuid }}_{{ ::field.name }}"
          type="{{showSecret ? 'text' : 'password'}}"
          ng-model="service.values[field.name]">
        <a class="icon password-icon"
          ng-class="{'fa-eye-slash': showSecret, 'fa-eye': !showSecret}"
          title="{{showSecret ? 'Hide' : 'Show'}}"
          ng-click="showSecret=!showSecret">
        </a>
      </div>
      <div ng-if="!field.secret" ng-switch="::field.type">
        <input id="{{ ::service.uuid }}_{{ ::field.name }}"
          type="text"
          class="form-control"
          ng-switch-when="string"
          ng-model="service.values[field.name]">

        <input id="{{ ::service.uuid }}_{{ ::field.name }}"
          type="text"
          ng-switch-when="url"
          class="form-control"
          ng-model="service.values[field.name]">

        <input id="{{ ::service.uuid }}_{{ ::field.name }}"
          type="checkbox"
          ng-switch-when="boolean"
          ng-model="service.values[field.name]"/>

        <select id="{{ ::service.uuid }}_{{ ::field.name }}"
          ng-switch-when="choice"
          ng-model="service.values[field.name]"
          class="form-control"
          ng-options="item.value as item.display_name for item in field.choices">
        </select>

        <div ng-switch-when="file upload">
          {{ getFilename(service.values[field.name]) || 'None'}}
          <a class="btn btn-default"
            ngf-select
            ngf-accept="'application/x-x509-ca-cert'"
            ng-model="service.values[field.name]">
            <span translate>Browse</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center" ng-show="hasChanged()">
    <button
      class="btn btn-primary"
      submit-button="updateSettings()"
      ng-class="{disabled: isDisabled()}">
      <span translate>Save</span>
    </button>
  </div>
</div>
