<div>
    <div ng-if="loading">
      <h1 class="text-center"><i class="icon fa-spinner fa-spin"></i></h1>
    </div>
    <div ng-if="!loading && !choices.length" class="empty-list-message">
        There are no projects yet.
    </div>
    <div ng-if="choices.length">
        <p>Please select projects where usage of the provider is permitted.</p>
        <div multiple-select choices="choices"></div>
        <div class="decision">
            <div class="col">
                <a class="button-apply" submit-button="save()">Save</a>
            </div>
        </div>
    </div>
</div>
