.app-header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: #9ECF5D;
    color: #fff;
    z-index: 9999;
    height: 58px;
    .main-nav {
        float: left;
        ul {
            @include clear-list;
            li {
                display: inline-block;
                float: left;
                a {
                    @include inline-middle;
                    padding: 20px 15px;
                    color: inherit;
                    text-decoration: none;
                    .display-name {
                        display: none;
                        line-height: 1.1;
                    }
                    &:hover, &.current {
                        // background: #565656;
                        color: #1F3305;
                        position: relative;
                    }
                    &.current {
                        .display-name {
                            @include inline-middle;
                            margin-left: .4rem;
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            bottom: -10px;
                            left: 50%;
                            margin-left: -10px;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 10px 10px 0 10px;
                            border-color: #9ECF5D transparent transparent transparent;
                        }
                    }
                    &.home-link {
                        width: 58px;
                        height: 58px;
                        background: url(../images/logo.png) no-repeat 50% 50%;
                        background-size: 45px;
                        padding: 0;
                    }
                    &.user-pic {
                        padding: 11px 15px;
                        img {
                            @include inline-middle;
                            width: 36px;
                            // vertical-align: top;
                            border-radius: 100%;
                        }
                        span {
                            @include inline-middle;
                        }
                        &:after {
                            @include inline-middle;
                            font-family: FontAwesome;
                            content: '\f0dd';
                            position: relative;
                            top: -2px;
                            left: 4px;
                            margin-left: 0;
                            font-size: 12px;
                            border: none;
                        }
                    } // user-pic
                    .link-box {
                        border-radius: 100%;
                        background: gray;
                    } // link-box
                } // a
            } // li
        } // ul
        &.user-area {
            float: right;
        } // user-area
    } // main-nav
} // app-header