.header-bottom-border {
  margin-bottom: 24px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e5e5e5;
}

.offering-details-section-table {
  &.table {
    td {
      padding: 6px 0;
      border: 0;
    }

    tr:last-child>td {
      padding-top: 12px;
      border-top: 1px solid #e5e5e5;
    }

    tr:nth-last-child(2)>td {
      padding-bottom: 12px;
    }
  }
}
