<div class="ibox">
  <div class="ibox-title">
    <h5 translate>Checkout summary</h5>
  </div>
  <div class="ibox-content">
    <table class="table table-bordered">
      <tbody>
        <tr ng-if="$ctrl.model.name">
          <td><strong translate>Service desk project name</strong></td>
          <td>{{ $ctrl.model.name }}</td>
        </tr>
        <tr ng-if="$ctrl.model.template">
            <td><strong translate>Service desk project type</strong></td>
            <td uib-tooltip="{{ $ctrl.model.template.description }}">
              <i class="fa fa-question-circle"></i>
              {{ $ctrl.model.template.name }}
            </td>
          </tr>
        <tr>
          <td><strong translate>Price</strong></td>
          <td translate>Free</td>
        </tr>
        <tr>
          <td><strong translate>Invoiced to</strong></td>
          <td>{{ $ctrl.model.customer.name }}</td>
        </tr>
        <tr>
          <td><strong translate>Project</strong></td>
          <td>{{ $ctrl.model.project.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
