.rating-stars {
  display: inline-block;
  position: absolute;
  top: 9px;
  right: 12px;

  i {
    color: #bfbfbf;
    display: inline-block;
    margin-right: 2px;
    font-size: 12px;

    &.filled {
      color: #ffa000;
    }
  }
}
