<select
  id="action-{{ $ctrl.field.name }}"
  ng-options="item.value as item.display_name for item in $ctrl.field.choices"
  ng-model="$ctrl.model[$ctrl.field.name]"
  ng-if="$ctrl.field.choices && $ctrl.field.choices.length !== 0"
  class="form-control"
  ng-disabled="$ctrl.field.disableInput"
  ng-required="$ctrl.field.required">
  <option value="">Select an option</option>
</select>
<div
  class="form-control-static"
  ng-if="!$ctrl.field.choices || $ctrl.field.choices.length === 0">N/A
</div>
