<div class="modal-header">
  <h3 class="modal-title">
    {{ $ctrl.dialogTitle }}
  </h3>
</div>
<form name="$ctrl.ActionForm" ng-submit="$ctrl.submitForm()">
  <div class="modal-body">
    <div ng-if="$ctrl.loading">
      <h1 class="text-center">
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>
    <div ng-if="!$ctrl.loading">
      <p
        ng-if="::$ctrl.resolve.action.dialogSubtitle"
        ng-bind-html="$ctrl.resolve.action.dialogSubtitle"
      ></p>
      <div class="form-group" ng-if="$ctrl.resolve.action.name === 'destroy'">
        <label class="control-label">
          <h4>
            <b translate>You are about to delete:</b>
            {{ $ctrl.resolve.resource.name }}
          </h4>
        </label>
      </div>
      <div
        class="form-group"
        ng-repeat="(name, field) in $ctrl.fields"
        ng-class="field.formGroupClass"
      >
        <label
          class="control-label"
          for="action-{{ name }}"
          ng-if="field.type != 'boolean'"
        >
          <field-label field="field"></field-label>
          <helpicon help-text="field.help_text"></helpicon>
        </label>
        <div>
          <action-field
            field="field"
            model="$ctrl.form"
            form="$ctrl.ActionForm"
            context="{resource: $ctrl.resolve.resource}"
          ></action-field>
          <p
            class="text-danger"
            ng-repeat="error in $ctrl.errors[name]"
            ng-bind="error"
          ></p>
        </div>
      </div>
      <p
        class="text-danger"
        ng-repeat="error in $ctrl.errors.non_field_errors"
        ng-bind="error"
      ></p>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      class="btn btn-primary"
      ng-disabled="!$ctrl.submitActive()"
    >
      <i ng-if="submitting" className="fa fa-spinner fa-spin"></i>
      <span translate>Submit</span>
    </button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.close()">
      <span translate>Cancel</span>
    </button>
  </div>
</form>
