<input
  ng-model="$ctrl.model[$ctrl.field.name]"
  name="{{ ::$ctrl.field.name }}"
  type="number"
  id="action-{{ $ctrl.field.name }}"
  min="{{ ::$ctrl.minValue }}"
  max="{{ ::$ctrl.maxValue }}"
  ng-min="{{ ::$ctrl.field.min_value }}"
  ng-max="{{ ::$ctrl.field.max_value }}"
  multiply-by="$ctrl.field.factor"
  placeholder="{{ ::$ctrl.minValue }}"
  class="form-control"
  ng-required="$ctrl.field.required"
  ng-pattern="/^[0-9]+$/"
  step="1"
/>

<p class="help-block text-danger" ng-if="$ctrl.form[$ctrl.field.name].$error.pattern" translate>
  Not a valid value
</p>

<p class="help-block text-danger" ng-if="$ctrl.form[$ctrl.field.name].$error.min">
  <span translate>Minimal valid value is</span> {{ $ctrl.minValue }} {{ ::$ctrl.field.units }}
</p>

<p class="help-block text-danger" ng-if="$ctrl.form[$ctrl.field.name].$error.max">
  <span translate>Maximal valid value is</span> {{ $ctrl.maxValue }} {{ ::$ctrl.field.units }}
</p>
