<input
  ng-model="$ctrl.model[$ctrl.field.name]"
  name="{{ ::$ctrl.field.name }}"
  type="number"
  id="action-{{ $ctrl.field.name }}"
  min="{{ ::$ctrl.minValue }}"
  max="{{ ::$ctrl.maxValue }}"
  ng-min="{{ ::$ctrl.field.min_value }}"
  ng-max="{{ ::$ctrl.field.max_value }}"
  placeholder="{{ ::$ctrl.minValue }}"
  class="form-control"
  ng-required="$ctrl.field.required"
  ng-pattern="/^[0-9]+$/"
  step="1"
/>

<p
  class="help-block text-danger"
  ng-if="$ctrl.form[$ctrl.field.name].$error.pattern"
>
  {{ $ctrl.getInvalidErrorMessage() }}
</p>

<p
  class="help-block text-danger"
  ng-if="$ctrl.form[$ctrl.field.name].$error.min"
>
  {{ $ctrl.getMinErrorMessage() }}
</p>

<p
  class="help-block text-danger"
  ng-if="$ctrl.form[$ctrl.field.name].$error.max"
>
  {{ $ctrl.getMaxErrorMessage() }}
</p>
