<script type="text/ng-template" id="group-template.html">
  <div class="panel-heading cursor-pointer" ng-click="toggleOpen()">
    <h4 class="panel-title">
      <a class="accordion-toggle"
        uib-accordion-transclude="heading">
        <span uib-accordion-header>
          {{ heading }}
          <i class='fa pull-right' ng-class="isOpen ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
        </span>
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" uib-collapse="!isOpen">
    <div class="panel-body" ng-transclude></div>
  </div>
</script>

<div ng-if="$ctrl.loading">
  <loading-spinner></loading-spinner>
</div>
<uib-accordion ng-if="!$ctrl.loading" close-others="false">
  <div uib-accordion-group
    class="panel-default"
    is-open="true"
    template-url="group-template.html">
    <uib-accordion-heading>
      <span translate>Details</span>
      <billing-type model="$ctrl.model"/>
    </uib-accordion-heading>
    <expert-contract-section
      ng-if="!$ctrl.model.state"
      config="$ctrl.offeringConfig"
      model="$ctrl.model"/>
    <expert-request-general-info
      ng-if="$ctrl.model.state"
      expert-request="$ctrl.model"/>
  </div>
  <div uib-accordion-group
    class="panel-default"
    ng-repeat="tab in $ctrl.contractTemplate.order"
    heading="{{ $ctrl.contractTemplate.options[tab].label }}"
    template-url="group-template.html">
    <expert-contract-section
      model="$ctrl.model"
      config="$ctrl.contractTemplate.options[tab]"/>
  </div>
</uib-accordion>
