<div class="ibox">
  <div class="ibox-title">
    <h5>{{ $ctrl.bid.team_name }}</h5>
    <button class="pull-right btn btn-primary btn-xs" ng-click="$ctrl.accept()" translate>ACCEPT</button>
  </div>
  <div class="ibox-content">
    <div class="team-members">
      <a ng-repeat="user in $ctrl.bid.team_members"
         ng-click="$ctrl.openUserDetails(user)">
        <img class="img-circle m-r-sm img-sm"
             gravatar-src="user.email"
             gravatar-size="32"
             uib-tooltip="{{ user.full_name }}">
      </a>
    </div>
    <h4 translate ng-if="$ctrl.bid.description">Bid description</h4>
    <p slimscroll="{alwaysVisible: false, height: '200px'}">{{ $ctrl.bid.description }}</p>
    <div class="row m-t-sm">
      <div class="col-sm-6">
        <div class="font-bold" translate>SUBMITTED</div>
        <span
          uib-tooltip="{{ ::$ctrl.bid.created | dateTime }}"
          am-time-ago="::$ctrl.bid.created"></span>
      </div>
      <div class="col-sm-6 text-right">
        <div class="font-bold" translate>PRICE</div>
        {{ $ctrl.bid.price | defaultCurrency }}
      </div>
    </div>
  </div>
</div>
