<div ng-if="$ctrl.list.length === 0">
  <h3 translate>There are no bids yet.</h3>
</div>
<div class="text-center" ng-if="$ctrl.list.length > 1">
  <div class="btn-group">
    <label
      class="btn btn-default"
      ng-model="$ctrl.orderBy"
      ng-repeat="field in $ctrl.orderingFields"
      uib-btn-radio="field.name"
      ng-bind="field.label">
    </label>
  </div>
</div>
<div class="row wrapper wrapper-content animated fadeInUp" ng-if="$ctrl.list.length">
  <div class="col-sm-6 col-lg-4" ng-repeat="bid in $ctrl.list|orderBy:$ctrl.orderBy">
    <expert-bid bid="bid"></expert-bid>
  </div>
</div>
