@use 'sass:color';
@import '~sass/variables';

.loading-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  padding: 20px;
  background: color.adjust($white, $alpha: -0.5);
  text-align: center;
  z-index: 2;
}

.loading-overlay_border_dashed {
  border: 3px dashed $yellow;
}

.loading-overlay__message {
  display: inline-flex;
  padding: 20px 30px;
  border: 3px solid $yellow;
  border-radius: 5px;
  max-width: 250px;
  background-color: $white;
}
