<virtual-machine-summary resource="$ctrl.resource"/>


<div ng-repeat="endpoint in $ctrl.resource.endpoints">
  <ssh-details ng-if="endpoint.name === 'SSH'" endpoint="endpoint"></ssh-details>
  <rdp-details ng-if="endpoint.name !== 'SSH'" endpoint="endpoint" resource="$ctrl.resource"></rdp-details>
</div>
<div class="m-b-xs">
  <dt>
    <span translate>Username</span>:
  </dt>
  <dd>
    {{::$ctrl.resource.user_username}}
  </dd>
</div>
<password-details value="$ctrl.resource.user_password"></password-details>
