<!--<div ui-view="siteHeader"></div>-->

<div class="site-block site-welcome s-student" id="maintop">
    <div class="container">
        <h1 class="welcome-title">
            SQU Student Cloud
            <span>Applications and Infrastructure for Students and Faculty</span>
        </h1>
        <div class="tour-box">
            <a href="#/login/" class="take-a-tour btn btn-default">Start using!</a>
        </div>
        <img src="/static/images/site-left.png" alt="" class="img img-left">
        <img src="/static/images/site-center.png" alt="" class="img img-center">
        <img src="/static/images/site-right.png" alt="" class="img img-right">
        <div class="decor"></div>
    </div>
</div>

<section class="site-block" id="features">
    <div class="container">
        <h2 class="app-title features-title">Benefits</h2>
        <!-- features -->
        <div class="features">
            <div class="col">
                <div class="feature cloud">
                    <h3>Student cloud</h3>
                    <p>
                        Quick setup of the tools to support best practice of education and software development.
                        Personal testbeds and development environments for the students and faculty.
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="feature tools">
                    <h3>Full self-service</h3>
                    <p>
                        Setup and control your infrastructure from any point in the world! Oman cloud is using modern and mobile friendly
                        user interface accessible from any device.
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="feature graph">
                    <h3>Progress monitoring</h3>
                    <p>
                        Make sure that students projects are on track - activity dashboards and alerts based on
                        business intelligence.
                    </p>
                </div>
            </div>
        </div>
        <!-- /features -->
    </div>
</section>

<section class="site-block contact-for-details">
    <div class="container-fluid">
        <div class="mail-box">
            Contact <a href="mailto:info@opennodecloud.com">info@nodeconductor.com</a> for details.
        </div>
    </div>
</section>

<div ui-view="siteFooter"></div>
