<div class="modal-header">
  <h3 class="modal-title">{{ ::$ctrl.addTitle | translate }}</h3>
</div>
<div class="modal-body">
  <div ng-if="$ctrl.loading">
    <loading-spinner></loading-spinner>
  </div>
  <div ng-if="!$ctrl.loading" ng-class="{disabled: $ctrl.saving}">
    <div class="form-group" ng-if="!$ctrl.resolve.editUser && $ctrl.users.length">
      <label class="control-label" translate>User</label>
      <user-selector users="$ctrl.users" model="$ctrl.projectModel"></user-selector>
    </div>

    <p ng-if="!$ctrl.resolve.editUser && !$ctrl.users.length" class="text-danger" translate>
      There are no available users.
    </p>

    <div class="form-group" ng-if="$ctrl.resolve.editUser">
      <p class="form-control-static">
        <strong translate>User</strong>:
        {{ $ctrl.resolve.editUser.full_name || $ctrl.resolve.editUser.username }}
      </p>
    </div>

    <div class="form-group" ng-if="$ctrl.isProjectManager">
      <p class="form-control-static">
        <strong translate>Role</strong>: {{ ::$ctrl.possibleRoles[1].name }}
      </p>
    </div>

    <div class="form-group" ng-if="!$ctrl.isProjectManager">
      <div ng-repeat="role in $ctrl.possibleRoles">
        <label>
          <input name="role"
            type="radio"
            ng-model="$ctrl.projectModel.role"
            ng-value="role.value">
          {{ ::role.name | translate }}
        </label>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" translate>Role expires on</label>
      <action-field-datetime model="$ctrl.projectModel" field="$ctrl.datetime"></action-field-datetime>
    </div>

    <div class="error" ng-repeat="error in $ctrl.errors track by $index" ng-bind="error"></div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary"
    submit-button="$ctrl.saveUser()">{{ ::$ctrl.addText | translate }}
  </button>
  <button class="btn btn-default" ng-click="$ctrl.close()" translate>Cancel</button>
</div>
