<div ng-controller="DashboardActivityController as DashboardController" class="row">
    <div class="half-block">
        <h3>Projects</h3>
        <div ng-repeat="project in DashboardController.projects" class="white-box graph"  >
            <div ng-click="DashboardController.selectProject(project)" class="graph-head"
                 ng-class="{'active': project.selected}">
                <h4 ng-class="{'current': project.selected}">
                    <expandable-indicator open="project.selected"></expandable-indicator>
                    <a stoppropagation ui-sref="projects.details({uuid: project.uuid})">{{ project.name }}</a>
                    <div class="support-buttons" visible="premiumSupport">
                        <a stoppropagation class="button-support"
                           ng-if="::project.plan"
                           ui-sref="projects.details({uuid: project.uuid, tab: 'premiumSupport'})">SLA details</a>
                        <a stoppropagation class="button-support pending"
                           ng-if="::!project.plan && project.has_pending_contracts"
                           ui-sref="projects.details({uuid: project.uuid, tab: 'premiumSupport'})">SLA pending</a>
                        <a stoppropagation class="button-support pending"
                           ng-if="::!project.plan && !project.has_pending_contracts"
                           ng-click="DashboardController.addSupportContract(project)">Add SLA</a>
                    </div>
                </h4>
            </div>
            <div ng-if="project.selected" class="body" block-ui="activity-content-{{ project.uuid }}">
                <ul class="counters">
                    <li class="active-alert" ng-class="{'empty': !project.count.alerts}" visible="alerts">
                        <div class="counter-name">Active alerts</div>
                        <div ui-sref="projects.details({uuid: project.uuid, tab: 'alerts'})"
                             class="counter link-to-project" ng-bind="project.count.alerts"></div>
                    </li>
                    <li class="resources" ng-class="{'empty': !project.count.resources}" visible="resources">
                        <div class="counter-name">Resources</div>
                        <div ui-sref="projects.details({uuid: project.uuid, tab: 'vms'})"
                             class="counter link-to-project" ng-bind="project.count.resources"></div>
                    </li>
                    <li visible="providers" class="services" ng-class="{'empty': !project.count.services}" visible="providers">
                        <div class="counter-name">Providers</div>
                        <div class="counter" ng-bind="project.count.services"></div>
                    </li>
                    <li class="people" ng-class="{'empty': !project.count.users}" visible="users">
                        <div class="counter-name">People</div>
                        <div class="counter" ng-bind="project.count.users"></div>
                    </li>

                </ul>
                <div class="clear"></div>
                <div class="chart" visible="eventlog">
                    <div class="label">No of events per day</div>
                    <canvas ng-if="project.chartData && DashboardController.showGraph"
                            chart-options="DashboardController.chartOptions"
                            chart-data="project.chartData"
                            tc-chartjs chart-type="line"
                            width="400" height="120"></canvas>
                </div>
            </div>
        </div>
        <a ng-if="DashboardController.projects.length" ui-sref="organizations.details({uuid: DashboardController.currentCustomer.uuid, tab: 'projects'})" class="center-link">Show all projects</a>
        <div class="placeholder white-box" ng-if="DashboardController.projects.length==0">
            There are no projects
            <div class="inline"
                 check-quotas="{{DashboardController.checkQuotas}}"
                 sref="projects.create"
                 class-link="button-apply">
                <div>Add new project</div>
            </div>

        </div>

    </div>
    <div class="half-block">
        <div class="alerts-list">
            <div>
                <h3 class="alerts-header">Alerts</h3>
                <div class="alerts-helper-link">
                    <a stoppropagation class="button-support pending" target="_blank"
                       ui-sref="help.details({name: DashboardController.alertsHelpKey})">Supported alerts</a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="white-box" block-ui="dashboard-alerts-list">
                <ul>
                    <li ng-repeat="alert in DashboardController.alerts"
                        ng-class="{'fail': alert.severity=='error', 'hovered': isHovered}"
                        ng-click="isHovered = !isHovered">
                        <div class="icon" ng-class="::alert.icon"></div>
                        <div class="left-p">
                            <span ng-bind-html="::alert.html_message"></span>
                        </div>
                        <div class="right-p">
                            <span class="date" title="{{ ::alert.created | date:'medium' }}" am-time-ago="alert.created"></span>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
                <div class="placeholder" ng-if="DashboardController.alerts.length==0">
                    No active alerts
                </div>
            </div>
            <a class="show-all" ui-sref="organizations.details({uuid: DashboardController.customer_uuid, tab:'alerts'})" ng-if="DashboardController.alerts.length">Show all alerts</a>
        </div>
        <div class="alerts-list" ng-if="DashboardController.events.length" visible="eventlog">
            <div>
                <h3 class="alerts-header">Recent events</h3>
                <div class="alerts-helper-link">
                    <a stoppropagation class="button-support pending" target="_blank"
                       ui-sref="help.details({name: DashboardController.eventsHelpKey})">Supported events</a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="white-box" block-ui="dashboard-events-list">
                <ul>
                    <li ng-repeat="event in DashboardController.events"
                        class="recent-alert">
                        <div class="icon" ng-class="::event.icon"></div>
                        <div class="left-p">
                            <span ng-bind-html="::event.html_message"></span>
                        </div>
                        <div class="right-p">
                            <span class="date" title="{{ ::event['@timestamp'] | date:'medium' }}" am-time-ago="event['@timestamp']"></span>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
                <div class="placeholder" ng-if="DashboardController.events.length==0">
                    No events yet
                </div>
            </div>
            <a class="show-all" ui-sref="organizations.details({uuid: DashboardController.currentCustomer.uuid, tab: 'eventlog'})">Show all recent events</a>
        </div>
    </div>
</div>
