<div ng-controller="DashboardActivityController as DashboardController" class="row">
    <div class="half-block">
        <h3>Projects</h3>
        <div ng-repeat="project in DashboardController.projects" class="white-box graph">
            <div ng-click="DashboardController.selectProject(project)" class="graph-head"
                 ng-class="{'active': project.selected}">
                <h4 ng-class="{'current': project.selected}">
                    <a stoppropagation ui-sref="projects.details({uuid: project.uuid})">{{ project.name }}</a>
                </h4>
            </div>
            <div ng-if="project.selected" class="body">
                <ul class="counters">
                    <li class="active-alert">
                        <div class="counter-name">Active alerts</div>
                        <div class="counter" ng-bind="project.count.alerts"></div>
                    </li>
                    <li class="resources empty">
                        <div class="counter-name">Resources</div>
                        <div class="counter" ng-bind="project.count.resources"></div>
                    </li>
                    <li class="services empty">
                        <div class="counter-name">Services</div>
                        <div class="counter" ng-bind="project.count.services"></div>
                    </li>
                    <li class="people">
                        <div class="counter-name">People</div>
                        <div class="counter" ng-bind="project.count.users"></div>
                    </li>

                </ul>
                <div class="clear"></div>
                <div class="chart">
                    <div class="label">No of events per day</div>
                    <canvas ng-if="project.chartData && DashboardController.showGraph"
                            chart-options="DashboardController.chartOptions"
                            chart-data="project.chartData"
                            tc-chartjs chart-type="line"
                            width="400" height="120"></canvas>
                </div>
            </div>
        </div>
        <a ng-if="DashboardController.projects.length" ui-sref="projects.list" class="center-link">Show all projects</a>
    </div>
    <div class="half-block">
        <div class="alerts-list">
            <h3>Alerts</h3>
            <div class="white-box">
                <ul>
                    <li ng-repeat="alert in DashboardController.alerts" ng-class="{'fail': alert.severity=='error'}">
                        <div class="left-p">
                            <span ng-bind="::alert.message"></span>
                        </div>
                        <div class="right-p">
                            <span class="date" am-time-ago="alert.created"></span>
                            <span class="time"></span>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
                <div class="placeholder" ng-if="DashboardController.alerts.length==0">
                    No active alerts
                </div>
            </div>
            <a class="show-all" ui-sref="dashboard.alerts" ng-if="DashboardController.alerts.length">Show all alerts</a>
        </div>
        <div class="alerts-list" ng-if="DashboardController.events.length">
            <h3>Recent events</h3>
            <div class="white-box">
                <ul>
                    <li ng-repeat="event in DashboardController.events"
                        class="recent-alert" ng-class="{'error-event': event.levelname == 'ERROR'}">
                        <div class="icon"></div>
                        <div class="left-p">
                            <span ng-bind="::event.message"></span>
                        </div>
                        <div class="right-p">
                            <span class="date" am-time-ago="event['@timestamp']"></span>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
                <div class="placeholder" ng-if="DashboardController.events.length==0">
                    No events yet
                </div>
            </div>
            <a class="show-all" ui-sref="dashboard.eventlog">Show all recent events</a>
        </div>
    </div>
</div>
