 <div ng-controller="DashboardCostController as DashboardController">
     <div class="white-box big-chart">
        <canvas tc-chartjs chart-type="line" chart-data="DashboardController.costData" width="1120" height="180"></canvas>
        <div class="clear"></div>
    </div>
    <div class="white-box">
        <div class="table-block" ng-repeat="row in DashboardController.table">
            <div class="title" ng-click="tabOpened = !tabOpened; activeTab='services'">
                <ul class="sort-list">
                    <li>
                        <span class="month" ng-bind="::row.date"></span>
                    </li>
                    <li>
                        <div class="icon"></div>
                        <a stoppropagation ng-click="tabOpened=true; activeTab='services'" ng-class="{'active': tabOpened && activeTab=='services'}">Services (<span ng-bind="::row.services.length"></span>)</a>
                    </li>
                    <li>
                        <div class="icon"></div>
                        <a stoppropagation ng-click="tabOpened=true; activeTab='projects'" ng-class="{'active': tabOpened && activeTab=='projects'}">Projects (<span ng-bind="::row.projects.length"></span>)</a>
                    </li>
                    <li>
                        <div class="icon"></div>
                        <a stoppropagation ng-click="tabOpened=true; activeTab='resources'" ng-class="{'active': tabOpened && activeTab=='resources'}">Resources (<span ng-bind="::row.resources.length"></span>)</a>
                    </li>
                </ul>
                <div class="total-cost">
                    <span class="table-alert"></span>
                    <span class="cost">Total cost {{ row.total }}</span>
                    <div class="icon" ng-class="{'opened-icon': tabOpened}"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div ng-if="tabOpened">
                <div class="table services" ng-show="activeTab=='projects'">
                    <div class="tr th">
                        <div class="td service-name display-for-mobile"><span>Project name</span></div>
                        <div class="td service-name"><span>Cost</span></div>
                    </div>
                    <div class="tr" ng-repeat="service in row.projects">
                        <div class="td service-name display-for-mobile"><span ng-bind="::service.scope_name"></span></div>
                        <div class="td service-name"><span ng-bind="::service.total"></span></div>
                    </div>
                </div>
                <div class="table services" ng-show="activeTab=='services'">
                    <div class="tr th">
                        <div class="td service-name display-for-mobile"><span>Service name</span></div>
                        <div class="td service-name"><span>Cost</span></div>
                    </div>
                    <div class="tr" ng-repeat="service in row.services">
                        <div class="td service-name display-for-mobile"><span ng-bind="::service.scope_name"></span></div>
                        <div class="td service-name"><span ng-bind="::service.total"></span></div>
                    </div>
                </div>
                <div class="table services" ng-show="activeTab=='resources'">
                    <div class="tr th">
                        <div class="td service-name display-for-mobile"><span>Resource name</span></div>
                        <div class="td service-name"><span>Cost</span></div>
                    </div>
                    <div class="tr" ng-repeat="service in row.resources">
                        <div class="td service-name display-for-mobile"><span ng-bind="::service.scope_name"></span></div>
                        <div class="td service-name"><span ng-bind="::service.total"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
