 <div ng-controller="DashboardCostController as DashboardController">
     <div class="white-box empty-data-block" ng-show="DashboardController.table.length == 0">
         <h1>Not enough data for cost analysis</h1>
         <h2 visible="import" visible="providers">Please import resources or add more providers</h2>
         <div visible="import" class="cost-tab-actions inline">
             <div class="inline"
                  check-quotas="{{DashboardController.checkQuotasResource}}"
                  sref="import.import"
                  class-link="button button-margin-bottom">
                 <div>Import resources</div>
             </div>
         </div>
         <div visible="providers" class="cost-tab-actions inline">
             <div class="inline"
                  check-quotas="{{DashboardController.checkQuotasProvider}}"
                  sref="services.create"
                  class-link="button button-margin-bottom">
                 <div>Add providers</div>
             </div>
         </div>

     </div>
     <div class="white-box big-chart" ng-if="DashboardController.table.length > 0">
        <canvas tc-chartjs chart-type="line" chart-options="DashboardController.chartOptions" chart-data="DashboardController.costData" width="1120" height="180"></canvas>
        <div class="clear"></div>
    </div>
    <div class="white-box table-list" ng-if="DashboardController.table.length > 0">
        <div class="table-block" ng-repeat="row in DashboardController.table">
            <div class="title" ng-click="row.selected = !row.selected; row.activeTab='services'"
                 ng-class="{'active': row.selected}">
                <ul class="sort-list">
                    <li>
                        <span class="month" ng-bind="::row.date"></span>
                    </li>
                    <li visible="providers">
                        <div class="icon"></div>
                        <a stoppropagation ng-click="row.selected=true; row.activeTab='services'" ng-class="{'active': row.selected && row.activeTab=='services'}">Providers (<span ng-bind="::row.services.length"></span>)</a>
                    </li>
                    <li>
                        <div class="icon"></div>
                        <a stoppropagation ng-click="row.selected=true; row.activeTab='projects'" ng-class="{'active': row.selected && row.activeTab=='projects'}">Projects (<span ng-bind="::row.projects.length"></span>)</a>
                    </li>
                    <li visible="resources">
                        <div class="icon"></div>
                        <a stoppropagation ng-click="row.selected=true; row.activeTab='resources'" ng-class="{'active': row.selected && row.activeTab=='resources'}">Resources (<span ng-bind="::row.resources.length"></span>)</a>
                    </li>
                </ul>
                <div class="total-cost">
                    <span class="table-alert"></span>
                    <span class="cost">Total cost {{ row.total | defaultCurrency }}</span>
                    <div class="icon" ng-class="{'opened-icon': row.selected}"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div ng-if="row.selected">
                <div class="table services" ng-show="row.activeTab=='projects'">
                    <div class="tr th">
                        <div class="td service-name display-for-mobile"><span>Project name</span></div>
                        <div class="td service-name"><span>Cost</span></div>
                    </div>
                    <div class="tr" ng-repeat="service in row.projects">
                        <div class="td service-name display-for-mobile"><span ng-bind="::service.scope_name"></span></div>
                        <div class="td service-name"><span>{{ ::service.total | defaultCurrency }}</span></div>
                    </div>
                </div>
                <div class="table services" ng-show="row.activeTab=='services'">
                    <div class="tr th">
                        <div class="td service-name display-for-mobile"><span>Provider name</span></div>
                        <div class="td service-name"><span>Cost</span></div>
                    </div>
                    <div class="tr" ng-repeat="service in row.services">
                        <div class="td service-name display-for-mobile"><span ng-bind="::service.scope_name"></span></div>
                        <div class="td service-name"><span>{{ ::service.total | defaultCurrency }}</span></div>
                    </div>
                </div>
                <div class="table services" ng-show="row.activeTab=='resources'">
                    <div class="tr th">
                        <div class="td service-name display-for-mobile"><span>Resource name</span></div>
                        <div class="td service-name"><span>Cost</span></div>
                    </div>
                    <div class="tr" ng-repeat="service in row.resources">
                        <div class="td service-name display-for-mobile"><span ng-bind="::service.scope_name"></span></div>
                        <div class="td service-name"><span>{{ ::service.total | defaultCurrency }}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
