<div ng-controller="EventListController as EventList">

    <div class="white-box">
        <ul class="sort-list">
            <li class="title">
                <h2 class="app-title">Events</h2>
            </li>
            <pagesize pages-list="EventList" pages-service="EventList.service"></pagesize>
            <li class="search divid">
                <div class="search-box">
                    <input type="text" ng-model='EventList.searchInput' ng-change="EventList.search()">
                    <button class="search-button" ng-click="EventList.search()"></button>
                </div>
            </li>
            <li>
                <div class="toggle-filters">
                    <span class="filter"
                        ng-repeat="filter in [1,2,3,4,5]"
                        ng-click="activeFilter=!activeFilter"
                        ng-class="{'active': activeFilter}">Filter name</span>
                </div>
            </li>
        </ul>
    </div>

    <div class="white-box clear">
        <ul class="object-list">
            <li ng-repeat="event in EventList.list">
                <div class="list-item">
                    <div>
                        <div ui-view="eventTypes"></div>
                    </div>
                    <div class="actions">
                        <div class="actions-button" ng-show="!EventList.showgroup">
                            <a class="button" ng-click="openActions1=!openActions1">actions</a>
                            <ul class="actions-dropdown" ng-show="openActions1">
                                <li>
                                    <a class="button-simple">Some action for this type</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="pagination">
        <pagination pages-list="EventList" pages-service="EventList.service"></pagination>
    </div>

</div>
