<div ng-controller="EventListController as EventList">

    <div class="white-box">
        <ul class="sort-list">
            <li class="title">
                <h2 class="app-title">Events</h2>
            </li>
            <filter-list filter-controller="EventList"></filter-list>
            <li class="search divid">
                <div class="search-box">
                    <input type="text" ng-model='EventList.searchInput' ng-change="EventList.search()">
                    <button class="search-button" ng-click="EventList.search()"></button>
                </div>
            </li>
        </ul>
    </div>

    <div class="white-box">
        <ul class="object-list">
            <li ng-repeat="event in EventList.list">
                <div class="list-item dash {{ event.event_type }}">
                    <div>
                        <div ui-view="eventTypes"></div>
                    </div>
                    <div class="actions">
                        <action-button button-list="EventList.actionButtonsListItems"
                                       button-controller="EventList"
                                       ng-show="!EventList.showgroup"
                                       button-model="event"></action-button>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="pagination">
        <pagination pages-list="EventList" pages-service="EventList.service"></pagination>
    </div>

</div>
