<div ng-controller="DashboardIndexController as DashboardController" class="event-log">
    <div class="container">
        <div class="app-title">
            <h1>Dashboard</h1>
            <customer-balance></customer-balance>
        </div>
    </div>
    <div class="white-box">
        <ul class="sort-list event-nav">
            <li ng-class="{'active':activeTab == 'activity','inactive':activeTab !== 'activity'}">
                <a ui-sref="{tab:'activity'}" ng-click="activeTab = 'activity'">Activity</a>
            </li>
            <li ng-class="{'active':activeTab == 'costs','inactive':activeTab !== 'costs'}">
                <a ui-sref="{tab:'costs'}" ng-click="activeTab = 'costs'">Costs</a>
            </li>
            <li ng-class="{'active':activeTab == 'resources','inactive':activeTab !== 'resources'}">
                <a ui-sref="{tab:'resources'}" ng-click="activeTab = 'resources'">Resources</a>
            </li>
        </ul>
        <div class="event-action-buttons" ng-show="activeTab == 'activity'">
            <div visible="projects" class="cost-tab-actions inline">
                <div sref="projects.create"
                     class-link="button-apply"
                     check-quotas="{{DashboardController.checkQuotas}}">
                    <span>Add new project</span>
                </div>
            </div>
            <div visible="providers" class="cost-tab-actions inline">
                <div sref="services.create"
                     class-link="button-apply"
                     check-quotas="{{DashboardController.checkQuotasProvider}}">
                    <span>Add new provider</span>
                </div>
            </div>
        </div>
        <div class="event-action-buttons" ng-show="activeTab == 'costs'">
            <div visible="import" class="cost-tab-actions inline">
                <div class="inline"
                     check-quotas="{{DashboardController.checkQuotasResource}}"
                     sref="import.import"
                     class-link="button-apply">
                    <div>Import resources</div>
                </div>
            </div>
            <div visible="providers" class="cost-tab-actions inline">
                <div class="inline"
                     check-quotas="{{DashboardController.checkQuotasProvider}}"
                     sref="services.create"
                     class-link="button-apply">
                    <div>Add new provider</div>
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>
    <div ng-if="activeTab == 'costs'"
         ng-class="{'active-content':activeTab === 'costs', 'inactive-content':activeTab !== 'costs'}">
         <div ui-view="costTab"></div>
    </div>
    <div ng-if="activeTab == 'activity'"
         ng-class="{'active-content':activeTab === 'activity',
                    'inactive-content':activeTab !== 'activity'}">
        <div ui-view="activityTab"></div>
    </div>
    <div ng-if="activeTab == 'resources'"
         ng-class="{'active-content':activeTab === 'resources',
                    'inactive-content':activeTab !== 'resources'}">
        <div ui-view="resourcesTab"></div>
    </div>
</div>
