<div class="balance-block container dashboard-balance">
    <div class="right-block">
        <div class="balance">
                    <span visible="plans" class="bold">
                        Plan:
                    </span>
                    <span class="plan-spacing" visible="plans" ng-click="quotasTooltip = !quotasTooltip;">
                        {{ DashboardController.currentPlan }}
                    </span>
                    <span class="bold">
                        Balance:
                    </span>
                    <span>
                        $100
                    </span>
        </div>
        <div class="tooltip quota-tooltip" ng-show="quotasTooltip">
            <div class="tooltip-title">
                <h3>Current quotas: </h3>
                <div class="close" ng-click="quotasTooltip = false;"></div>
                <div class="clear"></div>
            </div>
            <div ng-repeat="quota in DashboardController.currentPlanQuotas">
                <div>{{quota.name}}: {{quota.value}}</div>
            </div>
        </div>
    </div>
</div>
