<div ng-controller="DashboardResourcesController as DashboardController">
    <div class="white-box dashboard-resources-tab">
        <div class="pie-charts-block" block-ui="pie-charts">
            <div class="chart-element"
                 ng-class="{'active': DashboardController.barChartTab === 'vmsByProject'}"
                 ng-click="DashboardController.barChartTab = 'vmsByProject'">
                <span class="chart-name">Current usage</span>
                <pie-chart chart-height="150"
                           chart-data="DashboardController.currentUsageData"
                           chart-controller="DashboardController"></pie-chart>
                <div>Current plan:
                    <a ui-sref="organizations.plans({uuid: DashboardController.currentCustomer.uuid})">
                        {{DashboardController.currentPlan}}
                    </a>
                </div>
            </div>
            <div class="chart-element"
                 block-ui="month-cost-charts"
                 ng-class="{'active': DashboardController.barChartTab === 'providersByProject'}"
                 ng-click="DashboardController.barChartTab = 'providersByProject'">
                <span class="chart-name">By provider (30d top 5)</span>
                <pie-chart chart-height="150"
                           chart-data="DashboardController.monthCostChartData"
                           chart-controller="DashboardController"></pie-chart>
            </div>
        </div>
        <div class="big-chart" block-ui="bar-chart"  ng-if="DashboardController.barChartTab === 'vmsByProject'">
            <span class="chart-name">By project</span>
            <bar-chart chart-height="150"
                       chart-data="DashboardController.resourcesByProjectChartData"
                       chart-controller="DashboardController"></bar-chart>
        </div>
        <div class="big-chart" block-ui="bar-chart" ng-if="DashboardController.barChartTab === 'providersByProject'">
            <span class="chart-name">Top providers by project</span>
            <bar-chart chart-height="150"
                       chart-data="DashboardController.servicesByProjectChartData"
                       chart-controller="DashboardController"></bar-chart>
        </div>
    </div>
</div>
