.fc-button {
  padding: 0 0.6em;
}

.btn-delete:hover {
  background-color: #ed5565; // #d9534f
  color: white;
}

.fc-popover {
  background-color: white;
  color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  .fc-header {
    background-color: #1ab394;
  }
}

.checkbox-toggle {
  min-width: 48px;
  height: 24px;
  position: relative;
  display: flex;
  flex-direction: row;
  input[type='checkbox'] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  label {
    cursor: pointer;
    text-indent: -9999px;
    max-width: 100%;
    min-width: 48px;
    height: 100%;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 2px;
    width: 46%;
    height: 84%;
    background: #fff;
    border-radius: 100px;
    transition: 0.2s;
    transform: translateX(0%);
  }
  input:checked + label {
    background: #1ab394;
    &:after {
      transform: translateX(100%);
    }
  }
  label:active:after {
    transform: translateX(50%);
  }
}

.weekDays-selector {
  margin: 8px 20px 0;
  display: flex;
  justify-content: space-between;

  & input {
    display: none !important;

    &[type='checkbox'] {
      & + label {
        display: inline-block;
        border-radius: 50px;
        background: #dddddd;
        height: 30px;
        width: 30px;
        margin: 0;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
      }
      &:checked + label {
        background: #1ab394;
        color: #ffffff;
      }
    }
  }
}

.fc-event {
  &.booking {
    padding: 4px 4px 2px;
    margin: 6px 3px;
    border-style: solid;

    &.fc-day-grid-event {
      border-width: 0 3px;
    }
    &.fc-time-grid-event {
      border-width: 3px 0;
    }

    &-Creating {
      border-color: #fdb44e;
      background: hsl(36, 95%, 93%);
      color: darken(#fdb44d, 12%);
      &.isHovered {
        background: #fdb44e;
        box-shadow: 0 10px 14px rgba(#fdb44e, 0.4);
      }
    }

    &-Availability,
    &-OK {
      border-color: #19b394;
      background: #b5f2e6;
      color: darken(#1ab394, 12%);
      &.isHovered {
        background: #19b394;
        box-shadow: 0 10px 14px rgba(#19b394, 0.4);
      }
    }

    &-Terminated {
      border-color: #fa607e;
      background: rgba(#fdc5d0, 0.7);
      color: darken(#fa607e, 12%);
      &.isHovered {
        background: #fa607e;
        box-shadow: 0 10px 14px rgba(#fa607e, 0.4);
      }
    }

    &-Schedule {
      border-color: #4786ff;
      background: rgba(rgb(218, 231, 255), 0.7);
      color: darken(#4788ff, 12%);
      &.isHovered {
        background: #4786ff;
        box-shadow: 0 10px 14px rgba(#4786ff, 0.4);
      }
    }

    &.isHovered {
      color: #fff;
    }

    .fc-content {
      display: flex;
      flex-direction: column;
      & .fc-time {
        font-size: 12px;
      }
      & .fc-title {
        font-size: 11px;
      }
    }
  }
}

.fc-day-number {
  padding: 3px 6px;
}

.fc-head {
  box-shadow: 0 0 40px -20px rgba(0, 0, 0, 0.75);
  text-align: right;
  padding: 14px 20px;
  letter-spacing: 1px;
  font-size: 12px;
  position: relative;
  pointer-events: none;
  z-index: 1;

  & th.fc-day-header {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #f5f5f5;
    text-align: center;
    border: 0;
    border-bottom: 1px solid rgba(166, 168, 179, 0.12);
    line-height: 50px;
    font-weight: 500;
  }
}

.fc-disabled-day,
.fc-nonbusiness,
.fc-event-disabled {
  color: rgba(#98a0a6, 0.6);
  background-color: rgba(#98a0a6, 0.2);
  background-image: url("data:image/svg+xml,<svg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'><g fill='#f9f9fa' fill-opacity='1' fill-rule='evenodd'><path d='M0 40L40 0H20L0 20M40 40V20L20 40'/></g></svg>");
  cursor: not-allowed;
}

.calendar-container {
  margin: auto;
  overflow: hidden;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background: #fff;
  max-width: 1200px;
}

.calendar-header {
  text-align: center;
  padding: 20px 0;
  background: linear-gradient(
    to bottom,
    rgb(250, 251, 253) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);

  h1 {
    margin: 0;
    font-size: 18px;
  }

  p {
    margin: 5px 0 0 0;
    font-size: 13px;
    font-weight: 600;
    color: rgba(#51565d, 0.4);
  }

  button {
    background: 0;
    border: 0;
    padding: 0;
    color: rgba(#51565d, 0.7);
    cursor: pointer;
    outline: 0;
  }
}

.fc-toolbar {
  background-color: #19b394;
  color: white;
  &.fc-header-toolbar {
    margin: 0 !important;
  }
}
