.fc-button {
  padding: 0 0.6em;
}

.fc-header-toolbar .btn {
  font-size: 12px;
}

.btn-delete:hover {
  background-color: #ed5565; // #d9534f
  color: white;
}

.fc-event {
  border-radius: 100px;
  font-size: 12px;
  line-height: 20px;
  .fc-content {
    padding-left: 5px;
  }
}

.event-terminated {
  background-color: #f8ac59;
  display: none;
}

.event-isFocused {
  background-color: #1a252f;
}

.fc-popover {
  background-color: white;
  color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  .fc-header {
    background-color: #1ab394;
  }
}

.checkbox-toggle {
  min-width: 48px;
  height: 24px;
  position: relative;
  display: flex;
  flex-direction: row;
  input[type='checkbox'] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  label {
    cursor: pointer;
    text-indent: -9999px;
    max-width: 100%;
    min-width: 48px;
    height: 100%;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 45%;
    height: 90%;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
    transform: translateX(5%) translateY(-50%);
  }
  input:checked + label {
    background: #1ab394;
    &:after {
      transform: translateX(115%) translateY(-50%);
    }
  }
  label:active:after {
    transform: translateX(50%) translateY(-50%);
  }
}
