.fc-button {
  padding: 0 0.6em;
}

.fc-header-toolbar .btn {
  font-size: 12px;
}

.btn-delete:hover {
  background-color: #ed5565; // #d9534f
  color: white;
}

.fc-popover {
  background-color: white;
  color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  .fc-header {
    background-color: #1ab394;
  }
}

.fc-head {
  border-bottom: 1px solid #9d9d9d;
  box-shadow: 0 0 52px -18px rgba(0, 0, 0, 0.75);
}

.checkbox-toggle {
  min-width: 48px;
  height: 24px;
  position: relative;
  display: flex;
  flex-direction: row;
  input[type='checkbox'] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  label {
    cursor: pointer;
    text-indent: -9999px;
    max-width: 100%;
    min-width: 48px;
    height: 100%;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 2px;
    width: 46%;
    height: 84%;
    background: #fff;
    border-radius: 100px;
    transition: 0.2s;
    transform: translateX(0%);
  }
  input:checked + label {
    background: #1ab394;
    &:after {
      transform: translateX(100%);
    }
  }
  label:active:after {
    transform: translateX(50%);
  }
}

.weekDays-selector {
  margin: 8px 20px 0;
  display: flex;
  justify-content: space-between;

  & input {
    display: none !important;

    &[type='checkbox'] {
      & + label {
        display: inline-block;
        border-radius: 50px;
        background: #dddddd;
        height: 30px;
        width: 30px;
        margin: 0;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
      }
      &:checked + label {
        background: #1ab394;
        color: #ffffff;
      }
    }
  }
}

.booking {
  position: relative;
  padding: 2px 4px;
  margin: 4px;
  border-left-width: 3px;
  border-left-style: solid;
  border-top-width: 0 !important;
  border-bottom-width: 0 !important;

  &-Creating {
    border-left-color: #fdb44d;
    background: #fef0db;
    align-self: center;
    color: darken(#fdb44d, 12%);
    margin-top: -5px;
  }

  &-OK {
    border-left-color: #1ab394;
    margin-top: 15px;
    background: rgba(#fdc5d0, 0.7);
    align-self: end;
    color: darken(#1ab394, 12%);
  }

  &-Terminated {
    border-left-color: #fa607e;
    margin-top: 15px;
    background: rgba(#fdc5d0, 0.7);
    align-self: end;
    color: darken(#fa607e, 12%);
  }

  &-info {
    border-left-color: #4786ff;
    margin-top: 15px;
    background: rgba(#dae7ff, 0.7);
    align-self: end;
    color: darken(#4786ff, 12%);
  }

  &-isHovered {
    background: #4786ff;
    border: 0;
    border-radius: 4px;
    align-self: end;
    color: #fff;
    box-shadow: 0 10px 14px rgba(#4786ff, 0.4);
  }

  &_detail {
    //position: absolute;
    left: 0;
    background: #fff;
    border: 1px solid rgba(166, 168, 179, 0.2);
    color: #000;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
    z-index: 2;

    &:after,
    &:before {
      bottom: 100%;
      left: 30%;
      border: solid transparent;
      content: ' ';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:before {
      border-bottom-color: rgba(166, 168, 179, 0.2);
      border-width: 8px;
      margin-left: -8px;
    }

    &:after {
      border-bottom-color: #fff;
      border-width: 6px;
      margin-left: -6px;
    }

    h2 {
      font-size: 15px;
      margin: 0;
      color: #51565d;
    }

    label {
      margin-top: 4px;
      font-size: 12px;
      margin-bottom: 0;
      font-weight: 500;
      color: rgba(#51565d, 0.7);
    }
  }
}

.fc-not-end,
.fc-not-start {
  border-width: 3px;
  border-style: solid;
}

.booking-content {
  display: flex;
  flex-direction: column;
  & .fc-time {
    font-size: 12px;
  }
  & .fc-title {
    font-size: 11px;
  }
}

.fc-eventii {
  border-radius: 100px;
  font-size: 12px;
  line-height: 20px;
  .fc-content {
    padding-left: 5px;
  }
}

.fc-head {
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  border-right: 1px solid rgba(166, 168, 179, 0.12);
  text-align: right;
  padding: 14px 20px;
  letter-spacing: 1px;
  font-size: 12px;
  box-sizing: border-box;
  color: #98a0a6;
  position: relative;
  pointer-events: none;
  z-index: 1;

  & .fc-day-header {
    font-size: 12px;
    text-transform: uppercase;
    color: #99a1a7;
    text-align: center;
    border-bottom: 1px solid rgba(166, 168, 179, 0.12);
    line-height: 50px;
    font-weight: 500;
  }
}

.fc-disabled-day,
.fc-nonbusiness,
.day--disabled {
  color: rgba(#98a0a6, 0.6);
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  cursor: not-allowed;
}
