<div ng-if="$ctrl.loading">
  <loading-spinner/>
</div>

<div class="text-danger" ng-bind="$ctrl.error"/>

<dl ng-if="$ctrl.prices" class="dl-horizontal">
  <dt class="m-b-sm">
    <span translate>Price for 1 vCPU per day</span>:
  </dt>
  <dd>{{ $ctrl.prices.cores | defaultCurrency }}</dd>

  <dt class="m-b-sm">
    <span translate>Price for 1 GB of storage per day</span>:
  </dt>
  <dd>{{ $ctrl.prices.disk | defaultCurrency }}</dd>

  <dt class="m-b-sm">
    <span translate>Price for 1 GB of RAM per day</span>:
  </dt>
  <dd>{{ $ctrl.prices.ram | defaultCurrency }}</dd>
</dl>

<choices-table
  ng-if="$ctrl.flavors"
  choices="$ctrl.flavors"
  columns="$ctrl.columns"
  enable-select="false"/>
