<table class="table" ng-if="$ctrl.resource.quotas.length > 0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Usage</th>
            <th>Limit</th>
            <th>Threshold</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="quota in $ctrl.resource.quotas track by $index">
            <td>{{$ctrl.getQuotaName(quota.name)}}</td>
            <td>{{quota.usage}}</td>
            <td>{{quota.limit}}</td>
            <td>{{quota.threshold}}</td>
        </tr>
    </tbody>
</table>
