<div class="modal-header">
  <h3 class="modal-title" translate>Assign package</h3>
</div>
<div>
  <div class="modal-body">
    <div ng-if="!$ctrl.templates">
      <loading-spinner></loading-spinner>
    </div>
    <div class="row" ng-if="$ctrl.templates">
      <div class="col-lg-12">
        <choices-table
          choices="$ctrl.templates"
          columns="$ctrl.columns"
          value="$ctrl.newTemplate"
          select-item="$ctrl.selectTemplate(item)"
          filter-options="$ctrl.filterOptions">
        </choices-table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" submit-button="$ctrl.assignPackage()">
      <span translate>Assign</span>
    </button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.dismiss()">
      <span translate>Cancel</span>
    </button>
  </div>
</div>
