<div class="ibox" ng-if="$ctrl.loading">
  <loading-spinner/>
</div>
<div class="ibox" ng-if="!$ctrl.loading">
  <div class="ibox-title">
    <h5>
      <span translate>Proposal</span>
    </h5>
  </div>
  <div class="ibox-content" ng-if="$ctrl.expertBid">
    <expert-bid-summary expert-bid="$ctrl.expertBid"/>

    <div class="m-t-md">
      <button type="submit"
        class="btn btn-danger"
        ng-disabled="$ctrl.deleting"
        ng-if="$ctrl.canManage()"
        submit-button="$ctrl.delete()">
        <i class="fa fa-trash-o"></i>
        <span translate>Delete</span>
      </button>
    </div>
  </div>
  <div class="ibox-content" ng-if="!$ctrl.expertBid">
    <p class="m-b-md" translate>You have not submitted proposal yet.</p>
    <button
      type="button"
      class="btn btn-primary"
      ng-if="$ctrl.canManage()"
      submit-button="$ctrl.createBid()">
      <span translate>Create proposal</span>
    </button>
  </div>
</div>
