@import '~sass/variables.scss';
@import '~sass/theme/_variables.scss';

.offeringPurchaseButton {
  button {
    background-color: $navy;
    color: $white;

    &:hover {
      font-weight: bold;
    }
  }
}
