@import '~sass/theme/_variables.scss';

.organizationGroupContainer {
  display: inline;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $light-gray;
  border-radius: 16px;
  padding: 0 8px;
  margin-top: 16px;
}
