@import '~sass/variables';
@import '~sass/theme/_variables';

.showOfferingsButtonContainer {
  align-self: stretch;
  margin-top: 24px;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  flex-direction: column;
}
