@import '~sass/variables.scss';
@import '~sass/inspinia/_variables.scss';

.ShowOfferingsButtonContainer {
  align-self: stretch;
  margin-top: 24px;

  .ShowOfferingsButtonContainer__button {
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    color: #6b6c7e;
    border: 1px solid $light-gray;

    &:hover {
      background-color: $navy;
      color: $white;
    }
  }
}
