<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox">
        <div class="ibox-title">
          <h3>
            <span>{{ $ctrl.expert.label }}</span>
            <billing-type model="$ctrl.expert"></billing-type>
            <button
              class="btn btn-info pull-right"
              ng-click="$ctrl.previewContract()"
              visible-if="'experts.preview_contract'">
              <i class="fa fa-book"></i>
              <span translate>Preview contract</span>
            </button>
          </h3>
          <p ng-if="$ctrl.expert.summary" ng-bind-html="::$ctrl.expert.summary"></p>
        </div>
        <div class="ibox-content">
          <form name="$ctrl.mainForm" class="form-horizontal" ng-if="!$ctrl.loading">
            <expert-contract-form
              form="$ctrl.mainForm"
              model="$ctrl.model"
              expert="$ctrl.expert"
              errors="$ctrl.errors"
              contract-template="$ctrl.contractTemplate"></expert-contract-form>
          </form>
          <div ng-if="$ctrl.loading">
            <loading-spinner></loading-spinner>
          </div>
        </div>
        <div class="ibox-content">
          <button class="btn btn-primary pull-right"
            ng-disabled="$ctrl.createButtonDisabled()"
            submit-button="$ctrl.submit()">
            <i class="fa fa-shopping-cart"></i>
            <span translate>Create</span>
          </button>
          <button class="btn btn-default" ng-click="$ctrl.cancel()">
            <span translate>Cancel</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
