<div>
    <div class="container">
        <h1>Privacy Statement</h1>
    </div>

    <div class="white-box text-page">
        <p>This Privacy Statement is effective from November 25, 2015.</p>

        <p>OpenNode LLC (&ldquo;OpenNode&rdquo; or the &ldquo;Company&rdquo;) is committed to protecting the privacy of
            individuals who visit the Company&rsquo;s Web sites (&ldquo;Visitors&rdquo;) and individuals who register to
            use the Services as defined below (&ldquo;Customers&rdquo;). This Privacy Statement describes OpenNode&rsquo;s
            Web site privacy practices in relation to the use of the Company&rsquo;s Web sites and the related applications
            and services offered by OpenNode (the &ldquo;Services&rdquo;).</p>

        <h2>1. Web sites covered</h2>

        <p>This Privacy Statement covers the information practices of Web sites that link to this Privacy Statement,
            including <a target="_blank" href="http://nodeconductor.com">http://nodeconductor.com</a>.
            </p>

        <h2>2. Information collected</h2>

        <p>When expressing an interest in obtaining additional information about the Services or registering to use
            the Services, the Services may require you to provide the Company with personal contact information,
            such as name, company name, address and email address (&ldquo;Required Contact Information&rdquo;).
            When purchasing the Services, Nodeconductor requires you to provide the Company with financial qualification
            and billing information, such as billing name, billing address, and credit card number (&ldquo;Billing
            Information&rdquo;). Nodeconductor may also ask you to provide additional information, such as company annual
            revenues, number of employees, or industry (&ldquo;Optional Information&rdquo;). Required Contact Information,
            Billing Information, and Optional Information about Customers are referred to collectively as &ldquo;Data About
            OpenNode Customers.&rdquo;</p>

        <p>As you navigate the Company&rsquo;s Web site, OpenNode may also collect information through the use of
            commonly-used information-gathering tools, such as cookies and Web beacons (&ldquo;Web Site Navigational
            Information&rdquo;). Web Site Navigational Information includes standard information from your Web browser
            (such as browser type and browser language), your Internet Protocol (&ldquo;IP&rdquo;) address, and
            the actions you take on the Company&rsquo;s Web sites (such as the Web pages viewed and the links clicked).</p>

        <h2>3. Use of information collected</h2>

        <p>The Company uses Data About OpenNode Customers to perform the services requested. For example, if you fill
            out a &ldquo;Contact Me&rdquo; Web form, the Company will use the information provided to contact you about
            your interest in the Services. Also, Customers may elect to invite a friend to use OpenNode&rsquo;s Services
            in a collaborative manner (referred to as adding &ldquo;collaborators&rdquo;). OpenNode must receive
            the email address of the friend, and sends the friend an invitation email.</p>

        <p>The Company may also use Data About OpenNode Customers for marketing purposes. For example, the Company
            may use information you provide to contact you to further discuss your interest in the Services and to send
            you information regarding the Company and its partners, such as information about promotions or events.</p>

        <p>OpenNode uses credit card information solely to check the financial qualifications of prospective Customers
            and to collect payment for the Services.</p>

        <p>OpenNode uses Web Site Navigational Information to operate and improve the Company&rsquo;s Web site.
            The Company may also use Web Site Navigational Information alone or in combination with Data About
            OpenNode Customers to provide personalized information about the Company.</p>

        <h2>4. Web Site Navigational Information</h2>

        <p>Cookies, Web Beacons and IP Addresses</p>

        <p>OpenNode uses commonly-used information-gathering tools, such as cookies and Web beacons, to collect
            information as you navigate the Company&rsquo;s Web sites (&ldquo;Web Site Navigational Information&rdquo;).
            This section describes the types of Web Site Navigational Information that may be collected on
            the Company&rsquo;s Web sites and how this information may be used.</p>

        <p>Cookies - OpenNode uses cookies to make interactions with the Company&rsquo;s Web sites easy and meaningful.
            When you visit the Company&rsquo;s Web site, OpenNode&rsquo;s servers send a cookie to your computer.
            Standing alone, cookies do not personally identify you; they merely recognize your Web browser.
            Unless you choose to identify yourself to Nodeconductor, either by responding to a promotional offer or
            opening an account, you remain anonymous to the Company.</p>

        <p>OpenNode uses cookies that are session-based and persistent-based. Session cookies exist only during
            one session. They disappear from your computer when you close your browser or turn off your computer.
            Persistent cookies remain on your computer after you close your browser or turn off your computer.
            Please note that if you disable your Web browser&rsquo;s ability to accept cookies, you will be able
            to navigate the Company&rsquo;s Web sites, but the functionality and features of the Services
            may be affected, and you may not be able to successfully use the Services. Similarly, if you disable
            JavaScript, some features of the Company&rsquo;s Web sites may not function properly, and some areas
            of the Company&rsquo;s Web sites may not function at all.</p>

        <p>If you have chosen to identify yourself to OpenNode, the Company uses session cookies containing encrypted
            information to allow the Company to uniquely identify you. Each time you log into the Services, a session
            cookie containing an encrypted, unique identifier that is tied to your account is placed your browser.
            These session cookies allow the Company to uniquely identify you when you are logged into the Services and
            to process your online transactions and requests. Session cookies are required to use the Services.</p>

        <p>OpenNode uses persistent cookies that only the Company can read and use to identify browsers that have
            previously visited the Company&rsquo;s Web site. When you purchase the Services or provide the Company
            with personal information, a unique identifier is assigned you. This unique identifier is associated with
            a persistent cookie that the Company places on your Web browser. The Company is especially careful about
            the security and confidentiality of the information stored in persistent cookies. For example, the Company
            does not store account numbers or passwords in persistent cookies. If you disable your Web browser&rsquo;s
            ability to accept cookies, you will be able to navigate the Company&rsquo;s Web site, but you will not be
            able to successfully use the Services.</p>

        <p>OpenNode may use information from session and persistent cookies in combination with Data About OpenNode
            Customers to provide you with information about the Company and the Services.</p>

        <p>IP Addresses - When you visit OpenNode&rsquo;s Web site, the Company collects your Internet
            Protocol (&ldquo;IP&rdquo;) addresses to track and aggregate non-personal information. For example,
            OpenNode uses IP addresses to monitor the regions from which Customers and Visitors navigate
            the Company&rsquo;s Web site.</p>

        <p>Do Not Track - Currently, various browsers &ndash; including Internet Explorer, Firefox,
            and Safari &ndash; offer a &ldquo;do not track&rdquo; or &ldquo;DNT&rdquo; option that relies on
            a technology known as a DNT header, which sends a signal to Web sites visited by the user about
            the user's browser DNT preference setting. OpenNode does not currently commit to responding
            to browsers' DNT signals with respect to the Company's Web sites, in part, because no common industry
            standard for DNT has been adopted by industry groups, technology companies or regulators, including
            no consistent standard of interpreting user intent. OpenNode takes privacy and meaningful choice
            seriously and will make efforts to continue to monitor developments around DNT browser technology
            and the implementation of a standard.</p>

        <h2>5. Public forums and customer testimonials</h2>

        <p>OpenNode may provide bulletin boards, blogs, or chat rooms on the Company&rsquo;s Web site. Any personal
            information you choose to submit in such a forum may be read, collected, or used by others who visit
            these forums, and may be used to send you unsolicited messages. OpenNode is not responsible for
            the personal information you choose to submit in these forums.</p>

        <p>OpenNode may post a list of Customers and testimonials on the Company&rsquo;s Web sites that contain
            information such as Customer names and titles. OpenNode obtains the consent of each Customer prior
            to posting any information on such a list or posting testimonials.</p>

        <h2>6. Sharing of Information Collected</h2>

        <p>Service Providers</p>

        <p>Nodeconductor may share Data About OpenNode Customers with the Company&rsquo;s contracted service providers
            so that these service providers can provide services on our behalf. Without limiting the foregoing,
            Nodeconductor may also share Data About OpenNode Customers with the Company&rsquo;s service providers
            to ensure the quality of information provided, and with third-party social networking and media Web sites,
            such as Facebook, for marketing and advertising on those Web sites. Unless described in this Privacy Statement,
            OpenNode does not share, sell, rent, or trade any information provided with third parties
            for their promotional purposes.</p>

        <p>Business Partners</p>

        <p>From time to time, Nodeconductor may partner with other companies to jointly offer products or services. If you purchase or specifically express interest in a jointly-offered product or service from OpenNode, the Company may share Data About OpenNode Customers collected in connection with your purchase or expression of interest with our joint promotion partner(s). OpenNode does not control our business partners&rsquo; use of the Data About OpenNode Customers we collect, and their use of the information will be in accordance with their own privacy policies. If you do not wish for your information to be shared in this manner, you may opt not to purchase or specifically express interest in a jointly offered product or service.</p>

        <p>Billing</p>

        <p>OpenNode uses a third-party service provider to manage credit card processing. This service provider is not permitted to store, retain, or use Billing Information except for the sole purpose of credit card processing on the Company&rsquo;s behalf.</p>

        <p>Compelled Disclosure</p>

        <p>Nodeconductor reserves the right to use or disclose information provided if required by law or if the Company reasonably believes that use or disclosure is necessary to protect the Company&rsquo;s rights and/or to comply with a judicial proceeding, court order, or legal process.</p>

        <h2>7. International transfer of information collected</h2>

        <p>To facilitate OpenNode&rsquo;s global operations, the Company may store, transfer and access Data About
            Nodeconductor Customers around the world, including the United States and other countries in which
            the Company has operations. This Privacy Statement shall apply even if OpenNode transfers Data
            About OpenNode Customers to other countries.</p>

        <h2>8. Communications preferences</h2>

        <p>OpenNode offers Customers and Visitors who provide contact information means to choose how the Company uses
            the information provided. Additionally, you may send a request specifying your communications preferences
            to support@nodeconductor.com. Customers cannot opt out of receiving transactional emails related to their
            account with OpenNode or the Services.</p>

        <h2>9. Correcting and updating your information</h2>

        <p>Customers may update or change their registration information
            by editing their user or organization record. You can update your information on the accounts page.
            For additional information not accessible from the accounts page, you can make a request
            to support@nodeconductor.com. Requests to access, change, or delete this information will be handled
            within 30 days.</p>

        <h2>10. Data retention</h2>

        <p>OpenNode retains the information we receive as described in this Privacy Statement above for reasonable
            duration, for example, as the case may be, for as long as needed to provide our Services, comply with
            our legal obligations, resolve disputes, establish legal defenses, to conduct audits, pursue legitimate
            business purposes, and enforce our agreements.</p>

        <h2>11. Customer Data</h2>

        <p>As part of using our Services, Customers may submit electronic data or information to the Services
            (&ldquo;Customer Data&rdquo;) which may include personal information. The Company generally has no direct
            relationship with the individuals to whom Customer Data may pertain, which we process on the behalf of
            our Customers. Any uses of Customer Data by the Company are done so pursuant to the Company&rsquo;s Terms
            of Service or a subscription agreement in place between the Company and the relevant Customer
            (or his/her organization), which exclusively govern the Company&rsquo;s treatment of Customer Data
            and supersede this Privacy Statement in case of conflict, or as required by law. If personal information
            pertaining to you as an individual has been submitted to us by a Customer as Customer Data and you wish to
            exercise any rights you may have to access, correct, amend, or delete such data, please inquire with
            the Customer (or his/her organization) directly. If an authorized Customer requests that we update or
            remove the data in question and the Customer has no ability to do so via use of the Services, we will
            acknowledge their request within 30 days. Additional information about the Company&rsquo;s privacy and
            security practices with respect to Customer Data is available here.</p>

        <h2>12. Security</h2>

        <p>OpenNode uses appropriate administrative, technical, and physical security measures to protect Data
            About OpenNode Customers.</p>

        <h2>13. Changes to this Privacy Statement</h2>

        <p>OpenNode reserves the right to change this Privacy Statement. OpenNode will provide notification of
            the material changes to this Privacy Statement through the Company&rsquo;s Web sites at least thirty (30)
            business days prior to the change taking effect.</p>

        <h2>14. Contacting Us</h2>

        <p>Questions regarding this Privacy Statement or the information practices of the Company&rsquo;s Web sites
            should be directed to info@opennodecloud.com.</p>

        <p>Adapted from Heroku's privacy statement. </p>
    </div>
</div>
