.capacity-bar {
  .progress {
    width: 150px;
  }
  .quota-info {
    margin-bottom: 0;
    margin-top: 0.4rem;
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
  }
}

.deploy-page-banner {
  padding-right: 350px;
}

@media (max-width: 1650px) {
  .deploy-page-banner {
    padding-right: 300px;
  }
}

/* Equals to bootstrap xl screen size */
@media (max-width: 1200px) {
  .deploy-page-banner {
    padding-right: 0;
  }
}
