<table class="table table-bordered">
  <tbody ng-if="$ctrl.target.length === 0">
    <tr colspan="5">
      <td class="text-center" translate>
        Security group does not contain any rule yet.
      </td>
    </tr>
  </tbody>
  <thead ng-if="$ctrl.target.length > 0">
    <tr>
      <th translate>Ethernet type</th>
      <th translate>Direction</th>
      <th translate>IP protocol</th>
      <th translate>From port</th>
      <th translate>To port</th>
      <th translate>Remote CIDR</th>
      <th translate>Remote security group</th>
      <th translate>Description</th>
      <th translate>Actions</th>
    </tr>
  </thead>
  <tbody ng-if="$ctrl.target.length > 0">
    <tr ng-repeat="rule in $ctrl.target">
      <td>
        <select
          ng-options="ethertype.value as ethertype.label for ethertype in $ctrl.ethertypes"
          ng-model="rule.ethertype"
          class="form-control"
          required
        >
        </select>
      </td>
      <td>
        <select
          ng-options="direction.value as direction.label for direction in $ctrl.directions"
          ng-model="rule.direction"
          class="form-control"
          required
        >
        </select>
      </td>
      <td>
        <select
          ng-options="protocol.value as protocol.label for protocol in $ctrl.protocols"
          ng-model="rule.protocol"
          class="form-control"
        >
        </select>
      </td>
      <td
        class="form-group"
        ng-class="{'has-error': $ctrl.form['rule_{{
          $index
        }}_from_port'].$invalid}"
      >
        <input
          name="rule_{{ $index }}_from_port"
          ng-model="rule.from_port"
          type="number"
          min="{{ $ctrl.getPortMin(rule) }}"
          max="{{ $ctrl.getPortMax(rule) }}"
          class="form-control"
          required
        />
      </td>
      <td
        class="form-group"
        ng-class="{'has-error': $ctrl.form['rule_{{
          $index
        }}_to_port'].$invalid}"
      >
        <input
          name="rule_{{ $index }}_to_port"
          ng-model="rule.to_port"
          type="number"
          min="{{ $ctrl.getToPortMin(rule) }}"
          max="{{ $ctrl.getPortMax(rule) }}"
          class="form-control"
          required
        />
      </td>
      <td
        class="form-group"
        ng-class="{'has-error': $ctrl.form['rule_{{ $index }}_cidr'].$invalid}"
      >
        <input
          ng-attr-title="{{ $ctrl.getPatternTitle(index, rule) }}"
          ng-attr-placeholder="{{ $ctrl.getCIDRPlaceholder(rule) }}"
          name="rule_{{ $index }}_cidr"
          ng-model="rule.cidr"
          class="form-control"
          ng-pattern="$ctrl.getPattern(rule)"
        />
      </td>
      <td class="form-group">
        <select
          ng-options="remote_group.url as remote_group.name for remote_group in $ctrl.remote_groups"
          ng-model="rule.remote_group"
          class="form-control"
          ng-if="!$ctrl.loading"
        >
        <option value="" translate>None</option>
        </select>
      </td>
      <td class="form-group">
        <input
          name="rule_{{ $index }}_description"
          ng-model="rule.description"
          class="form-control"
        />
      </td>
      <td>
        <button
          class="btn btn-danger btn-sm"
          type="button"
          ng-click="$ctrl.deleteRule(rule)"
        >
          <i class="fa fa-trash"></i>&nbsp;
          <span translate>Delete</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<button class="btn btn-primary btn-sm" ng-click="$ctrl.addRule()" type="button">
  <i class="fa fa-plus"></i>&nbsp;
  <span translate>Add rule</span>
</button>
