<table class="table table-bordered">
  <tbody ng-if="$ctrl.target.length === 0">
    <tr colspan="5">
      <td class="text-center" translate>
        Security group does not contain any rule yet.
      </td>
    </tr>
  </tbody>
  <thead ng-if="$ctrl.target.length > 0">
    <tr>
      <th translate>IP protocol</th>
      <th translate>From port</th>
      <th translate>To port</th>
      <th translate>Remote CIDR</th>
      <th translate>Actions</th>
    </tr>
  </thead>
  <tbody ng-if="$ctrl.target.length > 0">
    <tr ng-repeat="rule in $ctrl.target">
      <td>
        <select
          ng-options="protocol.toUpperCase() for protocol in $ctrl.protocols"
          ng-model="rule.protocol"
          class="form-control">
          <option value="" translate>Any</option>
        </select>
      </td>
      <td>
        <input
          ng-model="rule.from_port"
          type="number"
          min="{{ $ctrl.getPortMin(rule) }}"
          max="{{ $ctrl.getPortMax(rule) }}"
          class="form-control"
          required/>
      </td>
      <td>
        <input
          ng-model="rule.to_port"
          type="number"
          min="{{ $ctrl.getToPortMin(rule) }}"
          max="{{ $ctrl.getPortMax(rule) }}"
          class="form-control"
          required/>
      </td>
      <td>
        <input
          ng-model="rule.cidr"
          class="form-control"
          ng-pattern="$ctrl.cidrPattern"
          placeholder="0.0.0.0/0"/>
      </td>
      <td>
        <button
          class="btn btn-danger btn-xs"
          type="button"
          ng-click="$ctrl.deleteRule(rule)">
          <i class="fa fa-trash"></i>&nbsp;
          <span translate>Delete</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<button
  class="btn btn-primary btn-sm"
  ng-click="$ctrl.addRule()"
  type="button">
  <i class="fa fa-plus"></i>&nbsp;
  <span translate>Add rule</span>
</button>
