.comparison-item {
  position: relative;
}

.comparison-item-close {
  position: absolute;
  right: 17px;
}

.comparison-item-thumb {
  height: 6em;
  width: 6em;
  display: block;
  margin: 10px auto;

  img {
    height: 80px;
  }
}
