.comparison-item {
  position: relative;
}

.comparison-item-close {
  position: absolute;
  right: 17px;
}

.comparison-item-thumb {
  height: 8em;
  display: block;
  padding: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
