.page-sidebar-menu.nav > li {
  margin: 0;
}
.page-sidebar-menu.nav > li:not(.active) {
  border-left: 4px solid transparent;
}
.page-sidebar-menu.nav > li:not(.active):hover,
.page-sidebar-menu.nav > li:not(.active):focus {
  border-left-color: #f1f2f4;
}
.page-sidebar-menu.nav > li > a {
  color: #676a6c;
  padding: 8px 20px;
  outline: none;
}
.page-sidebar-menu.nav > li > a:hover,
.page-sidebar-menu.nav > li > a:focus {
  background-color: #f1f2f4;
}
.page-sidebar-menu.nav > li.active {
  background: #f1f2f4;
}
.page-sidebar-menu.nav > li:not(.active) > a {
  font-weight: 400;
}
