.page-sidebar-menu.nav {
  flex-direction: column;

  .nav-link {
    margin: 0;
    padding: 8px 20px;
    outline: none;
    cursor: pointer;

    a {
      color: #676a6c;
    }

    :not(.active) {
      border-left: 4px solid transparent;
    }

    :not(.active):hover,
    :not(.active):focus {
      border-left-color: #f1f2f4;
    }

    :hover,
    :focus {
      background-color: #f1f2f4;
    }

    &.active {
      background: #f1f2f4;
    }

    :not(.active) > a {
      font-weight: 400;
    }
  }
}
