<project-sidebar></project-sidebar>
<div
  id="page-wrapper"
  ng-class="$ctrl.$state.current.data.pageClass || 'white-bg'"
>
  <cookies-consent></cookies-consent>
  <div ng-if="!$ctrl.model">
    <loading-spinner></loading-spinner>
  </div>
  <div ng-if="$ctrl.model">
    <nc-header></nc-header>
    <div class="row wrapper white-bg page-heading">
      <div class="col-lg-12">
        <h2>{{ $ctrl.model.name }}</h2>
        <breadcrumbs-container></breadcrumbs-container>
      </div>
    </div>
    <resource-details
      resource="$ctrl.model"
      controller="$ctrl"
    ></resource-details>
    <div class="footer-indent"></div>
    <app-footer></app-footer>
  </div>
</div>
