@import '~/src/metronic/assets/sass/core/components/_variables.scss';

.quick-project-selector {
  .scrollbar-view {
    height: calc(100vh - 280px) !important;
  }

  .list-group {
    border-radius: unset;
  }

  .organization-listing {
    .list-group-item {
      background-color: unset;
      border: 0;

      &.active {
        background-color: $gray-200;
        color: unset;
      }
    }
  }
  .project-listing {
    &.disabled {
      opacity: 0.3;
      cursor: not-allowed;
      pointer-events: none;
    }
    .list-group-item {
      background-color: unset;
      border: 0;

      &.active {
        background-color: $gray-700;

        a {
          color: #fff;
        }
      }

      a {
        color: unset;
      }
    }
  }
}
