.gridBody {
  display: grid;
  grid-template-columns: repeat(auto-fit, 267px);
  justify-content: space-between;
  gap: 24px;
}

@media only screen and (max-width: 1160px) {
  .gridBody {
    justify-content: space-around;
  }
}
