<div class="modal-header">
  <h3 class="modal-title" translate>Import resource</h3>
</div>
<div>
  <div class="modal-body">
    <div ng-if="$ctrl.loadingProviders">
      <loading-spinner></loading-spinner>
    </div>
    <div class="row" ng-if="!$ctrl.loadingProviders">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <appstore-providers
            collapsible="true"
            header-title="{{$ctrl.selectProviderTitle}}"
            services="$ctrl.providers"
            on-select="$ctrl.setProvider(service)"
            details-hidden="true">
          </appstore-providers>
        </div>
      </div>
      <div class="col-lg-12" ng-if="$ctrl.selectedProvider">
        <div class="ibox float-e-margins" ng-init="collapsed = false">
          <div class="ibox-title">
            <h5 translate>Step 2. Select resources</h5>
            <div class="ibox-tools">
              <a class="collapse-link" ng-click="collapsed = !collapsed">
                <i class='fa' ng-class="collapsed ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content" ng-hide="collapsed" ng-init="provider=$ctrl.selectedProvider">
            <div bind-html-compile="$ctrl.componentTemplate"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="!$ctrl.hasItems" submit-button="$ctrl.importResources()">
      <span translate>Import</span>
    </button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.dismiss()">
      <span translate>Cancel</span>
    </button>
  </div>
</div>
