.html-description {
  white-space: pre-wrap;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.fb_iframe_widget {
  padding-bottom: 4px;
}

.f16 {
  display: inline-block;
  vertical-align: middle;
}

.list-group-item.awesome-checkbox {
  background-color: $white;
  padding-left: 35px;
  label {
    width: 100%;
  }
}

.form-group .awesome-checkbox {
  padding-left: 17px;
}

.old {
  background-color: $gray;
  &.fixed-nav #wrapper {
    margin-top: 40px;
    height: 100%;
  }
}

.ellipsis {
  @include ellipsis;
}

.fixed-width-icon {
  width: 16px;
}

.list-group-item.active .btn-default {
  color: $text-color;
  &:hover {
    color: $text-color;
  }
}

.brand-name {
  font-size: 21px;
  line-height: 31px;
}

.mini-navbar .brand-name {
  display: none;
}

.mini-navbar #page-wrapper {
  overflow: hidden;
  width: 100%;
}

.nav-header {
  background-image: url("../images/header-profile.png");
}

.middle-box h1.logo-name {
  font-size: 74px;
  letter-spacing: -4px;
  margin-bottom: 12px;
}

body.landing {
  background: $main-background-color;
  padding-top: 50px;
}

.white-bg .navbar-fixed-top,
.white-bg .navbar-static-top {
  background: $gray;
}

.img-xs {
  width: 25px;
}

.img-xxs {
  width: 19px;
}

.dt-buttons .btn.disabled {
  pointer-events: auto;
}

.full-width .dataTable {
  width: 100%;
}

.invitation-vertical-center {
  min-height: 100vh;
  display: flex;
  align-items: center;

  p {
    text-align: center;
  }
}

#wrapper {
  height: 100%;
  display: block;

  .app-wrap {
    margin-bottom: 0;
  }

  @include bp(xs) {
    height: auto;
    min-height: 100%;
    position: relative;
  }
}

.footer-indent {
  padding-bottom: 90px;
}

.cursor-pointer {
  cursor: pointer;
}

.progress-bar-plain {
  background-color: $light-gray;
  color: $label-badge-color;
}

.nav.navbar-right > li > a.active {
  color: $blue;
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
  border: none;
}

.visible-xs-stable {
  display: none;
}

@media (max-width: 768px) {
  .btn-block-sm {
    display: block;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  .block-container-sm {
    float: none !important;
  }

  .hidden-xs-stable {
    display: none!important;
  }

  .visible-xs-stable {
    display: block;
  }
}

@media (max-width: 992px) {
  .btn-block-md {
    display: block;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  .block-container-md {
    float: none !important;
  }
}

.state-indicator {
  display: inline-block;
}

.white-panel-heading .panel-heading {
  background: #fff;
}

.tooltip {
  z-index: 3000 !important;
}

.same-padding-as-control-label {
  padding-top: 7px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.position-relative {
  position: relative;
}

.text-lg {
  font-size: 16px;
}

.display-flex {
  display: flex !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.align-items-baseline {
  align-items: baseline;
}

.Select-menu-outer {
  z-index: 3;
}
