// Basic Colors
$navy: #1ab394; // Primary color
$blue: #1c84c6; // Success color
$yellow: #f8ac59; // Warning color
$red: #ed5565; // Danger color

// Various colors
$text-color: #676a6c; // Body text
$gray: #f3f3f4; // Background wrapper color
$light-gray: #d1dade; // Default label, badge
$gray-border-color: #cdced9;

// card colors ( default panel colors)
$border-color: #e7eaec; // card border

// Border radius for buttons
$btn-border-radius: 3px;

$link-color: #28ae60;
$gray-label: #707070;
$hover-color: #353634;
$white: #fff;

// Various colors
$text-color: #676a6c; // Body text
$gray: #f3f3f4; // Background wrapper color

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
