$text-color: #676a6c;
$link-color: #28ae60;
$dashboard-green: #28ae60;
$dashboard-black: #353634;
$table-gray: #f1f0f0;
$placeholder-color: #d9d9d9;
$select-bg-gray: #e9ece9;
$gray-text: #dcdcdc;
$gray-label: #707070;
$expandable-hover: #FFFAE5;
$button-green: #50b848;
$hover-color: #353634;
$head-menu-color: #50b848;
$destructive-color: #e74c3c;
$white: #fff;

// main
$main-background-color: #F8F8F8;

// fonts
$base-font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$extra-small-font: 11;
$small-font: 12;
$normal-font: 13;
$big-font: 18;
$huge-font: 20;

// Various colors
$text-color: #676a6c;   // Body text
$gray: #f3f3f4;         // Background wrapper color
