{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
      "@babel/syntax-dynamic-import",
      "@babel/syntax-object-rest-spread",
      "@babel/transform-async-to-generator",
      ["angularjs-annotate", {"explicitOnly": true}]
    ]
}
