# Editor artifacts
/.idea
/.project
/.pydevproject
/.settings
/.sublime
/.vscode
launch.json
*.sw*
/atlassian-ide-plugin.xml

# OS X
.DS_Store

# dev specific
.sass-cache
.cache-loader
node_modules
npm-debug.log
coverage
cypress/videos

# config
src/configs/config.json
src/configs/test/config.json

tslint/rules/*.js
build/
build.dev/
build.dll/
stats.json

# npm
yarn-error.log
package-lock.json
