# Editor artifacts
/.todo
/.idea
/.project
/.pydevproject
/.settings
/.sublime
*.sw*
/atlassian-ide-plugin.xml
.todo

# Testing artifacts
TEST-*.xml

# OS X
.DS_Store

# dev specific
.sass-cache
venv
.venv
node_modules
bower_components

# built artifacts
prototype

# css
assets/css
app/static/css/*
app/static/css/style.min.css
app/static/css/style.css

# config
app/scripts/configs/config.js
app/scripts/configs/custom-config.js
