<li uib-dropdown uib-dropdown-fix ng-show="$ctrl.languageChoices.length > 1">
  <a uib-dropdown-toggle title="{{ $ctrl.currentLanguage.label | translate }}">
    {{ $ctrl.currentLanguage.code | uppercase }}
  </a>
  <ul uib-dropdown-menu>
    <li ng-repeat="language in $ctrl.languageChoices | orderBy: 'code'"
      ng-click="$ctrl.selectLanguage(language)">
      <a ng-class="{'font-bold': language === $ctrl.currentLanguage}">
        {{ language.label | translate }}
      </a>
    </li>
  </ul>
</li>
