<div class="modal-header">
    <h3 class="modal-title">{{ action.dialogTitle || action.title }} {{ resource.name }}</h3>
</div>
<form name="ActionForm">
<div class="modal-body">
    <div ng-if="loading">
        <h1 class="text-center"><i class="icon fa-spinner fa-spin"></i></h1>
    </div>
    <div ng-if="!loading">
        <div class="form-group"
             ng-repeat="(name, field) in action.fields">
            <label class="control-label"
                for="action-{{ name }}"
                ng-if="field.type != 'boolean'">
                <field-label field="field"></field-label>
                <helpicon help-text="{{ ::field.help_text }}" ng-if="::field.help_text"></helpicon>
            </label>
            <div>
                <action-field field="field" model="form"></action-field>
                <p class="text-danger" ng-repeat="error in errors[name]" ng-bind="error"></p>
            </div>
        </div>
        <p class="text-danger" ng-repeat="error in errors.non_field_errors" ng-bind="error"></p>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary"
        submit-button="submitForm()">
        Submit
    </button>
    <button type="button" class="btn btn-default"
        ng-click="cancel()">
        Cancel
    </button>
</div>
</form>
