<div class="datepicker input-group">
  <input
    type="text"
    class="form-control"
    uib-datepicker-popup="{{ $ctrl.field.options.format }}"
    placeholder="{{ 'Enter date' | translate }}"
    ng-model="$ctrl.model[$ctrl.field.name]"
    ng-required="$ctrl.field.required"
    is-open="dateTimeOpened"
    datepicker-append-to-body="true"
    ng-click="dateTimeOpened = !dateTimeOpened"
    datepicker-options="$ctrl.field.options.dateOptions"
    close-text="Close"
    ng-disabled="$ctrl.field.disableInput"
    alt-input-formats="$ctrl.field.options.altInputFormats"/>
  <span class="input-group-btn">
    <button
      type="button"
      class="btn btn-default"
      ng-click="dateTimeOpened = !dateTimeOpened">
      <i class="fa fa-calendar"></i>
    </button>
  </span>
</div>
