.table-query {
  label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    margin-right: 5px;
  }

  input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
  }
};

#row-manager {
  display: inline-block;

  .Select-clear-zone {
    display: none !important;
  }

  .page-size-selector {
    min-width: 60px;
  }
}