@import '~sass/inspinia/_variables.scss';

.sparkline {
  width: 100%;
  height: 50px;
}

.sparkline-column {
  width: 4%;
  height: 100%;
  float: left;
  position: relative;
}

.sparkline-bar {
  position: absolute;
  bottom: 4px;
  left: 2px;
  right: 2px;
  background: $nav-text-color;
  min-height: 1px;
  min-width: 1px;
}

.sparkline-bar:hover {
  background: $lazur;
}
