<div class="btn-group dropdown" uib-dropdown uib-dropdown-fix on-toggle="$ctrl.onToggle(open)">
  <a class="btn btn-default btn-sm" uib-dropdown-toggle>
    <span translate>Actions</span>
    <span class="caret"></span>
  </a>

  <ul class="dropdown-menu" uib-dropdown-menu>
    <li role="menuitem" ng-show="$ctrl.loading">
      <a translate>Loading actions</a>
    </li>
    <li role="menuitem" ng-show="!$ctrl.loading && !$ctrl.actions">
      <a translate>There are no actions.</a>
    </li>
    <li ng-repeat="(name, action) in $ctrl.actions"
      uib-tooltip="{{ action.reason }}"
      class="cursor-pointer">
      <a ng-click="$ctrl.onClick(name, action)"
        ng-class="$ctrl.buttonClass(action)">
        <i ng-if="action.reason" class="fa fa-question-circle"></i>
        {{ action.title | translate }}
      </a>
    </li>
  </ul>
</div>
