<resource-summary-base resource="$ctrl.resource"></resource-summary-base>

<div class="m-b-xs">
  <dt>
    <span translate>Size</span>:
  </dt>
  <dd>
    <span ng-if="$ctrl.resource.bootable" translate>
      bootable
    </span>&nbsp;
    {{ $ctrl.resource.size | filesize }}
  </dd>
</div>

<div class="m-b-xs">
  <dt>
    <span translate>Attached to</span>:
  </dt>
  <dd ng-if="$ctrl.resource.instance">
    <a ui-sref="resources.details({
      uuid: $ctrl.resource.instance_uuid,
      resource_type: 'OpenStackTenant.Instance'
    })">
      {{ ::$ctrl.resource.instance_name }}
    </a>
  </dd>
  <dd ng-if="!$ctrl.resource.instance">
    &ndash;
  </dd>
</div>

<div class="m-b-xs" ng-if="$ctrl.resource.device">
  <dt>
    <span translate>Device</span>:
  </dt>
  <dd>
    {{ $ctrl.resource.device }}
  </dd>
</div>
