<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-sm-12">
      <div ng-if="$ctrl.loading">
        <h1 class="text-center"><i class="icon fa-spinner fa-spin"></i></h1>
      </div>
      <div class="ibox" ng-if="$ctrl.offering">
        <div class="ibox-title"><h3>{{ $ctrl.offering.label }}</h3></div>
        <div class="ibox-content">
          <appstore-form fields="$ctrl.offering" model="$ctrl.model" errors="$ctrl.errors"/>
        </div>

        <div class="ibox-content">
          <button class="btn btn-primary pull-right" submit-button="$ctrl.save()">
            <i class="fa fa-shopping-cart"></i>
            <span translate>Create</span>
          </button>
          <button class="btn btn-default" cancel-button>
            <span translate>Cancel</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
