<div ng-controller="ProjectWorkspaceController as ProjectCtrl">
  <sidebar items="items" context="context"></sidebar>
</div>
<div id="page-wrapper" class="gray-bg">
  <cookies-consent/>
  <div ng-if="!$ctrl.offering">
    <loading-spinner/>
  </div>
  <div ng-if="$ctrl.offering">
    <nc-header></nc-header>
    <div class="row wrapper white-bg page-heading">
      <div class="col-lg-12">
        <h2 translate>Request details</h2>
        <div class="pull-right">
          <action-button-resource
            button-model="$ctrl.offering"
            button-controller="$ctrl">
          </action-button-resource>
        </div>
        <breadcrumbs-container/>
      </div>
    </div>
    <offering-summary offering="$ctrl.offering"/>
  </div>
  <div class="footer-indent"/>
  <app-footer/>
</div>
