<div class="actions-button" stoppropagation>
    <a ng-if="buttonType == 'refresh'" class="button reopen" ng-click="buttonController.getCommentsForIssue(buttonModel.key)"></a>
    <a ng-if="!buttonType" class="button" ng-show="buttonList.length > 1" ng-click="openActionsListTrigger()">actions</a>
    <ul ng-show="buttonController.actionButtonsList[$id] || buttonList.length == 1"
        ng-class="{'actions-dropdown': buttonList.length > 1, 'one-action-button': buttonList.length == 1}">
        <li ng-repeat="button in buttonList"
            title="{{ button.reason }}">
            <a ng-click="buttonClick(buttonModel, button.name)"
               ng-class="{'disabled': !button.enabled, 'remove': actions[button.name].confirm}"
               class="button-simple">{{ actions[button.name].title }}</a>

            <!--TODO: move to popup, implement styles-->
            <div class="popup-form" ng-click="buttonModel.show_form = false" ng-if="actions[button.name].type === 'form'" ng-show="buttonModel.show_form === button.name">
                <form stoppropagation>
                    <h2>{{ actions[button.name].title }}</h2>
                    <div ng-repeat="(name, field) in actions[button.name].fields"
                         ng-switch="field.type">
                        <label>{{ field.label }}</label>
                        <div ng-switch-when="text">
                            <input ng-model="form[name]"/>
                        </div>
                        <div ng-switch-when="select">
                            <select ng-options="item.uuid as item.name for item in field.list" ng-model="form[name]"></select>
                        </div>
                        <div class="error arrow-up" ng-show="errors[name]">
                            <ul class="error-list">
                                <li ng-repeat="error in errors[name]" ng-bind="error"></li>
                            </ul>
                        </div>
                    </div>
                    <button class="button-apply" ng-click="submitForm()">Submit</button>
                </form>
            </div>
        </li>
    </ul>
</div>
