<div class="actions-button" stoppropagation>
    <a class="btn btn-primary"
       ng-click="openActionsListTrigger()">actions</a>
    <ul ng-if="loading" class="actions-dropdown">
        Loading actions
    </ul>
    <ul ng-if="buttonController.actionButtonsList[$id] && !loading && !actions" class="actions-dropdown">
        There are no actions
    </ul>
    <ul ng-if="buttonController.actionButtonsList[$id] && actions"
        class="actions-dropdown">
        <li ng-repeat="(name, action) in actions"
            title="{{ action.reason }}">
            <a ng-click="buttonClick(name, action)"
               ng-class="{'disabled': !action.enabled || action.pending, 'remove': action.destructive}">
               {{ action.title }}
            </a>
        </li>
    </ul>
</div>
