<div class="compact-list__action-list">
  <div class="xs-show">
    <div class="compact-list__header background">
      <div class="compact-list__title">
        Actions
      </div>
    </div>
  </div>
  <span class="compact-list__action-item" ng-show="loading">
    Loading actions
  </span>

  <span class="compact-list__action-item"
        ng-repeat="action in actions"
        title="{{ ::action.reason }}">
        <a ng-class="{'disabled': !action.enabled || action.pending, 'remove': action.destructive}"
           ng-click="buttonClick(name, action)">
           <i class="icon" ng-class="action.icon" ng-if="::action.icon"></i>
            {{ ::action.title }}
        </a>
  </span>
</div>
