<div class="actions-button" stoppropagation>
    <a ng-if="!buttonType && buttonList.length > 1" class="button"
       ng-click="openActionsListTrigger()">actions</a>
    <ul ng-if="buttonController.actionButtonsList[$id] || buttonList.length == 1"
        ng-class="{'actions-dropdown': buttonList.length > 1, 'one-action-button': buttonList.length == 1}">
        <li ng-repeat="button in buttonList"
            ng-if="!buttonType && !button.isHidden(buttonModel)"
            title="{{ button.tooltip(buttonModel) }}"
            ng-click="toggleMenu()">
            <a ng-if="::button.clickFunction" ng-click="button.clickFunction(buttonModel)"
               class="button-simple {{ button.className }}"
               ng-class="{'disabled': button.isDisabled(buttonModel)}">{{ button.title }}</a>
            <a ng-if="::button.state" ui-sref="{{ button.state }}" class="button-simple"
               ng-class="{'disabled': button.isDisabled(buttonModel)}">{{ button.title }}</a>
        </li>
    </ul>
</div>
