<div class="actions-button" stoppropagation>
    <a ng-if="buttonType == 'refresh'" class="button reopen" ng-click="buttonController.getCommentsForIssue(buttonModel.key)"></a>
    <a ng-if="!buttonType" class="button" ng-click="openActionsListTrigger()">actions</a>
    <ul class="actions-dropdown" ng-show="buttonController.actionButtonsList[$id]">
        <li ng-repeat="button in buttonList" ng-if="!buttonType">
            <a ng-if="button.clickFunction" ng-click="button.clickFunction(buttonModel)"
               class="button-simple {{ button.className }}"
               ng-class="{'disabled': button.isDisabled && !button.isDisabled(buttonModel)}">{{ button.title }}</a>
            <a ng-if="button.state" ui-sref="{{ button.state }}" class="button-simple">{{ button.title }}</a>
        </li>
    </ul>
</div>
