<div class="add-team-member">
    <h3>{{ addTitle }} team member</h3>

    <div class="form-row" ng-if="!editUser">
        <label>User:</label>
        <ui-select ng-model="userModel.user" theme="select2">
            <ui-select-match placeholder="Select user...">
                {{ $select.selected.full_name || $select.selected.username }}
            </ui-select-match>
            <ui-select-choices
                repeat="user in users | filter: $select.search track by user.uuid "
                refresh-delay="0">
                {{ user.full_name || user.username }}
            </ui-select-choices>
        </ui-select>
    </div>

    <div class="form-row" ng-if="editUser">
        <label>User:</label>
        <label ng-bind="editUser.full_name || user.username"></label>
    </div>

    <div class="form-row">
        <label for="userRoleCheckbox">
            <input
                id="userRoleCheckbox"
                type="checkbox"
                ng-disabled="!canChangeRole"
                ng-model="userModel.role"
                ng-true-value="'Owner'"
                ng-false-value="''">
            </input>
            Organization owner
        </label>
    </div>

    <div class="form-row" ng-if="!emptyProjectList">
        <label>Projects:</label>
        <ui-select ng-model="userModel.projects" theme="select2" multiple>
            <ui-select-match placeholder="Select projects...">
                {{ $item.name }}
            </ui-select-match>
            <ui-select-choices
                multiple
                repeat="project in projects track by project.uuid"
                refresh="refreshProjectChoices($select.search)"
                refresh-delay="0">
                {{ project.name }}
            </ui-select-choices>
        </ui-select>
    </div>

    <div class="form-row" ng-if="emptyProjectList">
        <label>There are no available projects.</label>
    </div>

    <div class="decision">
        <div class="col">
            <a class="button-apply" submit-button="saveUser()">{{ addText }}</a>
        </div>
        <div class="col">
            <a class="button-cancel" ng-click="cancel()">Cancel</a>
        </div>
    </div>
</div>
