<div>
    <h3>{{addText}} team member</h3>
    <div class="line-wrapper">
        <div class="label">Member</div>
        <div class="input">
            <select ng-hide="editUser" ng-model="userModel.user_url">
                <option ng-repeat="user in users" value="{{user.url}}">{{user.full_name}}</option>
            </select>
            <span class="name" ng-if="editUser">
                {{editUser.user_full_name}}
            </span>
        </div>
    </div>
    <div class="line-wrapper">
        <div class="label">Role owner</div>
        <div class="input">
            <input id="userRoleCheckbox" type="checkbox" ng-model="userModel.role"
                   ng-true-value="'owner'" ng-false-value="''">
            <label for="userRoleCheckbox">
                <span>no</span>
                <span>yes</span>
            </label>

        </div>
    </div>
    <div class="line-wrapper">
        <span class="added" ng-repeat="project in userModel.projects"
              ng-click="projectRemove(project)">
                    {{ project.project_name }}
        </span>
    </div>
    <div class="fixed-h">
        <div class="line-wrapper  " ng-show="userModel.role">
            <div class="label">Project</div>
            <div class="input">
                <angucomplete-alt
                        ng-click="inputMode=!inputMode"
                        placeholder="Add"
                        pause="100"
                        type="text"
                        selected-object="selectedUsersCallback"
                        local-data="projectsListForAutoComplete"
                        search-fields="name"
                        title-field="name"
                        description-field="email"
                        minlength="1"
                        clear-selected="true"
                        input-changed="userSearchInputChanged"
                        input-class="add-label {{ inputMode ? 'input': '' }}"></angucomplete-alt>
            </div>
        </div>

    </div>
    <div class="line-wrapper">
        <a class="button" ng-click="add()">{{addText}}</a>
        <a class="button" ng-click="cancel()">Cancel</a>
    </div>
</div>
