<div class="modal-header">
    <h2 class="modal-title">Service store</h2>
</div>
<div class="modal-body">
    <div ng-if="DialogCtrl.loading">
        <h1 class="text-center"><i class="icon fa-spinner fa-spin"></i></h1>
    </div>
    <form ng-if="!DialogCtrl.loading" name="DialogCtrl.DialogForm">
        <div class="form-group" ng-if="DialogCtrl.selectProject">
            <label class="control-label">Projects</label>
            <select id="action-{{ name }}"
                ng-options="project.uuid as project.name for project in DialogCtrl.projects"
                ng-model="DialogCtrl.selectedProject"
                class="form-control"
                required="">
                <option value="">Select project</option>
             </select>
        </div>
        <div ng-repeat="group in DialogCtrl.groups" ng-if="::group.items.length > 0">
            <h3 ng-bind="::group.label"/>
            <div class="list-group appstore-dialog row">
                <div class="col-md-6" ng-repeat="offering in group.items" visible="{{::offering.feature}}">
                    <button class="list-group-item"
                        submit-button="DialogCtrl.selectOffering(offering)"
                        ng-class="::{disabled: offering.comingSoon}">
                        <i class="offering-icon fa" ng-class="::offering.icon"></i>
                        <h4 class="list-group-item-heading m-l-xl elipsis">
                            {{ ::offering.label }}
                        </h4>
                        <div class="btn btn-default pull-right btn-xs">
                            {{ ::offering.comingSoon && 'Coming soon' || 'Select' }}
                        </div>
                        <p class="list-group-item-text m-l-xl" ng-bind="::offering.description"></p>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default"
        ng-click="DialogCtrl.$dismiss()">
        Cancel
    </button>
</div>
