<div ng-mouseover="handleAction($event)" ui-sref="{{ state }}" ng-mouseleave="closeTooltip()">
    <a ng-class="classes" ng-transclude></a>
    <div ng-if="enable" stoppropagation class="nc-tooltip quota-tooltip" ng-class="tooltipType" ng-show="showMessage">
        <div class="triangle-before" ng-style="triangleBefore"></div>
        <div class="triangle-after" ng-style="triangleAfter"></div>
        <div class="tooltip-title">
            <div class="close" ng-click="closeTooltip()"></div>
            <div class="clear"></div>
        </div>
        <p visible="providers" bind-html-compile="quotaTooltipMessage"></p>
        <div class="tooltip-text">
        </div>
    </div>
</div>
