<div>
    <a ng-class="classes" ng-transclude ng-click="handleAction($event)"></a>
    <div ng-if="enable" stoppropagation class="tooltip quota-tooltip {{tooltipType}}" ng-show="showMessage">
        <div class="triangle-before" ng-style="triangleBefore"></div>
        <div class="triangle-after" ng-style="triangleAfter"></div>
        <div class="tooltip-title">
            <div class="close" ng-click="closeTooltip()"></div>
            <div class="clear"></div>
            </div>
        <div class="tooltip-text">
            You have exceeded maximum number of quotas. To update current plan visit <a ui-sref="{{plansLink}}">plans page</a>
        </div>
    </div>
</div>