<div>
    <span class="xs-hide" visible="plans">
        <div class="dropdown__container">
            <div class="indicator-button__container"
                 ng-click="toggle('plan')">
                <div class="indicator-button__name">
                    <i class="icon fa-sliders"></i>
                    <span translate>Plan</span>
                    <i class="icon fa-angle-down"></i>
                </div>
                <div class="indicator-button__value">
                    {{(plan.name || 'Default') | translate }}
                </div>
            </div>
            <div class="dropdown__menu"
                 ng-show="isShown('plan')">
                <div class="dropdown__header">
                    <div class="icon close" ng-click="toggle('plan')"></div>
                    <span translate>Quota usage</span>
                </div>
                <div class="dropdown__content">
                    <div ng-repeat="quota in plan.quotas"
                         visible="{{ quota.name }}">
                        <div class="usage-row">
                            <div class="usage-row__key">{{ quota.name | titleCase | translate }}</div>
                            <div class="usage-row__value">{{ quota.usage }} <span translate>out of</span> {{ quota.limit }}</div>
                        </div>
                        <div class="usage-bar">
                            <div class="usage-bar__value" ng-style="{width: {{ quota.percent }} + '%'}"></div>
                        </div>
                    </div>
                </div>
                <a class="dropdown__action"
                   ng-show="showUpgradeButton"
                   ui-sref="organization.plans({uuid: model.uuid})">
                    <i class="icon fa-cart-plus"></i> <span translate>Upgrade</span>
                </a>
            </div>
        </div>
    </span>

    <div class="xs-show" visible="plans">
        <div class="tab-link__item" ng-click="showPlan = !showPlan">
            <div class="tab-link__key">
                <i class="icon fa-sliders"></i>
                <span translate>Plan</span>
            </div>
            <div class="tab-link__value">
                {{ (plan.name || 'Default') | translate }}
                <i class="icon fa-angle-down"></i>
            </div>
        </div>
        <div ng-show="showPlan" class="tab-link__content">
            <div ng-repeat="quota in plan.quotas"
                 visible="{{ quota.name }}">
                <div class="usage-row">
                    <div class="usage-row__key">{{ quota.name | titleCase | translate }}</div>
                    <div class="usage-row__value">{{ quota.usage }} <span translate>out of</span> {{ quota.limit }}</div>
                </div>
                <div class="usage-bar">
                    <div class="usage-bar__value" ng-style="{width: {{ quota.percent }} + '%'}"></div>
                </div>
            </div>
            <a class="button"
               ui-sref="organization.plans({uuid: model.uuid})">
                <i class="icon fa-cart-plus"></i> <span translate>Upgrade</span>
            </a>
        </div>
    </div>

    <span class="xs-hide" visible="balance" ng-hide="hideAll">
        <div class="dropdown__container" visible="balance">
            <div class="indicator-button__container"
                 ng-click="toggle('balance')">
                <div class="indicator-button__name">
                    <i class="icon fa-credit-card"></i>
                    <span translate>Balance</span>
                    <i class="icon fa-angle-down"></i>
                </div>
                <div class="indicator-button__value">
                    {{ model.balance || 0 | defaultCurrency }}
                </div>
            </div>
            <div class="dropdown__menu"
                 ng-if="isShown('balance')">
                <div class="dropdown__header">
                    <div class="icon close" ng-click="toggle('balance')"></div>
                    <span translate>Balance</span>
                </div>
                <div class="dropdown__content">
                    <line-chart ng-if="showChart"
                                chart-height="150"
                                chart-bottom="40"
                                chart-data="d3Data"></line-chart>

                    <div ng-if="!showChart">
                        <span translate>No changes for a month.</span>
                    </div>

                    <div class="usage-row add-amount" ng-show="showUpgradeButton">
                        <div class="usage-row__key"><span translate>Amount</span></div>
                        <div class="usage-row__value">
                            <form>
                                <input type="number" min="1" max="10000" ng-model="amount">
                                <span>{{ ::currency }}</span>
                            </form>
                        </div>
                    </div>
                </div>
                <a class="dropdown__action"
                   ng-show="showUpgradeButton"
                   submit-button="addCredit(amount)">
                    <i class="icon fa-cart-plus"></i> <span translate>Add credit</span>
                </a>
            </div>
        </div>
    </span>

    <div class="xs-show" visible="balance" ng-hide="hideAll">
        <div class="tab-link__item" ng-click="showBalance = !showBalance">
            <div class="tab-link__key">
                <i class="icon fa-credit-card"></i>
                <span translate>Balance</span>
            </div>
            <div class="tab-link__value">
                {{ model.balance || 0 | defaultCurrency }}
                <i class="icon fa-angle-down"></i>
            </div>
        </div>
        <div ng-if="showBalance" class="tab-link__content">
            <line-chart ng-if="showChart"
                        chart-height="150"
                        chart-bottom="40"
                        chart-data="d3Data"></line-chart>
            <div class="usage-row add-amount" ng-show="showUpgradeButton">
                <div class="usage-row__key"><span translate>Amount</span></div>
                <div class="usage-row__value">
                    <form>
                        <input type="number" min="1" max="10000" ng-model="amount">
                        <span>{{ ::currency }}</span>
                    </form>
                </div>
            </div>
            <a class="button"
               ng-show="showUpgradeButton"
               submit-button="addCredit(amount)">
                <i class="icon fa-cart-plus"></i> <span translate>Add credit</span>
            </a>
        </div>
    </div>
</div>
