<div class="balance-block container {{ type == 'dashboard' ? 'dashboard-balance' : '' }}">
    <div class="right-block">
        <div class="balance">
            <span visible="plans" class="bold">
                Plan:
            </span>
            <span class="plan-spacing" visible="plans" ng-click="quotasTooltip = !quotasTooltip;">
                {{ currentPlan || 'Default'  }}
            </span>
            <span class="bold" ng-show="!purchaseIsOff">
                Balance:
            </span>
            <span ng-show="!purchaseIsOff">
                {{ model.balance || 0 | currency:currency }}
            </span>
        </div>
        <div class="tooltip quota-tooltip" ng-show="quotasTooltip && !purchaseIsOff">
            <div class="tooltip-title">
                <h3>Current quotas: </h3>
                <div class="icon close" ng-click="quotasTooltip = false;"></div>
                <div class="clear"></div>
            </div>
            <div ng-repeat="quota in currentPlanQuotas" visible="{{ quota.name }}">
                <div>{{ quota.usage }} out of {{ quota.limit }} {{ quota.name }}</div>
            </div>
            <a visible="plans" ui-sref="organizations.plans({uuid: model.uuid})"
               ng-show="type == 'dashboard'" class="button">Upgrade</a>
        </div>
        <div ng-if="type == 'details'">
            <div class="buttons">
                <a class="button" visible="plans" ui-sref="organizations.plans({uuid: model.uuid})">Plans</a>
                <a class="button" ng-click="toggleBalance()" ng-show="!purchaseIsOff">Top-up</a>
                <a class="button" ng-click="toggleChart()" ng-if="showChart" ng-show="!purchaseIsOff">History</a>
            </div>
            <div class="tooltip graph-tooltip" ng-if="showChart && graphTooltip">
                <canvas chart-options="chartOptions"
                        chart-data="chartData"
                        tc-chartjs chart-type="line"
                        width="400" height="100"></canvas>
            </div>
            <div class="tooltip amount-tooltip" ng-show="amountTooltip && !purchaseIsOff">
                <div class="tooltip-title">
                    <h3>Add amount</h3>
                    <div class="icon close" ng-click="amountTooltip = false;"></div>
                    <div class="clear"></div>
                </div>
                <form>
                    <input type="number" min="1" max="10000" ng-model="amount" ng-init="amount=10">
                    <span>{{ ::currency }}</span>
                    <a class="button" ng-click="addCredit(amount)">
                        Add credit
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>