<div class="cost-chart-wrapper">
    <div class="d3-line-chart" id="chart"></div>
    <div class="legend">
        <div class="title">Project activities</div>
        <div><span class="date_label">Date:</span> <span class="date"></span></div>
        <ul class="entities">
           <li ng-repeat="entity in entities" class="{{entity.name}}">
               <input ng-hide="entity.name==='total'" type="checkbox" ng-model="entity.on" />
               <div ng-style="{backgroundColor: entity.color}" class="point-chart"></div>
               <span>{{entity.title}}:</span> <span class="{{'current_value__' + entity.name}}"></span>
           </li>
        </ul>
    </div>
</div>