<div class="cost-chart-wrapper">
    <div class="d3-line-chart" id="chart"></div>
    <div class="legend">
        <div class="title">Legend</div>
        <div><span class="date_label">Date:</span> <span class="date"></span></div>
        <ul class="entities">
           <li ng-repeat="entity in entities" class="{{entity.name}}"><span>{{entity.name}}</span> <span class="{{'current_value__' + entity.name}}"></span></li>
        </ul>
        <div><span class="total">Total: </span> <span class="total_value"></span></div>
    </div>
</div>