<div class="container">
  <div block-ui="detailsBlock">
  <div class="full-height">
    <section class="title-wrapper" ng-if="!controller.loading">
        <div class="left-side-compact">
          <a ng-if="options.listState"
             ui-sref="{{ options.listState }}">
            <i class="icon fa-angle-left"></i>
            All {{ options.title_plural }}
          </a>
        </div>

        <div class="details-container">
            <div ng-if="options.hasGravatar" class="img-wrapper">
                <img gravatar-src="controller.model.email" class="avatar-img" gravatar-size="100">
            </div>
            <div class="details-about">
                <div ng-if="options.hasLogo"
                     ng-include="'views/directives/avatar-editor.html"
                     class="profile-logo">
                </div>

                <a ng-if="options.listState"
                   ui-sref="{{ options.listState }}"
                   class="back-to-list">
                   <i class="icon fa-angle-left"></i>
                    {{ options.title_plural | titleCase }}
                </a>


                <div ng-if="!controller.aboutFields">
                  <span class="name">{{ controller.model.name }}</span>
                  <div class="icon pencil-square-o"
                               ng-if="controller.canEdit"
                               ng-click="controller.openDialog()"></div>
                </div>

                <div ng-if="controller.aboutFields">
                  <div ng-repeat="field in options.aboutFields">
                      <div>
                          <span class="{{ field.className }}"
                                ng-if="!field.isEditable || !controller.canEdit">{{ controller.model[field.fieldKey] }}</span>
                          <span editable-text="controller.model[field.fieldKey]"
                                e-form="rowform"
                                buttons="no"
                                onbeforesave="controller.editInPlace($data, field.fieldKey)"
                                ng-show="field.isEditable && controller.canEdit"
                                class="{{ field.className }}"
                                ng-class="{'editable-empty': !controller.model[field.fieldKey]}">
                              {{ controller.model[field.fieldKey] || field.emptyText }}
                          </span>
                          <div class="icon pencil-square-o"
                               ng-if="field.isEditable && controller.canEdit"
                               ng-click="rowform.$show()"
                               ng-hide="rowform.$visible"></div>
                      </div>
                  </div>
                </div>
                <p ng-if="options.joinedDate">
                    Joined on {{ controller.model[options.joinedDate] | date:'dd MMMM yyyy' }}
                </p>
            </div>
        </div>
        <div ng-if="controller.detailsViewOptions.title_plural == 'organizations'">
          <customer-balance></customer-balance>
        </div>
    </section>

    <div class="profile-content" ng-show="!controller.loading">
        <div class="tabs-wrapper">
            <div ng-include="'views/directives/tab-list.html'"></div>
            <div class="tab-content" block-ui="tab-content">
                <div visible="{{ tabContent.key }}" class="tab" id="{{ tabContent.key }}"
                     ng-class="{'tab-active': options.activeTab.key === tabContent.key}"
                     ng-if="tabContent.key == options.activeTab.key"
                     ng-repeat="tabContent in options.tabs">
                    <div ui-view="{{ tabContent.viewName }}"></div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
