<div class="container">
    <section class="title-wrapper">
        <div class="left-side">
            <a ng-if="options.listState"
               ui-sref="{{ options.listState }}"
               class="back-to-list">
                <h1>{{ options.title_plural | titleCase }} / </h1>
            </a>
        </div>

        <div class="left-side-compact">
          <a ng-if="options.listState"
             ui-sref="{{ options.listState }}">
            <i class="icon fa-angle-left"></i>
            All {{ options.title_plural }}
          </a>
        </div>

        <div class="details-container">
            <div ng-if="options.hasGravatar" class="img-wrapper">
                <img gravatar-src="controller.model.email" class="avatar-img" gravatar-size="100">
            </div>
            <div class="details-about">
                <div ng-if="options.hasLogo" class="profile-logo">
                    <section class="avatar">
                        <span class="avatar big">
                            <img ng-src="{{controller.imageUrl}}" alt="" class="avatar-img"
                                 ng-hide="controller.files.length">

                            <img ngf-src="controller.files[0]" alt="" class="avatar-img"
                                 ng-show="controller.files.length">
                        </span>
                    </section>
                    <section class="avatar-edit" ng-show="controller.canEdit">
                        <a class="icon-button plus-icon" ngf-select ngf-accept="'image/*'"
                           ng-hide="controller.files.length"
                           ng-model="controller.files">New logo</a>

                        <a class="icon-button remove-icon"
                           ng-show="controller.model.image && controller.files.length==0"
                           ng-click="controller.deleteImage()">Delete</a>

                        <a class="icon-button ok-icon"
                           ng-show="controller.files.length"
                           ng-click="controller.uploadImage()">Save</a>

                        <a class="icon-button remove-icon"
                           ng-show="controller.files.length"
                           ng-click="controller.files=[]">Cancel</a>
                    </section>
                </div>

                <div ng-repeat="field in options.aboutFields">
                    <div>
                        <span class="{{ field.className }}"
                              ng-if="!field.isEditable || !controller.canEdit">{{ controller.model[field.fieldKey] }}</span>
                        <span editable-text="controller.model[field.fieldKey]"
                              e-form="rowform"
                              buttons="no"
                              onbeforesave="controller.editInPlace($data, field.fieldKey)"
                              ng-show="field.isEditable && controller.canEdit"
                              class="{{ field.className }}">
                            {{ controller.model[field.fieldKey] || field.emptyText }}
                        </span>
                        <div class="icon pencil-square-o"
                             ng-if="field.isEditable && controller.canEdit"
                             ng-click="rowform.$show()"
                             ng-hide="rowform.$visible"></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <p ng-if="options.joinedDate">
                    Joined on {{ controller.model[options.joinedDate] | date:'dd MMMM yyyy' }}
                </p>
            </div>
        </div>
        <div ng-if="controller.detailsViewOptions.title_plural == 'organizations'">
          <customer-balance></customer-balance>
        </div>
    </section>

    <div class="profile-content">
        <div class="tabs-wrapper">
            <aside>
                <div class="input-group rem-mob">
                    <input type="search" placeholder="Search" ng-hide="hideSearch"
                           ng-model="generalSearch"
                           ng-model-options="{ debounce: 500 }"
                           ng-change="search()"/>
                </div>
                <div class="tabs-links">
                  <div class="tab-link__item"
                       visible="{{ tab.key }}"
                       ng-click="tabChange(tab.key)"
                       ng-repeat="tab in options.tabs"
                       ng-class="{'active': options.activeTab === tab.key}">
                    <div class="tab-link__key">
                      <div ng-if="::tab.icon"
                           class="icon"
                           ng-class="::tab.icon"></div>
                      {{ tab.title }} 
                      <span ng-if="tab.key != 'delete'">
                        <span ng-show="tab.count !== -1">({{ tab.count }})</span>
                      </span>
                    </div>
                  </div>
                </div>
            </aside>
            <div class="tab-content" block-ui="tab-content">
                <div visible="{{ tabContent.key }}" class="tab" id="{{ tabContent.key }}"
                     ng-class="{'tab-active': options.activeTab === tabContent.key}"
                     ng-if="tabContent.key == options.activeTab"
                     ng-repeat="tabContent in options.tabs">
                    <div ui-view="{{ tabContent.viewName }}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
