<div>
    <section class="title-wrapper">
        <div class="container details-container">
            <div class="left-side">
                <h1 ng-if="options.title ">{{ options.title }}</h1>
                <a ng-if="options.listState" ui-sref="{{ options.listState }}"
                   class="back-to-list button">Back to list</a>
            </div>
            <div class="details-about">

                <div ng-if="options.hasLogo" class="profile-logo">
                    <section class="avatar">
                        <span class="avatar big">
                            <img ng-src="{{controller.imageUrl}}" alt="" class="avatar-img"
                                 ng-hide="controller.files.length">

                            <img ngf-src="controller.files[0]" alt="" class="avatar-img"
                                 ng-show="controller.files.length">
                        </span>
                    </section>
                    <section class="avatar-edit" ng-show="controller.canEdit">
                        <a class="icon-button plus-icon" ngf-select ngf-accept="'image/*'"
                           ng-hide="controller.files.length"
                           ng-model="controller.files">New logo</a>

                        <a class="icon-button remove-icon"
                           ng-show="controller.model.image && controller.files.length==0"
                           ng-click="controller.deleteImage()">Delete</a>

                        <a class="icon-button ok-icon"
                           ng-show="controller.files.length"
                           ng-click="controller.uploadImage()">Save</a>

                        <a class="icon-button remove-icon"
                           ng-show="controller.files.length"
                           ng-click="controller.files=[]">Cancel</a>
                    </section>
                </div>

                <span ng-repeat="field in options.aboutFields">
                    <span class="{{ field.className }}"
                          ng-if="!field.isEditable || !controller.canEdit">{{ controller.model[field.fieldKey] }}</span>
                    <span editable-text="controller.model[field.fieldKey]"
                          e-form="rowform"
                          buttons="no"
                          onbeforesave="controller.update($data, field.fieldKey)"
                          ng-show="field.isEditable && controller.canEdit"
                          class="{{ field.className }}"
                          title="Click to edit">
                        {{ controller.model[field.fieldKey] || field.emptyText }}
                    </span>
                    <div class="icon"
                         ng-if="field.isEditable && controller.canEdit"
                         ng-click="rowform.$show()"
                         ng-hide="rowform.$visible"></div>
                    <div class="clear"></div>
                </span>
            </div>
        </div>
        <customer-balance ng-if="controller.detailsViewOptions.title == 'Organization'"
                          customer-balance-type="details"
                          customer-add-credit="controller.addCredit"
                          customer-chart-data="controller.chartData"
                          customer-show-chart="controller.showChart"></customer-balance>
        <div class="clear"></div>
    </section>
    <div class="profile-content">
        <div class="container">
            <div class="tabs-wrapper">
                <aside>
                    <div class="input-group rem-mob">
                        <input type="search" placeholder="Search" ng-model="generalSearch" ng-change="search()"/>
                    </div>
                    <ul class="tabs-links tabs-opened" ng-class="{'tabs-opened': openTabs}">
                        <li visible="{{ tab.key }}" ng-class="{'active': options.activeTab === tab.key}"
                            ng-click="options.activeTab = tab.key"
                            ng-repeat="tab in options.tabs">
                            {{ tab.title }} <span ng-if="tab.key != 'delete'">(<span ng-bind="tab.count"></span>)</span>
                        </li>
                    </ul>
                </aside>
                <div class="tab-content" block-ui="tab-content">
                    <div visible="{{ tabContent.key }}" class="tab" id="{{ tabContent.key }}"
                         ng-class="{'tab-active': options.activeTab === tabContent.key}"
                         ng-if="tabContent.key == options.activeTab"
                         ng-repeat="tabContent in options.tabs">
                        <div ui-view="{{ tabContent.viewName }}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
