<section detailscontent="checkbox avatar">
    <header>
        <h4 class="item-title">{{ expandableOptions.sectionTitle }}</h4>
        <minipagination ng-if="minipaginationOptions"
                page-models="expandableList[minipaginationOptions.pageModels]"
                page-model-id="expandableElement[minipaginationOptions.pageModelId]"
                page-change="expandableList[minipaginationOptions.pageChange]"
                page-entity-name="{{ minipaginationOptions.pageEntityName }}"></minipagination>

    </header>
    <ul ng-if="expandableOptions.isList" class="list-blocks">
        <li class="item-list" ng-repeat="element in pageModels[pageModelId].data">
            <section>
                <span ng-repeat="item in expandableOptions.list" ng-switch="item.type">
                    <div class="avatar small" ng-switch-when="avatar">
                        <img gravatar-src="element[item.avatarSrc]" gravatar-size="60">
                    </div>
                    <a ui-sref="{{ item.entityDetailsLink }}" ng-switch-when="link">{{ element[item.entityDetailsLinkText] }}</a>
                </span>
            </section>
        </li>
    </ul>
    <article ng-if="expandableOptions.addItemBlock" class="light-description">
        {{ expandableOptions.articleBlockText }} <a ui-sref="{{ expandableOptions.entitiesLinkRef }}">{{ expandableOptions.entitiesLinkText }}</a>.
    </article>
</section>