<div>
    <div class="instruction-image" ng-click="lightbox = !lightbox">
        <img ng-src="{{image}}">
    </div>
    <div ng-show="lightbox">
        <div class="image-box-overlay">
        </div> 
        <div class="image-box-content">
            <div class="image-wrapper">
                <img class="lightbox-image" ng-src="{{image}}" />
                <a class="image-close" ng-click="lightbox = !lightbox"><i class="fa fa-close"></i></a>
            </div>
        </div>
    </div>
</div>
