<div ng-show="noResources && selectedService.name">
    <h4 class="app-title centered">
        There are no resources available for import in this provider.
    </h4>
</div>
<div ng-show="resources.length" class="profile-content">
    <h3 class="app-title">Resources</h3>

    <div class="white-box list-box">
        <ul class="object-list">
            <li class="list-item list-header">
                <div class="additional-cell icon-header">Type</div>
                <div class="additional-cell resource-name">
                    <a class="list-sort">Name</a>
                </div>
                <div class="additional-cell">
                    <a class="list-sort">Details</a>
                </div>
                <div class="additional-cell"
                     ng-click="toggleSelectAll()">
                     <a ng-if="!selectAll">
                         <i class="icon fa-square-o"></i>
                         Select all
                     </a>
                     <a ng-if="selectAll">
                         <i class="icon fa-check-square-o"></i>
                         Unselect all
                     </a>
                </div>
            </li>
            <li ng-repeat="resource in resources"
                ng-click="toggleResource(resource)"
                class="list-item pointer list"
                ng-class="{'selected': resource.checked}">
                <div class="additional-cell icon">
                    <span>
                        <img title="{{ resource.type }}"
                             ng-src="{{ resource.icon }}">
                    </span>
                </div>
                <div class="additional-cell resource-name">
                    {{ resource.name }}
                </div>
                <div class="additional-cell">
                    {{ resource.details }}
                </div>
                <import-resource-button
                    resource="resource"
                    toggle="toggleResource"
                ></import-resource-button>
            </li>
        </ul>
    </div>
</div>
