<div ng-if="choices">
    <ul class="multiple-select">
        <li ng-repeat="choice in choices"
            ng-class="{'disabled': choice.disabled}"
            ng-click="choice.selected = !choice.selected">
            <i class="icon" ng-class="{'fa-check-circle': choice.selected, 'fa-circle-o': !choice.selected}"></i>
            <div class="multiple-select__label">
                <span ng-bind="choice.title"></span>
                <span class="multiple-select__subtitle" ng-bind="choice.subtitle"></span>
            </div>
        </li>
    </ul>
</div>
