<div class="pagination">
    <ul ng-show="pagesList.service.pages">
        <li>
            <a href="{{pagesHref}}"
              ng-class="{'disabled': pagesList.currentPage === 1}"
              ng-click="pagesList.changePage(1)">First</a>
            <a href="{{pagesHref}}" ng-repeat="pageNumber in  pagesList.getNumber(pagesList.service.pages, pagesList.currentPage)"
               ng-class="{current: (pageNumber) === pagesList.currentPage}"
               ng-click="pagesList.changePage(pageNumber)">{{pageNumber}}</a>
            <a href="{{pagesHref}}"
              ng-class="{'disabled': pagesList.currentPage == pagesList.service.pages}"
              ng-click="pagesList.changePage(pagesList.service.pages)">Last</a>
        </li>

    </ul>
</div>
