<div class="pagination col-xs-12" ng-show="pagesList.service.resultCount > 5">
    <div class="column">
        <span translate>Showing</span>
        {{ pagesList.service.sliceStart }}-{{ pagesList.service.sliceEnd }} <span translate>of</span> {{ pagesList.service.resultCount }}
    </div>

    <div class="body">
      <div ng-show="pagesList.service.pages">
          <a href="{{pagesHref}}"
            ng-class="{'disabled': pagesList.currentPage === 1}"
            ng-click="pagesList.changePage(1)" translate>First</a>
          <a href="{{pagesHref}}" ng-repeat="pageNumber in  pagesList.getNumber(pagesList.service.pages, pagesList.currentPage)"
             ng-class="{current: (pageNumber) === pagesList.currentPage}"
             ng-click="pagesList.changePage(pageNumber)">{{pageNumber}}</a>
          <a href="{{pagesHref}}"
            ng-class="{'disabled': pagesList.currentPage == pagesList.service.pages}"
            ng-click="pagesList.changePage(pagesList.service.pages)" translate>Last</a>
      </div>
    </div>

    <div class="column right">
        <a href="{{pagesHref}}" class="page-size"
           ng-repeat="pageSize in pagesList.pageSizes"
           ng-click="pagesList.changePageSize(pageSize)"
           ng-class="{active: pageSize === pagesList.currentPageSize}">{{pageSize}}</a>
    </div>
    <div class="clear"></div>
</div>
