<section class="expand-project-limits" ng-if="loading">
  <loading-spinner/>
</section>
<section class="expand-project-limits" ng-if="!loading">
  <div class="details-table__row">
    <div class="details-table__key">
      Estimated cost:
    </div>
    <div class="details-table__value">
      <span ng-class="{'over-threshold': isOverThreshold() }">{{ estimate.total || 0 | defaultCurrency }}</span>
    </div>
  </div>
  <div class="details-table__row">
    <div class="details-table__key">
      Cost threshold:
    </div>
    <div class="details-table__value" ng-if="!userCanManageProjects">
      {{ estimate.threshold || 0 | defaultCurrency }}
    </div>
    <div class="details-table__value" ng-if="userCanManageProjects">
      <span editable-number="estimate.threshold"
            e-min="0"
            e-form="rowform"
            buttons="no"
            onbeforesave="setThreshold($data)">
          {{ estimate.threshold || 0 | defaultCurrency }}
      </span>
      <div class="icon pencil-square-o"
           ng-click="rowform.$show()"
           ng-hide="rowform.$visible">
      </div>
    </div>
  </div>

  <div class="details-table__row" ng-if="userCanManageProjects">
    <div class="details-table__value">
      <label ng-click="toggleLimit()">
        <i class="icon" ng-class="{
        'fa-check-circle': isHardLimit,
        'fa-circle-o': !isHardLimit}"></i>
        Disable provisioning when threshold is reached
      </label>
    </div>
  </div>
</section>
