<button class="btn btn-primary select-workspace" ng-click="SelectWorkspaceToggleController.selectWorkspace()">
    <i class="fa fa-bars"></i>
    <span ng-if="!SelectWorkspaceToggleController.project">
        Select workspace
    </span>
    <span ng-if="SelectWorkspaceToggleController.project">
        {{ SelectWorkspaceToggleController.project.customer_name }}
        <span ng-if="$state.includes('project') || $state.includes('appstore')">
          > {{ SelectWorkspaceToggleController.project.name }}
        </span>
    </span>
</button>
