<section ng-if="loading">
  <i class="icon fa-spinner fa-spin"></i> Loading data, please wait.
</section>
<section ng-if="!loading && !service.quotas.length" class="empty-list-message">
  There are no quotas yet.
</section>
<section class="expand-service-limits" ng-if="!loading">
  <div class="details-table__row" ng-repeat="quota in service.quotas">
    <div class="details-table__key">
      {{ ::quota.name | quotaName }}:
    </div>
    <div class="details-table__value">
      {{ quota.limit }} / {{ quota.usage }}
    </div>
  </div>
</section>
