<main>
    <section>
        <aside class="left">
            <h3 translate>Add infrastructure</h3>
            <ul>
                <li ng-repeat="inf in infrastructures" ng-class="inf.open">
                    <a ng-click="inf.open = inf.open != 'open' ? 'open' : ''">{{ inf.type | translate }}</a>
                    <ul>
                        <li ng-repeat="view in inf.views">
                            <a ng-click="addView(inf.type, view)">{{ view | translate }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>
        <section class="view">
            <h3 translate>Stack planning view</h3>
            <ul>
                <li ng-repeat="view in item.views">
                    <div class="name">
                        <h4>{{ view.type | translate }}</h4>
                        <span>{{ view.name }}</span>
                    </div>
                    <div class="switch-wrapper">
                        <div  class="switch" ng-init="view.switch = 'first'" ng-class="view.switch">
                            <span class="sub-label" ng-click="view.switch = 'first'" translate>Small</span>
                            <span class="sub-label" ng-click="view.switch = 'second'" translate>Average</span>
                            <span class="sub-label" ng-click="view.switch = 'third'" translate>Large</span>
                            <div class="slider">
                                <span class="first" translate>Small</span>
                                <span class="second" translate>Average</span>
                                <span class="third" translate>Large</span>
                            </div>
                        </div>
                    </div>
                    <div class="multiplier">
                        <span>x</span>
                        <input type="number"  ng-model="view.count">
                        <button class="button minus" ng-click="view.count = view.count > 0 ? view.count - 1 : view.count">-</button>
                        <button class="button plus" ng-click="view.count = view.count + 1">+</button>
                    </div>
                </li>
            </ul>
        </section>
        <aside class="right">
            <h3 translate>Providers</h3>
            <div class="provider"
                 ng-repeat="provider in providers"
                 ng-class="{active: item.provider === provider }"
                 ng-click="item.provider = provider">
                <h4>{{ provider.name }}</h4>
                <div class="price">
                    <b>{{ provider.price }}</b>
                    <span>USD/mo</span>
                </div>
            </div>
        </aside>
    </section>
</main>
