<aside class="xs-hide">
    <div class="input-group rem-mob">
        <input
            type="search"
            placeholder="Search"
            ng-hide="hideSearch"
            ng-model="controller.generalSearch"
            ng-model-options="{ debounce: 500 }"
            ng-change="search()"/>
    </div>
    <div class="tabs-links">
      <div class="tab-link__item"
           visible="{{ tab.key }}"
           ng-click="tabChange(tab.key)"
           ng-repeat="tab in options.tabs"
           ng-class="{'active': options.activeTab.key === tab.key}">
        <div class="tab-link__key">
          <i ng-if="::tab.icon"
             class="icon"
             ng-class="::tab.icon"></i>
          {{ tab.title }} 
          <span ng-if="tab.count != undefined && tab.count !== -1">
            ({{ tab.count }})
          </span>
        </div>
      </div>
    </div>
</aside>
<aside class="xs-show">
    <div class="tab-link__item"
         ng-click="options.showTabs = !options.showTabs">
        <div class="tab-link__key">
            <i ng-if="::options.activeTab.icon"
               class="icon"
               ng-class="::options.activeTab.icon"></i>
            {{ options.activeTab.title }}
            <span ng-if="options.activeTab.count != undefined && options.activeTab.count !== -1">
               ({{ options.activeTab.count }})
            </span>
        </div>
        <div class="tab-link__value">
            <i class="icon fa-angle-down"></i>
        </div>
    </div>
    <div ng-show="options.showTabs"
         class="tab-link__content">
        <div class="tab-link__item"
             ng-repeat="tab in options.tabs"
             visible="{{ tab.key }}"
             ng-if="tab.key != options.activeTab.key"
             ng-click="options.activeTab = tab; options.showTabs=false">
            <div class="tab-link__key">
                <i ng-if="::tab.icon"
                   class="icon"
                   ng-class="::tab.icon">
                </i>
                {{ ::tab.title }}
                <span ng-if="tab.count != undefined && tab.count !== -1">
                    ({{ tab.count }})
                </span>
            </div>
        </div>
    </div>
</aside>
