@import '~sass/mixins/mediaqueries.scss';

.resource-details-table {
  column-count: 2;
  @include bp(xs) {
    column-count: initial;
  }
  @include bp(sm) {
    column-count: initial;
  }
}

.modal-body {
  .resource-details-table {
    column-count: auto;
    float: none;
  }
}
