<resource-summary-base resource="$ctrl.resource"></resource-summary-base>

<div class="m-b-xs">
  <dt>
    <span translate>Login details</span>:
  </dt>
  <dd>
    <span ng-if="!$ctrl.resource.username" translate>
      <a ui-sref="profile.freeipa">FreeIPA account needs to be set up</a>.
    </span>
    <span ng-if="$ctrl.resource.username">
      {{ $ctrl.resource.username }}@{{ $ctrl.resource.gateway }}
  </dd>
</div>

<div class="m-b-xs">
  <dt>
    <span translate>CPU limit</span>:
  </dt>
  <dd>
    {{ $ctrl.resource.cpu_limit }}
  </dd>
</div>

<div class="m-b-xs">
  <dt>
    <span translate>CPU usage</span>:
  </dt>
  <dd>
    {{ $ctrl.resource.cpu_usage }}
  </dd>
</div>

<div class="m-b-xs">
  <dt>
    <span translate>GPU limit</span>:
  </dt>
  <dd>
    {{ $ctrl.resource.gpu_limit }}
  </dd>
</div>

<div class="m-b-xs">
  <dt>
    <span translate>GPU usage</span>:
  </dt>
  <dd>
    {{ $ctrl.resource.gpu_usage }}
  </dd>
</div>

<div class="m-b-xs">
  <dt>
    <span translate>RAM limit</span>:
  </dt>
  <dd>
    {{ $ctrl.resource.ram_limit }}
  </dd>
</div>

<div class="m-b-xs">
  <dt>
    <span translate>RAM usage</span>:
  </dt>
  <dd>
    {{ $ctrl.resource.ram_usage }}
  </dd>
</div>
