.marketplace-hero__background {
  height: 500px;
  width: 100%;
  background-color: #2f4050;
  background-image: url(./marketplace-background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  margin-bottom: 20px;
}

.marketplace-hero__table {
  display: table-cell;
  vertical-align: middle;
}

.marketplace-hero__main {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;

  h1 {
    color: #fff;
    font-size: 44px;
    line-height: 42px;
    padding-bottom: 10px;
  }
}
