.marketplace-landing-page {
  position: relative;

  .providers-brands {
    opacity: if(isdarkmode(), 1, 0.6);
    align-items: stretch;

    .symbol-label {
      background-size: contain;
      background-color: transparent;
    }
  }

  .footer-section {
    display: table;
    max-width: 100%;
    min-height: 300px;

    .left-side {
      text-align: left;
    }

    .right-side {
      text-align: right;
    }

    .left-side,
    .right-side {
      display: table-cell;
      width: 50%;
      height: 300px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      @media (width <= 767px) {
        width: 100%;
        height: auto;
        display: block;
        text-align: left;
      }
    }
  }

  @media (width <= 767px) {
    .footer-section {
      display: block;
    }
  }
}
