<div class="white-box no-styles" ng-show="BackupList.list.length <= 0 && !BackupList.searchInput">
    <h2 class="app-title">
            You have no backups yet.
        </h2>
    <div class="decision">
            <div class="col">
                <a ui-sref="backups.create" class="button">Create a backup</a>
            </div>
        </div>
</div>

<div class="white-box" ng-show="BackupList.list.length > 0 || BackupList.searchInput">
        <ul class="sort-list">
            <li class="title">
                <h2 class="app-title">Backups</h2>
            </li>
            <pagesize pages-list="BackupList" pages-service="BackupList.service"></pagesize>
            <li class="search divid">
                <div class="search-box">
                    <input type="text" ng-model='BackupList.searchInput' ng-change="BackupList.search()">
                    <button class="search-button"></button>
                </div>
            </li>
            <li class="right-sort">
                <a ui-sref="backups.create" class="button">
                    <span class="icon plus"></span>
                    <span>Create a backup</span>
                </a>
            </li>
        </ul>
    </div>

<!-- view-control -->
<section class="view-control" ng-show="BackupList.list.length > 0 || BackupList.searchInput">
        <div class="list-item no-cursor">
            <div class="checkbox">
                <div class="checkbox" ng-show="BackupList.showgroup">
                    <input type="checkbox">
                </div>
            </div>
            <div>
                <div class="view-action-buttons" ng-show="BackupList.showgroup">
                    <a class="button remove">
                        Remove</a>
                </div>
                <div class="view-action-buttons-mobile" ng-show="BackupList.showgroup">
                    <div class="actions-button">
                        <action-button button-list="BackupList.actionButtonsListItems"
                                                                           button-controller="BackupList"
                                                                           ng-show="mobileActions"
                                                                           button-model="backup"></action-button>
                    </div>
                </div>
            </div>
            <div class="actions switch">
                <span class="label-text" ng-class="{'low-grade': !BackupList.showgroup}">batch</span>
                <div class="checkbox-toggle">
                    <input type="checkbox" id="control-types" ng-click="BackupList.showgroup=!BackupList.showgroup">
                    <label for="control-types"></label>
                </div>
                <span class="label-text special-left" ng-class="{'low-grade': BackupList.showgroup}">single</span>
            </div>
        </div>
    </section>
<!-- /view-control -->

<div class="white-box" ng-show="BackupList.list.length > 0 || BackupList.searchInput">
        <ul class="object-list">
            <li class="list-item list-header">
                <div class="checkbox"></div>
                <div class="name">
                    <a href="#" class="list-sort">Description</a>
                </div>
                <div class="additional-cell">
                    <a href="#" class="list-sort">State</a>
                </div>
                <div class="additional-cell">
                    <a href="#" class="list-sort">Kept</a>
                </div>
                <div class="additional-cell">
                    <a href="#" class="list-sort">Source name</a>
                </div>
                <div class="additional-cell">
                    <a href="#" class="list-sort">Date</a>
                </div>
                <div class="actions"></div>
            </li>
            <li ng-repeat="backup in BackupList.list">
                <div class="list-item list pointer" ng-class="{'opened': expandItem}"
                                       ng-click="expandItem=!expandItem">
                    <div class="checkbox">
                        <div class="checkbox" stoppropagation>
                            <input type="checkbox" ng-show="BackupList.showgroup">
                        </div>
                    </div>
                    <div class="name">
                        <h3 class="item-title">
                            <a stoppropagation>{{ backup.description }}</a>
                        </h3>
                    </div>
                    <div class="additional-cell">
                        {{ backup.state }}
                    </div>
                    <div class="additional-cell">
                        {{ backup.kept_until ? backup.kept_until : 'kept forever' }}
                    </div>
                    <div class="additional-cell">
                        {{ backup.backup_source_name }}
                    </div>
                    <div class="additional-cell">
                        <span am-time-ago="backup.created_at"></span>
                    </div>
                    <div class="actions">
                        <action-button button-list="BackupList.actionButtonsListItems"
                                                                           button-controller="BackupList"
                                                                           ng-show="!BackupList.showgroup"
                                                                           button-model="backup"></action-button>
                    </div>
                </div>
            </li>
        </ul>
    </div>

<div class="pagination" ng-show="BackupList.list.length > 0 || BackupList.searchInput">
        <pagination pages-list="BackupList" pages-service="BackupList.service"></pagination>
</div>
