body, html {
    height: 100%;
}

body {
    @include property(font-size, $normal-font);
    background: $gray;
    font-family: $base-font-family;
    color: $text-color;
    position: relative;
    padding: 0;
    margin: 0;
    &.no-scroll {
        overflow: hidden;
    } // &.no-scroll
    @include bp(xs) {
        .rem-mob.rem-mob.rem-mob { //remove on mobile
            display: none;
        }//rem-mob
    } // xs
} // body

img {
    max-width: 100%;
    vertical-align: top;
} // img

a {
    cursor: pointer;
    color: $link-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    } // &:hover
} // a

button {
    border: none;
    background: none;
} // button

a, a:focus, span {
    outline: none;
}

.inline {
    display: inline;
}
.fb_iframe_widget {
    padding-bottom: 4px;
}

.full-height {
    height: 100%;
}

body.disable-scroll {
    overflow: hidden;
}

.f16 {
    display: inline-block;
    vertical-align: middle;
}

.m-b-sm {
  margin-bottom: 10px;
}

.m-l-md {
  margin-left: 20px;
}

.list-group-item.awesome-checkbox {
    padding-left: 35px;
    label {
        width: 100%;
    }
}

.old {
    background-color: $gray;
    &.fixed-nav #wrapper {
        margin-top: 40px;
        height: 100%;
    }
    .footer {
        position: relative;
    }
}

.white-bg {
  background-color: #ffffff;
}
