body {
    @include property(font-size, $normal-font);
    background: $gray;
    font-family: $base-font-family;
    color: $text-color;
    position: relative;
    padding: 0;
    margin: 0;
    @include bp(xs) {
        .rem-mob.rem-mob.rem-mob { //remove on mobile
            display: none;
        }//rem-mob
    } // xs
} // body

img {
    max-width: 100%;
    vertical-align: top;
} // img


.breadcrumb {
  background-color: #ffffff;
  padding: 0;
  margin-bottom: 0;
}

.breadcrumb > li a {
  color: inherit;
}

.breadcrumb > .active {
  color: inherit;
}

a {
  cursor: pointer;
}

a:hover, a:focus {
  text-decoration: none;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.m-b-sm {
  margin-bottom: 10px;
}

.m-b-md {
  margin-bottom: 20px;
}

.m-l-sm {
  margin-left: 10px;
}

.m-l-md {
  margin-left: 20px;
}

.m-r-sm {
  margin-right: 10px;
}

.white-bg {
    background-color: #ffffff;
}
