.fb_iframe_widget {
    padding-bottom: 4px;
}

.f16 {
    display: inline-block;
    vertical-align: middle;
}

.list-group-item.awesome-checkbox {
    padding-left: 35px;
    label {
        width: 100%;
    }
}

.old {
    background-color: $gray;
    &.fixed-nav #wrapper {
        margin-top: 40px;
        height: 100%;
    }
}

.elipsis {
    @include elipsis;
}

.fixed-width-icon {
    width: 16px;
}

.list-group-item.active .btn-default {
    color: $text-color;
    &:hover {
        color: $text-color;
    }
}

.brand-name {
  font-size: 20px;
  line-height: 25px;
}
