$OpenSansPath: "../fonts" !default;
$OpenSansVersion: "1.1.0" !default; 

@mixin fontdef($OpenSansPath, $OpenSansVersion, $FontType:"Regular") {
  src:  url('#{$OpenSansPath}/OpenSans-#{$FontType}.eot?v=#{$OpenSansVersion}');
  src:  url('#{$OpenSansPath}/OpenSans-#{$FontType}.eot?#iefix&v=#{$OpenSansVersion}') format('embedded-opentype'),
        url('#{$OpenSansPath}/OpenSans-#{$FontType}.woff2?v=#{$OpenSansVersion}') format('woff2'),
        url('#{$OpenSansPath}/OpenSans-#{$FontType}.woff?v=#{$OpenSansVersion}') format('woff'),
        url('#{$OpenSansPath}/OpenSans-#{$FontType}.ttf?v=#{$OpenSansVersion}') format('truetype'),
        url('#{$OpenSansPath}/OpenSans-#{$FontType}.svg?v=#{$OpenSansVersion}##{$FontType}') format('svg');
}

/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "Regular");
  font-weight: normal;
  font-style: normal;
}
/* END Regular */

/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "Bold");
  font-weight: bold;
  font-style: normal;
}
/* END Bold */

/* BEGIN Semibold */
@font-face {
  font-family: 'Open Sans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "Semibold");
  font-weight: 600;
  font-style: normal;
}
/* END Semibold */
