// transition
@mixin transition($property, $duration, $timing) {
    transition-property: $property;
    transition-duration: $duration;
    transition-timing-function: $timing;
}

@mixin inline-top {
    display: inline-block;
    vertical-align: top;
}

@mixin inline-middle {
    display: inline-block;
    vertical-align: middle;
}

@mixin clear-list {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

@mixin table {
    table-layout: fixed;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

@mixin table-cell {
    display: table-cell;
    vertical-align: top;
    box-sizing: border-box;
}

// mediaqueries
@mixin bp($point) {
    $bp-cr: "(min-width : 320px)";
    $bp-xs: "(min-width : 480px)";
    $bp-sm: "(min-width : 768px)";
    $bp-md: "(min-width : 992px)";
    $bp-lg: "(min-width : 1200px)";
    
    @if $point == cr {
        @media #{$bp-cr} { @content; }
    }
    @if $point == xs {
        @media #{$bp-xs} { @content; }
    }
    @if $point == sm {
        @media #{$bp-sm} { @content; }
    }
    @if $point == md {
        @media #{$bp-md} { @content; }
    }
    @if $point == lg {
        @media #{$bp-lg} { @content; }
    }
}
