// transition
@mixin transition($property, $duration, $timing) {
    transition-property: $property;
    transition-duration: $duration;
    transition-timing-function: $timing;
}

@mixin inline-top {
    display: inline-block;
    vertical-align: top;
}

@mixin inline-middle {
    display: inline-block;
    vertical-align: middle;
}

@mixin clear-list {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

@mixin table {
    table-layout: fixed;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

@mixin table-cell {
    display: table-cell;
    vertical-align: top;
    box-sizing: border-box;
}
