// transition
@mixin transition($property, $duration, $timing) {
    transition-property: $property;
    transition-duration: $duration;
    transition-timing-function: $timing;
}

// fonts
@mixin remany($property, $value) {
    font-size: $property + px;
    font-size: rem($value);
}

// lists
@mixin clear-list {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

@mixin clear-list-inline {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        display: inline-block;
        vertical-align: middle;
    }
}

// inlines
@mixin inline-middle {
    display: inline-block;
    vertical-align: middle;
}

@mixin inline-top {
    display: inline-block;
    vertical-align: top;
}

// clearfix
@mixin clearfix {
    &:before,
    &:after {
        display: table;
        content: ' ';
    } // &:before, &:after
    &:after {
        clear: both;
    }
}

// table view
@mixin table {
    table-layout: fixed;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

@mixin table-cell {
    display: table-cell;
    vertical-align: top;
    box-sizing: border-box;
}

// elipsis element
@mixin elipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// media queries
@mixin bp($point) {
    $bp-xs: "(max-width : 480px)";
    $bp-xs-helpdesk: "(min-width : 480px) and (max-width : 768px)";
    $bp-sm: "(min-width : 768px) and (max-width : 992px)";
    $bp-md: "(min-width : 992px) and (max-width : 1200px)";
    $bp-lg: "(min-width : 1200px)";

    // extrasmall – mobile
    @if $point == xs {
        @media #{$bp-xs} { @content; }
        @media #{$bp-xs-helpdesk} { @content; }
    }
    // small – (not only mobile)
    @if $point == sm {
        @media #{$bp-sm} { @content; }
    }
    // medium – smallscreen laptop & tablets & some mobile
    @if $point == md {
        @media #{$bp-md} { @content; }
    }
    // medium – big screens
    @if $point == lg {
        @media #{$bp-lg} { @content; }
    }
}
