$text-color: #303030;
$link-color: #3498db;
$dashboard-green: #28ae60;
$dashboard-black: #353634;
$table-gray: #f1f0f0;

// main
$main-background-color: #F8F8F8;

// fonts
$base-font-family: Helvetica, Arial, serif;
$extra-small-font: 11;
$small-font: 14;
$normal-font: 16;
$big-font: 18;
$huge-font: 20;
