$text-color: #303030;
$link-color: #3498db;
$dashboard-green: #28ae60;
$dashboard-black: #353634;
$table-gray: #f1f0f0;
$placeholder-color: #d9d9d9;
$select-bg-gray: #e9ece9;
$gray-text: #dcdcdc;
$expandable-hover: #FFFAE5;
$button-green: #50b848;

// main
$main-background-color: #F8F8F8;

// fonts
$base-font-family: Helvetica, Arial, serif;
$extra-small-font: 11;
$small-font: 14;
$normal-font: 16;
$big-font: 18;
$huge-font: 20;
