.offering-components ul {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

@media screen and (max-width: 991px) {
  .offering-components ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
