.search-no-result,
.search-error {
  position: relative;
  overflow: hidden;

  svg.background {
    position: absolute;
    top: 0;
    left: 50%;
    width: 524px;
    transform: translate(-50%);
    // Vertical opacity gradient
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-size: 100% 75%;
    mask-repeat: no-repeat;
    mask-position: top, bottom;
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    );
    -webkit-mask-size: 100% 75%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top, bottom;
  }

  .search-icon,
  .error-icon {
    border: 1px solid var(--bs-gray-300);
    padding: 11px;
    border-radius: 14px;
    margin-top: 46px;
  }
  .error-icon {
    border-color: var(--bs-light-danger);
    border-radius: 50%;
    background-color: var(--bs-light-danger);

    svg {
      color: var(--bs-danger);
    }
  }
}
