#GlobalSearch {
  margin-top: -10px;
  width: 100%;
  max-width: 500px;

  .search-input {
    padding-left: 0.54rem;
    padding-right: 0.54rem;
  }

  .nav.nav-tabs {
    .nav-item .nav-link {
      .badge {
        background-color: var(--bs-gray-200);
        color: var(--bs-gray-800);
        font-weight: 500;
      }
      &.active .badge {
        color: var(--bs-active-primary);
        background-color: var(--bs-primary-100);
      }
    }
  }

  .popover-arrow {
    display: none;
  }
}

@media (min-width: 576px) {
  #GlobalSearch {
    max-width: 850px;
  }
}
@media (width >= 992px) {
  #GlobalSearch {
    .tab-content {
      height: auto;
      // If the browser doesn't support min()
      max-height: calc(100vh - 140px);
      max-height: min(calc(100vh - 140px), 600px);
    }
  }
}
@media (width < 992px) {
  #GlobalSearch {
    .tab-content {
      height: auto;
      // If the browser doesn't support min()
      max-height: calc(100vh - 195px);
      max-height: min(calc(100vh - 195px), 400px);
    }
  }
}
