<div class="middle-box text-center loginscreen">
    <span ng-if="::!auth.loginLogo">
        <h1 class="logo-name">{{ ::auth.shortPageTitle }}</h1>
        <h4 ng-if="!auth.isSignupFormVisible">
            <span translate>Welcome to</span> {{ ::auth.shortPageTitle }}
        </h4>
    </span>
    <span ng-if="::auth.loginLogo">
        <img ng-src="{{ ::auth.loginLogo }}">
    </span>
    <h4 ng-if="auth.isSignupFormVisible">
        <span translate>Register to</span> {{ ::auth.shortPageTitle }}
    </h4>
    <p>
        <span ng-if="!auth.isSignupFormVisible" translate>
            Your single pane of control for all cloud services. Login in to see it in action.
        </span>
        <span ng-if="auth.isSignupFormVisible" translate>
            Create an account
        </span>
    </p>
    <!-- Login form -->
    <form ng-if="auth.showLoginForm()" class="m-b-sm" name="auth.LoginForm">
        <div class="form-group">
            <input type="text"
                class="form-control"
                ng-model="auth.user.username"
                placeholder="{{ 'Username' | translate }}"
                required="">
        </div>
        <div class="form-group">
            <input type="password"
                class="form-control"
                ng-model="auth.user.password"
                placeholder="{{ 'Password' | translate }}"
                required="">
        </div>
        <button type="submit"
            class="btn btn-primary btn-block"
            submit-button="auth.signin()">
            <span translate>Login</span>
        </button>
        <p class="text-danger"
            ng-repeat="error in auth.getErrors()" ng-bind="error"></p>
    </form>
    <!-- Registration form -->
    <form ng-if="auth.showRegisterForm()" class="m-b-sm" name="auth.RegisterForm">
        <div class="form-group">
            <input type="text"
                ng-model="auth.user.username"
                placeholder="{{ 'Username' | translate }}"
                class="form-control" required="">
        </div>
        <div class="form-group">
            <input type="text"
                ng-model="auth.user.full_name"
                placeholder="{{ 'Full name' | translate }}"
                class="form-control">
        </div>
        <div class="form-group">
            <input type="email" required="" class="form-control" ng-model="auth.user.email" placeholder="{{ 'Email' | translate }}">
        </div>
        <div class="form-group">
            <input type="password"
                ng-model="auth.user.password"
                placeholder="{{ 'Password' | translate }}"
                class="form-control" required="">
        </div>
        <p class="text-danger"
            ng-repeat="error in auth.getErrors()" ng-bind="error"></p>
        <button class="btn btn-primary btn-block"
            submit-button="auth.signup()"
            type="submit">
            <span translate>Register</span>
        </button>
    </form>
    <p ng-if="auth.showSocialSignup()">
        <small translate>Or use social login</small>
    </p>
    <div ng-if="auth.showSocialSignup()" class="m-b-sm">
        <button ng-click="auth.authenticate('google')" class="btn btn-google btn-block">
            <i class="fa fa-google-plus-square" aria-hidden="true"></i>
            <span translate>Sign in with Google</span>
        </button>
    </div>
    <div ng-if="auth.showSocialSignup()" class="m-b-sm">
        <button ng-click="auth.authenticate('facebook')" class="btn btn-facebook btn-block">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <span translate>Sign in with Facebook</span>
        </button>
    </div>
    <div ng-if="auth.showEstonianId()">
        <auth-estonian-id/>
    </div>
    <div class="form-group m-b-sm" ng-if="auth.showRegisterButton()">
        <p><small translate>Do not have an account?</small></p>
        <a ng-click="auth.gotoRegister()" class="btn btn-default btn-block">
            <span translate>Create an account</span>
        </a>
    </div>
    <div class="form-group m-b-sm" ng-if="auth.showLoginButton()">
        <p><small translate>Already have an account?</small></p>
        <a ng-click="auth.gotoLogin()" class="btn btn-default btn-block">
            <span translate>Login</span>
        </a>
    </div>
    <language-list/>
    <powered-by/>
</div>
