<div class="wrapper wrapper-content">
  <div class="row">
    <div ng-class="{'col-sm-9': $ctrl.offering.price}">
      <div ng-if="$ctrl.loading">
        <loading-spinner></loading-spinner>
      </div>
      <div class="ibox" ng-if="$ctrl.offering">
        <div class="ibox-title">
          <h3>{{ $ctrl.offering.label }}</h3>
          <p ng-if="$ctrl.offering.summary" ng-bind-html="::$ctrl.offering.summary"></p>
        </div>
        <div class="ibox-content">
          <appstore-form form="$ctrl.form" fields="$ctrl.offering" model="$ctrl.model" errors="$ctrl.errors"></appstore-form>
          <div class="form-group" ng-if="$ctrl.offering.terms_of_service">
            <div class="control-label col-sm-offset-3">
              <label>
                <input type="checkbox" ng-model="$ctrl.agreeWithPolicy" ng-change="$ctrl.toggleCreateBtnStatus()"/>
                <span translate>By creating I agree with the</span>
                <a ng-click="$ctrl.openPolicy()">
                  <i class="fa fa-external-link"></i>
                  <span translate>Terms of Service</span>
                </a>
              </label>
            </div>
          </div>
        </div>

        <div class="ibox-content">
          <button class="btn btn-primary pull-right" ng-disabled="$ctrl.createBtnDisabled()" submit-button="$ctrl.save()">
            <i class="fa fa-shopping-cart"></i>
            <span translate>Create</span>
          </button>
          <button class="btn btn-default" ng-click="$ctrl.cancel()">
            <span translate>Cancel</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3" ng-if="$ctrl.offering.price">
      <appstore-summary
        component="$ctrl.summaryComponent"
        model="$ctrl.offering">
      </appstore-summary>
    </div>
  </div>
</div>
