<div ng-if="$ctrl.loading">
  <loading-spinner></loading-spinner>
</div>
<div class="ibox" ng-if="!$ctrl.loading">
  <div class="ibox-title">
    <h5>
      <span translate>Checkout summary</span>
    </h5>
  </div>
  <div class="ibox-content">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>
            <price-tooltip></price-tooltip>
            <strong>{{ $ctrl.getPriceLabel() }}</strong>
          </td>
          <td>{{ $ctrl.model.price | defaultCurrency }}</td>
        </tr>
        <tr>
          <td><strong translate>Invoiced to</strong></td>
          <td>{{ $ctrl.customer.name }}</td>
        </tr>
        <tr>
          <td><strong translate>Project</strong></td>
          <td>{{ $ctrl.project.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
