<div ng-controller="ProjectWorkspaceController as ProjectCtrl">
  <sidebar items="items" context="context"></sidebar>
</div>
<div id="page-wrapper" class="gray-bg">
  <cookies-consent></cookies-consent>
  <div ng-if="!$ctrl.offering">
    <loading-spinner></loading-spinner>
  </div>
  <div ng-if="$ctrl.offering">
    <nc-header></nc-header>
    <div class="row wrapper white-bg page-heading">
      <div class="col-lg-12">
        <h2 translate>Request details</h2>
        <div class="pull-right">
          <button
            class="btn btn-default btn-sm"
            ng-click="$ctrl.reInitResource($ctrl.offering)">
            <i class="fa fa-refresh"></i>
            <span translate>Refresh</span>
          </button>
          <offering-report-button
            ng-if="$ctrl.showReportButton"
            offering="$ctrl.offering">
          </offering-report-button>
          <action-button-resource
            button-model="$ctrl.offering"
            button-controller="$ctrl">
          </action-button-resource>
          <extension-point id="offering-details-button"></extension-point>
        </div>
        <breadcrumbs-container></breadcrumbs-container>
      </div>
    </div>
    <offering-summary offering="$ctrl.offering" summary="$ctrl.offeringConfig.summary"></offering-summary>
  </div>
  <div class="footer-indent"></div>
  <app-footer></app-footer>
</div>
