<div ng-if="$ctrl.loading">
  <loading-spinner></loading-spinner>
</div>

<div class="text-danger" ng-bind="$ctrl.error"></div>

<div ng-if="!$ctrl.loading && !$ctrl.error">
  <p>
    <strong><span translate>Current VPC package</span>:</strong>
    {{ ::$ctrl.template | formatPackage }}
  </p>
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <th>
          <span translate>Price for 1 vCPU per day</span>
          <price-tooltip></price-tooltip>
        </th>
        <td>{{ $ctrl.prices.cores | defaultCurrency }}</td>
      </tr>
      <tr>
        <th>
          <span translate>Price for 1 GB of storage per day</span>
          <price-tooltip></price-tooltip>
        </th>
        <td>{{ $ctrl.prices.disk * 1024 | defaultCurrency }}</td>
      </tr>
      <tr>
        <th>
          <span translate>Price for 1 GB of RAM per day</span>
          <price-tooltip></price-tooltip>
        </th>
        <td>{{ $ctrl.prices.ram * 1024 | defaultCurrency }}</td>
      </tr>
    </table>
  </div>

  <choices-table
    ng-if="$ctrl.flavors"
    choices="$ctrl.flavors"
    columns="$ctrl.columns"
    enable-select="false">
  </choices-table>
</div>
