<div class="ibox">
  <div class="ibox-title">
    <h5>
      <span translate>Checkout summary</span>
    </h5>
  </div>
  <div class="ibox-content">
    <p ng-if="!$ctrl.model.template">
      <span translate>No items yet.</span>
    </p>
    <table class="table table-bordered" ng-if="$ctrl.model.template">
      <tbody>
        <tr ng-if="$ctrl.model.name">
          <td><strong translate>Tenant name</strong></td>
          <td>{{ $ctrl.model.name }}</td>
        </tr>
        <tr>
          <td><strong translate>VPC package</strong></td>
          <td>{{ $ctrl.model.template.name }}</td>
        </tr>
        <tr>
          <td><strong translate>Max vCPU</strong></td>
          <td>{{ $ctrl.model.template.cores }} cores</td>
        </tr>
        <tr>
          <td><strong translate>Max RAM</strong></td>
          <td>{{ $ctrl.model.template.ram | filesize }}</td>
        </tr>
        <tr>
          <td><strong translate>Max storage</strong></td>
          <td>{{ $ctrl.model.template.disk | filesize }}</td>
        </tr>
        <tr>
          <td>
            <price-tooltip></price-tooltip>
            <strong translate>Price per day</strong>
          </td>
          <td>{{ $ctrl.model.template.dailyPrice | defaultCurrency }}</td>
        </tr>
        <tr>
          <td>
            <price-tooltip></price-tooltip>
            <strong translate>Price per month</strong>
          </td>
          <td>{{ $ctrl.model.template.monthlyPrice | defaultCurrency }}</td>
        </tr>
        <tr>
          <td><strong translate>Invoiced to</strong></td>
          <td>{{ $ctrl.model.customer.name }}</td>
        </tr>
        <tr>
          <td><strong translate>Project</strong></td>
          <td>{{ $ctrl.model.project.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ibox-title" ng-if="$ctrl.quotas.length">
    <h5>
      <span translate>Project limits</span>
    </h5>
  </div>
  <div class="ibox-content" ng-if="$ctrl.quotas.length">
    <quota-usage-bar-chart quotas="$ctrl.quotas"></quota-usage-bar-chart>
  </div>
</div>
