@import '~/src/sass/inspinia/variables';

.expandable-panel {
  border: none;

  .toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;

    .title-wrap {
      display: flex;
      align-items: center;
    }
    .title {
      margin: 0;
    }
    .icon {
      font-size: 12px;
      color: fade-out($text-color, 0.4);
    }
  }
  .panel-heading {
    background-color: #fff;
    color: $text-color;
    border-color: $border-color;
    padding: 0;
  }
}
