    <div class="form-horizontal">
        <div class="form-group">
            <label for="projectName" class="col-sm-3 control-label">
                <span translate>Project name</span>
            </label>
            <div class="col-sm-5">
                <input type="text"
                    id="projectName"
                    ng-model="ProjectAdd.project.name"
                    class="form-control">
                <p class="text-danger"
                   ng-repeat="error in ProjectAdd.errors.name"
                   ng-bind="error"></p>
            </div>
        </div>

        <div class="form-group">
            <label for="projectDescription" class="col-sm-3 control-label">
                <span translate>Project description</span>
            </label>
            <div class="col-sm-5">
                <textarea id="projectDescription"
                    class="form-control"
                    ng-model="ProjectAdd.project.description"></textarea>
                <p class="text-danger"
                   ng-repeat="error in ProjectAdd.errors.description"
                   ng-bind="error"></p>
            </div>
        </div>

        <div class="form-group">
            <p class="help-block text-danger col-sm-offset-3 col-sm-5"
               ng-repeat="error in ProjectAdd.errors.non_field_errors"
               ng-bind="error"></p>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-5">
                <button class="btn btn-primary" submit-button="ProjectAdd.save()">
                    <span translate>Add project</span>
                </button>
                <button class="btn btn-default" ng-click="ProjectAdd.cancel()">
                    <span translate>Cancel</span>
                </button>
            </div>
        </div>
    </div>
