<section class="expand-project-limits" ng-if="$ctrl.loading">
  <loading-spinner/>
</section>
<section class="expand-project-limits" ng-if="!$ctrl.loading">
  <div class="details-table__row">
    <div class="details-table__key">
      <span translate>Estimated cost</span>:
    </div>
    <div class="details-table__value">
      <span ng-class="{'over-threshold': $ctrl.isOverThreshold() }">{{ $ctrl.estimate.total || 0 | defaultCurrency }}</span>
    </div>
  </div>
  <div class="details-table__row">
    <div class="details-table__key">
      <span translate>Cost threshold</span>:
    </div>
    <div class="details-table__value" ng-if="!$ctrl.userCanManageProjects">
      {{ $ctrl.estimate.threshold || 0 | defaultCurrency }}
    </div>
    <div class="details-table__value" ng-if="$ctrl.userCanManageProjects">
      <span editable-number="$ctrl.estimate.threshold"
            e-min="0"
            e-form="rowform"
            buttons="no"
            onbeforesave="$ctrl.setThreshold($data)">
          {{ $ctrl.estimate.threshold || 0 | defaultCurrency }}
      </span>
      <div class="icon pencil-square-o"
           ng-click="rowform.$show()"
           ng-hide="rowform.$visible">
      </div>
    </div>
  </div>

  <div class="details-table__row" ng-if="$ctrl.userCanManageProjects">
    <div class="details-table__value">
      <label ng-click="$ctrl.toggleLimit()">
        <i class="icon" ng-class="{
        'fa-check-circle': $ctrl.isHardLimit,
        'fa-circle-o': !$ctrl.isHardLimit}"></i>
        <span translate>Disable provisioning when threshold is reached.</span>
      </label>
    </div>
  </div>
</section>
