@import 'variables.scss';
@import 'mixins/propertis.scss';

.expand-project-limits {
  .icon {
    cursor: pointer;
  }
  .over-threshold {
    color: $destructive-color;
  }
  label {
    cursor: pointer;
    .icon {
      color: $button-green;
      @include property(font-size, $normal-font);
    }
  }
}
