.actions-button {
    position: relative;
    .button {
        @include property(border-radius, 2);
        @include property(padding, 4 6);
        @include property(padding-top, 6);
        font-weight: normal;
        line-height: 1;
        height: 27px;
    }
    &.sort-by-value {
        display: inline-block;
    } // &.sort-by-value
    ul.actions-dropdown {
        @include clear-list;
        position: absolute;
        z-index: 10;
        text-align: right;
        @include property(top, 26);
        @include property(right, 0);
        @include property(padding, 5);
        @include property(padding-top, 10);
        @include property(border-radius, 3 0 3 3);
        background-color: white;
        border: 1px solid #CBCBCB;
        box-shadow: 0px 0px 8px rgba(139, 139, 139, 0.39);
        z-index: 1000;
        &.sort-by-value {
            left: 50%;
            right: auto;
        } // &.sort-by-value
        > li + li {
            @include property(margin-top, 5);
            @include property(padding-top, 5);
            border-top: 1px solid lightgrey;
        } // > li + li
        li {
            a {
                white-space: nowrap;
            }
        }
    } // ul.actions-dropdown
    ul.one-action-button {
        list-style: none;
        li {
            a {
                font-size: 16px;
                color: #f37121;
                cursor: pointer;
                position: absolute;
                white-space: nowrap;
                right: 0;
                top: -12px;
                @include bp(xs) {
                    width: 100px;
                    white-space: normal;
                } // xs
            }
        }
    }
} // actions-button

td.actions {
    .remove {
        color: $red;
    }
}
