.add-team-member {
  text-align: right;
  margin: auto;
  padding: 10px;

  @include bp(xs) {
    width: 280px;
    .line-wrapper {
      .label {
        width: 40%;
      }
      &.control-buttons {
        margin-top: 30px;
      }
    }
  }

  h3 {
    font-size: 24px;
    margin: 11px 0;
    text-align: center;
  }

  .short-form .form-row .col {
    &.label {
      width: auto;
    }

    &.input-full {
      display: flex;
      justify-content: center;
    }
  }

  .multiple-select {
    margin: 0;
    text-align: left;
    font-size: 16px;
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox] + label {
    display: inline-block;
    background: #ccc;
    position: relative;
    width: 100px;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    span {
      color: #fff;
      display: block;
      float: left;
      width: 50%;
      position: relative;
      z-index: 1;
    }
    &:after {
      position: absolute;
      content: "";
      width: 50%;
      height: 100%;
      background: #50b848;
      left: 0;
      top:0;
      transition: left .5s;
    }
  }
  input[type=checkbox]:checked + label {
    &:after {
      left: 50%;
    }
  }
}
