.add-or-remove {
    position: relative;
    .app-title {
        display: block;
        border-bottom: 1px solid rgb(226, 226, 226);
        @include property(margin-bottom, 10);
        @include property(padding-bottom, 10);
    } // app-title
    .added + .added {
        @include property(margin-left, 10);
    } // .added + .added
    .added {
        @include inline-middle;
        background-color: lime;
        cursor: pointer;
          padding: 0px 6px;
          border-radius: 3px;
          display: inline-block;
          vertical-align: middle;
          background-color: #f5f5f5;
          cursor: pointer;
          color: rgb(0, 0, 0);
        &:after {
            position: relative;
            @include icon-fa;
            content: '\f00d';
            @include property(top, -1);
            @include property(font-size, $extra-small-font);
            @include property(margin-left, 5);
            color: rgb(182, 182, 182);
        } // &:after
    } // added
    .add-label {
        @include inline-middle;
        width: 55px;
        cursor: pointer;
        border-color: transparent;
        &.input {
            width: auto;
            cursor: auto;
            border-color: #D8D8D8;
        } // &.input
    } // .add-label
} // add-or-remove
