.add-team-member {
  margin: auto;
  padding: 10px;

  h3 {
    font-size: 24px;
    margin: 11px 0;
    text-align: center;
  }

  .form-row {
    margin-bottom: 10px;
  }

  .ui-select-choices-row:hover {
    background: #3875d7;
    color: #fff;
  }

  .select2-container {
    width: 100%;
    .select2-choice {
        height: 40px;
        line-height: 40px;
        .select2-arrow {
          width: 28px;
          padding: 5px;
        }
    }
  }
  .select2-container-multi .select2-choices {
    padding-top: 5px;
  }
}
