.app-footer {
    background-color: #565656;
    color: white;
    box-sizing: border-box;
    @include property(font-size, 15);
    @include property(height, 50);
    @include property(padding-top, 13);
    width: 100%;
    a {
        color: white;
    } // a
    .copy {
        float: left;
    } // copy
    .footer-nav {
        float: right;
        @include clear-list-inline;
    } // footer-nav
} // app-footer
