.app-header {} // app-header

.navbar-fixed-top {
    border-width: 0;
}

.navbar-toggle {
    background: #8BBE46;
    .icon-bar {
        background: black;
    } // .icon-bar
    &.collapsed {
        background: none;
    } // &.collapsed
} // .navbar-toggle

.navbar-brand {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    background: url(../images/logo.png) no-repeat 50% 50%;
    background-size: 40px;
    &.site-brand {
        width: auto;
        padding-left: 40px;
        padding-top: 9px;
        background-position: left;
        color: #000;
    }
}

.navbar {
    border-radius: 0;
    margin: 0;
    background: #9ECF5D;
    &.site-header {
        background: #fff;
    }
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    color: #fff;
    text-shadow: none;
    &:after {
        color: #fff;
        text-shadow: none;
    }
}

.site-header {
    .navbar-nav > li {
        &.home {
            display: none;
        }
        &.active {
            background: rgb(247, 247, 247);
            a {
                color: #000;
                text-shadow: none;
            } // a
        }
    }
}

.navbar-nav > li {
    &.home {
        display: none;
    }
    &.active {
        background: #76AE2C;
        a {
            color: #FFF;
            text-shadow: none;
        } // a
    }
    .join-link {
        background-color: rgb(125, 178, 67);
        margin-top: 6px;
        border-radius: 4px;
        padding: 6px 15px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.28);
        border-bottom: 2px solid rgb(45, 108, 9);
        &:hover {
            background-color: #72A53A;
        }
        &:active {
            border-color: transparent;
            position: relative;
            top: 2px;
        }
    }
    .user-pic-box {
        padding-left: 50px;
        @include bp(xs) {
            padding-left: 64px;
            padding-top: 14px;
        }
    }
    .user-pic {
        width: auto;
        height: 40px;
        margin-top: 5px;
        border-radius: .4em;
        position: absolute;
        top: 0px;
        left: 5px;
        &.small-screen {
            left: -10px;
        } // &.small-screen
        @include bp(xs) {
            left: 16px;
        }
    } // user-pic
    .add-something-button {
        position: relative;
        &:after {
            content: '\f0dd';
            position: absolute;
            top: calc(50% - 12px);
            right: 5px;
            font-family: FontAwesome;
            font-size: rem(10);
            color: #000;
        }
        &.small-screen {
            &:after {
                display: none;
            } // &:after
        } // &.small-screen
        @include bp(xs) {
            &:after {
                right: auto;
                left: 35px;
            } // &:after
        }
    }
    .customer-head {
        // background-color: #89B550;
        margin-top: 8px;
        padding: 6px 10px;
        padding-right: 15px;
        margin-left: 12px;
        margin-right: 12px;
        border-radius: 3px;
        position: relative;
        margin-bottom: 16px;
        @include bp(sm) {
            margin-left: 6px;
            margin-bottom: 0px;
        }
        @include bp(md) {
            margin-left: 6px;
            margin-bottom: 0px;
        }
        @include bp(lg) {
            margin-left: 6px;
            margin-bottom: 0px;
        }
        &:hover,  {
            // background-color: #89B550;
        }
        .customer-title {
            width: 100%;
            position: relative;
            top: -6px;
            left: 0px;
        } // customer-title
        .customer-expl {
            width: 100%;
            position: absolute;
            top: 14px;
            left: 11px;
            font-size: 12px;
        } // customer-expl
    } // customer-head
    .dropdown-menu {
        display: block;
        background: #9ECF5D;
        border: none;
        border-radius: 0px 0px 4px 4px;
        box-shadow: none;
        border-bottom: 2px solid gray;
        &.add-something {
            left: -58px;
            width: 160px;
            .fa {
                margin-right: 10px;
            }
        }
        &.small-screen {
            margin-top: 22px;
        } // small-screen
        &.user-drop {
            // text-align: right;
            a {
                padding-left: 46px;
            }
        }
        li {
            &.user-box {
                padding-right: 0px;
            } // &.user-box
            &.divider {
                background-color: #6EA366;
            }
            a {
                color: #fff;
                font-size: rem(14);
                padding-left: 35px;
                position: relative;
                &:hover, &.active {
                    background-color: rgb(111, 150, 88);
                }
                &:hover {
                    background-color: #6f9658;
                } // &:hover
                &:before {
                    display: block;
                    width: 20px;
                    position: absolute;
                    top: 4px;
                    left: 8px;
                    text-align: center;
                    font-size: rem(13);
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    color: #095207;
                } // &:before
                &.add-customer {
                    &:before {
                        content: '\f1ad';
                        font-family: FontAwesome;
                    } // &:before
                } // &.add-customer
                &.add-project {
                    &:before {
                        content: '\f07b';
                        font-family: FontAwesome;
                    } // &:before
                } // &.add-project
                &.add-resource {
                    &:before {
                        content: '\f0ae';
                        font-family: FontAwesome;
                    } // &:before
                } // &.add-resource
                &.current-customer {
                    &:before {
                        content: '\f00c';
                        font-family: FontAwesome;
                    } // &:after
                } // &.current-customer
            } // a
        } // li
    } // dropdown-menu
} // .navbar-nav > li

.nav-user-area {
    margin-bottom: 30px;
    @include bp(sm) {
        margin-bottom: 0px;
    }
    @include bp(md) {
        margin-bottom: 0px;
    }
    @include bp(lg) {
        margin-bottom: 0px;
    }
} // nav-user-area

.add-something-box {
    .tooltip {
        .tooltip-inner {
            min-width: 124px;
        }
    }
} // add-something-box

.navbar-nav > li > a {
    color: #1F3305;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.54);
    &:hover, &:focus {
        text-decoration: none;
        background-color: transparent;
    }
    &.active {
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.54);
        &:after {
            content: attr(data-original-title);
            margin-left: 8px;
        } // :after
    }
} // .navbar-nav > li > a
