.app-block {
    + .app-block {
        margin-top: 40px;
    }
    &.controls-line {
        margin-top: 20px;
        margin-bottom: -20px;
    } // controls-line
    &.initial-data {
        margin-top: 40px;
    }
    &.notification {
        display: none;
        width: 100%;
        position: fixed;
        top: 70px;
        left: 0px;
        z-index: 9999;
        margin-top: 0px !important;
    } // &.notification
} // app-block

.standart-box {
    padding: 20px;
} // standart-box

.standart-row {
    + .standart-row {
        margin-top: 20px;
    } // +
} // standart-row
