.edit-forms {
    .form-field {
        + .form-field {
            margin-top: 10px;
        } // +
    } // form-field
    &.user-edit {} // user-edit
    &.user-pass {
        .form-field {
            label {
                margin-top: 0px;
                margin-bottom: 5px;
                font-size: rem(14);
            } // label
        } // form-field
    } // user-pass
} // edit-forms
