.app-header {
    background-color: $head-menu-color;
    z-index: 2000;
    width: 100%;
    @include property(height, 50);
    position: fixed;
    top: 0;
    &.site {
        background-color: white;
    } // &.site
} // app-header
