.event {
    padding: 10px 0px 20px 0px;
    position: relative;
    margin-left: 20px;
    .event-title {
        @include inline-middle;
        margin: 0;
        font-size: rem(18);
        font-weight: 700;
        text-decoration: none;
        position: relative;
        &:before {
            content: '';
            display: block;
            width: 15px;
            height: 15px;
            -webkit-border-radius: 100%;
            border-radius: 100%;
            background: #fff;
            border: 2px solid #dfdfdf;
            position: absolute;
            top: 2px;
            left: -26px;
        }
    } // project-title
    .content {
        p {
            margin-bottom: 0px;
            + p {
                margin-top: 10px;
            } // +
        } // p
        .controls {
            .event-action {
                @include dotted-link;
                font-size: rem(14);
                color: #000;
            } // event-action
        } // controls
    } // content
} // main-activity-item
