.app-form-box {
    // display: none;
    margin-top: 0px;
    margin-bottom: 40px;
    // animation: show .44s ease-out 1;
    &.after-line {
        margin-top: 40px;
    }
} // app-form-box

.app-basic-form {
    padding: 20px;
    .form-field {
        + .form-field {
            padding-top: 20px;
        } // +
        &.form-pre-label {
            padding-top: 0px !important;
        } // &.form-pre-label
        .custom-select.project {
            margin-right: 10px;
        } // .custom-select.project
        &.description {
            padding-top: 10px !important;
        } // &.description
    } // form-field
    .form-divide {
        height: 1px;
        background: #EDEDED;
        margin-top: 40px;
        margin-bottom: 40px;
    } // form-divide
} // app-basic-form

.appstore {
    .templates {
        .templates-row {
            + .templates-row {
                margin-top: 5px;
            } // +
        }  // templates-row
        .template {
            @include transition(all, 0.2s, ease);
            // background: #EDEDED;
            box-sizing: border-box;
            padding: 12px;
            margin-bottom: 5px;
            border-radius: 1px;
            position: relative;
            cursor: pointer;
            border: 1px solid rgb(202, 202, 202);
            // opacity: .5;
            .name-row {
                // height: 200px;
                .icon-box {
                    text-align: center;
                    .icon {
                        filter: grayscale(100%);
                        width: 80px;
                    } // icon
                }
                .description {
                    h3 {
                        margin: 0;
                        margin-bottom: 10px;
                        font-size: rem(18);
                    } // h3
                    article {
                        margin: 0;
                        line-height: 1.2;
                        ul {
                            @include clear-list;
                        } // ul
                    } // article
                } // description
            } // name-row
            .price-row {
                margin-top: 10px;
                padding-top: 10px;
                border-top: 1px dashed rgb(176, 176, 176);
                .price {
                    text-align: center;
                    font-size: rem(14);
                    .pice-item {
                        @include inline-middle;
                        .int {
                            font-weight: 700;
                        } // int
                        .period {
                            color: #5C5C5C;
                        } // period
                    } // pice-item
                } // price
            } // price-row
            &.state {
                border: 1px solid rgb(62, 171, 84);
                &:after {
                    // content: '\f058';
                    content: '\f00c';
                    font-family: FontAwesome;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: rem(20);
                    text-align: center;
                    background-color: rgb(62, 171, 84);
                    color: #fff;
                    width: 26px;
                    height: 26px;
                    border-radius: 100%;
                    position: absolute;
                    right: -10px;
                    top: -10px;
                } // &:after
                .name-row {
                    .icon-box {
                        .icon {
                            filter: none;
                        } // icon
                    } // icon-box
                } // name-row
                .price {
                    .int {
                        color: rgb(67, 152, 58);
                    } // int
                } // price
            } // state
        } // template
    } // templates
} // appstore

.appstore-templates {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-left: -10px;
    margin-right: -10px;
    .appstore-template {
        width: calc(33.3333% - 20px);
        display: flex;
        align-items: center;
        padding: 10px;
        margin: 10px;
        border: 1px solid rgb(202, 202, 202);
        position: relative;
        cursor: pointer;
        &.state {
            border: 1px solid rgb(62, 171, 84);
            &:after {
                // content: '\f058';
                content: '\f00c';
                font-family: FontAwesome;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: rem(20);
                text-align: center;
                background-color: rgb(62, 171, 84);
                color: #fff;
                width: 26px;
                height: 26px;
                border-radius: 100%;
                position: absolute;
                right: -10px;
                top: -10px;
            } // &:after
        } // &.state
        .icon {
            // display: flex;
            width: 80px;
            text-align: center;
        } // icon
        .description {
            // display: flex;
            width: calc(100% - 80px);
            box-sizing: border-box;
            padding-left: 10px;
            h3 {
                margin: 0;
                font-size: rem(18);
            } // h3
            article {
                margin: 0;
                line-height: 1.2;
                ul {
                    @include clear-list;
                    li + li {
                        margin-top: 10px;
                    } // li + li
                    &.hardware {
                        [class^="flaticon-"] {
                            margin-right: 10px;
                            &:before {
                                font-size: rem(16);
                            } // &:before
                        } // [class^="flaticon-"]
                    } // &.hardware
                } // ul
            } // article
        } // description
    } // appstore-template
} // appstore-templates
