.app-footer {
    background-color: #565656;
    color: white;
    box-sizing: border-box;
    @include property(font-size, 15);
    @include property(height, 50);
    @include property(padding-top, 13);
    width: 100%;
    a {
        color: white;
        text-decoration: none;
    } // a
    .copy {
        float: left;
    } // copy
    .footer-nav {
        float: right;
        @include clear-list-inline;
        li + li {
            &:before {
                @include inline-middle;
                content: '|';
                opacity: 0.4;
                @include property(margin, 0 10);
            }
        }
    } // footer-nav
} // app-footer

.app-footer-fixed {
    position: absolute;
    bottom: 0;
} // &.fixed
