.appstore-templates {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    .appstore-template {
        -webkit-box-shadow: 0px 2px 2px 0px #ededed;
        -moz-box-shadow:    0px 2px 2px 0px #ededed;
        box-shadow:         0px 2px 2px 0px #ededed;
        border-radius: 0px;
        width: calc(33.3333% - 20px);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px;
        margin: 10px;
        border: 1px solid rgb(202, 202, 202);
        position: relative;
        cursor: pointer;
        background: #fff;
        &.no-active {
            opacity: 1;
        } // &.no-active
        &.half {
            width: calc(50% - 20px);
        } // half
        &.full {
            width: calc(100% - 20px);
        } // full
        @include bp(xs) {
            width: calc(100% - 20px);
        } // xs
        @include bp(sm) {
            width: calc(100% - 20px);
        } // sm
        &.state {
            border: 1px solid rgb(62, 171, 84);
            &:after {
                // content: '\f058';
                content: '\f00c';
                font-family: FontAwesome;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                @include property(font-size, $big-font);
                text-align: center;
                background-color: rgb(62, 171, 84);
                color: #fff;
                width: 18px;
                height: 18px;
                border-radius: 100%;
                position: absolute;
                left: 50%;
                margin-left: -9px;
                bottom: -9px;
                line-height: 19px;
                font-size: 12px;
            } // &:after
        } // &.state
        .icon {
            // display: flex;
            width: 45px;
            text-align: center;
            &.azure, &.gitlab, &.oracle {
                width: 150px;
                margin: 0px auto;
            }
        } // icon
        .description {
            // display: flex;
            width: calc(100% - 80px);
            box-sizing: border-box;
            text-align: center;
            margin-left: 10px;
            &.azure, &.gitlab, &.oracle {
                display: none;
            }
            &.full {
                width: 100%;
            } // &.full
            &.top {
                align-self: flex-start;
            } // &.top
            .col {
                padding: 15px 10px;
            } // .col
            &.bottom-price {
                margin-top: 20px;
                border-top: 1px solid rgb(202, 202, 202);
                width: calc(100% + 20px);
                margin-left: -10px;
                margin-right: -10px;
                padding-top: 10px;
                text-align: center;
            } // &.bottom-price
            h3 {
                margin: 0;
                @include property(font-size, $big-font);
                &.small {;
                    @include property(font-size, $small-font);
                } // &.small
            } // h3
            article {
                margin: 0;
                line-height: 1.2;
                ul {
                    @include clear-list;
                    li + li {
                        margin-top: 10px;
                    } // li + li
                    &.hardware {
                        [class^="flaticon-"] {
                            margin-right: 10px;
                        } // [class^="flaticon-"]
                    } // &.hardware
                } // ul
            } // article
        } // description
    } // appstore-template
} // appstore-templates
.appstore-wrapper {
    padding-right: 320px;
    position: relative;
    @include bp(xs) {
        padding-right: 0;
    } // xs
    .appstore-content {
        h2 {
            font-weight: bold;
            font-size: 16px;
            color: $dashboard-green;
            text-transform: uppercase;
            margin-top: 20px;
            margin-bottom: 12px;
        }
        section {
            padding-bottom: 20px;
            .appstore-template {
                height: 110px;
                text-align: center;
                display: table;
                padding-top: 25px;
                position: relative;
                font-size: 16px;
                font-weight: bold;
                &.gitlab {
                    h3 {
                        display: none;
                    }
                    .icon {
                        width: 150px;
                    }
                }
                &.oracle {
                    @extend .gitlab;
                    .icon {
                        padding-top: 15px;
                    }
                }
                span {
                    display: none;
                    width: 93%;
                    color: #ccc;
                    font-size: 14px;
                    position: absolute;
                    bottom: 10px;
                    &.compare-active {
                        color: $dashboard-green;
                    }
                }

                .icon{
                    display: inline-block;
                    position: relative;
                    height: 45px;
                    &.unique-icon {
                        width: 150px;
                    }
                    img{
                        display: inline;

                    }

                }
                h3 {
                    display: inline;
                    font-weight: bold;
                    font-size: 16px;
                    padding-left: 10px;
                }

            }
            .step-title {
                position: relative;
                text-align: center;
                font-size: 16px;
                color: $dashboard-green;
                font-weight: bold;
                margin-bottom: 23px;
                border-bottom: 1px solid $dashboard-green;
                height: 12px;
                span {
                    background-color: $main-background-color;
                    padding: 0 15px;
                    &.service-name {
                        text-transform: uppercase;
                        padding: 0;
                    }
                }
            }
            &.step-2 {
                .appstore-template {
                    padding-top: 30px;
                    span {
                        width: 100%;
                        color: #333;
                        font-weight: normal;
                        position: static;
                        margin-top: -7px;
                    }
                }
            }
            &.step-3 {
                .step-title {
                    &:before {
                        width: 25%;
                    }
                    &:after {
                        width: 25%;
                    }
                }
                &.agreement {
                    .step-content {
                        font-weight: bold;
                        ul {
                            list-style:none;
                            padding: 0;
                            li {
                                .item-title {
                                    margin-bottom: 10px;
                                }
                                .bold {
                                    margin-top: 20px;
                                    margin-bottom: 20px;
                                    margin-left: 15px;
                                    display: block;
                                }
                                ul {
                                    margin-left: 15px;
                                    margin-bottom: 20px;
                                    li {
                                        .item-name {
                                            float: left;
                                            width: 175px;
                                        }
                                        .item-value {
                                            font-weight: normal;
                                            float: left;
                                        }
                                    }
                                }
                                .conditions {
                                    height: 175px;
                                    background: #fff;
                                    overflow: scroll;
                                    margin: 20px 0;
                                    padding: 15px;
                                    font-weight: normal;
                                }
                            }
                        }
                    }
                }
            }
            form {
                .string-field {
                    width: 100%;
                    label {
                        display: block;
                        font-size: 16px;
                        font-weight: bold;
                        color: #000;
                    }
                    input[type="text"] {
                        width: 100%;
                        height: 32px;
                        border-radius: 3px;
                    }
                }
                .integer-field {
                    width: 200px;
                    label {
                        display: block;
                        font-size: 16px;
                        font-weight: bold;
                        color: #000;
                    }
                    input[type="number"] {
                        width: 100%;
                        height: 32px;
                        border: 1px solid #D8D8D8;
                        box-shadow: none;
                        padding: 5px 10px;
                    }
                }
            }
            .operating-system {
                margin-top: 30px;
                .tabs-wrapper {
                    margin-top: 30px;
                    position: relative;
                    padding-left: 170px;
                    .tabs-links {
                        position: absolute;
                        left: 0;
                        top: 0;
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        display: block;
                        width: 170px;
                        z-index: 1;
                        li {
                            height: 47px;
                            line-height: 49px;
                            cursor: pointer;
                            display: block;
                            width: 170px;
                            padding-left: 14px;
                            &.active {
                                background: #fff;
                                font-weight: 600;
                                -webkit-box-shadow: -1px 1px 2px 0px #ededed;
                                -moz-box-shadow:    -1px 1px 2px 0px #ededed;
                                box-shadow:         -1px 1px  2px 0px #ededed;
                            }
                        }
                    }
                    .tabs-content {
                        padding: 24px 15px;
                        background: #fff;
                        position: relative;
                        overflow: auto;
                        height: 141px;
                        box-sizing: border-box;
                        -webkit-box-shadow: -1px 1px 2px 0px #ededed;
                        -moz-box-shadow:    -1px 1px 2px 0px #ededed;
                        box-shadow:         -1px 1px  2px 0px #ededed;
                        ul {
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            li {
                                width: 120px;
                                text-align: center;
                                float: left;
                                cursor: pointer;
                                border:1px solid #fff;
                                &.active {
                                    border-color: $dashboard-green;
                                }
                                .icon {
                                    width: 70px;
                                    height: 57px;
                                    position: relative;
                                    margin: 0 auto;
                                    img {
                                        display: inline;
                                    }
                                }
                                span {
                                    margin-top: 10px;
                                    display: block;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
            .configuration {
                margin-top: 30px;
                ul {

                    list-style: none;
                    margin: 0;
                    padding: 0;
                    padding-top: 20px;
                    li {
                        text-align: center;
                        padding: 25px;
                        float: left;
                        width: 165px;
                        margin-right: 8px;
                        background: #fff;
                        border:1px solid #fff;
                        cursor: pointer;
                        height: 125px;
                        box-sizing: border-box;
                        font-weight: bold;
                        &.state {
                            border: 1px solid $dashboard-green;
                            &:after {
                                // content: '\f058';
                                content: '\f00c';
                                font-family: FontAwesome;
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                                @include property(font-size, $big-font);
                                text-align: center;
                                background-color: $dashboard-green;
                                color: #fff;
                                width: 26px;
                                height: 26px;
                                border-radius: 100%;
                                position: absolute;
                                left: 50%;
                                margin-left: -13px;
                                bottom: -13px;
                            } // &:after
                        } // &.state
                        h3 {
                            color: $dashboard-green;
                            font-size: 28px;
                            font-weight: bold;
                            margin: 0;
                        }
                        h4 {
                            font-size: 16px;
                            margin: 0;
                        }
                        span {
                            font-size: 16px;
                        }
                    }
                }
            }
            .keys {
                .appstore-template {
                    height: 80px;
                    margin-top: 20px;
                }
            }
            button {
                margin-top: 15px;
                display: block;
                width: 100%;
                border-radius: 5px;
                background: $button-green;
                text-align: center;
                height: 50px;
                line-height: 50px;
                &.disabled {
                    background: #d7d9d6;
                }
                @include bp(xs) {
                    margin-top: 300px;
                    margin-bottom: -290px;
                } // xs
                img {
                    display: inline;
                    margin-top: 15px;
                    margin-right: 10px;

                }
                span {
                    color: #FFF;
                    font-size: 16px;
                    font-weight: bold;
                }

            }
        }
    }
    .appstore-aside {
        position: absolute;
        right: 0;
        top: 0;
        width: 300px;
        @include bp(xs) {
            position: relative;
            margin-bottom: 100px;
            width: 100%;
        } // xs
        h2 {
            font-weight: bold;
            font-size: 16px;
            color: $dashboard-green;
            text-transform: uppercase;
            margin: 0;
        }
        p {
            margin: 0;
            font-size: 10px;
            color: #9d9f9c;
        }
        .ap-aside-block {
            margin-top: 15px;
            background: #FFF;
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                padding: 15px 25px;
                height: 75px;
                position: relative;
                &:after {
                    content: "";
                    width: 84%;
                    height: 1px;
                    border-bottom: 1px solid #ececec;
                    display: block;
                    position: absolute;
                    bottom: 0;
                }
                .descr {
                    float: left;
                    width: 70%;
                    overflow: hidden;
                    font-size: 16px;
                    text-align: left;
                    span {
                        display: block;
                        width: 180px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                .price {
                    width: 30%;
                    font-weight: bold;
                    line-height: 50px;
                    text-align: right;
                    float: left;
                }
                &.total {
                    font-weight: bold;
                    background: #ececec;
                    margin-top: -1px;
                    .price {
                        font-size: 24px;
                        color: $dashboard-green;
                    }

                }
            }
        }
    }
}

.import-wrapper {
    @extend .appstore-wrapper;
    padding-right: 0;
    .appstore-content {
        section {
            .step-title {
                span {
                    background-color: white;
                }
            }
            &.step-2 {
                .appstore-template {
                    .icon {
                        height: 45px;
                        width: inherit;
                    }
                }
            }
        }
    }
    .appstore-templates {
        .appstore-template {
            .description {
                width: 100%;
                padding-left: 0;
            }
        }
    }
}

.project-alert-message {
    $shadow: 0px 2px 2px 0px #ededed;
    position: fixed;
    top: 40%;
    width: 100%;
    padding: 0 20%;
    p {
        background-color: #ffffff;
        padding: 30px 20px;
        -webkit-box-shadow: $shadow;
        -moz-box-shadow:    $shadow;
        box-shadow:         $shadow;
        position: relative;
        border: 1px solid #cacaca;
        text-align: center;
        span {
            position: absolute;
            top: 5px;
            right: 8px;
            cursor: pointer;
        }
    }
}
