.appstore-dialog {
  .offering-icon {
    position: absolute;
    font-size: 30px;
    top: 15px;
    left: 10px;
    text-align: center;
    width: 40px;
  }
  .list-group-item {
    border-radius: 4px;
    margin-bottom: 15px;
    position: relative;
  }
  .list-group-item-heading {
    margin-top: 5px;
    font-size: 15px;
  }
  .list-group-item-text {
    height: 50px;
    overflow: hidden;
  }
}
