.appstore-checkout {
    @include property(margin-top, 20);
    @include flex;
    flex-wrap: nowrap;
    .content {
        width: calc(100% - 280px);
        box-sizing: border-box;
        padding-right: 40px;
        min-height: 300px;
        .content-block {
            + .content-block {
                @include property(margin-top, 20);
            } // + content-block
        } // content-block
    } // content
    .checkout {
        width: calc(280px);
        padding: 0 20px;
        min-height: 300px;
    } // checkout
    // components
    .price-tag {
        @include property(font-size, $big-font);
        font-weight: 700;
        color: #626262;
        &.state {
            color: #417505;
        } // &.state
    } // price-tag
} // appstore-checkout

.checkout-main {
    @include property(padding, 20);
    background-color: #FDFBE9;
    border-radius: 4px;
    &.fixed {
        position: fixed;
        top: 80px;
    } // &.fixed
    .checkout-block {
        + .checkout-block {
            @include property(margin-top, 20);
        } // + checkout-block
        &.centered {
            text-align: center;
        } // &.centered
    } // checkout-block
    .instance-info {
        line-height: 1.2;
        strong, span {
            display: block;
        } // strong, span
        span {
            color: #B8B7B7;
        } // span
        strong {
            color: black;
        } // strong
    } // instance-info
    .checkout-title {
        border-bottom: 1px solid rgb(216, 216, 216);
        padding-bottom: 20px;
        .active-customer {
            margin-top: 10px;
            span {
                display: block;
                text-align: center;
                line-height: 1.2;
            } // span
        } // active-customer
    } // checkout-title
    .checkout-items {
        .row + .row {
            border-top: 1px solid rgb(216, 216, 216);
            padding-top: 10px;
            margin-top: 10px;
        }
        .col.half {
            width: 50%;
        }
    } // checkout-items
    .checkout-item {
        text-align: left;
        .app-title {
            margin-bottom: 0px;
            @include property(font-size, $small-font);
        } // .app-title
    } // checkout-item
    .checkout-item-price {
        text-align: right;
    } //checkout-item-price
    .decision {
        margin-bottom: 0;
    } // decision
} // checkout-main
