.bold {
  font-weight: bold;
}

.dropdown__container {
  display: inline-block;
  position: relative;
}

.dropdown__menu {
  z-index: 21;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background: #fff;
  left: auto;
  right: 0;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  width: 300px;
  margin-top: 5px;

  &:before {
    position: absolute;
    display: inline-block;
    content: "";
    border: 8px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.15);
    top: -16px;
    left: auto;
    right: 9px;
  }

  &:after {
    position: absolute;
    display: inline-block;
    content: "";
    border: 7px solid transparent;
    border-bottom-color: #fff;
    top: -14px;
    left: auto;
    right: 10px;
  }
}

.dropdown__header {
  border-bottom: 1px solid rgba(200, 200, 200, 0.4);
  padding: 10px;
  font-weight: bold;
  color: #888;
}

.dropdown__content {
  padding: 10px;
  padding-bottom: 0px;
}

.dropdown__action {
  background-image: linear-gradient(#fcfcfc, #eee);
  width: 100%;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 5px 20px;
}

.indicator-button__container {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    .indicator-button__value {
      color: #4078c0;
    }
  }
}

.indicator-button__name {
  font-weight: bold;
  background: linear-gradient(#fcfcfc, #eee);
  display: table-cell;
  padding: 2px 10px;
}

.indicator-button__value {
  display: table-cell;
  background: #fff;
  padding: 2px 10px;
}

.usage-bar {
  margin: 5px 0 15px 0;
  background: #eee;
  width: 100%;
}

.usage-bar__value {
  border-radius: 5px;
  height: 6px;
  background: #999;
}

.usage-row {
  display: flex;
  justify-content: space-between;
}

.usage-row__key {
  flex-grow: 1;
}

.usage-row__value {
  flex-grow: 0;
  flex-shrink: 0;
}

.add-amount {
  padding: 6px;
  input[type='number'] {
    padding: 6px;
    width: 100px;
    height: 31px;
    vertical-align: middle;
    border-radius: 3px;
    border: 1px solid #D8D8D8;
  }
}

.tab-link__item {
  display: flex;
  padding: 10px;
  cursor: pointer;
  color: $text-color;

  &:hover {
    background-color: rgba(255, 255, 255, .5);
    text-decoration: none;
  }

  &.active {
    background: #FFF;
    box-shadow: -2px 2px 2px 0px rgba(237, 237, 237, 1);
    font-weight: bold;
  }
}

.tab-link__key {
  flex: 1;

  .icon {
    display: inline-block;
    width: 25px;
  }
}

.tab-link__content {
  padding: 10px;
}
