[class^="button"] {
    @include transition(all, 0.1s, ease);
}

.inlist-action {
    float: right;
    margin-right: 10px;
} // inlist-action

.button {
    background-color: $button-green;
    @include inline-middle;
    @include property(border-radius, 5);
    @include property(padding, 0 20);
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    height: 32px;
    font-size: 16px;
    line-height: 32px;
    &.dropdown-active {
        background: white;
    } // &.dropdown-active
    &:hover {
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        color: $hover-color;
    } // &:hover
} // button

.button-red {
    background-color: red;
}

.button-support {
    @extend .button;
    padding: 4px;
    font-weight: normal;
    line-height: 19px;
    height: 25px;
    font-size: 14px;

    &.pending {
        border: 1px solid $button-green;
        background-color: white;
        color: $button-green;
        &:hover {
            background-color: $button-green;
            color: white;
        }
        @include bp(xs) {
            margin-right: 5px;
        }
    }
}
.button-cancel {
    @include inline-middle;
    @include property(border-radius, 2);
    @include property(padding, 10 10);
    @include property(padding-top, 12);
    line-height: 1;
    color: #444;
    &.active, &:active, &:hover {
        text-decoration: underline;
    } // &.active, &:active, &:hover

} // button-cancel
.button-apply {
    @extend .button;
    @include inline-middle;
    @include property(border-radius, 2);
    @include property(padding, 10 10);
    @include property(padding-top, 12);
    line-height: 1;
    padding-top: 12px;
    height: 39px;
    font-weight: normal;
} // button-apply
.button-select {
    @include inline-middle;
    @include property(border-radius, 2);
    @include property(padding, 10 10);
    @include property(padding-top, 12);
    line-height: 1;
    background-color: #7db243;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.28);
    border-color: transparent;
    border-bottom: 2px solid #2d6c09;
    color: #fff;
    &.inhome-plans {
        @include property(font-size, $big-font);
        @include property(padding, 6 12);
        @include property(padding-top, 8);
    }
} // button-select
.button-login {
    @include inline-middle;
    @include property(border-radius, 2);
    @include property(padding, 12 15);
    line-height: 1;
    background-color: #7db243;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.28);
    border-color: transparent;
    border-bottom: 2px solid #2d6c09;
    color: #fff;
} // button-select

.button-social {
    @include property(padding, 10 12);
    background-color: transparent;
    text-decoration: none;
    display: block;
    width: 100%;
    border-radius: 2px;
    border-bottom: 2px solid rgba(69, 69, 69, 0.57);
    span {
        &:before {
            @include property(margin-right, 10);
            @include icon-fa;
            @include property(font-size, $big-font);
        } // &:before
    } // span
    &.facebook {
        color: white;
        background-color: #2980b9;
        span {
            &:before {
                content: '\f230';
            } // &:before
        } // span
    } // &.facebook
    &.google {
        color: white;
        background-color: #e74c3c;
        span {
            &:before {
                content: '\f0d4';
            } // &:before
        } // span
    } // &.google
    &.email {
        color: white;
        background-color: #62b651;
        span {
            &:before {
                content: '\f0e0';
            } // &:before
        } // span
    } // &.email
} // button-social

.button-simple {
    @include inline-middle;
    @include property(border-radius, 2);
    @include property(padding, 4 6);
    color: #444;
    line-height: 1;
    text-decoration: none;
    &.in-dropdown {
        @include property(padding, 0 2);
        @include property(font-size, $small-font);
        &:hover {
            background-color: transparent;
        } // &:hover
    } // in-dropdown
    &.active, &:active, &:hover {
        background-color: rgb(223, 223, 223);
    } // &.active, &:active, &:hover
    &.start {} // &.start
    &.restart {} // &.restart
    &.stop {} // &.stop
    &.remove {
        color: #e74c3c;
    } // &.remove
} // button-simple

.button-delete {
    color: #c0392b;
} // button-delete

.button-margin-bottom {
    margin-bottom: 10px;
}

.list-sort {
    text-decoration: none;
    @include inline-middle;
    color: rgb(0, 0, 0);
    font-weight: 700;
} // list-sort

.icon-button {
    @extend .button;
    @include boxshadow(0 2 2 0, #ededed);
    font-weight: normal;
    height: 31px;
    line-height: 0;
    padding: 5px;
    font-size: 0;
    &:before {
        @include icon-fa;
        font-size: 20px;
        height: 20px;
        width: 20px;
        display: inline-block;
        text-align: center;
    }
    &.plus-icon {
        &:before {
            content: "\f067";
        }
    }
    &.remove-icon {
        &:before {
            content: "\f00d";
        }
    }
    &.ok-icon {
        &:before {
            content: "\f00c";
        }
    }
}

.button-tooltip {
    display: inline-block;
}

.button-spinner {
    position: relative;
    &:before {
        @include icon-fa;
        content: "\f110";
        font-size: 20px;
        display: inline-block;
        text-align: center;
        animation-name: preload;
        animation-duration: 600ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        z-index: 100;
        position: absolute;
        left: 50%;
        margin-left: -10px;
        color: #111;
        top: 50%;
        margin-top: -10px;
    }

    @keyframes preload {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }

}
