.checkbox-list__container {
    list-style: none;
    padding: 0px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.checkbox-list__item {
    position: relative;
    padding-left: 60px;
    padding-bottom: 16px;
    padding-top: 16px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    &:last-of-type {
        border-bottom: none;
    }
    label {
        position: absolute;
        top: 50%;
        right: 8px;
        left: 8px;
        z-index: 3;
        margin-top: -21px;
        display: inline-block;
        padding: 7px 7px;
        cursor: pointer;
        font-size: 14px;
        input {
            position: relative;
            width: 28px;
            height: 28px;
            display: block;
            border: 0;
            background: transparent;
            cursor: pointer;
            -webkit-appearance: none;
            float: left;

            &:before {
                display: table;
                width: 100%;
                height: 100%;
                border-width: 1px;
                border-style: solid;
                border-radius: 28px;
                background: #fff;
                content: ' ';
                transition: background-color 20ms ease-in-out;
                border-color: #ddd;
            }
            &:after {
                transition: opacity 0.05s ease-in-out;
                transform: rotate(-45deg);
                position: absolute;
                top: 28%;
                left: 29%;
                display: table;
                width: 10px;
                height: 6px;
                border: 3px solid #fff;
                border-top: 0;
                border-right: 0;
                content: ' ';
                opacity: 0;
            }
            &:checked:before {
                background: #50b848;
                border: none;
            }

            &:checked:after {
                opacity: 1;
            }
        }
    }
}

.checkbox-list__subtitle {
    color: #888;
    @include property(font-size, $small-font);
}
