input[type="text"],
input[type="search"],
input[type="password"] {
    border: 1px solid #D8D8D8;
    box-shadow: none;
    @include property(border-radius, 1);
    @include property(padding, 6 10);
    @include property(font-size, 16);
}

textarea {
    border: 1px solid #D8D8D8;
    box-shadow: none;
    @include property(border-radius, 1);
    @include property(padding, 6 10);
    @include property(font-size, 16);
    width: 100%;
    max-width: 100%;
    &.small {
        width: 250px;
    } // &.small
    &.normal {
        width: 350px;
    } // &.normal
    &.big {
        width: 550px;
    } // &.big
} // textarea

.custom-select {
    border: 1px solid #D8D8D8;
    border-radius: 3px;
    position: relative;
    background: white;
    color: #565656;
    @include inline-middle;
    cursor: pointer;
    line-height: 1;
    &:after {
        @include property(width, 10);
        @include property(height, 10);
        content: '\f0dd';
        position: absolute;
        top: calc(50% - 7px);
        right: 5px;
        font-family: FontAwesome;
        @include property(font-size, 11);
        line-height: 1;
        color: #565656;
    }
    select {
        @include property(padding, 6 10);
        @include property(padding-right, 25);
        cursor: pointer;
        background: transparent;
        -webkit-appearance: none;
        border: none;
        outline: 0;
    } // select
} // custom-select

.checkbox-toggle {
    @include inline-middle;
    position: relative;
    @include no-select;
    &.inline {
        + .checkbox-toggle.inline {
            margin-left: 10px;
        }
    } // &.inline
    label {
        height: 17px;
    }
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
      position: relative;
      padding-right: 40px;
      cursor: pointer;
      @include inline-middle;
    }
    [type="checkbox"] + label:after {
        content: '';
        display: inline-block;
        width: 40px;
        height: 20px;
        border-radius: 3px;
        background: green;
    }
    [type="checkbox"] + label:after {
        position: absolute;
        z-index: 2;
        top: 1px;
        right: 0px;
        content: '';
        @include inline-middle;
        width: 40px;
        height: 21px;
        border-radius: 10px;
        background: rgb(106, 187, 106);
    }
    [type="checkbox"]:checked + label:after {
        background: rgb(106, 187, 106);
    }
    [type="checkbox"] + label:before {
        position: absolute;
        z-index: 3;
        top: 3px;
        right: 4px;
        content: '';
        @include inline-middle;
        width: 16px;
        height: 16px;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px rgba(15, 82, 4, 1);
        background: white;
        @include transition(all, .2s, ease);
    }
    [type="checkbox"]:checked + label:before {
        transform: translate(-16px, 0);
        box-shadow: 0px 0px 4px 0px rgba(15, 82, 4, 1);
    }
} // checkbox-toggle

.checkbox-label {
    @include inline-middle;
    position: relative;
    &.inline {
        + .checkbox-toggle.inline {
            margin-left: 10px;
        }
    } // &.inline
    label {
        height: 17px;
    }
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
      position: relative;
      padding-right: 50px;
      cursor: pointer;
      @include inline-middle;
    }
    [type="checkbox"] + label:after {
        content: '';
        display: inline-block;
        width: 40px;
        height: 20px;
        border-radius: 3px;
        background: green;
    }
    [type="checkbox"] + label:after {
        position: absolute;
        z-index: 2;
        top: 1px;
        right: 0px;
        content: '';
        @include inline-middle;
        width: 40px;
        height: 21px;
        border-radius: 10px;
        background: rgb(106, 187, 106);
    }
    [type="checkbox"]:checked + label:after {
        background: rgb(106, 187, 106);
    }
    [type="checkbox"] + label:before {
        position: absolute;
        z-index: 3;
        top: 3px;
        right: 4px;
        content: '';
        @include inline-middle;
        width: 16px;
        height: 16px;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px rgba(15, 82, 4, 1);
        background: white;
        @include transition(all, .2s, ease);
    }
    [type="checkbox"]:checked + label:before {
        transform: translate(-16px, 0);
        box-shadow: 0px 0px 4px 0px rgba(15, 82, 4, 1);
    }
} // checkbox-label

.checkbox-simple {
    @include inline-middle;
    position: relative;
    &.inline {
        + .checkbox-toggle.inline {
            margin-left: 10px;
        }
    } // &.inline
    label {
        @include inline-middle;
    } // label
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
      position: relative;
      padding-right: 50px;
      cursor: pointer;
      @include inline-middle;
    }
    [type="checkbox"] + label:after {
        content: '';
        display: inline-block;
        width: 40px;
        height: 20px;
        border-radius: 3px;
        background: green;
    }
    [type="checkbox"] + label:after {
        position: absolute;
        z-index: 2;
        top: 1px;
        right: 0px;
        content: '';
        @include inline-middle;
        width: 40px;
        height: 21px;
        border-radius: 10px;
        background: rgb(106, 187, 106);
    }
    [type="checkbox"]:checked + label:after {
        background: rgb(106, 187, 106);
    }
    [type="checkbox"] + label:before {
        position: absolute;
        z-index: 3;
        top: 3px;
        right: 4px;
        content: '';
        @include inline-middle;
        width: 16px;
        height: 16px;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px rgba(15, 82, 4, 1);
        background: white;
        @include transition(all, .2s, ease);
    }
    [type="checkbox"]:checked + label:before {
        transform: translate(-16px, 0);
        box-shadow: 0px 0px 4px 0px rgba(15, 82, 4, 1);
    }
} // checkbox-simple

.contains {
    color: rgb(174, 174, 174);
    strong {
        color: rgb(0, 0, 0);
    } // strong
} // contains

.low-grade {
    opacity: 0.3;
    @include transition(all, .2s, ease);

} // low-grade

.disabled {
    opacity: 0.3;
    pointer-events: none;
    @include transition(all, .2s, ease);
} // low-grade

// errors
.error-list {
    @include clear-list;
    li + li {
        margin-top: 5px;
    }
} // error-list

.error {
    color: white;
    background: rgb(202, 59, 59);
    line-height: 1;
    @include property(font-size, 14);
    @include property(border-radius, 3);
    @include property(margin, 10 0);
    @include property(padding, 4 8);
    &.error-small {
        @include property(font-size, 12);
    } // &.error-small
    &.arrow-down {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            bottom: -4px;
            left: 50%;
            @include property(margin-left, -4);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 4px 0 4px;
            border-color: rgb(202, 59, 59) transparent transparent transparent;
        } // &:after
    } // &.arrow-down
    &.arrow-up {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: -4px;
            left: 50%;
            @include property(margin-left, -4);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 4px 4px 4px;
            border-color: transparent transparent rgb(202, 59, 59) transparent;
        } // &:after
    } // &.arrow-down
} // error

.plus-minus {
    @include inline-middle;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    padding-top: 1px;
    border-radius: 2px;
    color: white;
    background-color: rgb(199, 199, 199);
    &.active {
        background: rgb(55, 55, 58);
    } // &.active
    &:before {
        @include inline-middle;
        @include icon-fa;
    } // &:before
    &.plus {
        &:before {
            content: '\f067';
        } // &:before
    } // &.plus
    &.minus {
        &:before {
            content: '\f068';
        } // &:before
    } // minus
} // plus-minus

.text-label {
    @include inline-middle;
    @include property(padding, 2 4);
    @include property(border-radius, 2);
    &.lightgreen {
        background-color: #9ECF5D;
        color: #fff;
    } // &.lightgreen
} // text-label
