$compact-list-border-color: #e5e5e5;

.mobile-show {
  display: none;
  @include bp(xs) {
    display: initial;
  }
  @include bp(sm) {
    display: initial;
  }
}

.mobile-hide {
  display: initial;
  @include bp(xs) {
    display: none;
  }
  @include bp(sm) {
    display: none;
  }
}

.xs-show {
  display: none;
  @include bp(xs) {
    display: initial;
  }
}

.xs-hide {
  display: initial;
  @include bp(xs) {
    display: none;
  }
}

.compact-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.compact-list__item {
  position: relative;
  border: 1px solid $compact-list-border-color;
  margin: 10px 0px;
  border-radius: 4px;
}

.compact-list__header {
  padding: 5px;

  &.background {
    background: $select-bg-gray;
  }
}

.compact-list__title {
  padding-left: 10px;
  padding-right: 25px;
}

.compact-list__title a {
  color: #4078c0;
}

.compact-list__right {
  position: absolute;
  top: 0;
  right: 0px;
  margin-top: -6px;
  .expandable-indicator {
    top: 10px;
  }
}

.compact-list__details {
  padding-left: 15px;
  border-top: 1px solid $compact-list-border-color;
  padding-top: 10px;
}

.compact-list__action-list {
  padding-bottom: 5px;

  @include bp(xs) {
    padding-left: 0px;
    padding-bottom: 0px;
    border-top: 1px solid $compact-list-border-color;
    border-radius: 0px;
  }
}

.compact-list__action-item {
  padding: 10px 0px;

  a {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid $compact-list-border-color;
    border-radius: 5px;
    margin: 5px;
    margin-left: 0;

    @include bp(xs) {
      display: block;
      padding: 10px;
      border: none;
      border-bottom: 1px solid $compact-list-border-color;
      border-radius: 0px;
      margin: 0px;
    }
  }

  &:last-of-type a {
    @include bp(xs) {
      border-bottom: none;
    }
  }

  .disabled {
    opacity: 1;
    color: $gray-label;
  }

  .remove {
    color: $destructive-color;

    &.disabled {
      color: $gray-label;
    }
  }
}
