.mobile-show {
    display: none;
    @include bp(xs) {
        display: block;
    }
    @include bp(sm) {
        display: block;
    }
}

.mobile-hide {
    display: block;
    @include bp(xs) {
        display: none;
    }
    @include bp(sm) {
        display: none;
    }
}

.compact-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.compact-list__item {
  padding: 6px 60px 6px 35px;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  margin: 10px 0px;
}

.compact-list__icon {
  float: left;
  margin-left: -25px;
  margin-top: 2px;
  font-size: 17px;
}

.compact-list__title {
  font-weight: bold;
  font-size: 14px;
}

.compact-list__title a {
  text-decoration: none;
  color: #4078c0;
}

.compact-list__description {
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  font-size: 14px;
}

.compact-list__right {
  position: absolute;
  top: 0;
  right: 10px;
  color: #888;
  margin-top: 7px;
  font-size: 14px;
}

.compact-list__date {
  color: #888;
  font-size: 12px;
}

.events-list{
  .compact-list__item {
    padding: 6px 0px 6px 30px;
  }

  .compact-list__icon {
    margin-left: -23px;
  }
}
