.custom-tabs {
    > ul.custom-tabs-tabs {
        @include clear-list-inline;
        li {
            cursor: pointer;
            @include property(padding, 10 15);
            @include property(border-radius, 3 3 0 0);
            position: relative;
            &.active {
                border: 1px solid rgb(211, 211, 211);
                border-bottom: none;
                border-top: 2px solid rgb(158, 207, 93);
                height: 47px;
                &:before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 3px;
                    background-color: white;
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                } // &:before
            } // &.active
            @include bp(xs) {
                &.active {
                    border: none;
                    border-bottom: 3px solid rgb(158, 207, 93);
                    @include property(border-radius, 0);
                    font-weight: bold;
                    height: 44px;
                } // &.active
            } // xs
            @include bp(sm) {
                &.active {
                    border: none;
                    border-bottom: 3px solid rgb(158, 207, 93);
                    @include property(border-radius, 0);
                    font-weight: bold;
                    height: 44px;
                } // &.active
            } // sm
        } // li
    } // > ul.custom-tabs-tabs
    > section.custom-tabs-tabs-content {
        border-top: 1px solid rgb(211, 211, 211);
        @include property(padding-top, 15);
        .tab {} // tab
        @include bp(sm) {
            border-top: none;
        } // sm
        @include bp(xs) {
            border-top: none;
        } // xs
    } // > section.custom-tabs-tabs-content
} // custom-tabs
