.cost-chart-wrapper {
    .d3-line-chart {
        font: 10px sans-serif;
        display: inline-block;
        ._axis path,
        ._axis line {
            fill: none;
            stroke: lightgrey;
            shape-rendering: crispEdges;
        }
        ._line {
            fill: none;
            stroke: steelblue;
            stroke-width: 1.5px;
        }
        .hover-line {
            stroke-width: 1px;
            stroke: steelblue;
        }
        path.area {
            fill: #e7e7e7;
        }
        .line_total {
            stroke-width: 2px;
            stroke-dasharray: 6, 2;
        }
        .grid .tick {
            stroke: lightgrey;
            opacity: 0.7;
        }
        .grid path {
            stroke-width: 0;
        }
        .plot {
            fill: rgba(250, 250, 255, 0.6);
        }
        .brush .extent {
            stroke: white;
            fill-opacity: 0.125;
            shape-rendering: crispEdges;
        }
    }
    .legend {
        display: inline-block;
        vertical-align: top;
        box-shadow: 1px 1px 7px -2px #666666;
        padding: 10px;
        width: 305px;
        min-width: 305px;
        margin-top: 20px;
        font-size: 13px;
        margin-left: 15px;

        .title {
            font-size: 16px;
        }
        .switch {
            .source-switch {
                display: none;
            }
            label {
                display: inline-block;
                position: relative;
                background: $main-background-color;
                border: 1px solid #ccc;
                height: 25px;
                border-radius: 2px;
                width: 92px;
                z-index: 1;
                color: #333;
                text-align: center;
                line-height: 25px;

                &.on {
                    left: 0;
                    color: #fff;
                    background: $button-green;
                }
            }
        }
        .entities {
            max-height: 340px;
            overflow-y: auto;
            padding-left: 15px;

            li {
                position: relative;
                list-style: none;
                clear: both;
                .entity-value {
                    float: right;
                }
                .entity-name {
                    width: 200px;
                    display: inline-flex;
                    line-height: 14px;
                    margin-right: 0px;
                }
                .point-chart {
                    content: "";
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    background-color: $select-bg-gray;
                    left: -15px;
                    top: 8px;
                    border-radius: 10px;
                }
            }
        }
    }
}