.dashboard-resources-tab {
  .pie-charts-block {
    .chart-element {
      display: inline-block;
      margin: 0 50px;
    }
  }
  .chart-name {
    display: block;
    font-weight: bold;
    margin: 20px 0;
  }
}