.dashboard-resources-tab {
  .pie-charts-block {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;

     @include bp(xs) {
      flex-direction: column;
     }

    .chart-element {
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      min-height: 300px;
      margin: 0;
      margin-right: 20px;
      padding: 15px 5px;
      position: relative;
      text-align: center;
      width: 500px;

      &.active {
        background: #fafafa;
        border: 0;
        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 70px;
          position: absolute;
          bottom: -60px;
          left: 0;
          background: #fafafa;
        }
      }

      .empty-chart-message {
        font-weight: bold;
        margin-top: 50px;
      }
    }
  }
  .chart-name {
    display: block;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .big-chart {
    background: #fafafa;
    margin-top: 50px;
    padding: 10px;
    .chart-name {
      display: block;
      font-weight: bold;
      padding: 20px 0;
      border-bottom: 4px solid;
      font-size: 24px;
      margin-bottom: 20px;
    }

    .empty-chart-message {
      font-weight: bold;
      margin-top: 50px;
    }
  }
}