.decision {
    @include row-centered;
    @include property(margin, 20 0);
    .col {
        position: relative;
        &.select-project {
            width: 100%;
            text-align: center;
            font-weight: bold;
        } // &.select-project
        .single.button-apply {
            padding-left: 100px;
            padding-right: 100px;
        }
    } // col
} // decision
