article.light-description {
    @include property(font-size, 12);
    line-height: 1.2;
    color: rgb(165, 165, 165);
} // light-description


article.normal-description {
    @include property(font-size, 14);
    line-height: 1.4;
    color: rgb(165, 165, 165);
} // light-description
