.details-table__row {
  display: flex;
  padding: 10px;
  padding-left: 0px;
  justify-content: space-between;
}

.details-table__key {
  width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
  color: $gray-label;
  @include bp(xs) {
    width: 100px;
  }
}

.details-table__value {
  flex-grow: 1;
  margin-left: 6px;
  padding: 3px 0px;

  select {
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    height: 32px;
    background: white;
    padding-left: 3px;
  }
}
