.content {
    .editable-wrap {
        display: block;
    }
    .editable-click, a.editable-click {
        text-decoration: none;
        color: black;
        border: none;
        margin: 0px;
        padding: 4px;
    }

    .editable-click:hover, a.editable-click:hover {
        border: 1px solid rgb(216, 216, 216);
        color: black;
        padding: 3px;
        margin: 0px;
    }

    .editable-wrap .editable-controls>input {
        width: 100%;
        margin-bottom: 2px;
    }
}
