.error-card {
  width:30%;
  margin: 5% auto;
}
.error-number {
  font-size: 120px;
  color: #417505;
  text-align: center;
}
.error-text {
  font-size: 30px;
  color: #417505;
  text-align: center;
}