.expand-item {
  .details-expandable {
    display: block;
    margin-left: 15px;
  }
  .title-expandable {
    margin-left: 15px;
    margin-top: 0;
  }

  section {
    min-height: 100px;
  }

  .error-message {
    margin-bottom: 7px;
    border-radius: 6px;
    margin-left: 17px;

    .icon.exclamation-triangle {
      margin-right: 8px;
      color: #990000;
    }
  }
}

.details-expandable .icon {
    margin-left: 10px;
}

.expandable-indicator {
  width: 10px;
  position: absolute;
  color: $dashboard-green;
  right: 15px;
  top: 15px;
}
