.expand-item {
  .details-expandable {
    display: block;
    margin-left: 15px;
  }
  .title-expandable {
    margin-left: 15px;
    margin-top: 0;
  }

  .success-message {
    margin: 10px 0;
    border-radius: 6px;
    padding: 10px;
    color: #3c763d;
    background-color: #dff0d8;
  }
}

.error-message {
  margin: 10px 0;
  border-radius: 6px;
  background-color: #f2dede;
  color: #a94442;
  padding: 10px;
}

.details-expandable .icon {
    margin-left: 10px;
}
