.expandable-indicator {
  position: relative;
  right: 10px;
  top: 0;
  width: 10px;
  &:hover {
    text-decoration: none;
  }
  &:before {
    display: block;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    transform: rotate(0deg);
    transition: all .3s ease-in-out;
  }
  &.opened {
    &:before {
      transform: rotate(180deg);
    }
  }
}
