#flash-messages {
  background-color: #F5F0CA;
  border: 1px solid #E4D5BD;
  margin: 0;
  @include property(padding, 4 12);
  @include property(width, 200);
  @include property(margin-left, -100);
  position: fixed;
  @include property(top, 50);
  left: 50%;
  list-style: none;
  text-align: center;
  li {
    @include property(font-size, 14);
  }
} // #flash-messages
