@font-face {
    font-family: "Flaticon";
    src: url("/static/fonts/flaticons/flaticon.eot");
    src: url("/static/fonts/flaticons/flaticon.eot#iefix") format("embedded-opentype"),
    url("/static/fonts/flaticons/flaticon.woff") format("woff"),
    url("/static/fonts/flaticons/flaticon.ttf") format("truetype"),
    url("/static/fonts/flaticons/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
}.flaticon-cloud179:before {
    content: "\e000";
}
.flaticon-computer33:before {
    content: "\e001";
}
.flaticon-hardware1:before {
    content: "\e002";
}
.flaticon-random:before {
    content: "\e003";
}
