.line-chart-wrapper {
  path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
  }

  .axis {
    shape-rendering: crispEdges;

    &.x {
      line {
        stroke: lightgrey;
      }

      .minor {
        stroke-opacity: .5;
      }

      path {
        display: none;
      }
    }

    &.y {
      line,
      path {
        fill: none;
        stroke: #000;
      }
    }
  }

  .line {
    circle {
      fill: steelblue;
    }
  }

  text {
    &.flash-chart {
      pointer-events: none;
      text-anchor: middle;
      font: 12px sans-serif;
      fill: #4682b4;
      text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
    }
  }

}

.chart-tooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  font: 12px sans-serif;
  color: #fff;
  background: #111;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
  z-index: 999;
}
