.more-details {
    position: relative;
    z-index: 10;
} // more-details

.empty-list-message {
    text-align: center;
}

.list-item {
    @include table;
    padding: 15px 0;
    padding-left: 10px;
    line-height: 1;
    box-sizing: border-box;
    @include bp(xs) {
        padding-left: 0;
        padding-right: 5px;
    } // xs
    @include bp(sm) {
        padding-left: 0;
    } // sm
    .customer-owner-icon {
        width: 60px;
    }
    &.list-header {
        min-height: 40px;
        padding: 5px 0;

        .resource-name {
            width: 250px;
            @include bp(xs) {
                display: none !important;
            } // xs
            @include bp(sm) {
                display: none !important;
            } // sm
        }

        .resource-access {
            @include bp(xs) {
                display: none !important;
            } // xs
            @include bp(sm) {
                display: none !important;
            } // sm
        }
        .state-help-tooltip {
            display: inline-block;
        }
    } // &.list-header
    &.list {
        &:hover,&.selected {
            background-color: $expandable-hover;
        } // &:hover
    }// &.list
    &.resources {
        &.on-desktop {
            @include bp(xs) {
                display: none;
            } // xs
            @include bp(sm) {
                display: none;
            } // sm
        } // &.on-desktop
        &.on-mobile {
            display: none;
            @include bp(xs) {
                @include table;
            } // xs
            @include bp(sm) {
                @include table;
            } // sm
        } // &.on-mobile
    } // &.resources
    &.pointer {
        cursor: pointer;
    } // pointer
    &.no-cursor {
        cursor: default;
    } // &.no-cursor
    > * {
        @include table-cell;
        vertical-align: middle;
        @include property(padding, 0 10);
        &.on-mobile {
            display: none;
            @include bp(xs) {
                @include table-cell;
            } // xs
            @include bp(sm) {
                @include table-cell;
            } // sm
        } // on-mobile
        &:nth-child(1) {
            @include property(padding-left, 10);
        } // &:nth-child(1)
        &:nth-last-child(1) {
            @include property(padding-right, 10);
        } // &:nth-child(1)
        // custom-cells
        &.status {
            width: 20px;
            text-align: left;
        } // &.status
        &.checkbox {
            width: 40px;
            text-align: center;
            @include bp(xs) {
                width: 20px;
                padding: 0;
            } // xs
            @include bp(sm) {
                width: 20px;
                padding: 0;
            } // sm
        } // checkbox-box
        &.expand {
            width: 40px;
            text-align: center;
            &.on-mobile {
                display: none;
                @include bp(xs) {
                    @include table-cell;
                    vertical-align: middle;
                } // xs
                @include bp(sm) {
                    @include table-cell;
                    vertical-align: middle;
                } // sm
            } // &.on-mobile
        } // expand
        &.name {
            a {
                &:hover {
                    text-decoration: underline;
                } // &:hover
            } // a
            .item-title {
                font-weight: 400;
                .subtitle {
                    padding-top: 5px;
                }
            } // item-title
            .subtitle {
                display: block;
                @include property(font-size, $small-font);
                color: #8F8F8F;
                strong {
                    color: black;
                }
                span {
                    padding-left: 10px;
                }
            } // subtitle
        } // &.name
        &.avatar {
            width: 40px;
            text-align: center;
            vertical-align: top;
            @include property(padding, 0);
            .avatar {
                @include property(width, 30);
            } // .avatar
        } // avatar-box
        &.actions {
            @include property(width, 85);
            text-align: right;
            &.switch {
                @include property(width, 280);
                .checkbox-toggle {
                    @include property(top, -3);
                }
            } // &.switch
            .actions-button {
                .button {
                    border: transparent;
                    &.view {
                        &:before {
                            @include icon-fa;
                            content: '\f06e';
                        } // &:before
                    } // &.view
                    &.reopen {
                        &:before {
                            @include icon-fa;
                            content: '\f01e';
                        } // &:before
                    } // &.reopen
                    &.expand {
                        &:before {
                            @include icon-fa;
                            content: '\f06e';
                        } // &:before
                    } // &.expand
                } // button
            } // actions-button
        } // actions-box
        &.ministatus {
            display: none;
            width: 40px;
            @include bp(xs) {
                @include table-cell;
            } // xs
            @include bp(sm) {
                @include table-cell;
            } // sm
        } // &.ministatus
        &.additional-cell {
            &:not(.display-for-mobile){
                @include bp(xs) {
                    display: none;
                } // xs
                @include bp(sm) {
                    display: none;
                } // sm
            }
            &.icon-header {
                font-weight: bold;
                width: 100px;
            }
            &.icon {
                width: 100px;
                padding: 0;
                span {
                    img {
                        width: 25px;
                    }
                }
            }
            &.status-name {
                width: 153px;
            }
            &.statusCircle {
                width: 20px;
                &.support {
                    width: 28px;
                    vertical-align: top;
                }
            }
            &.visual-status {
                width: 65px;
                text-align: center;
                @include bp(xs) {
                    padding-right: 0;
                    text-align: left;
                    width: 20px;
                } // xs
                @include bp(sm) {
                    padding-right: 0;
                    text-align: left;
                    width: 20px;
                } // sm
            }
            &.message {
                width: auto;
                line-height: 1.5;
                white-space: normal;
                @include bp(xs) {
                    display: inline-block;
                } // xs
                @include bp(sm) {
                    display: inline-block;
                } // sm
            }
            &.date {
                color: #929391;
                width: 150px;
                @include bp(xs) {
                    display: inline-block;
                } // xs
                @include bp(sm) {
                    display: inline-block;
                } // sm
            }
            &.service-type {
                width: 120px;
            }
            &.resources-count {
                width: 91px;
                text-align: center;
            }
            &.sla-info {
                width: 100px;
            }
            &.shared-filed {
                width: 100px;
                text-align: center;
            }
            .bool-field {
                color: $link-color;
            }
            &.resource-name {
                width: 250px;
                @include bp(xs) {
                    width: 100%;
                    display: block;
                } // xs
                @include bp(sm) {
                    width: 100%;
                    display: block;
                } // sm
            }
            &.resource-access {
                @include bp(xs) {
                    display: inline-block;
                    margin-top: 5px;
                    font-size: 10pt;
                } // xs
                @include bp(sm) {
                    display: inline-block;
                    margin-top: 5px;
                    font-size: 10pt;
                } // sm
            }
            &.pdf-icon {
                width: 30px;
            }
            .help-icon {
                position: absolute !important;
                width: 110px;
                @include bp(xs) {
                    width: 70px;
                }
                height: 100%;
                display: inline-block;
                &:before {
                    display: none;
                }
                span.help-text {
                    color: #fff !important;
                }
            }
            &.reduce-cell-width {
                width: 40%;
            }
        } // &.additional-cell
        .more-details {
            @include property(margin-left, 10);
            text-decoration: none;
        } // more-details
    } // > div
    .field-description {
        color: #50b848;
        font-size: 14px;
    }
} // list-item

.list-page {
    .list-box {
        position: relative;
        .list-cache-reset {
            top: -69px;
            right: 20px;
        }
    }
}

.button-wrap-center {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
    .button-green {
        margin-top: 15px;
        margin-bottom: 15px;
        display: block;
        width: 100%;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background: #50b848;
        text-align: center;
        height: 50px;
        line-height: 50px;
        span {
            color: #FFF;
            font-size: 16px;
            font-weight: bold;
        }
    }
}

.tab-title {
    padding-right: 5px;
}

.list-help-button .button {
    padding: 0px 12px;
}
