.more-details {
    position: relative;
    z-index: 10;
} // more-details

.list-item {
    @include table;
    @include property(font-size, 16);
    padding: 15px 0;
    padding-left: 10px;
    line-height: 1;
    min-height: 70px;
    box-sizing: border-box;
    &.list-header {
        min-height: 40px;
        padding: 5px 0;
    } // &.list-header
    &.list {
        &:hover {
            background-color: #FFFAE5;
        } // &:hover
    }// &.list
    &.resources {
        &.on-desktop {
            @include bp(xs) {
                display: none;
            } // xs
            @include bp(sm) {
                display: none;
            } // sm
        } // &.on-desktop
        &.on-mobile {
            display: none;
            @include bp(xs) {
                @include table;
            } // xs
            @include bp(sm) {
                @include table;
            } // sm
        } // &.on-mobile
    } // &.resources
    &.pointer {
        cursor: pointer;
    } // pointer
    &.no-cursor {
        cursor: default;
    } // &.no-cursor
    > * {
        @include table-cell;
        vertical-align: middle;
        @include property(padding, 0 10);
        // flex: 1 1 0%;
        &:nth-child(1) {
            @include property(padding-left, 10);
        } // &:nth-child(1)
        &:nth-last-child(1) {
            @include property(padding-right, 10);
        } // &:nth-child(1)
        // custom-cells
        &.status {
            width: 20px;
            text-align: left;
            padding: 0;
        } // &.status
        &.checkbox {
            width: 40px;
            text-align: center;
        } // checkbox-box
        &.expand {
            width: 40px;
            text-align: center;
            &.on-mobile {
                display: none;
                @include bp(xs) {
                    @include table-cell;
                    vertical-align: middle;
                } // xs
                @include bp(sm) {
                    @include table-cell;
                    vertical-align: middle;
                } // sm
            } // &.on-mobile
        } // expand
        &.name {
            a {
                &:hover {
                    text-decoration: underline;
                } // &:hover
            } // a
            .item-title {
                font-weight: 400;
            } // item-title
            .subtitle {
                display: block;
                margin-top: 6px;
                @include property(font-size, 14);
                color: #8F8F8F;
            } // subtitle
        } // &.name
        &.avatar {
            width: 40px;
            text-align: center;
            @include property(padding, 0);
            .avatar {
                @include property(width, 30);
            } // .avatar
        } // avatar-box
        &.actions {
            @include property(width, 120);
            text-align: right;
            &.switch {
                @include property(width, 280);
                .checkbox-toggle {
                    @include property(top, -3);
                }
            } // &.switch
            .actions-button {
                .button {
                    border: transparent;
                    background-color: #EAEAEA;
                    color: #949494;
                    &.active,
                    &:hover {
                        color: #000;
                    } // &.active, &:hover
                    &.view {
                        &:before {
                            @include icon-fa;
                            content: '\f06e';
                        } // &:before
                    } // &.view
                    &.reopen {
                        &:before {
                            @include icon-fa;
                            content: '\f01e';
                        } // &:before
                    } // &.reopen
                } // button
            } // actions-button
        } // actions-box
        &.ministatus {
            display: none;
            width: 40px;
            @include bp(xs) {
                @include table-cell;
            } // xs
            @include bp(sm) {
                @include table-cell;
            } // sm
        } // &.ministatus
        &.additional-cell {
            @include bp(xs) {
                display: none;
            } // xs
            @include bp(sm) {
                display: none;
            } // sm
        } // &.additional-cell
        .more-details {
            @include property(margin-left, 10);
            text-decoration: none;
        } // more-details
    } // > div
} // list-item
