.list-blocks {
    @include clear-list-inline;
    li + li {
        margin-left: 10px;
    } // li + li
    li {
        border: none !important;
    } // li
} // list-blocks
.list-blocks-support {
    @include clear-list-inline;
    .support-answer {
        padding-left: 100px;
    }
}
