.list-cache-reset {
  float: right;
  a {
    display: inline-block;
    background-color: $dashboard-green;
    @include property(border-radius, 3);
    @include boxshadow(0 2 2 0, #ededed);
    color: #ffffff;
    line-height: 0;
    padding: 5px;
    font-size: 0;
    &:before {
      @include icon-fa;
      content: "\f021";
      font-size: 20px;
      height: 20px;
      width: 20px;
      display: inline-block;
      text-align: center;
    }
    &.processing {
      &:before {
        animation-name: spin;
        animation-duration: 600ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        z-index: 100;
      }
    }
  }
  @keyframes spin {
    from {
      transform:rotate(0deg);
    }
    to {
      transform:rotate(360deg);
    }
  }
}

