.list-item-details {
    @include clearfix;
    background-color: #F2F2F2;
    @include property(padding, 10);
    @include property(padding-left, 50);
    @include property(font-size, 16);
    &.opened {
        display: block;
    } // &.opened
    > section.half {
        + section.half {
            @include property(margin-top, 0);
            @include property(padding-bottom, 10);
            border-top: none;
        }
        width: 50%;
        float: left;
        &:nth-child(2n+1) {
            &:after {
                clear: both;
            } // &:after
        } // &:after {}
        @include bp(xs) {
            width: 100%;
            float: none;
        } // xs
        @include bp(sm) {
            width: 100%;
            float: none;
        } // sm
    } // > section.half
    > section {
        + section {
            @include property(margin-top, 10);
            @include property(padding-top, 10);
            border-top: 1px solid rgb(205, 205, 205);
        }
        > header {
            @include property(margin-bottom, 10);
        } // > header
        > ul {
            @include clear-list;
            > li {
                @include property(padding, 4 0);
                + li {
                    border-top: 1px dashed rgba(205, 205, 205, 0.5);
                } // + li
            } // li
        } // > ul
        .item-list {
            @include table;
            > section {
                @include table-cell;
            }
            a {
                text-decoration: none;
            } // a
        } // item-list
    } // > *
} // list-item-details
