.mobile-menu-side {
    width: 270px;
    height: calc(100% - 50px);
    box-sizing: border-box;
    overflow-y: scroll;
    position: fixed;
    @include property(top, 50);
    background-color: #4fb547;
    z-index: 14;
    box-shadow: 3px 0px 4px 0px rgba(0,0,0,0.32);
    .nav-list-side {
        > li {
            > a {
                color: #ffffff;
            }
        }
    }
    @include bp(xs) {
        &.active {
            display: block;
        } // &.active
    } // xs
    @include bp(md) {
        display: none;
    } // md
    @include bp(lg) {
        display: none;
    } // lg
} // mobile-menu-side
