@charset "UTF-8";

.nav-list {
    $navListBackgroundColor: #409a3c;
    @include clear-list-inline;
    @include clearfix;
    &.views {
        position: relative;
    }
    &.in-home {
        > li {
            > a {
                color: #1F3305;
                &:hover {
                    color: $hover-color;
                    text-decoration: underline;
                }
                &.active {
                    color: #1F3305;
                    background-color: #f7f7f7;
                } // &.active
            } // > a
        } // > li
    } // &.in-home
    &.views {
        float: left;
    } // &.views
    &.context {
        float: right;
    } // &.context
    &.mobile {
        display: none;
        float: right;
        @include bp(xs) {
            display: block;
        } // xs
    } // &.mobile
    > li {
        float: left;;
        &.logo-box {
            position: absolute;
            left: -15px;
            z-index: 1;
            @include bp(xs) {
                display: none;
            } // xs
            @include bp(sm) {
                display: none;
            } // sm
            @include bp(md) {
                display: none;
            } // md
        } // logo-box
        &:not(.logo-box):not(.mobile-trigger):not(.customers):not(.project-dropdown):not(.user-dropdown) {
            @include bp(sm) {
                display: none;
            } // xs
        }
        &:not(.logo-box):not(.mobile-trigger):not(.customers):not(.project-dropdown) {
            @include bp(xs) {
                display: none;
            } // xs
        }
        &.dashboard-menu-item {
            @include bp(sm) {
                margin-right: 20px;
            } // sm
            @include bp(md) {
                margin-right: 20px;
                padding-left: 45px;
            } // md
            background-color: $navListBackgroundColor;
            position: relative;
            $padding: 85px;
            padding-left: $padding;
            margin-left: 25-$padding;
            &:after {
                content: "";
                width: 0;
                height: 0;
                border: 25px solid transparent;
                border-left-color: $navListBackgroundColor;
                border-right: 0;
                position: absolute;
                left: 100%;
                top: 0;
                z-index: 1;
            }
        }
        &.mobile-trigger {
            display: none;
            @include bp(xs) {
                display: block;
            } // xs
            @include bp(sm) {
                display: block;
            } // xs
        } // .mobile-trigger
        &.node-conductor {
            display: none;
            h2 {
                @include inline-middle;
                @include property(font-size, $big-font);
                @include property(padding-top, 16);
                margin: 0;
            } // h2
            @include bp(xs) {
                display: block;
            } // xs
        } // &..node-conductor
        &.dropdown {
            position: relative;
            > a {
                &:after {
                    z-index: 12;
                    content: '';
                    display: block;
                    position: absolute;
                    border: 5px solid transparent;
                    border-top-color: #fff;
                    right: 3px;
                    bottom: 16px;
                } // &:after
            }
        } // &.dropdown
        &.add-something {
            @include bp(sm) {
                display: none;
            } // sm
            @include bp(md) {
                display: none;
            } // md
            @include bp(lightmd) {
                display: none;
            } // lightmd
            a {
                &:after {
                    border-width: 0;
                }
            }
        } // &.add-something
        &.customer-support {
            @include bp(sm) {
                display: none;
            } // sm
            @include bp(md) {
                display: none;
            } // md
        } // &.customer-support
        &.customers {
            $backgroundColor: #4fb547;
            background-color: $backgroundColor;
            padding-left: 20px;
            @include bp(md) {
                padding-left: 0;
            } // md
            @include bp(xs) {
                padding-left: 0;
                a {
                    padding-left: 0;
                    padding-right: 0;
                    &:after {
                        right: -10px;
                    }
                    &.customer-context {
                        .customer-name {
                            max-width: 105px;
                        }
                    }
                }
            } // md
            @include bp(sm) {
                a {
                    &:after {
                        right: -10px;
                    }
                }
            }
            &:after {
                content: "";
                width: 0;
                height: 0;
                border: 25px solid transparent;
                border-left-color: $backgroundColor;
                border-right: 0;
                position: absolute;
                left: 100%;
                top: 0;
                z-index: 1;
            }
        } // &.customers

        > a {
            @include property(padding, 0 15);
            @include property(padding-top, 13);
            @include property(height, 50);
            display: block;
            color: #ffffff;
            text-decoration: none;
            @include bp(sm) {
                @include property(padding, 0 10);
                @include property(padding-top, 13);
            } // sm
            @include bp(md) {
                @include property(padding, 0 15);
                @include property(padding-top, 13);
            } // md
            &.active {
                color: $hover-color;
                position: relative;
                &:not(.drop-active) {
                    span {
                        border-bottom: 1px solid $hover-color;
                    }
                }
                &.drop-active {
                    &:after {
                        border-top-color: transparent;
                        border-bottom-color: $hover-color;
                        bottom: 19px;
                    }
                }
                &:hover {
                    &:after {
                        border-top-color: transparent;
                        border-bottom-color: $hover-color;
                    }
                }
            } // &.active
            &:hover {
                $color: $hover-color;
                color: $color;
                &:not(.drop-active) {
                    span {
                        border-bottom: 1px solid $color;
                    }
                }
                > span {
                    color: $color;
                }
                .customer-name {
                    color: $color;
                }
                .active-context {
                    color: $color;
                }
                &:after {
                    border-top-color: $color;
                }
            }
            .active-context {
                &:hover {
                    text-decoration: underline;
                }
            }
            &.support {
                @include inline-middle;
                width: 20px;
                height: 20px;
                background-color: #409a3c;
                border-radius: 100%;
                padding: 0;
                position: relative;
                top: 10px;
                margin: 0 5px;
                color: white;
                &:hover, &.active {
                    color: $hover-color;
                } // &:hover, &.active
                &:before {
                    @include icon-fa;
                    content: '\f128';
                    @include property(ont-size, $extra-small-font);
                    position: absolute;
                    top: 6px;
                    left: 8px;
                } // &:before
            } // &.support
            &.logo {
                @include property(width, 50);
                @include property(height, 50);
                @include property(background-size, 40 40);
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-image: url('/static/images/logo.png');
            } // &.logo
            &.customer-context {
                @include property(padding-top, 7);
                span {
                    display: block;
                    line-height: 1;
                } // span
                .customer-name {
                    max-width: 140px;
                    height: 18px;
                    @include bp(md) {
                        max-width: 130px;
                    } // md
                    @include elipsis;
                } // customer-name
                .active-context {
                    @include property(font-size, $extra-small-font);
                } // active-context
            } // &.customer-context
            &.project-context {
                @extend .customer-context;
            }
            &.support {
                @include inline-middle;
                width: 22px;
                height: 22px;
                background-color: #409a3c;
                border-radius: 100%;
                padding: 0;
                position: relative;
                top: 13px;
                margin: 0 5px;
                color: white;
                &:hover, &.active {
                    color: $hover-color;
                } // &:hover, &.active
                &:before {
                    @include icon-fa;
                    content: '\f128';
                    font-size: 18px;
                    position: absolute;
                    top: 2px;
                    left: 6px;
                } // &:before
            } // &.support
            &.user-area {
                &:after {
                    @include bp(sm) {
                        display: none;
                    } // sm
                }
                @include property(padding-top, 5);
                .user-name {
                    @include elipsis;
                    max-width: 180px;
                    display: inline-block;
                    position: relative;
                    @include property(top, 10);
                    @include property(margin-left, 5);
                    @include bp(sm) {
                        display: none;
                    } // sm
                    @include bp(md) {
                        max-width: 160px;
                    } // md
                } // user-name
            } // &.user-area
            &.service {
                &:before {
                    position: relative;
                    @include property(top, -1);
                    @include property(margin-right, 5);
                    @include inline-middle;
                    @include icon-fa;
                    content: '\f0c2';
                    transform: translate(1.1, 1.1);
                } // &:before
            } // &.service
            &.lang {
                display: inline-block;
                background-color: #409a3c;
                padding: 4px;
                margin: 0px 5px;
                top: 13px;
                position: relative;
                border-radius: 3px;
                height: auto;
                line-height: 1;
                @include property(font-size, $small-font);
                &:after {
                    border-width: 0;
                }
            } // &.lang
            &.appstore {
                position: relative;
                text-transform: uppercase;
                &:not(.active) {
                    color: #fff200;
                }
            } // &.appstore
            &.user {
                &:before {
                    position: relative;
                    @include property(top, -1);
                    @include property(margin-right, 5);
                    @include inline-middle;
                    @include icon-fa;
                    content: '\f007';
                    transform: translate(1.1, 1.1);
                } // &:before
            } // invite-user
            &.mobile-trigger-link {
                @include property(padding-top, 12);
                @include property(font-size, 24);
            } // &.mobile-trigger-link
        } // > a
        &.project-dropdown {
            $backgroundColor: #8dc63f;
            background: $backgroundColor;
            padding-left: 20px;
            margin-right: 20px;
            @include bp(xs) {
                margin-right: 0;
                a {
                    &.project-context {
                        padding-left: 7px;
                        padding-right: 0;
                        .customer-name {
                            max-width: 105px;
                        }
                    }
                    &:after {
                        right: -10px;
                    }
                }
            }
            @include bp(sm) {
                a {
                    &:after {
                        right: -10px;
                    }
                }
            }

            &:after {
                content: "";
                width: 0;
                height: 0;
                border: 25px solid transparent;
                border-left-color: $backgroundColor;
                border-right: 0;
                position: absolute;
                left: 100%;
                top: 0;
                z-index: 1;
            }
        }
    } // > li
    &.initial {
        &.context {
            li {
                &.logout-box {
                    @include bp(xs) {
                        display: block;
                    }
                    @include bp(sm) {
                        display: block;
                    }
                    @include bp(md) {
                        display: block;
                    }
                }
            }
        }
        .logo-box {
            @include bp(xs) {
                display: block;
            }
            @include bp(sm) {
                display: block;
            }
            @include bp(md) {
                display: block;
            }
            $padding: 50px;
            padding-left: $padding;
            margin-left: -$padding;
            background-color: #409a3c;
        }
        .logout {
            @include bp(xs) {
                display: block;
            }
            &:after {
                content: "✕";
                margin-left: 10px;
            }
        }
    }
} // nav-list
header.s-student.app-header.site {
    background: none;
    height: 90px;
    >nav {
        >ul {
            >li {
                >a.logo {
                    height: 90px;
                    width: 70px;
                    background-size: contain;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-image: url('/static/images/logo-s.png');
                }
            }
        }
    }

}
