.nav-list-side {
    @include clear-list;
    @include clearfix;
    &:not(:last-child) {
        > li {
            &:not(:last-child) {
                > a {
                    border-bottom: 1px solid #47a340;
                }
            }
        }
    }
    > li {
        &.dropdown {
            position: relative;
        } // &.dropdown
        &.add-something {
            @include bp(sm) {
                display: none;
            } // sm
            @include bp(md) {
                display: none;
            } // md
        } // &.add-something

        > a {
            @include property(margin, 0 20);
            @include property(padding-top, 10);
            @include property(height, 50);
            display: block;
            color: #1F3305;
            text-decoration: none;
            &.active {
                color: white;
                position: relative;
                span {
                    border-bottom: 1px solid white;
                }
                &.drop-active {
                    &:after {
                        z-index: 12;
                        content: '';
                        display: block;
                        position: absolute;
                        background-color: #76ae2c;
                        width: 12px;
                        height: 12px;
                        bottom: -6px;
                        left: 50%;
                        margin-left: calc(-12px / 2);
                        transform: rotate(45deg);
                    } // &:after
                } // &.drop-active
            } // &.active
            &.logo {
                @include property(width, 50);
                @include property(height, 50);
                @include property(background-size, 40 40);
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-image: url('/static/images/logo.png');
            } // &.logo
            &.customer-context {
                @include property(padding-top, 12);
                span {
                    display: block;
                    line-height: 1;
                } // span
                .customer-name {} // customer-name
                .active-context {
                    @include property(font-size, $extra-small-font);
                } // active-context
            } // &.customer-context
            &.project-context {
                @extend .customer-context
            }
            &.user-area {
                @include property(padding-top, 5);
                .user-name {
                    position: relative;
                    @include property(top, 2);
                    @include property(margin-left, 5);
                    @include bp(sm) {
                        display: none;
                    } // sm
                } // user-name
            } // &.user-area
            &.support {
                &:before {
                    position: relative;
                    @include property(top, -3);
                    @include property(margin-right, 5);
                    @include inline-middle;
                    @include icon-fa;
                    content: '\f128';
                    transform: translate(1.1, 1.1);
                } // &:before
            } // &.support
            &.service {
                &:before {
                    position: relative;
                    @include property(top, -1);
                    @include property(margin-right, 5);
                    @include inline-middle;
                    @include icon-fa;
                    content: '\f0c2';
                    transform: translate(1.1, 1.1);
                } // &:before
            } // &.service
            &.project {
                &:before {
                    position: relative;
                    @include property(top, -1);
                    @include property(margin-right, 5);
                    @include inline-middle;
                    @include icon-fa;
                    content: '\f07c';
                    transform: translate(1.1, 1.1);
                } // &:before
            } // &.project
            &.user {
                &:before {
                    position: relative;
                    @include property(top, -1);
                    @include property(margin-right, 5);
                    @include inline-middle;
                    @include icon-fa;
                    content: '\f007';
                    transform: translate(1.1, 1.1);
                } // &:before
            } // invite-user
            &.appstore {
                $textColor: #fff200;
                color: $textColor;
                text-transform: uppercase;
                &.active {
                    span {
                        border-color: $textColor;
                    }
                }
            }
            &.mobile-trigger-link {
                @include property(padding-top, 12);
                @include property(font-size, 24);
            } // &.mobile-trigger-link
        } // > a
    } // > li
    .on-tablet {
        &.customers {
            background-color: #409a3c;
            a {
                &.current {
                    &:before {
                        font-family: FontAwesome;
                        content: "\f05d";
                        position: absolute;
                        left: 3px;
                    }
                }
            }
        }
    }
} // nav-list
