.nav-sublist {
    @include clear-list;
    @include property(top, 50);
    @include property(width, 220);
    @include property(margin-left, -90);
    @include property(border-radius, 0 0 4 4);
    left: 50%;
    position: absolute;
    background-color: #4fb547;
    overflow: hidden;
    &.lang {
        width: 120px;
        margin-left: 0;
        left: auto;
        right: 0;
        a {
            padding: 5px 15px;
            padding-left: 30px;
        } // a
    } // lang
    &.user-area {
        @include bp(md) {
            margin-left: 0;
            left: auto;
            right: 0;
        } // md
        @include bp(lg) {
            margin-left: 0;
            left: auto;
            right: 0;
        } // lg
    } // &.user-area
    > li {
        padding-top: 1px;
        margin-top: -1px;
        padding-bottom: 1px;
        margin-bottom: -1px;
        &.divider {
            @include property(height, 1);
            @include property(margin, 5 0);
            background-color: #ADADAD;
        } // & divider
        &:hover, &:active {
            background-color: #409a3c;
        } // &:hover, &:active
        &.on-tablet {
            display: none;
            @include bp(sm) {
                display: block;
            } // sm
            @include bp(md) {
                display: block;
            } // md
            @include bp(lightmd) {
                display: block;
            } // lightmd
            &.customers {
                @include bp(sm) {
                    display: block;
                } // sm
                @include bp(md) {
                    display: block;
                } // md
                @include bp(lightmd) {
                    display: none;
                } // lightmd
            } // &.customers
        } // &.on-tablet
        &.customers {
            @include bp(lightmd) {
                display: block;
            } // lightmd
        } // customers
        > a {
            display: block;
            @include property(font-size, $small-font);
            @include property(margin, 0 10);
            @include property(padding, 10 5);
            line-height: 1;
            color: #ffffff;
            font-weight: normal;
            text-decoration: none;
            text-overflow: ellipsis;
            border-bottom: 1px solid #47a340;
            span {
                &:first-child {
                    text-overflow: ellipsis;
                    max-width: 130px;
                    display: inline-block;
                    white-space: nowrap;
                    overflow: hidden;
                    height: 15px;
                }
                &:last-child {
                    color: #35853b;
                    display: inline-block;
                    float: right;
                }
            }
            &:before {
                color: #0E8032;
            } // &:beore
            &.current {
                position: relative;
                color: #35853b;
            } // &.current
            &.service {
                padding-left: 20px;
                &:before {
                    position: absolute;
                    @include icon-fa;
                    @include property(left, 10);
                    content: '\f0c2';
                    transform: translate(1.1, 1.1);
                } // &:before
            } // &.service
            &.project {
                padding-left: 20px;
                &:before {
                    position: absolute;
                    @include icon-fa;
                    @include property(left, 10);
                    content: '\f07c';
                    transform: translate(1.1, 1.1);
                } // &:before
            } // &.project
            &.resource {
                &:before {
                    position: absolute;
                    @include icon-fa;
                    @include property(left, 10);
                    content: '\f233';
                    transform: translate(1.1, 1.1);
                } // &:before
            } // &.resource
            &.user {
                padding-left: 20px;
                &:before {
                    position: absolute;
                    @include icon-fa;
                    @include property(left, 10);
                    content: '\f007';
                    transform: translate(1.1, 1.1);
                } // &:before
            } // invite-user
            &.import {
                &:before {
                    position: absolute;
                    @include icon-fa;
                    @include property(left, 10);
                    content: '\f0ed';
                    transform: translate(1.1, 1.1);
                } // &:before
            } // import
        } // > a
        &.manage-item {
            background-color: #eeeded;
            a {
                color: #4fb547;
                border-width: 0;
            }
        }
    } // > li
} // nav-sublist
