.nav-sublist {
    $hoverColor: rgba(255, 255, 255, 0.2);
    z-index: 2000;
    @include clear-list;
    @include property(top, 50);
    @include property(width, 220);
    @include property(margin-left, -90);
    @include property(border-radius, 0 0 4 4);
    left: 90px;
    position: absolute;
    background-color: #4fb547;
    &.block-ui {
        position: absolute;
        .block-ui-message {
            padding: 10px;
        }
    }
    &.lang {
        width: 120px;
        margin-left: 0;
        left: auto;
        right: 0;
        a {
            padding: 5px 15px;
            padding-left: 18px;
        } // a
    } // lang
    &.user-area {
        @include bp(md) {
            margin-left: 0;
            left: auto;
            right: 0;
        } // md
        @include bp(lg) {
            margin-left: 0;
            left: auto;
            right: 0;
        } // lg
    } // &.user-area
    > li {
        border-bottom: 1px solid #47a340;
        &.divider {
            @include property(height, 1);
            @include property(margin, 5 0);
            background-color: #ADADAD;
        } // & divider
        &:last-child {
            border-radius: 0 0 4px 4px;
        }
        &:hover, &:active {
            background-color: $hoverColor;
        } // &:hover, &:active
        &.on-tablet {
            display: none;
            @include bp(sm) {
                display: block;
            } // sm
            @include bp(md) {
                display: block;
            } // md
            @include bp(lightmd) {
                display: block;
            } // lightmd
            &.customers {
                @include bp(sm) {
                    display: block;
                } // sm
                @include bp(md) {
                    display: block;
                } // md
                @include bp(lightmd) {
                    display: none;
                } // lightmd
            } // &.customers
        } // &.on-tablet
        &.customers {
            @include bp(lightmd) {
                display: block;
            } // lightmd
        } // customers
        > a,
        > div > a {
            display: block;
            @include property(font-size, $small-font);
            @include property(padding, 10 5);
            padding-left: 20px;
            line-height: 1;
            color: #ffffff;
            font-weight: normal;
            text-decoration: none;
            text-overflow: ellipsis;
            span {
                &:first-child {
                    text-overflow: ellipsis;
                    max-width: 130px;
                    display: inline-block;
                    white-space: nowrap;
                    overflow: hidden;
                    height: 15px;
                }
                &:last-child {
                    color: #35853b;
                    display: inline-block;
                    float: right;
                }
            }
            &:before {
                color: #0E8032;
            } // &:beore
            &.current {
                position: relative;
                color: #fff;
                &:before {
                    position: absolute;
                    @include icon-fa;
                    content: '\f05d';
                    transform: translate(1.1, 1.1);
                    color: #fff;
                    left: 5px;
                } // &:before
            } // &.current
            &.details {
                position: relative;
                color: #fff;
                padding-left: 34px;
                &:before {
                    position: absolute;
                    @include icon-fa;
                    content: '\f002';
                    transform: translate(1.1, 1.1);
                    color: #fff;
                    left: 20px;
                    font-size: 12px;
                } // &:before
            } // &.current
        } // > a
        &.manage-item {
            background-color: #eeeded;
            border-bottom-color: #ccc;
            a {
                color: #4fb547;
                border-width: 0;
            }
            &:hover {
                background-color: #e0e0e0;
            }
            &:nth-last-child(2) {
                border-radius: 0 0 4px 4px;
            }
        }
    } // > li
} // nav-sublist
