.nav-list-side {
    @include clear-list;
    @include clearfix;
    > li {
        border-bottom: 1px solid #47a340;
        display: table;
        width: 100%;
        height: 50px;

        &.dropdown {
            position: relative;
            display: block;
        } // &.dropdown

        > a {
            @include property(margin, 0 20);
            @include property(padding, 10 0);
            text-decoration: none;
            display: table-cell;
            padding-left: 15px;
            vertical-align: middle;

            &.active {
                color: white;
                position: relative;
                span {
                    border-bottom: 1px solid white;
                }
                &.drop-active {
                    &:after {
                        z-index: 12;
                        content: '';
                        display: block;
                        position: absolute;
                        background-color: $head-menu-color;
                        width: 12px;
                        height: 12px;
                        bottom: -6px;
                        left: 50%;
                        margin-left: calc(-12px / 2);
                        transform: rotate(45deg);
                    } // &:after
                } // &.drop-active
            } // &.active
            &.logo {
                @include property(width, 50);
                @include property(height, 50);
                @include property(background-size, 40 40);
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-image: url('/static/images/logo.png');
            } // &.logo
            &.customer-context {
                @include property(padding-top, 12);
                span {
                    display: block;
                    line-height: 1;
                } // span
                .active-context {
                    @include property(font-size, $extra-small-font);
                } // active-context
            } // &.customer-context
            &.project-context {
                @extend .customer-context
            }
            &.user-area {
                @include property(padding-top, 20);
                @include property(padding-bottom, 20);
                .user-name {
                    @include property(margin-left, 50);
                } // user-name
                li {
                    display: block;
                }
                a {
                    display: block;
                }
            } // &.user-area
            &.support {
                &:before {
                    position: relative;
                    @include property(top, -3);
                    @include property(margin-right, 5);
                    @include inline-middle;
                    @include icon-fa;
                    content: '\f128';
                    transform: translate(1.1, 1.1);
                } // &:before
            } // &.support
            &.service {
                &:before {
                    position: relative;
                    @include property(top, -1);
                    @include property(margin-right, 5);
                    @include inline-middle;
                    @include icon-fa;
                    content: '\f0c2';
                    transform: translate(1.1, 1.1);
                } // &:before
            } // &.service
            &.project {
                &:before {
                    position: relative;
                    @include property(top, -1);
                    @include property(margin-right, 5);
                    @include inline-middle;
                    @include icon-fa;
                    content: '\f07c';
                    transform: translate(1.1, 1.1);
                } // &:before
            } // &.project
            &.user {
                &:before {
                    position: relative;
                    @include property(top, -1);
                    @include property(margin-right, 5);
                    @include inline-middle;
                    @include icon-fa;
                    content: '\f007';
                    transform: translate(1.1, 1.1);
                } // &:before
            } // invite-user
            &.mobile-trigger-link {
                @include property(padding-top, 12);
                @include property(font-size, 24);
            } // &.mobile-trigger-link
        } // > a
    } // > li
} // nav-list
