.nav-sublist {
    @include clear-list;
    @include property(top, 50);
    @include property(width, 180);
    @include property(margin-left, -90);
    @include property(border-radius, 0 0 4 4);
    @include property(padding, 5 0);
    @include property(padding-top, 20);
    left: 50%;
    position: absolute;
    background-color: #F0F0F0;
    border: 1px solid rgb(221, 221, 221);
    border-top: none;
    border-bottom: 2px solid #8E8E8E;
    &.user-area {
        @include bp(md) {
            margin-left: 0;
            left: auto;
            right: 0;
        } // md
        @include bp(lg) {
            margin-left: 0;
            left: auto;
            right: 0;
        } // lg
    } // &.user-area
    > li {
        &.divider {
            @include property(height, 1);
            @include property(margin, 5 0);
            background-color: #ADADAD;
        } // & divider
        &.on-tablet {
            display: none;
            @include bp(sm) {
                display: block;
            } // sm
            @include bp(md) {
                display: block;
            } // md
        } // &.on-tablet
        > a {
            display: block;
            @include property(font-size, 14);
            @include property(padding, 5 20);
            @include property(padding-left, 35);
            line-height: 1;
            color: rgb(73, 73, 73);
            font-weight: normal;
            text-decoration: none;
            word-wrap: break-word;
            &:hover, &:active {
                background-color: #fff;
            } // &:hover, &:active
            &:before {
                color: #0E8032;
            } // &:beore
            &.current {
                position: relative;
                &:before {
                    position: absolute;
                    @include icon-fa;
                    @include property(left, 10);
                    content: '\f00c';
                    transform: translate(1.1, 1.1);
                } // &:before
            } // &.current
            &.manage {
                &:before {
                    position: absolute;
                    @include icon-fa;
                    @include property(left, 10);
                    content: '\f1ad';
                    transform: translate(1.1, 1.1);
                } // &:before
            } // &.manage
            &.service {
                &:before {
                    position: absolute;
                    @include icon-fa;
                    @include property(left, 10);
                    content: '\f0c2';
                    transform: translate(1.1, 1.1);
                } // &:before
            } // &.service
            &.project {
                &:before {
                    position: absolute;
                    @include icon-fa;
                    @include property(left, 10);
                    content: '\f07c';
                    transform: translate(1.1, 1.1);
                } // &:before
            } // &.project
            &.resource {
                &:before {
                    position: absolute;
                    @include icon-fa;
                    @include property(left, 10);
                    content: '\f233';
                    transform: translate(1.1, 1.1);
                } // &:before
            } // &.resource
            &.user {
                &:before {
                    position: absolute;
                    @include icon-fa;
                    @include property(left, 10);
                    content: '\f007';
                    transform: translate(1.1, 1.1);
                } // &:before
            } // invite-user
        } // > a
    } // > li
} // nav-sublist
