.object-list {
  @include clear-list;
  > li + li {
    border-top: 1px solid rgb(220, 220, 220);
  }
  // li + li
  &.has-compact {
    @include bp(sm) {
      display: none;
    }
    @include bp(sm) {
      display: none;
    }
  }
}

// object-list
