.pagination {
    width: 100%;
    text-align: center;
    @include property(margin-bottom, 20);
    ul {
        @include clear-list;
        li {
            @include inline-middle;
            span {
                color: #000;
            } // span
            a {
                @include inline-middle;
                color: #C0C0C0;
                padding: 6px 14px;
                text-decoration: none;
                position: relative;
                margin-left: 10px;
                border-radius: 1px;
                &.current {
                    color: #fff;
                    background: #D8D8D8;
                } // current
            } // a
        }
    } // ul
} // pagination
