.pagination {
    padding-bottom: 45px;

    a {
        @include inline-middle;
        color: #C0C0C0;
        text-decoration: none;
        position: relative;
        padding: 6px 14px;
        border-radius: 1px;
        &.current {
            color: #fff;
            background: #D8D8D8;
        } // current
    } // a

    .column {
        width: 25%;
        float: left;
    }

    .body {
        width: 50%;
        float: left;
        text-align: center;
    }
} // pagination

a.page-size {
    @include property(margin-left, 10);
    @include inline-middle;
    padding: 0px;
    line-height: 1;
    color: #333;
    text-decoration: none;
    position: relative;
    border: none;
    &.active {
        font-weight: bold;
        color: black;
    } // &.active
} // a
