.plans {
    @include property(margin, 20 0);
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    &.in-homepage {
        .plan {
            width: 25%;
            @include bp(xs) {
                width: 100%;
            } // xs
            @include bp(sm) {
                width: 100%;
            } // sm
            @include bp(md) {
                width: 50%;
            } // md
            &:nth-child(1) {
                @include property(padding-left, 10);
            }
            &:nth-last-child(1) {
                @include property(padding-right, 10);
            }
        } // plan
    } // &.in-homepage
    .plan {
        width: calc(25% - 20px);
        @include property(padding, 10);
        @include bp(xs) {
            width: calc(100% - 20px);
        } // xs
        @include bp(sm) {
            width: calc(100% - 20px);
        } // sm
        @include bp(md) {
            width: calc(50% - 20px);
        } // md
        &:nth-child(1) {
            padding-left: 0;
        }
        &:nth-last-child(1) {
            padding-right: 0;
        }
    } // plan
} // plans

.plan-item {
    border-radius: 1px;
    border: 1px solid #e5e5e5;
    position: relative;
    cursor: pointer;
    &.current-plan {
        border: 1px solid rgb(176, 176, 176);
        &:before {
            content: 'current';
            position: absolute;
            @include property(font-size, $extra-small-font);
            @include property(top, -20);
            @include property(right, 20);
            color: rgb(176, 176, 176);
        }
        &:after {
            content: '\f00c';
            font-family: FontAwesome;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            @include property(font-size, $big-font);
            text-align: center;
            background-color: rgb(176, 176, 176);
            color: #fff;
            width: 26px;
            height: 26px;
            border-radius: 100%;
            position: absolute;
            right: -10px;
            top: -10px;
        } // &:after
        .plan-name {
            color: #6cc644;
        } // pan-name
    }
    &.selected {
        border: 1px solid rgb(62, 171, 84);
        &:before {
            content: 'new';
            position: absolute;
            @include property(font-size, $extra-small-font);
            @include property(top, -20);
            @include property(right, 20);
            color: rgb(62, 171, 84);
        }
        &:after {
            content: '\f00c';
            font-family: FontAwesome;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 20px;
            text-align: center;
            background-color: rgb(62, 171, 84);
            color: #fff;
            width: 26px;
            height: 26px;
            border-radius: 100%;
            position: absolute;
            right: -10px;
            top: -10px;
        } // &:after
        .plan-name {
            color: #6cc644;
        } // pan-name
    }
    table {
        margin: 0 auto;
        width: 100%;
        &.grayscale {
            opacity: .6;
            @include transition(all, 0.3s, ease);
            &:hover {
                opacity: 1;
            } // &:hover
            tr {
                &:nth-child(even) {
                    td {
                        background: #EFEFEF;
                    }
                }
                .plan-name {
                    color: #000;
                }
            }
        } // &.grayscale
        tr {
            &:nth-child(even) {
                td {
                    background: #f0f5fa;
                }
            }
            + tr {
                td {
                    border-top: 1px solid rgb(229, 229, 229);
                }
            }
            td, th {
                width: 33%;
                padding: 9px;
                text-align: center;
                + td, + th {
                    border-left: 1px solid rgb(229, 229, 229);
                }
                span {
                    display: block;
                }
                .plan-price {
                    @include property(font-size, $small-font);
                    @include property(margin-top, 10);
                }
                .btn-choice {
                    background-color: rgb(125, 178, 67);
                    margin-top: 6px;
                    border-radius: 4px;
                    padding: 6px 15px;
                    color: #fff;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.28);
                    border-bottom: 2px solid rgb(45, 108, 9);
                }
            } // td
        } // tr
    } // table
} // plan-item
