body {
    &.prices {
        background: url(../images/robo-price.png) right center no-repeat;
        background-size: 30%;
    }
}

.plans-and-price {
    .price-table-box {
        border-radius: 1px;
        border: 1px solid #e5e5e5;
        margin: 0 auto;
        width: 60%;
        position: relative;
        &.active {
            border: 1px solid rgb(62, 171, 84);
            .grayscale {
                opacity: 1 !important;
                .plan-name {
                    color: #6cc644;
                }
            }
            &:after {
                // content: '\f058';
                content: '\f00c';
                font-family: FontAwesome;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: rem(20);
                text-align: center;
                background-color: rgb(62, 171, 84);
                color: #fff;
                width: 26px;
                height: 26px;
                border-radius: 100%;
                position: absolute;
                right: -10px;
                top: -10px;
            } // &:after
        }
        &.in-login {
            width: 80%;
            opacity: 1;
        }
        &.in-data {
            width: 100%;
            display: block;
            color: inherit;
            cursor: pointer;
        } // in-data
        table.price-table {
            margin: 0 auto;
            width: 100%;
            &.grayscale {
                opacity: .4;
                @include transition(all, 0.3s, ease);
                &:hover {
                    opacity: 1;
                } // &:hover
                tr {
                    &:nth-child(even) {
                        td {
                            background: #EFEFEF;
                        }
                    }
                    .plan-name {
                        color: #000;
                    }
                }
            } // &.grayscale
            tr {
                &:nth-child(even) {
                    td {
                        background: #f0f5fa;
                    }
                }
                + tr {
                    td {
                        border-top: 1px solid rgb(229, 229, 229);
                    }
                }
                td, th {
                    width: 33%;
                    padding: 9px;
                    text-align: center;
                    + td, + th {
                        border-left: 1px solid rgb(229, 229, 229);
                    }
                    span {
                        display: block;
                    }
                    .plan-name {
                        color: #6cc644;
                    }
                    .plan-price {
                        font-size: rem(14);
                    }
                    .btn-choice {
                        background-color: rgb(125, 178, 67);
                        margin-top: 6px;
                        border-radius: 4px;
                        padding: 6px 15px;
                        color: #fff;
                        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.28);
                        border-bottom: 2px solid rgb(45, 108, 9);
                    }
                } // td
            } // tr
        } // price-table
    } // .price-table-box
    table.buttons {
        margin: 0 auto;
        width: 60%;
        margin-top: 20px;
        td {
            width: 33%;
            padding: 9px;
            text-align: center;
            .btn-choice {
                background-color: rgb(125, 178, 67);
                margin-top: 6px;
                border-radius: 4px;
                padding: 6px 15px;
                color: #fff;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.28);
                border-bottom: 2px solid rgb(45, 108, 9);
            }
        }
    } // buttons
} // plans-and-price

.contact-for-details {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
} // contact-for-details
.mail-box {
    display: inline-block;
    padding: 4px 10px;
    background: #ECECEC;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 2.2rem;
    color: #4C4C4C;
    font-weight: 200;
    a {
        color: inherit;
        text-decoration: none;
        font-weight: 700;
    }
} // mail-box

