.popup {
    position: fixed;
    z-index: 12;
    width: 60%;
    margin-left: calc(-60% / 2);
    top: 20%;
    left: 50%;
    @include property(padding, 20);
    background: #FFFFFF;
    border: 1px solid #CBCBCB;
    box-shadow: 0px 0px 8px rgba(139, 139, 139, 0.39);
    @include bp(xs) {
        width: 90%;
        margin-left: calc(-90% / 2);
    } // xs
    @include bp(sm) {
        width: 85%;
        margin-left: calc(-85% / 2);
    } // sm
} // popup
