.resource-state {
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    @include property(font-size, $small-font);
    padding: 5px 10px;

    &.online {
        background: $head-menu-color;
        color: white;
    }

    &.processing {
        border: 1px solid $head-menu-color;
        color: $head-menu-color;
    }

    &.erred {
        background: $destructive-color;
        color: white;
    }

    &.offline {
        background: $gray-text;
        color: $text-color;
    }
}
