.row {
    @include row;
    + .row {
        @include property(margin-top, 20);
    } // + .row
    .col {
        &.top {
            align-item: flex-start;
        } // &.top
        &.half {
            width: calc(50% - 20px);
        } // &.half
        &.initial-avatar {
            width: 180px;
        } // &.initial-avatar
        &.initial-inputs {
            width: calc(100% - (180px + 240px));
        } // &.initial-inputs
        &.initial-package {
            width: 240px;
            text-align: center;
        } // &.initial-package
        &.initial-avatar,
        &.initial-inputs,
        &.initial-package {
            @include bp(xs) {
                width: 100%;
            } // xs
            @include bp(sm) {
                width: 100%;
            } // sm
        } // &.initial-*
        @include bp(xs) {
            width: 100%;
        } // xs
        @include bp(sm) {
            width: 100%;
        } // sm
        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 20px;
        } // h1, h2, h3, h4, h5, h6
        .form-box {
            margin-bottom: 20px;
        } // form-box
    } // .col
    // &.initial-data-row {

    // } // &.initial-data-row
} // row
