.row {
    @include row;
    + .row {
        @include property(margin-top, 20);
    } // + .row
    .col {
        &.initial-avatar {
            width: 180px;
        } // &.initial-avatar
        &.initial-inputs {
            width: calc(100% - (180px + 240px));
        } // &.initial-inputs
        &.initial-package {
            width: 240px;
            text-align: center;
        } // &.initial-package
        &.initial-avatar,
        &.initial-inputs,
        &.initial-package {
            @include bp(xs) {
                width: 100%;
            } // xs
            @include bp(sm) {
                width: 100%;
            } // sm
        } // &.initial-*
        @include bp(xs) {
            width: 100%;
        } // xs
        @include bp(sm) {
            width: 100%;
        } // sm
    } // .col
    // &.initial-data-row {

    // } // &.initial-data-row
} // row
