.search-box {
    position: relative;
    input {
        width: 200px;
        @include property(padding-left, 30);
    }
    label {
        position: absolute;
        top: 5px;
        left: 10px;
    }
}
