.short-form {
    width: 60%;
    margin: 0 auto;
    @include bp(xs) {
        width: 100%;
    } // xs
    @include bp(sm) {
        width: 100%;
    } // sm
    &.full {
        width: 100%;
    } // &.full
    &.half {
        width: 50%;
        margin: 0;
    } // &.half
    &.in-profile {
        @include property(margin-top, 20);
    } // &.in-profile
    .divider {
        border-top: 1px solid lightgray;
        @include property(padding, 0 10);
        @include property(padding-top, 10);
        @include property(margin-top, 10);
        &.br {
            @include property(margin-top, 30);
        } //br
    } // .divider
    .form-row {
        @include row;
        @include property(margin-top, 10);
        &.inputs-centered {
            align-items: center;
        } // &.inputs-centered
        .col {
            padding: 0;
            &.label {
                label {
                    color: $text-color;
                    @include inline-middle;
                    padding: 3px 10px;
                }
                width: 190px;
                text-align: right;
                @include bp(xs) {
                    text-align: left;
                    margin: 0;
                    label {
                        padding: 0;
                    }
                } // xs
                @include bp(sm) {
                    text-align: left;
                    margin: 0;
                    label {
                        padding: 0;
                    }
                } // sm
            } // &.label
            &.input {
                width: calc(100% - 320px);
                &.input-full {
                    width: calc(100% - 190px);
                } // &.input-full
                input[type=text] {
                    width: 100%;
                } // input[type=text]
                @include bp(xs) {
                    margin: 0;
                } // xs
                @include bp(sm) {
                    margin: 0;
                } // sm
            } // &.input
            &.input-full {
                flex: 1 1;
                input {
                    width: 100%;
                }
                label {
                    display: block;
                    padding-top: 3px;
                }
            } // &.input-full
            select {
                border-radius: 4px;
                width: 100%;
                box-sizing: border-box;
                height: 32px;
                background-color: white;
                border: 1px solid #D8D8D8;
                padding: 5px;
            }
            &.description {
                width: 160px;
            } // &.description
            .toggle {
                input[type=checkbox] {
                  display: none;
                }

                input[type=checkbox] + label {
                  display: inline-block;
                  background: #ccc;
                  position: relative;
                  width: 100px;
                  text-align: center;
                  border-radius: 4px;
                  overflow: hidden;
                  cursor: pointer;
                  span {
                    color: #fff;
                    display: block;
                    float: left;
                    width: 50%;
                    position: relative;
                    z-index: 1;
                  }
                  &:after {
                    position: absolute;
                    content: "";
                    width: 50%;
                    height: 100%;
                    background: #50b848;
                    left: 0;
                    top:0;
                    transition: left .5s;
                  }
                }
                input[type=checkbox]:checked + label {
                  &:after {
                    left: 50%;
                  }
                }
            }
        } // col
    } // form-row
} // short-form
.help-info {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: rgb(40, 174, 96);
    border-radius: 50%;
    content: "?";
    color: rgb(255, 255, 255);
    line-height: 22px;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    text-decoration: none;
} // help-info
.reverse {
  flex-direction: row-reverse;
}

.has-password {
    position: relative;
    .password-icon {
        position: absolute;
        right: 15px;
        top: 10px;
    }
}
