.short-form {
    width: 60%;
    margin: 0 auto;
    .form-row {
        @include row;
        @include property(margin-top, 10);
        &:nth-child(1) {
            margin-top: 0;
        } // &:nth-child(1)
        .col {
            &.label {
                width: 160px;
                text-align: right;
            } // &.label
            &.input {
                width: calc(100% - 320px);
                input[type=text] {
                    width: 100%;
                } // input[type=text]
            } // &.input
            &.description {
                width: 160px;
            } // &.description
        } // foo
    } // form-row
} // short-form
