.gray-box {
    background-color: #F6F6F6;
    padding: 20px;
} // gray-box

.simple-box {
    padding: 20px;
} // simple-box

.user + .user {
    margin-left: 8px;
} // .user + .user
.user {
    width: auto;
    @include inline-middle;
    .user-wrap {
        display: flex;
        flex-wrap: wrap-reverse;
    } // user-wrap
    .pic {
        display: flex;
        width: 42px;
        box-sizing: border-box;
        padding: 3px;
        align-items: center;
        img {
            max-width: 100%;
            border-radius: 2px;
        } // img
    } // pic
    .name {
        padding-left: 5px;
        align-items: center;
        display: flex;
        font-size: rem(18);
        color: #0B0B0A;
        margin: 0;
    } // name
} // user

.main-list-controls {
    display: flex;
    flex-wrap: wrap-reverse;
    .box {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 0 5px;
        // min-height: 62px; // temporary need this comment
        &.checkbox {
            padding: 0;
            input[type="checkbox"] {
                position: relative;
                top: 2px;
            }
        } // checkbox
    } // box
} // main-list-controls

.checkbox {
    width: 40px;
    input[type="checkbox"] {
        margin: 0;
        margin: auto;
    }
} // checkbox

.empty-search {
    paddging: 20px;
    text-align: center;
} // empty-search

.label-text {
    &.special-left {
        margin-left: 5px;
    }
}
