.status-circle {
    display: none;
    @include property(width, 12);
    @include property(height, 12);
    border-radius: 100%;
    border: 1px solid white;
    box-shadow: 0px 0px 5px rgba(118, 118, 118, 0.43);
    position: relative;
    @include property(left, 5);
    @include property(top, -1);
    &.online {
        background-color: #6abb6a;
    } // online
    &.offline {
        background-color: #e74c3c;
    } // offline
    &.other {
        background-color: #bdc3c7;
    } // other
    @include bp(xs) {
        @include inline-middle;
    } // xs
    @include bp(sm) {
        @include inline-middle;
    } // sm
} // status-circle
