.app-wrap {
    @include property(margin-bottom, -50);
    min-height: calc(100% - 20px);
    &:after {
        content: "";
        display: block;
        @include property(height, 50);
    } // &:after
} // app-wrap

.sticky-footer {
    @include property(height, 50);
} // sticky-footer
