.toggle-filters {
    .filter {
        @include inline-middle;
        @include no-select;
        cursor: pointer;
        padding: 0px 6px;
        border-radius: 3px;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        color: rgb(0, 0, 0);
        margin: 5px;
        &.active {
            background-color: rgb(255, 228, 94);
        } // &.active
    } // filter
} // toggle-filters
