.toggle-link {
  margin-right: 10px;
  @include inline-middle;
  cursor: pointer;
  padding: 0px 6px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  color: rgb(0, 0, 0);
  &:hover {
    text-decoration: none;
  }
  &:after {
    position: relative;
    @include icon-fa;
    content: '\f00c';
    @include property(top, -1);
    @include property(font-size, $extra-small-font);
    @include property(margin-left, 5);
    color: rgb(182, 182, 182);
  }
  // &:after
  &.active {
    background-color: #f5f5f5;
    &:after {
      color: #3AA153;
    }
    // &:after
  }
  // &.active
  &.remote-load {
    &:after {
      display: none;
    }
  }
  &.pull-right {
    width: 100%;
    text-align: right;
    border: 1px solid #cacaca;
    background-color: #ececec;
    margin: 5px 2px 10px 2px;
    padding: 0 10px 0 10px;
    font-weight: bold;
  }
  @include bp(xs) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

// toggle-link
