.view-control {
    padding: 0 20px;
    @include property(margin, 20 60);
    @include bp(xs) {
        @include property(margin, 20 10);
        .actions {
            padding-right: 24px;
        } // actions
    } // xs
    @include bp(sm) {
        @include property(margin, 20 10);
        .actions {
            padding-right: 24px;
        } // actions
    } // sm
    .view-action-buttons {
        @include bp(xs) {
            display: none;
        } // xs
        @include bp(sm) {
            display: none;
        } // sm
    } // view-action-buttons
    .view-action-buttons-mobile {
        display: none;
        @include bp(xs) {
            @include inline-middle;
        } // xs
        @include bp(sm) {
            @include inline-middle;
        } // sm
    } // view-action-buttons
} // view-control
