.site-welcome {
    position: relative;
    background: url(../images/decor-image.png);
    background-size: cover;
    overflow: hidden;
    padding-bottom: 314px;
    @include transition(all, 0.5s, ease);
    &.s-student {
        margin-top: -50px;
        padding-top: 100px;
        background: url(../images/decor-image-s.png) no-repeat;
        background-size: cover;
    }
    &.p-iaas {
        margin-top: -50px;
        padding-top: 100px;
        background: url(../images/decor-image-pi.png) no-repeat;
        background-size: cover;
        @include bp(xs) {
            background-position: center;
        }
    }
    &.cost-tracking {
        margin-top: -50px;
        padding-top: 100px;
        background: url(../images/decor-image-squ.png) no-repeat;
        background-size: cover;
        .img-center {
            left: 50%;
        }
        .nav-list {
            margin-top: -80px;
            margin-left: 30px;
            width: 50px;
            height: 50px;
            float: none;
        }
    }
    &.login {
        height: calc(100vh - 40px);
        padding-bottom: 0;
        min-height: 300px;
    }
    .login-box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40%;
        margin-left: calc(-40% / 2);
        z-index: 99;
        @include bp(xs) {
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px !important;
            left: 50%;
            margin-left: -170px;
            width: 95%;
            .white-box {
                @include property(margin, 10 20);
                max-height: auto !important;
                overflow-y: auto;
                .decision {
                    @include property(margin, 10 0);
                    .button-login {
                        @include property(padding, 8 14);
                    } // button-login
                } // decision
                .button-social {
                    @include property(padding, 8 14);
                } // button-social
            } // white-box
        } // xs
        @include bp(sm) {
            position: static !important;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px !important;
            width: 85%;
            .white-box {
                @include property(margin, 10 20);
                max-height: auto !important;
                overflow-y: auto;
                .decision {
                    @include property(margin, 10 0);
                    .button-login {
                        @include property(padding, 8 14);
                    } // button-login
                } // decision
                .button-social {
                    @include property(padding, 8 14);
                } // button-social
            } // white-box
        } // sm
        @include bp(md) {
            width: 50%;
            margin-left: calc(-50% / 2);
        } // md
        .white-box {
            @include boxshadow(0 2 2 2, rgba(47, 47, 47, 0.23));
            max-height: 90vh;
            overflow-y: auto;
        }
        .row-login {
            @include property(margin-top, 10);
            input[type=text],
            input[type=password] {
                width: 100%;
                @include property(font-size, $big-font);
                text-align: center;
            } // input[type=text], input[type=password]
        } // row-login
    } // login-box
    .decor {
        width: 100%;
        height: 30px;
        box-shadow: inset 2px -41px 22px -36px rgba(0,0,0,0.15);
        position: absolute;
        bottom: 0px;
        z-index: 44;
    }
    .welcome-title {
        margin-top: 40px;
        font-weight: 200;
        @include property(font-size, 45);
        line-height: 1;
        color: #fff;
        margin: 30px 0;
        text-align: center;
        position: relative;
        z-index: 44;
        span {
            display: block;
            font-weight: 600;
        }
    }
    .tour-box {
        text-align: center;
        margin: 20px 0;
        position: relative;
        z-index: 44;
    }
    .take-a-tour {
        @include inline-middle;
        @include property(padding, 6 12);
        @include property(font-size, 30);
        text-decoration: none;
        line-height: 1.4;
        background-color: #7db243;
        border-radius: 4px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.28);
        border-color: transparent;
        border-bottom: 2px solid #2d6c09;
        &:hover {
            background-color: #72A53A;
        }
        &:active {
            border-color: transparent;
            position: relative;
            top: 2px;
        }
    } // take-a-tour
    .img {
        position: absolute;
        bottom: -50px;
        max-width: 500px;
    } // img
    .img-left {
        left: 50px;
        z-index: 9;
    } // img
    .img-center {
        left: 40%;
        margin-left: -268px;
        z-index: 10;
        bottom: -30px;
    } // img
    .img-center-appstore {
        left: 63%;
        margin-left: -268px;
        z-index: 10;
        bottom: -30px;
    }
    .img-right {
        right: 50px;
        z-index: 9;
    } // img
    @include bp(xs) {
        padding-bottom: 100px;
    }
} // site-welcome

.site-block {
    + .site-block {
        @include property(margin-top, 50);
    } // site-block
} // site-block

.app-title.site-block-title {
    display: block;
    text-align: center;
} // .app-title.site-block-title

.app-title.features-title {
    display: block;
    text-align: center;
    @include property(margin, 0 0 60 0);
} // features-title

.seep-lans {
    @include property(margin, 20 0 0 0);
} // seep-lans

.contact-for-details {
    @include property(margin, 0 0 40 0);
    margin-top: 10px !important;
    text-align: center;
    .mail-box {
        display: inline-block;
        @include property(padding, 12);
        @include property(border-radius, 3);
        @include property(font-size, 22);
        background: #ECECEC;
        color: #4C4C4C;
        font-weight: 200;
        a {
            color: inherit;
            font-weight: 700;
        }
    } // mail-box
} // contact-for-details

.features {
    @include row;
    .col{
        flex: 1 33.3333%;
        @include bp(xs) {
            flex: 1 100%;
        } // xs
        @include bp(sm) {
            flex: 1 100%;
        } // sm
        @include bp(md) {
            flex: 1 50%;
        } // md
        .feature {
            background: rgb(239, 239, 239);
            height: 200px;
            box-sizing: border-box;
            padding: 12px;
            margin-bottom: 10px;
            border-radius: 4px;
            position: relative;
            @include bp(xs) {
                height: auto;
                @include property(margin-top, 30);
            } //xs
            @include bp(sm) {
                height: auto;
                @include property(margin-top, 30);
            } //sm
            &:before {
                -webkit-border-radius: 100%;
                border-radius: 100%;
                width: 60px;
                height: 60px;
                background: rgb(234, 234, 234);
                position: absolute;
                top: -28px;
                left: 50%;
                margin-left: -30px;
                border: 4px solid rgb(255, 255, 255);
                text-align: center;
                box-sizing: border-box;
                padding-top: 14px;
                @include property(font-size, 24);
                font-family: FontAwesome;
            }
            &.mobile {
                &:before {
                    content: '\f10b';
                }
            }
            &.graph {
                &:before {
                    content: '\f080';
                }
            }
            &.backup {
                &:before {
                    content: '\f1da';
                }
            }
            &.cloud {
                &:before {
                    content: '\f0c2';
                }
            }
            &.lab {
                &:before {
                    content: '\f0c3';
                }
            }
            &.tools {
                &:before {
                    content: '\f074';
                }
            }
            h3 {
                color: rgb(95, 147, 18);
                margin-top: 30px;
            }
        } // feature
    } // .col
} // features
.providers {
    margin: 30px 0;
    .providers-list {
        display: table;
        max-width: 1000px;
        margin: 0 auto;
        .provider {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            .img-wrapper {
                position: relative;
                width: 50px;
                height: 50px;
                margin-right: 15px;
                img {
                    position: absolute;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }  // provider
    } // providers-list
} // providers
header.cost-tracking {
    display: none;
}
.base-universal-header header {
    display: block;
    padding-left: 55px;
}
