.app-footer {
    background: #565656;
    margin-top: 40px;
    color: #fff;
    font-size: rem(15);
    &.no-margin {
        margin-top: 0px;
    }
    .copy, nav {
        padding: 15px;
    } // .copy, nav
    .copy {} // copy
    a {
        color: #fff;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    } // a
    nav {
        text-align: right;
        ul {
            @include clear-list;
            @include inline-middle;
            li {
                @include inline-middle;
                a {
                    color: #fff;
                } // a
            } // li
        } // ul
    } // nav
} //app-footer
