.app-initial-data {
    padding: 20px;
    .initial-data-info {
        padding-left: 20px;
        .initial-info {
            margin-top: 20px;
        } // initial-info
        .init-title {
            @include inline-middle;
            margin: 0;
            font-size: rem(22);
        } // init-title
        .refound-info {
            p {
                padding: 10px 20px;
            }
        } // refound-info
    } // initial-data-edit
    .agrement-text {
        margin-bottom: 20px;
    } // agrement-text
    .plan-description {
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
    } // plan-description
} // app-initial-data

.initial-data-image {
    .profile-pic {
        width: auto;
    } // profile-pic
    .change-photo {
        display: inline-block;
        width: auto;
        height: auto;
        overflow: hidden;
        font-size: rem(18);
        input {} // input
    } // change-photo
} // initial-data-image
