.profile-view {
    background: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    .profile-info {
        padding-left: 20px;
    } // profile-info
    .profile-pic {
        width: 100px;
        border-radius: .6em;
    } // profile-pic
    .profile-name {
        font-size: rem(24);
        margin: 0;
    } // profile-name
    .stats {
        margin-top: 10px;
        .stat-int {
            @include inline-middle;
            font-size: rem(24);
            color: #417505;
            line-height: 1;
            margin-right: 10px;
        } // stat-int
        .stat-description {
            @include inline-middle;
            font-size: rem(18);
            color: #020202;
            line-height: 1;
        } // stat-description
    } // stats
    .customer-link {
        position: relative;
        padding-left: 22px;
        &:before {
            display: block;
            width: 20px;
            position: absolute;
            top: 0px;
            left: 0px;
            text-align: center;
            font-size: rem(13);
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            color: gray;
            content: '\f1ad';
            font-family: FontAwesome;
        } // &:before
    } // customer-link
} // profile-view
