<div class="modal-header">
  <h3 class="modal-title" translate>Provider details</h3>
</div>
<div class="modal-body">
  <div ng-if="$ctrl.loading">
    <loading-spinner></loading-spinner>
  </div>
  <uib-tabset active="active" ng-if="!$ctrl.loading">
    <uib-tab index="0">
      <uib-tab-heading translate>Details</uib-tab-heading>
      <div class="panel-body" ng-if="active==0">
        <provider-details provider="$ctrl.provider"></provider-details>
      </div>
    </uib-tab>
    <uib-tab index="1" ng-if="$ctrl.editable && $ctrl.settingsVisible">
      <uib-tab-heading translate>Settings</uib-tab-heading>
      <div class="panel-body" ng-if="active==1">
        <provider-settings provider="$ctrl.provider"></provider-settings>
      </div>
    </uib-tab>
    <uib-tab index="2" ng-if="$ctrl.editable">
      <uib-tab-heading translate>Quotas</uib-tab-heading>
      <div class="panel-body" ng-if="active==2">
        <quotas-table resource="$ctrl.provider"></quotas-table>
      </div>
    </uib-tab>
    <uib-tab index="3" ng-if="$ctrl.editable">
      <uib-tab-heading translate>Projects</uib-tab-heading>
      <div class="panel-body" ng-if="active==3">
        <provider-projects provider="$ctrl.provider"></provider-projects>
      </div>
    </uib-tab>
    <uib-tab index="4">
      <uib-tab-heading translate>Prices</uib-tab-heading>
      <div class="panel-body" ng-if="active==4">
        <provider-prices provider="$ctrl.provider"></provider-prices>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
<div class="modal-footer">
  <button class="btn btn-default"
    ng-click="$ctrl.dismiss()">
    <span translate>OK</span>
  </button>
</div>
