<div class="table-responsive">
  <table class="table table-borderless">
    <tr>
      <th translate>Name
      </td>
      <td>{{ $ctrl.provider.name }}</td>
    </tr>
    <tr>
      <th translate>Type
      </td>
      <td>{{ $ctrl.provider.service_type }}</td>
    </tr>
    <tr ng-if="$ctrl.provider.homepage">
      <th translate>Homepage
      </td>
      <td>
        <a ng-href="{{ $ctrl.provider.homepage }}" target="_blank">
          <i class="fa fa-external-link"></i>
          {{ ::$ctrl.provider.homepage }}
        </a>
      </td>
    </tr>
    <tr ng-if="$ctrl.provider.terms_of_services">
      <th translate>Terms of Services
      </td>
      <td>
        <a ng-href="{{ ::$ctrl.provider.terms_of_services }}" target="_blank">
          <i class="fa fa-external-link"></i>
          {{ ::$ctrl.provider.terms_of_services }}
        </a>
      </td>
    </tr>
    <tr ng-if="$ctrl.provider.certifications.length > 0">
      <th translate>Certifications
      </td>
      <td>
        <ul class="list-inline">
          <li ng-repeat="certification in $ctrl.provider.certifications">
            <a ng-href="{{ certification.link }}" target="_blank">
              <i class="fa fa-external-link"></i>
              {{ ::certification.name }}
            </a>
          </li>
        </ul>
      </td>
    </tr>
  </table>
  <div ng-if="$ctrl.center">
    <h4 translate>Physical locations</h4>
    <div ng-if="$ctrl.loading">
      <loading-spinner></loading-spinner>
    </div>
    <div ng-if="!$ctrl.loading">
      <leaflet
        width="100%"
        height="300px"
        markers="$ctrl.markers"
        maxbounds="$ctrl.maxbounds"
        center="$ctrl.center">
      </leaflet>
    </div>
  </div>
</div>
