<div ng-if="$ctrl.loading">
  <loading-spinner/>
</div>
<div ng-if="!$ctrl.loading && $ctrl.comments.length == 0">
  <span translate>There are no comments yet.</span>
</div>
<div ng-if="!$ctrl.loading && $ctrl.erred">
  <span translate>Unable to load comments.</span>
</div>
<div ng-if="!$ctrl.loading && $ctrl.comments.length > 0"
  id="vertical-timeline"
  class="vertical-container dark-timeline">
  <div class="vertical-timeline-block" ng-repeat="comment in $ctrl.comments">
    <div class="vertical-timeline-icon">
      <img gravatar-src="comment.author_email" class="b-r-xl img-sm" gravatar-size="32">
    </div>
    <div class="vertical-timeline-content">
      <p class="m-n">
        <a ng-click="$ctrl.openUserDialog(comment.author_uuid)">
          {{ comment.author_name }}
        </a>
        <span translate>commented</span>:
        <span ng-bind-html="comment.description | formatJiraMarkup"></span>
      </p>
      <span class="vertical-date small text-muted m-t-xs">
        <span
          ng-repeat="user in $ctrl.users[comment.author_uuid]"
          class="label label-success m-r-xs">
          {{ user | translate | uppercase }}
        </span>
        {{ ::comment.created | date:'medium' }}
      </span>
    </div>
  </div>
</div>
