<div class="m-t-lg">
  <button class="btn btn-default"
    ng-click="$ctrl.showForm = true"
    ng-if="!$ctrl.showForm">
    <i class="fa fa-comment-o"></i>
    <span translate>Comment</span>
  </button>

  <div ng-if="$ctrl.showForm" ng-class="{disabled: $ctrl.submitting}">
    <p class="text-muted" translate>Comment</p>
    <textarea class="form-control" ng-model="$ctrl.description"></textarea>
    <div class="m-t-sm">
      <button class="btn btn-primary"
        ng-class="{disabled: !$ctrl.description}"
        ng-click="$ctrl.submit()"
        type="submit">
        <span translate>Add</span>
      </button>
      <button class="btn btn-link"
        ng-click="$ctrl.showForm = false"
        type="button">
        <span translate>Cancel</span>
      </button>
    </div>
  </div>
</div>
