<div>
    <div class="container" ng-if="entityOptions.entityData.title">
        <h1>{{ entityOptions.entityData.title }}</h1>
    </div>
    <div class="white-box" ng-show="entityList.list.length > 0 || entityList.searchInput || entityList.chosenFilters.length">
        <ul class="sort-list">
            <li class="search divid">
                <div class="search-box">
                    <input type="text" ng-model='entityList.searchInput'
                           ng-model-options="{ debounce: 500 }"
                           ng-change="entityList.search()">
                    <button class="search-button" ng-click="entityList.search()"></button>
                </div>
            </li>
            <li>
                <filter-list filter-controller="entityList"></filter-list>
            </li>
            <li class="right-sort">
                <div ng-if="entityOptions.entityData.createLink"
                     class="tooltip-relative inline"
                     check-quotas="{{entityOptions.entityData.checkQuotas}}"
                     sref="{{ entityOptions.entityData.createLink }}"
                     class-link="button"
                     tooltip-type="list-items">
                    <span>{{ entityOptions.entityData.createLinkText }}</span>
                </div>
                <span class="button-tooltip"
                      ng-if="entityOptions.entityData.importLink"
                      title="{{ entityOptions.entityData.importLinkTooltip }}"
                      visible="import">
                    <div class="tooltip-relative inline"
                         ng-class="{'disabled': entityOptions.entityData.importDisabled}"
                         check-quotas="{{entityOptions.entityData.checkQuotas}}"
                         class-link="button"
                         tooltip-type="list-items"
                         sref="{{ entityOptions.entityData.importLink }}">
                        <span>{{ entityOptions.entityData.importLinkText }}</span>
                    </div>
                </span>

                <list-cache-reset list-controller="entityList"
                                  list-service="entityService"
                                  list-timer="entityOptions.entityData.timer"></list-cache-reset>
            </li>
        </ul>
    </div>

    <div class="white-box no-styles" ng-show="entityList.list.length == 0 && !entityList.searchInput && !entityList.chosenFilters.length">
        <h2 class="app-title">
            {{ entityOptions.entityData.noDataText }}
        </h2>
        <div class="decision">
            <div class="col">
                    <div ng-if="entityOptions.entityData.createLink"
                         check-quotas="{{entityOptions.entityData.checkQuotas}}"
                         class="tooltip-relative inline"
                         class-link="button"
                         tooltip-type="empty-list-items"
                         sref="{{ entityOptions.entityData.createLink }}">
                        {{ entityOptions.entityData.createLinkText }}
                    </div>
                    <span class="button-tooltip"
                          ng-if="entityOptions.entityData.importLink"
                          title="{{ entityOptions.entityData.importLinkTooltip }}"
                          visible="import">
                        <div class="tooltip-relative inline"
                             ng-class="{'disabled': entityOptions.entityData.importDisabled}"
                             check-quotas="{{entityOptions.entityData.checkQuotas}}"
                             class-link="button"
                             tooltip-type="list-items"
                             sref="{{ entityOptions.entityData.importLink }}">
                            <span>{{ entityOptions.entityData.importLinkText }}</span>
                        </div>
                    </span>
                    <list-cache-reset list-controller="entityList"
                                      list-service="entityService"
                                      list-timer="entityOptions.entityData.timer"></list-cache-reset>
            </div>
        </div>
    </div>

    <div class="white-box no-styles" ng-show="entityList.list.length == 0 && (entityList.searchInput || entityList.chosenFilters.length)">
        <h2 class="app-title" ng-bind="entityOptions.entityData.noMatchesText"></h2>
    </div>

    <!-- view-control -->
    <!-- TODO: this functionality is not relevant and should be disabled until corresponding backend is ready. -->
    <section class="view-control" ng-if="(entityList.list.length > 0 || entityList.searchInput) && entityList.controlPanelShow">
        <div class="list-item no-cursor">
            <div>
                <div class="checkbox" ng-show="entityList.showgroup">
                    <input type="checkbox"
                           ng-checked="entityList.selectedInstances.length"
                           ng-click="entityList.changeAllSelectedInstances()">
                </div>
            </div>
            <div class="actions switch">
                <span class="label-text" ng-class="{'low-grade': !entityList.showgroup}">batch</span>
                <div class="checkbox-toggle">
                    <input type="checkbox" id="control-types" ng-click="entityList.showgroup=!entityList.showgroup">
                    <label for="control-types"></label>
                </div>
                <span class="label-text special-left" ng-class="{'low-grade': entityList.showgroup}">single</span>
            </div>
        </div>
    </section>
    <!-- /view-control -->

    <div class="white-box list-box" ng-show="entityList.list.length > 0 || entityList.searchInput">
        <ul class="object-list">
            <li class="list-item list-header" ng-if="::!entityOptions.entityData.hideTableHead">
                <div class="checkbox" ng-show="entityList.controlPanelShow"></div>
                <div ng-repeat="fieldHead in entityOptions.list" class="additional-cell {{ fieldHead.className }}"
                     ng-class="{ 'display-for-mobile' : fieldHead.showForMobile, 'status': fieldHead.type == 'statusCircle' }">
                    <a class="list-sort">{{ fieldHead.name }}</a>
                    <div class="state-help-tooltip" ng-if="fieldHead.type == 'colorState'" ng-include='colorSateHelpView'></div>
                </div>
                <div class="actions" ng-if="!entityOptions.entityData.hideActionButtons"></div>

                <div ng-if="::entityList.expandableOptions" class="expandable-indicator"></div>
            </li>
            <li ng-repeat="entity in entityList.list"
                ng-show="entity.uuid != entityOptions.excludeItem || entity.expandItemOpen">
                <div class="list-item list" ng-class="{'opened': expandItem, 'pointer' : entityOptions.entityData.expandable}"
                     ng-click="expandItem=!expandItem; entityList.showMore(entity)"
                     ng-init="expandItem = entity.expandItemOpen; entityOptions.excludeItem = entity.expandItemOpen ? entity.uuid : 0;">
                    <div class="checkbox" ng-show="entityList.controlPanelShow">
                        <div class="checkbox" stoppropagation>
                            <input type="checkbox" ng-show="entityList.showgroup"
                                   ng-checked="entityList.isInstanceSelected(entity)"
                                   ng-click="entityList.changeInstanceSelection(entity)">
                        </div>
                    </div>
                    <div ng-repeat="field in entityOptions.list"
                         ng-switch="::field.type"
                         ng-class="{ 'display-for-mobile' : field.showForMobile, 'status': field.type == 'statusCircle' }"
                         class="additional-cell {{ field.className }}">
                        <div ng-switch-when="statusCircle"
                             class="status-circle"
                             ng-class="{'green': entity[field.propertyName]==field.onlineStatus}"
                             title="{{ entity[field.propertyName] }}"></div>

                        <div ng-switch-when="colorState"
                             class="status-circle"
                             ng-class="field.getClass(entity[field.propertyName])"
                             title="{{ entity[field.propertyName] }}"></div>

                        <div ng-switch-when="bool"
                             class="bool-field"
                             title="{{ entity[field.propertyName] }}">
                            <span ng-show="field.logic === 'NOT'" class="icon"
                                  ng-class="{'check': !entity[field.propertyName], 'minus': entity[field.propertyName] }"></span>
                            <span ng-show="field.logic !== 'NOT'" class="icon"
                                  ng-class="{'check': entity[field.propertyName], 'minus': !entity[field.propertyName] }"></span>
                        </div>

                        <span ng-switch-when="avatar" class="avatar">
                            <img gravatar-src="field.avatarArraySrc ? entity[field.avatarArraySrc[0]][field.avatarArraySrc[1]] : entity[field.avatarSrc]"
                                 gravatar-size="100" alt="" class="avatar-img">
                        </span>

                        <span ng-switch-when="icon">
                            <img title="{{ entity[field.titlePropertyName] }}"
                                 ng-src="{{ entity[field.propertyName] }}"/>
                        </span>

                        <h3 ng-switch-when="name" class="item-title">
                            <a ng-if="field.link"
                               ui-sref="{{ field.link }}">{{ entity[field.propertyName] }}</a>
                            <a ng-if="!field.link">{{ entity[field.propertyName] }}</a>
                            <span ng-if="field.subtitle" class="subtitle">
                                #{{ entity.key }} <span title="{{ ::entity.created | date:'medium' }}" am-time-ago="entity.created"></span>
                            </span>
                            <span class="field-description"
                                  ng-if="field.description && field.description.condition == entity[field.description.field]">
                                {{ field.description.text }}
                            </span>
                        </h3>

                        <a ng-switch-when="link" ng-if="field.link" ui-sref="{{ field.link }}">
                            {{ entity[field.propertyName] }}
                        </a>
                        <a ng-switch-when="link" ng-if="!field.link">
                            {{ entity[field.propertyName] }}
                        </a>
                        <span title="{{ ::entity[field.propertyName] | date:'medium' }}" ng-switch-when="date" am-time-ago="entity[field.propertyName]"></span>
                        <span ng-switch-when="dateCreated">{{ entity[field.propertyName] | date:'medium' }}</span>

                        <span ng-switch-when="listInField" ng-repeat="fieldListItem in entity[field.propertyName]">
                            {{ fieldListItem }}
                        </span>
                        <span ng-switch-when="listInField" ng-if="entity[field.propertyName].length == 0">
                            <i>{{ field.emptyText }}</i>
                        </span>

                        <span ng-switch-when="linkOrText">
                            <a ng-if="::entity[field.urlProperyName]"
                               href="{{ ::entity[field.urlProperyName] }}"
                               target="_blank">
                                <b class="icon external-link"></b>
                                {{ ::entity[field.propertyName] }}
                            </a>
                            <span ng-if="::!entity[field.urlProperyName]">
                                {{ ::entity[field.propertyName] }}
                            </span>
                        </span>

                        <span ng-switch-when="entityStatus" class="status"
                              ng-class="{'online': entity[field.propertyName] == field.onlineStatus,
                               'offline' : entity[field.propertyName] == field.offlineStatus}">
                            {{ entity[field.propertyName] }}</span>

                        <span ng-switch-when="editable" class="details-expandable">
                            <span editable-text="entity[field.propertyName]"
                                  e-form="rowform"
                                  buttons="no"
                                  onaftersave="entityList.update(entity)">
                                    {{ entity[field.propertyName] }}
                            </span>
                            <div stoppropagation class="icon pencil-square-o" ng-click="rowform.$show()" ng-hide="rowform.$visible"></div>
                        </span>

                        <span ng-switch-when="html" ng-bind-html="::entity[field.propertyName]"></span>

                        <span class="cell-default-span" ng-switch-default>
                            {{ entity[field.propertyName] ? entity[field.propertyName] : field.emptyText }}
                        </span>

                    </div>
                    <div class="actions" ng-if="!entityOptions.entityData.hideActionButtons">
                        <action-button
                                button-list="entityButtons"
                                button-controller="entityList"
                                button-type="{{ entityOptions.entityData.actionButtonsType }}"
                                ng-show="!entityList.showgroup"
                                button-model="entity"></action-button>
                    </div>

                    <expandable-indicator ng-if="::entityList.expandableOptions" open="expandItem"></expandable-indicator>
                </div>

                <expandableitem ng-if="entityList.expandableOptions"
                                ng-repeat="item in entityList.expandableOptions"
                                ng-show="expandItem" ng-class="{'opened': expandItem}"
                                class="list-item-details"
                                expandable-element="entity"
                                expandable-list="entityList"
                                expandable-options="item">
                </expandableitem>

            </li>
        </ul>
    </div>

    <pagination pages-list="entityList" pages-service="entityList.service"
                ng-if="entityList.list.length > 0"></pagination>
    <div class="clear"></div>
</div>
