<div ng-if="entityList.loading">
    <loading-spinner/>
</div>
<div ng-if="!entityList.loading">
    <div class="container" ng-if="entityOptions.entityData.title">
        <h1>{{ entityOptions.entityData.title }}</h1>
    </div>
    <div ng-show="entityList.list.length > 0 || entityList.searchInput || entityList.chosenFilters.length">
        <div ng-if="entityOptions.entityData.filterTemplateUrl" 
            ng-include="entityOptions.entityData.filterTemplateUrl"></div>
        <div ng-if="!entityOptions.entityData.hideControlButtons">
            <div class="form-group">
                <div class="search-box">
                    <input id="search-box"
                           type="text"
                           class="form-control" 
                           ng-model='entityList.searchInput'
                           ng-model-options="{ debounce: 500 }"
                           ng-change="entityList.search()"
                           placeholder="Search">
                    <label for="search-box">
                      <i class="fa fa-search"></i>
                    </label>
                </div>
            </div>
            <div class="pull-right">
                <filter-list filter-controller="entityList"></filter-list>
            </div>
            <div>
                <div ng-include="'views/directives/entity-list/table-actions.html'"></div>
            </div>
        </div>
    </div>

    <div class="no-styles" ng-show="entityList.list.length == 0 && !entityList.searchInput && !entityList.chosenFilters.length && !entityList.hideNoDataText">
        <p class="text-center" ng-bind="::entityOptions.entityData.noDataText"></p>
        <div class="decision" ng-if="!entityOptions.entityData.hideActions">
            <div class="col">
                <div ng-include="'views/directives/entity-list/table-actions.html'"></div>
            </div>
        </div>
    </div>

    <div class="no-styles" ng-show="entityList.list.length == 0 && (entityList.searchInput || entityList.chosenFilters.length)">
        <p class="text-center" ng-bind="entityOptions.entityData.noMatchesText"></p>
    </div>

    <div class="list-box" ng-show="entityList.list.length > 0">
        <ul class="mobile-show compact-list"
            ng-if="entityOptions.entityData.rowTemplateUrl">
            <li class="compact-list__item"
                ng-repeat="entity in entityList.list
                           | orderBy:entityList.orderField:entityList.reverseOrder
                           | filter:entityList.filterResults"
                ng-include="entityOptions.entityData.rowTemplateUrl">
            </li>
        </ul>
        <ul class="object-list" ng-class="{'mobile-hide': entityOptions.entityData.rowTemplateUrl}">
            <li class="list-item list-header" ng-if="::!entityOptions.entityData.hideTableHead">
                <div ng-repeat="fieldHead in entityOptions.list" class="additional-cell {{ fieldHead.className }}"
                     ng-class="{ 'display-for-mobile' : fieldHead.showForMobile, 'status': fieldHead.type == 'statusCircle' }">
                    <a ng-click="entityList.orderField=fieldHead.propertyName; entityList.reverseOrder = !entityList.reverseOrder"
                       ng-if="!fieldHead.notSortable"
                       class="list-sort">
                        {{ fieldHead.name }}
                        <i class="fa" ng-show="entityList.orderField == fieldHead.propertyName"
                           ng-class="{'fa-angle-down' : !entityList.reverseOrder,
                                       'fa-angle-up': entityList.reverseOrder}"></i>
                    </a>
                    <a ng-if="fieldHead.notSortable" class="list-sort">
                      {{ fieldHead.name }}
                    </a>
                </div>
                <div class="actions" ng-if="!entityOptions.entityData.hideActionButtons"></div>

                <div ng-if="::entityList.expandableOptions" class="expandable-indicator"></div>
            </li>
            <li ng-repeat="entity in entityList.list
                            | orderBy:entityList.orderField:entityList.reverseOrder
                            | filter:entityList.filterResults
                            track by $index">
                <div class="list-item list" ng-class="{'opened': entity.expandItemOpen, 'pointer' : entityOptions.entityData.expandable}"
                     ng-click="entity.expandItemOpen=!entity.expandItemOpen; entityList.showMore(entity)">
                    <div ng-repeat="field in entityOptions.list"
                         ng-switch="::field.type"
                         ng-class="{ 'display-for-mobile' : field.showForMobile, 'status': field.type == 'statusCircle' }"
                         class="additional-cell {{ field.className }}"
                         ng-init="field.initField && field.initField(entity)">
                        <div ng-switch-when="statusCircle"
                             class="status-circle"
                             ng-class="{'green': entity[field.propertyName]==field.onlineStatus}"
                             title="{{ entity[field.propertyName] }}"></div>
                        <div ng-switch-when="colorState">
                            <a ng-class="field.getClass(entity[field.propertyName])" title="{{ entity[field.propertyName] }}"></a>
                        </div>

                        <div ng-switch-when="awesomeIcon">
                            <i ng-if="field.show(entity)"
                               class="icon fa"
                               ng-class="field.iconClass"
                               title="{{ field.title }}"></i>
                        </div>

                        <div ng-switch-when="bool"
                             class="bool-field"
                             title="{{ entity[field.propertyName] }}">
                            <span ng-show="field.logic === 'NOT'" class="icon"
                                  ng-class="{'check': !entity[field.propertyName], 'minus': entity[field.propertyName] }"></span>
                            <span ng-show="field.logic !== 'NOT'" class="icon"
                                  ng-class="{'check': entity[field.propertyName], 'minus': !entity[field.propertyName] }"></span>
                        </div>

                        <span ng-switch-when="avatar" class="avatar">
                            <img gravatar-src="field.avatarArraySrc ? entity[field.avatarArraySrc[0]][field.avatarArraySrc[1]] : entity[field.avatarSrc]"
                                 gravatar-size="100" alt="" class="avatar-img">
                        </span>

                        <span ng-switch-when="icon">
                            <img title="{{ field.getTitle(entity) }}"
                                 ng-src="{{ field.getIcon(entity) }}"/>
                        </span>

                        <span ng-switch-when="fontIcon"
                              class="icon" ng-class="entity[field.propertyName]">
                        </span>

                        <span ng-switch-when="name" class="item-title">
                            <a ng-if="field.link" stoppropagation
                               ng-click="entity.expandItemOpen = false"
                               ui-sref="{{ field.link }}">{{ entity[field.propertyName] }}</a>
                            <a ng-if="field.action" ng-click="field.action(entity)">
                              {{ entity[field.propertyName] }}
                            </a>
                            <a ng-if="!field.link && !field.action">{{ entity[field.propertyName] }}</a>
                            <span ng-if="field.subtitle" class="subtitle">
                                #{{ entity.key }} <span title="{{ ::entity.created | date:'medium' }}" am-time-ago="entity.created"></span>
                            </span>
                            <span class="field-description"
                                  ng-if="field.description && field.description.condition == entity[field.description.field]">
                                {{ field.description.text }}
                            </span>
                        </span>

                        <a ng-switch-when="link" ng-if="field.link" ui-sref="{{ field.link }}">
                            {{ entity[field.propertyName] }}
                        </a>
                        <a ng-switch-when="link" ng-if="!field.link">
                            {{ entity[field.propertyName] }}
                        </a>
                        <a ng-switch-when="staticLink" href="{{ entity[field.propertyName] }}">
                            {{ field.link }}
                        </a>
                        <span title="{{ ::entity[field.propertyName] | date:'medium' }}" ng-switch-when="date" am-time-ago="entity[field.propertyName]"></span>
                        <span ng-switch-when="dateCreated">{{ entity[field.propertyName] | date:'medium' }}</span>
                        <span ng-switch-when="dateShort">{{ entity[field.propertyName] | date:'yyyy-MM-dd' }}</span>

                        <span ng-switch-when="listInField"
                              ng-if="!field.propertyNameKey"
                              ng-repeat="fieldListItem in entity[field.propertyName]">
                            {{ fieldListItem }}
                        </span>
                        <span ng-switch-when="listInField"
                              ng-if="field.propertyNameKey"
                              ng-repeat="fieldListItem in entity[field.propertyName]">
                            {{ fieldListItem[field.propertyNameKey] }}
                        </span>
                        <span ng-switch-when="listInField" ng-if="entity[field.propertyName].length == 0">
                            <i>{{ field.emptyText }}</i>
                        </span>

                        <span ng-switch-when="linkOrText">
                            <a ng-if="entity[field.urlPropertyName]"
                               href="{{ entity[field.urlPropertyName] }}"
                               title="{{ entity[field.urlPropertyName] }}"
                               target="_blank">
                                <b class="icon external-link"></b>
                                {{ field.linkDisplayName || entity[field.urlPropertyName] }}
                            </a>
                            <span ng-if="!entity[field.urlPropertyName] && !field.filtered">
                                {{ entity[field.propertyName] || entity[field.propertyNameBackup] }}
                            </span>
                            <span ng-if="!entity[field.urlPropertyName] && field.filtered">
                                {{ entity[field.filtered] }}
                            </span>
                        </span>

                        <span ng-switch-when="entityStatus" class="status"
                              ng-class="{'online': entity[field.propertyName] == field.onlineStatus,
                               'offline' : entity[field.propertyName] == field.offlineStatus}">
                            {{ entity[field.propertyName] }}</span>

                        <span ng-switch-when="editable" class="details-expandable">
                            <span editable-text="entity[field.propertyName]"
                                  e-form="rowform"
                                  buttons="no"
                                  onbeforesave="entityList.editInPlace(entity, $data)">
                                    {{ entity[field.propertyName] }}
                            </span>
                            <div stoppropagation class="icon pencil-square-o" ng-click="rowform.$show()" ng-hide="rowform.$visible"></div>
                        </span>
                        
                        <a ng-switch-when="staticIconLink"
                           ng-if="entity[field.propertyName]"
                           href="{{ entity[field.propertyName] }}">
                            <i class="icon {{ ::field.iconClass }}"></i>
                        </a>

                        <span ng-switch-when="html" ng-bind-html="entity[field.propertyName]"></span>

                        <span ng-switch-when="trimmed">
                            {{ entity[field.propertyName] | limitTo : field.limit }}
                        </span>

                        <span ng-switch-when="currency">
                            {{ entity[field.propertyName] | defaultCurrency }}
                        </span>

                        <span class="cell-default-span" ng-switch-default>
                            {{ entity[field.propertyName] ? entity[field.propertyName] : field.emptyText }}
                        </span>

                    </div>
                    <div class="actions"
                         ng-if="!entityOptions.entityData.hideActionButtons"
                         ng-switch="entityOptions.entityData.actionButtonsType">
                         <div ng-switch-when="refresh" 
                              class="actions-button">
                             <a class="btn btn-primary"
                               ng-click="entityList.getCommentsForIssue(entity.key)">
                                 <i class="fa fa-refresh"></i>
                               </a>
                         </div>

                         <action-button-resource
                            ng-switch-when="resource"
                            button-controller="entityList"
                            button-model="entity"></action-button-resource>

                         <action-button
                            ng-switch-default
                            button-list="entityButtons"
                            button-controller="entityList"
                            ng-if="entityButtons"
                            button-model="entity">
                         </action-button>
                    </div>

                    <expandable-indicator ng-if="::entityList.expandableOptions" open="entity.expandItemOpen"></expandable-indicator>
                </div>

                <expandableitem ng-if="entityList.expandableOptions && entity.expandItemOpen"
                                ng-repeat="item in entityList.expandableOptions"
                                class="list-item-details opened"
                                expandable-element="entity"
                                expandable-list="entityList"
                                expandable-options="item">
                </expandableitem>

            </li>
        </ul>
    </div>

    <pagination pages-list="entityList" pages-service="entityList.service"
                ng-if="entityList.list.length > 0 && !entityOptions.entityData.hidePagination"></pagination>
    <div class="clear"></div>

    <div block-ui="load-more" class="button-wrap-center" ng-show="entityOptions.entityData.loadMoreButton">
        <div>
            Loaded {{ entityList.list.length }} of {{entityList.initialListLength}} items
        </div>
        <div ng-show="entityList.itemsToShow.length">
            <button class="button-green" ng-click="entityList.loadMore()">
                <span>Load More</span>
            </button>
        </div>
    </div>
</div>
