<div class="table-action" ng-if="entityOptions.entityData.openMap && entityList.list.length > 0" visible-if="openMap">
    <button class="btn btn-primary" ng-click="entityOptions.entityData.openMap()">
      <i class="icon map-marker"></i> Open map
    </button>
</div>

<div class="table-action" ng-if="entityOptions.entityData.createLink">
  <div class="tooltip-relative"
       check-quotas="{{entityOptions.entityData.checkQuotas}}"
       sref="{{ entityOptions.entityData.createLink }}"
       class-link="btn btn-primary"
       tooltip-type="list-items">
        <i class="icon plus"></i>
        {{ entityOptions.entityData.createLinkText }}
  </div>
</div>

<div class="table-action" ng-if="entityOptions.entityData.createLinkAction">
  <div class="tooltip-relative"
       check-quotas="{{entityOptions.entityData.checkQuotas}}"
       class-link="btn btn-primary"
       ng-click="entityOptions.entityData.createLinkAction()"
       tooltip-type="list-items">
        <i class="icon plus"></i>
        {{ entityOptions.entityData.createLinkText }}
  </div>
</div>

<div class="table-action" ng-if="entityOptions.entityData.createPopup">
    <div class="tooltip-relative"
         check-quotas="{{entityOptions.entityData.checkQuotas}}"
         ng-click="entityOptions.entityData.createPopup()"
         class-link="btn btn-primary"
         tooltip-type="list-items">
        <i class="icon plus"></i>
        {{ entityOptions.entityData.createPopupText }}
    </div>
</div>

<div class="table-action" ng-if="entityOptions.entityData.importLink" visible="import">
  <div class="tooltip-relative"
       check-quotas="{{entityOptions.entityData.checkQuotas}}"
       sref="{{ entityOptions.entityData.importLink }}"
       class-link="btn btn-primary"
       tooltip-type="list-items"
       title="{{ entityOptions.entityData.importLinkTooltip }}">
        <i class="icon fa-cloud-download"></i>
        {{ entityOptions.entityData.importLinkText }}
  </div>
</div>

<div ng-if="entityList.helpKey" class="table-action list-help-button">
  <button class="btn btn-primary" ng-click="entityList.showHelpTypes()">?</a>
</div>


<div class="table-action">
  <list-cache-reset list-controller="entityList"
                    list-service="entityService"
                    list-timer="entityOptions.entityData.timer"></list-cache-reset>
</div>
