<div class="modal-header">
  <h3 class="modal-title">
    <span translate>Please select your organization</span>
  </h3>
</div>
<div class="modal-body">
  <div ng-if="!$ctrl.initialized">
    <loading-spinner/>
  </div>
  <div ng-if="$ctrl.initialized">
    <div ng-if="$ctrl.error">
      <span translate>Data is unavailable.</span>
    </div>
    <div ng-if="!$ctrl.error">
      <div>
        <ui-select ng-model="$ctrl.provider"
                   title="{{'Choose an organization' | translate }}">
          <ui-select-match placeholder="{{'Enter at least 2 characters to start searching...' | translate}}">
            {{$select.selected.name}}
          </ui-select-match>
          <ui-select-choices
              minimum-input-length="2"
              repeat="item in $ctrl.providers | filter: $select.search | limitTo: $ctrl.providersLimit | orderBy:'name'">
            <div ng-bind-html="item.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <form action="{{ $ctrl.loginUrl }}" method="post">
    <input type="hidden" name="idp" value="{{ $ctrl.provider.url }}"/>
    <button type="submit" class="btn btn-primary" ng-disabled="!$ctrl.isProviderSelected()">
      <span translate>Login</span>
    </button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.dismiss()">
      <span translate>Cancel</span>
    </button>
  </form>
</div>
