<div class="modal-header">
  <h3 class="modal-title" translate>{{ ::addTitle }} team member</h3>
</div>
<div class="modal-body">
  <div ng-if="loading">
    <h1 class="text-center"><i class="icon fa-spinner fa-spin"></i></h1>
  </div>
  <div ng-if="!loading" block-ui="add-team-member-dialog">
    <div class="form-group" ng-if="editUser">
      <p class="form-control-static">
        <strong translate>User</strong>
        {{ editUser.full_name || editUser.username }}
      </p>
    </div>

    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox"
             ng-disabled="!canChangeRole"
             ng-model="userModel.role"
             ng-true-value="'owner'"
             ng-false-value="''">
          </input>
          {{ ::roles.owner }}
          <helpicon ng-if="!canChangeRole" help-text="{{ ::helpText }}"></helpicon>
        </label>
      </div>
    </div>

    <div class="form-group" ng-if="!emptyProjectList">
      <label class="control-label" translate>Projects list</label>
      <table class="table">
        <thead>
        <tr>
          <td translate>Project name</td>
          <td translate>Role</td>
          <td class="col-xs-4" translate>Expiration time</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in projects track by project.uuid">
          <td>
            <strong>{{ project.name }}</strong>
          </td>
          <td>
            <action-field-select model="project" field="select"></action-field-select>
          </td>
          <td>
            <action-field-datetime model="project" field="datetime"></action-field-datetime>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="form-group" ng-if="userModel.role">
      <label class="control-label" translate>Customer role expires on</label>
      <action-field-datetime model="userModel" field="datetime"></action-field-datetime>
    </div>

    <p ng-if="emptyProjectList" class="text-danger" translate>
      There are no available projects.
    </p>

    <div class="error" ng-repeat="error in errors track by $index" ng-bind="error"></div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary"
    submit-button="saveUser()"
    ng-class="{'disabled': !validateSubmit()}">
    {{ ::addText | translate }}
  </button>
  <button class="btn btn-default"
    ng-click="$dismiss()"><span translate>Cancel</span>
  </button>
</div>
