<ui-select ng-model="model.user" ng-required="model.user" theme="bootstrap">
  <ui-select-match placeholder="{{ 'Select user...' | translate }}">
    {{ $select.selected.full_name || $select.selected.username }}
  </ui-select-match>
  <ui-select-choices repeat="user in users | filter: $select.search">
    <div>{{ ::user.full_name }}</div>
    <small>
      <div ng-if="::user.username">
        <span translate>Username</span>: {{ ::user.username }}
      </div>
      <div ng-if="::user.email">
        <span translate>E-mail</span>: {{ ::user.email }}
      </div>
      <div ng-if="::user.civil_number">
        <span translate>Civil number</span>: {{ ::user.civil_number }}
      </div>
    </small>
  </ui-select-choices>
</ui-select>
