<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5 translate>Owned organizations</h5>
                </div>
                <div class="ibox-content">
                    <user-organizations></user-organizations>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5 translate>Managed projects</h5>
                </div>
                <div class="ibox-content">
                    <user-projects></user-projects>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5 translate>Audit logs</h5>
                </div>
                <div class="ibox-content">
                    <user-events user="currentUser"></user-events>
                </div>
            </div>
        </div>
    </div>
</div>
