<div class="table-responsive">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td><strong>Full name</strong></td>
                <td>{{ $ctrl.user.username }}</td>
            </tr>
            <tr>
                <td><strong>ID code</strong></td>
                <td>{{ $ctrl.user.civil_number || 'N/A' }}</td>
            </tr>
            <tr>
                <td><strong>Phone numbers</strong></td>
                <td>{{ $ctrl.user.phone_number || 'N/A' }}</td>
            </tr>
            <tr>
                <td><strong>E-mail</strong></td>
                <td>{{ $ctrl.user.email }}</td>
            </tr>
            <tr>
                <td><strong>Preferred language</strong></td>
                <td>{{ $ctrl.user.preferred_language || 'N/A' }}</td>
            </tr>
            <tr>
                <td><strong>Competence</strong></td>
                <td>{{ $ctrl.user.competence || 'N/A' }}</td>
            </tr>
            <tr>
                <td><strong>Role deprecation time</strong></td>
                <td>{{ $ctrl.user.role_deprecation_time || 'N/A' }}</td>
            </tr>
            <tr>
                <td><strong>Job position</strong></td>
                <td>{{ $ctrl.user.job_title || 'N/A' }}</td>
            </tr>
        </tbody>
    </table>
</div>
