<div class="details-table__row">
  <div class="details-table__key">
    Timestamp
  </div>
  <div class="details-table__value">
    {{ ::expandableElement['@timestamp'] | dateTime }}
  </div>
</div>
<div class="details-table__row" ng-if="::expandableElement.user_uuid">
  <div class="details-table__key">
    User
  </div>
  <div class="details-table__value">
    <a ui-sref="users.details({uuid: expandableElement.user_uuid })">
      {{ ::expandableElement.user_full_name || expandableElement.user_username }}
    </a>
  </div>
</div>
<div class="details-table__row" ng-if="::expandableElement.ip_address">
  <div class="details-table__key">
    IP address
  </div>
  <div class="details-table__value">
    {{ ::expandableElement.ip_address }}
  </div>
</div>
<div class="details-table__row">
  <div class="details-table__key">
    Importance
  </div>
  <div class="details-table__value">
    {{ ::expandableElement.importance | titleCase }}
  </div>
</div>
<div class="details-table__row">
  <div class="details-table__key">
    Event type
  </div>
  <div class="details-table__value">
    {{ ::expandableElement.event_type }}
  </div>
</div>
<div class="details-table__row" ng-if="::expandableElement.error_message">
  <div class="details-table__key">
    Error message
  </div>
  <div class="details-table__value">
    {{ ::expandableElement.error_message }}
  </div>
</div>
<div class="details-table__row" ng-if="::expandableElement.customer_uuid">
  <div class="details-table__key">
    Organization
  </div>
  <div class="details-table__value">
    <a ui-sref="organization.details({uuid: expandableElement.customer_uuid })">
      {{ ::expandableElement.customer_name }}
    </a>
  </div>
</div>
<div class="details-table__row" ng-if="::expandableElement.project_uuid">
  <div class="details-table__key">
    Project
  </div>
  <div class="details-table__value">
    <a ui-sref="project.details({uuid: expandableElement.project_uuid })">
      {{ ::expandableElement.project_name }}
    </a>
  </div>
</div>
<div class="details-table__row" ng-if="::expandableElement.service_uuid">
  <div class="details-table__key">
    Service
  </div>
  <div class="details-table__value">
    <a ui-sref="organization.providers({
      uuid: expandableElement.customer_uuid,
      providerUuid: expandableElement.service_uuid,
      providerType: expandableElement.service_type
    })">
      {{ ::expandableElement.service_name }}
    </a>
  </div>
</div>
<div class="details-table__row" ng-if="::expandableElement.resource_uuid">
  <div class="details-table__key">
    Resource
  </div>
  <div class="details-table__value">
    <a ui-sref="resources.details({
      uuid: expandableElement.resource_uuid,
      resource_type: expandableElement.resource_type
    })">
      {{ ::expandableElement.resource_full_name }}
    </a>
  </div>
</div>
