<section detailscontent="checkbox avatar">

    <header>
        <h4 ng-if="expandableOptions.headBlock == 'heading'" class="item-title">{{ expandableOptions.sectionTitle | translate }}</h4>

        <minipagination
                page-models="expandableList[expandableOptions.listKey]"
                page-model-id="expandableElement[expandableOptions.modelId]"
                page-change="expandableOptions.minipaginationData.pageChange"
                page-entity-name="{{ expandableOptions.minipaginationData.pageEntityName }}">
        </minipagination>
    </header>

    <ul class="list-blocks">
        <li class="item-list" ng-repeat="element in pageModels[modelId].data">
            <section ng-if="expandableOptions.isList">
                <span ng-repeat="item in expandableOptions.list" ng-switch="item.type">
                    <div class="avatar small" ng-switch-when="avatar">
                        <img gravatar-src="element[item.avatarSrc]" gravatar-size="60">
                    </div>
                    <a ui-sref="{{ item.entityDetailsLink }}"
                       ng-switch-when="link">{{ element[item.entityDetailsLinkText] | translate }}</a>
                </span>
            </section>
        </li>
    </ul>

    <article ng-if="expandableOptions.addItemBlock" class="light-description">
        {{ expandableOptions.articleBlockText | translate }}
        <a ui-sref="{{ expandableOptions.entitiesLinkRef }}">{{ expandableOptions.entitiesLinkText | translate }}</a>.
    </article>

</section>
