<section class="expand-project-limits">
    <div class="name">
        <span>Cost threshold (used / bar)</span>
    </div>
    <div class="price">
        <span>$0 / </span>
        <input type="text" value="$200" ng-disabled="!expandableOptions.isOwner" />
        <a ng-if="expandableOptions.isOwner" class="button">save</a>
    </div>
    <div class="switcher-wrap">
        <span>
            Disable provisioning when threshold is reached
        </span>
        <input type="checkbox" id="switch{{ $id }}">
        <label for="switch{{ $id }}" ng-show="expandableOptions.isOwner">
            <span>on</span><span>off</span>
        </label>
    </div>
</section>
