<section detailscontent="checkbox avatar">

    <header>
        <section ng-if="expandableOptions.headBlock == 'description'" detailscontent="status avatar">
            <article class="normal-description">{{ expandableElement.description }}</article>
        </section>

        <minipagination
                page-models="expandableList[expandableOptions.listKey]"
                page-model-id="expandableElement[expandableOptions.modelId]"
                page-change="expandableList[expandableOptions.minipaginationData.pageChange]"
                page-entity-name="{{ expandableOptions.minipaginationData.pageEntityName }}">
        </minipagination>
    </header>

    <ul class="list-blocks-support">
        <li class="item-list" ng-repeat="element in pageModels[modelId].data">
            <section ng-if="expandableOptions.answersBlock">
                <div class="list-item">
                    <div class="status"></div>
                    <div class="avatar">
                <span class="avatar">
                    <img gravatar-src="element.author.emailAddress" gravatar-size="100" alt="" class="avatar-img">
                </span>
                    </div>
                    <div class="name">
                <span class="subtitle">
                    <strong>{{ element.author.displayName }}</strong> answer {{ element.created | date:'medium' }}
                </span>
                    </div>
                </div>
                <section class="support-answer">
                    <article class="normal-description">{{ element.body }}</article>
                </section>
            </section>
        </li>
    </ul>

    <section ng-if="expandableOptions.hasAnswerForm" class="section-feedback">
        <div class="comment-form">
            <label for="">Leave message</label>
            <textarea name="" id="" cols="30" rows="10" ng-model="expandableElement.newCommentBody"></textarea>
            <div class="decision">
                <div class="col">
                    <a class="button-apply" ng-click="expandableList.addComment(expandableElement)"
                       ng-class="{'disabled': expandableElement.newCommentSaving || !expandableElement.newCommentBody}">Submit message</a>
                </div>
            </div>
        </div>
    </section>

</section>
