<section block-ui="{{ ::expandableElement.uuid }}" ng-if="expandableElement.expandItemOpen">
    <p ng-if="expandableOptions.title && expandableElement[expandableOptions.listKey].length">
        {{ expandableOptions.title | translate }}:
        <span ng-repeat="project in expandableElement[expandableOptions.listKey]">
            <span><a ui-sref="project.details({uuid: project.uuid})">{{project.name}}</a></span>
        </span>
    </p>
    <p ng-if="expandableOptions.emptyTitle && !expandableElement[expandableOptions.listKey].length">
        {{expandableOptions.emptyTitle | translate}}
    </p>
</section>
