.modal-container {
  position: relative;
}

.modal-container .modal,
.modal-container .modal-backdrop {
  position: absolute;
}

.modal .modal-header.has-icon {
  overflow: hidden;
  position: relative;
}
.modal .has-icon .modal-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .has-icon .modal-icon > svg {
  line-height: 1;
  width: 24px;
  height: 24px;
}
.modal .has-icon .icon-background {
  position: absolute;
  top: -25px;
  left: 49px;
  transform: translateX(-50%);
  height: 270px;
}
