<div>
  <div class="mb-6 card">
    <div class="card-body">
      <p class="mb-10">
        Version: 1.2
        <em class="fw-light ms-4">Published: 24. June 2022</em>
      </p>

      <h2 class="fw-bold">Terms of Services</h2>
      <p>
        For example see:
        <a href="https://www.heroku.com/policy/tos">Heroku Terms of Service</a>.
      </p>
            <p>
        This is a placeholder for the terms of services.
      </p>
      <div class="accordion accordion-icon-toggle" id="accordion_pp">
        <!-- Highlights -->
        <div class="mb-5">
          <div
            class="accordion-header py-3 d-flex"
            data-bs-toggle="collapse"
            data-bs-target="#accordion_pp_item_1"
          >
            <span class="accordion-icon">
              <span class="svg-icon svg-icon-4">
                <i class="fa fa-plus-square fa-lg"></i>
              </span>
            </span>
            <h3 class="fs-4 fw-bold mb-0 ms-4">Highlights</h3>
          </div>

          <div
            id="accordion_pp_item_1"
            class="fs-6 collapse show ps-10"
            data-bs-parent="#accordion_pp"
          >
            Some text ...
          </div>
        </div>
        <!-- /Highlights -->

        <!-- Who can use -->
        <div class="mb-5">
          <div
            class="accordion-header py-3 d-flex collapsed"
            data-bs-toggle="collapse"
            data-bs-target="#accordion_pp_item_2"
          >
            <span class="accordion-icon">
              <span class="svg-icon svg-icon-4">
                <i class="fa fa-plus-square fa-lg"></i>
              </span>
            </span>
            <h3 class="fs-4 fw-bold mb-0 ms-4">Who can use</h3>
          </div>

          <div
            id="accordion_pp_item_2"
            class="fs-6 collapse show ps-10"
            data-bs-parent="#accordion_pp"
          >
            Some text ...
          </div>
        </div>
        <!-- /Who can use -->

        <!-- How to use -->
        <div class="mb-5">
          <div
            class="accordion-header py-3 d-flex collapsed"
            data-bs-toggle="collapse"
            data-bs-target="#accordion_pp_item_3"
          >
            <span class="accordion-icon">
              <span class="svg-icon svg-icon-4">
                <i class="fa fa-plus-square fa-lg"></i>
              </span>
            </span>
            <h3 class="fs-4 fw-bold mb-0 ms-4">
              How to use
            </h3>
          </div>

          <div
            id="accordion_pp_item_3"
            class="fs-6 collapse show ps-10"
            data-bs-parent="#accordion_pp"
          >
            Some text ...
          </div>
        </div>
        <!-- /How to use -->

        <!-- Rights and responsibilities -->
        <div class="mb-5">
          <div
            class="accordion-header py-3 d-flex collapsed"
            data-bs-toggle="collapse"
            data-bs-target="#accordion_pp_item_4"
          >
            <span class="accordion-icon">
              <span class="svg-icon svg-icon-4">
                <i class="fa fa-plus-square fa-lg"></i>
              </span>
            </span>
            <h3 class="fs-4 fw-bold mb-0 ms-4">
              Rights and responsibilities
            </h3>
          </div>

          <div
            id="accordion_pp_item_4"
            class="fs-6 collapse show ps-10"
            data-bs-parent="#accordion_pp"
          >
            Some text ...
          </div>
        </div>
        <!-- /Rights and responsibilities -->
      </div>

    </div>
  </div>
</div>
