@media screen and (width >= 992px) {
  .invoice-details {
    display: flex;
    justify-content: center;
  }

  .invoice-details-content {
    max-width: 900px;
    width: 100%;
  }
}

@media print {
  body {
    visibility: hidden;
  }

  #kt_content_container {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
  }
}
