.category-hero {
  display: flex;
  width: 100%;
  height: 320px;
  overflow: auto;

  .category-hero__background-left {
    width: 55%;
    background-color: #2f4050;
    background-image: linear-gradient(to right, #000a, #000a),
      url(../landing/marketplace-background.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
  }
  .category-hero__background-right {
    width: 45%;
    background-color: #2f4050;
    background-image: url(../landing/marketplace-background.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .category-hero__table {
    display: table-cell;
    vertical-align: middle;
  }

  .category-hero__main {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    padding: 2rem;

    h1 {
      color: #fff;
      font-size: 38px;
      padding-bottom: 10px;
    }
  }

  @media (max-width: 1200px) {
    .category-hero__background-right {
      display: none;
    }
    .category-hero__background-left {
      width: 100%;
    }
  }
  @media (min-width: 992px) {
    .category-hero__main {
      padding-left: 4rem;
    }
  }
}
