<div class="ibox">
    <div class="ibox-title">
        <h5>{{ $ctrl.chart.title | translate }}</h5>
    </div>
    <div class="ibox-content">
        <h1>{{ $ctrl.chart.current }}</h1>
        <sparkline spark-data="$ctrl.chart.data"></sparkline>
        <div class="font-bold m-b-sm" ng-class="$ctrl.textClass">
            <span class="pull-right">
                {{ $ctrl.chart.change || 0 }}%
                <i class="fa" ng-class="$ctrl.iconClass"></i>
            </span>
        </div>
    </div>
</div>
