<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>{{ $ctrl.title | translate }}</h5>
    <div class="pull-right">
      <a class="btn btn-xs btn-link" ng-click="$ctrl.showTypes()">
        <i class="fa fa-question-circle"></i> {{ $ctrl.buttonTitle | translate }}
      </a>
    </div>
  </div>
  <div class="ibox-content">
    <div ng-if="$ctrl.loading">
      <loading-spinner/>
    </div>
    <div ng-if="!$ctrl.loading">
      <div ng-if="$ctrl.items.length == 0">
        {{ $ctrl.emptyText | translate }}
      </div>
      <div ng-if="$ctrl.items.length > 0">
        <div class="feed-activity-list">
          <div class="feed-element" ng-repeat="item in $ctrl.items">
            <a class="pull-right" ng-if="$ctrl.showDetails" ng-click="$ctrl.showDetails(item)">Details</a>
            <div ng-bind-html="::item.html_message"></div>
            <small class="pull-right" am-time-ago="item.created"></small>
            <small class="text-muted">{{ ::item.created | date:'medium' }}</small>
          </div>
        </div>
        <a class="btn btn-default btn-block m-t" ui-sref="{{ ::$ctrl.listState }}">
          <span translate>Show all</span>
        </a>
      </div>
    </div>
  </div>
</div>
