<div class="wrapper wrapper-content">
    <div class="row">
        <organization-chart customer="$ctrl.customer"/>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5 translate>Projects list</h5>
                </div>
                <div class="ibox-content">
                    <projects-list></projects-list>
                </div>
            </div>
        </div>
    </div>
</div>
