<div class="form-horizontal">
  <div class="form-group">
    <label for="keyName" class="col-sm-3 control-label">
      <span translate>Key name</span>:
    </label>
    <div class="col-sm-5">
      <input id="keyName"
        type="text"
        ng-model="KeyAdd.instance.name"
        class="form-control">
      <p class="text-danger"
        ng-repeat="error in KeyAdd.errors.name"
        ng-bind="error"></p>
    </div>
  </div>
  <div class="form-group">
    <label for="publicKey" class="col-sm-3 control-label">
      <help-link type="'keys'" name="'ssh'">
        <i class="fa fa-question-circle"></i>
      </help-link>
      <span translate>Public key</span>
    </label>
    <div class="col-sm-5">
            <textarea id="publicKey"
              class="form-control"
              ng-model="KeyAdd.instance.public_key"></textarea>
      <p class="text-danger"
        ng-repeat="error in KeyAdd.errors.public_key"
        ng-bind="error"></p>
    </div>
  </div>

  <p class="text-danger"
    ng-repeat="error in KeyAdd.errors.non_field_errors"
    ng-bind="error"></p>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-5">
      <button class="btn btn-primary" submit-button="KeyAdd.save()">
        <span translate>Add key</span>
      </button>
      <button class="btn btn-default" ng-click="KeyAdd.cancel()">
        <span translate>Cancel</span>
      </button>
    </div>
  </div>
</div>
