<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>My open issues</h5>
    </div>
    <div class="ibox-content">
        <div ng-if="$ctrl.loading">
            <h1 class="text-center"><i class="icon fa-spinner fa-spin"></i></h1>
        </div>
        <div ng-if="!$ctrl.loading && $ctrl.items.length == 0">
            There are no issues yet.
        </div>
        <table ng-if="!$ctrl.loading && $ctrl.items.length > 0"
               class="table table-hover no-margins">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.items">
                    <td>
                        <span class="label"
                              ng-class="item.labelClass"
                              ng-bind="item.type | uppercase">
                        </span>
                    </td>
                    <td>
                        <strong>{{ item.key }}</strong>
                        <p>
                            {{ item.title }}<br>
                            <small class="text-muted">
                                Opened by
                                <a ui-sref="profile.details"
                                   uib-popover-template="'user-popover.html'"
                                   popover-placement="bottom"
                                   popover-trigger="'mouseenter'"
                                   popover-append-to-body="'true'">
                                    {{ item.user.username }}
                                </a>
                                at {{ item.updated | dateTime }}
                            </small>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
