<div class="ibox float-e-margins">
    <div class="ibox-title">
        <span class="pull-right">
            <button class="btn btn-default btn-xs">
                <small><i class="fa fa-list"></i></small>
                See all
            </button>

            <button class="btn btn-default btn-xs">
                <small><i class="fa fa-refresh"></i></small>
                Refresh
            </button>
        </span>
        <h5>{{ ::$ctrl.label }}</h5>
    </div>
    <div class="ibox-content">
        <div ng-if="$ctrl.loading">
            <h1 class="text-center"><i class="icon fa-spinner fa-spin"></i></h1>
        </div>
        <div ng-if="!$ctrl.loading && $ctrl.items.length == 0">
            There are no issues yet.
        </div>
        <table ng-if="!$ctrl.loading && $ctrl.items.length > 0"
               class="table table-hover no-margins">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Description</th>
                    <th width="120">Updated</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.items">
                    <td>
                        <span class="label"
                              ng-class="item.labelClass"
                              ng-bind="::item.key"
                              uib-tooltip="{{ ::item.type | uppercase }}">
                        </span>
                    </td>
                    <td>
                        {{ item.title }}<br>
                        <small class="text-muted">
                            Opened by
                            <a ng-click="$ctrl.openUserDialog(item.user)">
                                {{ item.user.username }}
                            </a>
                            at {{ item.created | dateTime }}
                        </small>
                    </td>
                    <td>
                        <small>{{ item.updated | dateTime }}</small>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
