<div class="col-lg-9">
    <div class="ibox">
        <div class="ibox-content">
            <issues-list></issues-list>
        </div>
    </div>
</div>
<div class="col-lg-3" visible-if="'support.regular_issue_filters'">
    <div class="ibox">
        <div class="ibox-title">
            <h5 translate>Apply filters</h5>
        </div>
        <div class="ibox-content">
            <div class="form-group" ng-repeat="filter in $ctrl.filterList">
                <label class="control-label">{{ filter.label }}</label>
                <ui-select ng-model="filter.value" theme="bootstrap">
                    <ui-select-match placeholder="Select {{ filter.label | lowercase }}...">
                        {{ $select.selected.name }}
                    </ui-select-match>
                    <ui-select-choices repeat="option in filter.options">
                        {{ option.name }}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
</div>
