<div class="ibox">
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-2" ng-repeat="filter in $ctrl.filters">
                <ui-select ng-model="$ctrl.filter[filter.name]" theme="bootstrap">
                    <ui-select-match placeholder="Select {{ filter.label | lowercase }}..."
                                     allow-clear="true">
                        {{ $select.selected.label }}
                    </ui-select-match>
                    <ui-select-choices repeat="option in filter.options | filter: {label: $select.search}">
                        {{ option.label }}
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-2">
                <input type="text" ng-model="$ctrl.filter.summary" class="form-control" placeholder="Search">
            </div>
            <div class="col-md-2">
                <a class="btn btn-primary"
                   ng-click="$ctrl.openDialog()">
                    <i class="fa fa-plus"></i>
                    Create new issue
                </a>
            </div>
        </div>
    </div>
</div>

<issues-list filter="$ctrl.filter"></issues-list>
