<div class="modal-header">
    <h3 class="modal-title">Create issue</h3>
</div>
<div class="modal-body">
<form class="form-horizontal">
    <div class="form-group">
        <label for="issueType" class="col-sm-3 control-label">
            Issue type
        </label>
        <div class="col-sm-9">
            <ui-select ng-model="$ctrl.issue.type" theme="bootstrap">
                <ui-select-match placeholder="Select issue type...">
                    <i class="fa" ng-class="[$select.selected.iconClass, $select.selected.textClass]"></i>
                    {{ $select.selected.label }}
                </ui-select-match>
                <ui-select-choices repeat="option in $ctrl.types">
                    <i class="fa" ng-class="[option.iconClass, option.textClass]"></i>
                    {{ option.label }}
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group">
        <label for="issueName" class="col-sm-3 control-label">
            Title
        </label>
        <div class="col-sm-9">
            <input type="text"
                id="issueName"
                ng-model="$ctrl.issue.name"
                class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="issueDescription" class="col-sm-3 control-label">
            Description
        </label>
        <div class="col-sm-9">
            <textarea type="text"
                id="issueDescription"
                ng-model="$ctrl.issue.description"
                class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            Caller
        </label>
        <div class="col-sm-9">
            <ui-select ng-model="$ctrl.issue.caller" theme="bootstrap">
                <ui-select-match placeholder="Select caller...">
                    {{ $select.selected.label }}
                </ui-select-match>
                <ui-select-choices repeat="option in $ctrl.users">
                    {{ option.label }}
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            Organization
        </label>
        <div class="col-sm-9">
            <ui-select ng-model="$ctrl.issue.customer" theme="bootstrap">
                <ui-select-match placeholder="Select organization...">
                    {{ $select.selected.label }}
                </ui-select-match>
                <ui-select-choices repeat="option in $ctrl.customers">
                    {{ option.label }}
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            Project
        </label>
        <div class="col-sm-9">
            <ui-select ng-model="$ctrl.issue.project" theme="bootstrap">
                <ui-select-match placeholder="Select project...">
                    {{ $select.selected.label }}
                </ui-select-match>
                <ui-select-choices repeat="option in $ctrl.projects">
                    {{ option.label }}
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            Scope
        </label>
        <div class="col-sm-9">
            <ui-select ng-model="$ctrl.issue.scope" theme="bootstrap">
                <ui-select-match placeholder="Select scope...">
                    {{ $select.selected.label }}
                </ui-select-match>
                <ui-select-choices repeat="option in $ctrl.scopes">
                    {{ option.label }}
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            Affected resource
        </label>
        <div class="col-sm-9">
            <ui-select ng-model="$ctrl.issue.resource" theme="bootstrap">
                <ui-select-match placeholder="Select affected resource...">
                    {{ $select.selected.label }}
                </ui-select-match>
                <ui-select-choices repeat="option in $ctrl.scopes">
                    {{ option.label }}
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" submit-button="$ctrl.save()">Create issue</button>
    <button class="btn btn-default" ng-click="$ctrl.dismiss()">Cancel</button>
</div>
