<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox-content">
                <div class="row">
                <form class="form-horizontal col-md-9">
                    <div class="form-group">
                        <label for="issueType" class="col-sm-3 control-label">
                            Issue type
                        </label>
                        <div class="col-sm-7">
                            <ui-select ng-model="$ctrl.issue.type" theme="bootstrap">
                                <ui-select-match placeholder="Select issue type...">
                                    <i class="fa" ng-class="[$select.selected.iconClass, $select.selected.textClass]"></i>
                                    {{ $select.selected.label }}
                                </ui-select-match>
                                <ui-select-choices repeat="option in $ctrl.types">
                                    <i class="fa" ng-class="[option.iconClass, option.textClass]"></i>
                                    {{ option.label }}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="issueName" class="col-sm-3 control-label">
                            Title
                        </label>
                        <div class="col-sm-7">
                            <input type="text"
                                id="issueName"
                                ng-model="$ctrl.issue.name"
                                class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="issueDescription" class="col-sm-3 control-label">
                            Description
                        </label>
                        <div class="col-sm-7">
                            <textarea type="text"
                                id="issueDescription"
                                ng-model="$ctrl.issue.description"
                                class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Caller
                        </label>
                        <div class="col-sm-7">
                            <ui-select ng-model="$ctrl.issue.caller" theme="bootstrap">
                                <ui-select-match placeholder="Select caller...">
                                    {{ $select.selected.label }}
                                </ui-select-match>
                                <ui-select-choices repeat="option in $ctrl.users">
                                    {{ option.label }}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-sm-2 form-control-static" ng-if="$ctrl.issue.caller">
                            <a ng-click="$ctrl.openUserDialog($ctrl.issue.caller)">
                               Caller details
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Organization
                        </label>
                        <div class="col-sm-7">
                            <ui-select ng-model="$ctrl.issue.customer" theme="bootstrap">
                                <ui-select-match placeholder="Select organization...">
                                    {{ $select.selected.label }}
                                </ui-select-match>
                                <ui-select-choices repeat="option in $ctrl.customers">
                                    {{ option.label }}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-sm-2 form-control-static" ng-if="$ctrl.issue.customer">
                            <a ng-click="$ctrl.openCustomerDialog($ctrl.issue.customer)">
                               Organization details
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Project
                        </label>
                        <div class="col-sm-7">
                            <ui-select ng-model="$ctrl.issue.project" theme="bootstrap">
                                <ui-select-match placeholder="Select project...">
                                    {{ $select.selected.label }}
                                </ui-select-match>
                                <ui-select-choices repeat="option in $ctrl.projects">
                                    {{ option.label }}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Scope
                        </label>
                        <div class="col-sm-7">
                            <ui-select ng-model="$ctrl.issue.scope" theme="bootstrap">
                                <ui-select-match placeholder="Select scope...">
                                    {{ $select.selected.label }}
                                </ui-select-match>
                                <ui-select-choices repeat="option in $ctrl.scopes">
                                    {{ option.label }}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Affected resource
                        </label>
                        <div class="col-sm-7">
                            <ui-select ng-model="$ctrl.issue.resource" theme="bootstrap">
                                <ui-select-match placeholder="Select affected resource...">
                                    {{ $select.selected.label }}
                                </ui-select-match>
                                <ui-select-choices repeat="option in $ctrl.scopes">
                                    {{ option.label }}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </form>
                </div>
            </div>
            <div class="ibox-content">
                <button class="btn btn-primary pull-right" submit-button="$ctrl.save()">Create issue</button>
                <button class="btn btn-default" cancel-button>Cancel</button>
            </div>
        </div>
    </div>
</div>
