//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//

// Theme colors
// Primary base
$primary-50: if(isDarkMode(), #1a261d, #f1f7ef);
$primary-100: if(isDarkMode(), #2b3d2f, #e6f0e3);
$primary-200: if(isDarkMode(), #405448, #c3dabb);
$primary-300: if(isDarkMode(), #5d806b, #97bf89);
$primary-600: if(isDarkMode(), #6f977f, #286100);
$primary-700: if(isDarkMode(), #adcba2, #174000);
$primary-800: if(isDarkMode(), #ffffff, #1d2b1c);

// Primary
$primary: if(isDarkMode(), #78bf69, $primary-600);
$primary-active: if(isDarkMode(), #53a642, $primary-700);
$primary-light: if(isDarkMode(), #214729, #f1faff);
$primary-inverse: if(isDarkMode(), #172219, #ffffff);

// Secondary
$secondary: $primary-50 !default;
$secondary-active: $primary-200 !default;
$secondary-dark: $primary-300 !default;
$secondary-light: $primary-50 !default;
$secondary-inverse: $primary-700 !default;
$secondary-dark-inverse: $primary-800 !default;

// Success
$success: if(isDarkMode(), #53a642, #50cd89);
$success-active: if(isDarkMode(), #22c100, #47be7d);
$success-light: if(isDarkMode(), #1c3238, #e8fff3);
$success-inverse: #ffffff;

// Info
$info: if(isDarkMode(), #8950fc, #7239ea);
$info-active: if(isDarkMode(), #7337ee, #5014d0);
$info-light: if(isDarkMode(), #2f264f, #f8f5ff);
$info-inverse: #ffffff;

// Danger
$danger: if(isDarkMode(), #ff7e39, #f1416c);
$danger-active: if(isDarkMode(), #f5641e, #d9214e);
$danger-light: if(isDarkMode(), #3a2434, #fff5f8);
$danger-inverse: #ffffff;

// Warning
$warning: if(isDarkMode(), #ffa800, #ffc700);
$warning-active: if(isDarkMode(), #ee9d01, #f1bc00);
$warning-light: if(isDarkMode(), #392f28, #fff8dd);
$warning-inverse: #ffffff;

$dropdown-item-padding-x: 1.1rem;
$dropdown-item-padding-y: 1.1rem;

// Dark colors
$theme-dark-colors: (
  'secondary': $secondary-dark,
) !default; // Custom variable

// Dark inverse colors
$theme-dark-inverse-colors: (
  'secondary': $secondary-dark-inverse,
) !default; // Custom variable

// Card
$card-py: 1.23rem !default;
$card-px: 1.85rem !default;

// Buttons + Forms
//
$input-btn-padding-y-sm: 0.195rem !default;

$btn-padding-y-sm: $input-btn-padding-y-sm !default;
$btn-padding-x-sm: 0.62rem !default;

// Modals

// Padding applied to the modal body
$modal-inner-padding: 1.85rem !default;

$modal-lg: 840px !default;
$modal-sm: 400px !default;
