//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//

// Brand colors map
$brands: (
  '25': $brand-25,
  '50': $brand-50,
  '100': $brand-100,
  '200': $brand-200,
  '300': $brand-300,
  '400': $brand-400,
  '500': $brand-500,
  '600': $brand-600,
  '700': $brand-700,
  '800': $brand-800,
  '900': $brand-900,
) !default;

$brands-rgb: (
  '25': $brand-25-rgb,
  '50': $brand-50-rgb,
  '100': $brand-100-rgb,
  '200': $brand-200-rgb,
  '300': $brand-300-rgb,
  '400': $brand-400-rgb,
  '500': $brand-500-rgb,
  '600': $brand-600-rgb,
  '700': $brand-700-rgb,
  '800': $brand-800-rgb,
  '900': $brand-900-rgb,
) !default;

// Dark colors
$theme-dark-colors: (
  'secondary': $secondary-dark,
) !default; // Custom variable

// Dark inverse colors
$theme-dark-inverse-colors: (
  'secondary': $secondary-dark-inverse,
) !default; // Custom variable

// 50 colors
$theme-50-colors: (
  'brand': $brand-50,
  'gray': $gray-50,
  'primary': $primary-50,
  'secondary': $secondary-light,
  'light': $gray-50,
  'success': $success-50,
  'info': $info-50,
  'warning': $warning-50,
  'danger': $danger-50,
  // custom colors
  'pink': $pink-50,
  'blue': $blue-50,
  'teal': $teal-50,
  'indigo': $indigo-50,
  'purple': $purple-50,
  'rose': $rose-50,
  'moss': $moss-50,
  'orange': $orange-50,
) !default; // Custom variable

// 200 colors
$theme-200-colors: (
  'brand': $brand-200,
  'gray': $gray-200,
  'primary': $primary-200,
  'secondary': $secondary-active,
  'light': $gray-200,
  'success': $success-200,
  'info': $info-200,
  'warning': $warning-200,
  'danger': $danger-200,
  // custom colors
  'pink': $pink-200,
  'blue': $blue-200,
  'teal': $teal-200,
  'indigo': $indigo-200,
  'purple': $purple-200,
  'rose': $rose-200,
  'moss': $moss-200,
  'orange': $orange-200,
) !default; // Custom variable

// 500 colors
$theme-500-colors: (
  'brand': $brand-500,
  'gray': $gray-500,
  'primary': $primary-500,
  'secondary': $secondary-dark,
  'light': $gray-500,
  'success': $success-500,
  'info': $info-500,
  'warning': $warning-500,
  'danger': $danger-500,
  // custom colors
  'pink': $pink-500,
  'blue': $blue-500,
  'teal': $teal-500,
  'indigo': $indigo-500,
  'purple': $purple-500,
  'rose': $rose-500,
  'moss': $moss-500,
  'orange': $orange-500,
) !default; // Custom variable

// 700 colors
$theme-700-colors: (
  'brand': $brand-700,
  'gray': $gray-700,
  'primary': $primary-700,
  'secondary': $secondary-dark,
  'light': $gray-700,
  'success': $success-700,
  'info': $info-700,
  'warning': $warning-700,
  'danger': $danger-700,
  // custom colors
  'pink': $pink-700,
  'blue': $blue-700,
  'teal': $teal-700,
  'indigo': $indigo-700,
  'purple': $purple-700,
  'rose': $rose-700,
  'moss': $moss-700,
  'orange': $orange-700,
) !default; // Custom variable

// Button variants
/* prettier-ignore */
$button-variants: (
  'primary': (
    'contained': (
      'enabled': (bg: $btn-primary-bg, text: $text-white),
      'hovered': (bg: $btn-primary-bg_hover, text: $text-white),
      'focused': (bg: $btn-primary-bg_hover, text: $text-white, ring: $ring-primary-100),
      'pressed': (bg: $btn-primary-bg_pressed, text: $text-white),
      'disabled': (bg: $btn-bg-disable, text: $fg-disabled),
    ),
    'text': (
      'enabled': (bg: transparent, text: $text-brand-secondary, icon: $fg-brand-secondary),
      'hovered': (bg: $btn-secondary-bg, text: $text-brand-secondary, icon: $fg-brand-secondary),
      'focused': (bg: $btn-secondary-bg_hover, text: $text-brand-secondary, icon: $fg-brand-secondary, ring: $ring-primary-100),
      'pressed': (bg: transparent, text: $text-brand-primary, icon: $fg-brand-secondary),
      'disabled': (bg: transparent, text: $fg-disabled),
    ),
  ),
  'secondary': (
    'contained': (
      'enabled': (bg: $btn-secondary-bg, text: $text-brand-primary, icon: $fg-brand-secondary, border: $border-brand),
      'hovered': (bg: $btn-secondary-bg_hover, text: $text-brand-primary, icon: $fg-brand-secondary, border: $border-brand),
      'focused': (bg: $btn-secondary-bg_hover, text: $text-brand-primary, icon: $fg-brand-secondary, border: $border-brand, ring: $ring-primary-100),
      'pressed': (bg: $btn-secondary-bg_pressed, text: $text-brand-primary, icon: $fg-brand-secondary),
      'disabled': (bg: $btn-bg-disable, text: $fg-disabled),
    ),
    'text': (
      'enabled': (bg: transparent, text: $text-secondary, icon: $fg-quaternary),
      'hovered': (bg: $bg-tertiary, text: $text-secondary, icon: $fg-quinary),
      'focused': (bg: $bg-tertiary, text: $text-secondary, icon: $fg-quinary, ring: $ring-gray-200),
      'pressed': (bg: transparent, text: $text-secondary, icon: $fg-tertiary),
      'disabled': (bg: transparent, text: $fg-disabled),
    ),
  ),
  'tertiary': (
    'contained': (
      'enabled': (bg: $btn-tertiary-bg, text: $text-secondary, icon: $fg-quaternary, border: $border-primary),
      'hovered': (bg: $btn-tertiary-bg_hover, text: $text-secondary, icon: $fg-quaternary, border: $border-primary),
      'focused': (bg: $btn-tertiary-bg_hover, text: $text-secondary, icon: $fg-quaternary, border: $border-primary, ring: $ring-gray-100),
      'pressed': (bg: $btn-tertiary-bg_pressed, text: $text-secondary, icon: $fg-quaternary, border: $btn-tertiary-border_pressed),
      'disabled': (bg: $btn-bg-disable, text: $fg-disabled),
    ),
  ),
  'tertiary-ghost': (
    'contained': (
      'enabled': (bg: transparent, text: $text-secondary, icon: $fg-quaternary, border: transparent),
      'hovered': (bg: $btn-tertiary-bg_hover, text: $text-secondary, icon: $fg-quaternary, border: transparent),
      'focused': (bg: $btn-tertiary-bg_hover, text: $text-secondary, icon: $fg-quaternary, border: transparent, ring: $ring-gray-100),
      'pressed': (bg: $btn-tertiary-bg_pressed, text: $text-secondary, icon: $fg-quaternary, border: transparent),
      'disabled': (bg: transparent, text: $fg-disabled),
    ),
  ),
  'danger': (
    'contained': (
      'enabled': (bg: $btn-error-bg, text: $text-error-primary, border: $border-error),
      'hovered': (bg: $btn-error-bg_hover, text: $text-error-primary, icon: $fg-error-secondary, border: $border-error),
      'focused': (bg: $btn-error-bg, text: $text-error-primary, icon: $fg-error-secondary, ring: $ring-error-100),
      'pressed': (bg: $btn-error-bg_pressed, text: $text-primary_on-brand, icon: $fg-white),
      'disabled': (bg: $btn-bg-disable, text: $fg-disabled),
    ),
    'text': (
      'enabled': (bg: transparent, text: $danger-700, icon: $fg-error-primary),
      'hovered': (bg: $btn-error-bg_hover, text: $text-error-primary, icon: $fg-error-secondary),
      'focused': (bg: $btn-error-bg, text: $text-error-primary, icon: $fg-error-secondary, ring: $ring-error-100),
      'pressed': (bg: transparent, text: $text-error-primary, icon: $fg-error-secondary),
      'disabled': (bg: transparent, text: $fg-disabled),
    ),
  ),
  'warning': (
    'contained': (
      'enabled': (bg: $btn-warning-bg, text: $text-warning-primary, border: $fg-warning-secondary),
      'hovered': (bg: $btn-warning-bg_hover, text: $text-warning-primary, icon: $fg-warning-secondary),
      'focused': (bg: $btn-warning-bg, text: $text-warning-primary, icon: $fg-warning-secondary, ring: $ring-warning-100),
      'pressed': (bg: $btn-warning-bg_pressed, text: $text-primary_on-brand, icon: $fg-white),
      'disabled': (bg: $btn-bg-disable, text: $fg-disabled),
    ),
    'text': (
      'enabled': (bg: transparent, text: $warning-600, icon: $fg-warning-secondary),
      'hovered': (bg: $btn-warning-bg_hover, text: $text-warning-primary, icon: $fg-warning-secondary),
      'focused': (bg: $btn-warning-bg, text: $text-warning-primary, icon: $fg-warning-secondary, ring: $ring-warning-100),
      'pressed': (bg: transparent, text: $text-warning-primary, icon: $fg-warning-secondary),
      'disabled': (bg: transparent, text: $fg-disabled),
    ),
  ),
  'success': (
    'contained': (
      'enabled': (bg: $btn-success-bg, text: $text-success-primary, border: $border-success),
      'hovered': (bg: $btn-success-bg_hover, text: $text-success-primary, icon: $fg-success-secondary, border: $border-success),
      'focused': (bg: $btn-success-bg, text: $text-success-primary, icon: $fg-success-secondary, ring: $ring-success-100),
      'pressed': (bg: $btn-success-bg_pressed, text: $text-primary_on-brand, icon: $fg-white),
      'disabled': (bg: $btn-bg-disable, text: $fg-disabled),
    ),
    'text': (
      'enabled': (bg: transparent, text: $success-700, icon: $fg-success-primary),
      'hovered': (bg: $btn-success-bg_hover, text: $text-success-primary, icon: $fg-success-secondary),
      'focused': (bg: $btn-success-bg, text: $text-success-primary, icon: $fg-success-secondary, ring: $ring-success-100),
      'pressed': (bg: transparent, text: $text-success-primary, icon: $fg-success-secondary),
      'disabled': (bg: transparent, text: $fg-disabled),
    ),
  ),
) !default; // Custom variable

// Body
//
// Settings for the `<body>` element.
$body-bg: if(isDarkMode(), $gray-25, $white) !default;

// Links
//
// Style anchor elements.
$link-color: $text-brand-secondary !default;
$link-hover-color: $text-brand-secondary !default;

// -----------------------------
// Components

// Border Radiues
$border-radius-xs: 4px !default;
$border-radius-sm: 6px !default;
$border-radius: 8px !default;
$border-radius-lg: 8px !default;
$border-radius-xl: 12px !default;

// Card
$card-py: 1.23rem !default;
$card-px: 1.85rem !default;

// Buttons + Forms
//

$input-btn-padding-y: 0.538rem !default;
$input-btn-padding-y-sm: 0.39rem !default;
$input-btn-padding-y-lg: 0.692rem !default;

$btn-padding-y: $input-btn-padding-y !default;
$btn-padding-x: 0.846rem !default;
$btn-padding-y-sm: 0.23rem !default;
$btn-padding-x-sm: 0.54rem !default;
$btn-padding-y-lg: $input-btn-padding-y-lg !default;
$btn-padding-x-lg: 1.153rem !default;

$btn-border-radius-sm: $border-radius-sm !default;

$btn-disabled-opacity: 1 !default;

// Form inputs
$input-padding-y: 0.692rem !default;
$input-padding-x: 0.925rem !default;
$input-font-size: 1.08rem !default;
$input-font-weight: 400 !default;

$input-color: $text-primary !default;
$input-placeholder-color: $text-placeholder !default;
$input-bg: $bg-primary !default;
$input-border-color: $border-primary !default;
$input-box-shadow: unset !default;
$input-disabled-bg: $bg-disabled_subtle !default;
$input-disabled-color: $text-disabled !default; // Custom variable
$input-focus-border-color: $border-brand !default;
$input-focus-box-shadow: 0 0 0 1px $border-brand !default;

$form-feedback-invalid-color: $border-error;
$form-focus-feedback-invalid-color: $border-error-solid; // Custom variable
$form-feedback-icon-invalid-color: $fg-error-secondary;

// Check & Radio
$form-check-input-width: 1.539rem !default;
$form-check-input-width-sm: 1.231rem !default;
$form-check-input-bg-size: 70% 70% !default;
$form-check-input-bg-solid: $bg-quaternary !default; // Custom variable
$form-check-input-border: 1px solid $border-primary !default;
$form-check-input-border-radius: $border-radius-sm !default;
$form-check-input-border-radius-sm: $border-radius-xs !default;
$form-check-input-focus-border: $form-check-input-border !default;
$form-check-input-focus-box-shadow:
  0 0 0 2px $bg-primary,
  0 0 0 4px $border-brand-solid !default;
$form-check-input-checked-bg-color: $bg-brand-solid !default;
$form-check-input-indeterminate-bg-color: $bg-brand-solid !default;

$form-check-input-active-filter: none !default;

$form-check-input-disabled-checked-bg-image: url("data:image/svg+xml,<svg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M11 1.25L4.125 8.125L1 5' stroke='#{$fg-senary}' stroke-width='1.6666' stroke-linecap='round' stroke-linejoin='round'/></svg>"); // Custom variable
$form-check-input-disabled-indeterminate-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$fg-senary}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/></svg>"); // Custom variable
$form-check-radio-disabled-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$fg-senary}'/></svg>"); // Custom variable

$form-check-input-disabled-opacity: 1 !default;
$form-check-label-disabled-opacity: $form-check-input-disabled-opacity !default;

// Switch
$form-switch-color-solid: $fg-white !default;
$form-switch-width: 3.386rem !default;
$form-switch-height: 1.85rem !default; // Custom variable
$form-switch-width-sm: 2.77rem !default; // Custom variable
$form-switch-height-sm: 1.54rem !default; // Custom variable

// Dropdowns
$dropdown-box-shadow: if(
  isDarkMode(),
  0px 0px 30px rgba(0, 0, 0, 0.3),
  (0 12px 16px -4px rgba($gray-900, 0.1), 0 4px 6px -2px rgba($gray-900, 0.05%))
) !default;
$dropdown-item-padding-x: 16px;
$dropdown-item-padding-y: 10px;
$dropdown-link-hover-color: $gray-700;
$dropdown-link-hover-bg: $gray-50;
$dropdown-link-active-color: $gray-700;
$dropdown-link-active-bg: $gray-50;

// Modals

// Padding applied to the modal body
$modal-inner-padding: 1.85rem !default;

// Margin between elements in footer, must be lower than or equal to 2 * $modal-inner-padding
$modal-footer-margin-between: 0.923rem !default;

$modal-content-border-radius: $border-radius-xl !default;

$modal-content-box-shadow:
  0 12px 14px -4px rgba(#101828, 0.05),
  0 6px 6px -4px rgba(#101828, 0.03) !default;
$modal-content-box-shadow-xs:
  0 12px 14px -4px rgba(#101828, 0.1),
  0 6px 6px -4px rgba(#101828, 0.04) !default;
$modal-content-box-shadow-sm-up:
  0 20px 24px -4px rgba(#101828, 0.1),
  0 8px 8px -4px rgba(#101828, 0.04) !default;

$modal-lg: 840px !default;
$modal-md: 544px !default;
$modal-sm: 400px !default;

// Popovers
$popover-bg: $body-bg !default;

// Tooltips
$tooltip-bg: $bg-primary-solid !default;
$tooltip-color: $text-primary_on-brand !default;
$tooltip-padding-y: 0.154rem * 4 !default;
$tooltip-padding-x: 0.154rem * 6 !default;

// Badges
$badge-font-size: 1.075rem !default;
$badge-font-size-sm: 0.925rem !default;
$badge-font-size-lg: 1.075rem !default;
$badge-font-weight: 500 !default;
$badge-icon-size: 12px !default;
$badge-icon-space: 4px !default;
$badge-bullet-size: 6px !default;
$badge-bullet-space: 6px !default;
$badge-padding-y: 1px !default;
$badge-padding-y-sm: 1px !default; // Custom variable
$badge-padding-y-lg: 3px !default; // Custom variable
$badge-padding-x: 9px !default;
$badge-padding-x-sm: 7px !default; // Custom variable
$badge-padding-x-lg: 11px !default; // Custom variable

// Breadcrumbs
$breadcrumb-divider: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="6.26358" y1="18.4759" x2="14.0116" y2="1.86025" stroke="#{$fg-quinary}" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/></svg>') !default;
$breadcrumb-divider-color: $fg-quinary !default;
$breadcrumb-item-padding-x: 0.923rem !default;
$breadcrumb-color: $link-color !default; // Custom variable
$breadcrumb-active-color: $text-quaternary !default;

// Progress
$progress-height: 8px;
$progress-bg: if(
  isDarkMode(),
  $bg-brand-primary_alt !important,
  $bg-brand-primary_alt
);
$progress-box-shadow: unset;
$progress-bar-color: $white;
$progress-bar-bg: $primary;

// Pagination
$pagination-item-height: 2.154rem !default; // Custom variable
$pagination-item-space: 0.154rem !default; // Custom variable
$pagination-item-space-tablet-and-mobile: 0.154rem !default; // Custom variable

// Tables
$table-pagination-padding-y: 0.925rem;
