<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse" slimscroll="{height:'100%'}">
    <ul class="nav metismenu" id="side-menu">
      <li class="brand-name hidden-xs">
        <a ng-click="$ctrl.onLogoClick($event)">
          <span ng-if="::!$ctrl.sidebarLogo">
            <i class="fa fa-th-large"></i>
            {{ ::$ctrl.shortPageTitle }}
          </span>
          <span ng-if="::$ctrl.sidebarLogo">
            <img ng-src="{{ ::$ctrl.sidebarLogo }}">
          </span>
        </a>
      </li>
      <li class="nav-header">
        <user-sidebar></user-sidebar>
      </li>
      <li ui-sref-active="active"
        ng-repeat="item in $ctrl.items"
        ng-class="$ctrl.getItemCss(item)">
        <a ui-sref="{{ item.link }}"
          ng-attr-id="{{item.key}}"
          ng-if="item.link" ng-click="$ctrl.onMenuClick($event, item)">
          <i class="fa {{ ::item.icon }} fixed-width-icon"></i>
          <span class="nav-label">{{ item.label | translate }}</span>
          <span class="label label-default pull-right"
            ng-if="::item.countFieldKey"
            ng-bind="item.count">
          </span>
          <span class="fa arrow" ng-if="::item.children"></span>
        </a>
        <a ng-if="::item.action"
          ng-click="$ctrl.onMenuClick($event, item)">
          <i class="fa {{ ::item.icon }} fixed-width-icon"></i>
          <span class="nav-label">{{ item.label | translate }}</span>
          <span class="fa arrow" ng-if="::item.children"></span>
        </a>
        <ul class="nav nav-second-level ng-hide"
          ng-show="item.expanded"
          ng-if="::item.children">
          <li ui-sref-active="active"
            ng-repeat="child in item.children">
            <a ui-sref="{{ child.link }}">
              <i class="fa {{ ::child.icon }}"></i>
              <span class="nav-label">{{ child.label | translate }}</span>
              <span class="label label-info pull-right"
                ng-if="::child.countFieldKey"
                ng-bind="child.count">
              </span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="nav metismenu visible-xs">
      <support-link></support-link>
      <language-selector-menu-item></language-selector-menu-item>
      <docs-link></docs-link>
    </ul>
  </div>
</nav>
