.public-calls-hero__background h1 {
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 38px;
  margin: 0 0 20px;
  text-transform: capitalize;
}

.public-calls-hero__background {
  color: white;
  background: url('./proposal-calls.png') top left/cover no-repeat;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
