<div class="modal-header">
  <h3 class="modal-title">{{ $ctrl.options.title | translate }}</h3>
</div>
<div class="modal-body">
  <form name="$ctrl.IssueForm">
    <div class="form-group" ng-if="$ctrl.issue.customer">
      <strong><span translate>Organization</span>:</strong>
      {{ $ctrl.issue.customer.name }}
    </div>

    <div class="form-group" ng-if="$ctrl.issue.project">
      <strong><span translate>Organization</span>:</strong>
      {{ $ctrl.issue.project.customer_name }}
    </div>

    <div class="form-group" ng-if="$ctrl.issue.project">
      <strong><span translate>Project</span>:</strong>
      {{ $ctrl.issue.project.name }}
    </div>

    <div class="form-group" ng-if="$ctrl.issue.resource">
      <strong><span translate>Organization</span>:</strong>
      {{ $ctrl.issue.resource.customer_name }}
    </div>

    <div class="form-group" ng-if="$ctrl.issue.resource">
      <strong><span translate>Project</span>:</strong>
      {{ $ctrl.issue.resource.project_name }}
    </div>

    <div class="form-group" ng-if="$ctrl.issue.resource">
      <strong><span translate>Resource</span>:</strong>
      {{ $ctrl.issue.resource.name }}
    </div>

    <div class="form-group" ng-if="!$ctrl.issueTypeEditable">
      <strong><span translate>Request type</span>:</strong>
      {{ $ctrl.issue.type | translate }}
    </div>

    <div class="form-group" ng-if="$ctrl.issueTypeEditable">
      <label class="control-label" translate>
        Request type
      </label>
      <div ng-class="{disabled: $ctrl.saving}">
        <issue-type-select model="$ctrl.issue" field="{name: 'type'}"></issue-type-select>
        <div class="help-block text-danger"
          ng-if="($ctrl.IssueForm.$submitted || $ctrl.IssueForm.type.$touched) && $ctrl.IssueForm.type.$error.required">
          <span>{{ $ctrl.emptyFieldMessage | translate }}</span>
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="$ctrl.filteredTemplates.length > 0">
      <label class="control-label" translate>
        Template
      </label>
      <div ng-class="{disabled: $ctrl.saving}">
        <ui-select
          ng-model="$ctrl.issueTemplate"
          name="template"
          on-select="$ctrl.onTemplateSelect($select.selected)">
          <ui-select-match placeholder="{{ 'Select issue template' | translate }}...">
            {{ $select.selected.name }}
          </ui-select-match>
          <ui-select-choices repeat="option in $ctrl.filteredTemplates">
            <div ng-bind-html="option.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

    <div class="form-group" ng-if="::!$ctrl.options.hideTitle">
      <label for="issueSummary" class="control-label">
        {{::$ctrl.options.summaryLabel | translate }}
      </label>
      <div>
        <input type="text"
          id="issueSummary"
          ng-model="$ctrl.issue.summary"
          class="form-control"
          name="summary"
          placeholder="{{ $ctrl.options.summaryPlaceholder | translate }}"
          required
          ng-class="{disabled: $ctrl.saving}">
        <div class="help-block text-danger"
          ng-if="($ctrl.IssueForm.$submitted || $ctrl.IssueForm.summary.$touched) && $ctrl.IssueForm.summary.$error.required">
          <span>{{ $ctrl.emptyFieldMessage | translate }}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="issueDescription" class="control-label">
        {{ ::$ctrl.options.descriptionLabel | translate }}
      </label>
      <div>
        <textarea type="text"
          id="issueDescription"
          ng-model="$ctrl.issue.description"
          class="form-control h-150"
          name="description"
          placeholder="{{ $ctrl.options.descriptionPlaceholder | translate }}"
          required
          ng-class="{disabled: $ctrl.saving}">
        </textarea>
        <div class="help-block text-danger"
          ng-if="($ctrl.IssueForm.$submitted || $ctrl.IssueForm.description.$touched) && $ctrl.IssueForm.description.$error.required">
          <span>{{ $ctrl.emptyFieldMessage | translate }}</span>
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="$ctrl.issueTemplate.attachments.length > 0">
      <label class="control-label" translate>
        Template files
      </label>
      <div>
        <ul class="list-unstyled">
          <li ng-repeat="attachment in $ctrl.issueTemplate.attachments">
            <a ng-href="{{ attachment.file }}" target="_blank">
              <i class="fa fa-cloud-download"></i>
              {{ attachment.name }}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" translate>
        Attachments
      </label>
      <div ng-class="{disabled: $ctrl.saving}">
        <input
          type="file"
          id="fileInput"
          multiple
          style="display:none">
        <button
          type="button"
          class="btn btn-default"
          id="fileButton"
          translate>
          Select some files
        </button>
        <ul>
          <li ng-repeat="file in $ctrl.files">
            {{ file.name }}
            ({{ file.size | filesize:'B' }})
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" submit-button="$ctrl.save()">
    {{ ::$ctrl.options.submitTitle | translate }}
  </button>
  <button class="btn btn-default" type="button" ng-click="$ctrl.close()">
    <span translate>Cancel</span>
  </button>
</div>
