<resource-summary-base resource="$ctrl.resource"></resource-summary-base>

<div class="m-b-xs">
  <dt>
    <span translate>Login details</span>:
  </dt>
  <dd>
    <span ng-if="!$ctrl.resource.username" translate>
      <a ui-sref="profile.freeipa">FreeIPA account needs to be set up</a>.
    </span>
    <span ng-if="$ctrl.resource.username">
      {{ $ctrl.resource.username }}@{{ $ctrl.resource.gateway }}
  </dd>
</div>

<div class="m-b-xs">
  <dt>
    <span translate>Submit with</span>:
  </dt>
  <dd>
    <span class="html-description">sbatch -A {{ $ctrl.resource.backend_id }}</span>
  </dd>
</div>

<div class="m-b-xs">
  <dt>
    <span translate>CPU</span>:
  </dt>
  <dd>
    {{ $ctrl.resource.cpu_usage | minutesToHours }} of {{ $ctrl.resource.cpu_limit | minutesToHours }}
  </dd>
</div>

<div class="m-b-xs">
  <dt>
    <span translate>GPU</span>:
  </dt>
  <dd>
    {{ $ctrl.resource.gpu_usage | minutesToHours }} of {{ $ctrl.resource.gpu_limit | minutesToHours }}
  </dd>
</div>

<div class="m-b-xs">
  <dt>
    <span translate>RAM</span>:
  </dt>
  <dd>
    {{ $ctrl.resource.ram_usage | filesize }} of {{ $ctrl.resource.ram_limit | filesize }}
  </dd>
</div>
