<div class="panel panel-default" ng-if="$ctrl.canManageCustomer">
        <div class="panel-heading" translate>Policies</div>
        <div class="panel-body">
            <form name="$ctrl.policiesForm" class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-4 col-xs-4">
                        <label for="threshold" class="control-label">
                            <span translate>Cost threshold</span>
                            <i class="fa fa-question-circle"
                               uib-tooltip="{{ 'Upper bound of monthly resource cost provisioned from shared providers.' | translate }}"></i>
                        </label>
                        <div class="input-group">
                            <input id="threshold" type="number" class="form-control" required name="threshold"
                                   ng-change="$ctrl.validateThreshold()"
                                   ng-model="$ctrl.customer.price_estimate.threshold" ng-min="0">
                            <div class="input-group-addon">
                                {{ ::$ctrl.currency }}
                            </div>
                        </div>
                        <p class="help-block text-danger"
                           ng-if="$ctrl.policiesForm.threshold.$error.min">
                            <span translate>Minimal valid value is</span> 0
                        </p>
                        <p class="help-block text-danger"
                           ng-if="$ctrl.policiesForm.threshold.$error.exceedsThreshold">
                            <span translate>Estimated cost exceeds threshold</span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 col-xs-8">
                        <div class="awesome-checkbox checkbox-success">
                            <input type="checkbox" ng-model="$ctrl.isHardLimit" id="isHardLimit"/>
                            <label for="isHardLimit" translate>Disable provisioning when threshold is reached.</label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success"
                        submit-button="$ctrl.updatePolicies()"
                        ng-disabled="$ctrl.policiesForm.$invalid">
                    <span translate>Update</span>
                </button>
            </form>
        </div>
    </div>
