<sidebar items="items" context="context"></sidebar>
<div id="page-wrapper" ng-class="$state.current.data.pageClass || 'white-bg'" ng-if="currentCustomer">
    <nc-header></nc-header>
    <div class="row wrapper white-bg page-heading">
        <div class="col-lg-12">
            <h2>{{ pageTitle | translate }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="organization.dashboard({uuid: currentCustomer.uuid})" translate>Organization dashboard</a>
                </li>
                <li class="active">
                    <strong>{{ pageTitle | translate }}</strong>
                </li>
            </ol>
        </div>
    </div>
    <ng-transclude></ng-transclude>
    <app-footer/>
</div>
