<ng-form name="$ctrl.thresholdForm">
  <div class="form-group">
    <div ng-class="$ctrl.horizontal ? 'col-xs-4' : ''">
      <label for="threshold" class="control-label">
        <span translate>Cost threshold</span>
        <i class="fa fa-question-circle"
           uib-tooltip="{{ 'Upper bound of monthly resource cost provisioned from shared providers.' | translate }}"></i>
      </label>
    </div>
    <div ng-class="$ctrl.horizontal ? 'col-xs-8' : ''">
      <div class="input-group">
        <input id="threshold" type="number" class="form-control" required name="threshold"
               ng-change="$ctrl.validateThreshold()"
               ng-model="$ctrl.priceEstimate.threshold" ng-min="0">
        <div class="input-group-addon">
          {{ ::$ctrl.currency }}
        </div>
      </div>
      <p class="help-block text-danger"
         ng-if="$ctrl.thresholdForm.threshold.$error.min">
        <span translate>Minimal valid value is 0</span>
      </p>
      <p class="help-block text-danger"
         ng-if="$ctrl.thresholdForm.threshold.$error.exceedsThreshold">
        <span translate>Estimated cost exceeds threshold</span>
      </p>
    </div>
  </div>
  <div class="form-group" ng-if="$ctrl.priceEstimate.total">
    <div ng-class="$ctrl.horizontal ? 'col-sm-offset-4 col-sm-8' : ''">
      <span translate>Estimated cost for current month</span>:
      <span id="priceEstimate">{{::$ctrl.priceEstimate.total | defaultCurrency}}</span>
    </div>
  </div>
  <div class="form-group">
    <div ng-class="$ctrl.horizontal ? 'col-sm-offset-4 col-sm-8' : ''">
      <div class="awesome-checkbox checkbox-success">
        <input type="checkbox" ng-click="$ctrl.toggleHardLimit()" ng-model="$ctrl.isHardLimit" id="isHardLimit"/>
        <label for="isHardLimit" translate>Disable provisioning when threshold is reached.</label>
      </div>
    </div>
  </div>
</ng-form>
