<div ng-if="ManageController.loading">
    <loading-spinner/>
</div>

<div ng-if="!ManageController.loading">
    <div class="panel panel-default">
        <div class="panel-heading" translate>Organization details</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt><span translate>Name</span>:</dt>
                <dd>{{::ManageController.customer.name}}</dd>

                <dt><span translate>Full name</span>:</dt>
                <dd>{{::ManageController.customer.native_name || 'N/A'}}</dd>

                <dt><span translate>Abbreviation</span>:</dt>
                <dd>{{::ManageController.customer.abbreviation || 'N/A'}}</dd>

                <dt><span translate>Registry code</span>:</dt>
                <dd>{{::ManageController.customer.registration_code || 'N/A'}}</dd>

                <dt><span translate>Agreement number</span>:</dt>
                <dd>{{::ManageController.customer.agreement_number || 'N/A'}}</dd>

                <dt><span translate>Address</span>:</dt>
                <dd>{{::ManageController.customer.contact_details || 'N/A'}}</dd>

                <dt><span translate>General contact e-mail</span>:</dt>
                <dd>{{::ManageController.customer.email || 'N/A'}}</dd>

                <dt><span translate>General contact phone number</span>:</dt>
                <dd>{{::ManageController.customer.phone_number || 'N/A'}}</dd>

                <dt><span translate>VAT code</span>:</dt>
                <dd>{{::ManageController.customer.vat_code || 'N/A'}}</dd>
            </dl>
        </div>
    </div>
    <div class="panel panel-default" ng-if="ManageController.paymentDetails">
        <div class="panel-heading">Payment details</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt><span translate>Company</span>:</dt>
                <dd>{{::ManageController.paymentDetails.company}}</dd>

                <dt><span translate>Address</span>:</dt>
                <dd>{{::ManageController.paymentDetails.address}}</dd>

                <dt><span translate>Country</span>:</dt>
                <dd>{{::ManageController.paymentDetails.country}}</dd>

                <dt><span translate>Email</span>:</dt>
                <dd>{{::ManageController.paymentDetails.email}}</dd>

                <dt><span translate>Postal</span>:</dt>
                <dd>{{::ManageController.paymentDetails.postal}}</dd>

                <dt><span translate>Phone</span>:</dt>
                <dd>{{::ManageController.paymentDetails.phone}}</dd>

                <dt><span translate>Bank</span>:</dt>
                <dd>{{::ManageController.paymentDetails.bank}}</dd>

                <dt><span translate>Account</span>:</dt>
                <dd>{{::ManageController.paymentDetails.account}}</dd>

                <dt><span translate>Default tax percent</span>:</dt>
                <dd>{{::ManageController.paymentDetails.default_tax_percent}}</dd>
            </dl>
        </div>
    </div>
    <customer-policies
            ng-if="ManageController.canUpdateCustomerPolicies"
            customer="ManageController.customer"></customer-policies>
    <h3 ng-if="!ManageController.canUpdateCustomerPolicies">
        <span translate>Only staff can update organization policies.</span>
    </h3>
    <div class="panel panel-default">
        <div class="panel-heading" translate>Organization actions</div>
        <div class="panel-body">
            <a ng-click="ManageController.reportError()" class="btn btn-success">
                <i class="fa fa-bug"></i>
                <span translate>Report incorrect data</span>
            </a>
        </div>
        <div class="panel-body" ng-if="ManageController.canDeleteCustomer">
            <p translate>You can remove this organization by pressing the button</p>
            <a ng-click="ManageController.removeCustomer()" class="btn btn-danger">
                <i class="fa fa-trash"></i>
                <span translate>Remove organization</span>
            </a>
        </div>
        <div class="panel-body" ng-if="!ManageController.canDeleteCustomer">
            <h3>
                <span translate>Only staff can remove organization.</span>
            </h3>
        </div>
    </div>
</div>
