<div ng-if="DeleteController.loading">
    <loading-spinner/>
</div>

<div ng-if="!DeleteController.loading">
    <div class="panel panel-default">
        <div class="panel-heading">Organization details</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>Name: </dt><dd>{{::DeleteController.customer.name}}</dd>
            </dl>
        </div>
    </div>
    <div class="panel panel-default" ng-if="DeleteController.paymentDetails">
        <div class="panel-heading">Payment details</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>Company: </dt><dd>{{::DeleteController.paymentDetails.company}}</dd>
                <dt>Address: </dt><dd>{{::DeleteController.paymentDetails.address}}</dd>
                <dt>Country: </dt><dd>{{::DeleteController.paymentDetails.country}}</dd>
                <dt>Email: </dt><dd>{{::DeleteController.paymentDetails.email}}</dd>
                <dt>Postal: </dt><dd>{{::DeleteController.paymentDetails.postal}}</dd>
                <dt>Phone: </dt><dd>{{::DeleteController.paymentDetails.phone}}</dd>
                <dt>Bank: </dt><dd>{{::DeleteController.paymentDetails.bank}}</dd>
                <dt>Account: </dt><dd>{{::DeleteController.paymentDetails.account}}</dd>
                <dt>Default tax percent: </dt><dd>{{::DeleteController.paymentDetails.default_tax_percent}}</dd>
            </dl>
        </div>
    </div>
    <div class="panel panel-default" ng-if="DeleteController.canRemoveCustomer">
        <div class="panel-heading">Organization actions</div>
        <div class="panel-body">
            <h3>You can remove this organization by pressing the button</h3>
            <a ng-click="DeleteController.removeCustomer()" class="btn btn-danger">
                <i class="fa fa-trash"></i>
                Remove organization
            </a>
        </div>
    </div>
    <h3 ng-if="!DeleteController.canRemoveCustomer">
        Only staff user can remove organization.
    </h3>
</div>
