<ng-form name="$ctrl.thresholdForm" ng-class="{'form-horizontal': $ctrl.horizontal}">
  <div class="form-group">
    <label for="threshold" class="control-label" ng-class="{'col-sm-3': $ctrl.horizontal}">
      <span translate>Cost threshold</span>
      <i class="fa fa-question-circle"
         uib-tooltip="{{ 'Upper bound of monthly resource cost provisioned from shared providers.' | translate }}"></i>
    </label>
    <div ng-class="{'col-sm-9 col-lg-3': $ctrl.horizontal}">
      <div class="input-group">
        <input id="threshold" type="number" class="form-control" required name="threshold"
               ng-change="$ctrl.validateThreshold()"
               ng-model="$ctrl.priceEstimate.threshold" ng-min="0">
        <div class="input-group-addon">
          {{ ::$ctrl.currency }}
        </div>
      </div>
      <p class="help-block text-danger"
         ng-if="$ctrl.thresholdForm.threshold.$error.min">
        <span translate>Minimal valid value is 0</span>
      </p>
      <p class="help-block text-danger"
         ng-if="$ctrl.thresholdForm.threshold.$error.exceedsThreshold">
        <span translate>Estimated cost exceeds threshold</span>
      </p>
    </div>
  </div>
  <div class="form-group" ng-if="$ctrl.priceEstimate.total">
    <div ng-class="{'col-sm-offset-3 col-sm-9': $ctrl.horizontal}">
      <price-tooltip></price-tooltip>
      <span translate>Estimated cost for current month</span>:
      <span id="priceEstimate">{{::$ctrl.priceEstimate.total | defaultCurrency}}</span>
    </div>
  </div>
  <div class="form-group">
    <div ng-class="{'col-sm-offset-3 col-sm-9': $ctrl.horizontal}">
      <div class="awesome-checkbox checkbox-success">
        <input type="checkbox" ng-click="$ctrl.toggleHardLimit()" ng-model="$ctrl.isHardLimit" id="isHardLimit"/>
        <label for="isHardLimit" translate>Disable provisioning when threshold is reached.</label>
      </div>
    </div>
  </div>
</ng-form>
