<user-sidebar></user-sidebar>
<div
  id="page-wrapper"
  ng-class="$state.current.data.pageClass || 'white-bg'"
  ng-if="currentUser"
>
  <cookies-consent></cookies-consent>
  <nc-header></nc-header>
  <div class="row wrapper white-bg page-heading">
    <div class="col-lg-12">
      <h2>{{ $state.current.data.pageTitle | translate }}</h2>
      <ol class="breadcrumb" ng-if="!$state.current.data.hideBreadcrumbs">
        <li>
          <a ng-if="isPrivate" ui-sref="profile.details" translate
            >User dashboard</a
          >
          <span ng-if="!isPrivate">{{ currentUser.full_name }}</span>
        </li>
        <li class="active">
          <strong>{{ $state.current.data.pageTitle | translate }}</strong>
        </li>
      </ol>
    </div>
  </div>
  <div class="footer-indent"><ui-view></ui-view></div>
  <app-footer></app-footer>
</div>
