@import '~sass/variables.scss';

.user-edit {
  padding-bottom: 10px;
  .manage-gravatar {
    display: block;
    width: 100px;
    line-height: 16px;
    font-size: 12px;

    > a {
      color: $dashboard-green;
      text-decoration: none;
      text-align: center;
      width: 200px;
    }
  }
}
