<div class="row m-md">
  <div class="col-md-6">
    <div class="profile-image" ng-if="$ctrl.job.playbook_image">
      <img ng-src="{{ $ctrl.job.playbook_image }}">
    </div>
    <div>
      <h2 class="no-margins">
        {{ $ctrl.job.name }}
      </h2>
      <h4>{{ $ctrl.job.playbook_name }}</h4>
      <small>
        {{ $ctrl.job.playbook_description }}
      </small>
    </div>
  </div>
</div>
<div class="ibox">
  <div class="ibox-content">
    <div class="row">
      <dl class="dl-horizontal col-sm-12">
        <div class="m-b-xs">
          <dt translate>State</dt>
          <dd>
            <ansible-job-state model="$ctrl.job"></ansible-job-state>
          </dd>
        </div>

        <div class="m-b-xs">
          <dt translate>Created</dt>
          <dd>{{ $ctrl.job.created | dateTime }}</dd>
        </div>

        <div class="m-b-xs" ng-if="$ctrl.job.description">
          <dt translate>Description</dt>
          <dd>{{ $ctrl.job.description }}</dd>
        </div>

        <div class="m-b-xs">
          <dt translate>SSH public key</dt>
          <dd>{{ $ctrl.job.ssh_public_key_name }}</dd>
        </div>

        <div class="m-b-xs">
          <dt translate>Provider</dt>
          <dd>{{ $ctrl.job.service_name }}</dd>
        </div>

        <div class="m-b-xs" ng-if="$ctrl.hasArguments">
          <dt translate>Parameters</dt>
          <dd>
            <pre>{{ $ctrl.job.arguments | json }}</pre>
          </dd>
        </div>

        <div class="m-t-md">
          <dt></dt>
          <dd>
            <button
              type="button"
              class="btn btn-danger btn-xs"
              ng-class="{'disabled': !$ctrl.canRemove}"
              submit-button="$ctrl.remove()">
              <i class="fa fa-trash"></i>
              <span translate>Remove application</span>
            </button>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>

<div class="tabs-container m-l-sm">
  <uib-tabset active="active">
    <uib-tab index="0" ng-if="$ctrl.job.output">
      <uib-tab-heading translate>Output log</uib-tab-heading>
      <div class="panel-body" ng-if="active==0">
        <pre class="pre-scrollable">{{ $ctrl.job.output }}</pre>
      </div>
    </uib-tab>
    <uib-tab index="1">
      <uib-tab-heading translate>Related resources</uib-tab-heading>
      <div class="panel-body" ng-if="active==1">
        <ansible-job-resources-list job="$ctrl.job"></ansible-job-resources-list>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
