<!-- header -->
<div class="app-header navbar navbar-fixed-top" role="navigation" ng-controller="HeaderController as controller">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" ng-click="menuCollapse = !menuCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/"></a>
        </div>
        <div class="navbar-collapse collapse" ng-class="{'in': menuCollapse}">
            <ul class="nav navbar-nav">
                <li ng-class="{'active': controller.menuItemActive === 'dashboard'}"><a ui-sref="dashboard" class=""><i class="fa fa-th-large"></i> Dashboard</a></li>
                <li ng-class="{'active': controller.menuItemActive === 'resources'}"><a ui-sref="resources.list" class=""><i class="fa fa-tasks"></i> Resources</a></li>
                <li ng-class="{'active': controller.menuItemActive === 'projects'}"><a ui-sref="projects" class=""><i class="fa fa-folder"></i> Projects</a></li>
                <li ng-class="{'active': controller.menuItemActive === 'services'}"><a ui-sref="services" class=""><i class="fa fa-folder"></i> Services</a></li>
                <li ng-class="{'active': controller.menuItemActive === 'users'}"><a ui-sref="users" class=""><i class="fa fa-folder"></i> Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-lg hidden-xs">
                <li class="dropdown add-something-box">
                    <a href="" class="dropdown-toggle add-something-button small-screen" ng-click="controller.menuToggle('combineMenu', $event)">
                        <img src="/static/images/887178.jpg" class="user-pic small-screen" alt="John Doe">
                    </a>
                    <ul class="dropdown-menu add-something small-screen" role="menu" ng-show="controller.menuState.combineMenu">
                        <li><a ui-sref="service-add" class="add-project">Add service</a></li>
                        <li><a ui-sref="projects-add" class="add-project">Add project</a></li>
                        <li><a ui-sref="resources.add" class="add-resource">Add resource</a></li>
                        <li class="divider">{{ controller.getCustomer().name }}</li>
                        <li ng-repeat="customer in controller.customers"><a href="" ng-click="controller.setCurrentCustomer(customer)" ng-class="{'current-customer': customer.uuid == controller.getCustomer().uuid}">{{ customer.name }}</a></li>
                        <li><a ui-sref="customers" class="add-customer">Manage customers</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="profile">Profile</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right nav-user-area hidden-md hidden-sm">
                <li class="dropdown add-something-box">
                    <a href="" class="dropdown-toggle add-something-button"
                       ng-click="controller.menuToggle('addSomethingMenu', $event)">
                        <i class="fa fa-plus"></i>
                    </a>
                    <ul class="dropdown-menu add-something" role="menu" ng-show="controller.menuState.addSomethingMenu">
                        <li><a ui-sref="service-add" class="add-project">Add service</a></li>
                        <li><a ui-sref="projects-add" class="add-project">Add project</a></li>
                        <li><a ui-sref="resources.add" class="add-resource">Add resource</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" class="customer-head" ng-click="controller.menuToggle('customerMenu', $event)">
                        <span class="customer-title">{{ controller.currentCustomer.name }}</span>
                        <span class="customer-expl">active for context</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" ng-show="controller.menuState.customerMenu" >
                        <li ng-repeat="customer in controller.customers"><a href="" ng-click="controller.setCurrentCustomer(customer)" ng-class="{'current-customer': customer.uuid == controller.getCustomer().uuid}">{{ customer.name }}</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="customers" class="add-customer">Manage customers</a></li>
                    </ul>
                </li>
                <li class="dropdown user-box">
                    <a href="" class="dropdown-toggle user-pic-box"
                       ng-click="controller.menuToggle('profileMenu', $event)">
                        <img src="../static/images/887178.jpg" class="user-pic" alt="John Doe">
                        {{ controller.currentUser.full_name }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu user-drop" role="menu" ng-show="controller.menuState.profileMenu">
                        <li><a ui-sref="profile">Profile</a></li>
                        <li><a ng-click="logout()" href="#/login/">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<!-- /header -->
