<div ng-controller="HeaderController as Header">
    <!-- app-header -->
    <header class="app-header">
        <nav class="container">
            <!-- views nav -->
            <ul class="nav-list views">
                <li class="logo-box">
                    <a href="" class="logo"></a>
                </li>
                <li class="mobile-trigger">
                    <a class="mobile-trigger-link icon bars"
                        ng-click="Header.mobileMenu()"></a>
                </li>
                <li class="node-conductor">
                    <h2>NodeConductor</h2>
                </li>
                <li>
                    <a ui-sref="dashboard.eventlog"
                        ng-class="{'active': Header.menuItemActive === 'dashboard'}" class="dashboard">Dashboard</a>
                </li>
                <li>
                    <a ui-sref="resources.list"
                        ng-class="{'active': Header.menuItemActive === 'resources'}" class="resource">Resources</a>
                </li>
                <li>
                    <a ui-sref="projects.list"
                        ng-class="{'active': Header.menuItemActive === 'projects'}" class="project">Projects</a>
                </li>
                <li>
                    <a ui-sref="services.list"
                        ng-class="{'active': Header.menuItemActive === 'services'}" class="service">Services</a>
                </li>
                <li>
                    <a ui-sref="users.list"
                        ng-class="{'active': Header.menuItemActive === 'users'}" class="user">Users</a>
                </li>
            </ul>
            <!-- /views nav -->
            <!-- context nav -->
            <ul class="nav-list context">
                <li class="dropdown add-something">
                    <a class="drop-active" ng-click="Header.menuToggle('addSomethingMenu', $event)"
                        ng-class="{'active': Header.menuState.addSomethingMenu}">
                        <span class="icon plus"></span>
                    </a>
                    <ul class="nav-sublist" ng-show="Header.menuState.addSomethingMenu">
                        <li>
                            <a ui-sref="services.create" class="service">Add service</a>
                        </li>
                        <li>
                            <a ui-sref="projects.create" class="project">Add project</a>
                        </li>
                        <li>
                            <a ui-sref="resources.create" class="resource">Add resource</a>
                        </li>
                        <li>
                            <a ui-sref="keys.create" class="resource">Add SSH key</a>
                        </li>
                        <li>
                            <a href="" class="user">Invite user</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown customers">
                    <a class="customer-context drop-active" ng-click="Header.menuToggle('customerMenu', $event)"
                        ng-class="{'active': Header.menuState.customerMenu}">
                        <span class="active-context">Active customer</span>
                        <span class="customer-name">{{ Header.currentCustomer.name }}</span>
                    </a>
                    <ul class="nav-sublist" ng-show="Header.menuState.customerMenu">
                        <li ng-repeat="customer in Header.customers">
                            <a ng-click="Header.setCurrentCustomer(customer)"
                                ng-class="{'current': customer.uuid == Header.currentCustomer.uuid}">{{ customer.name }}</a>
                        </li>
                        <li>
                            <a ui-sref="customers.list" class="manage">Manage customers</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a ui-sref="support.tickets" class="support"></a>
                </li>
                <li class="dropdown">
                    <a class="user-area drop-active" ng-click="Header.menuToggle('profileMenu', $event)"
                        ng-class="{'active': Header.menuState.profileMenu}">
                        <span class="avatar">
                            <img gravatar-src="Header.currentUser.email" gravatar-size="100">
                        </span>
                        <span class="user-name">{{ Header.currentUser.full_name }}</span>
                    </a>
                    <ul class="nav-sublist user-area" ng-show="Header.menuState.profileMenu">
                        <li class="on-tablet">
                            <a ui-sref="services.create" class="service">Add service</a>
                        </li>
                        <li class="on-tablet">
                            <a ui-sref="projects.create" class="project">Add project</a>
                        </li>
                        <li class="on-tablet">
                            <a ui-sref="resources.create" class="resource">Add resource</a>
                        </li>
                        <li class="on-tablet">
                            <a ui-sref="keys.create" class="resource">Add SSH key</a>
                        </li>
                        <li class="on-tablet">
                            <a href="" class="user">Invite user</a>
                        </li>
                        <li class="divider on-tablet"></li>

                        <li class="on-tablet" ng-repeat="customer in Header.customers">
                            <a ng-click="Header.setCurrentCustomer(customer)"
                                ng-class="{'current': customer.uuid == Header.currentCustomer.uuid}">{{ customer.name }}</a>
                        </li>
                        <li class="divider on-tablet"></li>
                        <li class="on-tablet">
                            <a ui-sref="customers.list" class="manage">Manage customers</a>
                        </li>
                        <li class="divider on-tablet"></li>
                        <li>
                            <a ui-sref="profile.details" class="">Profile</a>
                        </li>
                        <li>
                            <a ng-click="logout()">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /context nav -->
        </nav>
    </header>
    <!-- app-header -->
    <div class="mobile-menu-side" ng-show="Header.showMobileMenu">
        <nav>
            <!-- views nav -->
            <ul class="nav-list-side">
                <li>
                    <a ui-sref="resources.list"
                        ng-class="{'active': Header.menuItemActive === 'resources'}" class="resource">Resources</a>
                </li>
                <li>
                    <a ui-sref="projects.list"
                        ng-class="{'active': Header.menuItemActive === 'projects'}" class="project">Projects</a>
                </li>
                <li>
                    <a ui-sref="services.list"
                        ng-class="{'active': Header.menuItemActive === 'services'}" class="service">Services</a>
                </li>
                <li>
                    <a ui-sref="users.list"
                        ng-class="{'active': Header.menuItemActive === 'users'}" class="user">Users</a>
                </li>
            </ul>
            <!-- /views nav -->
            <!-- context nav -->
            <ul class="nav-list-side">
                <li class="dropdown add-something">
                    <a class="drop-active" ng-click="Header.menuToggle('addSomethingMenu', $event)"
                        ng-class="{'active': Header.menuState.addSomethingMenu}">
                        <span class="icon plus"></span> Add something
                    </a>
                    <ul class="nav-sublist-side" ng-show="Header.menuState.addSomethingMenu">
                        <li>
                            <a ui-sref="services.create" class="service">Add service</a>
                        </li>
                        <li>
                            <a ui-sref="projects.create" class="project">Add project</a>
                        </li>
                        <li>
                            <a ui-sref="resources.create" class="resource">Add resource</a>
                        </li>
                        <li>
                            <a href="" class="user">Invite user</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown customers side">
                    <a class="customer-context drop-active" ng-click="Header.menuToggle('customerMenu', $event)"
                        ng-class="{'active': Header.menuState.customerMenu}">
                        <span class="customer-name">{{ Header.currentCustomer.name }}</span>
                        <span class="active-context">Active customer</span>
                    </a>
                    <ul class="nav-sublist-side" ng-show="Header.menuState.customerMenu">
                        <li ng-repeat="customer in Header.customers">
                            <a ng-click="Header.setCurrentCustomer(customer)"
                                ng-class="{'current': customer.uuid == Header.currentCustomer.uuid}">{{ customer.name }}</a>
                        </li>
                        <li>
                            <a ui-sref="customers.list" class="manage">Manage customers</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="user-area drop-active" ng-click="Header.menuToggle('profileMenu', $event)"
                        ng-class="{'active': Header.menuState.profileMenu}">
                        <span class="avatar">
                            <img gravatar-src="Header.currentUser.email" gravatar-size="100">
                        </span>
                        <span class="user-name">{{ Header.currentUser.full_name }}</span>
                    </a>
                    <ul class="nav-sublist-side user-area" ng-show="Header.menuState.profileMenu">
                        <li class="on-tablet">
                            <a ui-sref="services.create" class="service">Add service</a>
                        </li>
                        <li class="on-tablet">
                            <a ui-sref="projects.create" class="project">Add project</a>
                        </li>
                        <li class="on-tablet">
                            <a ui-sref="resources.create" class="resource">Add resource</a>
                        </li>
                        <li class="divider on-tablet"></li>

                        <li class="on-tablet" ng-repeat="customer in Header.customers">
                            <a ng-click="Header.setCurrentCustomer(customer)"
                                ng-class="{'current': customer.uuid == Header.currentCustomer.uuid}">{{ customer.name }}</a>
                        </li>
                        <li class="divider on-tablet"></li>
                        <li class="on-tablet">
                            <a ui-sref="customers.list" class="manage">Manage customers</a>
                        </li>
                        <li class="divider on-tablet"></li>
                        <li>
                            <a ui-sref="profile" class="">Profile</a>
                        </li>
                        <li>
                            <a ng-click="logout()">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /context nav -->
        </nav>
    </div>
</div>
