<div ng-controller="HeaderController as Header">
    <!-- app-header -->
    <header class="app-header">
        <nav class="container">
            <!-- views nav -->
            <ul class="nav-list views">
                <li class="logo-box" applogo>
                    <a href="" class="logo"></a>
                </li>
                <li class="mobile-trigger">
                    <a class="mobile-trigger-link icon bars"
                        ng-click="Header.mobileMenu()"></a>
                </li>
                <li class="node-conductor">
                    <h2>NodeConductor</h2>
                </li>
                <li visible="dashboard" class="dashboard-menu-item">
                    <a ui-sref="dashboard.index"
                       ng-class="{'active': Header.menuItemActive === 'dashboard'}" class="dashboard">
                        <span translate>Dashboard</span>
                    </a>
                </li>
                <li visible="customers" class="dropdown customers">
                    <a class="customer-context drop-active" ng-click="Header.menuToggle('customerMenu', $event)"
                       ng-class="{'active': Header.menuState.customerMenu}">
                        <span ng-click="Header.goToCurrentOrganization()"
                              stoppropagation
                           class="active-context">Active organization</span>
                        <span class="customer-name">{{ Header.currentCustomer.name }}</span>
                    </a>
                    <ul class="nav-sublist" ng-show="Header.menuState.customerMenu">
                        <li ng-repeat="customer in Header.customers" ng-if="customer.uuid != Header.currentCustomer.uuid">
                            <a ng-click="Header.setCurrentCustomer(customer)"
                               ng-class="{'current': customer.uuid == Header.currentCustomer.uuid}">{{ customer.name }}</a>
                        </li>
                        <li class="manage-item">
                            <a ui-sref="organizations.list" class="manage">Manage organizations</a>
                        </li>
                    </ul>
                </li>
                <li visible="projects" class="dropdown project-dropdown">
                    <a class="project-context drop-active" ng-click="Header.menuToggle('projectMenu', $event)"
                       ng-class="{'active': Header.menuState.projectMenu}">
                        <span ng-click="Header.goToCurrentProject()"
                              stoppropagation
                              class="active-context">Project</span>
                        <span class="customer-name">{{ Header.currentProject.name ? Header.currentProject.name : 'No project' }}</span>
                    </a>
                    <ul block-ui="project-menu" class="nav-sublist" ng-show="Header.menuState.projectMenu">
                        <li ng-repeat="project in Header.projects" ng-if="project.uuid != Header.currentProject.uuid">
                            <a ng-click="Header.setCurrentProject(project)"
                               ng-class="{'current': project.uuid == Header.currentProject.uuid}">
                                <span>{{ project.name }}</span>
                                <span></span>
                            </a>
                        </li>
                        <li class="manage-item">
                            <a ui-sref="projects.list" class="manage">Manage projects</a>
                        </li>
                        <li class="manage-item">
                            <div class="tooltip-relative inline"
                                 check-quotas="{{Header.checkQuotas.projects}}"
                                 sref="projects.create"
                                 class-link="manage"
                                 tooltip-type="project-drop-down">
                                <div>Add project</div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li visible="resources" class="resources">
                    <a ui-sref="resources.list"
                       ng-class="{'active': Header.menuItemActive === 'resources', 'disabled' : !Header.currentProject.name }"
                       class="resource" >
                        <span translate>Details</span>
                    </a>
                </li>
                <li visible="resources" class="appstore">
                    <div check-quotas="{{Header.checkQuotas.resources}}"
                         sref="appstore.store"
                         class-link="appstore"
                         tooltip-type="head-nav-appstore">
                        <span translate>Appstore</span>
                    </div>
                </li>
            </ul>
            <!-- /views nav -->
            <!-- context nav -->
            <ul class="nav-list context">
                <li class="dropdown  user-dropdown">
                    <a class="user-area drop-active" ng-click="Header.menuToggle('profileMenu', $event)"
                        ng-class="{'active': Header.menuState.profileMenu}">
                        <span class="avatar">
                            <img gravatar-src="Header.currentUser.email" gravatar-size="100">
                        </span>
                        <span class="user-name">{{ Header.currentUser.full_name }}</span>
                    </a>
                    <ul class="nav-sublist user-area" ng-show="Header.menuState.profileMenu">
                        <li visible="services" class="on-tablet">
                            <div class="tooltip-relative"
                                 check-quotas="{{Header.checkQuotas.resources}}"
                                 sref="services.create"
                                 class-link="service"
                                 tooltip-type="user-drop-down">
                                <div>Add provider</div>
                            </div>
                        </li>
                        <li visible="projects" class="on-tablet">
                            <div class="tooltip-relative"
                                 check-quotas="{{Header.checkQuotas.projects}}"
                                 sref="projects.create"
                                 class-link="project"
                                 tooltip-type="user-drop-down">
                                <div>Add project</div>
                            </div>
                        </li>
                        <li visible="import" ng-if="::Header.showImport" class="on-tablet">
                            <div class="tooltip-relative"
                                 check-quotas="{{Header.checkQuotas.resources}}"
                                 sref="import.import"
                                 class-link="import"
                                 tooltip-type="user-drop-down">
                                <div>Import resources</div>
                            </div>
                        </li>
                        <li visible="support" class="on-tablet">
                            <a ui-sref="support.list">Support</a>
                        </li>
                        <li>
                            <a ui-sref="profile.details">Profile</a>
                        </li>
                        <li>
                            <a ng-click="logout()">Logout</a>
                        </li>
                    </ul>
                </li>
                <li visible="support" class="customer-support">
                    <a ui-sref="support.list" class="support"
                       ng-class="{'active': Header.menuItemActive === 'support'}"></a>
                </li>
                <li class="dropdown" ng-show="Header.LANGUAGE_CHOICES.length>1" ng-click="Header.menuToggle('langMenu', $event)">
                    <a class="lang" title="{{ Header.currentLanguage.label }}">{{ Header.currentLanguage.code | uppercase }}</a>
                    <ul class="nav-sublist lang" ng-show="Header.menuState.langMenu">
                        <li ng-repeat="language in Header.LANGUAGE_CHOICES"
                            ng-click="Header.changeLanguage(language)">
                            <a ng-class="{'current': language.code==Header.currentLanguage.code}">{{ language.label}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /context nav -->
        </nav>
    </header>
    <!-- app-header -->
    <div class="mobile-menu-side" ng-show="Header.showMobileMenu">
        <nav>
            <!-- views nav -->
            <ul class="nav-list-side">
                <li visible="dashboard">
                    <a ui-sref="dashboard.index"
                        ng-class="{'active': Header.menuItemActive === 'dashboard'}" class="dashboard">
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="on-tablet customers" stoppropagation ng-click="showOrganizations = !showOrganizations">
                    <a>Choose organization</a>
                </li>
                <li class="on-tablet customers" ng-show="showOrganizations" ng-repeat="customer in Header.customers">
                    <a ng-click="Header.setCurrentCustomer(customer)"
                       ng-class="{'current': customer.uuid == Header.currentCustomer.uuid}">{{ customer.name }}</a>
                </li>
                <li class="on-tablet">
                    <a ui-sref="organizations.list" class="manage">Manage organizations</a>
                </li>
                <li class="on-tablet customers" stoppropagation ng-click="showProjects = !showProjects">
                    <a>Choose project</a>
                </li>
                <li class="on-tablet customers" ng-show="showProjects" ng-repeat="project in Header.projects">
                    <a ng-click="Header.setCurrentProject(project)"
                       ng-class="{'current': project.uuid == Header.currentProject.uuid}">{{ project.name }}</a>
                </li>
                <li class="on-tablet">
                    <a ui-sref="projects.list" class="manage">Manage projects</a>
                </li>
            </ul>
            <!-- /views nav -->
            <!-- context nav -->
            <ul class="nav-list-side">
                <li visible="support">
                    <a ui-sref="support.list"
                        ng-class="{'active': Header.menuItemActive === 'support'}" class="support">Support</a>
                </li>
                <li class="dropdown">
                    <a href="" class="user-area drop-active" ng-click="Header.menuToggle('profileMenu', $event)"
                        ng-class="{'active': Header.menuState.profileMenu}">
                        <span class="avatar">
                            <img gravatar-src="Header.currentUser.email" gravatar-size="100">
                        </span>
                        <span class="user-name">{{ Header.currentUser.full_name }}</span>
                    </a>
                    <ul class="nav-sublist-side user-area" ng-show="Header.menuState.profileMenu">
                        <li visible="services" class="on-tablet">
                            <a ui-sref="services.create" class="service">Add provider</a>
                        </li>
                        <li visible="projects" class="on-tablet">
                            <a ui-sref="projects.create" class="project">Add project</a>
                        </li>
                        <li visible="resources" class="on-tablet">
                            <a ui-sref="appstore.store" class="resource">Add resource</a>
                        </li>
                        <li class="divider on-tablet"></li>
                        <li visible="customers" class="on-tablet" ng-repeat="customer in Header.customers">
                            <a ng-click="Header.setCurrentCustomer(customer)"
                                ng-class="{'current': customer.uuid == Header.currentCustomer.uuid}">{{ customer.name }}</a>
                        </li>
                        <li class="divider on-tablet"></li>
                        <li visible="customers" class="on-tablet">
                            <a ui-sref="organizations.list" class="manage">Manage organizations</a>
                        </li>
                        <li class="divider on-tablet"></li>
                        <li>
                            <a ui-sref="profile.details">Profile</a>
                        </li>
                        <li>
                            <a ng-click="logout()">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /context nav -->
        </nav>
    </div>
</div>
