<!-- app-block -->
<section class="app-block controls-line">
    <div class="container-fluid">
        <div class="main-list-controls">
            <div class="box checkbox">
                <input type="checkbox">
            </div>
            <div class="box">
                <a class="btn btn-white">Add to project</a>
            </div>
            <div class="box">
                <a class="btn btn-white">Remove from project</a>
            </div>
        </div>
    </div>
</section>
<!-- /app-block -->
