<div class="row">
    <div class="col-xs-12">
        <h2 class="stat-title">Billing History</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="standart-table">
            <tr>
                <th class="date">Date</th>
                <th>Description</th>
                <th class="amount">Amount</th>
                <th class="col-xs-2 no-border"></th>
            </tr>
            <tr>
                <td class="date">December 1, 2014</td>
                <td>For Upgrade Plan</td>
                <td class="amount">$39.49</td>
                <td class="col-xs-2 no-border">
                    <a href="#" class="kit-icon view"></a>
                </td>
            </tr>
            <tr>
                <td class="date">December 1, 2014</td>
                <td>For Upgrade Plan</td>
                <td class="amount">$39.49</td>
                <td class="col-xs-2 no-border">
                    <a href="#" class="kit-icon view"></a>
                </td>
            </tr>
            <tr>
                <td class="date">December 1, 2014</td>
                <td>For Upgrade Plan</td>
                <td class="amount">$39.49</td>
                <td class="col-xs-2 no-border">
                    <a href="#" class="kit-icon view"></a>
                </td>
            </tr>
        </table>
    </div>
</div>