<footer class="footer">
    <div class="pull-right">
        <ul class="footer-nav">
            <li>
                <a ui-sref="policy.privacy">Privacy policy</a>
            </li>
            <li>
                <a ui-sref="tos.index">Terms of Service</a>
            </li>
            <li ng-if="Main.isAuthenticated()" class="rem-mob" visible="help, providers, premiumSupport">
                <a ui-sref="help.list">Help</a>
            </li>
            <li>
                <a href="mailto:info@opennodecloud.com">Support</a>
            </li>
            <li>
                Build: <span ng-bind="::buildId"></span>
            </li>
        </ul>
    </div>
    <div class="copy">
        &copy; <a href="http://opennodecloud.com">OpenNode</a> 2016
    </div>
</footer>
