<nav ng-controller="HeaderController as Header"
    class="navbar-default navbar-static-side"
    role="navigation">
    <ul class="nav">
        <li class="nav-header">
            <div class="profile-element">
                <a ui-sref="dashboard.index">
                    <img class="brand-img"
                         gravatar-src="Header.currentUser.email"
                         gravatar-size="37">
                    <h3 class="brand-name">Waldur</h3>
                </a>
            </div>
        </li>
        <li visible="appstore" ui-sref-active="active">
            <a ui-sref="organizations.list">
                <i class="fa fa-sitemap"></i>
                <span class="nav-label">Organizations</span>
            </a>
        </li>
        <li ng-show="Header.LANGUAGE_CHOICES.length > 1">
            <a title="{{ Header.currentLanguage.label }}">
                <i class="fa fa-globe"></i>
                <span class="nav-label">Language</span>
            </a>
            <ul class="nav nav-second-level collapse">
                <li ng-repeat="language in Header.LANGUAGE_CHOICES"
                        ng-click="Header.changeLanguage(language)">
                        <a ng-class="{active: language.code==Header.currentLanguage.code}">{{ language.label}}</a>
                    </li>
            </ul>
        </li>
        <li visible="appstore" ng-class="{active: $state.includes('support')}">
            <a ui-sref="support.list">
                <i class="fa fa-question-circle"></i>
                <span class="nav-label">Support</span>
            </a>
        </li>
    </ul>
</nav>
