<!-- app-header -->
<header class="app-header" style="">
    <nav class="container">
        <!-- views nav -->
        <ul class="nav-list views initial">
            <li class="logo-box">
                <a href="#maintop" du-smooth-scroll class="logo" target='_blanc'></a>
            </li>
        </ul>
        <!-- /views nav -->
        <!-- context nav -->
        <ul class="nav-list context initial">
            <li class="logout-box">
                <a class="logout" ng-click="logout()">Log out</a>
            </li>
        </ul>
        <!-- /context nav -->
    </nav>
</header>
<!-- app-header -->
