<!-- app-header -->
<header class="app-header site" style="">
    <nav class="container">
        <!-- views nav -->
        <ul class="nav-list in-home views">
            <li class="logo-box site">
                <a href="#maintop" du-smooth-scroll class="logo" target='_blanc'></a>
            </li>
            <li class="node-conductor site">
                <h2>NodeConductor</h2>
            </li>
        </ul>
        <!-- /views nav -->
        <!-- context nav -->
        <ul class="nav-list in-home context">
            <li>
               <a href="#features" class="disabled" du-smooth-scroll du-scrollspy="features">Features</a>
            </li>
            <li visible="plans">
               <a href="#plans" class="disabled" du-smooth-scroll du-scrollspy="plans">Plans</a>
            </li>
            <li>
               <a ui-sref="home.login" class="disabled">Login</a>
            </li>
        </ul>
        <!-- /context nav -->
    </nav>
</header>
<!-- app-header -->
