<!-- footer -->
<div class="app-footer no-margin" data-role="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
              <div class="copy">&copy; NodeConductor 2014. Product of <a href="http://opnd.org" target="_new">OpenNode</a></div>
            </div>
            <div class="col-xs-6">
                <nav>
                      <a href="mailto:support@nodeconductor.com">support@nodeconductor.com</a>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /footer -->
