<div class="edit-forms user-pass">
    <form action="">
        <div class="row form-field">
            <div class="col-xs-8">
                <label for="">New password</label>
                <input type="password" class="form-control">
            </div>
        </div>
        <div class="row form-field">
            <div class="col-xs-8">
                <label for="">Confirm new password</label>
                <input type="password" class="form-control">
            </div>
        </div>
    </form>
</div>
