h1.app-title,
h2.app-title,
h3.app-title,
h4.app-title,
h5.app-title,
h6.app-title {
  @include inline-middle;
  margin: 0;
  line-height: 1;
  &.pointer {
    cursor: pointer;
  }
  // &.pointer
  &.centered {
    display: block;
    text-align: center;
  }
  // &.centered
  a {
    text-decoration: none;
  }
  // a
}

// h6.app-title

h1.app-title {
  @include property(font-size, 26);
}

// h1.app-title
h2.app-title {
  @include property(font-size, 24);
}

// h2.app-title
h3.app-title {
  @include property(font-size, 22);
}

// h3.app-title
h4.app-title {
  @include property(font-size, $huge-font);
}

// h4.app-title
h5.app-title {
  @include property(font-size, $big-font);
}

// h5.app-title
h6.app-title {
  @include property(font-size, $normal-font);
}

// h6.app-title

h1.item-title,
h2.item-title,
h3.item-title,
h4.item-title,
h5.item-title,
h6.item-title {
  @include inline-middle;
  margin: 0;
  font-weight: 700;
  &.lead {
    color: rgb(17, 108, 184);
  }
  // &.lead
  &.pointer {
    cursor: pointer;
  }
  // &.pointer
  &.centered {
    display: block;
    text-align: center;
  }
  // &.centered
}

// item-title

h1.item-title {
  @include property(font-size, 22);
}

// h1.item-title
h2.item-title {
  @include property(font-size, $huge-font);
}

// h2.item-title
h3.item-title {
  @include property(font-size, $big-font);
}

// h3.item-title
h4.item-title {
  @include property(font-size, $normal-font);
}

// h4.item-title
h5.item-title {
  @include property(font-size, $normal-font);
}

// h5.item-title
h6.item-title {
  @include property(font-size, $normal-font);
}

// h6.item-title
