.landing .footer {
  position: relative;
  background-color: #565656;
  color: white;
  box-sizing: border-box;
  @include property(font-size, $small-font);
  @include property(height, 50);
  @include property(padding-top, 13);
  width: 100%;
  @include bp(xs) {
    height: auto;
  }
  // xs
  @include bp(sm) {
    height: auto;
  }
  // sm
  a {
    color: white;
    text-decoration: none;
  }
}

.footer-nav {
  float: right;
  margin: 0;
  padding: 0;
  li {
    display: inline;
    list-style: none;
  }
  li + li {
    &:before {
      display: inline;
      content: ' | ';
      opacity: 0.4;
    }
  }
  @include bp(xs) {
    display: block;
    font-size: 12px;
    float: none;
    text-align: center;
  }
  // xs
  @include bp(sm) {
    display: block;
  }
  // sm
}

.footer-nav-anonymous {
  li {
    margin-right: 14px;
  }
  li + li {
    &:before {
      display: none;
    }
  }
}
