[class^="button"] {
  @include transition(all, 0.1s, ease);
}

.button {
  background-color: $button-green;
  @include inline-middle;
  @include property(border-radius, 5);
  @include property(padding, 0 20);
  color: #ffffff;
  font-weight: 700;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  &.dropdown-active {
    background: white;
  }
  // &.dropdown-active
  &:hover {
    text-decoration: none;
  }
}

// button

.list-sort {
  @include inline-middle;
  color: rgb(0, 0, 0);
  font-weight: 700;
}

// list-sort

.button-spinner {
  position: relative;
  &:before {
    @include icon-fa;
    content: "\f110";
    font-size: 20px;
    display: inline-block;
    text-align: center;
    animation-name: preload;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 100;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    color: #111;
    top: 50%;
    margin-top: -10px;
  }

  @keyframes preload {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

}
