.disabled {
  opacity: 0.3;
  pointer-events: none;
  @include transition(all, 0.2s, ease);
}

// low-grade

// errors
.error-list {
  @include clear-list;
  li + li {
    margin-top: 5px;
  }
}

// error-list

.error {
  color: white;
  background: rgb(202, 59, 59);
  line-height: 1;
  @include property(font-size, $small-font);
  @include property(border-radius, 3);
  @include property(margin, 10 0);
  @include property(padding, 4 8);
  &.short {
    @include property(width, 200);
  }
  // &.short
  &.error-small {
    @include property(font-size, $small-font);
  }
  // &.error-small
  &.arrow-down {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 50%;
      @include property(margin-left, -4);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 4px 0 4px;
      border-color: rgb(202, 59, 59) transparent transparent transparent;
    }
    // &:after
  }
  // &.arrow-down
  &.arrow-up {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: -4px;
      left: 50%;
      @include property(margin-left, -4);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 4px 4px 4px;
      border-color: transparent transparent rgb(202, 59, 59) transparent;
    }
    // &:after
  }
  // &.arrow-down
}

// error
