.container {
  @include clearfix;
  margin: auto;
  width: auto;
  @include property(padding, 0 60);
  @include bp(xs) {
    @include property(padding, 0);
    h1 {
      text-align: center;
    }
  }
  // xs
  @include bp(sm) {
    @include property(padding, 0 10);
  }
  // sm
  @include bp(md) {
    @include property(padding, 0 30);
  }
  // md
}

// container
