.list-item {
  @include table;
  padding: 15px 0;
  padding-left: 10px;
  line-height: 1;
  box-sizing: border-box;
  @include bp(xs) {
    padding-left: 0;
    padding-right: 5px;
  }
  // xs
  @include bp(sm) {
    padding-left: 0;
  }
  // sm
  &.list-header {
    min-height: 40px;
    padding: 5px 0;

    .resource-name {
      width: 250px;
      @include bp(xs) {
        display: none !important;
      }
      // xs
      @include bp(sm) {
        display: none !important;
      }
      // sm
    }
  }
  // &.list-header
  &.list {
    &:hover,
    &.selected {
      background-color: $expandable-hover;
    }
    // &:hover
  }
  // &.list
  &.pointer {
    cursor: pointer;
  }
  // pointer
  > * {
    @include table-cell;
    vertical-align: middle;
    @include property(padding, 0 10);
    &:nth-child(1) {
      @include property(padding-left, 10);
    }
    // &:nth-child(1)
    &:nth-last-child(1) {
      @include property(padding-right, 10);
    }
    // &:nth-child(1)
    // custom-cells
    &.status {
      width: 20px;
      text-align: left;
    }
    // &.status
    &.checkbox {
      width: 40px;
      text-align: center;
      @include bp(xs) {
        width: 20px;
        padding: 0;
      }
      // xs
      @include bp(sm) {
        width: 20px;
        padding: 0;
      }
      // sm
    }
    // checkbox-box
    &.expand {
      width: 40px;
      text-align: center;
      &.on-mobile {
        display: none;
        @include bp(xs) {
          @include table-cell;
          vertical-align: middle;
        }
        // xs
        @include bp(sm) {
          @include table-cell;
          vertical-align: middle;
        }
        // sm
      }
      // &.on-mobile
    }
    // expand
    &.name {
      a {
        &:hover {
          text-decoration: underline;
        }
        // &:hover
      }
      // a
      .item-title {
        font-weight: 400;
        .subtitle {
          padding-top: 5px;
        }
      }
      // item-title
      .subtitle {
        display: block;
        @include property(font-size, $small-font);
        color: #8f8f8f;
        strong {
          color: black;
        }
        span {
          padding-left: 10px;
        }
      }
      // subtitle
    }
    // &.name
    &.avatar {
      width: 40px;
      text-align: center;
      vertical-align: top;
      @include property(padding, 0);
      .avatar {
        @include property(width, 30);
      }
      // .avatar
    }
    // avatar-box
    &.actions {
      @include property(width, 85);
      text-align: right;
      &.switch {
        @include property(width, 280);
      }
      // &.switch
      .actions-button {
        .button {
          border: transparent;
          &.view {
            &:before {
              @include icon-fa;
              content: '\f06e';
            }
            // &:before
          }
          // &.view
          &.reopen {
            &:before {
              @include icon-fa;
              content: '\f01e';
            }
            // &:before
          }
          // &.reopen
          &.expand {
            &:before {
              @include icon-fa;
              content: '\f06e';
            }
            // &:before
          }
          // &.expand
        }
        // button
      }
      // actions-button
    }
    // actions-box
    &.additional-cell {
      &:not(.display-for-mobile) {
        @include bp(xs) {
          display: none;
        }
        // xs
        @include bp(sm) {
          display: none;
        }
        // sm
      }
      &.icon-header {
        font-weight: bold;
        width: 100px;
      }
      &.icon {
        width: 100px;
        padding: 0;
        span {
          img {
            width: 25px;
          }
        }
      }
      &.event-message {
        width: auto;
        line-height: 1.5;
        white-space: normal;
        @include bp(xs) {
          display: inline-block;
        }
        // xs
        @include bp(sm) {
          display: inline-block;
        }
        // sm
      }
      &.date {
        color: #929391;
        width: 150px;
        @include bp(xs) {
          display: inline-block;
        }
        // xs
        @include bp(sm) {
          display: inline-block;
        }
        // sm
      }
      .bool-field {
        color: $link-color;
      }
      &.resource-name {
        width: 250px;
        @include bp(xs) {
          width: 100%;
          display: block;
        }
        // xs
        @include bp(sm) {
          width: 100%;
          display: block;
        }
        // sm
      }
    }
    // &.additional-cell
  }
  // > div
}

// list-item
