<footer class="footer">
    <div class="pull-right">
        <ul class="footer-nav">
            <li>
                <a ui-sref="policy.privacy">Privacy policy</a>
            </li>
            <li>
                <a ui-sref="tos.index">Terms of Service</a>
            </li>
            <li>
                <a ui-sref="help.list">Help</a>
            </li>
            <li ng-if="::$ctrl.companyName">
                <a ng-href="{{ $ctrl.companyUrl }}">{{ ::$ctrl.companyName }}</a>
            </li>
        </ul>
    </div>
    <div>
        Build: <span ng-bind="::$ctrl.buildId"></span>
    </div>
</footer>
