<div class="modal-header">
    <h3 class="modal-title">
      <span translate>Select workspace</span>
    </h3>
</div>
<div class="modal-body" ng-class="{disabled: Ctrl.loadingState}">
  <div ng-if="Ctrl.loadingOrganizations">
      <loading-spinner/>
  </div>
  <div ng-if="!Ctrl.loadingOrganizations && Ctrl.organizations.length === 0" class="row">
    <div class="middle-box text-center">
        <h3 class="font-bold m-b-lg">
          <span translate>You do not belong to any organization yet.</span>
        </h3>
        <div>
            <a class="btn btn-default"
              ng-click="Ctrl.createOrganization()"
              ng-if="Ctrl.canCreateOrganization">
              <i class="fa fa-plus"></i>
              <span translate>Add new organization</span>
            </a>
        </div>
    </div>
  </div>
  <div ng-if="!Ctrl.loadingOrganizations && Ctrl.organizations.length > 0" class="row">
    <div class="col-md-6 col-xs-12 m-b-md">
      <a class="pull-right btn btn-sm btn-default"
        ng-click="Ctrl.createOrganization()"
        ng-if="Ctrl.canCreateOrganization">
        <i class="fa fa-plus"></i>
        <span translate>Add new</span>
        <span class="hidden-xs" translate>organization</span>
      </a>
      <h3 class="m-b-md">
        <span translate>Organizations</span> ({{ Ctrl.organizations.length }})
      </h3>
      <div class="form-group">
        <div class="search-box">
          <input id="organization-search-box"
                 type="text"
                 class="form-control"
                 ng-model="Ctrl.organizationSearchInput"
                 ng-model-options="{ debounce: 500 }"
                 placeholder="Filter organizations">
          <label for="organization-search-box">
            <i class="fa fa-search"></i>
          </label>
        </div>
      </div>
      <div class="list-group" slimscroll="{alwaysVisible: true, height: '300px'}" id="organization-selector">
        <div class="list-group-item"
          ng-repeat="organization in Ctrl.organizations | filter: {name: Ctrl.organizationSearchInput}"
          ng-class="{active: organization.uuid == Ctrl.selectedOrganization.uuid}"
          ng-click="Ctrl.selectOrganization(organization)">
          <a class="btn btn-xs btn-default pull-right"
            ng-if="organization.canGotoDashboard"
            submit-button="Ctrl.gotoOrganization(organization)">
            <span translate>Select</span>
          </a>
          <div
            class="elipsis"
            ng-if="organization.abbreviation"
            uib-tooltip="{{ organization.name }}"
            tooltip-append-to-body="true"
            tooltip-class="select-workspace-dialog__tooltip--order"
            ng-bind="organization.abbreviation"></div>
          <div
            class="elipsis"
            ng-if="!organization.abbreviation"
            ng-bind="organization.name"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <a class="pull-right btn btn-sm btn-default"
        ng-click="Ctrl.createProject()"
        ng-if="Ctrl.selectedOrganization.ownerOrStaff">
        <i class="fa fa-plus"></i>
        <span translate>Add new project</span>
      </a>
      <h3 class="m-b-md">
        <span translate>Projects</span>
        ({{ Ctrl.selectedOrganization.projects.length || 0 }})
      </h3>
      <div class="form-group">
        <div class="search-box">
          <input id="project-search-box"
                 type="text"
                 class="form-control"
                 ng-model="Ctrl.projectSearchInput"
                 ng-model-options="{ debounce: 500 }"
                 placeholder="Filter projects">
          <label for="project-search-box">
            <i class="fa fa-search"></i>
          </label>
        </div>
      </div>
      <div ng-if="Ctrl.selectedOrganization.projects.length == 0">
          <p class="text-center text-danger">
            <span translate>There are no projects yet for this organization.</span>
          </p>
      </div>
      <div ng-if="Ctrl.selectedOrganization.projects.length > 0"
        class="list-group"
        slimscroll="{alwaysVisible: true, height: '300px'}"
        id="project-selector">
        <div class="list-group-item"
          ng-repeat="project in Ctrl.selectedOrganization.projects | filter: {name: Ctrl.projectSearchInput}"
          ng-class="{active: project.uuid == Ctrl.selectedProject.uuid}"
          ng-click="Ctrl.selectProject(project)">
          <a class="btn btn-xs btn-default pull-right" submit-button="Ctrl.gotoProject(project)">
            <span translate>Select</span>
          </a>
          <div class="elipsis">{{ project.name }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="Ctrl.gotoProfile()">
      <span translate>Go to my profile</span>
    </button>
    <button class="btn btn-default" ng-click="Ctrl.dismiss()">
      <span translate>Cancel</span>
    </button>
</div>
