<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse" slimscroll="{height: '100%'}">
        <ul class="nav metismenu" id="side-menu">
            <li class="brand-name hidden-xs">
                <a>
                    <span ng-if="::!$ctrl.sidebarLogo">
                        <i class="fa fa-th-large"></i>
                        {{ ::$ctrl.shortPageTitle }}
                    </span>
                    <span ng-if="::$ctrl.sidebarLogo">
                        <img ng-src="{{ ::$ctrl.sidebarLogo }}">
                    </span>
                </a>
            </li>
            <li class="nav-header">
                <user-sidebar></user-sidebar>
            </li>
            <li ui-sref-active="active"
                ng-repeat="item in $ctrl.items"
                ng-class="item.class"
                visible-if="item.feature">
                <a ui-sref="{{ item.link }}" ng-if="item.link" ng-click="$ctrl.onMenuClick($event, item)">
                    <i class="fa {{ ::item.icon }} fixed-width-icon"></i>
                    <span class="nav-label">{{ item.label | translate }}</span>
                    <span class="label label-default pull-right"
                        ng-if="::item.countFieldKey"
                        ng-bind="item.count"/>
                    <span class="fa arrow" ng-if="::item.children"/>
                </a>
                <a ng-if="::item.action" ng-click="item.action()">
                    <i class="fa {{ ::item.icon }} fixed-width-icon"></i>
                    <span class="nav-label">{{ item.label | translate }}</span>
                </a>
                <ul class="nav nav-second-level ng-hide"
                    ng-show="item.expanded"
                    ng-if="::item.children"
                    ng-class="{in: item.expanded}">
                    <li ui-sref-active="active"
                        ng-repeat="child in item.children"
                        visible-if="child.feature">
                        <a ui-sref="{{ child.link }}">
                            <i class="fa {{ ::child.icon }}"></i>
                            {{ child.label | translate }}
                            <span class="label label-info pull-right"
                                ng-if="::child.countFieldKey"
                                ng-bind="child.count"/>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav metismenu visible-xs" id="side-menu-xs">
            <support-link visible-if="'support'"/>
            <language-selector-menu-item/>
            <docs-link/>
        </ul>
    </div>
</nav>
