.app-header {} // app-header

.navbar-fixed-top {
    border-width: 0;
}

.navbar-brand {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    background: url(../images/logo.png) no-repeat 50% 50%;
    background-size: 40px;
}

.navbar {
    border-radius: 0;
    margin: 0;
    background: #9ECF5D;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    color: #066D7B;
}

.navbar-nav > li {
    .user-pic {
        width: auto;
        height: 40px;
        margin-top: 5px;
        border-radius: 100%;
    } // user-pic
    .dropdown-menu {
        background: #9ECF5D;
        border: none;
        border-radius: 0px 0px 4px 4px;
        box-shadow: none;
        border-bottom: 2px solid gray;
        &.add-something {
            left: -58px;
            width: 160px;
            .fa {
                margin-right: 10px;
            }
        }
        &.user-drop {
            text-align: right;
        }
        li {
            a {
                color: #fff;
                font-size: rem(14);
            } // a
        } // li
    } // dropdown-menu
} // .navbar-nav > li

.navbar-nav > li > a {
    color: #1F3305;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.54);
    &:hover, &:focus {
        text-decoration: none;
        background-color: transparent;
    }
    &.active {
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.54);
        &:after {
            content: attr(data-original-title);
            margin-left: 8px;
        } // :after
    }
} // .navbar-nav > li > a

.custom-select {
    background-color: #89B550;
    margin-top: 8px;
    padding: 6px 10px;
    padding-right: 15px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 3px;
    position: relative;
    @include inline-middle;
    &:after {
        content: '\f0dd';
        position: absolute;
        top: calc(50% - 8px);
        right: 5px;
        font-family: FontAwesome;
        font-size: rem(10);
        color: #000;
    }
    select {
        background: transparent;
        -webkit-appearance: none;
        border: none;
        outline: 0;
    } // select
} // custom-select