.app-header {} // app-header

.navbar-fixed-top {
    border-width: 0;
}

.navbar-brand {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    background: url(../images/logo.png) no-repeat 50% 50%;
    background-size: 40px;
}

.navbar {
    border-radius: 0;
    margin: 0;
    background: #27ae60;
}

.navbar-nav > li {
    .user-pic {
        width: auto;
        height: 40px;
        margin-top: 5px;
        border-radius: 100%;
    } // user-pic
} // .navbar-nav > li

.navbar-nav > li > a {
    color: #fff;
    &:hover, &:focus {
        text-decoration: none;
        background-color: transparent;
    }
} // .navbar-nav > li > a
