.app-header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: #E2E2E2;
    .main-nav {
        @include clear-list;
        li {
            display: inline-block;
            a {
                display: inline-block;
                vertical-align: middle;
                padding: 10px 15px;
                color: #565656;
                text-decoration: none;
                &:hover {
                    background: #565656;
                    color: #e2e2e2;
                }
            } // a
        } // li
    } // main-nav
} // app-header