.app-payment {
    margin-top: 20px;
    .radio-card-type {
        padding-top: 8px;
        img {
            position: relative;
            top: -8px;
            left: 10px;
        } // img
    } // radio-card-type
} // app-payment
