.dash-block {
    + .dash-block {
        margin-top: 40px;
    }
} // dash-block

.dash-title-box {
    text-align: center;
    margin-bottom: 40px;
    .dash-title {
        @include inline-middle;
        margin: 0;
        font-size: rem(22);
    } // dash-title
    .sort {
        @include inline-middle;
        @include clear-list;
        li {
            @include inline-middle;
            &.divid {
                border-left: 1px solid silver;
                margin-left: 10px;
            } // divid
            a {
                @include inline-middle;
                @include dotted-link;
                position: relative;
                margin-left: 10px;
                &:after {
                    display: none;
                    content: '';
                    position: absolute;
                    bottom: -6px;
                    left: 50%;
                    margin-left: -5px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 6px 5px 0 5px;
                    border-color: #27ae60 transparent transparent transparent;
                } // :after
                &.active {
                    border-bottom: 1px solid #27ae60;
                    opacity: 1;
                    &:after {
                        display: inline-block;
                    } // :after
                } // active
            } // a
            .sort-input {
                @include inline-middle;
                margin-left: 10px;
                margin-top: 2px;
                border-bottom: 1px dashed transparent;
                .gray-text {
                    @include inline-middle;
                } // gray-text
                input[type=text] {
                    @include inline-middle;
                    margin-left: 5px;
                    padding: 2px 4px;
                    font-size: rem(12);
                    color: #333;
                    vertical-align: middle;
                    background-color: #fff;
                    background-repeat: no-repeat;
                    background-position: right center;
                    border: 1px solid #ccc;
                    border-radius: 3px;
                    outline: none;
                    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
                } // input[type=text]
            } // sort-input
        } // li
    } // sort
} // dash-title-box
