.event-single {
    margin-bottom: 40px;
    .event-single-box {
        padding: 15px;
        // background: rgb(231, 231, 231);
        border: 1px solid #dfdfdf;
        border-radius: 3px;
    } // event-single-box
    .event-title {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: rem(22);
        a {
            color: #000;
        } // a
    } // event-title
    .controls-box {
        text-align: right;
        .controls {
            @include clear-list;
            @include inline-middle;
            li {
                + li {
                    margin-left: 1rem;
                }
                @include inline-middle;
                a {
                    @include black-link;
                } // a
            } // li
        } // controls
    } // controls-box
    .event-description {
        color: rgb(158, 158, 158);
    } // event-description
    .event-info {
        .elem {
            @include inline-middle;
        } // elem
        .project-title {
            &.grouped {
                position: relative;
                padding-right: 15px;
                cursor: pointer;
                &:after {
                    content: '\f0dd';
                    position: absolute;
                    top: calc(50% - 8px);
                    right: 5px;
                    font-family: FontAwesome;
                    font-size: rem(10);
                }
            }
        }
    } // event-from
    .event-actions {
        @include small-black-link;
    } // event-actions
    [data-grouped="show-grouped"] {
        display: none;
        &.state {
            display: block;
        } // state
        .gruoped-projects {
            display: inline-block;
            background-color: #E2F7DF;
            padding: 4px 8px;
            border-radius: 4px;
            margin-top: 8px;
            position: relative;
            &:before {
                position: absolute;
                top: -6px;
                left: 50px;
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 7px 6px 7px;
                border-color: transparent transparent #E2F7DF transparent;
            }
        } // gruoped-projects
    }
} // event-single
