.form-view {
    .form-view-block {
        + .form-view-block {
            margin-top: 30px;
        } // +
    } // form-view-block
    // components
    .form-title {
        text-align: center;
        margin: 0px;
        margin-bottom: 10px;
    } // form-title
    h3.form-title {
        @extend .form-title;
        font-size: rem(22);
    }
    h4.form-title {
        @extend .form-title;
        font-size: rem(20);
    }
    .send-box {
        text-align: center;
        .btn-add {} // btn-add
        .btn-cancel {
            opacity: .5;
        } // btn-cancel
    } // send-box
} // form-view

.add-resource-form {
    .proj-label {
        margin-left: 12px;
    } // proj-label
    .desc-label {} // desc-label
    .form-field {
        &.description {
            margin-top: 20px;
        } // +
        label {
            margin-bottom: 10px;
            position: relative;
            &.filled {
                &:after {
                    content: '\f00c';
                    font-family: FontAwesome;
                    color: green;
                    position: absolute;
                    right: -24px;
                    top: 0px;
                } // &:after
            } // &.filled
        } // label
    } // form-field
} // add-resource-form

.appstore {
    .templates {
        .templates-row {
            + .templates-row {
                margin-top: 5px;
            } // +            
        }  // templates-row
        .template {
            // background: #EDEDED;
            box-sizing: border-box;
            padding: 12px;
            margin-bottom: 5px;
            border-radius: 4px;
            position: relative;
            cursor: pointer;
            border: 1px solid rgb(202, 202, 202);
            .name-row {
                // height: 200px;
                .icon-box {
                    text-align: center;
                    .icon {
                        filter: grayscale(100%);
                        width: 80px;
                    } // icon
                }
                .description {
                    h3 {
                        margin: 0;
                        margin-bottom: 10px;
                        font-size: rem(18);
                    } // h3
                    article {
                        margin: 0;
                        line-height: 1.2;
                    } // article
                } // description
            } // name-row
            .price-row {
                margin-top: 10px;
                padding-top: 10px;
                border-top: 1px dashed rgb(176, 176, 176);
                .price {
                    text-align: center;
                    font-size: rem(14);
                    .pice-item {
                        @include inline-middle;
                        .int {
                            font-weight: 700;
                        } // int
                        .period {
                            color: #5C5C5C;
                        } // period
                    } // pice-item
                } // price
            } // price-row
            &.state {
                // background: #fff;
                border: 1px solid rgb(62, 171, 84);
                .name-row {
                    .icon-box {
                        .icon {
                            filter: none;
                        } // icon
                    } // icon-box
                } // name-row
                .price {
                    .int {
                        color: rgb(67, 152, 58);
                    } // int
                } // price
            } // state
        } // template
    } // templates
} // appstore
