.login {
    // background: rgb(237, 237, 237) url(../images/decor-image-grayscale.png);
    position: relative;
    color: #fff;
    h4 {
        font-weight: 400;
            a {
            color: inherit;
            text-decoration: underline;
            font-weight: 700;
        } // a
    } // h4
    h1 {
        text-align: center;
    } // h1
    .login-box {
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        &.transition {
            @include transition(all, 0.4s, ease);
        }
        &.state {
            transform: translate(-100%, 0);
        }
        &.inputs {
            transform: translate(100%, 0);
            &.state {
                transform: translate(0%, 0);
            } // state
        } // login-box-inputs
    } // login-box
    .login-form {
        margin: 20px 0;
        text-align: center;
        .or {
            @include inline-middle;
        } // or
        .login-block {
            + .login-block {
                margin-top: 20px;
            } // login-block
        } // login-block
        .button-login {
            @include inline-middle;
            background-color: rgb(125, 178, 67);
            margin-top: 6px;
            border-radius: 4px;
            padding: 6px 15px;
            color: #fff;
            // text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.28);
            border-bottom: 2px solid rgb(45, 108, 9);
            font-size: rem(24);
            padding-left: 30px;
            text-decoration: none;
            &:hover {
                background-color: #72A53A;
            }
            &:active {
                border-color: transparent;
                position: relative;
                top: 2px;
            }
            &:before {
                @include inline-middle;
                font-family: FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                position: relative;
                top: -1px;
                left: -15px;
                background: #659B2B;
                width: 30px;
                height: 30px;
                border-radius: 3px;
                font-size: rem(20);
                box-sizing: border-box;
                padding-top: 2px;
                box-shadow: inset 1px -1px 1px 0px rgba(45, 108, 9, 0.29);
            }
            &.google {
                &:before {
                    content: '\f1a0';
                }
            } // &.google
            &.facebook {
                &:before {
                    content: '\f09a';
                }
            } // &.facebook
        } // button-login
        .inputs-box {
            margin: 0 auto;
            width: 60%;
            .inputs-row {
                + .inputs-row {
                    margin-top: 10px;
                } // +
            } // inputs-row
            label {
                text-align: right;
                padding-right: 20px;
                padding-top: 8px;
                font-size: rem(18);
                font-weight: 400;
            } // label
            input[type=text],
            input[type=password] {
                @include transition(all, 0.5s, ease);
                outline: none;
                color: #000;
                font-weight: 200;
                padding: 4px 10px;
                background-color: rgba(255, 255, 255, .2);
                font-size: rem(22);
                border: none;
                border-radius: 3px;
                &:focus {
                    background: rgba(255, 255, 255, 0.34);
                    box-shadow: 0px 0px 5px 0px rgba(20, 90, 29, 0.69);
                }
            } // input[type=text], input[type=password]
            .btn-signup {
                @include inline-middle;
                background-color: rgb(125, 178, 67);
                margin-top: 20px;
                border-radius: 4px;
                padding: 6px 15px;
                color: #fff;
                // text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.28);
                border-bottom: 2px solid rgb(45, 108, 9);
                // font-size: rem(24);
                // padding-left: 30px;
                text-decoration: none;
            } // btn-signup
        } // inputs-box
    } // login-form
} // login
