.main-activity-item {
    border-left: 1px solid #dfdfdf;
    padding: 10px 20px 10px 20px;
    // position: relative;
    // z-index: 999;
    &:nth-child(1) {
        padding-top: 0px;
    }
    &:nth-last-child(1) {
        padding-bottom: 0px;
        .separate {
            display: none;
        }
    }
    time.date {
        @include inline-middle;
        margin-left: 8px;
        font-size: rem(12);
        color: silver;
    } // time.date
    .project-title {
        @include inline-middle;
        font-size: rem(22);
        font-weight: 700;
        text-decoration: none;
        position: relative;
        &:before {
            content: '';
            display: block;
            width: 15px;
            height: 15px;
            -webkit-border-radius: 100%;
            border-radius: 100%;
            background: #fff;
            border: 2px solid #dfdfdf;
            position: absolute;
            top: 6px;
            left: -28px;
        }
    } // project-title
    .controls-box {
        text-align: right;
        .controls {
            @include clear-list;
            @include inline-middle;
            li {
                + li {
                    margin-left: 1rem;
                }
                @include inline-middle;
                a {
                    @include black-link;
                } // a
            } // li
        } // controls
    } // controls-box
    .notifications {
        @include clear-list;
        .notification {
            color: rgb(158, 158, 158);
            .elem {
                @include inline-middle;
                + .elem {
                    margin-left: .8rem;
                }
            } // elem
            .icon-box {
                width: 20px;
                text-align: center;
                font-size: rem(14);
            } // icon-box
            .notification-text {
                color: rgb(158, 158, 158);
                text-decoration: none;
                font-size: rem(14);
            } // notification-text
            .user {
                font-size: rem(14);
            } // user
            .notification-action {
                @include small-black-link;
                position: relative;
                top: 1px;
            } // notification-action
        } // notification
    } // notifications    
    .separate {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #d2d2d2;
        margin-top: 20px;
    } // separate
} // main-activity-item