.event {
    border-left: 1px solid #dfdfdf;
    padding: 10px 20px 10px 20px;
    // position: relative;
    // z-index: 999;
    &.event-user {
        position: relative;
        padding-left: 60px;
        &:nth-child(1) {
            .user-pic  {
                top: 1px;
            } // .user-pic 
        }
        .user-pic {
            position: absolute;
            left: 18px;
            top: 11px;
            @include table-cell;
            vertical-align: middle;
            width: 25px;
            img {
                border-radius: .2em;
            } // img
        } // user-pic
        .event-title {
            &:before {
                left: -68px;
            }
        } // envent-title
    } // event-user
    &:nth-child(1) {
        padding-top: 0px;
    }
    &:nth-last-child(1) {
        padding-bottom: 0px;
        .separate {
            display: none;
        }
    }
    .event-title {
        @include inline-middle;
        margin: 0;
        font-size: rem(18);
        font-weight: 700;
        text-decoration: none;
        position: relative;
        &:before {
            content: '';
            display: block;
            width: 15px;
            height: 15px;
            -webkit-border-radius: 100%;
            border-radius: 100%;
            background: #fff;
            border: 2px solid #dfdfdf;
            position: absolute;
            top: 6px;
            left: -28px;
        }
    } // project-title
    .controls-box {
        text-align: right;
        .controls {
            @include clear-list;
            @include inline-middle;
            li {
                + li {
                    margin-left: 1rem;
                }
                @include inline-middle;
                a {
                    @include black-link;
                } // a
            } // li
        } // controls
    } // controls-box
    .separate {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #d2d2d2;
        margin-top: 20px;
    } // separate
    .content {
        .elem {
            @include inline-middle;
            + .elem {
                margin-left: .8rem;
            }
        } // elem
        .icon-box {
            width: 20px;
            text-align: center;
            font-size: rem(14);
        } // icon-box
        .event-text {
            color: rgb(158, 158, 158);
            text-decoration: none;
            font-size: rem(14);
        } // notification-text
        .user {
            font-size: rem(14);
        } // user
        .event-action {
            @include small-black-link;
            position: relative;
            top: 1px;
        } // event-action
        .specifications {
            @include clear-list;
        } // specifications
    } // content
} // main-activity-item
