.pagination {
    width: 100%;
    padding-top: 30px;
    text-align: center;
    ul {
        @include clear-list;
        li {
            @include inline-middle;
            span {
                color: #000;
                opacity: .4;
            } // span
            a {
                @include inline-middle;
                color: #000;
                padding: 2px 0px;
                text-decoration: none;
                position: relative;
                opacity: .4;
                margin-left: 10px;
                &.current {
                    opacity: 1;
                } // current
            } // a
        }
    } // ul
} // pagination
