.project-single {
    .project-title {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: rem(24);
    } // project-title
    .project-customer {
        .user-pic {
            @include inline-middle;
            width: 60px;
            border-radius: 100%;
        } // user-pic
        h3 {
            @include inline-middle;
            font-size: rem(24);
            margin: 0;
            margin-left: 10px;
        } // h3
    } // project-customer
    .project-group {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px dashed #d2d2d2;
        color: #9e9e9e;
        text-decoration: none;
        font-size: 1.4rem;
    } // project-group
    .project-description {
        padding: 15px;
        padding-left: 0px;
        color: #9e9e9e;
        text-decoration: none;
        font-size: 1.4rem;
    }  // project-description
    .project-events {
        padding: 15px;
        padding-right: 0px;
    } // project-events
    .project-resources {
        padding: 15px;
        padding-left: 0px;
    } // project-resources
    .nav-tabs {
        margin-top: 20px;
        margin-bottom: 20px;
    } // nav-tabs
    .tab-content {
        margin-top: 20px;
        margin-bottom: 20px;
        .tab-pane {
            padding-left: 0px;
            padding-right: 0px;
            .main-activity-item {
                padding-right: 0px;
            } // main-activity-item
        } // tab-pane
    } // tab-content
} // project-single
