.user-profile {
    .user-pic {
        @include inline-middle;
        width: 100px;
        border-radius: .6em;
    } // user-pic
    .user-name {
        @include inline-middle;
        font-size: rem(24);
        margin: 0;
    } // user-name
    .user-description {
        padding: 15px;
        padding-left: 0px;
        color: #9e9e9e;
        text-decoration: none;
        font-size: 1.4rem;
        &.edit {
            padding-right: 0px;
        } // &.edit
        textarea {
            height: 100px;
        }
    } // user-description
} // user-profile

.user-edit-form {
    .user-edit-row {
        + .user-edit-row {
            margin-top: 20px;
        } // +
        input + input {
            margin-top: 10px;
        } // input + input
        label {
            margin-bottom: 20px;
        }
    } // user-edit-row
} // user-edit-form
