.verify-data {
    .container {
        // width: 600px;
    } // .container
    .verify-block {
        @include block-2;
        &.portrait-block {
            width: 30%;
        }
        &.data-block {
            width: 70%;
        }
    }
    .data-title {
        text-align: center;
        margin-top: 0;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px dashed rgb(210, 210, 210);
        font-size: rem(48);
        color: #000;
    }
    .portrait {
        @include inline-middle;
        text-align: center;
        padding-left: 15px;
        img {
            border-radius: 4px;
            border-bottom: 2px solid rgb(136, 136, 136);
        }
    } // .portrait
    .data {
        padding-left: 40px;
        fieldset {
            + fieldset {
                margin-top: 1rem;
            }
            &.submit-box {
                // text-align: center;
                margin-top: 3rem;
                padding-left: 15px;
            }
            &.can-edit {
                position: relative;
                &:hover {
                    &:before {
                        position: absolute;
                        top: 20px;
                        left: -20px;
                        content: "\f040";
                        font-family: FontAwesome;
                    }
                }
            }
            input[type=text], textarea {
                @include transition(all, 0.5s, ease);
                width: 100%;
                box-sizing: border-box;
                font-size: rem(30);
                padding: 10px 15px;
                border-radius: 4px;
                border: none;
                outline: 0;
                &:focus {
                    box-shadow: 0px 0px 10px 0px #B2DF9C;
                }
            }
            .login-with {
                color: #000;
                text-decoration: none;
            }
            .submit {
                border: none;
                @include green-button;
                padding-top: 10px;
                &:nth-child(1) {
                    margin-right: none;
                }
                span {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: rem(20);
                    color: #fff;
                } // span
                .fa {
                    display: inline-block;
                    vertical-align: middle;
                    color: #fff;
                    font-size: rem(30);
                } // .fa
            } // submit
        }
    } // date
} // verify-data