<table class="table table-borderless m-b-xs">
  <tbody>
    <tr ng-repeat="item in $ctrl.items">
      <td class="p-l-n col-md-6">
        <select
          ng-options="choice.value as choice.display_name for choice in $ctrl.getFreeSubnets(item.subnet)"
          ng-model="item.subnet"
          class="form-control">
          <option ng-if="!item.subnet" value="" translate>Select subnet</option>
        </select>
      </td>
      <td class="col-md-5">
        <select
          ng-options="choice.value as choice.display_name for choice in $ctrl.getFreeFloatingIps(item.floating_ip)"
          ng-model="item.floating_ip"
          ng-class="{disabled: !item.subnet}"
          class="form-control">
        </select>
      </td>
      <td class="p-r-n">
        <button
          type="button"
          class="btn btn-default"
          uib-tooltip="{{ 'Delete' | translate }}"
          ng-click="$ctrl.deleteItem(item)">
          <i class="fa fa-trash-o"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<button
  type="button"
  class="btn btn-default"
  ng-click="$ctrl.addItem()"
  ng-class="{disabled: !$ctrl.hasFreeSubnets()}">
  <i class="fa fa-plus"></i>
  <span translate>Add</span>
</button>
