<div class="ibox" ng-if="$ctrl.loading">
  <loading-spinner></loading-spinner>
</div>
<div class="ibox" ng-if="!$ctrl.loading">
  <div class="ibox-title">
    <h5>
      <span translate>Checkout summary</span>
    </h5>
  </div>
  <div class="ibox-content">
    <p ng-if="!$ctrl.isValid()">
      <span ng-if="$ctrl.model.flavor" translate>
        Resource configuration is invalid. Please fix errors in form.
      </span>
      <span ng-if="!$ctrl.model.flavor" translate>
        No items yet.
      </span>
      {{ $ctrl.error }}
    </p>
    <p ng-if="$ctrl.components" ng-bind-html="::$ctrl.componentsMessage"></p>
    <table class="table table-bordered" ng-if="$ctrl.isValid()">
      <tbody>
        <tr ng-if="$ctrl.model.name">
          <td><strong translate>VM name</strong></td>
          <td>{{ $ctrl.model.name }}</td>
        </tr>
        <tr ng-if="$ctrl.model.image && $ctrl.model.image.name">
          <td><strong translate>Image</strong></td>
          <td>{{ $ctrl.model.image.name }}</td>
        </tr>
        <tr ng-if="$ctrl.model.flavor">
          <td><strong translate>Flavor</strong></td>
          <td>{{ $ctrl.model.flavor.name }}</td>
        </tr>
        <tr ng-if="$ctrl.model.flavor">
          <td><strong translate>vCPU</strong></td>
          <td ng-if="$ctrl.model.flavor.cores == 1">
            {{ $ctrl.model.flavor.cores }} core
          </td>
          <td ng-if="$ctrl.model.flavor.cores > 1">
            {{ $ctrl.model.flavor.cores }} cores
          </td>
        </tr>
        <tr ng-if="$ctrl.model.flavor">
          <td><strong translate>RAM</strong></td>
          <td>{{ $ctrl.model.flavor.ram | filesize }}</td>
        </tr>
        <tr>
          <td><strong translate>Total storage</strong></td>
          <td>{{ $ctrl.getTotalStorage() | filesize }}</td>
        </tr>
        <tr>
          <td>
            <strong translate>Price per day</strong>
            <price-tooltip></price-tooltip>
          </td>
          <td>{{ $ctrl.getDailyPrice() | defaultCurrency }}</td>
        </tr>
        <tr>
          <td>
            <strong translate>Price per month</strong>
            <price-tooltip></price-tooltip>
          </td>
          <td>{{ $ctrl.getMonthlyPrice() | defaultCurrency }}</td>
        </tr>
        <tr>
          <td><strong translate>Invoiced to</strong></td>
          <td>{{ $ctrl.model.customer.name }}</td>
        </tr>
        <tr>
          <td><strong translate>Project</strong></td>
          <td>{{ $ctrl.model.project.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ibox-title" ng-if="$ctrl.components">
    <h5>
      <span translate>Package limits</span>
    </h5>
  </div>
  <div class="ibox-content" ng-if="$ctrl.components">
    <quota-usage-bar-chart quotas="$ctrl.quotas"></quota-usage-bar-chart>
  </div>
</div>
