<div class="modal-header">
  <h3 class="modal-title" translate>Invoice events timeline</h3>
</div>
<div class="modal-body">
  <div ng-if="$ctrl.loading">
    <loading-spinner></loading-spinner>
  </div>

  <div ng-if="$ctrl.erred">
    <p translate>Unable to load events for this resource.</p>
    <button class="btn btn-primary">
      <i class="fa fa-refresh"></i>
      <span translate>Retry</span>
    </button>
  </div>

  <div ng-if="$ctrl.events.length === 0">
    <span translate>There are no events for this resource.</span>
  </div>

  <div
    id="vertical-timeline"
    class="vertical-container dark-timeline"
    ng-if="$ctrl.events.length"
  >
    <div class="vertical-timeline-block" ng-repeat="event in $ctrl.events">
      <div class="vertical-timeline-icon" ng-class="::event.color">
        <i class="fa" ng-class="::event.icon"></i>
      </div>

      <div class="vertical-timeline-content">
        <p ng-bind-html="::event.message"></p>
        <a
          class="btn btn-sm btn-primary"
          ng-click="$ctrl.showEventDetails(event)"
        >
          <i class="fa fa-eye"></i>
          <span translate>More info</span>
        </a>
        <span class="vertical-date">
          {{ ::event.date | formatRelative }} ago
          <br />
          <small>{{ ::event.date | dateTime }}</small>
        </span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="$ctrl.dismiss()">
      <span translate>Close</span>
    </button>
  </div>
</div>
