<dl class="dl-horizontal resource-details-table col-sm-12"
  ng-switch="$ctrl.resource.resource_type">

  <div ng-switch-when="OpenStack.SecurityGroup">
    <security-group-summary resource="$ctrl.resource"></security-group-summary>
  </div>

  <div ng-switch-when="OpenStack.FloatingIP">
    <openstack-floating-ip-summary resource="$ctrl.resource"></openstack-floating-ip-summary>
  </div>

  <div ng-switch-when="OpenStack.Network">
    <openstack-network-summary resource="$ctrl.resource"></openstack-network-summary>
  </div>

  <div ng-switch-when="OpenStack.SubNet">
    <openstack-subnet-summary resource="$ctrl.resource"></openstack-subnet-summary>
  </div>

  <div ng-switch-when="OpenStack.Tenant">
    <openstack-tenant-summary resource="$ctrl.resource"></openstack-tenant-summary>
  </div>

  <div ng-switch-when="OpenStackTenant.Instance">
    <openstack-instance-summary resource="$ctrl.resource"></openstack-instance-summary>
  </div>

  <div ng-switch-when="OpenStackTenant.Volume">
    <openstack-volume-summary resource="$ctrl.resource"></openstack-volume-summary>
  </div>

  <div ng-switch-when="OpenStackTenant.Backup">
    <openstack-backup-summary resource="$ctrl.resource"></openstack-backup-summary>
  </div>

  <div ng-switch-when="OpenStackTenant.Snapshot">
    <openstack-snapshot-summary resource="$ctrl.resource"></openstack-snapshot-summary>
  </div>

  <div ng-switch-when="OpenStackTenant.BackupSchedule">
    <openstack-backup-schedule-summary resource="$ctrl.resource"></openstack-backup-schedule-summary>
  </div>

  <div ng-switch-when="OpenStackTenant.SnapshotSchedule">
    <openstack-snapshot-schedule-summary resource="$ctrl.resource"></openstack-snapshot-schedule-summary>
  </div>

  <div ng-switch-when="DigitalOcean.Droplet">
    <digitalocean-droplet-summary resource="$ctrl.resource"></digitalocean-droplet-summary>
  </div>

  <div ng-switch-when="Azure.VirtualMachine">
    <azure-virtual-machine-summary resource="$ctrl.resource"></azure-virtual-machine-summary>
  </div>

  <div ng-switch-default>
    <resource-summary-base resource="$ctrl.resource"></resource-summary-base>
  </div>
</dl>
