@import '~sass/inspinia/_variables.scss';

.planItemExpandableContent {
  padding: 24px 12px;
  color: #333333;

  .form-group {
    margin: 0;

    table {
      border: 1px solid $border-color;
      border-radius: 4px;

      td,
      th {
        vertical-align: middle !important;
        border: none !important;
        padding: 14px 8px !important;
        line-height: 24px;

        &:not(:first-child) {
          text-align: center;
        }
      }

      td {
        font-size: 15px;
      }

      thead {
        th {
          background-color: #cce3f5;
          font-weight: bold;
          font-size: 16px;
        }
      }

      tbody {
        td[colspan='3'] {
          background-color: #f1f1f2;

          & ~ td {
            background-color: #f1f1f2;
          }
        }
      }
    }

    table ~ p {
      font-size: 14px;
      line-height: 24px;
    }
  }
}
