.publicOfferingDescriptionContainer {
  width: 66%;

  &__header {
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 24px;
  }

  &__description {
    b {
      font-size: 16px;
      line-height: 50px;
    }
  }
}

.publicOfferingDescriptionContainer--fullWidth {
  width: 100%;
}
