.SidebarRow {
  display: table-row;
  cursor: pointer;
  &:hover {
    background-color: #eee;
  }

  &Icon {
    display: table-cell;
    padding: 15px;
    font-size: 15px;
    vertical-align: top;
  }

  &Title {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    padding-top: 10px;
  }
}
