<div class="tabs-container m-l-sm">
  <uib-tabset active="active">
    <uib-tab index="0" select="$ctrl.usersTabSelected()">
      <uib-tab-heading id="users-tab" translate>Users</uib-tab-heading>
      <div class="panel-body" ng-if="active==0">
        <customer-users-list></customer-users-list>
      </div>
    </uib-tab>
    <uib-tab index="1">
      <uib-tab-heading id="invitations-tab" translate>Invitations</uib-tab-heading>
      <div class="panel-body" ng-if="active==1">
        <invitations-list></invitations-list>
      </div>
    </uib-tab>
    <uib-tab index="2">
      <uib-tab-heading translate>Permissions log</uib-tab-heading>
      <div class="panel-body" ng-if="active==2">
        <customer-permissions-log-list></customer-permissions-log-list>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
