.script-editor {
  @media (max-width: 992px) {
    .editor-header {
      overflow-x: scroll;
      position: relative;
    }
  }

  .monaco-editor {
    outline: none;

    .margin {
      background-color: var(--bs-gray-50);
      border-right: 1px solid var(--bs-border-color);
    }
    .editor-scrollable {
      margin-left: 0.5rem;
    }
  }
}
