.checkbox-toggle {
  min-width: 48px;
  height: 24px;
  position: relative;
  display: flex;
  flex-direction: row;

  input[type='checkbox'] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    max-width: 100%;
    min-width: 48px;
    height: 100%;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }

  label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 2px;
    width: 46%;
    height: 84%;
    background: #fff;
    border-radius: 100px;
    transition: 0.2s;
    transform: translateX(0%);
  }

  input:checked + label {
    background: #1ab394;

    &::after {
      transform: translateX(100%);
    }
  }

  label:active::after {
    transform: translateX(50%);
  }
}

.weekDays-selector {
  margin: 8px 20px 0;
  display: flex;
  justify-content: space-between;

  & input {
    display: none !important;

    &[type='checkbox'] {
      & + label {
        display: inline-block;
        border-radius: 50px;
        background: #ddd;
        height: 30px;
        width: 30px;
        margin: 0;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
      }

      &:checked + label {
        background: #1ab394;
        color: #fff;
      }
    }
  }
}
