.OfferingScheduler {
  &__availability {
    padding: 0px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px;
  }
  .card-header {
    margin-bottom: 20px;
  }
  .card-body {
    padding: 15px;
    padding-top: 0px;
  }
  .close {
    margin: 10px;
    float: none;
    margin-left: auto;
    display: block;
  }
  .btn {
    margin: 20px;
    margin-top: 0px;
  }
}
