<div ng-controller="KeyAddController as KeyAdd">

    <div class="white-box">
        <ul class="sort-list">
            <li class="title">
                <h2 class="app-title">Add key</h2>
            </li>
        </ul>
    </div>

    <div class="white-box">
        <section class="short-form">
            <div class="form-row">
                <div class="col label">
                    <label for="">Key name:</label>
                </div>
                <div class="col input input-full">
                    <input type="text" ng-model="KeyAdd.instance.name">
                    <div class="error arrow-up" ng-show="KeyAdd.errors.name">
                        <ul class="error-list">
                            <li ng-repeat="error in KeyAdd.errors.name">{{ error }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col label">
                    <label for="">Public key:</label>
                </div>
                <div class="col input input-full">
                    <textarea class="full"
                          ng-model="KeyAdd.instance.public_key"></textarea>
                    <div class="error arrow-up" ng-show="KeyAdd.errors.public_key">
                        <ul class="error-list">
                            <li ng-repeat="error in KeyAdd.errors.public_key">{{ error }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- non field errors -->
        <div class="simple-line" ng-show="KeyAdd.errors.non_field_errors">
            <div class="error">
                <ul class="error-list">
                    <li ng-repeat="error in KeyAdd.errors.non_field_errors">
                        {{ error }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- /non field errors -->

        <div class="decision">
            <div class="col">
                <a class="button-apply" ng-click="KeyAdd.save()">Add key</a>
            </div>
            <div class="col">
                <a class="button-cancel" ng-click="KeyAdd.cancel()">Cancel</a>
            </div>
        </div>
    </div>

</div>
