<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox">
        <div class="ibox-title">
          <expert-request-create-title expert="$ctrl.expert"></expert-request-create-title>
        </div>
        <div class="ibox-content">
          <appstore-form fields="$ctrl.expert" model="$ctrl.model" errors="$ctrl.errors"/>
        </div>
        <div class="ibox-content">
          <button class="btn btn-primary pull-right" submit-button="$ctrl.save()">
            <i class="fa fa-shopping-cart"></i>
            <span translate>Create</span>
          </button>
          <button class="btn btn-default" ng-click="$ctrl.cancel()">
            <span translate>Cancel</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
