<div class="col-lg-12">
  <div class="panel blank-panel">
    <div class="panel-heading">
      <div class="panel-options">
        <ul class="nav nav-tabs">
          <li ng-if="$ctrl.comments" class="active"><a data-toggle="tab" translate>Users comments</a></li>
        </ul>
      </div>
    </div>
    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane active" id="tab-1">
          <div class="feed-activity-list">
            <div class="feed-element" ng-repeat="comment in $ctrl.comments" ng-if="$ctrl.comments">
              <div class="media-body ">
                <strong>{{comment.author_name}}</strong> <span translate>commented</span>
                <span am-time-ago="::comment.created"></span><br>
                <small class="text-muted">{{comment.created | dateTime}}</small>
                <div class="well" ng-bind="comment.description">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
