<div class="row wrapper white-bg page-heading">
  <div class="col-lg-9">
    <h2 translate>Expert request details</h2>
    <ol class="breadcrumb">
      <li>
        <a ui-sref="project.details({uuid: $ctrl.expertRequest.project_uuid })">
          <span translate>Project workspace</span>
        </a>
      </li>
      <li>
        <span translate>Resources</span>
      </li>
      <li>
        <a ui-sref="project.resources.experts({uuid: $ctrl.expertRequest.project_uuid })">
          <span translate>Expert requests</span>
        </a>
      </li>
      <li class="active">
        <strong>{{ $ctrl.expertRequest.name }}</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-3">
    <expert-request-cancel expert-request="$ctrl.expertRequest"></expert-request-cancel>
  </div>
</div>
