<div class="tabs-container m-l-sm">
  <uib-tabset active="active">
    <uib-tab index="0" ng-if="!$ctrl.expertRequest.contract">
      <uib-tab-heading translate>Comments</uib-tab-heading>
      <div class="panel-body" ng-if="active==0">
        <issue-comments-list issue="$ctrl.issue"></issue-comments-list>
        <issue-comments-form issue="$ctrl.issue"></issue-comments-form>
      </div>
    </uib-tab>
    <uib-tab index="1" ng-if="$ctrl.issue.url">
      <uib-tab-heading translate>Request bids</uib-tab-heading>
      <div class="panel-body" ng-if="active==1">
        <expert-bids-list expert-request="$ctrl.expertRequest"></expert-bids-list>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
