.instruction-page {
  .instruction-image {
    width: 50%;
    float: left;
    min-width: 260px;
    cursor: pointer;
  }
  .instruction-content {
    @extend .instruction-image;
    padding-left: 10px;
    cursor: auto;
  }
  .instruction-content-alerts {
    .left-padding {
      padding-left: 10px;
    }
  }
}
pre.code {
  background-color: #FFFAE5;
}
.image-box-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.85;
  z-index: 9999;
}
.image-box-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  text-align: center;
  .image-wrapper {
    position: relative;
    padding: 30px 20px;
    height: 100%;
    .lightbox-image {
      margin: 0 auto;
      max-height: 100%;
    }
  }
  .image-close {
    position: absolute;
    top: 5px;
    right: 10px;
    .fa {
      font-size: 22px;
    }
  }
}
