.instructions-header {
  h1 {
    text-align: center;
    padding: 0 15px;
    margin-bottom: 20px;
  }
}

.instruction-page {
}

.instruction-page-two-column {
  .instruction-content {
    float: none;
    margin-bottom: 30px;
  }
}

.instruction-content-alerts {
  .left-padding {
    padding-left: 10px;
  }

  h3 {
    b.icon {
      margin-right: 10px;
    }
  }
}
pre.code {
  white-space: pre-wrap;
  background-color: #FFFAE5;
}
.image-box-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.85;
  z-index: 9999;
}
.image-box-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  text-align: center;
  .image-wrapper {
    position: relative;
    padding: 30px 20px;
    height: 100%;
    .lightbox-image {
      margin: 0 auto;
      max-height: 100%;
    }
  }
  .image-close {
    position: absolute;
    top: 5px;
    right: 10px;
    .fa {
      font-size: 22px;
    }
  }
}

@media (min-width: 768px) {
  .instructions-header {
    h1 {
      margin-bottom: 10px;
    }
  }
}

@media (min-width: 992px) {
  .instructions-header {
    h1 {
      text-align: left;
      padding: 0;
    }
  }

  .instruction-page-two-column {
    .instruction-image, .instruction-content {
      width: 50%;
      min-width: 260px;
    }
    .instruction-image {
      float: left;
      cursor: pointer;
      padding-right: 10px;
    }
    .instruction-content {
      padding-left: 10px;
      margin-bottom: 0;
    }
  }
}
