/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.6
 *
*/

// Variables, Mixins
@import "variables";

// INSPINIA Theme Elements
@import "typography";
@import "navigation";
@import "top_navigation";
@import "buttons";
@import "elements";
@import "sidebar";
@import "base";
@import "pages";

// Media query style
@import "media";

// Clear layout on print mode
@media print {
  nav.navbar-static-side {
    display: none;
  }
  body { overflow: visible !important; }

  #page-wrapper {
    margin: 0;
  }
}

@import "jquery.steps";
