<div class="ibox-content" ng-if="$ctrl.loading">
  <h4 translate class="text-center m-b-md">Calculating costs</h4>
  <loading-spinner></loading-spinner>
</div>
<div class="ibox" ng-if="!$ctrl.loading">
  <div class="ibox-title">
    <h5>
      <span translate>Checkout summary</span>
    </h5>
  </div>
  <div class="ibox-content">
    <p ng-if="$ctrl.error" ng-bind="$ctrl.error"></p>
    <table class="table table-bordered" ng-if="$ctrl.isValid()">
      <tbody>
        <tr>
          <td>
            <strong translate>Price per day</strong>
            <price-tooltip></price-tooltip>
          </td>
          <td>{{ $ctrl.getDailyPrice() | defaultCurrency }}</td>
        </tr>
        <tr>
          <td>
            <strong translate>Price per month</strong>
            <price-tooltip></price-tooltip>
          </td>
          <td>{{ $ctrl.getMonthlyPrice() | defaultCurrency }}</td>
        </tr>
        <tr>
          <td><strong translate>Invoiced to</strong></td>
          <td>{{ $ctrl.customer.name }}</td>
        </tr>
        <tr>
          <td><strong translate>Project</strong></td>
          <td>{{ $ctrl.project.name }}</td>
        </tr>
      </tbody>
    </table>

    <button
      type="button"
      class="btn btn-primary btn-sm"
      ng-if="!$ctrl.error"
      ng-click="$ctrl.showExplanation()">
      <i class="fa fa-balance-scale"></i>
      <span translate>Explain price</span>
    </button>

  </div>
</div>
