<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-md-9">
      <div ng-if="$ctrl.loading">
        <loading-spinner></loading-spinner>
      </div>
      <appstore-providers
        ng-if="!$ctrl.selectedService && !$ctrl.loading"
        services="$ctrl.services"
        on-select="$ctrl.setService(service)">
      </appstore-providers>
      <div class="ibox" ng-if="$ctrl.selectedService">
        <div class="ibox-title"><h3>{{ $ctrl.playbook.name }}</h3></div>
        <div class="ibox-content">
          <div class="form-horizontal">
            <div class="form-group">
              <div class="col-sm-3 control-label">
                <label translate>Provider</label>
              </div>
              <div class="col-sm-4 form-control-static">
                {{ $ctrl.selectedService.name }}
              </div>
            </div>
            <appstore-form
              fields="$ctrl.fields"
              model="$ctrl.model"
              errors="$ctrl.errors"
              form="$ctrl.form">
            </appstore-form>
          </div>
        </div>
        <div class="ibox-content">
          <button
            type="submit"
            class="btn btn-primary pull-right"
            ng-disabled="!$ctrl.isValid"
            submit-button="$ctrl.save()">
            <i class="fa fa-shopping-cart"></i>
            <span translate>Create</span>
          </button>
          <button
            type="button"
            class="btn btn-default"
            ng-click="$ctrl.resetService()">
            <span translate>Cancel</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3" ng-if="$ctrl.selectedService">
      <div
        ng-if="!$ctrl.keys.length"
        class="ibox-content"
        bind-html-compile="$ctrl.sshKeysNotAvailable">
      </div>
      <div
        ng-if="$ctrl.keys.length && !$ctrl.model.ssh_public_key"
        class="ibox-content"
        ng-bind-html="$ctrl.sshKeyNotSelected">
      </div>
      <div ng-if="$ctrl.model.ssh_public_key">
        <ansible-job-checkout-summary
          job="$ctrl.model"
          playbook="$ctrl.playbook"
          provider="$ctrl.selectedService">
        </ansible-job-checkout-summary>
      </div>
    </div>
  </div>
</div>
