<div class="compact-list__header"
     ng-click="entity.expandItemOpen = !entity.expandItemOpen">
  <div class="compact-list__title">
    <a>
      Agreement for {{ entity.plan_name }} plan
    </a>
  </div>
  <div class="compact-list__right">
     <expandable-indicator open="entity.expandItemOpen">
     </expandable-indicator>
  </div>
</div>

<div class="compact-list__details"
     ng-show="entity.expandItemOpen">
  <div class="details-table__row">
    <div class="details-table__key">
      Price
    </div>
    <div class="details-table__value">
      {{ entity.plan_price|defaultCurrency }}
    </div>
  </div>

  <div class="details-table__row">
    <div class="details-table__key">
      Start date
    </div>
    <div class="details-table__value">
      {{ entity.created | date:'yyyy-MM-dd' }}
    </div>
  </div>

  <div class="details-table__row">
    <div class="details-table__key">
      End date
    </div>
    <div class="details-table__value">
      <span ng-if="entity.state == 'cancelled'">
        {{ entity.modified | date:'yyyy-MM-dd' }}
      </span>
    </div>
  </div>
</div>
