<div class="compact-list__header"
     ng-click="expanded = !expanded; entityList.showMore(entity)">
  <div class="compact-list__title">
    <a href="{{ entity.pdf }}">
      Invoice #{{ entity.uuid | limitTo:6 }}
    </a>
  </div>
  <div class="compact-list__right">
       <expandable-indicator open="expanded">
       </expandable-indicator>
  </div>
</div>

<div ng-show="expanded" class="compact-list__details">
  <div class="details-table__row">
    <div class="details-table__key">
      Amount
    </div>
    <div class="details-table__value">
      {{ entity.total_amount|defaultCurrency }}
    </div>
  </div>

  <div class="details-table__row">
    <div class="details-table__key">
      Start date
    </div>
    <div class="details-table__value">
      {{ entity.start_date | date:'dd/MM/yyyy' }}
    </div>
  </div>

  <div class="details-table__row">
    <div class="details-table__key">
      End date
    </div>
    <div class="details-table__value">
      {{ entity.end_date | date:'dd/MM/yyyy' }}
    </div>
  </div>
</div>

<action-list actions="entityButtons" entity="entity" ng-show="expanded"></action-list>
