<div class="compact-list__header"
     ng-click="entity.expandItemOpen = !entity.expandItemOpen">
  <div class="compact-list__title">
    <a>
      Payment #{{ entity.uuid | limitTo:6 }}
    </a>
  </div>
  <div class="compact-list__right">
     <expandable-indicator open="entity.expandItemOpen">
     </expandable-indicator>
  </div>
</div>

<div class="compact-list__details"
     ng-show="entity.expandItemOpen">
  <div class="details-table__row">
    <div class="details-table__key">
      Amount
    </div>
    <div class="details-table__value">
      {{ entity.amount|defaultCurrency }}
    </div>
  </div>

  <div class="details-table__row">
    <div class="details-table__key">
      Date
    </div>
    <div class="details-table__value">
      {{ entity.created | date:'yyyy-MM-dd' }}
    </div>
  </div>

  <div class="details-table__row">
    <div class="details-table__key">
      State
    </div>
    <div class="details-table__value">
      {{ entity.state }}
    </div>
  </div>
</div>
