<div class="row border-bottom">
  <nav class="navbar navbar-static-top m-b-n" role="navigation">
    <div class="navbar-header">
      <sidebar-toggle/>
      <select-workspace-toggle/>
      <main-search visible-if="'mainSearch'"/>
    </div>
    <ul class="nav navbar-top-links navbar-right hidden-xs">
      <intro-button visible-if="'intro'"/>
      <support-link visible-if="'support'"/>
      <docs-link/>
      <alerts-menu visible-if="'alerts'"/>
      <language-selector/>
      <logout-link/>
    </ul>
  </nav>
</div>
