<div class="row border-bottom">
    <nav class="navbar navbar-static-top m-b-n" role="navigation">
        <div class="navbar-header">
            <sidebar-toggle/>
            <select-workspace-toggle/>
            <main-search visible-if="'mainSearch'"/>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <support-link visible-if="'support'"/>
            <docs-link/>
            <notifications-menu visible-if="'notifications'"/>
            <language-selector/>
            <logout-link visible-if="'support'"/>
        </ul>
    </nav>
</div>
