<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Flavor name</th>
        <th>vCPU</th>
        <th>RAM</th>
        <th>Storage</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="flavor in $ctrl.choices"
          ng-click="$ctrl.onChange({value: flavor.item})"
          class="cursor-pointer">
        <td>
          <input type="radio" ng-model="$ctrl.value" ng-value="flavor.item">
        </td>
        <td>
          {{ flavor.item.name }}
        </td>
        <td>
          {{ flavor.item.cores }}
        </td>
        <td>
          {{ flavor.item.ram | filesize }}
        </td>
        <td>
          {{ flavor.item.disk | filesize }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
