<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Image name</th>
        <th>Min RAM</th>
        <th>Min storage</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="image in $ctrl.choices"
          ng-click="$ctrl.onChange({value: image.item})"
          class="cursor-pointer">
        <td>
          <input type="radio" ng-model="$ctrl.value" ng-value="image.item"/>
        </td>
        <td>
          {{ image.item.name }}
        </td>
        <td>
          {{ image.item.min_ram | filesize }}
        </td>
        <td>
          {{ image.item.min_disk | filesize }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
