.state_filter_container {
  &.dark {
    > div {
      > div {
        background-color: #1a261d;
        > div > div {
          background: #323248;
          > div {
            color: #fff !important;
            cursor: pointer;
          }
        }
      }
    }
  }
}
