<tr>
    <td class="name"><a href="{{ url_for('project') }}">G48s-11</a></td>
    <td class="description">Garage48 in Montentegro</td>
    <td class="projects">
        <ul>
            <li><a href="{{ url_for('project') }}">45FGn Proj</a></li>
            <li><a href="{{ url_for('project') }}">Salsa 5toP</a></li>
        </ul>
    </td>
    <td class="shared-resources">
        <ul>
            <li><a href="#">Gitlab repository</a></li>
            <li><a href="#">AWS</a></li>
            <li><a href="#">Rackspace instance</a></li>
        </ul>
    </td>
    <td class="actions">
        <a href="#" class="conf" data-toggle="tooltip" data-placement="top" title="Settings"><i class="fa fa-cog"></i></a>
    </td>
</tr>
