<!-- main-activity-item -->
<div class="event event-user" data-notify="single-notify">
    <a href="{{ url_for('user') }}" class="user-pic">
        <img src="{{ url_for('static', filename='images/887178.jpg') }}">
    </a>
    <!-- header -->
    <header class="row">
        <div class="col-xs-8">
            <h4 class="event-title">Update something</a> for <a href="{{ url_for('project') }}">GhZ400</h4>
        </div>
        <div class="col-xs-4 controls-box">
            <ul class="controls">
                <li>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Favorite" class="kit-icon star"></a>
                </li>
            </ul>
        </div>
    </header>
    <!-- /header -->
    <!-- content -->
    <div class="content">
        <div class="gray-text">
            <p>
                Description of an event. AWS VM john.doe.com was is suffering from a Heartbleed bug.
            </p>
        </div>
        <!-- <div class="bottom-controls">
            <a href="#" class="elem event-action">Send to email</a>
        </div> -->
    </div>
    <!-- separate -->
    <div class="separate"></div>
</div>
<!-- /main-activity-item -->
