<!-- event -->
<tr class="event">
    <td class="circle">
        <div class="circle-decor"></div>
    </td>
    <td>
        <h2 class="item-title">Update something</h2>
        <div class="content">
            <div class="gray-text">
                <p>
                    Description of an event. AWS VM john.doe.com was is suffering from a Heartbleed bug.
                </p>
            </div>
            <ul class="controls">
                <li>
                    <a href="#" class="event-action">Send to email</a>
                </li>
            </ul>
        </div>
    </td>
    <td class="col-xs-2 controls-ctn">
        <ul class="controls pull-right">
            <li>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Favorite" class="kit-icon star filled"></a>
            </li>
        </ul>
    </td>
</tr>
<!-- /event -->
