<!-- main-activity-item -->
<div class="event" data-notify="single-notify">
    <!-- header -->
    <header class="row">
        <div class="col-xs-6">
            <a href="{{ url_for('event') }}" class="project-title">Update something</a>
        </div>
        <div class="col-xs-6 controls-box">
            <ul class="controls">
                <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Watch later"><i class="fa fa-clock-o"></i></a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Favorite"><i class="fa fa-star"></i></a></li>
            </ul>
        </div>
    </header>
    <!-- /header -->
    <!-- content -->
    <div class="content">
        <div class="gray-text">
            <p>
                Description of an event. AWS VM john.doe.com was is suffering from a Heartbleed bug.
            </p>
        </div>
        <div class="bottom-controls">
            <a href="#" class="elem event-action">Send event</a>
        </div>
    </div>
    <!-- separate -->
    <div class="separate"></div>
</div>
<!-- /main-activity-item -->
