<!-- event -->
<div class="list-elem event">
    <!-- header -->
    <header class="row">
        <div class="col-xs-12">
            <h4 class="event-title">Update something</h4>
            <ul class="controls pull-right">
                <li>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Favorite"><i class="fa fa-star"></i></a>
                </li>
            </ul>
        </div>
    </header>
    <!-- /header -->
    <!-- content -->
    <div class="content">
        <div class="gray-text">
            <p>
                Description of an event. AWS VM john.doe.com was is suffering from a Heartbleed bug.
            </p>
        </div>
        <ul class="controls">
            <li>
                <a href="#" class="event-action">Send to email</a>
            </li>
        </ul>
    </div>
    <!-- separate -->
    <div class="separate"></div>
</div>
<!-- /event -->
