<tr>
    <td class="name"><a href="{{ url_for('project') }}">G48s-11</a></td>
    <td class="description">Garage48 in Montentegro</td>
    <td class="shared-resources">
        <ul>
            <li><a href="#">Gitlab repository</a></li>
            <li><a href="#">AWS</a></li>
            <li><a href="#">Rackspace instance</a></li>
        </ul>
    </td>
    <td class="actions">
        <a href="/project/" class="view" data-toggle="tooltip" data-placement="top" title="Favorite"><i class="fa fa-star"></i></a>
        <a href="#" class="conf" data-toggle="tooltip" data-placement="top" title="Archive"><i class="glyphicon glyphicon-compressed"></i></a>
        <a href="#" class="conf" data-toggle="tooltip" data-placement="top" title="Settings"><i class="fa fa-cog"></i></a>
        <a href="#" class="remove" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-times"></i></a>
    </td>
</tr>
