<tr>
    <td class="name">
        <h2 class="item-title"><a href="{{ url_for('project') }}">G48s-11</a></h2>
    </td>
    <td class="col-xs-2 gray-text">
        <ul class="standart-list">
            <li><h4 class="standart-list-title">Internal IP's</h4></li>
            <li>31.13.21.128</li>
            <li>113.133.421.12</li>
        </ul>
        <ul class="standart-list">
            <li><h4 class="standart-list-title">External IP's</h4></li>
            <li>31.13.21.128</li>
            <li>113.133.421.12</li>
        </ul>
    </td>
    <td class="col-xs-2 gray-text">
        <ul class="standart-list">
            <li><a href="{{ url_for('user') }}">Mihail Yakimenko</a></li>
            <li><a href="{{ url_for('user') }}">Ilja Livenson</a></li>
        </ul>
    </td>
    <td class="col-xs-2 controls-ctn">
        <ul class="controls pull-right">
            <li>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Favorite" class="kit-icon star"></a>
            </li>
            <li>
                <a href="#" class="conf" data-toggle="tooltip" data-placement="top" title="Archive"><i class="glyphicon glyphicon-compressed"></i></a>
            </li>
            <li>
                <a href="#" class="conf" data-toggle="tooltip" data-placement="top" title="Settings"><i class="fa fa-cog"></i></a>
            </li>
            <li>
                <a href="#" class="remove" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-times"></i></a>
            </li>
        </ul>
    </td>
</tr>
