<tr>
    <td class="name">
        <h2 class="item-title"><a href="{{ url_for('project') }}">G48s-11</a></h2>
        <p class="gray-text">
            Here goes project description.
        </p>
    </td>
    <td class="col-xs-3 gray-text">
        <ul class="standart-list">
            <li><span class="elem item-type repo"></span> Repo</li>
            <li><span class="elem item-type vm"></span> VM for this</li>
        </ul>
    </td>
    <td class="col-xs-2 gray-text">
        <ul class="standart-list">
            <li><a href="{{ url_for('user') }}">Mihail Yakimenko</a></li>
            <li><a href="{{ url_for('user') }}">Ilja Livenson</a></li>
        </ul>
    </td>
    <td class="col-xs-2 controls-ctn">
        <ul class="controls pull-right">
            <li>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Favorite" class="kit-icon star"></a>
            </li>
            <li>
                <a href="#" class="conf" data-toggle="tooltip" data-placement="top" title="Archive"><i class="glyphicon glyphicon-compressed"></i></a>
            </li>
            <li>
                <a href="#" class="conf" data-toggle="tooltip" data-placement="top" title="Settings"><i class="fa fa-cog"></i></a>
            </li>
            <li>
                <a href="#" class="remove" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-times"></i></a>
            </li>
        </ul>
    </td>
</tr>
