<tr>
    <td class="name"><a href="{{ url_for('project') }}">G48s-11</a></td>
    <td class="description">Garage48 in Montentegro</td>
    <td class="role">
        <div class="custom-select">
            <select name="" id="">
                <option value="">Manager</option>
                <option value="">Admin</option>
            </select>
        </div>
        <div class="label label-success">saved</div>
    </td>
    <td class="actions">
        <a href="#" class="remove" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-times"></i></a>
    </td>
</tr>
