<tr>
    <td class="name">        
        <h2 class="item-title">Resource Name</h2>
    </td>
    <td class="type">
        <span class="elem item-type vm">repository on GitHub</span>
    </td>
    <td class="col-xs-2 controls-ctn">
        <ul class="controls pull-right">
            <li>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Poweroff"><i class="fa fa-power-off"></i></a>
            </li>
            <li>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Restart"><i class="fa fa-refresh"></i></a>
            </li>
            <li>
                <a href="#" class="remove" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-times"></i></a>
            </li>
        </ul>
    </td>
</tr>
