<tr>
    <td class="col-xs-1 pic">
        <a href="{{ url_for('user') }}">
            <img src="{{ url_for('static', filename='images/887178.jpg') }}" alt="John Doe">
        </a>
    </td>
    <td class="name">
        <h2 class="item-title">
            <a href="{{ url_for('user') }}">Mihail Yakimenko</a>
        </h2>
    </td>
    <td class="col-xs-3 gray-text">
        <ul class="standart-list">
            <li><a href="{{ url_for('project') }}">Github account</a></li>
            <li><a href="{{ url_for('project') }}">OpenStack</a></li>
        </ul>
    </td>
    <td class="col-xs-2 controls-ctn">
        <ul class="controls pull-right">
            <li>
                <a href="#" class="remove" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-times"></i></a>
            </li>
        </ul>
    </td>
</tr>
