<tr>
    <td class="user-pic">
        <a href="#">
            <img src="{{ url_for('static', filename='images/887178.jpg') }}">
        </a>
    </td>
    <td class="user-name">
        <a href="#">Alex Fillow Thor jr.</a>
    </td>
    <td class="user-description">
        Some description about user. Something interesting for admin, or customer owner.
    </td>
    <td class="actions">
        <a href="/project/" class="view" data-toggle="tooltip" data-placement="top" title="Viwe"><i class="fa fa-eye"></i></a>
        <a href="#" class="conf" data-toggle="tooltip" data-placement="top" title="Settings"><i class="fa fa-cog"></i></a>
        <a href="#" class="remove" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-times"></i></a>
    </td>
</tr>
