//
// Custom background helpers
//

@mixin setBgColor($isNotBrand, $color, $colorRgb) {
  @if ($isNotBrand) {
    --bg-color: #{red($color)}, #{green($color)}, #{blue($color)};
    background-color: $color !important;
  } @else if ($colorRgb) {
    --bg-color: #{$colorRgb} !important;
    background-color: rgb(#{$colorRgb}) !important;
  }
}

// Background theme light colors
@each $color, $value in $theme-colors {
  // Since the primary and secondary color is the brand, and the brand is a dynamic var(), we cannot apply some sass functions to it.
  $isNotBrand: str-index($color, 'primary') ==
    null and
    str-index($color, 'secondary') ==
    null;

  $altColorRgb: null;
  $brandColor: get-brand-color($color, true);
  @if ($brandColor) {
    $altColorRgb: $brandColor;
  } @else if ($color == 'secondary') {
    $altColorRgb: $brand-50-rgb;
  }

  @if (theme-light-color($color)) {
    .bg-light-#{$color} {
      background-color: theme-light-color($color) !important;
    }
  }

  .bg-#{$color} {
    @if ($isNotBrand) {
      --bg-color: #{red($value)}, #{green($value)}, #{blue($value)} !important;
    } @else if ($altColorRgb) {
      background-color: rgb($altColorRgb) !important;
      --bg-color: #{$altColorRgb} !important;
    }
  }

  @if (theme-light-color($color)) {
    .bg-hover-light-#{$color} {
      cursor: pointer;

      &:hover {
        background-color: theme-light-color($color) !important;
      }
    }
  }

  .bg-hover-#{$color} {
    cursor: pointer;

    &:hover {
      @include setBgColor($isNotBrand, $value, $altColorRgb);
    }
  }

  .bg-state-#{$color} {
    cursor: pointer;

    &.active,
    &:hover {
      @include setBgColor($isNotBrand, $value, $altColorRgb);
    }
  }
}

// Background gray colors
@each $color, $value in $grays {
  .bg-gray-#{$color} {
    background-color: $value;
  }
}

// Opacity
@each $name, $value in $opacity-values {
  .bg-opacity-#{$name} {
    background-color: rgba(var(--bg-color), #{$value}) !important;
  }

  .bg-hover-opacity-#{$name}:hover {
    background-color: rgba(var(--bg-color), #{$value}) !important;
  }

  .bg-state-opacity-#{$name} {
    .active,
    &:hover {
      background-color: rgba(var(--bg-color), #{$value}) !important;
    }
  }
}

// Background black color
.bg-black {
  background-color: $black;
}

// Background body color
.bg-body {
  --bg-color: #{red($body-bg)}, #{green($body-bg)}, #{blue($body-bg)};
  background-color: $body-bg;
}

// Lighten bg states
.bg-lighten {
  background-color: $lighten;
}

.bg-hover-lighten {
  cursor: pointer;

  &:hover {
    background-color: $lighten;
  }
}
