<div ui-view="siteHeader"></div>

<div class="site-block site-welcome" id="maintop">
    <div class="container">
        <h1 class="welcome-title">
            An operations center for your company IT infrastructure.

            <span>Provision, share, monitor and backup with ease!</span>
        </h1>
        <div class="tour-box">
            <a href="#/login/" class="take-a-tour btn btn-default">Sign me up!</a>
        </div>
        <img src="static/images/site-left.png" alt="" class="img img-left">
        <img src="static/images/site-center.png" alt="" class="img img-center">
        <img src="static/images/site-center-appstore.png" alt="" class="img img-center-appstore">
        <img src="static/images/site-right.png" alt="" class="img img-right">
        <div class="decor"></div>
    </div>
</div>

<section class="site-block" id="features">
    <div class="container">
        <h2 class="app-title features-title">Our features</h2>
        <!-- features -->
        <div class="features">
            <div class="col">
                <div class="feature graph">
                    <h3>Actionable events</h3>
                    <p>
                        All events of the system are recorded and timestamped. You have the full audit trail.
                        NodeConductor analyses logs and provides a convenient way to act in case a human intervention
                        is required.
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="feature mobile">
                    <h3>Full monitoring</h3>
                    <p>
                        System and application monitoring. Heartbeat of project activity.
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="feature backup">
                    <h3>Reliable backups</h3>
                    <p>
                        Make sure that your infrastructure is safe by setting up regular backups. Don't bother with
                        building your backup solution from scratch.
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="feature cloud">
                    <h3>Cloud-agnostic</h3>
                    <p>
                        OpenStack, VMware, AWS, Rackspace or a standalone server &mdash; the choice is yours.
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="feature lab">
                    <h3>One-click deployment</h3>
                    <p>
                        Use pre-configured templates to quickly setup your multi-component development or production
                        environment.
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="feature tools">
                    <h3>Managing resource access</h3>
                    <p>
                        Working on a project in a team? Simply assign roles to collaborators and they will get access
                        to all the needed resources at once.
                    </p>
                </div>
            </div>
        </div>
        <!-- /features -->
    </div>
</section>

<section class="site-block seep-lans">
    <div class="container">
        <h3 class="app-title site-block-title">Plans</h3>
        <p>Plans are defining limits for the setup managed by the NodeConductor.
            <ul>
                <li><b>Projects</b> contain resources that
                    belong to a organization and are shared among a defined set of users.</li>
                <li><b>Resource</b> is an entity managed by
                    NodeConductor &mdash; for example, it may be a virtual machine on OpenStack, a Git repository on Github or
                a project in Atlassian JIRA.</li>
                <li><b>Users</b> are people that are working in your projects.</li>
            </ul>
        </p>
    </div>
</section>

<section class="site-block" id="plans" visible="plans">
    <div class="container">
        <div class="plans in-homepage">
            <div class="plan">
                <div class="plan-item">
                    <table>
                        <th>
                            <span class="plan-name">Free</span>
                            <span class="plan-price">Free</span>
                        </th>
                        <tr>
                            <td>2 projects</td>
                        </tr>
                        <tr>
                            <td>5 users</td>
                        </tr>
                        <tr>
                            <td>5 resources</td>
                        </tr>
                    </table>
                </div>
                <div class="decision">
                    <div class="col">
                        <a class="button-select inhome-plans">Select</a>
                    </div>
                </div>
            </div>
            <div class="plan">
                <div class="plan-item">
                    <table>
                        <th>
                            <span class="plan-name">Small team</span>
                            <span class="plan-price">$19/mo.</span>
                        </th>
                        <tr>
                            <td>10 projects</td>
                        </tr>
                        <tr>
                            <td>50 users</td>
                        </tr>
                        <tr>
                            <td>100 resources</td>
                        </tr>
                    </table>
                </div>
                <div class="decision">
                    <div class="col">
                        <a class="button-select inhome-plans">Select</a>
                    </div>
                </div>
            </div>
            <div class="plan">
                <div class="plan-item">
                    <table>
                        <th>
                            <span class="plan-name">Large team</span>
                            <span class="plan-price">$39/mo.</span>
                        </th>
                        <tr>
                            <td>50 projects</td>
                        </tr>
                        <tr>
                            <td>100 users</td>
                        </tr>
                        <tr>
                            <td>300 resources</td>
                        </tr>
                    </table>
                </div>
                <div class="decision">
                    <div class="col">
                        <a class="button-select inhome-plans">Select</a>
                    </div>
                </div>
            </div>
            <div class="plan">
                <div class="plan-item">
                    <table>
                        <th>
                            <span class="plan-name">Enterprise</span>
                            <span class="plan-price">$999/mo.</span>
                        </th>
                        <tr>
                            <td>Unlimited</td>
                        </tr>
                        <tr>
                            <td>Unlimited</td>
                        </tr>
                        <tr>
                            <td>Unlimited</td>
                        </tr>
                    </table>
                </div>
                <div class="decision">
                    <div class="col">
                        <a class="button-select inhome-plans">Select</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-block contact-for-details">
    <div class="container-fluid">
        <div class="mail-box">
            Contact <a href="mailto:info@opennodecloud.com">info@opennodecloud.com</a> for details.
        </div>
    </div>
</section>

<div ui-view="siteFooter"></div>
