<div class="login-box" ng-if="!auth.isSignupFormVisible">
    <div class="white-box">
        <h3 class="app-title centered">Login</h3>
        <ul class="error-list" ng-if="auth.errors">
            <li ng-repeat="error in auth.getErrors()">
                <span class="error error-standard label">{{ error }}</span>
            </li>
        </ul>
        <form form-autofill-fix visible="localSignin">
            <div class="row-login">
                <input type="text" ng-model="auth.user.username" placeholder="Username">
            </div>
            <div class="row-login">
                <input type="password" ng-model="auth.user.password" placeholder="Password">
            </div>
            <div class="decision">
                <div class="col">
                    <button class="button-login" submit-button="auth.signin()" type="Submit">Login</button>
                </div>
            </div>
        </form>
        <div class="row-login" visible="socialSignup">
            <a class="button-social google" ng-click="auth.authenticate('google')">
                <span>Google</span>
            </a>
        </div>
        <div class="row-login" visible="socialSignup">
            <a class="button-social facebook" ng-click="auth.authenticate('facebook')">
                <span>Facebook</span>
            </a>
        </div>
        <div class="row-login" visible="localSignup">
            <a class="button-social email" ng-click="auth.isSignupFormVisible = true">
                <span>Email</span>
            </a>
        </div>
    </div>
</div>
<div class="login-box" ng-if="auth.isSignupFormVisible" visible="localSignup">
    <div class="white-box">
        <h3 class="app-title centered">Signup</h3>
        <ul class="error-list" ng-if="auth.errors">
            <li ng-repeat="error in auth.getErrors()">
                <span class="error error-standard label">{{ error }}</span>
            </li>
        </ul>
        <form form-autofill-fix>
            <div class="row-login">
                <input type="text" ng-model="auth.user.username" placeholder="Username">
            </div>
            <div class="row-login">
                <input type="text" ng-model="auth.user.full_name" placeholder="Full name">
            </div>
            <div class="row-login">
                <email-mask mask-model="auth.user.email"></email-mask>
            </div>
            <div class="row-login">
                <input type="password" ng-model="auth.user.password" placeholder="Password">
            </div>
            <div class="decision">
                <div class="col">
                    <button class="button-login" submit-button="auth.signup()" type="submit">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>
