<div class="middle-box text-center loginscreen" ng-controller="AuthController as auth">
    <h1 class="logo-name">Waldur</h1>
    <h4 ng-if="!auth.isSignupFormVisible">Welcome to Waldur HomePort</h4>
    <h4 ng-if="auth.isSignupFormVisible">Register to Waldur HomePort</h4>
    <p>
        <span ng-if="!auth.isSignupFormVisible">
        Your single pane of control for all cloud services. Login in to see it in action.
        </span>
        <span ng-if="auth.isSignupFormVisible">Create an account</span>

    </p>
    <!-- Login form -->
    <form visible="localSignin" ng-if="!auth.isSignupFormVisible" class="m-b-sm" name="auth.LoginForm">
        <div class="form-group">
            <input type="text"
                class="form-control"
                ng-model="auth.user.username"
                placeholder="Username" required="">
        </div>
        <div class="form-group">
            <input type="password"
                class="form-control"
                ng-model="auth.user.password"
                placeholder="Password" required="">
        </div>
        <button type="submit"
            class="btn btn-primary btn-block"
            submit-button="auth.signin()">
            Login
        </button>
        <p class="text-danger"
            ng-repeat="error in auth.getErrors()" ng-bind="error"></p>
    </form>
    <!-- Registration form -->
    <form visible="localSignup" ng-if="auth.isSignupFormVisible" class="m-b-sm" name="auth.RegisterForm">
        <div class="form-group">
            <input type="text"
                ng-model="auth.user.username"
                placeholder="Username"
                class="form-control" required="">
        </div>
        <div class="form-group">
            <input type="text"
                ng-model="auth.user.full_name"
                placeholder="Full name"
                class="form-control">
        </div>
        <div class="form-group">
            <email-mask mask-model="auth.user.email"></email-mask>
        </div>
        <div class="form-group">
            <input type="password"
                ng-model="auth.user.password"
                placeholder="Password"
                class="form-control" required="">
        </div>
        <p class="text-danger"
            ng-repeat="error in auth.getErrors()" ng-bind="error"></p>
        <button class="btn btn-primary btn-block"
            submit-button="auth.signup()"
            type="submit">
            Register
        </button>
    </form>
    <p><small>Or use social login</small></p>
    <div visible="socialSignup" class="m-b-sm">
        <button ng-click="auth.authenticate('google')" class="btn btn-google btn-block">
            <i class="fa fa-google-plus-square" aria-hidden="true"></i>
            Google
        </button>
    </div>
    <div visible="socialSignup" class="m-b-sm">
        <button ng-click="auth.authenticate('facebook')" class="btn btn-facebook btn-block">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            Facebook
        </button>
    </div>
    <div visible="estonianId" class="m-b-sm">
        <form action="{{ auth.openidUrl }}" method="post">
            <input type="hidden" name="openid_identifier" value="https://openid.ee/server/xrds/eid" />
            <button type="submit" class="btn btn-eid btn-block">
                <i class="fa fa-openid" aria-hidden="true"></i>
                Log in with ID card
            </button>
        </form>
    </div>
    <div visible="estonianId" class="m-b-sm">
        <form action="{{ auth.openidUrl }}" method="post">
            <input type="hidden" name="openid_identifier" value="https://openid.ee/server/xrds/mid" />
            <button type="submit" class="btn btn-mid btn-block">
                <i class="fa fa-phone-square" aria-hidden="true"></i>
                Log in with Mobile ID
            </button>
        </form>
    </div>
    <div visible="localSignup" class="form-group" ng-if="!auth.isSignupFormVisible">
        <p><small>Do not have an account?</small></p>
        <a ui-sref="register" class="btn btn-default btn-block">
            Create an account
        </a>
    </div>
    <div visible="localSignin" class="form-group" ng-if="auth.isSignupFormVisible">
        <p><small>Already have an account?</small></p>
        <a ui-sref="login" class="btn btn-default btn-block">
            Login
        </a>
    </div>
    <p><small>© OpenNode</small></p>
</div>
