<div class="middle-box text-center loginscreen">
    <h1 class="logo-name">Waldur</h1>
    <h4>Welcome to Waldur HomePort</h4>
    <p>
        Your single pane of control for all cloud services.
        Login in to see it in action.
    </p>
    <div visible="localSignin" ng-if="!auth.isSignupFormVisible" class="m-b-sm">
        <div class="form-group">
            <input type="text"
                class="form-control"
                ng-model="auth.user.username"
                placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password"
                class="form-control"
                ng-model="auth.user.password"
                placeholder="Password">
        </div>
        <button type="submit"
            class="btn btn-primary btn-block"
            submit-button="auth.signin()">Login</button>
        <p class="text-warning"
            ng-repeat="error in auth.getErrors()" ng-bind="error"></p>
    </div>
    <div visible="localSignup" ng-if="auth.isSignupFormVisible" class="m-b-sm">
        <div class="form-group">
            <input type="text"
                ng-model="auth.user.username"
                placeholder="Username"
                class="form-control">
        </div>
        <div class="form-group">
            <input type="text"
                ng-model="auth.user.full_name"
                placeholder="Full name"
                class="form-control">
        </div>
        <div class="form-group">
            <email-mask mask-model="auth.user.email"></email-mask>
        </div>
        <div class="form-group">
            <input type="password"
                ng-model="auth.user.password"
                placeholder="Password"
                class="form-control">
        </div>
        <p class="text-warning"
            ng-repeat="error in auth.getErrors()" ng-bind="error"></p>
        <button class="btn btn-primary btn-block"
            submit-button="auth.signup()"
            type="submit">
            Register
        </button>
    </div>
    <div visible="socialSignup" class="m-b-sm">
        <button ng-click="auth.authenticate('google')" class="btn btn-google btn-block">
            <i class="fa fa-google-plus-square" aria-hidden="true"></i>
            Google
        </button>
    </div>
    <div visible="socialSignup" class="m-b-sm">
        <button ng-click="auth.authenticate('facebook')" class="btn btn-facebook btn-block">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            Facebook
        </button>
    </div>
    <div visible="estonianId" class="m-b-sm">
        <form action="{{ auth.openidUrl }}" method="post">
            <input type="hidden" name="openid_identifier" value="https://openid.ee/server/xrds/eid" />
            <button type="submit" class="btn btn-eid btn-block">
                <i class="fa fa-openid" aria-hidden="true"></i>
                Log in with ID card
            </button>
        </form>
    </div>
    <div visible="estonianId" class="m-b-sm">
        <form action="{{ auth.openidUrl }}" method="post">
            <input type="hidden" name="openid_identifier" value="https://openid.ee/server/xrds/mid" />
            <button type="submit" class="btn btn-mid btn-block">
                <i class="fa fa-phone-square" aria-hidden="true"></i>
                Log in with Mobile ID
            </button>
        </form>
    </div>
    <div visible="localSignup" class="form-group" ng-if="!auth.isSignupFormVisible">
        <button ng-click="auth.isSignupFormVisible = true" class="btn btn-default btn-block">
            Register
        </button>
    </div>
    <div visible="localSignin" class="form-group" ng-if="auth.isSignupFormVisible">
        <button ng-click="auth.isSignupFormVisible = false" class="btn btn-default btn-block">
            Login
        </button>
    </div>
    <p><small>© OpenNode</small></p>
</div>
