<ng-include src="'/views/partials/site-header.html'"></ng-include>

<div class="login site-welcome" ng-controller="AuthController as auth" loginbox>
    <!-- login with social -->
    <div class="login-box" ng-class="{state: auth.isSignupFormVisible}" data-role="login-box" loginboxcontext>
        <div class="container-fluid">
            <h1>Welcome!</h1>
            <div class="login-form">
                <div class="login-block">
                    <h4 class="title">Social login/sign-up</h4>
                    <a href="javascript:void(0);" ng-click="auth.authenticate('google')" class="button-login google">Google</a>
                    <span class="or">or</span>
                    <a href="javascript:void(0);" ng-click="auth.authenticate('facebook')" class="button-login facebook">Facebook</a>
                </div>
                <div class="login-block">
                    <h4 class="title">
                        or use <a href="javascript:void(0);" ng-click="auth.isSignupFormVisible = true" data-role="switch-login-form">username/password</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <!-- /login with social -->
    <!-- login with fields -->
    <div class="login-box inputs" ng-class="{state: auth.isSignupFormVisible}" data-role="login-box-inputs" loginboxcontext>
        <div class="container-fluid">
            <h1>Welcome!</h1>
            <div class="login-form">
                <form name="signupForm" ng-submit="auth.signin()" form-autofill-fix>
                    <div class="login-block">
                        <div class="inputs-box">
                            <div class="row inputs-row" ng-show="auth.hasErrors()">
                                <div class="col-md-offset-4 text-left">
                                    <ul class="error-list">
                                        <li ng-repeat="error in auth.getErrors()">
                                            <span class="error error-standard label">{{ error }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row inputs-row">
                                <label for="" class="col-xs-4">username:</label>
                                <input type="text" class="col-xs-8" ng-model="auth.user.username">
                            </div>
                            <div class="row inputs-row">
                                <label for="" class="col-xs-4">password:</label>
                                <input type="password" class="col-xs-8" ng-model="auth.user.password">
                            </div>
                            <input class="btn btn-signup" type="submit" value="Submit"/>
                        </div>
                    </div>
                </form>
                <div class="login-block">
                    <h4 class="title">
                        back to <a href="javascript:void(0)" ng-click="auth.isSignupFormVisible = false" data-role="switch-login-form">social login</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <!-- /login with fields -->
    <!-- next block for additional content on login box -->
    <div class="login-additional" data-role="login-additional"></div>
</div>

<ng-include src="'/views/partials/site-footer.html'"></ng-include>
