<div ng-repeat="quota in $ctrl.quotas" ng-if="quota.limit !== -1">
  <div class="m-b-sm clearfix">
    <span>
      <strong>{{ quota.name | quotaName }}</strong>
      <i class="fa fa-exclamation-triangle"
         ng-if="$ctrl.exceeds(quota)"
         uib-tooltip-html="$ctrl.getExceeds(quota)">
      </i>
    </span>
    <span class="pull-right text-muted">
      {{ $ctrl.getSummary(quota) }}
    </span>
  </div>
  <div>
    <uib-progress max="quota.limit"
      uib-tooltip-template="'quota-tooltip.html'">
      <uib-bar value="quota.usage" type="success"></uib-bar>
      <uib-bar value="quota.required" type="warning"></uib-bar>
    </uib-progress>
  </div>
</div>

<script type="text/ng-template" id="quota-tooltip.html">
  <div>
    <p class="m-t-sm">{{ $ctrl.getPlanned(quota) }}</p>
    <p>{{ $ctrl.getAvailable(quota) }}</p>
    <p>{{ $ctrl.getExisting(quota) }}</p>
    <p class="text-danger" ng-if="$ctrl.exceeds(quota)">
      {{ $ctrl.getExceeds(quota) }}
    </p>
  </div>
</script>
