<ui-select
  multiple
  ng-model="$ctrl.model[$ctrl.field.name]"
  ng-change="$ctrl.filterChoices()"
  ng-if="$ctrl.field.choices"
  theme="bootstrap">
  <ui-select-match placeholder="Select {{ $ctrl.field.label }}...">
    {{ $item.display_name }}
  </ui-select-match>
  <ui-select-choices repeat="item in $ctrl.field.choices | filter: {display_name: $select.search} track by item.value">
    <div ng-bind-html="item.display_name | highlight: $select.search"></div>
  </ui-select-choices>
</ui-select>
<div
  class="form-control-static"
  ng-if="!$ctrl.field.choices">
  N/A
</div>
