<div class="has-password">
  <input id="{{ $ctrl.field.name }}"
    type="{{ $ctrl.showSecret ? 'text' : 'password'}}"
    ng-model="$ctrl.model[$ctrl.field.name]"
    class="form-control"
    placeholder="{{ $ctrl.field.placeholder }}"
    ng-attr-autocomplete="{{ $ctrl.autocomplete ? 'on': 'new-password' }}">
  <a class="fa password-icon"
    ng-class="{'fa-eye-slash': $ctrl.showSecret, 'fa-eye': !$ctrl.showSecret}"
    title="{{ $ctrl.showSecret ? 'Hide' : 'Show' }}"
    ng-click="$ctrl.showSecret=!$ctrl.showSecret">
  </a>
</div>
