<ui-select ng-model="$ctrl.model[$ctrl.field.name]">
  <ui-select-match placeholder="{{$ctrl.field.placeholder | translate}}">
    {{$select.selected }}
  </ui-select-match>
  <ui-select-choices repeat="item in $ctrl.field.choices | filter: $select.search">
    <div ng-bind-html="item | highlight: $select.search"></div>
  </ui-select-choices>
</ui-select>
<div
  class="form-control-static"
  ng-if="!$ctrl.field.choices || $ctrl.field.choices.length === 0">
  {{ $ctrl.field.emptyChoices | translate }}
</div>
