<resource-summary-base resource="$ctrl.resource"></resource-summary-base>

<div class="m-b-xs">
  <dt>
    <span translate>Tenant</span>:
  </dt>
  <dd>
    <a ui-sref="resources.details({
      uuid: $ctrl.resource.tenant_uuid,
      resource_type: 'OpenStack.Tenant'
    })">
      {{ ::$ctrl.resource.tenant_name }}
    </a>
  </dd>
</div>

<div class="m-b-xs">
  <dt>
    <span translate>Address</span>:
  </dt>
  <dd>
    {{ $ctrl.resource.address }}
  </dd>
</div>

<div class="m-b-xs">
  <dt>
    <span translate>Runtime state</span>:
  </dt>
  <dd>
    {{ $ctrl.resource.runtime_state }}
  </dd>
</div>
