<div class="ibox-content" ng-if="!$ctrl.services.length">
  <appstore-providers-empty-message/>
</div>

<div class="ibox" ng-if="$ctrl.services.length">
  <div class="ibox-title">
    <h5 ng-bind="$ctrl.getTitle()"></h5>
    <div class="ibox-tools" ng-if="$ctrl.collapsible">
      <a class="collapse-link" ng-click="$ctrl.collapse()">
        <i class='fa' ng-class="$ctrl.collapsed ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
      </a>
    </div>
  </div>
  <div class="ibox-content" ng-if="!$ctrl.collapsed">
    <div class="row">
      <div class="col-md-3 col-xs-6 col-sm-4"
        ng-repeat="service in $ctrl.services">
        <div class="ibox" uib-tooltip="{{ service.warning }}">
          <div class="ibox-content provider-box cursor-pointer">
            <div class="m-md" ng-class="{disabled: !service.enabled}">
              <a class="h5 ellipsis" uib-tooltip="{{ ::service.name }}">
                <i class="fa fa-exclamation-triangle" ng-if="!!service.warning"></i>
                {{ ::service.name }}
              </a>
            </div>

            <div class="text-center m-b m-t"
              ng-class="{disabled: !service.enabled}">
              <provider-icon type="service.type" size="img-md"/>
            </div>
            <div class="p-xs" ng-class="{disabled: !service.enabled}">
              <a class="btn btn-xs btn-block-sm btn-block-md btn-outline btn-primary"
                ng-click="$ctrl.showDetails(service)"
                ng-hide="$ctrl.detailsHidden">
                <span translate>Details</span>
                <i class="fa fa-eye"></i>
              </a>
              <div class="block-container-sm block-container-md"
                ng-class="{'pull-right': !$ctrl.detailsHidden}">
                <a class="btn btn-xs btn-block-sm btn-block-md btn-outline"
                  ng-class="$ctrl.isSelected(service) ? 'btn-default': 'btn-primary'"
                  ng-click="$ctrl.select(service)">
                  <span ng-bind="$ctrl.getSelectButtonText(service)"></span>
                  <i class="fa"
                    ng-class="$ctrl.isSelected(service) ? 'fa-check': 'fa-long-arrow-right'"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
