<project-sidebar></project-sidebar>
<div id="page-wrapper" ng-class="$state.current.data.pageClass || 'white-bg'">
  <cookies-consent></cookies-consent>
  <nc-header ng-hide="$state.current.data.hideHeader"></nc-header>
  <div
    class="row wrapper white-bg page-heading"
    ng-hide="$state.current.data.hideBreadcrumbs"
  >
    <div class="col-lg-12">
      <h2 ng-if="$state.current.data.renderDocumentTitle">
        {{ titleService.getTitle() }}
      </h2>
      <h2 ng-if="!$state.current.data.renderDocumentTitle">
        {{ $state.current.data.pageTitle | translate }}
      </h2>
      <p ng-if="currentProject.description">
        {{ currentProject.description }}
      </p>
      <breadcrumbs-container></breadcrumbs-container>
    </div>
  </div>
  <div class="footer-indent m-l-sm" ng-if="currentProject" ui-view></div>
  <app-footer></app-footer>
</div>
