<div class="tabs-container m-l-sm">
  <uib-tabset active="active">
    <uib-tab index="0">
      <uib-tab-heading translate>Users</uib-tab-heading>
      <div class="panel-body" ng-if="active==0">
        <project-users></project-users>
      </div>
    </uib-tab>
    <uib-tab index="1">
      <uib-tab-heading translate>Permissions log</uib-tab-heading>
      <div class="panel-body" ng-if="active==1">
        <project-permissions-log-list></project-permissions-log-list>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
