<div ng-repeat="field in AppStore.fields"
     ng-switch="field.type"
     ng-if="AppStore.showOptionalFields || field.visible || AppStore.errors[field.name]">

    <form ng-switch-when="string">
        <div class="string-field">
            <label for="{{ field.name }}">
                <helpicon help-text="{{ field.help_text }}" ng-if="field.help_text"></helpicon>
                {{ field.label }}
            </label>

            <!--XXX: fix for SAAS-1022 task-->
            <input ng-if="field.name === 'password'" ng-hide="true" type="password" id="dummyPassword" />
            <input ng-if="field.name === 'password'" class="appstore-password" type="password" id="{{ field.name }}" ng-model="AppStore.instance[field.name]"/>
            <label ng-if="field.name === 'password'" for="repeat_password">
                Repeat password
            </label>
            <input ng-if="field.name === 'password'" class="appstore-password" type="password" id="repeat_password" ng-model="AppStore.instance['repeat_password']"/>
            <input ng-if="field.name !== 'password'" type="text" id="{{ field.name }}" ng-model="AppStore.instance[field.name]"/>
            <div class="error arrow-up" ng-show="AppStore.errors[field.name]">
                <ul class="error-list">
                    <li ng-repeat="error in AppStore.errors[field.name]" ng-bind="error"></li>
                </ul>
            </div>
        </div>
    </form>

    <form ng-switch-when="text">
        <div class="string-field">
            <label for="{{ field.name }}">
                <helpicon help-text="{{ field.help_text }}" ng-if="field.help_text"></helpicon>
                {{ field.label }}
            </label>
            <textarea id="{{ field.name }}" ng-model="AppStore.instance[field.name]"></textarea>
            <div class="error arrow-up" ng-show="AppStore.errors[field.name]">
                <ul class="error-list">
                    <li ng-repeat="error in AppStore.errors[field.name]" ng-bind="error"></li>
                </ul>
            </div>
        </div>
    </form>

    <form ng-switch-when="integer">
        <div class="integer-field">
            <label for="{{ field.name }}">
                <helpicon help-text="{{ field.help_text }}" ng-if="field.help_text"></helpicon>
                {{ field.label }}
            </label>
            <input type="number"
                   min="{{ field.min }}"
                   max="{{ field.max }}"
                   id="{{ field.name }}"
                   ng-model="AppStore.instance[field.name]"
                   ng-init="AppStore.instance[field.name]=field.min"/>
            <span>{{ field.units }}</span>
            <div class="error arrow-up" ng-show="AppStore.errors[field.name]">
                <ul class="error-list">
                    <li ng-repeat="error in AppStore.errors[field.name]" ng-bind="error"></li>
                </ul>
            </div>
        </div>
    </form>

    <div ng-switch-when="size" ng-if="field.choices.length > 0">
        <h2 ng-bind="field.label"></h2>
        <a ng-click="field.showChoices=!field.showChoices">
            {{ AppStore.choiceDisplay[field.name] || 'Show choices' }}
            <i class="icon fa-caret-down"></i>
        </a>
        <div class="select-image-wrapper"
             ng-if="field.showChoices"
             prevent-body-scroll>
            <div class="select-image-popup">
                <h3>Select {{ field.label }}</h3>
                <form ng-show="AppStore.isListLong(field)">
                    <div class="string-field">
                    <input type="text" placeholder="Type to filter by name"
                           ng-model="field.searchQuery" ng-init="field.searchQuery=''"/>
                    </div>
                </form>

                <div class="appstore-templates">
                    <div class="white-box list-box">
                        <ul class="object-list">
                            <li ng-repeat="choice in field.choices | filter: {'display_name': field.searchQuery} | limitTo: field.limit"
                                ng-click="AppStore.doChoice(field.name, choice)"
                                ng-class="{'state': AppStore.instance[field.name] == choice.value, 'disabled': choice.disabled}"
                                class="list-item list">
                                <h4>{{ ::choice.display_name }}</h4>
                                <div>
                                    CPU: {{ ::choice.item.cores == 1 && '1 core' || choice.item.cores + ' cores'}};
                                    RAM: {{ ::choice.item.ram | mb2gb }};
                                    HDD: {{ ::choice.item.disk | mb2gb}}
                                </div>
                            </li>
                            <a ng-init="field.limit = AppStore.limitChoices"
                               ng-show="AppStore.isListLong(field)"
                               ng-click="AppStore.toggleChoicesLimit(field)"
                               ng-class="{'active': AppStore.isListExpanded(field)}"
                               class="toggle-link pull-right">Show {{ AppStore.isListExpanded(field) && 'less' || 'more' }} choices</a>
                        </ul>
                    </div>
                </div>

                <div class="clear"></div>
                <div class="control-buttons">
                    <a class="button-apply" ng-click="field.showChoices=false">OK</a>
                </div>
            </div>
        </div>
    </div>

    <div ng-switch-when="choice">
        <div ng-if="!field.choices.length && field.name =='ssh_public_key'">
            <h2 ng-bind="field.label"></h2>
            <p class="warning">SSH public key is required for accessing a provisioned VM.<br/>
            You can add a key in your <a ui-sref="profile.details">profile</a>.</p>
        </div>
        <div ng-if="field.choices.length">
            <h2 ng-bind="field.label"></h2>

            <a ng-click="field.showChoices=!field.showChoices">
                {{ AppStore.choiceDisplay[field.name] || 'Show choices' }}
                <i class="icon fa-caret-down"></i>
            </a>
            <div class="select-image-wrapper"
                 ng-if="field.showChoices"
                 prevent-body-scroll>
                <div class="select-image-popup">
                    <h3>Select {{ field.label }}</h3>
                    <form ng-show="AppStore.isListLong(field)">
                        <div class="string-field">
                        <input type="text" placeholder="Type to filter by name"
                               ng-model="field.searchQuery" ng-init="field.searchQuery=''"/>
                        </div>
                    </form>

                    <div class="appstore-templates">
                        <div class="white-box list-box">
                            <ul class="object-list">
                                <li class="list-item list"
                                    ng-repeat="choice in field.choices | filter: {'display_name': field.searchQuery} | limitTo: field.limit"
                                    ng-click="AppStore.doChoice(field.name, choice)"
                                    ng-class="{'state': AppStore.isChosen(field.name, choice), 'disabled': choice.disabled}">
                                    <div ng-if="::!choice.icon" class="icon {{ ::field.icon }}"></div>
                                    <div ng-if="::choice.icon" class="icon">
                                        <img ng-src="/static/images/appstore/icon-{{ ::choice.icon }}.png">
                                    </div>

                                    <div class="description-{{::field.name}}">
                                        <div>
                                            <p>{{ choice.display_name || choice.name }}</p>
                                        </div>
                                    </div>
                                </li>

                                <a ng-init="field.limit = AppStore.limitChoices"
                                   ng-show="!AppStore.remoteLoadMore(field.name) && AppStore.isListLong(field)"
                                   ng-click="AppStore.toggleChoicesLimit(field)"
                                   ng-class="{'active': AppStore.isListExpanded(field)}"
                                   class="toggle-link pull-right">Show {{ AppStore.isListExpanded(field) && 'less' || 'more' }} choices</a>

                                <div ng-show="AppStore.remoteLoadMore(field.name) && AppStore.isListLong(field)"
                                     class="appstore-count-block pull-right">
                                    Loaded {{field.choices.length}} of {{AppStore.selectedResourceImagesCount}} images
                                </div>
                                <a ng-show="AppStore.remoteLoadMore(field.name) && AppStore.isListLong(field)"
                                   ng-click="AppStore.loadMoreImages(field)"
                                   class="toggle-link remote-load pull-right">Load more choices</a>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="control-buttons">
                        <a class="button-apply" ng-click="field.showChoices=false">OK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="toggle-link pull-right"
   ng-click="AppStore.showOptionalFields=!AppStore.showOptionalFields"
   ng-class="{'active': AppStore.showOptionalFields}">{{ AppStore.showOptionalFields && 'Hide' || 'Show' }} additional options</a>
