<div class="short-form full">
<div ng-repeat="field in AppStore.fields"
     ng-switch="field.type">

    <div class="form-row" ng-switch-when="boolean">
        <div class="col label"></div>
        <div class="col input">
            <label>
                <field-label field="field"></field-label>
                <input type="checkbox" ng-model="AppStore.instance[field.name]"/>
            </label>
        </div>
    </div>

    <div ng-switch-when="string">
        <div ng-if="field.name === 'password'">
            <div class="form-row">
                <div class="col label">
                    <label for="{{ field.name }}">
                        <helpicon help-text="{{ field.help_text }}" ng-if="field.help_text"></helpicon>
                        <field-label field="field"></field-label>
                    </label>
                </div>
                <div class="col input input-full">
                    <input ng-hide="true" type="password" id="dummyPassword" />
                    <input class="appstore-password" type="password" id="{{ field.name }}" ng-model="AppStore.instance[field.name]"/>
                </div>
            </div>
            <div class="form-row">
                <div class="col label">
                    <label for="repeat_password">
                        Repeat password
                    </label>
                </div>
                <div class="col input input-full">
                    <input class="appstore-password" type="password" id="repeat_password" ng-model="AppStore.instance['repeat_password']"/>
                </div>
            </div>
        </div>
        <div ng-if="field.name !== 'password'">
            <div class="form-row">
                <div class="col label">
                    <label for="{{ field.name }}">
                        <helpicon help-text="{{ field.help_text }}" ng-if="field.help_text"></helpicon>
                        <field-label field="field"></field-label>
                    </label>
                </div>
                <form class="col input input-full">
                    <div class="string-field">
                        <!--XXX: fix for SAAS-1022 task-->
                        <input type="text" id="{{ field.name }}" ng-model="AppStore.instance[field.name]"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="error arrow-up" ng-show="AppStore.errors[field.name]">
            <ul class="error-list">
                <li ng-repeat="error in AppStore.errors[field.name]" ng-bind="error"></li>
            </ul>
        </div>
    </div>

    <div class="form-row" ng-switch-when="text">
        <div class="col label">
            <label for="{{ field.name }}">
                <helpicon help-text="{{ field.help_text }}" ng-if="field.help_text"></helpicon>
                <field-label field="field"></field-label>
            </label>
        </div>
        <form class="col input input-full">
            <div class="string-field">
                <textarea id="{{ field.name }}" ng-model="AppStore.instance[field.name]"></textarea>
                <div class="error arrow-up" ng-show="AppStore.errors[field.name]">
                    <ul class="error-list">
                        <li ng-repeat="error in AppStore.errors[field.name]" ng-bind="error"></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>

    <div class="form-row" ng-switch-when="integer">
        <div class="col label">
            <label for="{{ field.name }}">
                <helpicon help-text="{{ field.help_text }}" ng-if="field.help_text"></helpicon>
                <field-label field="field"></field-label>
            </label>
        </div>
        <form class="col input input-full">
            <div class="integer-field">
                <input type="number"
                       min="{{ field.min }}"
                       max="{{ field.max }}"
                       id="{{ field.name }}"
                       ng-model="AppStore.instance[field.name]"
                       ng-init="AppStore.instance[field.name]=field.min"/>
                <span>{{ field.units }}</span>
                <div class="error arrow-up" ng-show="AppStore.errors[field.name]">
                    <ul class="error-list">
                        <li ng-repeat="error in AppStore.errors[field.name]" ng-bind="error"></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>

    <div ng-switch-when="choice">
        <div ng-if="field.required && !field.choices.length">
            <h2 ng-bind="field.label"></h2>
            <p class="warning">
                <span ng-if="field.name!='ssh_public_key'">
                    {{ field.label }} is required for provisioning resource.
                </span>
                <span ng-if="field.name =='ssh_public_key'">
                    SSH public key is required for accessing a provisioned VM.
                    You can add a key in your <a ui-sref="profile.details">profile</a>.
                </span>
            </p>
        </div>
        <div ng-if="field.choices.length" class="form-row">
            <div class="col label">
                <label><field-label field="field"></field-label></label>
            </div>
            <div class="col input input-full">
                <label>
                    <a ng-click="AppStore.modalInit(field)">
                        {{ AppStore.choiceDisplay[field.name] || 'Show choices' }}
                        <i class="icon fa-caret-down"></i>
                    </a>
                </label>
            </div>
            <div class="select-image-wrapper"
                 ng-if="field.showChoices"
                 prevent-body-scroll>
                <div class="select-image-popup">
                    <h3>Select {{ field.label }}</h3>
                    <form>
                        <div class="string-field">
                        <input type="text" placeholder="Type to filter by name"
                               ng-model="field.searchQuery" ng-init="field.searchQuery=''"/>
                        </div>
                    </form>

                    <div class="appstore-templates">
                        <div class="white-box list-box">
                            <ul class="object-list">
                                <li class="list-item list"
                                    ng-repeat="choice in field.choices | filter: {'display_name': field.searchQuery}"
                                    ng-click="AppStore.doChoice(field, choice)"
                                    ng-class="{'state': AppStore.isChosen(field.name, choice), 'disabled': choice.disabled}">
                                    <div ng-if="::!choice.icon" class="icon {{ ::field.icon }}"></div>
                                    <div ng-if="::choice.icon" class="icon">
                                        <img ng-src="/static/images/appstore/icon-{{ ::choice.icon }}.png">
                                    </div>

                                    <div class="description-{{::field.name}}">
                                        <div>
                                            <p>{{ choice.display_name }}</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="control-buttons">
                        <a class="button-apply" ng-click="AppStore.closeModal(field)">OK</a>
                        <a class="button-cancel" ng-click="AppStore.closeModal(field)">Close</a>
                        <a class="button-cancel" ng-click="AppStore.resetChoice(field)">Reset</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
