<div class="wrapper wrapper-content">
<div visible="compare"
     ng-if="AppStore.showCompare.indexOf(AppStore.selectedCategory.name) !== -1">
    <a ui-sref="compare.compare">
        <i class="fa fa-balance-scale"></i>
        Compare flavors
    </a>
</div>

<section class="step-2" ng-if="AppStore.secondStep">
    <div class="step-title">
        <span>Choose provider</span>
    </div>
    <div class="appstore-templates">
        <div class="appstore-template {{ service.type.toLowerCase() }}"
             ng-repeat="service in AppStore.categoryServices[AppStore.selectedCategory.name]"
             ng-click="AppStore.setService(service)"
             ng-class="AppStore.serviceClass(service)"
             uib-tooltip="{{ service.warning }}">
            <div class="icon">
                <img ng-src="{{ AppStore.getServiceIcon(service.type) }}" alt="">
            </div>
            <h3>{{ service.name }}</h3>
        </div>
    </div>
</section>

<section class="step-2" ng-show="AppStore.resourceTypesBlock">
    <div class="step-title"><span>Choose resource type</span></div>
    <div class="appstore-templates">
        <div class="appstore-template {{name.toLowerCase()}}"
             ng-repeat="(name, resource) in AppStore.serviceMetadata.resources"
             ng-click="AppStore.setResourceType(name)"
             ng-class="{'state': AppStore.selectedResourceType == name}"
             ng-show="AppStore.filterResources(name)">
            <div class="icon">
                <i class="fa"></i>
            </div>
            <h3>{{ name }}</h3>
        </div>
    </div>
</section>

<section class="step-3" ng-show="AppStore.selectedResourceType" block-ui="resource-properties">
    <div class="step-title">
        <span>
            Configure {{ AppStore.secondStep && AppStore.getServiceTypeDisplay(AppStore.serviceType) || ''}}
            {{ AppStore.selectedResourceTypeName }}
        </span>
    </div>

    <appstore-form fields="AppStore.fields"
                   errors="AppStore.errors"
                   model="AppStore.instance">
    </appstore-form>
    <pre>{{ AppStore.fields|json }}</pre>
    <pre>{{ AppStore.instance|json }}</pre>
</section>
</div>

<appstore-summary></appstore-summary>

<section ng-if="AppStore.selectedResourceType" title="{{ AppStore.getTooltip() }}" class="text-center">
    <button class="btn btn-primary" ng-class="{'disabled': !AppStore.canSave()}" submit-button="AppStore.save()">
        <i class="fa fa-shopping-cart" ng-if="AppStore.enablePurchaseCostDisplay"></i>
        {{ AppStore.enablePurchaseCostDisplay ? 'Purchase' : 'Create' }}
    </button>
    <button class="btn btn-default" cancel-button>Cancel</button>
</section>
