<div ng-controller="AppStoreController as AppStore" block-ui="store-content">
    <div class="container">
        <div class="appstore-wrapper">
            <div class="appstore-content">
                <h1>Appstore</h1>
                <div ng-if="AppStore.renderStore">
                    <section class="step-1">
                        <div class="step-title">
                            <span>Step 1: Choose category</span>
                        </div>
                        <div class="appstore-templates">
                            <!-- category -->
                            <div class="appstore-template"
                                 ng-repeat="category in AppStore.categories"
                                 ng-click="AppStore.setCategory(category)"
                                 ng-class="{'state': AppStore.selectedCategory == category}">
                                <div class="icon {{ ::category.icon }}"></div>
                                <h3>{{ category.name }}</h3>
                                <span class="compare" stoppropagation
                                      ng-click="AppStore.setCompare(category.name)"
                                      ng-class="{'compare-active': (AppStore.compare.indexOf(category.name) + 1)}">
                                    Compare
                                </span>
                            </div>
                            <!-- /category -->
                        </div>
                    </section>
                    <section class="step-2" ng-show="AppStore.secondStep">
                        <div class="step-title">
                            <span>
                                Step 2: Choose {{ AppStore.selectedCategory.type }}
                            </span>
                        </div>
                        <div class="appstore-templates" ng-if="AppStore.selectedCategory.type == 'provider'">
                            <!-- service -->
                            <div class="appstore-template {{ service.type.toLowerCase() }}"
                                 ng-repeat="service in AppStore.categoryServices[AppStore.selectedCategory.name]"
                                 ng-click="AppStore.setService(service)"
                                 ng-class="{'state': AppStore.selectedService == service, 'disabled': !service.enabled}">
                                <div class="icon">
                                    <img ng-src="/static/images/appstore/icon-{{ service.type.toLowerCase() }}.png" alt="">
                                </div>
                                <h3>{{ service.name }}</h3>
                            </div>
                            <!-- /service -->
                        </div>
                        <div class="appstore-templates" ng-if="AppStore.selectedCategory.type == 'package'">
                            <!-- category -->
                            <div class="appstore-template"
                                 ng-repeat="package in AppStore.selectedCategory.packages"
                                 ng-click="AppStore.selectSupportPackage(package)"
                                 ng-class="{'state': AppStore.selectedPackage == package}">
                                <h3 class="ng-binding">{{ package.name }}</h3>
                                <span>
                                    {{ package.type }}
                                </span>
                                <p>{{ package.description }}</p>
                            </div>
                            <!-- /category -->
                        </div>
                    </section>

                    <section class="step-2" ng-show="AppStore.resourceTypesBlock">
                        <div class="step-title"><span>Step {{ AppStore.chooseResourceTypeStepNumber }}: Choose resource type</span></div>
                        <div class="appstore-templates">
                            <!-- service -->
                            <div class="appstore-template"
                                 ng-repeat="(name, resource) in AppStore.serviceMetadata.resources"
                                 ng-click="AppStore.setResourceType(name)"
                                 ng-class="{'state': AppStore.selectedResourceType == name}">
                                <h3>{{ name }}</h3>
                            </div>
                            <!-- /service -->
                        </div>
                    </section>

                    <section class="step-3" ng-show="AppStore.selectedResourceType" block-ui="resource-properties">
                        <div class="step-title">
                            <span>
                                Step {{ AppStore.configureStepNumber }}: Configure {{ AppStore.secondStep && AppStore.serviceType || ''}}
                                {{ AppStore.selectedResourceTypeName }}
                            </span>
                        </div>

                        <div ng-repeat="field in AppStore.fields"
                             ng-switch="field.type"
                             ng-if="AppStore.showOptionalFields || field.visible || AppStore.errors[field.name]">

                            <form ng-switch-when="string">
                                <div class="string-field">
                                    <label for="{{ field.name }}">
                                        <helpicon help-text="{{ field.help_text }}" ng-if="field.help_text"></helpicon>
                                        {{ field.label }}
                                    </label>
                                    <input type="text" id="{{ field.name }}" ng-model="AppStore.instance[field.name]"/>
                                    <div class="error arrow-up" ng-show="AppStore.errors[field.name]">
                                        <ul class="error-list">
                                            <li ng-repeat="error in AppStore.errors[field.name]" ng-bind="error"></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>

                            <form ng-switch-when="text">
                                <div class="string-field">
                                    <label for="{{ field.name }}">
                                        <helpicon help-text="{{ field.help_text }}" ng-if="field.help_text"></helpicon>
                                        {{ field.label }}
                                    </label>
                                    <textarea id="{{ field.name }}" ng-model="AppStore.instance[field.name]"></textarea>
                                    <div class="error arrow-up" ng-show="AppStore.errors[field.name]">
                                        <ul class="error-list">
                                            <li ng-repeat="error in AppStore.errors[field.name]" ng-bind="error"></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>

                            <form ng-switch-when="integer">
                                <div class="integer-field">
                                    <label for="{{ field.name }}">
                                        <helpicon help-text="{{ field.help_text }}" ng-if="field.help_text"></helpicon>
                                        {{ field.label }}
                                    </label>
                                    <input type="number"
                                           min="{{ field.min }}"
                                           max="{{ field.max }}"
                                           id="{{ field.name }}"
                                           ng-model="AppStore.instance[field.name]"
                                           ng-init="AppStore.instance[field.name]=field.min"/>
                                    <span>{{ field.units }}</span>
                                    <div class="error arrow-up" ng-show="AppStore.errors[field.name]">
                                        <ul class="error-list">
                                            <li ng-repeat="error in AppStore.errors[field.name]" ng-bind="error"></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>

                            <div ng-switch-when="size" ng-if="field.choices.length > 0">
                                <h2 ng-bind="field.label"></h2>

                                <form ng-show="AppStore.isListLong(field)">
                                    <div class="string-field">
                                    <input type="text" placeholder="Search by name"
                                           ng-model="field.searchQuery" ng-init="field.searchQuery=''"/>
                                    </div>
                                </form>

                                <div class="appstore-templates">
                                    <div class="white-box list-box">
                                        <ul class="object-list">
                                            <li class="list-item list-header">
                                                <span class="title">Title</span>
                                                <span>CPU</span>
                                                <span>RAM</span>
                                                <span>HDD</span>
                                            </li>

                                            <li ng-repeat="choice in field.choices | filter: {'display_name': field.searchQuery} | limitTo: field.limit"
                                                ng-click="AppStore.doChoice(field.name, choice)"
                                                ng-class="{'state': AppStore.instance[field.name] == choice.value, 'disabled': choice.disabled}"
                                                class="list-item list">
                                                <span class="title">{{ ::choice.display_name }}</span>
                                                <span>{{ ::choice.item.cores == 1 && '1 core' || choice.item.cores + ' cores'}}</span>
                                                <span>{{ ::choice.item.ram | mb2gb }}</span>
                                                <span>{{ ::choice.item.disk | mb2gb}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <a ng-init="field.limit = AppStore.limitChoices"
                                   ng-show="AppStore.isListLong(field)"
                                   ng-click="AppStore.toggleChoicesLimit(field)"
                                   ng-class="{'active': AppStore.isListExpanded(field)}"
                                   class="toggle-link pull-right">Show {{ AppStore.isListExpanded(field) && 'less' || 'more' }} choices</a>
                            </div>

                            <div ng-switch-when="choice">
                                <div ng-if="!field.choices.length && field.name =='ssh_public_key'">
                                    <h2 ng-bind="field.label"></h2>
                                    <p class="warning">SSH public key is required for accessing a provisioned VM.<br/>
                                    You can add a key in your <a ui-sref="profile.details">profile</a>.</p>
                                </div>
                                <div ng-if="field.choices.length">
                                    <h2 ng-bind="field.label"></h2>

                                    <form ng-show="AppStore.isListLong(field)">
                                        <div class="string-field">
                                        <input type="text" placeholder="Search by name"
                                               ng-model="field.searchQuery" ng-init="field.searchQuery=''"/>
                                        </div>
                                    </form>

                                    <div class="keys">
                                        <div class="appstore-templates">
                                            <div class="appstore-template appstore-template-{{::field.name}}"
                                                 ng-repeat="choice in field.choices | filter: {'display_name': field.searchQuery} | limitTo: field.limit"
                                                 ng-click="AppStore.doChoice(field.name, choice)"
                                                 ng-class="{'state': AppStore.instance[field.name] == choice.value, 'disabled': choice.disabled}">

                                                <div ng-if="::!choice.icon" class="icon {{ ::field.icon }}"></div>
                                                <div ng-if="::choice.icon" class="icon"><img ng-src="/static/images/appstore/icon-{{ ::choice.icon }}.png"></div>

                                                <div ng-switch="::field.name" class="description-{{::field.name}}">
                                                    <div ng-switch-when="image">
                                                        <p>{{ ::choice.item.distribution }} {{ ::choice.display_name }}</p>
                                                    </div>
                                                    <b ng-switch-default>{{ choice.display_name }}</b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>

                                    <a ng-init="field.limit = AppStore.limitChoices"
                                       ng-show="AppStore.isListLong(field)"
                                       ng-click="AppStore.toggleChoicesLimit(field)"
                                       ng-class="{'active': AppStore.isListExpanded(field)}"
                                       class="toggle-link pull-right">Show {{ AppStore.isListExpanded(field) && 'less' || 'more' }} choices</a>                                    
                                </div>
                            </div>
                        </div>
                        <a class="toggle-link pull-right"
                           ng-click="AppStore.showOptionalFields=!AppStore.showOptionalFields"
                           ng-class="{'active': AppStore.showOptionalFields}">{{ AppStore.showOptionalFields && 'Hide' || 'Show' }} additional options</a>

                    </section>
                    <section class="step-3 agreement appstore-purchase" ng-if="AppStore.agreementShow && AppStore.selectedCategory.type == 'package'">
                        <div class="step-title"><span>Step 3: Sign a support agreement</span></div>
                        <div class="step-content">
                            <ul>
                                <li>
                                    <div class="item-title">1. Check terms</div>
                                    <ul>
                                        <li>
                                            <div class="item-name">Monthly base price:</div>
                                            <div class="item-value">{{ AppStore.selectedPackage.base_rate | currency:AppStore.currency }}</div>
                                            <div class="clear"></div>
                                        </li>
                                        <li>
                                            <div class="item-name">Hour price:</div>
                                            <div class="item-value">{{ AppStore.selectedPackage.hour_rate | currency:AppStore.currency }}</div>
                                            <div class="clear"></div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="item-title">2. Read through terms and conditions</div>
                                    <div class="conditions" ng-bind="AppStore.selectedPackage.terms"></div>
                                </li>
                            </ul>
                        </div>
                        <button ng-class="{'disabled': !AppStore.selectedPackage}" submit-button="AppStore.signContract()">
                            <img src="/static/images/appstore/icon-curt.png" alt=""/>
                            <span>Submit SLA request</span>
                        </button>
                    </section>
                </div>
                <div class="clear"></div>
            </div>

            <aside ng-if="AppStore.renderStore" class="appstore-aside">
                <h2 ng-show="AppStore.enablePurchaseCostDisplay">
                    checkout summary
                </h2>
                <p ng-show="AppStore.enablePurchaseCostDisplay">
                    Charged to
                    <a ui-sref="organizations.details({uuid: AppStore.currentCustomer.uuid})">{{ AppStore.currentCustomer.name }}</a>
                </p>

                <ul class="ap-aside-block">
                    <li ng-repeat="item in AppStore.priceItems">
                        <div class="descr">
                            <span>{{ item.type }}</span>
                            <span>{{ item.name }}</span>
                        </div>

                        <div ng-show="AppStore.enablePurchaseCostDisplay" class="price">{{ item.price || 0 | currency:AppStore.currency }}</div>
                        <div class="clear"></div>
                    </li>
                    <li class="total">
                        <div class="descr">
                            <span ng-show="AppStore.secondStep && AppStore.serviceType">{{ AppStore.serviceType }}</span>
                            <span ng-show="!AppStore.serviceType">No chosen {{ AppStore.selectedCategory.type }}</span>
                            <span>{{ AppStore.instance.name }} {{ AppStore.selectedResourceTypeName }}</span>
                        </div>
                        <div ng-show="AppStore.enablePurchaseCostDisplay" class="price">{{ AppStore.total | currency:AppStore.currency }}</div>
                        <div class="clear"></div>
                    </li>
                </ul>

            </aside>

            <section ng-show="AppStore.selectedResourceType" class="appstore-purchase" title="{{ AppStore.getTooltip() }}">
                <button ng-class="{'disabled': !AppStore.canSave()}" submit-button="AppStore.save()">
                <img ng-show="AppStore.enablePurchaseCostDisplay" src="/static/images/appstore/icon-curt.png" alt=""/>
                <span>{{ AppStore.enablePurchaseCostDisplay ? 'Purchase' : 'Create' }}</span>
                </button>
            </section>

        </div>

    </div>
    <div class="project-alert-message" ng-if="!AppStore.loadingProviders && !AppStore.renderStore">
        <p>
            There are no working accounts available for the current project.<br />
            <span visible="providers">
                You can change that in
                <a  ui-sref="projects.details({uuid: AppStore.currentProject.uuid, tab: 'providers'})">provider management</a>.
            </span>
        </p>
    </div>
</div>
