<aside ng-if="AppStore.renderStore" class="appstore-aside">
    <h2 ng-show="AppStore.enablePurchaseCostDisplay">
        checkout summary
    </h2>
    <p ng-show="AppStore.enablePurchaseCostDisplay">
        Charged to
        <a ui-sref="organizations.details({uuid: AppStore.currentCustomer.uuid})">{{ AppStore.currentCustomer.name }}</a>
    </p>

    <ul class="ap-aside-block">
        <li ng-repeat="item in AppStore.priceItems">
            <div class="descr">
                <span>{{ item.type[0].toUpperCase() + item.type.slice(1) }}</span>
                <span>{{ item.name }}</span>
            </div>

            <div ng-show="AppStore.enablePurchaseCostDisplay" class="price">{{AppStore.currency}}{{item.price}}</div>
            <div class="clear"></div>
        </li>
        <li class="total">
            <div class="descr">
                <span ng-show="AppStore.secondStep && AppStore.serviceType">{{ AppStore.serviceType }}</span>
                <span ng-show="!AppStore.serviceType">No items</span>
                <span>{{ AppStore.instance.name }} {{ AppStore.selectedResourceTypeName }}</span>
            </div>
            <div ng-show="AppStore.enablePurchaseCostDisplay" class="price">{{AppStore.currency}}{{AppStore.total}}/h</div>
            <div class="clear"></div>
        </li>
    </ul>
</aside>
