<div ng-controller="InitialDataController as InitialData">
    <div class="initial-data-page">
        <div class="first-step">
            <h2>Welcome to NodeConductor, {{ InitialData.user.full_name || InitialData.user.username }}!</h2>
            <p>Get your cloud expenses under control with just <b>1</b> click.</p>
            <div class="logo">
                <div class="img-wrapper">
                    <img gravatar-src="InitialData.user.email" alt=""/>
                </div>
                <span class="manage-gravatar">
                    Manage at
                    <a href="//gravatar.com" target="_blank">gravatar.com</a>
                </span>
                <div class="clear"></div>
            </div>
            <div class="fields">
                <label for="full_name">Full name</label>
                <input id="full_name" type="text" ng-class="{'disabled': InitialData.userCopy.full_name}" ng-model="InitialData.user.full_name"/>
                <div class="error" ng-if="InitialData.user.errors.full_name">{{::InitialData.user.errors.full_name}}</div>
                <label for="email">Email</label>
                <input id="email" type="text" ng-class="{'disabled': InitialData.userCopy.email}" ng-model="InitialData.user.email"/>
                <div class="error" ng-if="InitialData.user.errors.email">{{::InitialData.user.errors.email}}</div>
                <label for="registration_method">Authentication method</label>
                <input id="registration_method" type="text" ng-class="{'disabled': InitialData.userCopy.registration_method}" ng-model="InitialData.user.registration_method"/>
                <label for="idCode">ID Code</label>
                <input id="idCode" type="text" class="disabled" ng-model="InitialData.user.idCode"/>
                <label for="organization">Company name</label>
                <input id="organization" type="text" ng-class="{'disabled': InitialData.userCopy.organization}" ng-model="InitialData.user.organization"/>
                <label for="job_title">Job position</label>
                <input id="job_title" type="text" ng-class="{'disabled': InitialData.userCopy.job_title}" ng-model="InitialData.user.job_title"/>
                <label for="description">Description</label>
                <input id="description" type="text" ng-class="{'disabled': InitialData.userCopy.description}" ng-model="InitialData.user.description"/>
                <label for="phone_number">Phone number</label>
                <input id="phone_number" type="text" ng-class="{'disabled': InitialData.userCopy.phone_number}" ng-model="InitialData.user.phone_number"/>
                <div class="accept-policy">
                    <div class="accept-policy-label">
                        <label for="acceptPolicy">I accept the <a ui-sref="tos.index" target="_blank">Terms of Provider</a>.</label>
                    </div>
                    <div class="accept-policy-input">
                        <input id="acceptPolicy" type="checkbox" ng-model="InitialData.user.acceptPolicy"/>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="second-step">
            <div class="button-block" ng-class="{'disabled': !InitialData.user.acceptPolicy}" ng-if="!InitialData.loadingServices">
                <a class="button" submit-button="InitialData.save()">Let’s get started</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
