<div ng-controller="InitialDataControllerDemo as InitialData">
    <div class="initial-data-page">
        <div class="first-step">
            <h2>STEP 1: Tell us more about yourself</h2>
            <div class="logo">
                <div class="img-wrapper">
                    <img gravatar-src="InitialData.user.email" alt=""/>
                </div>
                <a class="green-btn">Select a icon</a>
                <div class="clear"></div>
            </div>
            <div class="fields">
                <label>Email</label>
                <input type="text" ng-model="InitialData.user.email"/>
                <label>Organization name</label>
                <input type="text"/>
            </div>
            <div class="clear"></div>
        </div>
        <div class="second-step">
            <h2>STEP 2: Enter access codes</h2>
            <div class="fields-block state">
                <div class="icon-block">
                    <img src="/static/images/appstore/icon-aws.png" alt=""/>
                    <span>AWS EC2</span>
                    <span class="info">?</span>
                </div>
                <div class="fields">
                    <label>AWS User code</label>
                    <input type="text"/>
                    <label>AWS Token</label>
                    <input type="text"/>
                </div>
                <div class="clear"></div>
                <span class="remove-service">✖</span>
            </div>
            <div class="fields-block state">
                <div class="icon-block">
                    <img src="/static/images/appstore/icon-DigitalOcean.png" alt=""/>
                    <span>Digital Ocean</span>
                    <span class="info">?</span>
                </div>
                <div class="fields">
                    <label>Digital Ocean Token</label>
                    <input type="text"/>
                </div>
                <div class="clear"></div>
                <span class="remove-service">✖</span>
            </div>
            <div class="fields-block state" ng-repeat="service in InitialData.chosenServices">
                <div class="icon-block">
                    <img ng-src="/static/images/appstore/icon-{{ service.toLowerCase() }}.png"/>
                    <span>{{ service }}</span>
                    <span class="info">?</span>
                </div>
                <div class="fields">
                    <label>{{ service }} Token</label>
                    <input type="text"/>
                </div>
                <div class="clear"></div>
                <span class="remove-service" ng-click="InitialData.removeService(service)">✖</span>
            </div>
            <div class="fields-block green">
                <div class="select-block">
                    <label for="">Choose a service</label>
                    <select ng-model="InitialData.chosenService"
                            ng-options="key as key for (key, value) in InitialData.services">
                    </select>
                </div>
                <a class="green-btn" ng-click="InitialData.addService()">Add service</a>
                <div class="clear"></div>
            </div>
            <div class="button-block">
                <a class="green-btn">Let’s get started</a>
            </div>
        </div>
    </div>
</div>
