<div ng-controller="InitialDataController as InitialData">

<div class="white-box">
    <ul class="sort-list">
        <li class="title">
            <h2 class="app-title">Welcome to NodeConductor!</h2>
        </li>
    </ul>
</div>

<div class="white-box">
    <form ng-submit="InitialData.save()">
        <section class="row top">
            <div class="col inital-avatar">
                <img src="/static/images/user-avatar.jpg" alt="" class="avatar-img">
            </div>
            <div class="col inital-inputs">
                <div class="short-form full">
                    <div class="form-row inputs-centered">
                        <div class="col label">
                            <label for="">Your name: </label>
                        </div>
                        <div class="col input input-full">
                            {{ InitialData.user.full_name }}
                        </div>
                        <div class="col label">
                            <label for="">Your email:</label>
                        </div>
                        <div class="col input input-full">
                            <input ng-model="InitialData.user.email" type="text" placeholder="email@example.com" required>
                            <div class="error arrow-up" ng-show="InitialData.errors.email">
                                <ul class="error-list">
                                    <li ng-repeat="error in InitialData.errors.email">{{ error }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col full">
                            <article class="normal-description">
                                <p>
                                   NodeConductor is a cloud management platform for project-based resource management.
                                   Share your resources with colleagues or join a team and provision the resources you need.
                                </p>
                                <p>
                                   By continuing you agree to the Terms of Service agreement.
                                </p>
                                <p>
                                    Your current plan is a <strong>Free plan</strong>. You can upgrade plan in your profile.
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col inital-package">
                <div class="plan-item">
                    <table>
                        <th>
                            <span class="plan-name">{{ InitialData.plan.name }}</span>
                        </th>
                        <tr ng-repeat="quota in InitialData.plan.quotas">
                            <td>{{ quota.value }} {{ InitialData.getPrettyQuotaName(quota.name) }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
        <div class="decision">
            <div class="col">
                <a class="button-apply" ng-click="InitialData.save()">Finish signup</a>
            </div>
        </div>
        <button></button>
    </form>
</div>

</div>
