<div ng-controller="InitialDataControllerDemo as InitialData">
    <div class="initial-data-page">
        <div class="first-step">
            <h2>Welcome to NodeConductor, {{ InitialData.user.full_name }}</h2>
            <p>Get your cloud expenses under control with just <b>1</b> click!</p>
            <div class="logo">
                <div class="img-wrapper">
                    <img gravatar-src="InitialData.user.email" alt=""/>
                </div>
                <span class="manage-gravatar">
                    Manage at
                    <a href="//gravatar.com" target="_blank">gravatar.com</a>
                </span>
                <div class="clear"></div>
            </div>
            <div class="fields">
                <label>Email</label>
                <input type="text" ng-model="InitialData.user.email"/>
                <label>Organization name</label>
                <input type="text"/>
            </div>
            <div class="clear"></div>
        </div>
        <aside>
            <p>
                <span>You are on a forever free plan!</span><br/>
                If you need more analytical power please upgrade your plan.
            </p>
            <div class="col initial-package">
                <span class="plan-name">Free plan</span>
                <div class="plan-item">
                    <table>
                        <tr ng-repeat="quota in InitialData.plan.quotas">
                            <td>{{ quota.value }} {{ InitialData.getPrettyQuotaName(quota.name, quota.value) }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </aside>
        <div class="second-step">
            <h2>Enter access codes</h2>
            <div class="fields-block state">
                <div class="icon-block">
                    <img src="/static/images/appstore/icon-aws.png" alt=""/>
                    <span>AWS EC2</span>
                    <a ui-sref="help.details({name: 'AWS'})" target="_blank"  class="info">?</a>
                </div>
                <div class="fields">
                    <label>AWS User code</label>
                    <input type="text"/>
                    <label>AWS Token</label>
                    <input type="text"/>
                </div>
                <div class="clear"></div>
                <span class="remove-service">✖</span>
            </div>
            <div class="fields-block state">
                <div class="icon-block">
                    <img src="/static/images/appstore/icon-DigitalOcean.png" alt=""/>
                    <span>DigitalOcean</span>
                    <a ui-sref="help.details({name: 'DigitalOcean'})" target="_blank"  class="info">?</a>
                </div>
                <div class="fields">
                    <label>DigitalOcean Token</label>
                    <input type="text"/>
                </div>
                <div class="clear"></div>
                <span class="remove-service">✖</span>
            </div>
            <div class="fields-block state" ng-repeat="service in InitialData.chosenServices">
                <div class="icon-block">
                    <img ng-src="/static/images/appstore/icon-{{ service.toLowerCase() }}.png"/>
                    <span>{{ service }}</span>
                    <a ui-sref="help.details({name: service})" target="_blank" class="info">?</a>
                </div>
                <div class="fields">
                    <label>{{ service }} Token</label>
                    <input type="text"/>
                </div>
                <div class="clear"></div>
                <span class="remove-service" ng-click="InitialData.removeService(service)">✖</span>
            </div>
            <div class="fields-block green">
                <div class="select-block">
                    <label for="">Add another service</label>
                    <select ng-model="InitialData.chosenService"
                            ng-options="key as key for (key, value) in InitialData.services">
                    </select>
                </div>
                <a class="button" ng-click="InitialData.addService()">Add service</a>
                <div class="clear"></div>
            </div>
            <div class="button-block">
                <a class="button">Let’s get started</a>
                <span>By continuing you agree to the <a>Terms of Service</a>.</span>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
