@import '~sass/inspinia/_variables.scss';

.provider-box {
  padding: 0px;
  border: 1px solid $border-color;

  &:hover {
    border: 1px solid transparent;
    -webkit-box-shadow: 0 3px 7px 0 rgba(168, 168, 168, 1);
    -moz-box-shadow: 0 3px 7px 0 rgba(168, 168, 168, 1);
    box-shadow: 0 3px 7px 0 rgba(168, 168, 168, 1);
  }
}
