<div ng-controller="ProjectDetailsController">
    <sidebar items="items" context="context"></sidebar>
    <div id="page-wrapper" ng-class="$state.current.data.pageClass || 'white-bg'" ng-controller="AppStoreHeaderController">
        <nc-header></nc-header>
        <div class="row wrapper white-bg page-heading" ng-if="currentProject">
            <div class="col-lg-12">
                <h2>{{ category.label }}</h2>
                <ol class="breadcrumb">
                    <li>
                        <a ui-sref="project.details({uuid: currentProject.uuid })">Project dashboard</a>
                    </li>
                    <li>
                        <a ng-click="openDialog()">Service store</a>
                    </li>
                    <li class="active">
                        <strong>{{ category.label }}</strong>
                    </li>
                </ol>
            </div>
        </div>
       <div ui-view></div>
       <app-footer/>
    </div>
</div>
