<div ng-if="$ctrl.appstore.loadingProviders">
    <loading-spinner/>
</div>

<div class="ibox-content" ng-if="!$ctrl.appstore.loadingProviders && !$ctrl.appstore.renderStore">
    <p>
        <span>{{ ::$ctrl.noProvidersMessage }}</span>
    </p>
    <p visible="providers" bind-html-compile="$ctrl.appstore.providerManagementMessage"></p>
</div>

<div class="ibox" ng-if="!$ctrl.appstore.loadingProviders && $ctrl.appstore.renderStore && !$ctrl.appstore.selectedResourceType">
    <div class="ibox-title">
        <h5 translate>Select provider</h5>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-4"
                 ng-repeat="service in $ctrl.appstore.categoryServices[$ctrl.appstore.selectedCategory.name]">
                <div class="ibox" uib-tooltip="{{ service.warning }}">
                    <div class="ibox-content product-box cursor-pointer">
                        <div class="product-desc" ng-class="{disabled: !service.enabled}">
                            <a class="product-name elipsis">
                                <i class="fa fa-exclamation-triangle" ng-if="!!service.warning"></i>
                                {{ ::service.name }}
                            </a>
                        </div>

                        <div class="text-center m-b-xl m-t-xl"
                             ng-class="{disabled: !service.enabled}">
                            <provider-icon type="service.type" size="img-lg"/>
                        </div>
                        <div class="product-desc" ng-class="{disabled: !service.enabled}">
                            <a class="btn btn-sm btn-outline btn-primary" ng-click="$ctrl.appstore.showServiceDetails(service)">
                                <span translate>Details</span>
                                <i class="fa fa-eye"></i>
                            </a>
                            <div class="pull-right">
                                <a class="btn btn-sm btn-outline btn-primary" ng-click="$ctrl.appstore.setService(service)">
                                    <span translate>Select</span>
                                    <i class="fa fa-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
