<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-9">

            <appstore-providers></appstore-providers>

            <div class="ibox" ng-if="AppStore.selectedResourceType">
                <div class="ibox-title">
                    <h5>
                        <span translate>Configure</span>
                        {{ AppStore.getServiceTypeDisplay(AppStore.serviceType) }}
                        {{ AppStore.selectedResourceTypeName }}
                    </h5>
                </div>
                <div class="ibox-content">
                    <div ng-if="AppStore.loadingResourceProperties">
                        <loading-spinner/>
                    </div>
                    <div class="form-horizontal" ng-if="!AppStore.loadingResourceProperties">
                        <div class="form-group">
                            <div class="col-sm-3 control-label">
                                <label translate>Provider</label>
                            </div>
                            <div class="col-sm-4 form-control-static">
                                {{ AppStore.selectedService.name }}
                            </div>
                        </div>
                        <appstore-form fields="AppStore.fields"
                               errors="AppStore.errors"
                               model="AppStore.instance">
                        </appstore-form>
                    </div>
                </div>
                <div class="ibox-content">
                    <a class="btn btn-primary pull-right"
                        submit-button="AppStore.save()" type="submit"
                        ng-disabled="!AppStore.canSave()"
                        uib-tooltip="{{ AppStore.getTooltip() }}">
                        <i class="fa fa fa-shopping-cart"></i>
                        <span ng-if="AppStore.enablePurchaseCostDisplay" translate>Purchase</span>
                        <span ng-if="!AppStore.enablePurchaseCostDisplay" translate>Create</span>
                    </a>
                    <button class="btn btn-white" type="button"
                        ng-click="AppStore.resetResourceType()">
                        <span translate>Cancel</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3" ng-if="AppStore.renderStore">
            <div class="ibox" visible="compare" ng-if="!AppStore.selectedResourceType && AppStore.showCompare.indexOf(AppStore.selectedCategory.name) !== -1">
                <div class="ibox-title">
                    <h5>
                        <a ui-sref="compare.compare">
                            <i class="fa fa-balance-scale"></i>
                            <span translate>Compare flavors</span>
                        </a>
                    </h5>
                </div>
            </div>
            <div ng-if="AppStore.selectedResourceType && !AppStore.loadingResourceProperties">
                <appstore-summary
                    component="AppStore.fields.summaryComponent"
                    model="AppStore.instance">
                </appstore-summary>
            </div>
        </div>
    </div>
</div>
