<div class="modal-header">
    <h2 class="modal-title" translate>Service store</h2>
</div>
<div class="modal-body">
    <div ng-if="$ctrl.loading">
        <loading-spinner/>
    </div>
    <form ng-if="!$ctrl.loading" name="$ctrl.DialogForm" ng-class="{disabled: $ctrl.submitting}">
        <div class="form-group" ng-if="$ctrl.selectProject">
            <label class="control-label" translate>Projects</label>
            <div class="row">
                <div class="col-sm-9 col-md-10">
                    <select
                        ng-options="project as project.name for project in $ctrl.projects"
                        ng-model="$ctrl.selectedProject"
                        class="form-control"
                        required="">
                        <option value="" translate>Select project</option>
                     </select>
                </div>
                <div class="col-sm-3 col-md-2">
                    <a class="btn btn-default" ng-click="$ctrl.createProject()">
                        <i class="fa fa-plus"></i>
                        <span translate>Add project</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="tabs-container">
            <category-selector-tabs
                groups="$ctrl.groups"
                on-select="$ctrl.selectCategory(category)"/>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button
        class="btn btn-default"
        visible-if="'support'"
        ng-click="$ctrl.requestService()">
        <i class="fa fa-question-circle"></i>
        <span translate>I want another service</span>
    </button>
    <button class="btn btn-default"
        ng-click="$ctrl.dismiss()">
        <span translate>Cancel</span>
    </button>
</div>
