.appstore-category-selector {
  .category-icon {
    position: absolute;
    font-size: 32px;
    top: 15px;
    left: 8px;
    text-align: center;
    width: 40px;
  }
  &.list-group {
    margin-bottom: 0px;
  }
  .list-group-item {
    border-radius: 4px;
    margin-bottom: 15px;
    position: relative;
  }
  .list-group-item-heading {
    margin-top: 5px;
    font-size: 15px;
    padding-bottom: 2px;
  }
  .list-group-item-text {
    height: 50px;
    overflow: hidden;
    margin-bottom: 5px;
  }
}
