<div class="tabs-container m-l-sm">
  <uib-tabset active="active">
    <uib-tab index="0" ng-if="!$ctrl.showAccountingRecords && !$ctrl.payPalVisible">
      <uib-tab-heading translate>Invoices</uib-tab-heading>
      <div class="panel-body" ng-if="active==0">
        <invoices-list/>
      </div>
    </uib-tab>
    <uib-tab index="1" ng-if="$ctrl.showAccountingRecords">
      <uib-tab-heading translate>Accounting records</uib-tab-heading>
      <div class="panel-body" ng-if="active==1">
        <billing-records-list/>
      </div>
    </uib-tab>
    <uib-tab index="2" ng-if="!$ctrl.showAccountingRecords && $ctrl.payPalVisible">
      <uib-tab-heading translate>Invoices</uib-tab-heading>
      <div class="panel-body" ng-if="active==2">
        <paypal-invoices-list/>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
