<address>
    <strong>{{ ::$ctrl.issuer.company }}</strong><br>
    {{ ::$ctrl.issuer.address }}<br>
    {{ ::$ctrl.issuer.country }}, {{ ::$ctrl.issuer.postal }}<br>
    <abbr title="{{ 'Phone' | translate }}">P:</abbr> {{ ::$ctrl.issuer.phone | formatPhone }}<br>
    {{ ::$ctrl.issuer.bank }}, {{ ::$ctrl.issuer.account }} <br>
    <span ng-if="$ctrl.issuer.vat_code">
        <abbr><span translate>VAT</span>:</abbr> {{ ::$ctrl.issuer.vat_code }}<br>
    </span>
    {{ ::$ctrl.issuer.email }}
</address>
