<billing-record-header invoice="$ctrl.invoice"></billing-record-header>

<div ng-if="$ctrl.loading">
  <loading-spinner/>
</div>

<div ng-if="!$ctrl.loading" class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content">
      <div class="p-xl">
        <div class="row">
          <div class="col-sm-6 text-right col-sm-offset-6">
            <h4 translate>Record no.</h4>
            <h4 class="text-navy">{{ ::$ctrl.invoice.number }}</h4>
            <div ng-if="$ctrl.invoice.customer_details">
              <span translate>For</span>:
              <billing-customer-details customer="$ctrl.invoice.customer_details"/>
            </div>
            <div>
              <span>
                <strong translate>Record period</strong>:
                {{ ::$ctrl.invoice.period }}
              </span>
            </div>
          </div>
        </div>

        <div class="table-responsive m-t">
          <table class="table invoice-table">
            <thead>
              <tr>
                <th translate>Item List</th>
                <th translate>Quantity</th>
                <th translate>Unit Price</th>
                <th translate>Total Price</th>
              </tr>
            </thead>
            <tbody ng-repeat="project in $ctrl.projects track by $index">
              <tr class="project">
                <td colspan="4">
                  <h3>{{ ::project.name }}</h3>
                </td>
              </tr>
              <tr ng-repeat="item in project.items track by $index">
                <td>
                  <div>
                    <strong>{{ ::item.name }}</strong>
                  </div>
                  <small>
                    <span translate>Start time</span>: {{ ::item.start || '&mdash;' | dateTime }}.
                    <span translate>End time</span>: {{ ::item.end || '&mdash;' | dateTime }}
                  </small>
                </td>
                <td>{{ ::item.usage_days }}</td>
                <td>{{ ::item.daily_price | defaultCurrency }}</td>
                <td>{{ ::item.total | defaultCurrency }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <table class="table invoice-total">
          <tbody>
            <tr>
              <td>
                <price-tooltip></price-tooltip>
                <strong translate>TOTAL</strong>:
              </td>
              <td>{{ ::$ctrl.invoice.price | defaultCurrency }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
