<div class="row wrapper border-bottom white-bg page-heading hidden-print">
  <div class="col-lg-8">
    <h2 translate>Invoice</h2>
    <ol class="breadcrumb">
      <li>
        <a ui-sref="organization.details({uuid: $ctrl.customerUUID})" translate>Organization dashboard</a>
      </li>
      <li>
        <a ui-sref="organization.billing.tabs({uuid: $ctrl.customerUUID})" translate>
          Invoices list
        </a>
      </li>
      <li class="active">
        <strong>{{::$ctrl.invoice.period}}</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-4">
    <div class="title-action">
      <button class="btn btn-primary" ng-click="$ctrl.printLink()">
        <i class="fa fa-print"></i>
        <span translate>Print Invoice</span>
      </button>
      <button class="btn btn-primary" ng-click="$ctrl.openTimeline()">
        <i class="fa fa-table"></i>
        <span translate>View events timeline</span>
      </button>
    </div>
  </div>
</div>
