<div ng-controller="ImportResourceController as ImportResource">

    <div class="container">
        <h1>Import resources from provider</h1>
    </div>

    <div class="white-box">
        <div class="short-form full import-wrapper">
            <div class="appstore-content">
                <section class="step-1">
                    <div class="step-title">
                        <span>Step 1: Choose category</span>
                    </div>
                    <div class="appstore-templates">
                        <!-- category -->
                        <div class="appstore-template"
                             ng-repeat="category in ImportResource.categories"
                             ng-click="ImportResource.setCategory(category)"
                             ng-class="{'state': ImportResource.selectedCategory == category}">
                            <div class="icon">
                                <img ng-src="static/images/appstore/icon-{{ category.name.toLowerCase() }}.png" alt="">
                            </div>
                            <h3>{{ category.name }}</h3>
                        </div>
                        <!-- /category -->
                    </div>
                </section>
            </div>
            <div class="form-row" ng-show="ImportResource.secondStep">
                <div class="col full appstore-content">
                    <section class="step-2">
                        <div class="step-title"><span>Step 2: Select Provider</span></div>
                        <!-- Select service -->
                        <div class="white-box no-styles"
                             ng-show="ImportResource.services[ImportResource.selectedCategory.name].length == 0">
                            <h2 class="app-title">
                                You don't have any provider yet.
                            </h2>
                            <div class="decision">
                                <div class="col">
                                    <a ui-sref="services.create" class="button">Create new provider</a>
                                </div>
                            </div>
                        </div>
                        <div class="appstore-templates">

                            <!-- service -->
                            <div ng-repeat="service in ImportResource.services[ImportResource.selectedCategory.name]"
                                 ng-class="{'state': ImportResource.selectedService == service}"
                                 ng-click="ImportResource.setService(service)"
                                 class="appstore-template">
                                <div class="icon">
                                    <img ng-src="/static/images/appstore/icon-{{ service.type.toLowerCase() }}.png" alt="">
                                </div>
                                <div class="description">
                                    <h3>{{ service.name }}</h3>
                                </div>
                            </div>
                        </div>
                        <!-- /Select service -->
                    </section>
                </div>
                <a class="toggle-link pull-right"
                   ng-show="ImportResource.importedResources.length"
                   ng-click="showImportedResources=!showImportedResources"
                   ng-class="{'active': showImportedResources}">
                   Show imported resources ({{ ImportResource.importedResources.length }})
                </a>
                <div class="col full" ng-show="showImportedResources && ImportResource.importedResources.length">
                    <ul class="object-list">
                        <li ng-repeat="resource in ImportResource.importedResources">
                            <div class="list-item">
                                <div class="name">
                                    <h3 class="item-title">
                                        <a>{{ resource.name }}</a>
                                    </h3>
                                </div>
                                <div class="additional-cell">
                                    CPU: {{ resource.cores }}  /
                                    RAM: {{ resource.ram }} MB /
                                    HDD: {{ resource.disk / 1024 }} GB
                                </div>
                                <div class="additional-cell">
                                    <span class="status">Imported to <a ui-sref="projects.details({uuid: resource.project_uuid})">{{ resource.project_name }}</a></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col full" ng-show="ImportResource.noResources && ImportResource.selectedService.name">
                    <h2 class="app-title centered">
                        There are no resources available for import in this provider.
                    </h2>
                </div>
                <div class="col full" ng-show="ImportResource.importableResources.length">
                    <h3 class="app-title">Resources</h3>
                    <ul class="object-list">
                        <li ng-click="ImportResource.toggleResource(resource)"
                            ng-repeat="resource in ImportResource.importableResources">
                            <div class="list-item pointer">
                                <div class="checkbox" ng-switch="resource.status">
                                    <input type="checkbox" ng-checked="resource.checked" ng-switch-when="ready">
                                    <input type="checkbox" disabled ng-switch-when="success">
                                    <input type="checkbox" disabled ng-switch-when="progress">
                                </div>
                                <div class="name">
                                    <h3 class="item-title">
                                        <a>{{ resource.name }}</a>
                                    </h3>
                                </div>
                                <div class="additional-cell">
                                    CPU: {{ resource.cores }}  /
                                    RAM: {{ resource.ram }} MB /
                                    HDD: {{ resource.disk / 1024 }} GB
                                </div>
                                <div class="additional-cell" ng-switch="resource.status">
                                    <span class="status online" ng-switch-when="ready">Available for import</span>
                                    <span class="status" ng-switch-when="progress">In progress</span>
                                    <span class="status online" ng-switch-when="success">
                                        Imported to <a ui-sref="projects.details({uuid: ImportResource.currentProject.uuid})">
                                            {{ ImportResource.currentProject.name }}
                                        </a>
                                    </span>
                                    <span class="status offline" ng-switch-when="failed">Failed</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="decision" ng-show="ImportResource.importableResources.length">
            <div class="col select-project">
                <article class="descriptoin-light">
                    Selected resources will be imported into project
                    {{ ImportResource.currentProject.name }}
                </article>
            </div>
        </div>

        <div class="decision" ng-show="ImportResource.importableResources.length">
            <div class="col">
                <a class="button-apply"
                   ng-class="{'disabled': !ImportResource.canImport()}"
                   submit-button="ImportResource.save()">Import</a>
            </div>
        </div>

    </div>

</div>
