<div>

    <div class="white-box">
        <ul class="sort-list">
            <li class="title">
                <h2 class="app-title">Import resources from service</h2>
            </li>
        </ul>
    </div>

    <div class="white-box">
        <div class="short-form full">

            <h3 class="app-title">Select Service</h3>

            <!-- Select service -->
            <div class="appstore-templates">
                <!-- service -->
                <div class="appstore-template">
                    <div class="icon">
                        <img src="/static/images/icons/icon_aws_small.png" alt="" class="icon">
                    </div>
                    <div class="description">
                        <h3>sd</h3>
                    </div>
                </div>
                <!-- service -->
                <div class="appstore-template">
                    <div class="icon">
                        <img src="/static/images/icons/icon_digitalocean_small.png" alt="" class="icon">
                    </div>
                    <div class="description">
                        <h3>sd</h3>
                    </div>
                </div>
                <!-- service -->
                <div class="appstore-template">
                    <div class="icon">
                        <img src="/static/images/icons/icon_openstack_small.png" alt="" class="icon">
                    </div>
                    <div class="description">
                        <h3>sd</h3>
                    </div>
                </div>
            </div>
            <!-- /Select service -->

        </div>

        <h3 class="app-title">Select resources</h3>

        <ul class="object-list">
            <li>
                <div class="list-item pointer">
                    <div class="checkbox" stoppropagation>
                        <input type="checkbox">
                    </div>
                    <div class="name">
                        <h3 class="item-title">
                            <a>Instance name</a>
                        </h3>
                        <article class="descriptoin-light">
                            Processor 1.4 / RAM 512 / HDD 2GB
                        </article>
                    </div>
                </div>
            </li>
            <li>
                <div class="list-item pointer">
                    <div class="checkbox" stoppropagation>
                        <input type="checkbox">
                    </div>
                    <div class="name">
                        <h3 class="item-title">
                            <a>Instance name</a>
                        </h3>
                        <article class="descriptoin-light">
                            Processor 1.4 / RAM 512 / HDD 2GB
                        </article>
                    </div>
                </div>
            </li>
            <li>
                <div class="list-item pointer">
                    <div class="checkbox" stoppropagation>
                        <input type="checkbox">
                    </div>
                    <div class="name">
                        <h3 class="item-title">
                            <a>Instance name</a>
                        </h3>
                        <article class="descriptoin-light">
                            Processor 1.4 / RAM 512 / HDD 2GB
                        </article>
                    </div>
                </div>
            </li>
        </ul>

    </div>

</div>
