<div ng-controller="ImportResourceController as ImportResource">
    <div>
        <div class="short-form full import-wrapper">
            <div class="appstore-content">
                <section class="step-1">
                    <div class="step-title">
                        <span translate>Step 1: Choose category</span>
                    </div>
                    <div class="appstore-templates">
                        <!-- category -->
                        <div class="appstore-template"
                             ng-repeat="category in ImportResource.categories"
                             ng-click="ImportResource.setCategory(category)"
                             ng-class="{'state': ImportResource.selectedCategory == category}">
                            <div class="icon {{ ::category.icon }}"></div>
                            <h3>{{ category.name }}</h3>
                        </div>
                        <!-- /category -->
                    </div>
                </section>
            </div>
            <div class="form-row" block-ui="import-second-step" ng-show="ImportResource.secondStep">
                <div class="col full appstore-content">
                    <section class="step-2">
                        <div class="step-title"><span translate>Step 2: Select Provider</span></div>
                        <!-- Select service -->
                        <div class="white-box no-styles"
                             ng-show="ImportResource.services[ImportResource.selectedCategory.name].length === 0">
                            <h2 class="app-title" translate>
                                You don't have any provider yet.
                            </h2>
                            <div class="decision">
                                <div class="col">
                                    <a ui-sref="organization.createProvider({uuid: ImportResource.customer.uuid})" class="button" translate>Create new provider</a>
                                </div>
                            </div>
                        </div>
                        <div class="appstore-templates">

                            <!-- service -->
                            <div ng-repeat="service in ImportResource.services[ImportResource.selectedCategory.name]"
                                 ng-class="{'state': ImportResource.selectedService == service}"
                                 ng-click="ImportResource.setService(service)"
                                 class="appstore-template">
                                <div class="icon">
                                    <img ng-src="static/images/appstore/icon-{{ service.type.toLowerCase() }}.png" alt="">
                                </div>
                                <div class="description">
                                    <h3>{{ service.name }}</h3>
                                </div>
                            </div>
                        </div>
                        <!-- /Select service -->
                    </section>
                </div>
                <div class="col full appstore-content" ng-if="ImportResource.selectTenant">
                    <section class="step-2">
                        <div class="step-title"><span translate>Step 3: Select Tenant</span></div>
                        <!-- Select tenant -->
                        <div class="white-box no-styles"
                             ng-show="ImportResource.tenants.length === 0">
                            <h2 class="app-title" translate>
                                You don't have any tenant yet.
                            </h2>
                            <div class="decision">
                                <div class="col">
                                    <a ui-sref="appstore.private_clouds" class="button" translate>Create new tenant first.</a>
                                </div>
                            </div>
                        </div>
                        <div class="appstore-templates">
                            <!-- tenant -->
                            <div ng-repeat="tenant in ImportResource.tenants"
                                 ng-class="{'state': ImportResource.selectedTenant === tenant}"
                                 ng-click="ImportResource.setTenant(tenant)"
                                 class="appstore-template">
                                <div class="icon cloud"></div>
                                <div class="description">
                                    <h3>{{ tenant.name }}</h3>
                                </div>
                            </div>
                        </div>
                        <!-- /Select tenant -->
                    </section>
                </div>
                <a class="toggle-link pull-right"
                   ng-show="ImportResource.importedResources.length"
                   ng-click="showImportedResources=!showImportedResources"
                   ng-class="{'active': showImportedResources}">
                   <span translate>Show imported resources</span> ({{ ImportResource.importedResources.length }})
                </a>
                <div class="col full" ng-show="showImportedResources && ImportResource.importedResources.length">
                    <ul class="object-list">
                        <li ng-repeat="resource in ImportResource.importedResources">
                            <div class="list-item">
                                <div class="name">
                                    <h3 class="item-title">
                                        <a ui-sref="resources.details({uuid: resource.uuid, resource_type: resource.resource_type})">{{ resource.name }}</a>
                                    </h3>
                                </div>
                                <div class="additional-cell" ng-if="resource.ram" ng-bind="ImportResource.getResourceDetails(resource)"></div>
                                <div class="additional-cell" ng-if="resource.type">
                                    {{ resource.type }}
                                </div>
                                <div class="additional-cell">
                                    <span class="status">
                                        <span translate>Resource is already managed under</span>
                                        <a ui-sref="organization.details({uuid: resource.customer_uuid})">{{ resource.customer_name }}</a>:
                                        <a ui-sref="project.details({uuid: resource.project_uuid})">{{ resource.project_name }}</a>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <importable-resources
                    class="col full"
                    empty="ImportResource.noResources"
                    project="ImportResource.currentProject"
                    service="ImportResource.selectedService"
                    resources="ImportResource.importableResources"
                    toggle="ImportResource.toggleResource"
                ></importable-resources>
            </div>
        </div>

        <div class="decision" ng-show="ImportResource.importableResources.length">
            <div class="col select-project">
                <p>
                    <span translate>Selected resources will be imported into project.</span>
                    {{ ImportResource.currentProject.name }}
                </p>
                <p>
                    <label for="import_historical_usage">
                        <input
                            id="import_historical_usage"
                            type="checkbox"
                            ng-model="ImportResource.import_historical_usage">
                        </input>
                        <span translate>Try to detect historical usage of resources.</span>
                    </label>
                </p>
            </div>
        </div>

        <div class="decision" ng-show="ImportResource.importableResources.length">
            <div class="col">
                <a class="single button-apply"
                   ng-class="{'disabled': !ImportResource.canImport()}"
                   submit-button="ImportResource.save()"><span translate>Import</span></a>
            </div>
        </div>

    </div>

</div>
