// override bootstrap && base styles

body {
    font-family: Helvetica, Arial;
    font-size: 16px;
    font-size: rem(16);
    color: #777;
    margin: 0;
}

a {
    color: #71A4C3;
}

a:hover, a:active, a:focus {
    outline: 0;
}

.container {
    box-sizing: border-box;
    width: 960px;
    margin: auto;
} // container

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

form {
    fieldset {
        border: none;
        padding: 0;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

td {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

th {
    text-align: left; 
    vertical-align: top;
}