// override bootstrap && base styles

html {
    font-size: 62.5%;
}

body {
    letter-spacing: -.03rem;
    font-size: $font-size-base;
    font-size: rem(16);
    // > .container-fluid {
    //     max-width: 1280px;
    //     min-width: 1010px;
    // }
    &.app-body {
        padding-top: 80px;
    }
}

a:hover, a:active, a:focus {
    outline: 0 !important;
}

.container-fluid {
    // padding-left: 40px;
    // padding-right: 40px;
    width: 960px;
    // margin: auto;
}

.tooltip {
    .tooltip-inner {
        font-size: rem(12);
    }
}

a:hover, a:active, a:focus {
    outline: 0;
}

.container {
    box-sizing: border-box;
    width: 960px;
    margin: auto;
} // container

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.show-more {
    display: block;
    text-align: center;
    @include black-link;
    opacity: .5;
} // show-more