.container-fluid {
    padding-left: 10%;
    padding-right: 10%;
    // width: 960px;
    // margin: auto;
}

.container {
    box-sizing: border-box;
    width: 960px;
    margin: auto;
} // container

.tooltip {
    .tooltip-inner {
        font-size: rem(12);
    }
}

.modal-content {
    box-shadow: none;
    border: none;
    border-radius: 4px;
    border-bottom: 2px solid #A8A8A8;
    padding: 10px;
    .modal-header, .modal-footer {
        text-align: center;
        border: none;
    } // modal-header, modal-footer
    .modal-body {

    } // modal-body
} // modal-dialog

.btn {
    border-color: transparent;
    &:hover {
        border-color: transparent;
    }
}

.btn-default {
    border-color: silver;
} // btn-default
.btn-primary {
    display: inline-block;
    background: #00cf70;
    border-bottom: 1px solid #3D980F;
    border-radius: 4px;
    color: #fff;
    &:hover {
        background: #01BD66;
    }
    &:active, &:focus {
        background-color: #089051;
    }
} // btn-primary

.more {
    padding-top: 30px;
    text-align: center;
} // more

time.date {
    @include inline-middle;
    font-size: rem(12);
    color: rgb(108, 108, 108);
} // time.date

.simple-text {
    @include inline-middle;
    font-size: rem(12);
    color: silver;
} // simple-text

.elem {
    + .elem {
        margin-left: 8px;
    }
    @include inline-middle;
} // elem

.gray-text {
    color: rgb(158, 158, 158);
    text-decoration: none;
    font-size: rem(14);    
} // gray-text

.crud-controls {
    color: black !important;
    font-size: 14px !important;
    text-decoration: none !important;
    opacity: 1 !important;
    border: none !important;
} // crud-controls

.custom-select {
    background-color: transparent;
    border: 1px solid #D8D8D8;
    // margin-top: 8px;
    padding: 6px 10px;
    padding-right: 15px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 3px;
    position: relative;
    background: linear-gradient(to bottom, #eeeeee 0%,#D7D7D7 100%); /* W3C */
    @include inline-middle;
    &:after {
        content: '\f0dd';
        position: absolute;
        top: calc(50% - 8px);
        right: 5px;
        font-family: FontAwesome;
        font-size: rem(10);
        color: #000;
    }
    select {
        background: transparent;
        -webkit-appearance: none;
        border: none;
        outline: 0;
    } // select
} // custom-select
