.modal-content {
    box-shadow: none;
    border-radius: 4px;
    border-bottom: 2px solid #A8A8A8;
    padding: 10px;
    .modal-header, .modal-footer {
        text-align: center;
        border: none;
    } // modal-header, modal-footer
    .modal-body {

    } // modal-body
} // modal-dialog

.btn {
    border-color: none;
}

.btn-default {} // btn-default
.btn-primary {
    display: inline-block;
    background: #00cf70;
    border-bottom: 1px solid #3D980F;
    border-radius: 4px;
    color: #fff;
} // btn-primary