<div class="wrapper wrapper-content">
  <div class="row" ng-if="AppStore.policyErrorMessage">
    <div class="ibox-content">
      <p>{{ ::AppStore.policyErrorMessage }}</p>
    </div>
  </div>
  <loading-spinner ng-if="AppStore.loading"></loading-spinner>
  <div class="row" ng-if="!AppStore.policyErrorMessage">
    <div ng-class="{'col-md-9': AppStore.selectedResourceType}">
      <div ng-if="!AppStore.selectedResourceType">
        <appstore-providers
          ng-if="!AppStore.loadingProviders"
          services="AppStore.getServices()"
          on-select="AppStore.setService(service)">
        </appstore-providers>
      </div>
      <div class="ibox" ng-if="AppStore.selectedResourceType">
        <div class="ibox-title">
          <h5>
            <span translate>Create</span>
            {{ AppStore.getServiceTypeDisplay(AppStore.serviceType) }}
            {{ AppStore.selectedResourceTypeName }}
          </h5>
        </div>
        <div class="ibox-content">
          <div ng-if="AppStore.loadingResourceProperties">
            <loading-spinner></loading-spinner>
          </div>
          <div class="form-horizontal" ng-if="!AppStore.loadingResourceProperties">
            <div class="form-group">
              <div class="col-sm-3 control-label">
                <label translate>Provider</label>
              </div>
              <div class="col-sm-4 form-control-static">
                {{ AppStore.selectedService.name }}
              </div>
            </div>
            <appstore-form fields="AppStore.fields"
              errors="AppStore.errors"
              model="AppStore.instance"
              form="$ctrl.form">
            </appstore-form>
          </div>
        </div>
        <div class="ibox-content">
          <a class="btn btn-primary pull-right"
            submit-button="AppStore.save()" type="submit"
            ng-disabled="!AppStore.canSave()"
            uib-tooltip="{{ AppStore.getTooltip() }}">
            <i class="fa fa fa-shopping-cart"></i>
            <span ng-if="AppStore.enablePurchaseCostDisplay" translate>Purchase</span>
            <span ng-if="!AppStore.enablePurchaseCostDisplay" translate>Create</span>
          </a>
          <button class="btn btn-white" type="button"
            ng-click="AppStore.resetResourceType()">
            <span translate>Cancel</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3" ng-if="AppStore.renderStore">
      <div ng-if="AppStore.selectedResourceType && !AppStore.loadingResourceProperties">
        <appstore-summary
          component="AppStore.fields.summaryComponent"
          model="AppStore.instance">
        </appstore-summary>
      </div>
    </div>
  </div>
</div>
