<div ng-repeat="quota in $ctrl.quotas">
  <p class="pull-right text-muted">
    {{ $ctrl.getSummary(quota) }}
  </p>
  <p>
    <i class="fa fa-exclamation-triangle"
      ng-if="$ctrl.exceeds(quota)"
      uib-tooltip="{{ 'Quota usage exceeds limit.' | translate }}"></i>
    <strong>{{ quota.name | quotaName }}</strong>
  </p>
  <uib-progress max="quota.limit">
    <uib-bar value="quota.usage" type="success" uib-tooltip="{{ $ctrl.getExisting(quota) }}"/>
    <uib-bar value="quota.required" type="warning" uib-tooltip="{{ $ctrl.getPlanned(quota) }}"/>
  </uib-progress>
</div>
