.form-switch.form-check-solid .form-check-input:checked {
  background-color: $brand;

  &:disabled {
    background-color: $brand-100;
  }
}

.form-check-input {
  &:checked,
  &[type='checkbox']:indeterminate {
    border-color: $brand;
  }
}
