@import '~sass/inspinia/_variables.scss';
@import '~sass/variables.scss';

.categorySectionsFilterFormActions {
  display: flex;
  justify-content: flex-end;

  button:last-child {
    color: $white;
    background-color: $navy;
    margin-left: 16px;
  }
}
