.serviceProvider {
  .serviceProvider__content {
    display: flex;
    padding: 0 24px;
    column-gap: 16px;

    .serviceProvider__grid {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .serviceProvider__content {
    flex-direction: column;
    row-gap: 30px;
  }
}
