.serviceProvidersHeader {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 40px;

  img {
    width: 30%;
  }
}

@media only screen and (max-width: 745px) {
  .serviceProvidersHeader img {
    display: none;
  }
}
