@import '~sass/variables.scss';
@import '~sass/inspinia/_variables.scss';

button.providerDescUpdateBtn {
  background-color: $navy;
  color: $white;
  max-width: 120px;

  &:hover {
    font-weight: bold;
  }
}
