<a ui-sref="appstore.vms" translate>back to store</a>

<div class="xs-hide">
  <ul class="sort-list">
      <li>
          <a class="toggle-link"
             ng-repeat="(key, filter) in entityList.servicesTypes"
             ng-click="entityList.toggleFilter(filter)"
             ng-class="{'active': entityList.isFilterChosen(filter)}">{{ filter }}</a>
      </li>
  </ul>
</div>
<div class="xs-show">
  <div class="details-table__row">
    <div class="details-table__key">
      <span translate>Filter by type</span>
    </div>
    <div class="details-table__value">
      <select
          ng-options="key as key for key in entityList.servicesTypes"
          ng-model="key"
          ng-change="entityList.filterByResourceType(key)">
        <option value=""><span translate>All</span></option>
      </select>
    </div>
  </div>
</div>
<compact-table-sorter
  fields="entityOptions.list"
  order-field="entityList.orderField"
  reverse-order="entityList.reverseOrder">
</compact-table-sorter>
