<div>
    <div class="container">
        <h1>Compare services</h1>
    </div>
    <div class="white-box">
        <ul class="sort-list">
            <li class="title">
            </li>
            <li>
                <a href="" class="page-size active">Services</a>
                <a href="" class="page-size">Issue tracking</a>
                <a href="" class="page-size">Code management</a>
            </li>
        </ul>
    </div>

    <div class="white-box">
        <ul class="object-list">
            <li class="list-item list-header">
                <div class="name">
                    <a href="#" class="list-sort">Service</a>
                </div>
                <div class="on-mobile">
                    <div class="actions-button sort-by-value" stoppropagation>
                        <a class="button-simple" ng-click="openSort=!openSort">Value</a>
                        <ul class="actions-dropdown sort-by-value" ng-show="openSort" abscenter>
                            <li>
                                <a class="button-simple">Value</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="additional-cell">
                    <a href="#" class="list-sort">CPU</a>
                </div>
                <div class="additional-cell">
                    <a href="#" class="list-sort">RAM</a>
                </div>
                <div class="additional-cell">
                    <a href="#" class="list-sort">Storage</a>
                </div>
                <div class="additional-cell">
                    <a href="#" class="list-sort">Price/hour</a>
                </div>
                <div class="actions"></div>
            </li>
            <li ng-repeat="item in [1, 2, 3, 4, 5]">
                <div class="list-item resources on-desktop">
                    <div class="name">
                        <img src="/static/images/tmp/compare-ser.png" alt="">
                    </div>
                    <div class="additional-cell">
                        1
                    </div>
                    <div class="additional-cell">
                        512MB
                    </div>
                    <div class="additional-cell">
                        20GB
                    </div>
                    <div class="additional-cell">
                        $0.007
                    </div>
                    <div class="actions">
                        <div class="actions-button">
                            <a class="button expand"
                                stoppropagation></a>
                        </div>
                    </div>
                </div>
                <div class="list-item list pointer resources on-mobile"
                    ng-click="expandItem=!expandItem; UserList.showMore(user)">
                    <div>
                        <img src="/static/images/tmp/compare-ser.png" alt="">
                    </div>
                    <div>
                        Value
                    </div>
                    <div class="actions">
                        <div class="actions-button">
                            <a class="button expand"
                                stoppropagation></a>
                        </div>
                    </div>
                </div>
                <div class="list-item-details on-mobile"
                    ng-show="expandItem"
                    ng-class="{'opened': expandItem}">
                    <section detailscontent="">
                        <div class="row">
                            <div class="col mobile-half">CPU</div>
                            <div class="col mobile-half">1</div>
                            <div class="col mobile-half">RAM</div>
                            <div class="col mobile-half">512MB</div>
                            <div class="col mobile-half">Storage</div>
                            <div class="col mobile-half">20GB</div>
                            <div class="col mobile-half">Price/hour</div>
                            <div class="col mobile-half">$0.007</div>
                        </div>
                    </section>
                </div>
            </li>
        </ul>
    </div>

</div>
