//
// Aside Primary
//

// General mode
.app-aside-tertiary {
  @include app-layout-transition();
}

// Desktop mode
@include media-breakpoint-up(lg) {
  // Base
  .app-aside-tertiary {
    @include attr(width, get($app-aside-tertiary-config, base, width));
    @include attr(z-index, get($app-aside-tertiary-config, base, z-index));
    @include attr(
      background-color,
      get($app-aside-tertiary-config, base, bg-color)
    );
    @include attr(
      box-shadow,
      get($app-aside-tertiary-config, base, box-shadow)
    );
    @include attr(
      border-left,
      get($app-aside-tertiary-config, base, border-start)
    );
    @include attr(
      border-right,
      get($app-aside-tertiary-config, base, border-end)
    );
  }

  // Vars
  .app-aside-tertiary-fixed {
    --kt-app-aside-tertiary-width: #{get(
        $app-aside-tertiary-config,
        base,
        width
      )};
    --kt-app-aside-tertiary-actual-width: #{get(
        $app-aside-tertiary-config,
        base,
        width
      )};
  }

  [data-kt-app-aside-tertiary-collapse='on'] {
    --kt-app-aside-tertiary-width: #{get(
        $app-aside-tertiary-config,
        collapse,
        width
      )};
  }

  [data-kt-app-aside-tertiary-minimize='on'] {
    --kt-app-aside-tertiary-width: #{get(
        $app-aside-tertiary-config,
        minimize,
        width
      )};
  }

  // States
  .app-aside-tertiary {
    .app-aside-tertiary-fixed & {
      position: fixed;
      left: calc(
        var(--kt-app-aside-primary-width) + var(--kt-app-aside-secondary-width)
      );
      top: 0;
      bottom: 0;
      width: var(--kt-app-aside-tertiary-width);
      @include attr(z-index, get($app-aside-tertiary-config, base, z-index));
      @include attr(
        box-shadow,
        get($app-aside-tertiary-config, base, box-shadow)
      );
      @include attr(
        border-left,
        get($app-aside-tertiary-config, base, border-start)
      );
      @include attr(
        border-right,
        get($app-aside-tertiary-config, base, border-end)
      );
    }

    .app-aside-tertiary-fixed.app-aside-stacked & {
      position: relative;
    }

    [data-kt-app-aside-tertiary-sticky='on'] & {
      position: fixed;
      left: calc(
        var(--kt-app-aside-primary-width) + var(--kt-app-aside-secondary-width)
      );
      top: 0;
      bottom: 0;
      @include app-layout-transition();
      @include attr(z-index, get($app-aside-tertiary-config, sticky, z-index));
      @include attr(
        box-shadow,
        get($app-aside-tertiary-config, sticky, box-shadow)
      );
      @include attr(
        border-left,
        get($app-aside-tertiary-config, sticky, border-start)
      );
      @include attr(
        border-right,
        get($app-aside-tertiary-config, sticky, border-end)
      );
    }

    [data-kt-app-aside-tertiary-collapse='on'] & {
      @include app-layout-transition();
      left: calc(
        var(--kt-app-aside-primary-width) + var(--kt-app-aside-secondary-width) -
          var(--kt-app-aside-tertiary-actual-width)
      );
      width: var(--kt-app-aside-tertiary-actual-width);
    }

    [data-kt-app-aside-tertiary-minimize='on'] & {
      @include app-layout-transition();
      @include attr(
        background-color,
        get($app-aside-tertiary-config, minimize, bg-color)
      );
      @include attr(
        box-shadow,
        get($app-aside-tertiary-config, minimize, box-shadow)
      );
      @include attr(
        border-left,
        get($app-aside-tertiary-config, minimize, border-start)
      );
      @include attr(
        border-right,
        get($app-aside-tertiary-config, minimize, border-end)
      );
    }
  }

  // Integration
  .app-aside-tertiary {
    .app-aside-tertiary-fixed.app-header-fixed:not(.app-aside-tertiary-push-header)
      & {
      top: var(--kt-app-header-height);
    }
  }
}

// Tablet & mobile modes
@include media-breakpoint-down(lg) {
  .app-aside-tertiary {
    display: none;
    @include attr(width, get($app-aside-tertiary-config, base, width-mobile));
    @include attr(
      z-index,
      get($app-aside-tertiary-config, base, z-index-mobile)
    );
    @include attr(
      background-color,
      get($app-aside-tertiary-config, base, bg-color-mobile)
    );
    @include attr(
      box-shadow,
      get($app-aside-tertiary-config, base, box-shadow-mobile)
    );
    @include attr(
      border-left,
      get($app-aside-tertiary-config, base, border-start-mobile)
    );
    @include attr(
      border-right,
      get($app-aside-tertiary-config, base, border-end-mobile)
    );
  }
}
