.plan-details-container {
  table.form-table {
    th,
    td {
      padding-top: 16px;
      padding-bottom: 16px;
    }

    .title {
      color: var(--bs-gray-700);
    }
    .description {
      color: var(--bs-gray-600);
    }
    .value {
      color: var(--bs-gray-500);
    }
    .col-actions {
      color: var(--bs-gray-500);
      font-weight: 500;

      .form-check-label {
        color: var(--bs-gray-700);
        font-size: 14px;
        font-weight: 400;
      }
    }
    tr:not(.total) .col-actions {
      text-align: start;
    }
  }
}
