.resource-actions-modal {
  .action-group-label,
  [role='menuitem'],
  [role='option'],
  [data-testid='action-item'] {
    padding-left: 1.85rem;
    padding-right: 1.85rem;
  }

  .input-group {
    width: 100% !important;
  }
}
