<div class="table-responsive">
    <table class="items-table">
        <tr>
            <th class="name">
                <a href="" class="sort">Name</a>
            </th>
            <th class="type">
                <a href="" class="sort">Type</a>
            </th>
            <th>
                <a href="" class="sort">Project</a>
            </th>
            <th>
                <a href="" class="sort">Access information</a>
                <!-- access_information -->
            </th>
            <th>
                <a href="" class="sort">Status</a>
            </th>
            <th></th>
        </tr>
        <tr ng-repeat="resource in ResourceList.list">
            <td class="name">
                <h2 class="item-title">{{ resource.hostname }}</h2>
            </td>
            <td class="type">
                <span class="elem item-type vm">{{ resource.type }}</span>
            </td>
            <td>
                <a ui-sref="project({uuid: resource.project_uuid })" class="elem sort-display">{{ resource.project_name }}</a>
            </td>
            <td class="col-xs-2">
                <ul class="standart-list gray-text">
                    <li ng-repeat="access in resource.access_information">{{ access }}</li>
                </ul>
            </td>
            <td class="col-xs-2">
                <span class="status-display" ng-class="{'online': resource.state == 'Online', 'offline' : resource.state == 'Offline'}">
                    {{ resource.state }}
                </span>
            </td>
            <td class="col-xs-2 controls-ctn">
                <ul class="controls pull-right">
                    <li>
                        <a href="#" class="poweroff offline"
                           ng-click="ResourceList.stopResource(resource.uuid)" title="Stop"
                           ng-show="ResourceList.isOperationAvailable(resource, 'stop')"><i class="fa fa-power-off"></i></a>
                        <a href="#" class="poweroff online" title="Start"
                           ng-click="ResourceList.startResource(resource.uuid)"
                           ng-show="ResourceList.isOperationAvailable(resource, 'start')"><i class="fa fa-power-off"></i></a>
                    </li>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Restart"
                           ng-click="ResourceList.restartResource(resource.uuid)"
                           ng-show="ResourceList.isOperationAvailable(resource, 'restart')"><i class="fa fa-refresh"></i></a>
                    </li>
                    <li>
                        <a href="#" class="remove" data-toggle="tooltip" data-placement="top" title="Remove"
                           ng-click="ResourceList.deleteResource(resource.uuid, $index)"
                           ng-show="ResourceList.isOperationAvailable(resource, 'delete')"><i class="fa fa-times"></i></a>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
