<div ng-controller="ProjectDetailsController as ProjectCtrl">
    <sidebar items="items" context="context"></sidebar>
</div>
<div id="page-wrapper"
    ng-class="$state.current.data.pageClass || 'white-bg'"
    ng-controller="ResourceDetailUpdateController as ResourceCtrl">
    <div ng-if="!ResourceCtrl.model">
        <h1 class="text-center">
            <i class="icon fa-spinner fa-spin"></i>
        </h1>
    </div>
    <div ng-if="ResourceCtrl.model">
    <nc-header></nc-header>
    <div class="row wrapper white-bg page-heading">
        <div class="col-lg-12">
            <h2>{{ ResourceCtrl.model.name }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="organization.details({uuid: ResourceCtrl.model.customer_uuid })">Home</a>
                </li>
                <li>
                    <a ui-sref="project.details({uuid: ResourceCtrl.model.project_uuid })">{{ ResourceCtrl.model.project_name }}</a>
                </li>
                <li>
                    <a ui-sref="{{ ::ResourceCtrl.listState }}" ng-bind="::ResourceCtrl.listTitle"></a>
                </li>
                <li class="active">
                    <strong>{{ ResourceCtrl.model.name }}</strong>
                </li>
            </ol>
        </div>
    </div>
    <div ui-view></div>
    </div>
</div>
