<div ng-controller="ResourceAddController as ResourceAdd">

<div class="white-box">
    <ul class="sort-list">
        <li class="title">
            <h2 class="app-title">Add resource</h2>
        </li>
    </ul>
    <article class="normal-description">
       Resource is an entity managed by NodeConductor &mdash; for example, it may be a
       virtual machine on OpenStack, a Git repository on Github or a project in
       Atlassian JIRA.
    </article>
</div>

<div class="white-box">
    <section class="short-form">
        <div class="form-row">
            <div class="col label">
                <label for="">Name :</label>
            </div>
            <div class="col input input-full">
                <input type="text" ng-model="ResourceAdd.resource.name">
                <div class="error arrow-up" ng-show="ResourceAdd.errors.name">
                    <ul class="error-list">
                        <li ng-repeat="error in ResourceAdd.errors.name">{{ error }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col label">
                <label for="">
                    <helpicon help-text="The project where provisioned resource will be used."></helpicon>
                    Project:
                </label>
            </div>
            <div class="col input input-full">
                <div class="custom-select project inline-elem full">
                    <select class="full"
                        ng-model="ResourceAdd.selectedProject"
                        ng-options="project as project.name for project in ResourceAdd.projectList"
                        ng-change="ResourceAdd.setProject(ResourceAdd.selectedProject)">
                        <option value="">Choose project</option>
                    </select>
                </div>
                <div class="error arrow-up" ng-show="ResourceAdd.errors.project">
                    <ul class="error-list">
                        <li ng-repeat="error in ResourceAdd.errors.project">{{ error }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="divider br" ng-show="ResourceAdd.showServices"></div>

        <div class="form-row" ng-show="ResourceAdd.showServices">
            <div class="col full">
                <h4 class="app-title">Available providers</h4>
                <!-- service-choice -->
                <div class="appstore-templates">
                    <!-- service -->
                    <div class="appstore-template"
                            ng-repeat="service in ResourceAdd.serviceList"
                            ng-click="ResourceAdd.setService(service)"
                            ng-class="{'state': ResourceAdd.selectedService == service}">
                        <div class="icon">
                            <img src="/static/images/icons/icon_openstack_small.png" alt="" class="icon">
                        </div>
                        <div class="description">
                            <h3>{{ service.cloud_name }}</h3>
                        </div>
                    </div>
                    <!-- /service -->
                </div>
                <!-- /service-choice -->
            </div>
        </div>

        <div class="divider" ng-show="ResourceAdd.showTemplates"></div>

        <div class="form-row" ng-show="ResourceAdd.showTemplates">
            <div class="col full">
                <h4 class="app-title">Template</h4>
                <!-- template-choice -->
                <div class="appstore-templates">
                    <!-- template -->
                    <div class="appstore-template"
                        ng-repeat="template in ResourceAdd.templateList"
                        ng-click="ResourceAdd.setTemplate(template)"
                        ng-class="{'state': ResourceAdd.selectedTemplate == template}">
                        <div class="icon">
                            <img ng-show="template.icon_url" ng-src="{{ template.icon_url }}" alt="" class="icon">
                            <img ng-show="!template.icon_url" src="static/images/os-fallback.png" alt="" class="icon">
                        </div>
                        <div class="description">
                            <h3 class="small">{{ template.name }}</h3>
                            <article class="light-description">
                                <ul>
                                    <li>OS: {{ template.os }}</li>
                                </ul>
                            </article>
                        </div>
                    </div>
                    <!-- /template -->
                </div>
                <!-- /template-choice -->
            </div>
        </div>

        <div class="divider" ng-show="ResourceAdd.showFlavors"></div>

        <div class="form-row" ng-show="ResourceAdd.showFlavors">
            <div class="col full">
                <h4 class="app-title">Flavor</h4>
                <!-- template-choice -->
                <div class="appstore-templates">
                    <!-- template -->
                    <div class="appstore-template" ng-repeat="flavor in ResourceAdd.flavorList" ng-click="ResourceAdd.setFlavor(flavor)" ng-class="{'state': ResourceAdd.selectedFlavor == flavor}">
                        <div class="description">
                            <article class="light-description">
                                <ul class="hardware">
                                    <li>
                                        <i class="flaticon-computer33"></i>
                                        CPUs: {{ flavor.cores }}
                                    </li>
                                    <li>
                                        <i class="flaticon-random"></i>
                                        RAM: {{ flavor.ram / 1024 }} GB
                                    </li>
                                    <li>
                                        <i class="flaticon-hardware1"></i>
                                        Disk: {{ flavor.disk / 1024 }} GB
                                    </li>
                                </ul>
                            </article>
                        </div>
                    </div>
                    <!-- /template -->
                </div>
                <!-- /template-choice -->
            </div>
        </div>

        <div class="divider" ng-show="ResourceAdd.showKeys"></div>
        <div class="form-row" ng-show="ResourceAdd.showKeys">
            <div class="col full">
                <h4 class="app-title">SSH key</h4>
                <!-- key-choice -->
                <div class="appstore-templates">
                    <!-- keys -->
                    <div class="appstore-template"
                            ng-repeat="key in ResourceAdd.keyList"
                            ng-click="ResourceAdd.setKey(key)"
                            ng-class="{'state': ResourceAdd.selectedKey == key}">

                         <div class="description">
                            <h3>{{ key.name }}</h3>
                             <!-- TODO: move to a tooltip -->
                             <!-- article class="light-description">
                             {{ key.fingerprint }}
                             </article -->
                         </div>
                    </div>
                    <!-- /jeys -->
                </div>
                <!-- /key-choice -->
            </div>

    </section>

    <!-- non field errors -->
    <div class="simple-line" ng-show="ResourceAdd.errors.non_field_errors">
        <div class="error">
            <ul class="error-list">
                <li ng-repeat="error in ResourceAdd.errors.non_field_errors">
                    {{ error }}
                </li>
            </ul>
        </div>
    </div>
    <!-- /non field errors -->

    <div class="decision">
        <div class="col">
            <a class="button-apply" ng-click="ResourceAdd.save()">Add resource</a>
        </div>
        <div class="col">
            <a class="button-cancel" ng-click="ResourceAdd.cancel()">Cancel</a>
        </div>
    </div>
</div>

</div>
