<div ng-controller="ResourceDetailUpdateController as ResourceDetailUpdate">
    <section class="title-wrapper">
        <div class="container">
            <h1>Resources</h1>
        </div>
    </section>
    <section class="resources-content">
        <div class="container">
            <div class="tabs-wrapper">
                <aside>
                    <div class="input-group">
                        <input type="search" placeholder="Search"/>
                    </div>
                    <a class="open-tabs button" ng-click="openTabs = !openTabs">Tabs</a>
                    <ul class="tabs-links" ng-class="{'tabs-opened': openTabs}">
                        <li class="active">VMs (<span>5</span>)</li>
                        <li>Applications (<span>5</span>)</li>
                        <li>Backups (<span>5</span>)</li>
                        <li>People (<span>4</span>)</li>
                        <li>Providers (<span>3</span>)</li>
                    </ul>
                </aside>
                <div class="tab-content">
                    <div class="tab-title">
                        <ul class="ng-isolate-scope">
                            <a class="toggle-link ng-binding ng-scope active">OpenStack</a>
                            <a class="toggle-link ng-binding ng-scope">Digital Ocean</a>
                            <a class="toggle-link ng-binding ng-scope">AWS EC2</a>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="table">
                        <div class="tr th">
                            <div class="td visual-status display-for-mobile"></div>
                            <div class="td name display-for-mobile">Name</div>
                            <div class="td number">Flavor</div>
                            <div class="td access">Access</div>
                            <div class="td">Actions</div>
                        </div>
                        <div class="tr">
                            <div class="td visual-status display-for-mobile">
                                <div class="status-circle green"></div>
                            </div>
                            <div class="td name display-for-mobile">public-web.example.com <span class="teg">DO</span></div>
                            <div class="td number">1</div>
                            <div class="td access">root@192.168.0.1, key X</div>
                            <div class="td status">configure</div>
                        </div>
                        <div class="tr">
                            <div class="td visual-status display-for-mobile">
                                <div class="status-circle"></div>
                            </div>
                            <div class="td name display-for-mobile">public-web.example.com <span class="teg">DO</span></div>
                            <div class="td number">1</div>
                            <div class="td access">root@192.168.0.1, key X</div>
                            <div class="td status">configure</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
</div>
