<div>
    <section class="title-wrapper">
        <div class="container">
            <h1>Resources</h1>
            <ul class="sort-list">
                <li class="right-sort">
                    <a ui-sref="appstore.store" class="button">
                        <span class="icon plus"></span>
                        <span>Add resource</span>
                    </a>
                    <a ui-sref="import.import" class="button">
                        <span class="icon plus"></span>
                        Import resource
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="resources-content">
        <div class="container">
            <div class="tabs-wrapper">
                <aside>
                    <div class="input-group">
                        <input type="search" placeholder="Search"/>
                    </div>
                    <ul class="tabs-links" ng-init="activeTab='VMs'">
                        <li ng-click="activeTab='VMs'"
                            ng-class="{'active': activeTab=='VMs'}">VMs (<span>5</span>)</li>

                        <li ng-click="activeTab='Applications'"
                            ng-class="{'active': activeTab=='Applications'}">Applications (<span>5</span>)</li>

                        <li ng-click="activeTab='Backups'"
                            ng-class="{'active': activeTab=='Backups'}">Backups (<span>5</span>)</li>

                        <li ng-click="activeTab='People'"
                            ng-class="{'active': activeTab=='People'}">People (<span>4</span>)</li>

                        <li ng-click="activeTab='Providers'"
                            ng-class="{'active': activeTab=='Providers'}">Providers (<span>3</span>)</li>
                    </ul>
                </aside>
                <div class="tab-content" ng-switch="activeTab">
                    <entitylist ng-switch-when="VMs"
                                ng-controller="ResourceListController as ResourceList"
                                entity-list="ResourceList"
                                entity-service="ResourceList.service"
                                entity-buttons="ResourceList.actionButtonsListItems"
                                entity-options="ResourceList.entityOptions"></entitylist>

                    <entitylist ng-switch-when="Backups"
                                ng-controller="BackupListController as ResourceList"
                                entity-list="ResourceList"
                                entity-service="ResourceList.service"
                                entity-buttons="ResourceList.actionButtonsListItems"
                                entity-options="ResourceList.entityOptions"></entitylist>

                    <entitylist ng-switch-when="People"
                                ng-controller="UserListController as ResourceList"
                                entity-list="ResourceList"
                                entity-service="ResourceList.service"
                                entity-buttons="ResourceList.actionButtonsListItems"
                                entity-options="ResourceList.entityOptions"></entitylist>

                    <entitylist ng-switch-when="Providers"
                                ng-controller="ServiceListController as ResourceList"
                                entity-list="ResourceList"
                                entity-service="ResourceList.service"
                                entity-buttons="ResourceList.actionButtonsListItems"
                                entity-options="ResourceList.entityOptions"></entitylist>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
</div>
