<div ng-controller="ResourceListController as ResourceList">

<!-- app-block -->
<section class="app-block">
    <div class="container-fluid">
        <div class="white-box">
            <div class="app-title-line">
                <div class="row">
                    <div class="col-xs-12 first-line">
                        <h2 class="app-title">Resources</h2>
                        <ul class="sort">
                            <li ng-repeat="pageSize in ResourceList.pageSizes">
                                <a href="#/resources/" ng-click="ResourceList.changePageSize(pageSize)"
                                   ng-class="{active: pageSize === ResourceList.currentPageSize}">{{pageSize}}</a>
                            </li>

                            <li class="divid">
                                <div class="search" data-role="search-box">
                                    <input type="text" ng-model='ResourceList.searchInput' ng-keyup="ResourceList.search()">
                                </div>
                            </li>
                        </ul>
                        <div class="crud-box pull-right"><a ui-sref="resources.add" class="crud-controls"><i class="fa fa-plus"></i> Add resource</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /app-block -->

<!-- app-block -->
<section class="app-block">
    <div class="container-fluid">
        <div class="white-box">
            <div class="app-items-list">
                <div ui-view="resourcesList">

                </div>
            </div>
        </div>
    </div>
</section>
<!-- /app-block -->

<div class="app-block">
    <div class="container-fluid">
        <!-- pagination -->
        <div class="pagination">
            <ul>
                <li><a href="#/resources/" ng-repeat="i in ResourceList.getNumber(ResourceList.pages) track by $index"
                       ng-class="{current: ($index+1) === ResourceList.currentPage}"
                       ng-click="ResourceList.changePage($index+1)">{{$index+1}}</a></li>

            </ul>
        </div>
        <!-- /pagination -->
    </div>
</div>

</div>
<!--</div>-->
