<div class="white-box">
    <ul class="sort-list">
        <li class="title">
            <h2 class="app-title">Resources</h2>
        </li>
        <li class="right-sort">
            <a ui-sref="appstore.store" class="button">
                <span class="icon plus"></span>
                <span>Add resource</span>
            </a>
            <a ui-sref="import.import" class="button">
                <span class="icon plus"></span>
                Import resource
            </a>
        </li>
    </ul>
</div>


<ul class="tabs-nav" ng-init="activeTab = 'openstack'">
    <li ng-class="{'active': activeTab === 'openstack'}"
        ng-click="activeTab = 'openstack'">OpenStack</li>
    <li ng-class="{'active': activeTab === 'digitalocean'}"
        ng-click="activeTab = 'digitalocean'">DigitalOcean</li>
</ul>

<section class="tabs-content" ng-switch="activeTab">
    <div class="tab" id="openstack"
        ng-class="{'tab-active': activeTab === 'openstack'}"
        ng-switch-when="openstack">
        <div ng-controller="ResourceListController as ResourceList">
            <entitylist entity-list="ResourceList"
                        entity-service="ResourceList.service"
                        entity-buttons="ResourceList.actionButtonsListItems"
                        entity-options="ResourceList.entityOptions"></entitylist>

        </div>
    </div>
    <div class="tab" id="digitalocean"
        ng-class="{'tab-active': activeTab === 'digitalocean'}"
        ng-switch-when="digitalocean">
        <div ng-controller="DigitalOceanListController as ResourceList">
            <entitylist entity-list="ResourceList"
                        entity-service="ResourceList.service"
                        entity-buttons="ResourceList.actionButtonsListItems"
                        entity-options="ResourceList.entityOptions"></entitylist>
        </div>
    </div>
</section>

