<div ng-controller="ResourceListController as ResourceList">

<div class="white-box" ng-show="ResourceList.list.length > 0 || ResourceList.searchInput">
    <ul class="sort-list">
        <li class="title">
            <h2 class="app-title">Resources</h2>
        </li>
        <pagesize pages-href="#/resources/" pages-list="ResourceList" pages-service="ResourceList.service"></pagesize>
        <li class="search divid">
            <div class="search-box">
                <input type="text" ng-model='ResourceList.searchInput' ng-change="ResourceList.search()">
                <button class="search-button"></button>
            </div>
        </li>
        <li>
            <filter-list filter-controller="ResourceList"></filter-list>
        </li>
        <li class="right-sort">
            <a ui-sref="resources.create" class="button">
                <span class="icon plus"></span>
                <span>Add resource</span>
            </a>
        </li>
    </ul>
</div>

<div class="white-box no-styles" ng-show="ResourceList.list.length <= 0 && !ResourceList.searchInput">
    <h2 class="app-title">
        You have no resources yet.
    </h2>
    <div class="decision">
        <div class="col">
            <a ui-sref="resources.create" class="button">Add resource</a>
        </div>
    </div>
</div>

<div class="white-box" ng-show="ResourceList.list.length > 0 || ResourceList.searchInput">
    <ul class="object-list">
        <li class="list-item list-header">
            <div>
                <a href="#" class="list-sort">Name</a>
            </div>
            <div class="additional-cell">
                <a href="#" class="list-sort">Type</a>
            </div>
            <div class="additional-cell">
                <a href="#" class="list-sort">Project</a>
            </div>
            <div class="additional-cell">
                <a href="#" class="list-sort">Access information</a>
            </div>
            <div class="additional-cell">
                <a href="#" class="list-sort">Status</a>
            </div>
            <div class="actions"></div>
        </li>
        <li ng-repeat="resource in ResourceList.list">
            <div class="list-item resources on-desktop">
                <div class="name">
                    <h3 class="item-title">{{ resource.name }}</h3>
                    <div class="status-circle resource"
                        ng-class="{'online': resource.state == 'Online', 'offline' : resource.state == 'Offline'}"></div>
                </div>
                <div class="additional-cell" ng-hide="collapsedItem">
                    {{ resource.type || "VM" }}
                </div>
                <div class="additional-cell">
                    <a ui-sref="projects.details({uuid: resource.project_uuid })">{{ resource.project_name }}</a>
                </div>
                <div class="additional-cell">
                    <span ng-repeat="access in resource.external_ips">{{ access }}</span>
                    <span ng-if="resource.external_ips.length == 0"><i>No access info</i></span>
                </div>
                <div class="additional-cell">
                    <span class="status"
                        ng-class="{'online': resource.state == 'Online', 'offline' : resource.state == 'Offline'}">
                        {{ resource.state }}</span>
                </div>
                <div class="actions">
                    <div class="actions-button" ng-show="!controller.showgroup">
                        <a class="button" ng-click="openActions=!openActions">actions</a>
                        <ul class="actions-dropdown" ng-show="openActions">
                            <li>
                                <a class="button-simple start"
                                    ng-click="ResourceList.startResource(resource)"
                                    ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'start')}">
                                Start</a>
                            </li>
                            <li>
                                <a class="button-simple stop"
                                    ng-click="ResourceList.stopResource(resource)" title="Stop"
                                    ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'stop')}">
                                Stop</a>
                            </li>
                            <li>
                                <a class="button-simple restart"
                                    ng-click="ResourceList.restartResource(resource)"
                                    ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'restart')}">
                                Restart</a>
                            </li>
                            <li>
                                <a class="button-simple remove"
                                    ng-click="ResourceList.remove(resource)">
                                Remove</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="list-item list pointer resources on-mobile"
                ng-click="expandItem=!expandItem; UserList.showMore(user)">
                <div>
                    <h3 class="item-title">{{ resource.name }}</h3>
                    <div class="status-circle resource"
                        ng-class="{'online': resource.state == 'Online', 'offline' : resource.state == 'Offline'}"></div>
                </div>
                <div class="additional-cell" ng-hide="collapsedItem">
                    {{ resource.type || "VM" }}
                </div>
                <div class="additional-cell">
                    <a ui-sref="projects.details({uuid: resource.project_uuid })">{{ resource.project_name }}</a>
                </div>
                <div class="additional-cell">
                    <span ng-repeat="access in resource.external_ips">{{ access }}</span>
                    <span ng-if="resource.external_ips.length == 0"><i>No access info</i></span>
                </div>
                <div class="additional-cell">
                    <span class="status"
                        ng-class="{'online': resource.state == 'Online', 'offline' : resource.state == 'Offline'}">
                        {{ resource.state }}</span>
                </div>
                <div class="actions">
                    <div class="actions-button" ng-show="!controller.showgroup" stoppropagation>
                        <a class="button" ng-click="openActions=!openActions">actions</a>
                        <ul class="actions-dropdown" ng-show="openActions">
                            <li>
                                <a class="button-simple start"
                                    ng-click="ResourceList.startResource(resource)"
                                    ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'start')}">
                                Start</a>
                            </li>
                            <li>
                                <a class="button-simple stop"
                                    ng-click="ResourceList.stopResource(resource)" title="Stop"
                                    ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'stop')}">
                                Stop</a>
                            </li>
                            <li>
                                <a class="button-simple restart"
                                    ng-click="ResourceList.restartResource(resource)"
                                    ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'restart')}">
                                Restart</a>
                            </li>
                            <li>
                                <a class="button-simple remove"
                                    ng-click="ResourceList.remove(resource)">
                                Remove</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="list-item-details on-mobile"
                ng-show="expandItem"
                ng-class="{'opened': expandItem}">
                <section detailscontent="">
                    <header>
                        <h4 class="item-title">Status</h4>
                    </header>
                    <span class="status"
                        ng-class="{'online': resource.state == 'Online', 'offline' : resource.state == 'Offline'}">
                        {{ resource.state }}</span>
                </section>
                <section detailscontent="">
                    <ul>
                        <li class="item-list">
                            <section>
                                <a class="list-sort">Type</a>
                            </section>
                            <section>
                                <div class="list-sort">Project</div>
                            </section>
                            <section>
                                <div class="list-sort">Access information</div>
                            </section>

                        </li>
                        <li class="item-list">
                            <section>
                                {{ resource.type || "VM" }}
                            </section>
                             <section>
                                <a ui-sref="projects.details({uuid: resource.project_uuid })">{{ resource.project_name }}</a>
                            </section>
                            <section>
                                <span ng-repeat="access in resource.external_ips">{{ access }}</span>
                                <span ng-if="resource.external_ips.length == 0"><i>No access info</i></span>
                            </section>
                        </li>
                    </ul>
                </section>
            </div>
        </li>
    </ul>
</div>

<div class="pagination">
    <pagination pages-href="#/resources/"
        pages-list="ResourceList" pages-service="ResourceList.service"></pagination>
</div>

</div>
