<div class="compact-list__header"
     ng-click="entity.expandItemOpen = !entity.expandItemOpen">
  <div class="compact-list__title">
    <a ui-sref="resources.details({uuid: entity.uuid, resource_type: entity.resource_type})"
       ng-bind="entity.name"></a>
  </div>
  <div class="compact-list__right">
     <expandable-indicator open="entity.expandItemOpen">
     </expandable-indicator>
  </div>
</div>

<div class="compact-list__details" ng-if="entity.expandItemOpen">
  <resource-details resource="entity"></resource-details>
</div>

<action-list-resource
  entity="entity"
  controller="entityList"
  ng-if="entity.expandItemOpen">
</action-list-resource>
