<div ng-if="controller.model.state == 'Erred'" class="error-message">
    {{ controller.model.error_message || controller.defaultErrorMessage }}
</div>

<div ng-if="controller.inProgress">
    <a class="icon refresh spin"></a>
    Please wait a few minutes until resource provisioning is completed.
</div>

<div class="compact-list__details">
    <div class="details-table__row">
      <div class="details-table__key">
        State
      </div>
      <div class="details-table__value">
        {{ controller.model.state }}
      </div>
    </div>

    <div class="details-table__row">
      <div class="details-table__key">
        Type
      </div>
      <div class="details-table__value">
        {{ controller.model.resource_type }}
      </div>
    </div>

    <div class="details-table__row">
      <div class="details-table__key">
        Provider
      </div>
      <div class="details-table__value">
        {{ controller.model.service_name }}
      </div>
    </div>

    <div class="details-table__row">
      <div class="details-table__key">
        Access link
      </div>
      <div class="details-table__value">
        <a ng-show="controller.model.web_url" href="{{ controller.model.web_url }}" target="_blank">
            {{ controller.model.web_url }}
        </a>
        <span ng-show="!controller.model.web_url">No access info</span>
      </div>
    </div>

    <div class="details-table__row">
      <div class="details-table__key">
        Created
      </div>
      <div class="details-table__value">
        <span am-time-ago="controller.model.created" title="{{ controller.model.created }}"></span>
      </div>
    </div>
</div>
