.table-query {
  label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    margin-right: 5px;
  }

  input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
  }
}
