<div class="input-group col-md-6">
  <input type="number"
    min="0"
    ng-min="$ctrl.field.min"
    ng-max="$ctrl.field.max"
    ng-init="$ctrl.model[$ctrl.field.name] = $ctrl.model[$ctrl.field.name] || $ctrl.field.min"
    id="{{ ::$ctrl.field.name }}"
    name="{{ ::$ctrl.field.name }}"
    ng-model="$ctrl.model[$ctrl.field.name]"
    multiply-by="$ctrl.field.factor"
    ng-required="$ctrl.field.required"
    class="form-control"
    ng-pattern="/^[0-9]+$/"
    step="1"
  />
  <span class="input-group-addon" ng-if="::$ctrl.field.units">
    {{ ::$ctrl.field.units }}
  </span>
</div>

<p class="help-block text-danger" ng-if="$ctrl.form[$ctrl.field.name].$error.pattern" translate>
  Not a valid value
</p>

<p class="help-block text-danger" ng-if="$ctrl.form[$ctrl.field.name].$error.min">
  <span translate>Minimal valid value is</span> {{ $ctrl.field.min/$ctrl.field.factor }} {{ ::$ctrl.field.units }}
</p>

<p class="help-block text-danger" ng-if="$ctrl.form[$ctrl.field.name].$error.max">
  <span translate>Maximal valid value is</span> {{ $ctrl.field.max/$ctrl.field.factor }} {{ ::$ctrl.field.units }}
</p>
