@mixin box-number-input() {
  input[type='number'] {
    border-radius: 8px;
    text-align: center;
    padding: 0.68rem 2.7rem;
    min-width: 116px;
    font-weight: 500;
    color: var(--bs-gray-500);

    /* Hide arrows */

    /* Firefox */
    appearance: textfield;

    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }

    &:focus,
    &:active {
      color: var(--bs-primary);
    }
  }

  .plus-btn,
  .minus-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 28px !important;
    height: 28px !important;

    i {
      font-size: 0.85rem;
    }
  }

  .minus-btn {
    left: 8px;
  }
  .plus-btn {
    right: 8px;
  }
}
