.box-number-input {
  display: flex;
  align-items: center;

  .box-number-input-control {
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 6px;
    background-color: var(--bs-light);

    input[type='number'] {
      border-radius: 5px;
      border-color: var(--bs-border-color);
      padding: 0.6rem 0.5rem;
      text-align: center;
      min-width: 60px;
      font-weight: 600;

      /* Hide arrows */
      /* Firefox */
      -moz-appearance: textfield;

      /* Chrome, Safari, Edge, Opera */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &:focus,
      &:active {
        color: var(--bs-primary);
      }
    }

    .plus-btn,
    .minus-btn {
      display: block;
      width: 20px !important;
      padding: 6px;

      i {
        font-size: 0.85rem;
      }
    }
  }
}
