@import './BoxNumberInput';

.box-number-input {
  display: flex;
  align-items: center;

  .box-number-input-control {
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 6px;
    background-color: var(--bs-light);

    @include box-number-input();
  }
}
