.image-input {
  // Input Changed to Empty State
  &.image-input-changed.image-input-empty {
    [data-image-input-action='cancel'],
    [data-kt-image-input-action='cancel'] {
      display: flex;
    }

    [data-image-input-action='remove'],
    [data-kt-image-input-action='remove'] {
      display: none;
    }
  }

  [data-image-input-action='cancel'] {
    display: none;
  }

  // Input Changed State
  &.image-input-changed {
    [data-image-input-action='cancel'] {
      display: flex;
    }

    [data-image-input-action='remove'] {
      display: none;
    }
  }

  // Input Empty State
  &.image-input-empty {
    [data-image-input-action='remove'],
    [data-image-input-action='cancel'] {
      display: none;
    }
  }
}

.imagefield-upload-row {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}

.imagefield-avatar-box {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f6faf7;
  border-radius: 8px;
}

.imagefield-upload-info .btn {
  font-size: 1rem;
  min-width: unset;
  width: auto;
  height: 2.25rem;
  border-radius: 12px;
  box-shadow: none;
  margin-top: 2rem;
}

.imagefield-upload-desc {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
