$headerAndToolbarHeight: calc(65px + var(--kt-toolbar-height));

.v-stepper-form-sidebar {
  width: 350px; /* for larger screen sizes */
  top: $headerAndToolbarHeight;
  z-index: 95 !important;
  position: sticky !important;
  flex-shrink: 0;
  height: calc(100vh - $headerAndToolbarHeight);

  &:not(.drawer) {
    top: calc($headerAndToolbarHeight + 20px);
    height: fit-content;
  }

  .stepper {
    &.stepper-pills {
      &.stepper-column {
        .stepper-item {
          padding: 0;

          &:last-child .stepper-line {
            display: none;
          }
        }

        .stepper-line {
          width: 19px;
        }
      }

      .stepper-item {
        &.completed .stepper-label .stepper-title {
          color: var(--bs-primary);
        }

        .stepper-label .stepper-title {
          font-weight: 500;
          font-size: 0.85rem;
          margin-bottom: 0;
        }

        .stepper-label {
          cursor: pointer;

          &:hover .stepper-title {
            text-decoration: underline;
          }
        }

        .stepper-icon {
          width: unset;
          height: 30px;
          background-color: transparent !important;

          &.error {
            i {
              font-size: 22.7px;
              color: var(--bs-active-warning);
            }
          }

          &.critical-error {
            i {
              font-size: 22.7px;
              color: var(--bs-active-danger);
            }
          }
        }
      }
    }
  }

  .block-summary {
    margin: 0 -2.25rem;
    padding: 1.25rem 2.25rem;
  }
}

body:not(.toolbar-fixed) .v-stepper-form-sidebar {
  top: 65px;
  height: calc(100vh - 65px);
}

@media (width <= 1650px) {
  .v-stepper-form-sidebar {
    width: 300px;
  }
}

/* Equals to bootstrap xl screen size (for smaller than xl) */
@media (width <= 1200px) {
  .v-stepper-form-sidebar {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .v-stepper-form .container-xxl {
    padding-right: 0;
  }
}
