/* Sticky position, offsets and height live in SidebarLayout.tsx. */
.v-stepper-form-sidebar {
  width: 350px; /* for larger screen sizes */
  flex-shrink: 0;

  &.transparent {
    background-color: transparent;
    box-shadow: none;
  }

  .stepper {
    &.stepper-pills {
      &.stepper-column {
        .stepper-item {
          padding: 0;

          &:last-child .stepper-line {
            display: none;
          }
        }

        .stepper-line {
          width: 19px;
        }
      }

      .stepper-item {
        &.completed .stepper-label .stepper-title {
          color: var(--bs-primary);
        }

        .stepper-label .stepper-title {
          font-weight: 500;
          font-size: 0.85rem;
          margin-bottom: 0;
        }

        .stepper-label {
          cursor: pointer;

          &:hover .stepper-title {
            text-decoration: underline;
          }
        }

        .stepper-icon {
          width: unset;
          height: 30px;
          background-color: transparent !important;

          &.error {
            i {
              font-size: 22.7px;
              color: var(--bs-active-warning);
            }
          }
        }
      }
    }
  }
}

@media (width <= 1650px) {
  .v-stepper-form-sidebar {
    width: 300px;
  }
}

/* Equals to bootstrap xl screen size (for smaller than xl) */
@media (width <= 1200px) {
  .v-stepper-form-sidebar {
    width: 100%;
    height: auto !important;
  }
}

.v-stepper-form-header {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
