@import './BoxNumberInput';

.slider-number-input {
  display: flex;
  align-items: center;

  .slider-number-input-range {
    position: relative;
    flex-grow: 1;
    margin: 0 -10px;

    .slider-line-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      height: 8px;
      width: 100%;
      padding: 0 10px;
      margin-top: 6px;
      overflow: hidden;

      .slider-line-bg {
        position: absolute;
        top: 0;
        left: 10px;
        height: 8px;
        background-color: var(--waldur-border-secondary);
        width: calc(100% - 20px);
        border-radius: 4px;
      }

      .slider-line-active {
        position: relative;
        top: 0;
        left: 0;
        height: 8px;
        background-color: var(--waldur-border-brand-solid);
        border-radius: 4px;
      }
    }
  }

  .slider-number-input-control {
    position: relative;
    display: flex;
    margin-left: 3rem;

    @include box-number-input();
    input[type='number'] {
      margin-right: 2px;
      padding-left: 1rem;
      text-align: start;
      width: 70px;

      &.form-control.is-invalid {
        background-position: right 2rem center;
      }
    }
    .plus-btn,
    .minus-btn {
      height: 20px !important;
      padding: 0;
      left: unset;
      right: 5px;
    }
    .minus-btn {
      bottom: 2px;
    }
    .plus-btn {
      top: 2px;
    }
  }

  input[type='range'] {
    appearance: none;
    position: relative;
    background: transparent;
    height: 8px;
    width: 100%;
    margin-top: 4px;
    z-index: 1;

    &::-webkit-slider-runnable-track {
      appearance: none;
      box-shadow: none;
      border: none;
      background: transparent;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      background: var(--waldur-bg-primary);
      border: 1.5px solid var(--waldur-border-brand-solid);
      cursor: pointer;
      transition: box-shadow 0.2s;
    }

    &::-webkit-slider-thumb:hover {
      box-shadow: 0 0 0 1px var(--waldur-border-brand-solid);
    }

    &::-webkit-slider-thumb:active {
      transition:
        box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        left 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
  }
}
