<div ng-if="$ctrl.loading">
  <loading-spinner></loading-spinner>
</div>
<div class="row" ng-if="!$ctrl.loading">
  <div class="form-horizontal">
    <div class="form-group m-b-n">
      <label class="control-label col-sm-3">
        <span translate>Username</span>:
      </label>
      <div class="col-sm-6 m-b-sm">
        <p class="form-control-static">
          {{ ::$ctrl.profile.username }}
        </p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-5">
        <p class="form-control-static">
          <a ui-sref="tos.freeipa" target="_blank">
            <span translate>Terms of Service</span>
          </a>
          <span translate>have been accepted on</span>
          {{ ::$ctrl.profile.agreement_date | dateTime }}
        </p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-5">
        <button
          class="btn btn-info m-r-sm"
          uib-tooltip="{{
            'Add Waldur user ssh keys to the FreeIPA profile' | translate
          }}"
          ng-click="$ctrl.syncProfile()"
        >
          <i class="fa fa-refresh"></i>
          <span translate>Sync profile</span>
        </button>
        <button
          class="btn btn-warning"
          uib-tooltip="{{
            'Disable a profile in FreeIPA. Disabled profiles are not allowed for login into the Linux systems'
              | translate
          }}"
          ng-click="$ctrl.disableProfile()"
          ng-if="$ctrl.profile.is_active"
        >
          <i class="fa fa-toggle-on"></i>
          <span translate>Disable profile</span>
        </button>
        <button
          class="btn btn-success"
          uib-tooltip="{{
            'Enable a profile in FreeIPA. Only enabled profiles are allowed for login into the Linux systems'
              | translate
          }}"
          ng-click="$ctrl.enableProfile()"
          ng-if="!$ctrl.profile.is_active"
        >
          <i class="fa fa-toggle-off"></i>
          <span translate>Enable profile</span>
        </button>
      </div>
    </div>
  </div>
</div>
