<div class="form-group" ng-if="$ctrl.quota">
  <label class="col-sm-3 control-label">
    <span translate>FreeIPA group quota</span>
  </label>
  <div class="col-sm-9 col-lg-6">
    <div ng-if="$ctrl.canManage">
      <div class="btn-group">
        <label
          class="btn btn-default"
          ng-model="$ctrl.quota.unlimited"
          uib-btn-radio="true"
        >
          <span translate>Unlimited</span>
        </label>
        <label
          class="btn btn-default"
          ng-model="$ctrl.quota.unlimited"
          uib-btn-radio="false"
        >
          <span translate>Set limit</span>
        </label>
      </div>

      <div ng-if="!$ctrl.quota.unlimited" class="m-t-sm input-group">
        <input
          class="form-control"
          type="number"
          ng-model="$ctrl.quota.limit"
          min="0"
        />
        <div class="input-group-addon">
          {{ ::$ctrl.currency }}
        </div>
      </div>
    </div>
    <p ng-if="!$ctrl.canManage" class="form-control-static">
      <span ng-if="$ctrl.quota.unlimited">
        <span translate>Unlimited</span>
      </span>
      <span ng-if="!$ctrl.quota.unlimited">
        {{ $ctrl.quota.limit | defaultCurrency }}
      </span>
    </p>
  </div>
</div>
