<div ng-if="$ctrl.loading">
  <loading-spinner></loading-spinner>
</div>
<div class="row" ng-if="!$ctrl.loading">
  <form class="form-horizontal" name="$ctrl.profileForm">
    <div class="form-group">
      <label for="username" class="col-sm-3 col-lg-3 control-label">
        <span translate>Username</span>
      </label>
      <div class="col-sm-6">
        <div ng-class="['m-b-sm', {'input-group': $ctrl.prefix}]">
          <div
            uib-tooltip="{{ 'Username prefix' | translate }}"
            class="input-group-addon"
            ng-if="::$ctrl.prefix">
            {{ ::$ctrl.prefix }}
          </div>
          <input
            class="form-control"
            id="username"
            type="text"
            name="username"
            ng-model="$ctrl.profile.username"
            ng-maxlength="$ctrl.maxUsernameLength"
            ng-pattern="$ctrl.usernamePattern"
            required/>
        </div>
        <p class="form-text text-muted" translate>
          Please select a username that you will use for login into the Linux systems.
        </p>
        <p class="text-danger" ng-if="$ctrl.profileForm.username.$error.pattern" translate>
          Usernames can contain letters (a-z), numbers (0-9), dashes (-), underscores (_) and periods (.).
        </p>
        <p class="text-danger" ng-if="$ctrl.profileForm.username.$error.maxlength" translate>
          Maximum username length with mandatory username prefix is 32 characters.
        </p>
        <p class="text-danger" ng-if="$ctrl.profileForm.username.$error.required" translate>
          Username is required.
        </p>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox col-sm-offset-3 col-xs-12">
        <label>
          <input
            id="acceptPolicy"
            type="checkbox"
            name="acceptPolicy"
            ng-model="$ctrl.profile.agree_with_policy"
            require-true/>
          <span translate>I accept the</span>&nbsp;
          <a ui-sref="tos.freeipa" target="_blank">
            <i class="fa fa-external-link"></i>
            <span translate>Terms of Service</span>
          </a>
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-5">
        <a type="submit"
          class="btn btn-primary"
          ng-disabled="$ctrl.profileForm.$invalid"
          submit-button="$ctrl.submitForm()"
          uib-tooltip="{{ $ctrl.getTooltip() }}">
          <i class="fa fa-plus"></i>
          <span translate>Create</span>
        </a>
      </div>
    </div>
  </form>
</div>
