.offering-card {
  display: block;
  position: relative;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 30px;

  .offering-thumb {
    display: block;
    overflow: hidden;
    padding-bottom: 10px;

    &>img {
      display: block;
      height: 6em;
      width: 6em;
      margin: 10px auto;
      margin-bottom: 0px;
    }
  }

  .offering-card-body {
    padding: 18px;
    padding-top: 0px;
    text-align: center;
    min-height: 100px; //to make sure all cards have the same height regardless content.
  }

  .offering-title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: normal;
  }

  .offering-description {
    width: 100%;
    margin-bottom: 10px;
    font-size: 12px;

    &>a {
      color: #999;
    }
  }

  .offering-installs {
    font-size: 11px;
    margin-left: 5px;
  }
}
