@import '~/src/sass/inspinia/variables';

.table-query {
  width: 380px;

  input {
    font-size: 13px;
    height: 36px;

    &.form-control {
      z-index: 0;
    }
  }

  .btn {
    padding: 7px 12px;
  }

  .fa {
    color: fade-out($text-color, 0.4);
    font-size: 17px;
  }
}

@media (max-width: 767px) {
  .table-query {
    width: 100%;
    padding: 0 15px;
  }
}
