@import '~/src/sass/theme/variables';

.table-buttons .btn {
  &.btn-sm,
  &.btn-group-sm {
    font-size: 13px;
    padding: 7px 12px;
  }

  .fa,
  .caret {
    color: fade-out($text-color, 0.4);
  }
  .fa {
    margin-right: 7px;
    font-size: 16px;
    vertical-align: middle;
  }
  .caret {
    margin-left: 7px;
    border-top: 6px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }
}
