.table_dropdown {
  > button {
    height: 34px;
    width: 34px;
    img {
      height: 19px;
      width: 19px;
    }
  }
  .table_dropdown_menu {
    padding: 10px;
  }
  .export_button {
    padding: 0px !important;
    button {
      padding: 8px !important;
      color: #181c32 !important;
    }
    &.dark {
      button {
        color: #fff !important;
      }
    }
  }
  a {
    width: 180px;
    padding: 8px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 500 !important;
    border-radius: 4px;
  }
}
