@import '~/src/metronic/assets/sass/custom/variables';

.organization-list-item {
  border: none;
  padding: 0.5rem 2rem;

  &:hover,
  &.active {
    background-color: $bg-success-light;
  }

  @media (min-width: 992px) {
    .title {
      margin-left: 300px;
    }
  }
}
