.project-list-item {
  display: flex;
  align-items: center;

  img {
    width: 32px;
    height: 32px;
    background-color: #7d9b83;
    border-radius: 7px;
  }
  .title {
    color: #19311e;

    &:hover {
      text-decoration: underline;
    }
  }
}

.resource-item {
  color: #7f998a;
  font-weight: bold;
  text-align: center;

  i {
    font-size: 36px;
    color: #008800;
  }
  .title {
    font-size: 14px;
    margin: 8px 0 0px;
  }
  .value {
    color: #008800;
  }
}
