.project-list-item {
  display: flex;
  align-items: center;

  img {
    width: 32px;
    height: 32px;
    background-color: #7d9b83;
    border-radius: 7px;
  }
  .title {
    color: #19311e;

    &:hover {
      text-decoration: underline;
    }
  }
}
