<section class="tab-sla">
  <p ng-if="!$ctrl.resource.sla" translate>Resource doesn't have SLA yet. Please connect it to monitoring system.</p>
  <div class="sla-list" ng-if="$ctrl.resource.sla">
    <div class="title" translate>Latest SLA events</div>
    <ul>
      <li ng-repeat="item in $ctrl.events">
        <span>{{ item.state === 'U' ? 'Up' : 'Down' }}</span>
        <span>{{ item.timestamp | dateTime }}</span>
      </li>
    </ul>
  </div>
  <vertical-bar-chart ng-if="$ctrl.data.length > 0" chart-data="$ctrl.data"></vertical-bar-chart>
</section>
