<div class="modal-header">
  <h3 class="modal-title" translate>Change VPC package</h3>
</div>
<div class="modal-body">
  <div ng-if="$ctrl.loading">
    <loading-spinner></loading-spinner>
  </div>
  <div ng-if="!$ctrl.loading">
    <p>
      <strong><span translate>Tenant name</span>:</strong>
      {{ $ctrl.tenant.name }}
    </p>

    <p ng-if="$ctrl.template">
      <strong><span translate>Current VPC package</span>:</strong>
      {{ ::$ctrl.template | formatPackage }}
    </p>

    <p ng-if="$ctrl.quotasUsage">
      <strong><span translate>Current VPC usage</span>:</strong>
      {{ ::$ctrl.quotasUsage | formatFlavor }}
    </p>

    <p class="text-danger"
      ng-repeat="error in $ctrl.errors.package"
      ng-bind="error"></p>

    <p ng-if="$ctrl.templates.length === 0">
      <span translate>There are no suitable VPC packages for this tenant.</span>
    </p>

    <div ng-if="$ctrl.templates.length">
      <p><strong><span translate>New VPC package</span>:</strong></p>
      <choices-table
        choices="$ctrl.templates"
        columns="$ctrl.columns"
        value="$ctrl.newTemplate"
        select-item="$ctrl.selectTemplate(item)"
        filter-options="$ctrl.filterOptions">
      </choices-table>
    </div>
    <p class="text-danger"
      ng-repeat="error in $ctrl.errors.template"
      ng-bind="error"></p>
  </div>
</div>
<div class="modal-footer">
  <button
    type="submit"
    class="btn btn-primary"
    submit-button="$ctrl.submitForm()"
    ng-disabled="!$ctrl.newTemplate">
    <span translate>Submit</span>
  </button>
  <button
    type="button"
    class="btn btn-default"
    ng-click="$ctrl.dismiss()">
    <span translate>Cancel</span>
  </button>
</div>
