<sidebar items="$ctrl.items"></sidebar>
<div id="page-wrapper" class="gray-bg">
  <cookies-consent></cookies-consent>
  <nc-header></nc-header>
  <div class="row wrapper white-bg page-heading" ng-if="$ctrl.pageTitle">
    <div class="col-lg-12">
      <h2>{{ $ctrl.pageTitle | translate }}</h2>
      <ol class="breadcrumb" ng-if="!$ctrl.hideBreadcrumbs">
        <li>
          <a ng-click="$ctrl.gotoDashboard()" translate>Support dashboard</a>
        </li>
        <li class="active">
          <strong>{{ $ctrl.pageTitle | translate }}</strong>
        </li>
      </ol>
    </div>
  </div>
  <div class="wrapper wrapper-content footer-indent">
    <div class="row">
      <ui-view></ui-view>
    </div>
  </div>
  <app-footer></app-footer>
</div>
