<div class="ibox" ng-if="$ctrl.loading">
  <loading-spinner></loading-spinner>
</div>
<div class="ibox" ng-if="!$ctrl.loading">
  <div class="ibox-title">
    <h5>
      <span translate>Checkout summary</span>
    </h5>
  </div>
  <div class="ibox-content" ng-if="$ctrl.package">
    <table class="table table-bordered">
      <tbody>
        <tr ng-if="$ctrl.model.name">
          <td><strong translate>Allocation name</strong></td>
          <td>{{ $ctrl.model.name }}</td>
        </tr>
        <tr>
          <td><strong translate>Price package name</strong></td>
          <td>{{ $ctrl.package.name }}</td>
        </tr>
        <tr>
          <td><strong translate>Price of CPU hour</strong></td>
          <td>{{ $ctrl.package.cpu_price | defaultCurrency }}</td>
        </tr>
        <tr>
          <td><strong translate>Price of GPU hour</strong></td>
          <td>{{ $ctrl.package.gpu_price | defaultCurrency }}</td>
        </tr>
        <tr>
          <td><strong translate>Price of RAM GB</strong></td>
          <td>{{ $ctrl.package.ram_price | defaultCurrency }}</td>
        </tr>
        <tr>
          <td>
            <strong translate>Estimated maximum price</strong>
            <price-tooltip></price-tooltip>
          </td>
          <td>
            <p>{{ $ctrl.getEstimatedPrice() | defaultCurrency }}</p>
            <small>Please note, that actual billing will be usage based.</small>
          </td>
        </tr>
        <tr>
          <td><strong translate>Invoiced to</strong></td>
          <td>{{ $ctrl.model.customer.name }}</td>
        </tr>
        <tr>
          <td><strong translate>Project</strong></td>
          <td>{{ $ctrl.model.project.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
