body {
  font-family: Helvetica, Arial;
  font-size: 16px;
  font-size: 1rem;
  color: #777;
  margin: 0;
}

a {
  color: #71A4C3;
}

a:hover, a:active, a:focus {
  outline: 0;
}

.container {
  box-sizing: border-box;
  width: 960px;
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

form fieldset {
  border: none;
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

td {
  margin: 0;
  padding: 0;
  vertical-align: top;
}

th {
  text-align: left;
  vertical-align: top;
}

.app-header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #E2E2E2;
}
.app-header .main-nav ul {
  margin: 0;
  padding: 0;
}
.app-header .main-nav ul li {
  list-style: none;
}
.app-header .main-nav ul li {
  display: inline-block;
}
.app-header .main-nav ul li a {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
  color: #565656;
  text-decoration: none;
}
.app-header .main-nav ul li a:hover, .app-header .main-nav ul li a.current {
  background: #565656;
  color: #e2e2e2;
}

.app-login-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  text-align: center;
}
.app-login-window h3.login {
  text-align: center;
  margin-bottom: 0;
  font-size: 3rem;
  color: #000;
}
.app-login-window .app-login-content {
  display: inline-block;
  box-sizing: border-box;
  padding: 30px;
  padding-top: 20px;
}
.app-login-window .app-login-content .login-with {
  border: none;
  display: inline-block;
  background: #00cf70;
  border-bottom: 2px solid #508E31;
  border-radius: 4px;
  padding: 5px 10px;
  line-height: 1;
  margin-right: 10px;
  text-decoration: none;
  padding-top: 10px;
}
.app-login-window .app-login-content .login-with:nth-child(1) {
  margin-right: none;
}
.app-login-window .app-login-content .login-with span {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.25rem;
  color: #fff;
}
.app-login-window .app-login-content .login-with .fa {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 1.875rem;
}

.dashboard.dark-dash {
  background: #565656;
  color: #fff;
  padding-bottom: 20px;
}
.dashboard.m-top {
  margin-top: 20px;
}
.dashboard .container {
  padding-left: 15px;
  padding-right: 15px;
}
.dashboard .title-separate {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px dashed #d2d2d2;
}
.dashboard .dash-block {
  overflow: hidden;
  margin-bottom: 30px;
}
.dashboard .dash-block:nth-child(1) {
  margin-bottom: 0;
}
.dashboard .dash-block .summary-info {
  width: 33.33333%;
  float: left;
  box-sizing: border-box;
  padding: 15px;
}
.dashboard .dash-block .summary-info:nth-child(3n+1) {
  clear: both;
}
.dashboard .dash-block .summary-info .content {
  border-radius: 4px;
  border-bottom: 2px solid #A8A8A8;
  background: #ECECEC;
  padding: 10px;
  text-align: center;
}
.dashboard .dash-block .summary-info .content.events-log {
  border-bottom: none;
  background: none;
  text-align: left;
}
.dashboard .dash-block .summary-info .content.events-log ul {
  margin: 0;
  padding: 0;
}
.dashboard .dash-block .summary-info .content.events-log ul li {
  list-style: none;
}
.dashboard .dash-block .summary-info .content.events-log ul li + li {
  margin-top: .25rem;
}
.dashboard .dash-block .summary-info .content.events-log ul li a {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-weight: 200;
  text-decoration: none;
}
.dashboard .dash-block .summary-info .content.events-log ul li a:before {
  display: inline-block;
  vertical-align: middle;
  content: attr(data-type);
  margin-right: 4px;
  background: #83addb;
  border-radius: 2px;
  padding: 2px 4px;
  box-sizing: border-box;
  color: #fff;
  font-weight: 200;
  background: #8eadd7;
}
.dashboard .dash-block .summary-info .content.events-log ul li a.created:before {
  background: #2e88d3;
}
.dashboard .dash-block .summary-info .content.events-log ul li a.rebooted:before {
  background: #2ed3c0;
}
.dashboard .dash-block .summary-info .content.events-log ul li a.stopped:before {
  background: #d32e2e;
}
.dashboard .dash-block .summary-info .content .count {
  width: 45%;
  display: inline-block;
  vertical-align: middle;
  font-size: 5rem;
  color: #4A4A4A;
  text-align: center;
}
.dashboard .dash-block .summary-info .content .activies {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.dashboard .dash-block .summary-info .content .activies ul {
  margin: 0;
  padding: 0;
}
.dashboard .dash-block .summary-info .content .activies ul li {
  list-style: none;
}
.dashboard .dash-block .summary-info .content .activies ul li + li {
  margin-top: .5rem;
}
.dashboard .dash-block .summary-info .content .activies ul li a {
  display: inline-block;
  vertical-align: middle;
  color: #000;
  text-decoration: none;
}
.dashboard .dash-block .summary-info .content .activies ul li a:before {
  display: inline-block;
  vertical-align: middle;
  content: attr(data-count);
  margin-right: 4px;
  width: 36px;
  height: 36px;
  background: #83addb;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  box-sizing: border-box;
  padding-top: 8px;
  color: #fff;
  font-weight: 700;
}
.dashboard .dash-block .dash-title {
  text-align: center;
}
.dashboard .dash-block .project-list table.project-list-table tr .name {
  width: 80px;
}
.dashboard .dash-block .project-list table.project-list-table tr .actions {
  width: 120px;
  text-align: center;
}
.dashboard .dash-block .project-list table.project-list-table tr .actions button {
  font-size: 1rem;
  background: #d5d5d5;
  border: none;
  border-bottom: 1px solid #bbbbbb;
  border-radius: 3px;
  padding: 4px 6px;
  color: #414141;
  cursor: pointer;
}
.dashboard .dash-block .project-list table.project-list-table tr .actions button.remove {
  background: #d32e2e;
  border-bottom: 1px solid #790101;
  color: #fff;
  opacity: .5;
}
.dashboard .dash-block .project-list table.project-list-table tr .actions button.remove:hover {
  opacity: 1;
}
.dashboard .dash-block .project-list table.project-list-table tr:nth-child(odd) td {
  background: #f4f4f4;
}
.dashboard .dash-block .project-list table.project-list-table tr th, .dashboard .dash-block .project-list table.project-list-table tr td {
  padding: 10px 15px;
}
.dashboard .dash-block .project-list table.project-list-table tr th {
  cursor: pointer;
  border-bottom: 1px solid gray;
}
.dashboard .dash-block .project-list table.project-list-table tr th + th {
  border-left: 1px solid gray;
}
.dashboard .dash-block .project-list table.project-list-table tr td + td {
  border-left: 1px solid #dddddd;
}
.dashboard .dash-block .project-list table.project-list-table tr td ul {
  margin: 0;
  padding: 0;
}
.dashboard .dash-block .project-list table.project-list-table tr td ul li {
  list-style: none;
}
.dashboard .dash-block .project-list table.project-list-table tr td ul li + li {
  margin-top: .25rem;
}
.dashboard .dash-block .project-list table.project-list-table tr td ul li a {
  text-decoration: none;
  font-size: 0.9rem;
}

.verify-data .verify-block {
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.verify-data .verify-block:nth-child(2n+1) {
  clear: both;
}
.verify-data .verify-block.portrait-block {
  width: 30%;
}
.verify-data .verify-block.data-block {
  width: 70%;
}
.verify-data .data-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px dashed #d2d2d2;
  font-size: 3rem;
  color: #000;
}
.verify-data .portrait {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding-left: 15px;
}
.verify-data .portrait img {
  border-radius: 4px;
  border-bottom: 2px solid #888888;
}
.verify-data .data {
  padding-left: 40px;
}
.verify-data .data fieldset + fieldset {
  margin-top: 1rem;
}
.verify-data .data fieldset.submit-box {
  margin-top: 3rem;
  padding-left: 15px;
}
.verify-data .data fieldset.can-edit {
  position: relative;
}
.verify-data .data fieldset.can-edit:hover:before {
  position: absolute;
  top: 20px;
  left: -20px;
  content: "\f040";
  font-family: FontAwesome;
}
.verify-data .data fieldset input[type=text], .verify-data .data fieldset textarea {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.875rem;
  padding: 10px 15px;
  border-radius: 4px;
  border: none;
  outline: 0;
}
.verify-data .data fieldset input[type=text]:focus, .verify-data .data fieldset textarea:focus {
  box-shadow: 0px 0px 10px 0px #B2DF9C;
}
.verify-data .data fieldset .login-with {
  color: #000;
  text-decoration: none;
}
.verify-data .data fieldset .submit {
  border: none;
  display: inline-block;
  background: #00cf70;
  border-bottom: 2px solid #508E31;
  border-radius: 4px;
  padding: 5px 10px;
  line-height: 1;
  margin-right: 10px;
  text-decoration: none;
  padding-top: 10px;
}
.verify-data .data fieldset .submit:nth-child(1) {
  margin-right: none;
}
.verify-data .data fieldset .submit span {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.25rem;
  color: #fff;
}
.verify-data .data fieldset .submit .fa {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 1.875rem;
}

/*# sourceMappingURL=style.css.map */
