<div ng-if="!ListController.initialized">
  <loading-spinner></loading-spinner>
</div>
<div ng-if="ListController.initialized">
  <div
    class="row"
    ng-if="ListController.userFilter.choices || ListController.selectFilter.choices"
  >
    <div class="col-md-9" ng-if="ListController.userFilter">
      <div ng-if="ListController.activeFixedPricePaymentProfile">
        <span
          ng-if="ListController.activeFixedPricePaymentProfile.agreement_number"
          >Organization has signed a fixed price agreement
          {{ ListController.activeFixedPricePaymentProfile.agreement_number }}.
          <span ng-if="ListController.activeFixedPricePaymentProfile.end_date">
            End date of the agreement is
            {{ ListController.activeFixedPricePaymentProfile.end_date }}.
          </span>
        </span>
      </div>

      <filter-list
        on-select="ListController.getList()"
        is-loading="ListController.loading"
        search-filters="ListController.userFilter.choices"
      >
      </filter-list>
    </div>
    <div class="col-md-3" ng-if="ListController.selectFilter.choices">
      <filter-selector
        on-select="ListController.getList()"
        is-loading="ListController.loading"
        options="ListController.selectFilter"
      >
      </filter-selector>
    </div>
  </div>
  <responsive-table table-ctrl="ListController"></responsive-table>
</div>
