<div ng-controller="ProjectWorkspaceController">
    <sidebar items="items" context="context"></sidebar>
    <div id="page-wrapper" ng-class="$state.current.data.pageClass || 'white-bg'" ng-if="currentProject">
        <nc-header/>
        <div class="row wrapper white-bg page-heading">
            <div class="col-lg-8">
                <h2>{{ $state.current.data.pageTitle | translate }}</h2>
                <p ng-if="currentProject.description">
                    {{ currentProject.description }}
                </p>
                <ol class="breadcrumb">
                    <li>
                        <a ui-sref="project.details({uuid: currentProject.uuid })" translate>Project dashboard</a>
                    </li>
                    <li class="active">
                        <strong>{{ ($state.current.data.pageTitle | translate) || context.project.name }}</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-4" ng-if="$state.current.name === 'project.details'">
                <project-details-button project="currentProject"></project-details-button>
            </div>
        </div>
       <div ui-view></div>
       <app-footer/>
    </div>
</div>
