<div ng-controller="ProjectDetailsController">
    <sidebar items="items" context="context"></sidebar>
    <div id="page-wrapper" ng-class="$state.current.data.pageClass || 'white-bg'" ng-if="currentProject">
        <nc-header/>
        <div class="row wrapper white-bg page-heading">
            <div class="col-lg-12">
                <h2>{{ $state.current.data.pageTitle }}</h2>
                <p ng-if="currentProject.description">
                    {{currentProject.description}}
                </p>
                <ol class="breadcrumb">
                    <li>
                        <a ui-sref="project.details({uuid: currentProject.uuid })">Project dashboard</a>
                    </li>
                    <li class="active">
                        <strong>{{ $state.current.data.pageTitle || context.project.name }}</strong>
                    </li>
                </ol>
            </div>
        </div>
       <div ui-view></div>
       <app-footer/>
    </div>
</div>
