<div ng-controller="ProjectWorkspaceController">
    <sidebar items="items" context="context"></sidebar>
    <div id="page-wrapper" ng-class="$state.current.data.pageClass || 'white-bg'" ng-if="currentProject">
        <cookies-consent/>
        <nc-header/>
        <div class="row wrapper white-bg page-heading" ng-hide="$state.current.data.hideHeader">
            <div class="col-lg-6">
                <h2>{{ $state.current.data.pageTitle | translate }}</h2>
                <p ng-if="currentProject.description">
                    {{ currentProject.description }}
                </p>
                <breadcrumbs-container/>
            </div>
            <div class="col-lg-6" ng-if="$state.current.name === 'project.details'">
                <div class="title-action">
                    <create-vm-button/>
                    <extension-point id="project-dashboard-button"></extension-point>
                    <project-details-button project="currentProject"></project-details-button>
                </div>
            </div>
        </div>
       <div class="footer-indent m-l-sm" ui-view></div>
       <app-footer/>
    </div>
</div>
