<div ng-controller="ProjectAddController as ProjectAdd">

<div class="white-box">
    <ul class="sort-list">
        <li class="title">
            <h2 class="app-title">Add project</h2>
        </li>
    </ul>
</div>

<div class="white-box">
    <section class="short-form">
        <div class="form-row">
            <div class="col label">
                <label for="">Project name</label>
            </div>
            <div class="col input input-full">
                <input type="text" ng-model="ProjectAdd.project.name">
                <div class="error arrow-up" ng-show="ProjectAdd.errors.name">
                    <ul class="error-list">
                        <li ng-repeat="error in ProjectAdd.errors.name">{{ error }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col label">
                <label for="">Project description</label>
            </div>
            <div class="col input input-full">
                <textarea class="full"
                    ng-model="ProjectAdd.project.description"></textarea>
            </div>
        </div>
    </section>

    <!-- non field errors -->
    <div class="simple-line" ng-show="ProjectAdd.errors.non_field_errors">
        <div class="error">
            <ul class="error-list">
                <li ng-repeat="error in ProjectAdd.errors.non_field_errors">
                    {{ error }}
                </li>
            </ul>
        </div>
    </div>
    <!-- /non field errors -->

    <div class="decision">
        <div class="col">
            <a class="button-apply" ng-click="ProjectAdd.save()">Create project</a>
        </div>
        <div class="col">
            <a class="button-cancel" ng-click="ProjectAdd.cancel()">Cancel</a>
        </div>
    </div>
</div>

</div>
