<div ng-controller="ProjectDetailUpdateController as controller">

<!-- profile-view -->
<div class="profile-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 profile-info">
                <h1 class="profile-name">{{ controller.project.name }}</h1>
                <a href="/#/customers/{{ controller.project.customer.uuid }}/" class="customer-link">{{ controller.project.customer.name }}</a>
                <div class="stats">
                    <div class="row">
                        <div class="col-xs-4">
                            <span class="stat-int">{{ controller.project.services.length }}</span>
                            <span class="stat-description">Resources</span>
                        </div>
                        <div class="col-xs-4">
                            <span class="stat-int">{{ controller.project.users.length }}</span>
                            <span class="stat-description">Users</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <ul class="controls pull-right">
                    <li>
                        <a ui-sref="projects.update({uuid: controller.project.uuid})" class="crud-controls"><i class="fa fa-cog"></i> edit project</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /profile-view -->

<!-- app-tabs -->
<div class="app-tabs">
    <!-- tabs-nav -->
    <div class="tabs-container">
        <div class="container-fluid">
            <ul class="nav nav-tabs" role="tablist">
                <li ng-class="{'active': controller.activeTab === 'eventlog'}">
                    <a href="" role="tab" data-toggle="tab" ng-click="controller.activeTab = 'eventlog'">
                        Events
                    </a>
                </li>
                <li ng-class="{'active': controller.activeTab === 'resources'}">
                    <a href="" role="tab" data-toggle="tab" ng-click="controller.activeTab = 'resources'">
                        Resources
                    </a>
                </li>
                <li ng-class="{'active': controller.activeTab === 'users'}">
                    <a href="" role="tab" data-toggle="tab" ng-click="controller.activeTab = 'users'">
                        Users
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /tabs-nav -->
    <!-- tabs-content -->
    <div class="tab-content" ng-switch="controller.activeTab">
        <!-- tab -->
        <div ng-class="{'active': controller.activeTab === 'eventlog'}" id="eventlog" ng-switch-when="eventlog">
            <div ui-view="tabEventlog"></div>
        </div>
        <!-- /tab -->
        <!-- tab -->
        <div ng-class="{'active': controller.activeTab === 'resources'}" id="projects" ng-switch-when="resources">
            <div ui-view="tabResources"></div>
        </div>
        <!-- /tab -->
        <!-- tab -->
        <div ng-class="{'active': controller.activeTab === 'users'}" id="users" ng-switch-when="users">
            <div ui-view="tabUsers"></div>
        </div>
        <!-- /tab -->
    </div>
    <!-- /tabs-content -->
</div>
<!-- /app-tabs -->

</div>
