<div ng-controller="ProjectDetailUpdateController as ProjectDetailUpdate">

    <div class="profile-view">
        <section class="content">
            <h2 class="app-title">{{ ProjectDetailUpdate.model.name }}</h2>
            <div>
                <a ui-sref="customers.details({uuid: ProjectDetailUpdate.model.customer.uuid})">{{ ProjectDetailUpdate.model.customer.name }}</a>
            </div>
        </section>
        <section class="actions">
            <div class="actions-button">
                <a class="button" ng-click="openActions=!openActions">actions</a>
                <ul class="actions-dropdown" ng-show="openActions">
                    <li>
                        <a ui-sref="projects.update({uuid: ProjectDetailUpdate.model.uuid})" class="button-simple">Edit</a>
                    </li>
                    <li>
                        <a class="button-simple">Archive</a>
                    </li>
                    <li>
                        <a class="button-simple">Delete</a>
                    </li>
                </ul>
            </div>
        </section>
    </div>

    <ul class="tabs-nav">
        <li ng-class="{'active': ProjectDetailUpdate.activeTab === 'eventlog'}"
            ng-click="ProjectDetailUpdate.activeTab = 'eventlog'">
            Events
        </li>
        <li ng-class="{'active': ProjectDetailUpdate.activeTab === 'resources'}"
            ng-click="ProjectDetailUpdate.activeTab = 'resources'">
            Resources
        </li>
        <li ng-class="{'active': ProjectDetailUpdate.activeTab === 'users'}"
            ng-click="ProjectDetailUpdate.activeTab = 'users';ProjectDetailUpdate.activateUserTab();">
            Users
        </li>
    </ul>

    <sectin class="tabs-content" ng-switch="ProjectDetailUpdate.activeTab">
        <div class="tab" id="eventlog"
            ng-class="{'tab-active': ProjectDetailUpdate.activeTab === 'eventlog'}"
            ng-switch-when="eventlog">
            <div ui-view="tabEventlog"></div>
        </div>
        <div class="tab" id="projects"
            ng-class="{'tab-active': ProjectDetailUpdate.activeTab === 'resources'}"
            ng-switch-when="resources">
            <div ui-view="tabResources"></div>
        </div>
        <div class="tab" id="users"
            ng-class="{'tab-active': ProjectDetailUpdate.activeTab === 'users'}"
            ng-switch-when="users">
            <div ui-view="tabUsers"></div>
        </div>
    </sectin>

</div>
