<div ng-controller="ProjectListController as ProjectList">

    <div class="white-box">
        <ul class="sort-list">
            <li class="title">
                <h2 class="app-title">Projects</h2>
            </li>
            <pagesize pages-list="ProjectList" pages-service="ProjectList.service"/></pagesize>
            <li class="search divid">
                <div class="search-box">
                    <input type="text" ng-model='ProjectList.searchInput' ng-change="ProjectList.search()">
                    <button class="search-button" ng-click="ProjectList.search()"></button>
                </div>
            </li>
            <li class="right-sort">
                <a ui-sref="projects.create" class="button">
                    <span class="icon plus"></span>
                    <span>Add project</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- view-control -->
    <section class="view-control">
        <div class="list-item no-cursor">
            <div class="checkbox">
                <div class="checkbox" ng-show="ProjectList.showgroup">
                    <input type="checkbox">
                </div>
            </div>
            <div>
                <div class="view-action-buttons" ng-show="ProjectList.showgroup">
                    <a class="button">Add user</a>
                    <a class="button">Archive</a>
                    <a class="button" ng-click="ProjectList.remove(project)">Delete</a>
                </div>
                <div class="view-action-buttons-mobile" ng-show="ProjectList.showgroup">
                    <div class="actions-button">
                        <a class="button dropdown-active"
                            ng-click="mobileActions=!mobileActions">actions</a>
                        <ul class="actions-dropdown" ng-show="mobileActions">
                            <li>
                                <a class="button-simple">Add user</a>
                            </li>
                            <li>
                                <a class="button-simple">Archive</a>
                            </li>
                            <li>
                                <a class="button-simple" ng-click="ProjectList.remove(project)">Delete</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="actions switch">
                <span class="label-text" ng-class="{'low-grade': !ProjectList.showgroup}">batch</span>
                <div class="checkbox-toggle">
                    <input type="checkbox" id="control-types" ng-click="ProjectList.showgroup=!ProjectList.showgroup">
                    <label for="control-types"></label>
                </div>
                <span class="label-text special-left" ng-class="{'low-grade': ProjectList.showgroup}">single</span>
            </div>
        </div>
    </section>
    <!-- /view-control -->

    <div class="white-box clear">
        <ul class="object-list">
            <li>
                <div class="list-item">
                    <div class="checkbox"></div>
                    <div class="name">
                        <a class="list-sort">Name</a>
                    </div>
                    <div class="additional-cell">
                        <a class="list-sort">Creation date</a>
                    </div>
                    <div class="actions"></div>
                </div>
            </li>
            <li ng-repeat="project in ProjectList.list">
                <div class="list-item list pointer" ng-class="{'opened': expandItem}"
                    ng-click="expandItem=!expandItem; ProjectList.showMore(project)">
                    <div class="checkbox">
                        <div class="checkbox">
                            <input type="checkbox" ng-show="ProjectList.showgroup">
                        </div>
                    </div>
                    <div class="name">
                        <h3 class="item-title pointer">
                            <a ui-sref="projects.details({uuid: project.uuid})" stoppropagation>{{ project.name }}</a>
                        </h3>
                    </div>
                    <div class="additional-cell">
                        {{ project.created | date:'medium' }}
                    </div>
                    <div class="actions">
                        <div class="actions-button" stoppropagation>
                            <a class="button" ng-click="openActions=!openActions" ng-show="!ProjectList.showgroup">actions</a>
                            <ul class="actions-dropdown" ng-show="openActions">
                                <li>
                                    <a class="button-simple">Archive</a>
                                </li>
                                <li>
                                    <a class="button-simple" ng-click="ProjectList.remove(project)">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="list-item-details" ng-show="expandItem">
                    <section class="on-mobile">
                        <header>
                            <h4 class="item-title">Creation date</h4>
                        </header>
                        {{ project.created | date:'medium' }}
                    </section>
                    <section ng-if="project.description" detailscontent="checkbox">
                        {{ project.description }}
                    </section>
                    <section detailscontent="checkbox">
                        <header>
                            <h4 class="item-title">Resources</h4>

                            <minipagination page-models="ProjectList.projectResources"
                                            page-model-id="project.uuid"
                                            page-change="ProjectList.getResourcesForProject"
                                            page-entity-name="resources"></minipagination>
                        </header>
                        <ul class="list-blocks">
                            <li ng-repeat="resource in ProjectList.projectResources[project.uuid].data">
                                <a>{{ resource.name }}</a>
                            </li>
                        </ul>
                    </section>
                    <!-- asas -->
                    <section detailscontent="checkbox">
                        <header>
                            <h4 class="item-title">Users</h4>

                            <minipagination page-models="ProjectList.projectUsers"
                                            page-model-id="project.uuid"
                                            page-change="ProjectList.getUsersForProject"
                                            page-entity-name="users"></minipagination>
                        </header>
                        <ul class="list-blocks">
                            <li ng-repeat="user in ProjectList.projectUsers[project.uuid].data">
                                <div class="avatar small">
                                    <img gravatar-src="user.email" gravatar-size="60">
                                </div>
                                <a ui-sref="users.details({uuid: user.user_uuid})">{{ user.user_full_name }}</a>
                            </li>
                        </ul>
                    </section>
                </div>
            </li>
        </ul>
    </div>

    <div class="pagination">
        <pagination pages-list="ProjectList" pages-service="ProjectList.service"></pagination>
    </div>
</div>
