<div ng-controller="ProjectListController as ProjectList">

<!-- app-block -->
<section class="app-block">
    <div class="container-fluid">
        <div class="white-box">
            <div class="app-title-line">
                <div class="row">
                    <div class="col-xs-12 first-line">
                        <h2 class="app-title">Projects</h2>
                        <ul class="sort">
                            <li>
                                <pagesize pages-href="#/projects/" pages-list="ProjectList" pages-service="ProjectList.service"/>
                            </li>

                            <li class="divid">
                                <div class="search" data-role="search-box">
                                    <input type="text" ng-model='ProjectList.searchInput' ng-keyup="ProjectList.search()">
                                </div>
                            </li>
                        </ul>
                        <div class="crud-box pull-right"><a ui-sref="projects.create" class="crud-controls"><i class="fa fa-plus"></i> Add project</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /app-block -->

<!-- app-block -->
<section class="app-block">

    <div class="container-fluid">
        <div class="white-box">
            <div class="app-items-list">
                <div class="table-responsive">
                    <div class="table-responsive">
                        <table class="items-table">
                            <tr>
                                <th class="name">
                                    <a href="" class="sort">Name</a>
                                </th>
                                <th class="col-xs-2"><a href="" class="sort">Resources</a></th>
                                <th class="col-xs-2"><a href="" class="sort">Users</a></th>
                                <th class="col-xs-2"></th>
                            </tr>
                            <tr ng-repeat="project in ProjectList.list">
                                <td class="name">
                                    <h2 class="item-title"><a ui-sref="projects.details({uuid: project.uuid})">{{ project.name }}</a></h2>
                                    <p class="gray-text">
                                        {{ project.description }}
                                    </p>
                                </td>
                                <td class="col-xs-3 gray-text">
                                    <ul class="standart-list">
                                        <li ng-repeat="resource in project.resources"><span class="elem item-type repo"></span> {{ resource.hostname }}</li>
                                    </ul>
                                </td>
                                <td class="col-xs-2 gray-text">
                                    <ul class="standart-list">
                                        <li ng-repeat="user in project.users"><a ui-sref="users({uuid: user.uuid})">{{ user.native_name }}</a></li>
                                    </ul>
                                </td>
                                <td class="col-xs-2 controls-ctn">
                                    <ul class="controls pull-right">
                                        <li>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Favorite" class="kit-icon star"></a>
                                        </li>
                                        <li>
                                            <a href="#" class="conf" data-toggle="tooltip" data-placement="top" title="Archive"><i class="glyphicon glyphicon-compressed"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" class="conf" data-toggle="tooltip" data-placement="top" title="Settings"><i class="fa fa-cog"></i></a>
                                        </li>
                                        <li>
                                            <a href="" ng-click="ProjectList.deleteProject(project)" class="remove" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-times"></i></a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /app-block -->

<!-- app-block -->
<div class="app-block">
    <div class="container-fluid">
        <!-- pagination -->
        <pagination pages-href="#/projects/" pages-list="ProjectList" pages-service="ProjectList.service"/>
        <!-- /pagination -->
    </div>
</div>
<!-- /app-block -->

</div>
