<div ng-controller="ProjectListController as ProjectList">

    <div class="white-box">
        <ul class="sort-list">
            <li class="title">
                <h2 class="app-title">Projects</h2>
            </li>
            <pagesize pages-list="ProjectList" pages-service="ProjectList.service"/></pagesize>
            <li class="search divid">
                <div class="search-box">
                    <input type="text" ng-model='ProjectList.searchInput' ng-keyup="ProjectList.search()">
                    <button class="search-button" ng-click="ProjectList.search()"></button>
                </div>
            </li>
            <li class="right-sort">
                <a ui-sref="projects.create" class="button">
                    <span class="icon plus"></span>
                    <span>Add project</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- view-control -->
    <section class="view-control">
        <div class="list-item no-cursor">
            <div class="checkbox">
                <div class="checkbox" ng-show="controller.showgroup">
                    <input type="checkbox">
                </div>
            </div>
            <div>
                <div class="view-action-buttons" ng-show="controller.showgroup">
                    <a class="button">Add user</a>
                    <a class="button">Archive</a>
                    <a class="button" ng-click="ProjectList.deleteProject(project)">Delete</a>
                </div>
                <div class="view-action-buttons-mobile" ng-show="controller.showgroup">
                    <div class="actions-button">
                        <a class="button dropdown-active"
                            ng-click="mobileActions=!mobileActions">actions</a>
                        <ul class="actions-dropdown" ng-show="mobileActions">
                            <li>
                                <a class="button-simple">Add user</a>
                            </li>
                            <li>
                                <a class="button-simple">Archive</a>
                            </li>
                            <li>
                                <a class="button-simple" ng-click="ProjectList.deleteProject(project)">Delete</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="actions switch">
                <span class="label-text" ng-class="{'low-grade': !controller.showgroup}">batch</span>
                <div class="checkbox-toggle">
                    <input type="checkbox" id="control-types" ng-click="controller.showgroup=!controller.showgroup">
                    <label for="control-types"></label>
                </div>
                <span class="label-text special-left" ng-class="{'low-grade': controller.showgroup}">single</span>
            </div>
        </div>
    </section>
    <!-- /view-control -->

    <div class="white-box clear">
        <ul class="object-list">
            <li>
                <div class="list-item">
                    <div class="checkbox"></div>
                    <div class="expand"></div>
                    <div class="name">
                        <a class="list-sort">Name</a>
                    </div>
                    <div class="additional-cell">
                        <a class="list-sort">Creation date</a>
                    </div>
                    <div class="actions"></div>
                </div>
            </li>
            <li ng-repeat="project in ProjectList.list">
                <div class="list-item" ng-class="{'opened': expandItem}">
                    <div class="checkbox">
                        <div class="checkbox">
                            <input type="checkbox" ng-show="controller.showgroup">
                        </div>
                    </div>
                    <div class="expand">
                        <a class="plus-minus"
                           ng-click="expandItem=!expandItem; ProjectList.showMore(project)"
                           ng-class="{'plus': !expandItem, 'minus active': expandItem}"></a>
                    </div>
                    <div class="name">
                        <h3 class="item-title pointer">
                            <a ui-sref="projects.details({uuid: project.uuid})">{{ project.name }}</a>
                        </h3>
                    </div>
                    <div class="additional-cell">
                        {{ project.created | date:'medium' }}
                    </div>
                    <div class="actions">
                        <div class="actions-button">
                            <a class="button" ng-click="openActions=!openActions" ng-show="!controller.showgroup">actions</a>
                            <ul class="actions-dropdown" ng-show="openActions">
                                <li>
                                    <a ui-sref="projects.add-users({uuid: project.uuid})" class="button-simple">Add user</a>
                                </li>
                                <li>
                                    <a class="button-simple">Archive</a>
                                </li>
                                <li>
                                    <a class="button-simple" ng-click="ProjectList.deleteProject(project)">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="list-item-details" ng-show="expandItem">
                    <section ng-if="project.description">
                        {{ project.description }}
                    </section>
                    <section>
                        <header>
                            <h4 class="item-title">Resources</h4>

                            <minipagination page-models="ProjectList.projectResources"
                                            page-model-id="project.uuid"
                                            page-change="ProjectList.getResourcesForProject"
                                            page-entity-name="resources"></minipagination>
                        </header>
                        <ul>
                            <li class="item-list">
                                <section>
                                    <a class="list-sort">Name</a>
                                </section>
                                <section>
                                    <div class="list-sort">Access information</div>
                                </section>
                            </li>
                            <li class="item-list" ng-repeat="resource in ProjectList.projectResources[project.uuid].data">
                                <section>
                                    <a href="">{{ resource.name }}</a>
                                </section>
                                <section>
                                    <span ng-if="resource.external_ips.length == 0"><i>No access info</i></span>
                                    <span ng-repeat="access in resource.access_information">{{ access }}</span>
                                </section>
                            </li>
                        </ul>
                    </section>
                    <!-- asas -->
                    <section>
                        <header>
                            <h4 class="item-title">Users</h4>

                            <minipagination page-models="ProjectList.projectUsers"
                                            page-model-id="project.uuid"
                                            page-change="ProjectList.getUsersForProject"
                                            page-entity-name="users"></minipagination>
                        </header>
                        <ul>
                            <li class="item-list">
                                <section>
                                    <a class="list-sort">Name</a>
                                </section>
                                <section>
                                    <div class="list-sort">Role</div>
                                </section>
                                <section>
                                    <div class="list-sort">Username</div>
                                </section>

                            </li>
                            <li class="item-list" ng-repeat="user in ProjectList.projectUsers[project.uuid].data">
                                <section>
                                    <div class="avatar">
                                        <img gravatar-src="user.email" gravatar-size="100">
                                    </div>

                                    <a ui-sref="users.details({uuid: user.user_uuid})">{{ user.user_full_name }}</a>
                                </section>
                                 <section>
                                    <span>{{ user.role }}</span>
                                </section>
                                <section>
                                    <span>{{ user.user_username }}</span>
                                </section>
                            </li>
                        </ul>
                    </section>
                </div>
            </li>
        </ul>
    </div>

    <div class="pagination">
        <pagination pages-list="ProjectList" pages-service="ProjectList.service"></pagination>
    </div>
</div>
