<div class="compact-list__header"
     ng-click="entity.expandItemOpen = !entity.expandItemOpen">
  <div class="compact-list__title">
    <a ui-sref="projects.details({uuid: entity.uuid})"
       ng-bind="entity.name"></a>
  </div>
  <div class="compact-list__right">
     <expandable-indicator open="entity.expandItemOpen">
     </expandable-indicator>
  </div>
</div>

<div ng-show="entity.expandItemOpen" class="compact-list__details" visible="resources">
  <div class="details-table__row">
    <div class="details-table__key">
      Resources
    </div>
    <div class="details-table__value">
      <ng-pluralize count="entity.vm_count"
                    when="{'0': 'No virtual machines',
                           'one': '1 virtual machine',
                           'other': '{} virtual machines'}">
      </ng-pluralize>,
      <ng-pluralize count="entity.app_count"
                    when="{'0': 'no applications',
                           'one': '1 application',
                           'other': '{} applications'}">
      </ng-pluralize>
    </div>
  </div>

  <div class="details-table__row" visible="premiumSupport">
    <div class="details-table__key">
      SLA
    </div>
    <div class="details-table__value">
      {{ entity.plan_name || 'No plan'}}
    </div>
  </div>

  <div class="details-table__row">
    <div class="details-table__key">
      Created
    </div>
    <div class="details-table__value">
      <span am-time-ago="entity.created" title="{{ entity.created }}"></span>
    </div>
  </div>

  <div ng-include="'/views/directives/expandable-item/expandable-item-project-limits.html'"></div>
</div>

<action-list actions="entityButtons" entity="entity" ng-show="entity.expandItemOpen"></action-list>
