<div class="tabs-container m-l-sm">
    <uib-tabset active="active">
        <uib-tab heading="Volumes" index="0">
            <div class="panel-body"
                ng-if="active==0"
                ng-controller="VolumesListController as ListController"
                ng-include="'views/partials/filtered-list.html'"></div>
        </uib-tab>
        <uib-tab heading="Snapshots" index="1">
            <div class="panel-body"
                ng-if="active==1"
                ng-controller="SnapshotsListController as ListController"
                ng-include="'views/partials/filtered-list.html'"></div>
        </uib-tab>
    </uib-tabset>
</div>
