<div ng-if="!delController.project">
  <h1 class="text-center"><i class="icon fa-spinner fa-spin"></i></h1>
</div>

<div ng-if="delController.project">
  <div class="panel panel-default">
    <div class="panel-heading">Project details</div>
    <div class="panel-body">
      <div class="row">
        <form class="col-sm-10 col-xs-12 form-horizontal">
          <div class="form-group">
            <label for="project_name" class="col-sm-3 col-md-4 col-lg-3 control-label">Project name</label>
            <div class="col-sm-9 col-md-8">
              <input id="project_name"
                     type="text"
                     class="form-control"
                     ng-if="delController.canManage"
                     ng-model="delController.projectModel.name"/>
              <p class="form-control-static" ng-if="!delController.canManage">{{::delController.projectModel.name}}</p>
              <div class="error"
                   ng-if="delController.projectModel.errors.name">{{::delController.projectModel.errors.name}}</div>
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="col-sm-3 col-md-4 col-lg-3 control-label">Description</label>
            <div class="col-sm-9 col-md-8">
              <input id="description"
                     type="text"
                     class="form-control"
                     ng-if="delController.canManage"
                     ng-model="delController.projectModel.description"/>
              <p class="form-control-static" ng-if="!delController.canManage">{{::delController.projectModel.description}}</p>
            </div>
          </div>
          <div class="form-group" ng-if="delController.canManage">
            <div class="col-sm-offset-3 col-xs-12">
              <button type="submit" class="btn btn-primary" submit-button="delController.saveProject()">Update project details</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Project cost details</div>
    <div class="panel-body">
      <project-price-limit project="delController.project"></project-price-limit>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Project actions</div>
    <div class="panel-body">
      <p>You can remove this project by pressing the button</p>
      <a submit-button="delController.removeProject()" class="btn btn-danger">
          <i class="fa fa-trash"></i>
          Remove project
      </a>
    </div>
  </div>
</div>
