<div ng-controller="ProjectEventTabController as EventList">
    <sortline ></sortline>

    <div class="white-box clear">
        <ul class="object-list">
            <li ng-repeat="event in EventList.list">
                <div class="list-item">
                    <div>
                        <div ui-view="eventTypes"></div>
                    </div>
                    <div class="actions">
                        <div class="actions-button" ng-show="!EventList.showgroup">
                            <a class="button" ng-click="openActions1=!openActions1">actions</a>
                            <ul class="actions-dropdown" ng-show="openActions1">
                                <li>
                                    <a class="button-simple">Some action for this type</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="pagination">
        <pagination pages-list="EventList" pages-service="EventList.service"></pagination>
    </div>
</div>
