<sortline ></sortline>

<div class="white-box">
    <div class="row">
        <div class="col full">
            <div class="add-or-remove">
                <h3 class="app-title">Administrator</h3>
                <span class="added">Jack Pollack</span>
                <span class="added">John Doe</span>
                <input type="text" class="add-label" placeholder="Add"
                    ng-click="inputMode=!inputMode"
                    ng-class="{'input': inputMode}">
            </div>
        </div>
                <div class="col full">
            <div class="add-or-remove">
                <h3 class="app-title">Managers</h3>
                <span class="added">Jack Pollack</span>
                <span class="added">John Doe</span>
                <input type="text" class="add-label" placeholder="Add"
                    ng-click="inputMode2=!inputMode2"
                    ng-class="{'input': inputMode2}">
            </div>
        </div>
    </div>
</div>
