<!-- view-control -->
<section class="view-control">
    <div class="list-item no-cursor">
        <div class="checkbox">
            <div class="checkbox" ng-show="controller.showgroup">
                <input type="checkbox">
            </div>
        </div>
        <div>
            <div class="view-action-buttons" ng-show="controller.showgroup">
                <a class="button start"
                    ng-click="ResourceList.startResource(resource)"
                    ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'start')}">
                Start</a>
                <a class="button stop"
                    ng-click="ResourceList.stopResource(resource)" title="Stop"
                    ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'stop')}">
                Stop</a>
                <a class="button restart"
                    ng-click="ResourceList.restartResource(resource)"
                    ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'restart')}">
                Restart</a>
                <a class="button remove"
                    ng-click="ResourceList.deleteResource(resource, $index)">
                Remove</a>
            </div>
            <div class="view-action-buttons-mobile" ng-show="controller.showgroup">
                <div class="actions-button">
                    <a class="button dropdown-active"
                        ng-click="mobileActions=!mobileActions">actions</a>
                    <ul class="actions-dropdown" ng-show="mobileActions">
                        <li>
                            <a class="button-simple start"
                                ng-click="ResourceList.startResource(resource)"
                                ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'start')}">
                            Start</a>
                        </li>
                        <li>
                            <a class="button-simple stop"
                                ng-click="ResourceList.stopResource(resource)" title="Stop"
                                ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'stop')}">
                            Stop</a>
                        </li>
                        <li>
                            <a class="button-simple restart"
                                ng-click="ResourceList.restartResource(resource)"
                                ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'restart')}">
                            Restart</a>
                        </li>
                        <li>
                            <a class="button-simple remove"
                                ng-click="ResourceList.deleteResource(resource, $index)">
                            Remove</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="actions switch">
            <span class="label-text" ng-class="{'low-grade': !controller.showgroup}">batch</span>
            <div class="checkbox-toggle">
                <input type="checkbox" id="control-types" ng-click="controller.showgroup=!controller.showgroup">
                <label for="control-types"></label>
            </div>
            <span class="label-text special-left" ng-class="{'low-grade': controller.showgroup}">single</span>
        </div>
    </div>
</section>
<!-- /view-control -->

<div class="white-box clear">
    <ul class="object-list">
        <li class="list-item">
            <div class="checkbox"></div>
            <div class="name">
                <a href="#" class="list-sort">Name</a>
            </div>
            <div class="additional-cell">
                <a href="#" class="list-sort">Type</a>
            </div>
            <div class="additional-cell">
                <a href="#" class="list-sort">Project</a>
            </div>
            <div class="additional-cell">
                <a href="#" class="list-sort">Access information</a>
            </div>
            <div class="additional-cell">
                <a href="#" class="list-sort">Status</a>
            </div>
            <div class="actions"></div>
        </li>
        <li ng-repeat="resource in controller.project.users">
            <div class="list-item">
                <div class="checkbox">
                    <div class="checkbox" ng-show="controller.showgroup">
                        <input type="checkbox">
                    </div>
                </div>
                <div class="">
                    <h3 class="item-title">{{ resource.name }}</h3>
                    <div class="status-circle"
                        ng-class="{'online': resource.state == 'Online', 'offline' : resource.state == 'Offline'}"></div>
                </div>
                <div class="additional-cell" ng-hide="collapsedItem">
                    {{ resource.type }}
                </div>
                <div class="additional-cell">
                    <a ui-sref="projects.details({uuid: resource.project_uuid })">{{ resource.project_name }}</a>
                </div>
                <div class="additional-cell">
                    <span ng-repeat="access in resource.access_information">{{ access }}</span>
                </div>
                <div class="additional-cell">
                    <span class="status"
                        ng-class="{'online': resource.state == 'Online', 'offline' : resource.state == 'Offline'}">
                        {{ resource.state }}</span>
                </div>
                <div class="actions">
                    <div class="actions-button" ng-show="!controller.showgroup">
                        <a class="button" ng-click="openActions=!openActions">actions</a>
                        <ul class="actions-dropdown" ng-show="openActions">
                            <li>
                                <a class="button-simple start"
                                    ng-click="ResourceList.startResource(resource)"
                                    ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'start')}">
                                Start</a>
                            </li>
                            <li>
                                <a class="button-simple stop"
                                    ng-click="ResourceList.stopResource(resource)" title="Stop"
                                    ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'stop')}">
                                Stop</a>
                            </li>
                            <li>
                                <a class="button-simple restart"
                                    ng-click="ResourceList.restartResource(resource)"
                                    ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'restart')}">
                                Restart</a>
                            </li>
                            <li>
                                <a class="button-simple remove"
                                    ng-click="ResourceList.deleteResource(resource, $index)">
                                Remove</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<!-- <div class="pagination">
    <pagination pages-href="#/resources/"
        pages-list="ResourceList" pages-service="ResourceList.service"></pagination>
</div>
 -->
