<div class="modal-header">
  <h3 class="modal-title">
    <span translate>Authenticate using Mobile ID</span>
  </h3>
</div>
<div class="modal-body">
  <form name="$ctrl.LoginForm">
    <div class="form-group" ng-class="{disabled: $ctrl.isAuthenticating}">
      <label for="phoneNumber" class="control-label">
        <span translate>Mobile phone number</span>
      </label>
      <div class="input-group">
        <span class="input-group-addon">{{::$ctrl.mobilePrefix}}</span>
        <input
          type="tel"
          id="phoneNumber"
          ng-model="$ctrl.phoneNumber"
          class="form-control"
          required
        />
      </div>
    </div>
    <div class="form-group" ng-if="$ctrl.challengeCode">
      <label for="challengeCode" class="control-label">
        <span translate>Challenge code</span>
      </label>
      <div class="form-control-static">
        {{ $ctrl.challengeCode }}
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="submit"
    class="btn btn-primary"
    ng-disabled="$ctrl.LoginForm.$invalid"
    submit-button="$ctrl.submit()"
  >
    <i class="fa fa-sign-in"></i>
    <span translate>Sign in</span>
  </button>
  <button class="btn btn-default" type="button" ng-click="$ctrl.dismiss()">
    <span translate>Cancel</span>
  </button>
</div>
