//
// Badge
//

.badge {
  // Fixed size
  &.badge-circle,
  &.badge-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: $badge-size;
    min-width: $badge-size;
    padding: 0 0.1rem;
  }

  // Circle
  &.badge-circle {
    border-radius: 50%;
    padding: 0;
    min-width: unset;
    width: $badge-size;
  }

  // Circle
  &.badge-pill {
    border-radius: 50px;
  }

  // Sizes
  &.badge-sm {
    min-width: $badge-size-sm;
    font-size: $badge-font-size-sm;
    padding: $badge-padding-y-sm $badge-padding-x;

    &.badge-circle {
      width: $badge-size-sm;
      height: $badge-size-sm;
    }
  }

  &.badge-lg {
    min-width: $badge-size-lg;
    font-size: $badge-font-size-lg;
    padding: $badge-padding-y-lg $badge-padding-x;

    &.badge-circle {
      width: $badge-size-lg;
      height: $badge-size-lg;
    }
  }
}

@each $name, $value in $theme-colors {
  .badge-#{$name} {
    color: theme-inverse-color($name);
    background-color: $value;
    border: 1px solid $value;
  }

  .badge-light-#{$name} {
    color: $value;
    background-color: theme-light-color($name);
    border: 1px solid theme-light-color($name);
  }

  .badge-outline-#{$name} {
    color: theme-active-color($name);
    background-color: theme-light-color($name);
    border: 1px solid theme-200-color($name);
  }
}

.badge-outline.badge-outline-default {
  color: $gray-700;
  border: 1px solid $input-border-color;
  background-color: unset;
}
