//
// Badge
//

.badge {
  line-height: 0.9;

  // Fixed size
  &.badge-circle,
  &.badge-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: $badge-size;
    min-width: $badge-size;
    padding: 0 0.1rem;
  }

  // Circle
  &.badge-circle {
    border-radius: 50%;
    padding: 0;
    min-width: unset;
    width: $badge-size;
  }

  // Pill
  &.badge-pill {
    border-radius: 50px;
  }

  // Only contains an icon
  &.badge-icon {
    padding: $badge-padding-y;
  }

  // Sizes
  &.badge-sm {
    min-width: $badge-size-sm;
    font-size: $badge-font-size-sm;
    padding: $badge-padding-y-sm $badge-padding-x;

    &.badge-circle {
      width: $badge-size-sm;
      height: $badge-size-sm;
    }

    &.badge-icon {
      padding: $badge-padding-y-sm;
    }
  }

  &.badge-lg {
    min-width: $badge-size-lg;
    font-size: $badge-font-size-lg;
    padding: $badge-padding-y-lg $badge-padding-x;

    &.badge-circle {
      width: $badge-size-lg;
      height: $badge-size-lg;
    }

    &.badge-icon {
      padding: $badge-padding-y-lg;
    }
  }

  &.has-bullet::before {
    content: ' ';
    display: inline-block;
    background-color: $dark;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transform: translate(-50%, -20%);
    margin-right: 3px;
  }

  &.has-left-icon {
    position: relative;
    padding-left: 1.6em;

    .left-icon {
      position: absolute;
      transform: translateY(-50%);
      left: 5px;
      top: 50%;
    }
  }
  &.has-right-icon {
    position: relative;
    padding-right: 1.6em;

    .left-icon {
      position: absolute;
      transform: translateY(50%);
      right: 5px;
      top: 50%;
    }
  }
}

@each $name, $value in $theme-colors {
  .badge-#{$name} {
    color: theme-inverse-color($name);
    background-color: $value;
    border: 1px solid $value;

    &.has-bullet::before {
      background-color: theme-inverse-color($name);
    }
    @include svg-icon-color(theme-inverse-color($name));
  }

  .badge-light-#{$name} {
    color: $value;
    background-color: theme-light-color($name);
    border: 1px solid theme-light-color($name);

    &.has-bullet::before {
      background-color: $value;
    }
    @include svg-icon-color($value);
  }

  .badge-outline-#{$name} {
    color: theme-700-color($name);
    background-color: theme-50-color($name);
    border: 1px solid theme-200-color($name);

    &.has-bullet::before {
      background-color: theme-500-color($name);
    }
    @include svg-icon-color(theme-500-color($name));
  }
}

.badge-outline-default {
  color: $gray-700;
  border: 1px solid $gray-300;
  background-color: $gray-100;

  &.has-bullet::before {
    background-color: $gray-500;
  }
  @include svg-icon-color($gray-500);
}
