//
// Root CSS Variables
//

:root {
  // Theme colors
  @each $name, $value in $theme-colors {
    @if (theme-light-color($name)) {
      --#{$variable-prefix}light-#{$name}: #{theme-light-color($name)};
      --#{$variable-prefix}active-#{$name}: #{theme-active-color($name)};
    }
  }

  // Gray colors
  @each $name, $value in $grays {
    --#{$variable-prefix}gray-#{$name}: #{$value};
  }

  // Breakpoints
  @each $breakpoint, $value in $grid-breakpoints {
    --#{$variable-prefix}#{$breakpoint}: #{$value};
  }

  // Border
  --#{$variable-prefix}border-color: #{$border-color};
  --#{$variable-prefix}border-dashed-color: #{$border-dashed-color};

  --waldur-brand-color: #111a13;
  --waldur-brand-color-rgb: 0, 0, 0;

  --waldur-bg-primary: #{$bg-primary};

  --waldur-border-secondary: #{$border-secondary};
  --waldur-border-brand-solid: #{$border-brand-solid};
  --waldur-border-danger: #{$border-error};

  // Utility colors for data visualization
  --waldur-utility-blue-400: #{$blue-400};
  --waldur-utility-indigo-400: #{$indigo-400};
  --waldur-utility-teal-400: #{$teal-400};
  --waldur-utility-warning-400: #{$warning-400};
  --waldur-utility-gray-300: #{$gray-300};
}

// Brand
:root {
  --bs-primary: var(--waldur-brand-color);
  --bs-primary-25: var(--waldur-brand-25);
  --bs-primary-50: var(--waldur-brand-50);
  --bs-primary-100: var(--waldur-brand-100);
  --bs-primary-200: var(--waldur-brand-200);
  --bs-primary-300: var(--waldur-brand-300);
  --bs-primary-400: var(--waldur-brand-400);
  --bs-primary-500: var(--waldur-brand-500);
  --bs-primary-600: var(--waldur-brand-600);
  --bs-primary-700: var(--waldur-brand-700);
  --bs-primary-800: var(--waldur-brand-800);
  --bs-primary-900: var(--waldur-brand-900);
  --bs-primary-950: var(--waldur-brand-950);

  --bs-secondary: var(--waldur-brand-50);

  --checkbox-bg: url("data:image/svg+xml,<svg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M11 1.25L4.125 8.125L1 5' stroke='#{$form-check-input-checked-color}' stroke-width='1.6666' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  --checkbox-indeterminate-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-indeterminate-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/></svg>");
  --radio-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$form-check-input-checked-color}'/></svg>");
}
