//
//  Tooltip
//

// Base
.tooltip {
  .tooltip-inner {
    box-shadow: $tooltip-box-shadow;
    font-weight: 500;

    .tooltip-body {
      color: $text-placeholder_subtle;
      font-weight: 400;
      margin-top: 4px;
    }
  }

  &.has-body {
    .tooltip-inner {
      text-align: start;
      padding: $tooltip-padding-x;
    }
  }

  &.tooltip-auto-width {
    .tooltip-inner {
      max-width: inherit;
    }
  }

  // Dark Theme
  &.tooltip-dark {
    @include tooltip-theme($dark, $dark-inverse, $dark);
  }
}

.aligned-tip {
  display: inline-flex;
  align-items: center;

  svg {
    margin-top: 2px;
  }
}
