<div ng-if="$ctrl.loading">
  <loading-spinner/>
</div>

<div ng-if="!$ctrl.loading">
  <div class="panel panel-default">
    <div class="panel-heading" translate>Organization details</div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt><span translate>Name</span>:</dt>
        <dd>{{::$ctrl.customer.name}}</dd>
        <span ng-if="::$ctrl.customer.native_name">
          <dt><span translate>Native name</span>:</dt>
          <dd>{{::$ctrl.customer.native_name }}</dd>
        </span>

        <span ng-if="::$ctrl.customer.abbreviation">
          <dt><span translate>Abbreviation</span>:</dt>
          <dd>{{::$ctrl.customer.abbreviation}}</dd>
        </span>

        <span ng-if="::$ctrl.customer.registration_code">
          <dt><span translate>Registry code</span>:</dt>
          <dd>{{::$ctrl.customer.registration_code}}</dd>
        </span>

        <span ng-if="::$ctrl.accountingStartDate">
          <dt><span translate>Accounting start date</span>:</dt>
          <dd>{{::$ctrl.accountingStartDate | dateTime}}</dd>
        </span>

        <span ng-if="::$ctrl.customer.agreement_number">
          <dt><span translate>Agreement number</span>:</dt>
          <dd>{{::$ctrl.customer.agreement_number}}</dd>
        </span>

        <span ng-if="::$ctrl.customer.contact_details">
          <dt><span translate>Address</span>:</dt>
          <dd>{{::$ctrl.customer.contact_details}}</dd>
        </span>

        <span ng-if="::$ctrl.customer.email">
          <dt><span translate>Contact e-mail</span>:</dt>
          <dd>{{::$ctrl.customer.email}}</dd>
        </span>

        <span ng-if="::$ctrl.customer.phone_number">
          <dt><span translate>Contact phone</span>:</dt>
          <dd>{{::$ctrl.customer.phone_number}}</dd>
        </span>

        <span ng-if="::$ctrl.customer.vat_code">
          <dt><span translate>VAT code</span>:</dt>
          <dd>{{::$ctrl.customer.vat_code}}</dd>
        </span>

        <span ng-if="::$ctrl.customer.access_subnets && $ctrl.organizationSubnetsVisible">
          <dt>
            <helpicon
              help-text="{{ 'Subnets from where connection to self-service is allowed.' | translate }}"></helpicon>
            <span translate>Subnets</span>:
          </dt>
          <dd>{{::$ctrl.customer.access_subnets}}</dd>
        </span>
      </dl>
    </div>
  </div>
  <div class="panel panel-default" ng-if="$ctrl.paymentDetails">
    <div class="panel-heading">Payment details</div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt><span translate>Company</span>:</dt>
        <dd>{{::$ctrl.paymentDetails.company}}</dd>

        <dt><span translate>Address</span>:</dt>
        <dd>{{::$ctrl.paymentDetails.address}}</dd>

        <dt><span translate>Country</span>:</dt>
        <dd>{{::$ctrl.paymentDetails.country}}</dd>

        <dt><span translate>Email</span>:</dt>
        <dd>{{::$ctrl.paymentDetails.email}}</dd>

        <dt><span translate>Postal</span>:</dt>
        <dd>{{::$ctrl.paymentDetails.postal}}</dd>

        <dt><span translate>Phone</span>:</dt>
        <dd>{{::$ctrl.paymentDetails.phone}}</dd>

        <dt><span translate>Bank</span>:</dt>
        <dd>{{::$ctrl.paymentDetails.bank}}</dd>

        <dt><span translate>Account</span>:</dt>
        <dd>{{::$ctrl.paymentDetails.account}}</dd>

        <dt><span translate>VAT rate</span>:</dt>
        <dd>{{::$ctrl.paymentDetails.default_tax_percent}}</dd>
      </dl>
    </div>
  </div>
  <customer-policies
    ng-if="$ctrl.canUpdateCustomerPolicies"
    customer="$ctrl.customer"
    can-update-quota="$ctrl.canUpdateQuota"></customer-policies>
  <expert-provider-details
    visible-if="'experts'"
    ng-if="$ctrl.canRegisterExpertProvider"
    customer="$ctrl.customer"></expert-provider-details>
  <div class="panel panel-default">
    <div class="panel-heading" translate>Organization actions</div>
    <div class="panel-body">
      <a ng-click="$ctrl.reportError()" class="btn btn-success">
        <i class="fa fa-bug"></i>
        <span translate>Report incorrect data</span>
      </a>
    </div>
    <div class="panel-body" ng-if="$ctrl.canDeleteCustomer">
      <p translate>You can remove this organization by pressing the button</p>
      <a ng-click="$ctrl.removeCustomer()" class="btn btn-danger">
        <i class="fa fa-trash"></i>
        <span translate>Remove organization</span>
      </a>
    </div>
    <div class="panel-body" ng-if="!$ctrl.canDeleteCustomer">
      <h3>
        <span translate>Only staff can remove organization.</span>
      </h3>
    </div>
  </div>
</div>
