<div class="modal-header">
  <h3 class="modal-title">
    <span translate>Please select your organization</span>
  </h3>
</div>
<div class="modal-body">
  <div ng-if="!$ctrl.initialized">
    <loading-spinner/>
  </div>
  <div ng-if="$ctrl.initialized">
    <div ng-if="$ctrl.error">
      <span translate>Identity providers are not unavailable.</span>
    </div>
    <div ng-if="!$ctrl.error">
      <ui-select ng-model="$ctrl.provider"
        title="{{'Choose an organization' | translate }}">
        <ui-select-match placeholder="{{'Please select your organization' | translate}}">
          {{$select.selected.name}}
        </ui-select-match>
        <ui-select-choices
          repeat="item in $ctrl.providers track by item.url"
          refresh="$ctrl.refreshChoices($select.search)"
          refresh-delay="0">
          <div ng-bind-html="item.name | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-primary"
    ng-disabled="!$ctrl.isProviderSelected()"
    submit-button="$ctrl.login()">
    <span translate>Login</span>
  </button>
  <button class="btn btn-default" type="button" ng-click="$ctrl.dismiss()">
    <span translate>Cancel</span>
  </button>
</div>
