<div ng-controller="UserDetailUpdateController as controller">

<!-- profile-view -->
<div class="profile-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1">
                <img src="../static/images/887178.jpg" class="profile-pic" alt="John Doe">
            </div>
            <div class="col-xs-7 profile-info">
                <h1 class="profile-name">{{ controller.user.full_name }} ({{ controller.user.username }})</h1>
                <a href="mailto:{{ controller.user.email }}">{{ controller.user.email }}</a>
                <div class="stats">
                    <div class="row">
                        <div class="col-xs-4">
                            <span class="stat-int">{{ controller.projects.length }}</span>
                            <span class="stat-description">Active projects</span>
                        </div>
                        <div class="col-xs-4">
                            <span class="stat-int">{{ controller.customers.length }}</span>
                            <span class="stat-description">Customers</span>
                        </div>
                        <div class="col-xs-4">
                            <span class="stat-int">{{ controller.user.keys.length }}</span>
                            <span class="stat-description">SSH keys</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <ul class="controls pull-right">
                    <li>
                        <a href="/#/profile/edit/" class="crud-controls"><i class="fa fa-cog"></i> edit profile</a>
                    </li>
                    <li>
                        <a href="/#/profile/changepass/" class="crud-controls"><i class="fa fa-cog"></i> change password</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /profile-view -->

<!-- app-tabs -->
<div class="app-tabs">
    <!-- tabs-nav -->
    <div class="tabs-container">
        <div class="container-fluid">
            <ul class="nav nav-tabs" role="tablist">
                <li ng-class="{'active': controller.activeTab === 'eventlog'}">
                    <a href="" role="tab" data-toggle="tab" ng-click="controller.activeTab = 'eventlog'">
                        Events
                    </a>
                </li>
                <li ng-class="{'active': controller.activeTab === 'projects'}">
                    <a href="" role="tab" data-toggle="tab" ng-click="controller.activeTab = 'projects'">
                        Projects
                    </a>
                </li>
                <li ng-class="{'active': controller.activeTab === 'keys'}">
                    <a href="" role="tab" data-toggle="tab" ng-click="controller.activeTab = 'keys'">
                        Keys
                    </a>
                </li>
                <li ng-class="{'active': controller.activeTab === 'manageuser'}">
                    <a href="" role="tab" data-toggle="tab" ng-click="controller.activeTab = 'manageuser'">
                        Manage user
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /tabs-nav -->
    <!-- tabs-content -->
    <div class="tab-content" ng-switch="controller.activeTab">
        <!-- tab -->
        <div class="tab-pane" ng-class="{'active': controller.activeTab === 'eventlog'}" ng-switch-when="eventlog">
            <div ui-view="tabEventlog"></div>
        </div>
        <!-- /tab -->
        <div class="tab-pane" ng-class="{'active': controller.activeTab === 'projects'}" ng-switch-when="projects">
            <div ui-view="tabProjects"></div>
        </div>
        <div class="tab-pane" ng-class="{'active': controller.activeTab === 'keys'}" ng-switch-when="keys">
            <div ui-view="tabKeys"></div>
        </div>
        <div class="tab-pane" ng-class="{'active': controller.activeTab === 'manageuser'}" ng-switch-when="manageuser">
            <div ui-view="tabManageUser"></div>
        </div>
    </div>
    <!-- /tabs-content -->
</div>
<!-- /app-tabs -->

</div>
