<section class="title-wrapper">
    <div class="container">
        <h1>profile</h1>
    </div>
</section>
<div class="profile-content">
    <div class="container">
        <div class="tabs-wrapper">
            <aside>
                <div class="input-group">
                    <input type="search" placeholder="Search"/>
                </div>
                <a class="open-tabs button" ng-click="openTabs = !openTabs">Tabs</a>
                <ul class="tabs-links" ng-class="{'tabs-opened': openTabs}">
                    <li ng-class="{'active': UserDetailUpdate.activeTab === 'keys'}"
                        ng-click="UserDetailUpdate.activeTab = 'keys'">
                        SSH Keys
                    </li>
                    <li ng-class="{'active': UserDetailUpdate.activeTab === 'notifications'}"
                        ng-click="UserDetailUpdate.activeTab = 'notifications'">
                        Notifications
                    </li>
                    <li ng-class="{'active': UserDetailUpdate.activeTab === 'eventlog'}"
                        ng-click="UserDetailUpdate.activeTab = 'eventlog'">
                        Eventlog
                    </li>
                    <li ng-class="{'active': UserDetailUpdate.activeTab === 'password'}"
                        ng-click="UserDetailUpdate.activeTab = 'password'">
                        Password
                    </li>
                </ul>
            </aside>
            <div class="tab-content" ng-switch="UserDetailUpdate.activeTab">
                <div class="tab" id="keys"
                     ng-class="{'tab-active': UserDetailUpdate.activeTab === 'keys'}"
                     ng-switch-when="keys">
                    <div ui-view="tabKeys"></div>
                </div>
                <div class="tab" id="notifications"
                     ng-class="{'tab-active': UserDetailUpdate.activeTab === 'notifications'}"
                     ng-switch-when="notifications">
                    <div class="notif-wrapper">
                        <h2>subscribed to</h2>
                        <ul>
                            <li>
                                <input type="checkbox" id="event-login"/>
                                <label for="event-login"><span>Login events</span></label>
                            </li>
                            <li>
                                <input type="checkbox" id="critical"
                                       ng-model="criticalAlerts"
                                       ng-class="{'opened': criticalAlerts}"/>
                                <label for="critical"><span>Critical alerts</span></label>
                                <div class="critical" ng-show="criticalAlerts">
                                    <h2>critical alerts</h2>
                                    <form action="">
                                        <input type="checkbox" id="s-flag"/><label for="s-flag">Subscribed</label>
                                        <label for="s-email">Notification email</label>
                                        <input id="s-email" type="email"/>
                                        <label for="json">Event webhook (JSON)</label>
                                        <input id="json" type="text"/>
                                    </form>
                                </div>
                            </li>
                            <li>
                                <input type="checkbox" id="invites"/>
                                <label for="invites"><span>User invites</span></label>
                            </li>
                            <li>
                                <input type="checkbox" id="warnings"/>
                                <label for="warnings"><span>Warnings</span></label>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="tab" id="eventlog"
                     ng-class="{'tab-active': UserDetailUpdate.activeTab === 'eventlog'}"
                     ng-switch-when="eventlog">
                    <div class="tab-title">
                        <div class="user-about">
                            <div class="img-wrapper">
                                <img gravatar-src="UserDetailUpdate.model.email" class="avatar-img" gravatar-size="100">
                            </div>
                            <div class="about">
                                <span class="user-name">
                                    <span editable-text="UserDetailUpdate.model.full_name"
                                          buttons="no"
                                          onbeforesave="UserDetailUpdate.update()"
                                          title="Click to edit name">
                                        {{ UserDetailUpdate.model.full_name }}
                                    </span>
                                </span>
                                <span ng-if="!UserDetailUpdate.model.full_name || UserDetailUpdate.model.full_name === ''">
                                    ({{ UserDetailUpdate.model.username }})
                                </span>

                                <div class="user-email">
                                    <span editable-text="UserDetailUpdate.model.email"
                                          buttons="no"
                                          onbeforesave="UserDetailUpdate.update()"
                                          title="Click to edit email">
                                        {{ UserDetailUpdate.model.email }}
                                    </span>
                                    <div class="icon"></div>
                                    <div class="clear"></div>
                                </div>
                                <p>
                                    Joined on 26 Aug 2014
                                </p>

                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div ui-view="tabEventlog"></div>
                </div>
                <div class="tab" id="password"
                     ng-class="{'tab-active': UserDetailUpdate.activeTab === 'password'}"
                     ng-switch-when="password">
                    <ul class="password">
                        <li>
                            <label for="old">Old password</label>
                            <input id="old" type="text"/>
                        </li>
                        <li>
                            <label for="new">New password</label>
                            <input id="new" type="text"/>
                        </li>
                        <li>
                            <label for="repeat">Repeat new password</label>
                            <input id="repeat" type="text"/>
                        </li>
                        <li>
                            <a href="#" class="green-btn">Save password</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
