<section class="title-wrapper">
    <div class="container">
        <div class="left-side">
            <h1>Profile</h1>
        </div>
        <div class="user-about">
            <div class="img-wrapper">
                <img gravatar-src="UserDetailUpdate.model.email" class="avatar-img" gravatar-size="100">
            </div>
            <div class="about">
                <span class="user-name">
                    <span>
                        {{ UserDetailUpdate.model.full_name }}
                    </span>
                </span>
                <span ng-if="!UserDetailUpdate.model.full_name || UserDetailUpdate.model.full_name === ''">
                    ({{ UserDetailUpdate.model.username }})
                </span>

                <div class="user-email"
                     ng-if="UserDetailUpdate.currentUser.uuid === UserDetailUpdate.model.uuid">
                    <span editable-text="UserDetailUpdate.model.email"
                          e-form="userEmail"
                          buttons="no"
                          onbeforesave="UserDetailUpdate.update()"
                          title="Click to edit email">
                        {{ UserDetailUpdate.model.email }}
                    </span>
                    <div class="icon" ng-click="userEmail.$show()" ng-hide="userEmail.$visible"></div>
                    <div class="clear"></div>
                </div>
                <div class="user-email"
                     ng-if="UserDetailUpdate.currentUser.uuid != UserDetailUpdate.model.uuid">
                    <span>{{ UserDetailUpdate.model.email }}</span>
                    <div class="clear"></div>
                </div>
                <p>
                    Joined on {{ UserDetailUpdate.model.date_joined | date:'dd MMMM yyyy' }}
                </p>

            </div>
            <div class="clear"></div>
        </div>
    </div>
</section>
<div class="profile-content">
    <div class="container">
        <div class="tabs-wrapper">
            <aside>
                <div class="input-group">
                    <input type="search" placeholder="Search"/>
                </div>
                <a class="open-tabs button" ng-click="openTabs = !openTabs">Tabs</a>
                <ul class="tabs-links" ng-class="{'tabs-opened': openTabs}">
                    <li visible="keys" ng-class="{'active': UserDetailUpdate.activeTab === 'keys'}"
                        ng-click="UserDetailUpdate.activeTab = 'keys'">
                        SSH Keys
                    </li>
                    <li visible="notifications" ng-class="{'active': UserDetailUpdate.activeTab === 'notifications'}"
                        ng-click="UserDetailUpdate.activeTab = 'notifications'"
                        ng-if="UserDetailUpdate.currentUser.uuid === UserDetailUpdate.model.uuid">
                        Notifications
                    </li>
                    <li visible="eventlog" ng-class="{'active': UserDetailUpdate.activeTab === 'eventlog'}"
                        ng-click="UserDetailUpdate.activeTab = 'eventlog'">
                        Event log
                    </li>
                    <li visible="password" ng-class="{'active': UserDetailUpdate.activeTab === 'password'}"
                        ng-click="UserDetailUpdate.activeTab = 'password'"
                        ng-if="UserDetailUpdate.currentUser.uuid === UserDetailUpdate.model.uuid">
                        Password
                    </li>
                </ul>
            </aside>
            <div class="tab-content" ng-switch="UserDetailUpdate.activeTab">
                <div visible="keys" class="tab" id="keys"
                     ng-class="{'tab-active': UserDetailUpdate.activeTab === 'keys'}"
                     ng-switch-when="keys">
                    <div ui-view="tabKeys"></div>
                </div>
                <div visible="notifications" class="tab" id="notifications"
                     ng-class="{'tab-active': UserDetailUpdate.activeTab === 'notifications'}"
                     ng-switch-when="notifications">
                     <div ng-controller="HookListController as HookListController">
                         <entitylist
                             entity-list="HookListController"
                             entity-service="HookListController.service"
                             entity-buttons="HookListController.actionButtonsListItems"
                             entity-options="HookListController.entityOptions"></entitylist>
                     </div>
                </div>
                <div visible="eventlog" class="tab" id="eventlog"
                     ng-class="{'tab-active': UserDetailUpdate.activeTab === 'eventlog'}"
                     ng-switch-when="eventlog">
                    <div ui-view="tabEventlog"></div>
                </div>
                <div visible="password" class="tab" id="password"
                     ng-class="{'tab-active': UserDetailUpdate.activeTab === 'password'}"
                     ng-switch-when="password">
                    <ul class="password">
                        <li>
                            <label for="old">Old password</label>
                            <input id="old" type="text"/>
                        </li>
                        <li>
                            <label for="new">New password</label>
                            <input id="new" type="text"/>
                        </li>
                        <li>
                            <label for="repeat">Repeat new password</label>
                            <input id="repeat" type="text"/>
                        </li>
                        <li>
                            <a href="#" class="button">Save password</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
