<div ng-controller="UserListController as controller">

<!-- app-block -->
<section class="app-block">
    <div class="container-fluid">
        <div class="white-box">
            <div class="app-title-line">
                <div class="row">
                    <div class="col-xs-12 first-line">
                        <h2 class="app-title">Projects</h2>
                        <ul class="sort">
                            <li><a href="#" class="active">5</a></li>
                            <li><a href="#">15</a></li>
                            <li><a href="#">24</a></li>
                            <li class="divid">
                                <div class="search" data-role="search-box">
                                    <input type="text">
                                    <button class="search-button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </li>
                        </ul>
                        <div class="crud-box pull-right"><a href="/#/projects/add/" class="crud-controls"><i class="fa fa-plus"></i> Add project</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /app-block -->

<!-- app-block -->
<section class="app-block">
    <div class="container-fluid">
        <div class="white-box">
            <div class="app-items-list">
                <div class="table-responsive">
                    <table class="items-table">
                        <tr>
                            <th class="pic"></th>
                            <th class="name">
                                <a href="" class="sort">Name</a>
                            </th>
                            <th class="col-xs-3">
                                <a href="" class="sort">Services</a>
                            </th>
                        </tr>
                        <tr ng-repeat="user in controller.list">
                            <td class="col-xs-1 pic">
                                <a ui-sref="users.details({uuid: user.uuid})">
                                    <img src="../static/images/887178.jpg" alt="John Doe">
                                </a>
                            </td>
                            <td class="name">
                                <h2 class="item-title">
                                    <a ui-sref="users.details({uuid: user.uuid})">{{ user.native_name }}</a>
                                </h2>
                            </td>
                            <td class="col-xs-3 gray-text">
                                <ul class="standart-list">
                                    <li><a href="index.html">Github account</a></li>
                                    <li><a href="index.html">OpenStack</a></li>
                                </ul>
                            </td>
                            <td class="col-xs-2 controls-ctn">
                                <ul class="controls pull-right">
                                    <li>
                                        <a href="#" class="remove" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-times"></i></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /app-block -->

<!-- app-block -->
<div class="app-block">
    <div class="container-fluid">
        <!-- pagination -->
        <div class="pagination">
            <ul>
                <li><a href="#" class="current">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </div>
        <!-- /pagination -->
    </div>
</div>
<!-- /app-block -->

</div>
