<div class="popup">
    <section class="row">
        <div class="col">
            <h2 class="app-title">Remove from project</h2>
        </div>
        <div class="col">
            <div class="custom-select project inline-elem">
                <select>
                    <option value="">Choose project</option>
                    <option value="">Some project</option>
                    <option value="">Some project 2</option>
                </select>
            </div>
        </div>
    </section>
    <section class="row gray-box">
        <div class="col">
            <span class="avatar offset-right">
                <img src="/static/images/user-avatar.jpg" alt="" class="avatar-img">
            </span>
            <h4 class="item-title">
                <a href="">Michael Yakimenko</a>
            </h4>
        </div>
        <div class="col">
            <span class="avatar offset-right">
                <img src="/static/images/thumb50.png" alt="" class="avatar-img">
            </span>
            <h4 class="item-title">
                <a href="">Pavel Marchuk</a>
            </h4>
        </div>
    </section>
    <div class="decision">
        <div class="col">
            <a class="button-cancel">Cancel</a>
        </div>
        <div class="col">
            <a class="button-apply">Remove from project</a>
        </div>
    </div>
</div>
