<div class="popup" ng-controller="RemoveFromProjectUserController as RemoveFromProjectUser">
    <section class="row">
        <div class="col">
            <h2 class="app-title">Remove from project</h2>
        </div>
        <div class="col">
            <div class="custom-select project inline-elem">
                <select ng-model="RemoveFromProjectUser.project"
                        ng-options="project as project.project_name for project in RemoveFromProjectUser.projects">
                    <option value="">Choose project</option>
                </select>
            </div>
            <div class="error arrow-up" ng-show="RemoveFromProjectUser.errors.project">
                <ul class="error-list">
                    <li ng-repeat="error in RemoveFromProjectUser.errors.project">{{ error }}</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="row gray-box">
        <div class="col">
            <span class="avatar offset-right">
                <img gravatar-src="RemoveFromProjectUser.user.email" gravatar-size="100" alt="" class="avatar-img">
            </span>
            <h4 class="item-title">
                <a ui-sref="users.details({uuid: RemoveFromProjectUser.user.uuid})">{{RemoveFromProjectUser.user.full_name}}</a>
            </h4>
        </div>
    </section>
    <div class="decision">
        <div class="col">
            <a ng-click="RemoveFromProjectUser.cancel()" class="button-cancel">Cancel</a>
        </div>
        <div class="col">
            <a ng-click="RemoveFromProjectUser.remove()" class="button-apply">Remove from project</a>
        </div>
    </div>
</div>
