<!-- app-block -->
<section class="app-block">
    <div class="container-fluid">
        <div class="white-box">
            <div class="app-basic-form">
                <div class="row form-field">
                    <div class="col-xs-12 first-line">
                        <h2 class="app-title inline-elem">Remove users from project</h2>
                        <div class="custom-select project inline-elem">
                            <select>
                                <option value="">Choose project</option>
                                <option value="">Some project</option>
                                <option value="">Some project 2</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row form-field">
                    <div class="col-xs-12 text-center">
                        <a class="btn btn-default">Cancel</a>
                        <a class="btn btn-primary">Add users</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /app-block -->
