<div class="popup">
    <div class="row">
        <div class="col">
            <span class="avatar offset-right">
                <img src="/static/images/user-avatar.jpg" alt="" class="avatar-img">
            </span>
            <h4 class="item-title">
                <a href="">Michael Yakimenko</a>
            </h4>
        </div>
    </div>
    <section class="row">
        <div class="col">
            <h2 class="app-title">Setup new role in project <a href="#">Project ID</a></h2>
        </div>
        <div class="col">
            <div class="custom-select project inline-elem">
                <select>
                    <option value="">User</option>
                    <option value="">Administrator</option>
                </select>
            </div>
        </div>
    </section>
    <div class="decision">
        <div class="col">
            <a class="button-cancel">Cancel</a>
        </div>
        <div class="col">
            <a class="button-apply">Setup new role</a>
        </div>
    </div>
</div>
