<!-- app-block -->
<section class="app-block">
    <div class="container-fluid">
        <div class="white-box">
            <div class="app-basic-form">
                <div class="row form-field">
                    <div class="col-xs-12 first-line">
                        <h2 class="app-title inline-elem">Setup new role in project <a href="#">Project ID</a></h2>
                        <div class="custom-select project inline-elem">
                            <select>
                                <option value="">User</option>
                                <option value="">Administrator</option>
                            </select>
                        </div>
                        <ul class="links-list list-inline inline-elem">
                            <li>
                                <span>Current <strong>Administrator</strong></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row form-field">
                    <div class="col-xs-12 text-center">
                        <a class="btn btn-default">Cancel</a>
                        <a class="btn btn-primary">Add users</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /app-block -->
