<sortline ></sortline>

<div class="white-box clear">
    <ul class="object-list">
        <li>
            <div class="list-item">
                <div class="name">
                    <a class="list-sort">Name</a>
                </div>
                <div class="additional-cell">
                    <a class="list-sort">Role</a>
                </div>
                <div class="actions"></div>
            </div>
        </li>
        <li>
            <div class="list-item">
                <div class="name">
                    <h3 class="item-title pointer"><a href="ui-sref=">Project name</a></h3>
                </div>
                <div class="additional-cell">
                    Role
                </div>
                <div class="actions">
                    <div class="actions-button">
                        <a class="button">Manage</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
