<!-- app-block -->
<section class="app-block">
    <div class="container-fluid">
        <div class="white-box">
            <div class="app-title-line">
                <div class="row">
                    <div class="col-xs-12 first-line">
                        <ul class="sort">
                            <li><a href="#" class="active">5</a></li>
                            <li><a href="#">15</a></li>
                            <li><a href="#">24</a></li>
                            <li class="divid">
                                <div class="search" data-role="search-box">
                                    <input type="text">
                                    <button class="search-button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /app-block -->

<div ui-view="controlsListUser"></div>

<!-- app-block -->
<section class="app-block">
    <div class="container-fluid">
        <div class="white-box">
            <div class="app-items-list">
                <div class="table-responsive">
                    <table class="items-table">
                        <tr>
                            <th class="pic"></th>
                            <th class="name">
                                <a href="" class="sort">Project</a>
                            </th>
                            <th class="col-xs-3">
                                <a href="" class="sort">Role</a>
                            </th>
                            <th></th>
                        </tr>
                        <tr>
                            <td class="col-xs-1 pic">
                                <input type="checkbox" ng-show="controller.showgroup">
                            </td>
                            <td class="name">
                                <h2 class="item-title">
                                    <a ui-sref="#">Project</a>
                                </h2>
                            </td>
                            <td class="col-xs-3 gray-text">
                                <span class="gray-text">Role in project</span>
                            </td>
                            <td class="col-xs-2 controls-ctn">
                                <div class="rel-box">
                                    <ul class="controls pull-right" ng-hide="controller.showgroup">
                                        <li>
                                            <a class="btn btn-control dropdown"
                                                ng-click="subactions=!subactions"
                                                ng-class="{'active': subactions}"
                                                >Actions</a>
                                            <ul class="sub-controls" ng-show="subactions">
                                                <li>
                                                    <a class="btn btn-control">Setup new role</a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-control">Remove from project</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /app-block -->
<!-- app-block -->
<div class="app-block">
    <div class="container-fluid">
        <!-- pagination -->
        <div class="pagination">
            <ul>
                <li><a href="#" class="current">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </div>
        <!-- /pagination -->
    </div>
</div>
<!-- /app-block -->
