<div class="white-box tabs">
    <ul class="sort-list">
        <li>
            <a href="#" class="active">5 hours</a>
        </li>
        <li>
            <a href="#">24 hours</a>
        </li>
        <li>
            <a href="#">week</a>
        </li>
        <li class="search divid">
            <div class="search-box" data-role="search-box">
                <input type="text">
                <button class="search-button"></button>
            </div>
        </li>
    </ul>
</div>

<!-- view-control -->
<section class="view-control">
    <div class="list-item no-cursor">
        <div class="checkbox">
            <div class="checkbox" ng-show="controller.showgroup">
                <input type="checkbox">
            </div>
        </div>
        <div>
            <div class="view-action-buttons" ng-show="controller.showgroup">
                <a class="button remove"
                    ng-click="ResourceList.deleteResource(resource, $index)">
                Remove</a>
            </div>
            <div class="view-action-buttons-mobile" ng-show="controller.showgroup">
                <div class="actions-button">
                    <a class="button dropdown-active"
                        ng-click="mobileActions=!mobileActions">actions</a>
                    <ul class="actions-dropdown" ng-show="mobileActions">
                        <li>
                            <a class="button-simple remove"
                                ng-click="ResourceList.deleteResource(resource, $index)">
                            Remove</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="actions switch">
            <span class="label-text" ng-class="{'low-grade': !controller.showgroup}">batch</span>
            <div class="checkbox-toggle">
                <input type="checkbox" id="control-types" ng-click="controller.showgroup=!controller.showgroup">
                <label for="control-types"></label>
            </div>
            <span class="label-text special-left" ng-class="{'low-grade': controller.showgroup}">single</span>
        </div>
    </div>
</section>
<!-- /view-control -->

<div class="white-box clear">
    <ul class="object-list">
        <li>
            <div class="list-item">
                <div class="checkbox"></div>
                <div class="name">
                    <a class="list-sort">Name</a>
                </div>
                <div class="additional-cell">
                    <a class="list-sort">Fingerprint</a>
                </div>
                <div class="actions"></div>
            </div>
        </li>
        <li ng-repeat="key in controller.user.keys">
            <div class="list-item">
                <div class="checkbox">
                    <div class="checkbox">
                        <input type="checkbox" ng-show="controller.showgroup">
                    </div>
                </div>
                <div class="name">
                    <h3 class="item-title pointer">{{ key.name }}</h3>
                </div>
                <div class="additional-cell">
                    {{ key.fingerprint }}
                </div>
                <div class="actions">
                    <div class="actions-button" ng-show="!controller.showgroup">
                        <a class="button" ng-click="openActions=!openActions">actions</a>
                        <ul class="actions-dropdown" ng-show="openActions">
                            <li>
                            <a class="button-simple remove">
                                Remove</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
