<!-- app-block -->
<section class="app-block">
    <div class="container-fluid">
        <!-- white-box -->
        <div class="white-box">
            <div class="app-title-line">
                <div class="row">
                    <div class="col-xs-12 first-line">
                        <ul class="sort">
                            <li><a href="#" class="active">5</a></li>
                            <li><a href="#">15</a></li>
                            <li><a href="#">24</a></li>
                            <li class="divid">
                                <div class="search" data-role="search-box">
                                    <input type="text">
                                    <button class="search-button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /white-box -->
    </div>
</section>
<!-- /app-block -->
<!-- app-block -->
<section class="app-block">
    <div class="container-fluid">
        <div class="white-box">
           <div class="app-items-list">
                <div class="table-responsive">
                    <table class="items-table">
                        <!-- event -->
                        <tr class="event">
                            <td class="circle">
                                <div class="circle-decor"></div>
                            </td>
                            <td>
                                <h2 class="item-title">Update something</h2>
                                <div class="content">
                                    <div class="gray-text">
                                        <p>
                                            Description of an event. AWS VM john.doe.com was is suffering from a Heartbleed bug.
                                        </p>
                                    </div>
                                    <ul class="controls">
                                        <li>
                                            <a href="#" class="event-action">Send to email</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td class="col-xs-2 controls-ctn">
                                <ul class="controls pull-right">
                                    <li>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Favorite" class="kit-icon star filled"></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <!-- /event -->
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /app-block -->
