<div class="tabs-container">
  <uib-tabset active="active">
    <uib-tab index="'volumes'">
      <uib-tab-heading>
        <span translate>Volumes</span>
        <span ng-if="!$ctrl.loading">({{ $ctrl.volumesCount }})</span>
      </uib-tab-heading>
      <div class="panel-body" ng-if="active=='volumes'">
        <resource-volumes-list on-list-receive="$ctrl.onVolumesListReceive($event)"></resource-volumes-list>
      </div>
    </uib-tab>
    <uib-tab index="'snapshots'">
      <uib-tab-heading>
        <span translate>Snapshots</span>
        <span ng-if="!$ctrl.loading">({{ $ctrl.snapshotsCount }})</span>
      </uib-tab-heading>
      <div class="panel-body" ng-if="active=='snapshots'">
        <openstack-snapshots-list on-list-receive="$ctrl.onSnapshotsListReceive($event)"></openstack-snapshots-list>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
