<div ng-if="$ctrl.loading">
  <loading-spinner></loading-spinner>
</div>
<div class="row m-t-md" ng-if="!$ctrl.loading">
  <div ng-if="$ctrl.total === 0">
    <h2 translate class="text-center m-t-xl">There are no resources in the organization.</h2>
  </div>
  <div ng-if="$ctrl.total > 0">
    <div class="col-sm-6">
      <div class="ibox">
        <div class="ibox-title">
          <h5>
            <span translate>Resource count in</span>
            <span
              ng-if="::$ctrl.customer.abbreviation"
              ng-bind="::$ctrl.customer.abbreviation"
              uib-tooltip="{{ ::$ctrl.customer.name }}">
            </span>
            <span
              ng-if="::!$ctrl.customer.abbreviation"
              ng-bind="::$ctrl.customer.name"
            >
            </span>
          </h5>
        </div>
        <div class="ibox-content">
          <resource-pie-chart items="$ctrl.pieChart" total="$ctrl.total"></resource-pie-chart>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="ibox">
        <div class="ibox-title">
          <h5 translate>Resources by projects</h5>
        </div>
        <div class="ibox-content">
          <resource-bar-chart items="$ctrl.barChart"></resource-bar-chart>
        </div>
      </div>
    </div>
  </div>
</div>
