canvas.resource-pie-chart {
  width: 250px;
}

.resource-pie-chart-indicator {
  display: inline-block;
  width: 20px;
  height: 15px;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 3px;
  vertical-align: middle;
}
