.custom-radio-button {
  label {
    display: inline-block;
    padding-left: 5px;
    margin-right: 5px;
    input {
      width: 0;
      margin: 0;
      opacity: 0;
    }
    input:checked + .custom-checkmark {
      background-position: -167px 0; 
    }
    input:not(:checked):hover + .custom-checkmark {
      background-position: -142px 0; 
    }
    .custom-checkmark {
      min-height: 22px;
      display: inline-block;
      padding-left: 26px;
      background: url("../../../../../assets/images/icons/green.png") no-repeat;
      background-position: -118px 0; 
      margin-right: 5px;
    }
    .radio-label {
      float: right;
      font-weight: normal;
      padding-top: 2px;
    }
  }    
}
