<div ng-if="$ctrl.loading">
  <loading-spinner></loading-spinner>
</div>

<div ng-if="!$ctrl.loading">
  <customer-details customer="$ctrl.customer"></customer-details>
  <div class="row">
    <div class="col-md-6">
      <customer-policies
        ng-if="$ctrl.canUpdateCustomerPolicies"
        customer="$ctrl.customer"
        can-update-quota="$ctrl.canUpdateQuota"></customer-policies>
    </div>
    <div class="col-md-6">
      <customer-edit-details customer="$ctrl.customer"></customer-edit-details>
    </div>
  </div>
  <marketplace-service-provider-management customer="$ctrl.customer"></marketplace-service-provider-management>
  <div class="panel panel-default">
    <div class="panel-heading" translate>Organization actions</div>
    <div class="panel-body">
      <a ng-click="$ctrl.reportError()" class="btn btn-success">
        <i class="fa fa-bug"></i>
        <span translate>Report incorrect data</span>
      </a>
    </div>
    <div class="panel-body" ng-if="$ctrl.canDeleteCustomer">
      <p translate>You can remove this organization by pressing the button</p>
      <a ng-click="$ctrl.removeCustomer()" class="btn btn-danger">
        <i class="fa fa-trash"></i>
        <span translate>Remove organization</span>
      </a>
    </div>
    <div class="panel-body" ng-if="!$ctrl.canDeleteCustomer">
      <h3>
        <span translate>Only staff can remove organization.</span>
      </h3>
    </div>
  </div>
</div>
