.resource-tabs {
  // Menu item heads
  .menu-content .menu-section {
    white-space: nowrap;
    font-size: 0.95rem;
  }
  .menu-sub {
    .menu-badge {
      font-size: 0.95rem;
    }
  }
}

@media (max-width: 320px) {
  .resource-tabs {
    .menu-content .menu-section {
      font-size: 0.8rem;
    }

    .menu-sub {
      .menu-title {
        font-size: 0.95rem;
      }
      .menu-badge {
        font-size: 0.8rem;
      }
    }
  }
}
