.customer-create-prompt {
  label {
    width: 100%;
  }
  .checked .message-button{
    background-color: #337ab7;
    border-color: #337ab7;
    color: #fff;
  }
}

@media(min-width: 769px) and (max-width: 1000px) {
  .customer-create-prompt {
    .message-button {
      min-height: 299px;
    }
  }
}

.customer-create-prompt {
  .modal-title {
    font-size: 18px;
  }
  .single-button {
    label {
      display: block;
      margin: 0 auto;
      width: 300px;
    }
  }
}
