{% extends 'base_account.html' %}

{% block content %}
<!-- app-block -->
<section class="app-block">
    <div class="container-fluid">
        <div class="white-box">
            <div class="app-title-line">
                <div class="row">
                    <div class="col-xs-12 first-line">
                        <h2 class="app-title">Examples notifications</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /app-block -->

<!-- app-block -->
<section class="app-block">
    <div class="container-fluid">
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Enter a valid email address
        </div>
        <div class="alert alert-success" role="alert">
            Enter a valid email address
        </div>
        <div class="alert alert-info" role="alert">
            Enter a valid email address
        </div>
        <div class="alert alert-warning" role="alert">
            Enter a valid email address
        </div>
        <div class="alert alert-danger" role="alert">
            Enter a valid email address
        </div>
    </div>
</section>
<!-- /app-block -->
{% endblock %}

{% block modals %}
{% endblock %}
