{% extends 'base_account.html' %}

{% block content %}
<!-- dash-block -->
<div class="dash-block" id="eventlog">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="dash-title-box">
                    <h2 class="dash-title">What's happening</h2>
                    <ul class="sort">
                        <li><a href="#" class="active">5 hours</a></li>
                        <li><a href="#">24 hours</a></li>
                        <li><a href="#">week</a></li>
                        <li class="divid"><a href="#"><i class="fa fa-clock-o"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="main-activities">
                    <!-- main-activity-item -->
                    <div class="main-activity-item" data-notify="single-notify">
                        <!-- header -->
                        <header class="row">
                            <div class="col-xs-6">
                                <a href="/project.html" class="project-title">Gh-45nd</a>
                            </div>
                            <div class="col-xs-6 controls-box">
                                <ul class="controls">
                                    <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Watch later"><i class="fa fa-clock-o"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Favorite"><i class="fa fa-star"></i></a></li>
                                </ul>
                            </div>
                        </header>
                        <!-- /header -->
                        <!-- content -->
                        <div class="content">
                            <ul class="events">
                                <li class="event">
                                    <span class="elem icon-box"><i class="fa fa-shield"></i></span>
                                    <a href="/event.html" class="elem event-text">Sequrity task. Need to update bash on virtualhosts</a>
                                    <a href="#" class="elem event-action">Update all</a>
                                </li>
                                <li class="event">
                                    <span class="elem icon-box"><i class="fa fa-cloud"></i></span>
                                    <a href="/event.html" class="elem event-text">Need to billing aws</a>
                                </li>
                                <li class="event">
                                    <a href="/event.html" class="elem event-text">Need to send event for</a>
                                    <span class="elem user"><a href="#"><i class="fa fa-user"></i> Andrey Titula</a></span>
                                    <a href="#" class="elem event-action">Send event</a>
                                </li>
                            </ul>
                        </div>
                        <!-- separate -->
                        <div class="separate"></div>
                    </div>
                    <!-- /main-activity-item -->
                    <!-- main-activity-item -->
                    <div class="main-activity-item" data-notify="single-notify">
                        <!-- header -->
                        <header class="row">
                            <div class="col-xs-6">
                                <a href="/project.html" class="project-title">Gh-45nd</a>
                            </div>
                            <div class="col-xs-6 controls-box">
                                <ul class="controls">
                                    <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Watch later"><i class="fa fa-clock-o"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Favorite"><i class="fa fa-star"></i></a></li>
                                </ul>
                            </div>
                        </header>
                        <!-- /header -->
                        <!-- content -->
                        <div class="content">
                            <ul class="events">
                                <li class="event">
                                    <span class="elem icon-box"><i class="fa fa-shield"></i></span>
                                    <a href="/event.html" class="elem event-text">Sequrity task. Need to update bash on virtualhosts</a>
                                    <a href="#" class="elem event-action">Update all</a>
                                </li>
                            </ul>
                        </div>
                        <!-- separate -->
                        <div class="separate"></div>
                    </div>
                    <!-- /main-activity-item -->
                    <!-- main-activity-item -->
                    <div class="main-activity-item" data-notify="single-notify">
                        <!-- header -->
                        <header class="row">
                            <div class="col-xs-6">
                                <a href="/project.html" class="project-title">Gh-45nd</a>
                            </div>
                            <div class="col-xs-6 controls-box">
                                <ul class="controls">
                                    <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Watch later"><i class="fa fa-clock-o"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Favorite"><i class="fa fa-star"></i></a></li>
                                </ul>
                            </div>
                        </header>
                        <!-- /header -->
                        <!-- content -->
                        <div class="content">
                            <ul class="events">
                                <li class="event">
                                    <span class="elem icon-box"><i class="fa fa-cloud"></i></span>
                                    <a href="/event.html" class="elem event-text">Need to billing aws</a>
                                </li>
                                <li class="event">
                                    <a href="/event.html" class="elem event-text">Need to send event for</a>
                                    <span class="elem user"><a href="#"><i class="fa fa-user"></i> Andrey Titula</a></span>
                                    <a href="#" class="elem event-action">Send event</a>
                                </li>
                            </ul>
                        </div>
                        <!-- separate -->
                        <div class="separate"></div>
                    </div>
                    <!-- /main-activity-item -->
                    <!-- main-activity-item -->
                    <div class="main-activity-item" data-notify="single-notify">
                        <!-- header -->
                        <header class="row">
                            <div class="col-xs-6">
                                <a href="/project.html" class="project-title">Gh-45nd</a>
                            </div>
                            <div class="col-xs-6 controls-box">
                                <ul class="controls">
                                    <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Watch later"><i class="fa fa-clock-o"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Favorite"><i class="fa fa-star"></i></a></li>
                                </ul>
                            </div>
                        </header>
                        <!-- /header -->
                        <!-- content -->
                        <div class="content">
                            <ul class="events">
                                <li class="event">
                                    <span class="elem icon-box"><i class="fa fa-cloud"></i></span>
                                    <a href="/event.html" class="elem event-text">Need to billing aws</a>
                                </li>
                                <li class="event">
                                    <a href="/event.html" class="elem event-text">Need to send event for</a>
                                    <span class="elem user"><a href="#"><i class="fa fa-user"></i> Andrey Titula</a></span>
                                    <a href="#" class="elem event-action">Send event</a>
                                </li>
                            </ul>
                        </div>
                        <!-- separate -->
                        <div class="separate"></div>
                    </div>
                    <!-- /main-activity-item -->
                    <!-- main-activity-item -->
                    <div class="main-activity-item" data-notify="single-notify">
                        <!-- header -->
                        <header class="row">
                            <div class="col-xs-6">
                                <a href="/project.html" class="project-title">Gh-45nd</a>
                            </div>
                            <div class="col-xs-6 controls-box">
                                <ul class="controls">
                                    <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Watch later"><i class="fa fa-clock-o"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Favorite"><i class="fa fa-star"></i></a></li>
                                </ul>
                            </div>
                        </header>
                        <!-- /header -->
                        <!-- content -->
                        <div class="content">
                            <ul class="events">
                                <li class="event">
                                    <span class="elem icon-box"><i class="fa fa-cloud"></i></span>
                                    <a href="/event.html" class="elem event-text">Need to billing aws</a>
                                </li>
                                <li class="event">
                                    <a href="/event.html" class="elem event-text">Need to send event for</a>
                                    <span class="elem user"><a href="#"><i class="fa fa-user"></i> Andrey Titula</a></span>
                                    <a href="#" class="elem event-action">Send event</a>
                                </li>
                            </ul>
                        </div>
                        <!-- separate -->
                        <div class="separate"></div>
                    </div>
                    <!-- /main-activity-item -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /dash-block -->

<!-- dash-block -->
<div class="dash-block" id="projects">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="dash-title-box">
                    <h2 class="dash-title">Projects</h2>
                    <ul class="sort">
                        <li><a href="#" class="active">5</a></li>
                        <li><a href="#">15</a></li>
                        <li><a href="#">24</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="projects-list">
                    <table class="project-list-table">
                        <tr>
                            <th class="name sort-down">Name</th>
                            <th class="description sort-down">Description</th>
                            <th class="participants sort-down" data-proj-sort="box">
                                Admins <a class="search" data-proj-sort="name" data-toggle="tooltip" data-placement="bottom" title="By name"><i class="fa fa-search"></i></a>
                                <div class="by-name-search" data-proj-sort="field">
                                    <input type="text" placeholder="John Doe">
                                </div>
                            </th>
                            <th class="participants sort-down" data-proj-sort="box">
                                Managers <a class="search" data-proj-sort="name" data-toggle="tooltip" data-placement="bottom" title="By name"><i class="fa fa-search"></i></a>
                                <div class="by-name-search" data-proj-sort="field">
                                    <input type="text" placeholder="John Doe">
                                </div>
                            </th>
                            <th class="shared-resources sort-down">Shared resources</th>
                            <th class="actions sort-down">Actions</th>
                        </tr>
                        <tr>
                            <td class="name"><a href="/project.html">G48s-11</a></td>
                            <td class="description">Garag48 in Montentegro</td>
                            <td class="participants">
                                <ul>
                                    <li><a href="#">Mihail Loon</a></li>
                                    <li><a href="#">Vasilij Blomberg</a></li>
                                    <li><a href="#" class="show-more" data-toggle="tooltip" data-placement="bottom" title="All project admins"><i class="fa fa-ellipsis-h"></i></a></li>
                                </ul>
                            </td>
                            <td class="participants">
                                <ul>
                                    <li><a href="#">Mihail Loon</a></li>
                                    <li><a href="#">Vasilij Blomberg</a></li>
                                    <li><a href="#" class="show-more" data-toggle="tooltip" data-placement="bottom" title="All project Managers"><i class="fa fa-ellipsis-h"></i></a></li>
                                </ul>
                            </td>
                            <td class="shared-resources">
                                <ul>
                                    <li><a href="#">git hosting</a></li>
                                    <li><a href="#">AWS</a></li>
                                    <li><a href="#">Rackspace instance</a></li>
                                </ul>
                            </td>
                            <td class="actions">
                                <a href="#" class="view" data-toggle="tooltip" data-placement="bottom" title="Viwe"><i class="fa fa-eye"></i></a>
                                <a href="#" class="conf" data-toggle="tooltip" data-placement="bottom" title="Settings"><i class="glyphicon glyphicon-compressed"></i></a>
                                <a href="#" class="remove" data-toggle="tooltip" data-placement="bottom" title="Remove"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="name"><a href="/project.html">G48s-11</a></td>
                            <td class="description">Flag for new country</td>
                            <td class="participants">
                                <ul>
                                    <li><a href="#">Mihail Loon</a></li>
                                    <li><a href="#">Vasilij Blomberg</a></li>
                                    <li><a href="#" class="show-more" data-toggle="tooltip" data-placement="bottom" title="All project admins"><i class="fa fa-ellipsis-h"></i></a></li>
                                </ul>
                            </td>
                            <td class="participants">
                                <ul>
                                    <li><a href="#">Mihail Loon</a></li>
                                    <li><a href="#">Vasilij Blomberg</a></li>
                                    <li><a href="#" class="show-more" data-toggle="tooltip" data-placement="bottom" title="All project Managers"><i class="fa fa-ellipsis-h"></i></a></li>
                                </ul>
                            </td>
                            <td class="shared-resources">
                                <ul>
                                    <li><a href="#">git hosting</a></li>
                                    <li><a href="#">AWS</a></li>
                                    <li><a href="#">Rackspace instance</a></li>
                                </ul>
                            </td>
                            <td class="actions">
                                <a href="#" class="view" data-toggle="tooltip" data-placement="bottom" title="Viwe project"><i class="fa fa-eye"></i></a>
                                <a href="#" class="conf" data-toggle="tooltip" data-placement="bottom" title="Archive"><i class="glyphicon glyphicon-compressed"></i></a>
                                <a href="#" class="remove" data-toggle="tooltip" data-placement="bottom" title="Remove project"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="name"><a href="/project.html">G48s-11</a></td>
                            <td class="description">Flag for new country</td>
                            <td class="participants">
                                <ul>
                                    <li><a href="#">Mihail Loon</a></li>
                                    <li><a href="#">Vasilij Blomberg</a></li>
                                    <li><a href="#" class="show-more" data-toggle="tooltip" data-placement="bottom" title="All project admins"><i class="fa fa-ellipsis-h"></i></a></li>
                                </ul>
                            </td>
                            <td class="participants">
                                <ul>
                                    <li><a href="#">Mihail Loon</a></li>
                                    <li><a href="#">Vasilij Blomberg</a></li>
                                    <li><a href="#" class="show-more" data-toggle="tooltip" data-placement="bottom" title="All project Managers"><i class="fa fa-ellipsis-h"></i></a></li>
                                </ul>
                            </td>
                            <td class="shared-resources">
                                <ul>
                                    <li><a href="#">git hosting</a></li>
                                    <li><a href="#">AWS</a></li>
                                    <li><a href="#">Rackspace instance</a></li>
                                </ul>
                            </td>
                            <td class="actions">
                                <a href="#" class="view" data-toggle="tooltip" data-placement="bottom" title="Viwe project"><i class="fa fa-eye"></i></a>
                                <a href="#" class="conf" data-toggle="tooltip" data-placement="bottom" title="Archive"><i class="glyphicon glyphicon-compressed"></i></a>
                                <a href="#" class="remove" data-toggle="tooltip" data-placement="bottom" title="Remove project"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="name"><a href="/project.html">G48s-11</a></td>
                            <td class="description">Flag for new country</td>
                            <td class="participants">
                                <ul>
                                    <li><a href="#">Mihail Loon</a></li>
                                    <li><a href="#">Vasilij Blomberg</a></li>
                                    <li><a href="#" class="show-more" data-toggle="tooltip" data-placement="bottom" title="All project admins"><i class="fa fa-ellipsis-h"></i></a></li>
                                </ul>
                            </td>
                            <td class="participants">
                                <ul>
                                    <li><a href="#">Mihail Loon</a></li>
                                    <li><a href="#">Vasilij Blomberg</a></li>
                                    <li><a href="#" class="show-more" data-toggle="tooltip" data-placement="bottom" title="All project Managers"><i class="fa fa-ellipsis-h"></i></a></li>
                                </ul>
                            </td>
                            <td class="shared-resources">
                                <ul>
                                    <li><a href="#">git hosting</a></li>
                                    <li><a href="#">AWS</a></li>
                                    <li><a href="#">Rackspace instance</a></li>
                                </ul>
                            </td>
                            <td class="actions">
                                <a href="#" class="view" data-toggle="tooltip" data-placement="bottom" title="Viwe project"><i class="fa fa-eye"></i></a>
                                <a href="#" class="conf" data-toggle="tooltip" data-placement="bottom" title="Archive"><i class="glyphicon glyphicon-compressed"></i></a>
                                <a href="#" class="remove" data-toggle="tooltip" data-placement="bottom" title="Remove project"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="name"><a href="/project.html">G48s-11</a></td>
                            <td class="description">Flag for new country</td>
                            <td class="participants">
                                <ul>
                                    <li><a href="#">Mihail Loon</a></li>
                                    <li><a href="#">Vasilij Blomberg</a></li>
                                    <li><a href="#" class="show-more" data-toggle="tooltip" data-placement="bottom" title="All project admins"><i class="fa fa-ellipsis-h"></i></a></li>
                                </ul>
                            </td>
                            <td class="participants">
                                <ul>
                                    <li><a href="#">Mihail Loon</a></li>
                                    <li><a href="#">Vasilij Blomberg</a></li>
                                    <li><a href="#" class="show-more" data-toggle="tooltip" data-placement="bottom" title="All project Managers"><i class="fa fa-ellipsis-h"></i></a></li>
                                </ul>
                            </td>
                            <td class="shared-resources">
                                <ul>
                                    <li><a href="#">git hosting</a></li>
                                    <li><a href="#">AWS</a></li>
                                    <li><a href="#">Rackspace instance</a></li>
                                </ul>
                            </td>
                            <td class="actions">
                                <a href="#" class="view" data-toggle="tooltip" data-placement="bottom" title="Viwe project"><i class="fa fa-eye"></i></a>
                                <a href="#" class="conf" data-toggle="tooltip" data-placement="bottom" title="Archive"><i class="glyphicon glyphicon-compressed"></i></a>
                                <a href="#" class="remove" data-toggle="tooltip" data-placement="bottom" title="Remove project"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /dash-block -->
{% endblock %}

{% block modals %}
<!-- Modal -->
<div class="modal fade" id="addCustomer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Customer</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Project</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addResource" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Resource</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
