{% extends 'base_account.html' %}

{% block content %}
<!-- app-block -->
<section class="app-block">
    <div class="container-fluid">
        <div class="white-box">
            <div class="app-title-line">
                <div class="row">
                    <div class="col-xs-12 first-line">
                        <h2 class="app-title">What's happening</h2>
                        <ul class="sort">
                            <li><a href="#" class="active">5 hours</a></li>
                            <li><a href="#">24 hours</a></li>
                            <li><a href="#">week</a></li>
                            <li class="divid"><a href="#"><i class="fa fa-star"></i></a></li>
                        </ul>
                        <div class="crud-box pull-right"><a href="#" class="crud-controls"><i class="fa fa-plus"></i> add project</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /app-block -->

<!-- app-block -->
<section class="app-block">
    <div class="container-fluid">
        <div class="white-box">
            <div class="app-content">
                <ul class="app-items-list">
                    <li class="list-item">
                        {% include 'includes/parts/event-list-item.html' %}
                    </li>
                    <li class="list-item">
                        {% include 'includes/parts/event-list-item.html' %}
                    </li>
                    <li class="list-item">
                        {% include 'includes/parts/event-list-item.html' %}
                    </li>
                    <li class="list-item">
                        {% include 'includes/parts/event-list-item.html' %}
                    </li>
                    <li class="list-item">
                        {% include 'includes/parts/event-list-item.html' %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- /app-block -->
{% endblock %}

{% block modals %}
{% endblock %}
