{% extends 'base_account.html' %}

{% block content %}
<!-- event-single -->
<div class="event-single">
    <div class="container-fluid">
        <div class="event-single-box">
            <div class="row">
                <div class="col-xs-6">
                    <!-- event-info -->
                    <div class="event-info">
                        <div class="elem">
                            <span class="simple-text">from </span> <a href="{{ url_for('project') }}" class="project-title">Gh-45nd</a>
                            <span class="simple-text">at</span> <time class="date"><i class="fa fa-calendar-o"></i> 17.10.2014 – <i class="fa fa-clock-o"></i> 16:02</time>
                        </div>
                    </div>
                    <!-- /event-info -->
                </div>
                <div class="col-xs-6 controls-box">
                    <ul class="controls">
                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Watch later"><i class="fa fa-clock-o"></i></a></li>
                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Favorite"><i class="fa fa-star"></i></a></li>
                    </ul>
                </div>
            </div>
            <h2 class="event-title"><a href="{{ url_for('event') }}" class="elem event-text">Sequrity task. Need to update bash on virtualhosts</a></h2>
            <div class="event-description">
                Discovered a security hole bash. To fix this you need to update to the latest version of bash.
            </div>
            <div class="event-info">
                <a href="#" class="event-actions">update</a>
            </div>
        </div>
    </div>
</div>
<!-- /event-single -->

<!-- event-single -->
<div class="event-single">
    <div class="container-fluid">
       <div class="event-single-box"> <div class="row">
               <div class="col-xs-6">
                   <!-- event-info -->
                   <div class="event-info" data-grouped="box">
                       <div class="elem">
                           <span class="simple-text">from </span> <span data-grouped="trigger" class="project-title grouped">Grouped <b>10</b> projects</span>
                           <span class="simple-text">at</span> <time class="date"><i class="fa fa-calendar-o"></i> 17.10.2014 – <i class="fa fa-clock-o"></i> 16:02</time>
                       </div>
                       <div data-grouped="show-grouped">
                           <div class="gruoped-projects">
                               <a href="{{ url_for('project') }}">Gh-45nd</a>,
                               <a href="{{ url_for('project') }}">Gh-45nd</a>,
                               <a href="{{ url_for('project') }}">Gh-45nd</a>
                           </div>
                       </div>
                   </div>
                   <!-- /event-info -->
               </div>
               <div class="col-xs-6 controls-box">
                   <ul class="controls">
                       <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Watch later"><i class="fa fa-clock-o"></i></a></li>
                       <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Favorite"><i class="fa fa-star"></i></a></li>
                   </ul>
               </div>
           </div>
           <h2 class="event-title"><a href="{{ url_for('event') }}" class="elem event-text">Sequrity task. Need to update bash on virtualhosts</a></h2>
           <div class="event-description">
               Discovered a security hole bash. To fix this you need to update to the latest version of bash.
           </div>
           <div class="event-info">
               <a href="#" class="event-actions">update all</a>
           </div> 
        </div>
    </div>
</div>
<!-- /event-single -->

<!-- dash-block -->
<div class="dash-block" id="eventlog">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="dash-title-box">
                    <h2 class="dash-title">More events</h2>
                    <ul class="sort">
                        <li><a href="#" class="active">5 hours</a></li>
                        <li><a href="#">24 hours</a></li>
                        <li><a href="#">week</a></li>
                        <li class="divid"><a href="#"><i class="fa fa-clock-o"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="main-activities">
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                </div>
            </div>
        </div>
        <!-- more -->
        <div class="more">
            <a href="#" class="btn btn-default">Show more</a>
        </div>
        <!-- /more -->
    </div>
</div>
<!-- /dash-block -->
{% endblock %}

{% block modals %}
{% include 'includes/parts/addcustomer.html' %}
{% include 'includes/parts/addproject.html' %}
{% include 'includes/parts/addresource.html' %}
{% endblock %}
