{% extends 'base_account.html' %}

{% block content %}
<!-- dash-block -->
<div class="dash-block" id="eventlog">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="dash-title-box">
                    <h2 class="dash-title">What's happening</h2>
                    <ul class="sort">
                        <li><a href="#" class="active">5 hours</a></li>
                        <li><a href="#">24 hours</a></li>
                        <li><a href="#">week</a></li>
                        <li class="divid"><a href="#"><i class="fa fa-clock-o"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="main-activities">
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                </div>
            </div>
        </div>
        <!-- more -->
        <div class="more">
            <a href="#" class="btn btn-default">Show more</a>
        </div>
        <!-- /more -->
    </div>
</div>
<!-- /dash-block -->
{% endblock %}

{% block modals %}
<!-- Modal -->
<div class="modal fade" id="addCustomer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Customer</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Project</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addResource" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Resource</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
