{% extends 'base_account.html' %}

{% block content %}
<!-- dash-block -->
<div class="dash-block" id="eventlog">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="dash-title-box">
                    <h2 class="dash-title">What's happening</h2>
                    <ul class="sort">
                        <li><a href="#" class="active">5 hours</a></li>
                        <li><a href="#">24 hours</a></li>
                        <li><a href="#">week</a></li>
                        <li class="divid"><a href="#"><i class="fa fa-clock-o"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="main-activities">
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                </div>
            </div>
        </div>
        <!-- more -->
        <div class="more">
            <a href="#" class="btn btn-default">Show more</a>
        </div>
        <!-- /more -->
    </div>
</div>
<!-- /dash-block -->
{% endblock %}

{% block modals %}
{% include 'includes/parts/addcustomer.html' %}
{% include 'includes/parts/addproject.html' %}
{% include 'includes/parts/addresource.html' %}
{% endblock %}
