{% extends 'base.html' %}

{% block content %}
<div class="site-welcome">
    <div class="container-fluid">
        <h1>
            Remove the boring aspects of system administration
            <span>and concentrate on the fun stuff</span>
        </h1>
        <div class="tour-box">
            <a class="take-a-tour btn btn-default">Join for take account</a>
        </div>
        <img src="{{ url_for('static', filename='images/site-left.png')}}" alt="" class="img img-left">
        <img src="{{ url_for('static', filename='images/site-center.png')}}" alt="" class="img img-center">
        <img src="{{ url_for('static', filename='images/site-right.png')}}" alt="" class="img img-right">
        <div class="decor"></div>
    </div>
</div>

<section class="site-block" id="featurues">
    <h2 class="site-title">Our features</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <div class="product-box big-icon mobile">
                    <h3>Full monitoring</h3>
                    <p>
                        System and application monitoring. Autodetection of running applictions.
                    </p>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="product-box big-icon graph circle-decor">
                    <h3>Event tracking</h3>
                    <p>
                        Aggregate information from system and application logs. Configurable notifications for non-typical behavior.
                    </p>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="product-box big-icon backup circle-decor">
                    <h3>Reliable backup</h3>
                    <p>
                        Encrypted with your key. Stored in 3 replicas across the world. Easy restoration. Regular validations.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <div class="product-box big-icon cloud">
                    <h3>Cloud-agnostic</h3>
                    <p>
                        OpenStack, VMware, AWS, Rackspace or a standalone server - the choice is yours.
                    </p>
                </div>
            </div>
            
            <div class="col-xs-4">
                <div class="product-box big-icon lab circle-decor">
                    <h3>One-click deployment</h3>
                    <p>
                        Leverage a library of pre-made applications from OpenNode and Turnkeylinux. Atlassian JIRA, Zabbix, Joomla, Drupal and much more.
                    </p>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="product-box big-icon tools circle-decor">
                    <h3>Traceable changes</h3>
                    <p>
                        All modifications to the system are recorded and timestamped. You have the full audit trail.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="seep-lans">
    <div class="container-fluid">
        <h4>Just try our service and we promise you will be happy!</h4>
        <h3>See our Plans</h3>
    </div>
</section>

<section class="plans-and-price" id="plans">
    <div class="container-fluid">
        <div class="price-table-box">
            <table class="price-table">
                <tr>
                    <th>
                        <span class="plan-name">Micro Plan</span>
                        <span class="plan-price">$39/month</span>
                    </th>
                    <th>
                        <span class="plan-name">Normal Plan</span>
                        <span class="plan-price">$69/month</span>
                    </th>
                    <th>
                        <span class="plan-name">Fat Plan</span>
                        <span class="plan-price">$139/month</span>
                    </th>
                </tr>
                <tr>
                    <td>10 projects</td>
                    <td>50 projects</td>
                    <td>100 projects</td>
                </tr>
                <tr>
                    <td>100 users</td>
                    <td>300 users</td>
                    <td>500 users</td>
                </tr>
                <tr>
                    <td>300 resources</td>
                    <td>800 resources</td>
                    <td>1000 resources</td>
                </tr>
            </table>
        </div>
        <table class="buttons">
            <tr>
                <td>
                    <div class="btn btn-choice">Choice</div>
                </td>
                <td>
                    <div class="btn btn-choice">Choice</div>
                </td>
                <td>
                    <div class="btn btn-choice">Choice</div>
                </td>
            </tr>
        </table>
    </div>
</section>

<section class="site-block contact-for-details">
    <div class="container-fluid">
        <div class="mail-box">
            Contact <a href="mailto:info@opennodecloud.com">info@nodeconductor.com</a> for details.
        </div>
    </div>
</section>
{% endblock %}
