{% extends 'base_account.html' %}

{% block content %}

<!-- header -->
<div class="app-header-overlay navbar navbar-fixed-top" role="navigation">         
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{% if current == "dashboard" %}active{% endif %}"><a href="{{ url_for('dashboard') }}" class="" data-toggle="tooltip" data-placement="bottom" title="Dashboard"><i class="fa fa-th-large"></i> Dashboard</a></li>
                <li class="{% if current == "events" %}active{% endif %}"><a href="{{ url_for('events') }}" class="" data-toggle="tooltip" data-placement="bottom" title="Events"><i class="fa fa-bell"></i> Events</a></li>
                <li class="{% if current == "projects" %}active{% endif %}"><a href="{{ url_for('projects') }}" class="" data-toggle="tooltip" data-placement="bottom" title="Projects"><i class="fa fa-folder"></i> Projects</a></li>
                <li class="{% if current == "resources" %}active{% endif %}"><a href="{{ url_for('resources') }}" class="" data-toggle="tooltip" data-placement="bottom" title="Resources"><i class="fa fa-tasks"></i> Resources</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown add-something-box">
                    <a href="#" class="dropdown-toggle add-something-button" data-extra="tooltip" data-toggle="dropdown" data-placement="bottom" title="Create something...">
                        <i class="fa fa-plus"></i>
                    </a>
                    <ul class="dropdown-menu add-something" role="menu">
                        <li><a href="#" class="add-customer">Add Customer</a></li>
                        <li><a href="/add-project/" class="add-project">Add Project</a></li>
                        <li><a href="/add-resource/" class="add-resource">Add Resource</a></li>
                    </ul>
                </li>
                <li>
                    <!-- <div class="custom-select">
                        <select name="" id="">
                            <option value="">Ilja Livenson</option>
                        </select>
                    </div> -->
                    <a href="#" class="customer-head" data-toggle="dropdown">
                        <span class="customer-title">Livenson PLC</span>
                        <span class="customer-expl">active for context</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Customer 1</a></li>
                        <li><a href="#">Customer 2</a></li>
                        <li><a href="#">Customer 3</a></li>
                        <li class="divider"></li>
                        <li><a href="#" class="add-customer">Manage Customers</a></li>
                    </ul>
                </li>
                <li>
                    <img src="{{ url_for('static', filename='images/887178.jpg') }}" class="user-pic" alt="John Doe">
                </li>
                <li class="dropdown user-box">
                    <a href="#" class="dropdown-toggle user-pic-box" data-toggle="dropdown">
                        John Winner
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu user-drop" role="menu">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<!-- /header -->


<div class="section initial-data">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-xs-2 image">
                <img src="/static/images/887178.jpg" alt="">
            </div>
            <div class="col-xs-10 data">
                <div class="form-data">
                    <form action="" class="data">
                        <!-- form block -->
                        <div class="form-block">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="dash-title-box">
                                        <h2 class="dash-title">Initial data</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-field">
                                        <input type="text" class="form-control" value="Mihail Yakimenko">
                                    </div>
                                    <div class="form-field">
                                        <input type="text" class="form-control" value="macgera@gmail.com">
                                    </div>
                                    <div class="form-field">
                                        <input type="text" class="form-control" value="Some value">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /form block -->
                        <!-- form block -->
                        <div class="form-block plans-and-price">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="dash-title-box">
                                        <h2 class="dash-title">Choose plan</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="price-table-box in-data active" data-role="plan-in-data">
                                        <table class="price-table grayscale">
                                            <tr>
                                                <th>
                                                    <span class="plan-name">Lonely warrior</span>
                                                    <span class="plan-price">$39/month</span>
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>10 projects</td>
                                            </tr>
                                            <tr>
                                                <td>100 users</td>                                        
                                            </tr>
                                            <tr>
                                                <td>300 resources</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="price-table-box in-data" data-role="plan-in-data">
                                        <table class="price-table grayscale">
                                            <tr>
                                                <th>
                                                    <span class="plan-name">Pack of specialists</span>
                                                    <span class="plan-price">$69/month</span>
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>50 projects</td>
                                            </tr>
                                            <tr>
                                                <td>300 users</td>
                                            </tr>
                                            <tr>
                                                <td>800 resources</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="price-table-box in-data" data-role="plan-in-data">
                                        <table class="price-table grayscale">
                                            <tr>
                                                <th>
                                                    <span class="plan-name">Corporation</span>
                                                    <span class="plan-price">$139/month</span>
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>100 projects</td>
                                            </tr>
                                            <tr>
                                                <td>500 users</td>
                                            </tr>
                                            <tr>
                                                <td>1000 resources</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /form block -->
                        <!-- form block -->
                        <div class="form-block">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="dash-title-box">
                                        <h2 class="dash-title">Billing information</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-field">
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" placeholder="First Name">
                                </div>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="row form-field">
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" placeholder="Phone number">
                                </div>
                            </div>
                            <div class="row form-field">
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" placeholder="Country">
                                </div>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" placeholder="City">
                                </div>
                            </div>
                            <div class="row form-field">
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" placeholder="Address">
                                </div>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" placeholder="ZIP/Postal">
                                </div>
                            </div>
                        </div>
                        <!-- /form block -->
                        <!-- form-block -->
                        <div class="form-block">
                            <div class="row">
                                <div class="col-xs-12 finish-signup">
                                    <button class="btn btn-primary">Finish Signup</button>
                                </div>
                            </div>
                        </div>
                        <!-- /form-block -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
