{% extends 'base_account.html' %}

{% block content %}
<!-- app-block -->
<section class="app-block">
    <div class="container-fluid">
        <div class="white-box">
            <div class="app-title-line">
                <div class="row">
                    <div class="col-xs-12 first-line text-center">
                        <h2 class="app-title">Choice payment method</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /app-block -->

<!-- app-block -->
<section class="app-block">
    <div class="container-fluid">
        <div class="white-box">
            <div class="standart-box text-center">
                <div class="tnx-circle">
                    <div class="glyphicon glyphicon-ok"></div>
                </div>
                <h2>Thanks for trust!</h2>
                <p class="gray-text">
                    You can manage your plans in your customer profile.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- /app-block -->
{% endblock %}

{% block modals %}
{% endblock %}
