{% extends 'base.html' %}

{% block body_title %}prices{% endblock %}

{% block content %}
<section class="seep-lans">
    <div class="container-fluid">
        <h3>Plans and pricing</h3>
        <p>
            NodeConductor is nonfree to use. Manage your clouds and your managers.
        </p>
    </div>
</section>

<section class="plans-and-price">
    <div class="container-fluid">
        <div class="price-table-box">
            <table class="price-table">
                <tr>
                    <th>
                        <span class="plan-name">Micro Plan</span>
                    </th>
                    <th>
                        <span class="plan-name">Micro Plan</span>
                    </th>
                    <th>
                        <span class="plan-name">Micro Plan</span>
                    </th>
                </tr>
                <tr>
                    <td>10 projects</td>
                    <td>50 projects</td>
                    <td>100 projects</td>
                </tr>
                <tr>
                    <td>100 users</td>
                    <td>300 users</td>
                    <td>500 users</td>
                </tr>
                <tr>
                    <td>100 users</td>
                    <td>300 users</td>
                    <td>500 users</td>
                </tr>
            </table>
        </div>
        <table class="buttons">
            <tr>
                <td>
                    <div class="btn btn-choice">Choice</div>
                </td>
                <td>
                    <div class="btn btn-choice">Choice</div>
                </td>
                <td>
                    <div class="btn btn-choice">Choice</div>
                </td>
            </tr>
        </table>
    </div>
</section>

<section class="site-block contact-for-details">
    <div class="container-fluid">
        <div class="mail-box">
            Contact <a href="mailto:info@opennodecloud.com">info@nodeconductor.com</a> for details.
        </div>
    </div>
</section>
{% endblock %}
