{% extends 'base_account.html' %}

{% block content %}
<!-- project-single -->
<div class="project-single">
    <div class="container-fluid">
        <div class="content-relative">
            <div class="row">
                <div class="col-xs-8">
                    <h1 class="project-title">Project Gh-45</h1>
                    
                    <div class="project-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac est volutpat, convallis nisi ac, pretium justo. Proin feugiat ligula sit amet ipsum efficitur, id interdum leo eleifend.
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="project-customer">
                        <img src="{{ url_for('static', filename='images/887178.jpg') }}" class="user-pic" alt="John Doe">
                        <h3 class="title">Ilja Livenson</h3>
                    </div>
                    <div class="project-group">
                        group: <a href="#">Project Group</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <ul class="nav nav-tabs" role="tablist">
                    <li>
                        <a href="#eventlog" role="tab" data-toggle="tab">
                            Events
                            <span class="label label-success">11</span>
                        </a>
                    </li>
                    <li>
                        <a href="#resources" role="tab" data-toggle="tab">
                            Resources
                            <span class="label label-success">12</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#users" role="tab" data-toggle="tab">
                            Users
                            <span class="label label-success">37</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row tab-content">
                <div class="col-xs-12 tab-pane" id="eventlog">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="dash-title-box">
                                <h2 class="dash-title">What's happening</h2>
                                <ul class="sort">
                                    <li><a href="#" class="active">5 hours</a></li>
                                    <li><a href="#">24 hours</a></li>
                                    <li><a href="#">week</a></li>
                                    <li class="divid"><a href="#"><i class="fa fa-clock-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="main-activities">
                        {% include 'includes/parts/event-list-item.html' %}
                        {% include 'includes/parts/event-list-item.html' %}
                        {% include 'includes/parts/event-list-item.html' %}
                        {% include 'includes/parts/event-list-item.html' %}
                        {% include 'includes/parts/event-list-item.html' %}
                        {% include 'includes/parts/event-list-item.html' %}
                        {% include 'includes/parts/event-list-item.html' %}
                        {% include 'includes/parts/event-list-item.html' %}
                        {% include 'includes/parts/event-list-item.html' %}
                        {% include 'includes/parts/event-list-item.html' %}
                    </div>
                    <!-- more -->
                    <div class="more">
                        <a href="#" class="btn btn-default">Show more</a>
                    </div>
                    <!-- /more -->
                </div>
                <div class="col-xs-12 tab-pane" id="resources">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="dash-title-box">
                                <h2 class="dash-title">Resources</h2>
                                <ul class="sort">
                                    <li><a href="#" class="active">5</a></li>
                                    <li><a href="#">15</a></li>
                                    <li><a href="#">24</a></li>
                                    <li class="divid">
                                        <a href="#" class="conf">hosting</a>
                                    </li>
                                    <li><a href="#">repository</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="projects-list">
                        <table class="project-list-table">
                            <tr>
                                <th class="name sort-down">
                                    <div class="th-label" data-toggle="tooltip" data-placement="top" title="Name">Name</div>
                                </th>
                                <th class="description sort-down">
                                    <div class="th-label" data-toggle="tooltip" data-placement="top" title="Description">Description</div>
                                </th>
                                <!-- <th class="participants sort-down" data-proj-sort="box">
                                    <div class="th-label" data-toggle="tooltip" data-placement="top" title="Admins">Admins</div> 
                                    <a class="search" data-proj-sort="name" data-toggle="tooltip" data-placement="bottom" title="By name"><i class="fa fa-search"></i></a>
                                    <div class="by-name-search" data-proj-sort="field">
                                        <input type="text" placeholder="John Doe">
                                    </div>
                                </th> -->
                                <th class="shared-resources sort-down" data-proj-sort="box">
                                    <div class="th-label" data-toggle="tooltip" data-placement="top" title="IPs">IPs</div>
                                    <a class="search" data-proj-sort="name" data-toggle="tooltip" data-placement="bottom" title="By IP"><i class="fa fa-search"></i></a>
                                    <div class="by-name-search" data-proj-sort="field">
                                        <input type="text" placeholder="31.11.231.121">
                                    </div>
                                </th>
                                <th class="actions sort-down">
                                    <div class="th-label" data-toggle="tooltip" data-placement="top" title="Actions">Actions</div>
                                </th>
                            </tr>
                            {% include 'includes/parts/resource-list-item-project.html' %}
                            {% include 'includes/parts/resource-list-item-project.html' %}
                            {% include 'includes/parts/resource-list-item-project.html' %}
                            {% include 'includes/parts/resource-list-item-project.html' %}
                            {% include 'includes/parts/resource-list-item-project.html' %}
                            {% include 'includes/parts/resource-list-item-project.html' %}
                            {% include 'includes/parts/resource-list-item-project.html' %}
                        </table>
                        <!-- pagination -->
                        <div class="pagination">
                            <ul>
                                <li><span>list pages:</span></li>
                                <li><a href="#" class="current">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                            </ul>
                        </div>
                        <!-- /pagination -->
                    </div>
                </div>
                <div class="col-xs-12 tab-pane active" id="users">
                    <div class="row">
                        <div class="col-xs-4">
                            <h3 class="users-list-title">Administrators</h3>
                            <div class="users-list-box">
                                <!-- user lists -->
                                <ul class="users-list">
                                    <!-- users-list item -->
                                    <li>
                                        <div class="user-view">
                                            <div class="user-title">
                                                <div class="user-pic">
                                                    <img src="{{ url_for('static', filename='images/887178.jpg') }}">
                                                </div>
                                                <div class="user-name">
                                                    <h4><a href="{{ url_for }}">Ahila Hilesovitch</a></h4>
                                                </div>
                                            </div>
                                            <div class="user-description gray-text">
                                                Some description about user, and he's roles and rights.
                                            </div>
                                            <h4 class="user-project-in-title">Projects</h4>
                                            <ul class="user-project-in">
                                                <li><a href="{{ url_for('project') }}">Proj 45FGn</a></li>
                                                <li><a href="{{ url_for('project') }}">45FGn Proj</a></li>
                                                <li><a href="{{ url_for('project') }}">Salsa 5toP</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <!-- /users-list item -->
                                    <!-- users-list item -->
                                    <li>
                                        <div class="user-view">
                                            <div class="user-title">
                                                <div class="user-pic">
                                                    <img src="{{ url_for('static', filename='images/887178.jpg') }}">
                                                </div>
                                                <div class="user-name">
                                                    <h4><a href="{{ url_for }}">Ahila Hilesovitch</a></h4>
                                                </div>
                                            </div>
                                            <div class="user-description gray-text">
                                                Some description about user, and he's roles and rights.
                                            </div>
                                            <h4 class="user-project-in-title">Projects</h4>
                                            <ul class="user-project-in">
                                                <li><a href="{{ url_for('project') }}">Proj 45FGn</a></li>
                                                <li><a href="{{ url_for('project') }}">45FGn Proj</a></li>
                                                <li><a href="{{ url_for('project') }}">Salsa 5toP</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <!-- /users-list item -->
                                    <!-- users-list item -->
                                    <li>
                                        <div class="user-view">
                                            <div class="user-title">
                                                <div class="user-pic">
                                                    <img src="{{ url_for('static', filename='images/887178.jpg') }}">
                                                </div>
                                                <div class="user-name">
                                                    <h4><a href="{{ url_for }}">Ahila Hilesovitch</a></h4>
                                                </div>
                                            </div>
                                            <div class="user-description gray-text">
                                                Some description about user, and he's roles and rights.
                                            </div>
                                            <h4 class="user-project-in-title">Projects</h4>
                                            <ul class="user-project-in">
                                                <li><a href="{{ url_for('project') }}">Proj 45FGn</a></li>
                                                <li><a href="{{ url_for('project') }}">45FGn Proj</a></li>
                                                <li><a href="{{ url_for('project') }}">Salsa 5toP</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <!-- /users-list item -->
                                </ul>
                                <!-- /user lists -->
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <h3 class="users-list-title">Managers</h3>
                            <div class="users-list-box">
                                <!-- user lists -->
                                <ul class="users-list">
                                    <!-- users-list item -->
                                    <li>
                                        <div class="user-view">
                                            <div class="user-title">
                                                <div class="user-pic">
                                                    <img src="{{ url_for('static', filename='images/887178.jpg') }}">
                                                </div>
                                                <div class="user-name">
                                                    <h4><a href="{{ url_for }}">Ahila Hilesovitch</a></h4>
                                                </div>
                                            </div>
                                            <div class="user-description gray-text">
                                                Some description about user, and he's roles and rights.
                                            </div>
                                            <h4 class="user-project-in-title">Projects</h4>
                                            <ul class="user-project-in">
                                                <li><a href="{{ url_for('project') }}">Proj 45FGn</a></li>
                                                <li><a href="{{ url_for('project') }}">45FGn Proj</a></li>
                                                <li><a href="{{ url_for('project') }}">Salsa 5toP</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <!-- /users-list item -->
                                    <!-- users-list item -->
                                    <li>
                                        <div class="user-view">
                                            <div class="user-title">
                                                <div class="user-pic">
                                                    <img src="{{ url_for('static', filename='images/887178.jpg') }}">
                                                </div>
                                                <div class="user-name">
                                                    <h4><a href="{{ url_for }}">Ahila Hilesovitch</a></h4>
                                                </div>
                                            </div>
                                            <div class="user-description gray-text">
                                                Some description about user, and he's roles and rights.
                                            </div>
                                            <h4 class="user-project-in-title">Projects</h4>
                                            <ul class="user-project-in">
                                                <li><a href="{{ url_for('project') }}">Proj 45FGn</a></li>
                                                <li><a href="{{ url_for('project') }}">45FGn Proj</a></li>
                                                <li><a href="{{ url_for('project') }}">Salsa 5toP</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <!-- /users-list item -->
                                    <!-- users-list item -->
                                    <li>
                                        <div class="user-view">
                                            <div class="user-title">
                                                <div class="user-pic">
                                                    <img src="{{ url_for('static', filename='images/887178.jpg') }}">
                                                </div>
                                                <div class="user-name">
                                                    <h4><a href="{{ url_for }}">Ahila Hilesovitch</a></h4>
                                                </div>
                                            </div>
                                            <div class="user-description gray-text">
                                                Some description about user, and he's roles and rights.
                                            </div>
                                            <h4 class="user-project-in-title">Projects</h4>
                                            <ul class="user-project-in">
                                                <li><a href="{{ url_for('project') }}">Proj 45FGn</a></li>
                                                <li><a href="{{ url_for('project') }}">45FGn Proj</a></li>
                                                <li><a href="{{ url_for('project') }}">Salsa 5toP</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <!-- /users-list item -->
                                </ul>
                                <!-- /user lists -->
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <h3 class="users-list-title">Customer owners</h3>
                            <div class="users-list-box">
                                <!-- user lists -->
                                <ul class="users-list">
                                    <!-- users-list item -->
                                    <li>
                                        <div class="user-view">
                                            <div class="user-title">
                                                <div class="user-pic">
                                                    <img src="{{ url_for('static', filename='images/887178.jpg') }}">
                                                </div>
                                                <div class="user-name">
                                                    <h4><a href="{{ url_for }}">Ahila Hilesovitch</a></h4>
                                                </div>
                                            </div>
                                            <div class="user-description gray-text">
                                                Some description about user, and he's roles and rights.
                                            </div>
                                            <h4 class="user-project-in-title">Projects</h4>
                                            <ul class="user-project-in">
                                                <li><a href="{{ url_for('project') }}">Proj 45FGn</a></li>
                                                <li><a href="{{ url_for('project') }}">45FGn Proj</a></li>
                                                <li><a href="{{ url_for('project') }}">Salsa 5toP</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <!-- /users-list item -->
                                    <!-- users-list item -->
                                    <li>
                                        <div class="user-view">
                                            <div class="user-title">
                                                <div class="user-pic">
                                                    <img src="{{ url_for('static', filename='images/887178.jpg') }}">
                                                </div>
                                                <div class="user-name">
                                                    <h4><a href="{{ url_for }}">Ahila Hilesovitch</a></h4>
                                                </div>
                                            </div>
                                            <div class="user-description gray-text">
                                                Some description about user, and he's roles and rights.
                                            </div>
                                            <h4 class="user-project-in-title">Projects</h4>
                                            <ul class="user-project-in">
                                                <li><a href="{{ url_for('project') }}">Proj 45FGn</a></li>
                                                <li><a href="{{ url_for('project') }}">45FGn Proj</a></li>
                                                <li><a href="{{ url_for('project') }}">Salsa 5toP</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <!-- /users-list item -->
                                    <!-- users-list item -->
                                    <li>
                                        <div class="user-view">
                                            <div class="user-title">
                                                <div class="user-pic">
                                                    <img src="{{ url_for('static', filename='images/887178.jpg') }}">
                                                </div>
                                                <div class="user-name">
                                                    <h4><a href="{{ url_for }}">Ahila Hilesovitch</a></h4>
                                                </div>
                                            </div>
                                            <div class="user-description gray-text">
                                                Some description about user, and he's roles and rights.
                                            </div>
                                            <h4 class="user-project-in-title">Projects</h4>
                                            <ul class="user-project-in">
                                                <li><a href="{{ url_for('project') }}">Proj 45FGn</a></li>
                                                <li><a href="{{ url_for('project') }}">45FGn Proj</a></li>
                                                <li><a href="{{ url_for('project') }}">Salsa 5toP</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <!-- /users-list item -->
                                </ul>
                                <!-- /user lists -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /project-single -->
{% endblock %}

{% block side_menu %}
<div class="side-menu">
    <ul>
        <li><a href="#stats" data-toggle="tooltip" data-placement="left" title="Edit project"><i class="fa fa-cog"></i></a></li>
        <li><a href="#stats" data-toggle="tooltip" data-placement="left" title="Add Resource"><i class="fa fa-plus"></i></a></li>
    </ul>
</div>
{% endblock %}

{% block modals %}
{% include 'includes/parts/addcustomer.html' %}
{% include 'includes/parts/addproject.html' %}
{% include 'includes/parts/addresource.html' %}
{% endblock %}
