{% extends 'base_account.html' %}

{% block content %}
<!-- project-single -->
<div class="project-single">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8">
                <h1 class="project-title">Project Gh-45</h1>
                
                <div class="project-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac est volutpat, convallis nisi ac, pretium justo. Proin feugiat ligula sit amet ipsum efficitur, id interdum leo eleifend.
                </div>
            </div>
            <div class="col-xs-4">
                <div class="project-customer">
                    <img src="{{ url_for('static', filename='images/887178.jpg') }}" class="user-pic" alt="John Doe">
                    <h3 class="title">Ilja Livenson</h3>
                </div>
                <div class="project-group">
                    group: <a href="#">Project Group</a>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                    <a href="#eventlog" role="tab" data-toggle="tab">
                        Events
                        <span class="label label-success">11</span>
                    </a>
                </li>
                <li>
                    <a href="#resources" role="tab" data-toggle="tab">
                        Resources
                        <span class="label label-success">12</span>
                    </a>
                </li>
                <li>
                    <a href="#users" role="tab" data-toggle="tab">
                        Users
                        <span class="label label-success">37</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="row tab-content">
            <div class="col-xs-12 tab-pane active" id="eventlog">
                <div class="main-activities">
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                    {% include 'includes/parts/event-list-item.html' %}
                </div>
                <!-- more -->
                <div class="more">
                    <a href="#" class="btn btn-default">Show more</a>
                </div>
                <!-- /more -->
            </div>
            <div class="col-xs-12 tab-pane" id="resources">
                <div class="main-activities">
                    {% include 'includes/parts/resource-list-item.html' %}
                    {% include 'includes/parts/resource-list-item.html' %}
                    {% include 'includes/parts/resource-list-item.html' %}
                    {% include 'includes/parts/resource-list-item.html' %}
                    {% include 'includes/parts/resource-list-item.html' %}
                    {% include 'includes/parts/resource-list-item.html' %}
                    {% include 'includes/parts/resource-list-item.html' %}
                    {% include 'includes/parts/resource-list-item.html' %}
                    {% include 'includes/parts/resource-list-item.html' %}
                    {% include 'includes/parts/resource-list-item.html' %}
                </div>
                <!-- more -->
                <div class="more">
                    <a href="#" class="btn btn-default">Show more</a>
                </div>
                <!-- /more -->
            </div>
            <div class="col-xs-12 tab-pane" id="users"></div>
        </div>
    </div>
</div>
<!-- /project-single -->
{% endblock %}

{% block modals %}
<!-- Modal -->
<div class="modal fade" id="addCustomer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Customer</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Project</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addResource" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Resource</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
