{% extends 'base_account.html' %}

{% block content %}
<!-- app-block -->
<section class="app-block">
    <div class="container-fluid">
        <div class="white-box">
            <div class="app-title-line">
                <div class="row">
                    <div class="col-xs-12 first-line">
                        <h2 class="app-title">Resources</h2>
                        <ul class="sort">
                            <li><a href="#" class="active">5</a></li>
                            <li><a href="#">15</a></li>
                            <li><a href="#">24</a></li>
                            <li class="divid">
                                <div class="search">
                                    <input type="text">
                                    <button class="search-button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </li>
                        </ul>
                        <div class="crud-box pull-right"><a href="#" class="crud-controls"><i class="fa fa-plus"></i> add resource</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /app-block -->

<!-- app-block -->
<section class="app-block">
    <div class="container-fluid">
        <div class="white-box">
            <div class="app-items-list">
                <table class="items-table">
                    <th class="name">
                        <a href="" class="sort">Name</a>
                    </th>
                    <th></th>
                    {% include 'includes/parts/project-list-item.html' %}
                    {% include 'includes/parts/project-list-item.html' %}
                    {% include 'includes/parts/project-list-item.html' %}
                    {% include 'includes/parts/project-list-item.html' %}
                    {% include 'includes/parts/project-list-item.html' %}
                    {% include 'includes/parts/project-list-item.html' %}
                    {% include 'includes/parts/project-list-item.html' %}
                    {% include 'includes/parts/project-list-item.html' %}
                    {% include 'includes/parts/project-list-item.html' %}
                    {% include 'includes/parts/project-list-item.html' %}
                </table>
            </div>
        </div>
    </div>
</section>
<!-- /app-block -->

<div class="app-block">
    <div class="container-fluid">
        <!-- pagination -->
        <div class="pagination">
            <ul>
                <li><a href="#" class="current">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </div>
        <!-- /pagination -->
    </div>
</div>
{% endblock %}

{% block modals %}
{% endblock %}
