@mixin clearfix {
  &:before,
  &:after {
    display: table;
    content: ' ';
  } // &:before, &:after
  &:after {
    clear: both;
  }
}

@mixin ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
