@mixin property($property, $values) {
  $px: ();
  @each $value in $values {
    $px: append($px, $value + px);
  }
  #{$property}: $px;
}

@mixin boxshadow($values, $color) {
  $px: ();
  @each $value in $values {
    $px: append($px, $value + px);
  }
  box-shadow: $px $color;
}
