//
// Layout Transition Mixin
//

@mixin app-layout-transition($property: all) {
  transition: $property get($app-general-config, transition, duration)
    get($app-general-config, transition, timing);
}
