.custom-padding-zero {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.custom-card-header {
  border-bottom: 1px solid #eeeeee;
  margin-left: 24px;
  margin-right: 24px;
}

.ml-0 {
  margin-left: 0 !important;
}
