.image-placeholder {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  flex-shrink: 0;
  color: var(--bs-dark);
}
.image-placeholder.circle {
  border-radius: 50%;
}
