.progress-steps-view {
  background-color: var(--bs-gray-100);

  .stepper {
    position: relative;

    &.stepper-pills {
      .stepper-item {
        justify-content: center;

        .stepper-wrapper {
          .stepper-label {
            text-align: center;

            .stepper-title {
              color: var(--bs-gray-700);
              font-size: 14px;
              font-weight: 500;
            }

            .stepper-desc {
              color: var(--bs-grey-500);
              font-size: 14px;
            }
          }

          .stepper-icon {
            background: var(--bs-grey-100);
            border-radius: 50%;
            margin-right: 0;
            margin-bottom: 0.75rem;
            z-index: 1;

            svg,
            i {
              color: white;
            }
          }

          .stepper-line-area {
            position: absolute;
            display: flex;
            align-items: center;

            .stepper-line {
              position: absolute;
              height: 2px;
              background-color: var(--bs-grey-200);
              width: 500px;
              right: 0;
            }
          }
        }

        &.completed .stepper-wrapper {
          .stepper-icon {
            background: var(--bs-green);
          }

          .stepper-line-area .stepper-line {
            background: var(--bs-green);
          }
        }

        &.current .stepper-wrapper {
          .stepper-line-area .stepper-line {
            background: var(--bs-gray-400);
          }
        }

        // Hide the first line
        &:first-child .stepper-line-area .stepper-line {
          background-color: inherit !important;
          height: 6px;
        }

        /*
        Since the size and distance of the steps may be variable,
        and we need to set bg color for lines for different states,
        Since the default z-index is bottom to top (right to left),
        we need to reverse it so that the lines overlap from left to right.
        */
        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            z-index: #{10 - $i};
          }
        }
      }
    }
  }
}
