<div class="border-bottom">
  <nav class="navbar navbar-static-top white-bg m-b-none">
    <div class="navbar-header m-l-sm-xl" ng-if="$ctrl.headerLogo">
      <a back-button class="header-logo">
        <img ng-src="{{$ctrl.headerLogo}}"/>
      </a>
    </div>
    <ul class="nav navbar-top-links pull-right">
      <li ng-if="$ctrl.isValidUser">
        <a ng-click="$ctrl.goBack()">
          <i class="fa fa-arrow-left"></i>
          <span translate>Back</span>
        </a>
      </li>
      <li ng-if="$ctrl.isAuthenticated">
        <a ng-click="$ctrl.logout()">
          <i class="fa fa-sign-out"></i>
          <span translate>Log out</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
