<uib-tabset active="$ctrl.currentGroup">
  <uib-tab
    ng-repeat="group in $ctrl.groups"
    ng-if="::group.items.length > 0"
    heading="{{ ::(group.label | translate) }}">
    <div class="panel-body">
      <div class="form-group" ng-if="group.items.length > 4">
        <div class="search-box">
          <input type="text"
            class="form-control"
            ng-model="$ctrl.categorySearchInput"
            ng-model-options="{ debounce: 500 }"
            placeholder="{{ 'Search by name' | translate }}">
          <label for="project-search-box">
            <i class="fa fa-search"></i>
          </label>
        </div>
      </div>
      <div class="list-group appstore-category-selector row" slimscroll="{height:270}">
        <div class="col-md-6"
          ng-repeat="category in group.items | filter:{label: $ctrl.categorySearchInput}"
          visible="{{::category.feature}}"
          uib-tooltip="{{ category.errorMessage }}">
          <button class="list-group-item"
            submit-button="$ctrl.onSelect({category: category})"
            ng-class="{disabled: category.disabled}">
            <img class="category-icon" ng-src="{{::category.image}}" ng-if="::category.image">
            <span class="pull-right" ng-if="category.price">
              <i uib-tooltip="{{ $ctrl.getPriceTooltip(category) }}"
                tooltip-placement="left"
                class="fa fa-info-circle"></i>
              <small>{{category.price | defaultCurrency}}</small>
            </span>
            <i class="category-icon fa" ng-class="::category.icon" ng-if="::!category.image"></i>
            <h4 class="list-group-item-heading m-l-xl ellipsis">
              {{ ::category.label | translate }}
            </h4>
            <div class="btn btn-default pull-right btn-xs">
              <span ng-if="!category.comingSoon" translate>
                Select
              </span>
            </div>
            <p class="list-group-item-text m-l-xl" ng-bind="::category.description"></p>
          </button>
        </div>
      </div>
    </div>
  </uib-tab>
</uib-tabset>
