<div class="modal-header">
  <h2 class="modal-title" translate>Service store</h2>
</div>
<div class="modal-body">
  <div ng-if="$ctrl.loading">
    <loading-spinner></loading-spinner>
  </div>
  <form ng-if="!$ctrl.loading" name="$ctrl.DialogForm" ng-class="{disabled: $ctrl.submitting}">
    <div ng-if="$ctrl.selectProject">
      <appstore-project-selector
        projects="$ctrl.projects"
        selected-project="$ctrl.selectedProject"
        create-project="$ctrl.createProject()">
      </appstore-project-selector>
    </div>
    <div class="tabs-container">
      <appstore-category-selector
        groups="$ctrl.groups"
        current-group="$ctrl.currentGroup"
        on-select="$ctrl.selectCategory(category)">
      </appstore-category-selector>
    </div>
  </form>
</div>
<div class="modal-footer">
  <extension-point id="appstore-selector-dialog"></extension-point>
  <button class="btn btn-default"
    type="button"
    ng-click="$ctrl.dismiss()">
    <span translate>Cancel</span>
  </button>
</div>
