<div ng-if="PlanList.loading">
    <loading-spinner/>
</div>
<div ng-if="!PlanList.loading">
    <section class="content">
        <h4 class="app-title" translate>Choose new plan</h4>
        <div class="plans">
            <div class="plan" ng-repeat="plan in PlanList.list">
                <div class="plan-item"
                     ng-class="{'current-plan': PlanList.currentPlan.url === plan.url, 'selected': PlanList.selectedPlan.uuid === plan.uuid}"
                     ng-click="PlanList.selectPlan(plan)">
                    <table>
                        <th>
                            <span class="plan-name">{{ plan.name }}</span>
                            <span class="plan-price">{{ plan.price | defaultCurrency }} / mo.</span>
                            <price-tooltip></price-tooltip>
                        </th>
                        <tr ng-repeat="quota in plan.quotas" visible="{{ PlanList.getPrettyQuotaName(quota.name) }}s">
                            <td>
                                {{ quota.value }} {{ PlanList.getPrettyQuotaName(quota.name) }}
                                <span class="inline">
                                    <helpicon ng-if="quota.name === 'nc_resource_count'"
                                              help-text="{{PlanList.helpIconMessage | translate}}"></helpicon>
                                </span>
                                <div class="usage"><span translate>Usage</span>: {{ PlanList.usage[quota.name] }}</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="decision">
            <div class="col">
                <a class="btn btn-primary" ng-class="{'disabled': !PlanList.selectedPlan}"
                   submit-button="PlanList.createOrder()"><span translate>Confirm changing your plan</span></a>
            </div>
            <div class="col">
                <a class="btn btn-default" ng-click="PlanList.cancel()" translate>Cancel</a>
            </div>
        </div>
    </section>
</div>
