<div ng-controller="ServiceAddController as ServiceAdd">

<div class="white-box">
    <ul class="sort-list">
        <li class="title">
            <h2 class="app-title">Add service</h2>
        </li>
    </ul>
</div>

<div class="white-box">

    <section class="short-form">
        <div class="form-row">
            <div class="col full">
                <div class="custom-tabs">
                    <ul class="custom-tabs-tabs">
                        <li class="active">Virtual machines</li>
                        <li>Project management</li>
                        <li>Version control</li>
                    </ul>
                    <section class="custom-tabs-tabs-content">
                        <div class="tab">
                            <!-- template-choice -->
                            <div class="appstore-templates">
                                <!-- template -->
                                <div class="appstore-template state">
                                    <div class="icon">
                                        <img src="/static/images/icons/icon_openstack_small.png" alt="" class="icon">
                                    </div>
                                    <div class="description">
                                        <h3>OpenStack</h3>
                                    </div>
                                </div>
                                <!-- /template -->
                                <!-- template -->
                                <div class="appstore-template">
                                    <div class="icon">
                                        <img src="/static/images/icons/icon_digitalocean_small.png" alt="" class="icon">
                                    </div>
                                    <div class="description">
                                        <h3>Digital Ocean</h3>
                                    </div>
                                </div>
                                <!-- /template -->
                                <!-- template -->
                                <div class="appstore-template">
                                    <div class="icon">
                                        <img src="/static/images/icons/icon_aws_small.png" alt="" class="icon">
                                    </div>
                                    <div class="description">
                                        <h3>AWS</h3>
                                    </div>
                                </div>
                                <!-- /template -->
                            </div>
                            <!-- /template-choice -->
                        </div>
                    </section>
                </div>
            </div>
            <div class="col full">
                <div>
                    <input type="checkbox" id="openstackdummy" ng-model="ServiceAdd.service.dummy">
                    <label for="openstackdummy">
                        Dummy
                    </label>
                </div>
                <!-- this code shows only when openstack selected -->
                <article class="light-description">
                    Check if created OpenStack should be working in emulation mode. Expected auth URL: http://keystone.example.com:5000/v2.0
                </article>
                <!-- /this code shows only when openstack selected -->
            </div>
        </div>
        <div class="divider"></div>
        <div class="form-row">
            <div class="col label">
                <label for="">Service name:</label>
            </div>
            <div class="col input">
                <input type="text" placeholder="OpenStack Testbed" ng-model="ServiceAdd.service.name">
                <div class="error arrow-up" ng-show="ServiceAdd.errors.name">
                    <ul class="error-list">
                        <li ng-repeat="error in ServiceAdd.errors.name">{{ error }}</li>
                    </ul>
                </div>
            </div>
            <div class="col description">
                <article class="light-description">
                    Name of the service
                </article>
            </div>
        </div>
        <div class="form-row">
            <div class="col label">
                <label for="">Auth URL:</label>
            </div>
            <div class="col input">
                <input type="text" placeholder="http://keystone.example.com:5000/v2.0" ng-model="ServiceAdd.service.auth_url">
                <div class="error arrow-up" ng-show="ServiceAdd.errors.auth_url">
                    <ul class="error-list">
                        <li ng-repeat="error in ServiceAdd.errors.auth_url">{{ error }}</li>
                    </ul>
                </div>
            </div>
            <div class="col description">
                <article class="light-description">
                    URL of supported OpenStack Keystone
                </article>
            </div>
        </div>
    </section>

    <!-- non field errors -->
    <div class="simple-line" ng-show="controller.errors.non_field_errors">
        <div class="error">
            <ul class="error-list">
                <li ng-repeat="error in controller.errors.non_field_errors">
                    {{ error }}
                </li>
            </ul>
        </div>
    </div>
    <!-- /non field errors -->

    <div class="decision">
        <div class="col">
            <a class="button-cancel" ng-click="ServiceAdd.cancel()">Cancel</a>
        </div>
        <div class="col">
            <a class="button-apply" ng-click="ServiceAdd.save()">Add service</a>
        </div>
    </div>
</div>

</div>
