<div ng-controller="ServiceAddController as ServiceAdd">

    <div class="container">
        <h1>Add provider</h1>
    </div>

<div class="white-box">

    <section class="short-form" ng-show="ServiceAdd.categoryServices">
        <div class="form-row">
            <div class="col full">
                <div class="custom-tabs">
                    <ul class="custom-tabs-tabs">
                        <li ng-repeat="category in ServiceAdd.categories"
                            ng-class="{'active': ServiceAdd.category==category}"
                            ng-click="ServiceAdd.setCategory(category)"
                            ng-bind="category.name"></li>
                    </ul>
                    <section class="custom-tabs-tabs-content">
                        <div class="tab">
                            <!-- template-choice -->
                            <div class="appstore-templates">
                                <!-- template -->
                                <div class="appstore-template"
                                    ng-repeat="service in ServiceAdd.categoryServices"
                                    ng-class="{'state': ServiceAdd.service == service}"
                                    ng-click="ServiceAdd.setService(service)">
                                    <div class="icon {{ ::service.name.toLowerCase() }}">
                                        <img ng-src="/static/images/appstore/icon-{{ ::service.name.toLowerCase() }}.png"/>
                                    </div>
                                    <div class="description {{ ::service.name.toLowerCase() }}">
                                        <h3>{{ service.name }}</h3>
                                    </div>
                                </div>
                                <!-- /template -->
                            </div>
                            <!-- /template-choice -->
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="form-row">
            <div class="col label">
                <label for="serviceName">Provider name</label>
            </div>
            <div class="col input input-full">
                <input type="text" placeholder="Service Testbed" ng-model="ServiceAdd.service.serviceName" id="serviceName">
                <div class="error arrow-up" ng-show="ServiceAdd.errors.name">
                    <ul class="error-list">
                        <li ng-repeat="error in ServiceAdd.errors.name">{{ error }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-row" ng-repeat="option in ServiceAdd.service.options">
            <div class="col label">
                <label for="{{ ServiceAdd.service.name }}_{{ option.key }}">{{ option.help_text || option.label }}</label>
            </div>
            <div class="col input input-full">
                <input id="{{ ServiceAdd.service.name }}_{{ option.key }}"
                       type="text"
                       ng-if="!option.choices"
                       ng-model="option.value">
                <select id="{{ ServiceAdd.service.name }}_{{ option.key }}"
                        ng-if="option.choices"
                        ng-model="option.value"
                        ng-init="option.value=option.choices[0].value"
                        ng-options="item.value as item.display_name for item in option.choices">
                </select>
                <div class="error arrow-up" ng-show="option.errors">
                    <ul class="error-list">
                        <li ng-repeat="error in option.errors">{{ error }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- non field errors -->
    <div class="simple-line" ng-show="ServiceAdd.errors.non_field_errors">
        <div class="error">
            <ul class="error-list">
                <li ng-repeat="error in ServiceAdd.errors.non_field_errors">
                    {{ error }}
                </li>
            </ul>
        </div>
    </div>
    <!-- /non field errors -->

    <div class="decision" ng-show="ServiceAdd.service">
        <div class="col">
            <a class="button-apply" ng-click="ServiceAdd.save()">Add provider</a>
        </div>
        <div class="col">
            <a class="button-cancel" ng-click="ServiceAdd.cancel()">Cancel</a>
        </div>
    </div>
</div>

</div>
