<div ng-controller="ServiceListController as serviceList">

<div class="white-box">
    <ul class="sort-list">
        <li class="title">
            <h2 class="app-title">Services</h2>
        </li>
        <pagesize pages-list="serviceList" pages-service="serviceList.service"></pagesize>
        <li class="search divid">
            <div class="search-box">
                <input type="text" ng-model='serviceList.searchInput' ng-keyup="serviceList.search()">
                <button class="search-button"></button>
            </div>
        </li>
    </ul>
</div>

<!-- view-control -->
<section class="view-control">
    <div class="list-item no-cursor">
        <div class="checkbox">
            <div class="checkbox" ng-show="controller.showgroup">
                <input type="checkbox">
            </div>
        </div>
        <div>
            <div class="view-action-buttons" ng-show="controller.showgroup">
                <a class="button start"
                    ng-click="ResourceList.startResource(resource)"
                    ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'start')}">
                Start</a>
                <a class="button stop"
                    ng-click="ResourceList.stopResource(resource)" title="Stop"
                    ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'stop')}">
                Stop</a>
                <a class="button restart"
                    ng-click="ResourceList.restartResource(resource)"
                    ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'restart')}">
                Restart</a>
                <a class="button remove"
                    ng-click="ResourceList.deleteResource(resource, $index)">
                Remove</a>
            </div>
            <div class="view-action-buttons-mobile" ng-show="controller.showgroup">
                <div class="actions-button">
                    <a class="button dropdown-active"
                        ng-click="mobileActions=!mobileActions">actions</a>
                    <ul class="actions-dropdown" ng-show="mobileActions">
                        <li>
                            <a class="button-simple start"
                                ng-click="ResourceList.startResource(resource)"
                                ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'start')}">
                            Start</a>
                        </li>
                        <li>
                            <a class="button-simple stop"
                                ng-click="ResourceList.stopResource(resource)" title="Stop"
                                ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'stop')}">
                            Stop</a>
                        </li>
                        <li>
                            <a class="button-simple restart"
                                ng-click="ResourceList.restartResource(resource)"
                                ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'restart')}">
                            Restart</a>
                        </li>
                        <li>
                            <a class="button-simple remove"
                                ng-click="ResourceList.deleteResource(resource, $index)">
                            Remove</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="actions switch">
            <span class="label-text" ng-class="{'low-grade': !controller.showgroup}">batch</span>
            <div class="checkbox-toggle">
                <input type="checkbox" id="control-types" ng-click="controller.showgroup=!controller.showgroup">
                <label for="control-types"></label>
            </div>
            <span class="label-text special-left" ng-class="{'low-grade': controller.showgroup}">single</span>
        </div>
    </div>
</section>
<!-- /view-control -->

<div class="white-box clear">
    <ul class="object-list">
        <li class="list-item">
            <div class="checkbox"></div>
            <div class="expand"></div>
            <div class="name">
                <a href="#" class="list-sort">Name</a>
            </div>
            <div class="additional-cell">
                <a href="#" class="list-sort">Type</a>
            </div>
            <div class="actions"></div>
        </li>
        <li ng-repeat="service in serviceList.list">
            <div class="list-item" ng-class="{'opened': expandItem}">
                <div class="checkbox">
                        <div class="checkbox">
                            <input type="checkbox" ng-show="controller.showgroup">
                        </div>
                    </div>
                    <div class="expand">
                        <a class="plus-minus"
                        ng-click="expandItem=!expandItem"
                        ng-class="{'plus': !expandItem, 'minus active': expandItem}"></a>
                    </div>
                <div>
                    <h3 class="item-title">
                        <a ui-sref="services.details({uuid: service.uuid})">{{ service.name }}</a>
                    </h3>
                </div>
                <div class="additional-cell" ng-hide="collapsedItem">
                    {{ service.service_type }}
                </div>
                <div class="actions">
                    <div class="actions-button" ng-show="!controller.showgroup">
                        <a class="button" ng-click="openActions=!openActions">actions</a>
                        <ul class="actions-dropdown" ng-show="openActions">
                            <li>
                                <a class="button-simple start"
                                    ng-click="ResourceList.startResource(resource)"
                                    ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'start')}">
                                Start</a>
                            </li>
                            <li>
                                <a class="button-simple stop"
                                    ng-click="ResourceList.stopResource(resource)" title="Stop"
                                    ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'stop')}">
                                Stop</a>
                            </li>
                            <li>
                                <a class="button-simple restart"
                                    ng-click="ResourceList.restartResource(resource)"
                                    ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'restart')}">
                                Restart</a>
                            </li>
                            <li>
                                <a class="button-simple remove"
                                   ui-sref="services.list" ng-click="serviceList.remove(service)">
                                Remove</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="list-item-details" ng-show="expandItem">
                <section>
                    <ul>
                        <li class="item-list">
                            <section>
                                <a class="list-sort">auth_url</a>
                            </section>
                            <section>
                                <div class="list-sort">user name</div>
                            </section>
                            <section>
                                <div class="list-sort">tenant</div>
                            </section>
                        </li>
                        <li class="item-list">
                            <section>
                                <a href="">auth_url</a>
                            </section>
                            <section>
                                user name
                            </section>
                            <section>
                                tenant
                            </section>
                        </li>
                    </ul>
                </section>
            </div>
        </li>
    </ul>
</div>

<div class="pagination">
    <pagination pages-list="serviceList" pages-service="serviceList.service"></pagination>
</div>

</div>
