<div class="white-box no-styles" ng-show="ServiceList.list.length <= 0 && !ServiceList.searchInput">
    <h2 class="app-title">
        You have no services yet.
    </h2>
    <div class="decision">
        <div class="col">
            <a ui-sref="services.create" class="button">Add service</a>
        </div>
    </div>
</div>

<div class="white-box" ng-show="ServiceList.list.length > 0 || ServiceList.searchInput">
    <ul class="sort-list">
        <li class="title">
            <h2 class="app-title">Services</h2>
        </li>
        <pagesize pages-list="ServiceList" pages-service="ServiceList.service"></pagesize>
        <li class="search divid">
            <div class="search-box">
                <input type="text" ng-model='ServiceList.searchInput' ng-change="ServiceList.search()">
                <button class="search-button"></button>
            </div>
        </li>
        <li class="right-sort">
            <a ui-sref="services.create" class="button">
                <span class="icon plus"></span>
                <span>Add service</span>
            </a>
        </li>
    </ul>
</div>

<!-- view-control -->
<section class="view-control" ng-show="ServiceList.list.length > 0 || ServiceList.searchInput">
    <div class="list-item no-cursor">
        <div class="checkbox">
            <div class="checkbox" ng-show="ServiceList.showgroup">
                <input type="checkbox">
            </div>
        </div>
        <div>
            <div class="view-action-buttons" ng-show="ServiceList.showgroup">
                <a class="button remove">
                Remove</a>
            </div>
            <div class="view-action-buttons-mobile" ng-show="ServiceList.showgroup">
                <div class="actions-button">
                    <a class="button dropdown-active"
                        ng-click="mobileActions=!mobileActions">actions</a>
                    <ul class="actions-dropdown" ng-show="mobileActions">
                        <li>
                            <a class="button-simple remove">
                            Remove</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="actions switch">
            <span class="label-text" ng-class="{'low-grade': !ServiceList.showgroup}">batch</span>
            <div class="checkbox-toggle">
                <input type="checkbox" id="control-types" ng-click="ServiceList.showgroup=!ServiceList.showgroup">
                <label for="control-types"></label>
            </div>
            <span class="label-text special-left" ng-class="{'low-grade': ServiceList.showgroup}">single</span>
        </div>
    </div>
</section>
<!-- /view-control -->

<div class="white-box" ng-show="ServiceList.list.length > 0 || ServiceList.searchInput">
    <ul class="object-list">
        <li class="list-item list-header">
            <div class="checkbox"></div>
            <div class="name">
                <a href="#" class="list-sort">Name</a>
            </div>
            <div class="additional-cell">
                <a href="#" class="list-sort">Type</a>
            </div>
            <div class="actions"></div>
        </li>
        <li ng-repeat="service in ServiceList.list">
            <div class="list-item list pointer" ng-class="{'opened': expandItem}"
                ng-click="expandItem=!expandItem">
                <div class="checkbox">
                        <div class="checkbox" stoppropagation>
                            <input type="checkbox" ng-show="ServiceList.showgroup">
                        </div>
                    </div>
                <div class="name">
                    <h3 class="item-title">
                        <a ui-sref="services.details({uuid: service.uuid})" stoppropagation>{{ service.name }}</a>
                    </h3>
                </div>
                <div class="additional-cell" ng-hide="collapsedItem">
                    OpenStack
                </div>
                <div class="actions">
                    <div class="actions-button" ng-show="!ServiceList.showgroup" stoppropagation>
                        <a class="button" ng-click="openActions=!openActions">actions</a>
                        <ul class="actions-dropdown" ng-show="openActions">
                            <li>
                                <a class="button-simple remove"
                                   ui-sref="services.list" ng-click="ServiceList.remove(service)">
                                Remove</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="list-item-details" ng-show="expandItem" ng-class="{'opened': expandItem}">
                <section class="on-mobile">
                    <header>
                        <h4 class="item-title">Type</h4>
                    </header>
                    OpenStack
                </section>
                <section class="half" detailscontent="checkbox">
                    <header>
                        <h4 class="item-title">Access URL</h4>
                    </header>
                    <a href="{{ service.auth_url }}">{{ service.auth_url }}</a>
                </section>
                <section class="half">
                    <header>
                        <h4 class="item-title">Number of connected projects</h4>
                    </header>
                    {{ service.projects.length }}
                </section>
            </div>
        </li>
    </ul>
</div>

<div class="pagination" ng-show="ServiceList.list.length > 0 || ServiceList.searchInput">
    <pagination pages-list="ServiceList" pages-service="ServiceList.service"></pagination>
</div>

