<div class="form-group">
  <div class="btn-group">
    <label
      class="btn btn-default"
      ng-repeat="choice in $ctrl.frequencyChoices"
      ng-model="$ctrl.frequency"
      uib-btn-radio="choice">
      {{ choice.label | translate }}
    </label>
  </div>
</div>

<div class="form-group" ng-if="$ctrl.showInterval()">
  <div class="input-group">
    <span class="input-group-addon" translate>Recurs every</span>
    <input ng-model="$ctrl.interval" type="number" min="1" max="30" class="form-control" required/>
    <span class="input-group-addon">{{ $ctrl.getIntervalDisplay() | translate }}</span>
  </div>
</div>

<div class="form-group" ng-if="$ctrl.frequency.value === 'monthly'">
  <div class="input-group">
    <span class="input-group-addon" translate>Day</span>
    <input ng-model="$ctrl.day" type="number" min="1" max="31" class="form-control" required/>
    <span class="input-group-addon" translate>of every</span>
    <input ng-model="$ctrl.interval" type="number" min="1" max="31" class="form-control" required/>
    <span class="input-group-addon">{{ $ctrl.getIntervalDisplay() | translate }}</span>
  </div>
</div>

<div class="form-group p-sm" ng-if="$ctrl.frequency.value === 'weekly'">
  <div
    class="awesome-checkbox checkbox-success"
    ng-repeat="choice in $ctrl.weekdayChoices">
    <input type="checkbox"
      ng-model="choice.selected"
      id="{{ choice.value }}"/>
    <label for="{{ choice.value }}">
      {{ choice.label | translate }}
    </label>
  </div>
</div>

<div class="form-group" ng-if="$ctrl.frequency.value === 'custom'">
  <input
    class="form-control"
    ng-model="$ctrl.customValue"
    placeholder="{{ 'Enter schedule in cron format' | translate }}">
</div>
