<resource-summary-base resource="$ctrl.resource"></resource-summary-base>

<div class="m-b-xs">
  <dt>
    <span translate>Max # of backups</span>:
  </dt>
  <dd>
    {{ $ctrl.resource.maximal_number_of_resources }}
  </dd>
</div>

<div class="m-b-xs">
  <dt>
    <span translate>Schedule</span>:
  </dt>
  <dd>
    <span uib-tooltip="{{ $ctrl.resource.schedule }}">
      {{ $ctrl.resource.schedule | formatCrontab }}
    </span>
  </dd>
</div>

<div class="m-b-xs">
  <dt>
    <span translate>Is active</span>:
  </dt>
  <dd>
    {{ $ctrl.resource.is_active && 'Yes' || 'No' }}
  </dd>
</div>
