<dl class="dl-horizontal">
  <div class="m-b-xs col-md-6" ng-if="::resource.summary">
    <dt>{{resource.summaryLabel}}:</dt>
    <dd>
      {{ ::resource.summary }}
    </dd>
  </div>

  <div class="m-b-xs col-md-6">
    <dt>State:</dt>
    <dd>
      <span class="resource-state {{ state_class }}">
        <i ng-if="state_class == 'processing'" class="icon refresh spin"></i>
        {{ resource.state }}
      </span>
      &nbsp; {{ resource.runtime_state }}
    </dd>
  </div>

  <div class="m-b-xs col-md-6" ng-if="resource.state == 'Erred'">
    <dt>Error:</dt>
    <dd>
      {{ resource.error_message || 'Reason unknown, please contact support' }}
    </dd>
  </div>

  <div class="m-b-xs col-md-6">
    <dt>Provider:</dt>
    <dd>
      {{ ::resource.service_name }}
    </dd>
  </div>

  <div class="m-b-xs col-md-6" ng-if="resource.isVolume">
    <dt>Attached to:</dt>
    <dd ng-if="::resource.instance">
      <a ui-sref="resources.details({
        uuid: resource.instance_uuid,
        resource_type: 'OpenStack.Instance'
      })">
        {{ ::resource.instance_name }}
      </a>
    </dd>
    <dd ng-if="!resource.instance">
      &ndash;
    </dd>
  </div>

  <div class="m-b-xs col-md-6" ng-if="::resource.source_volume">
    <dt>Volume:</dt>
    <dd>
      <a ui-sref="resources.details({
        uuid: resource.source_volume_uuid,
        resource_type: 'OpenStack.Volume'
      })">
        {{ ::resource.source_volume_name }}
      </a>
    </dd>
  </div>

  <div class="m-b-xs col-md-6" ng-if="resource.description">
    <dt>
      Description:
    </dt>
    <dd>
      <span ng-bind="resource.description"></span>
    </dd>
  </div>

  <div class="m-b-xs col-md-6" ng-if="!resource.isVolume">
    <dt>
      Access:
    </dt>
    <dd>
      <a ng-if="resource.access_info_url"
         href="{{ resource.access_info_url }}"
         target="_blank">
          {{ resource.access_info_text }}
      </a>
      <span ng-if="!resource.access_info_url">
        {{ resource.access_info_text }}
      </span>
    </dd>
  </div>

  <div class="m-b-xs col-md-6" ng-if="resource.user_username">
    <dt>
      Username:
    </dt>
    <dd>
      <span ng-bind="resource.user_username"></span>
    </dd>
  </div>

  <div class="m-b-xs col-md-6" ng-if="resource.user_password">
    <dt>
      Password:
    </dt>
    <dd>
      <span ng-if="!showPassword">***************</span>
      <a class="icon fa-eye" title="Show password" ng-click="showPassword=!showPassword"></a>
      <span ng-if="showPassword" ng-bind="resource.user_password"></span>
    </dd>
  </div>

  <div class="m-b-xs col-md-6" ng-if="resource.key_name">
    <dt>
      SSH key:
    </dt>
    <dd>
      <span ng-bind="resource.key_name"></span>
    </dd>
  </div>

  <div class="m-b-xs col-md-6">
    <dt>
      Created:
    </dt>
    <dd>
      <span am-time-ago="::resource.created"></span>,
      {{ ::resource.created | dateTime }}
    </dd>
  </div>

  <div class="m-b-xs col-md-6" ng-if="!resource.isVolume && resource.uptime">
    <dt>
      Uptime:
    </dt>
    <dd>
      {{ ::resource.uptime }}
    </dd>
  </div>

  <div class="m-b-xs col-md-6">
    <dt>
      UUID:
    </dt>
    <dd class="elipsis">
      {{ ::resource.uuid }}
    </dd>
  </div>

  <div class="m-b-xs col-md-6">
    <dt>
      Backend ID:
    </dt>
    <dd class="elipsis">
      {{ ::resource.backend_id || '&mdash;' }}
    </dd>
  </div>

</dl>
