<dl class="dl-horizontal resource-details-table col-sm-12"
  ng-switch="$ctrl.resource.resource_type">

  <div ng-switch-when="OpenStack.SecurityGroup">
    <security-group-summary resource="$ctrl.resource"></security-group-summary>
  </div>

  <div ng-switch-when="OpenStack.FloatingIP">
    <openstack-floating-ip-summary resource="$ctrl.resource"></openstack-floating-ip-summary>
  </div>

  <div ng-switch-default>

  <div class="m-b-xs" ng-if="::$ctrl.resource.summary">
    <dt>{{$ctrl.resource.summaryLabel}}:</dt>
    <dd>
      {{ ::$ctrl.resource.summary }}
    </dd>
  </div>

  <resource-summary-base resource="$ctrl.resource"></resource-summary-base>

  <div class="m-b-xs" ng-if="$ctrl.resource.isVolume || $ctrl.resource.isBackup">
    <dt>{{::$ctrl.resource.label}}:</dt>
    <dd ng-if="::$ctrl.resource.instance">
      <a ui-sref="resources.details({
        uuid: $ctrl.resource.instance_uuid,
        resource_type: 'OpenStackTenant.Instance'
      })">
        {{ ::$ctrl.resource.instance_name || 'OpenStack instance' }}
      </a>
    </dd>
    <dd ng-if="!$ctrl.resource.instance">
      &ndash;
    </dd>
  </div>

  <div class="m-b-xs" ng-if="::$ctrl.resource.source_volume">
    <dt>Volume:</dt>
    <dd>
      <a ui-sref="resources.details({
        uuid: $ctrl.resource.source_volume_uuid,
        resource_type: 'OpenStackTenant.Volume'
      })">
        {{ ::$ctrl.resource.source_volume_name }}
      </a>
    </dd>
  </div>

  <div class="m-b-xs" ng-if="!$ctrl.resource.isVolume">
    <dt>
      Access:
    </dt>
    <dd>
      <a ng-if="$ctrl.resource.access_info_url"
         href="{{ $ctrl.resource.access_info_url }}"
         target="_blank">
          <i class="fa fa-external-link"></i>
          {{ $ctrl.resource.access_info_text }}
      </a>
      <span ng-if="!$ctrl.resource.access_info_url">
        {{ $ctrl.resource.access_info_text }}
      </span>
    </dd>
  </div>

  <div class="m-b-xs" ng-if="$ctrl.resource.internal_ips">
    <dt>
      Internal IP:
    </dt>
    <dd>
      <span ng-if="$ctrl.resource.internal_ips.length === 0">&ndash;</span>
      <span ng-if="$ctrl.resource.internal_ips.length > 0">
        {{ $ctrl.resource.internal_ips.join(', ') }}
      </span>
    </dd>
  </div>

  <div class="m-b-xs" ng-if="$ctrl.resource.external_ips">
    <dt>
      External IP:
    </dt>
    <dd>
      <span ng-if="$ctrl.resource.external_ips.length === 0">&ndash;</span>
      <span ng-if="$ctrl.resource.external_ips.length > 0">
        {{ $ctrl.resource.external_ips.join(', ') }}
      </span>
    </dd>
  </div>

  <div class="m-b-xs" ng-if="$ctrl.resource.user_username">
    <dt>
      Username:
    </dt>
    <dd>
      <span ng-bind="$ctrl.resource.user_username"></span>
    </dd>
  </div>

  <div class="m-b-xs" ng-if="$ctrl.resource.user_password">
    <dt>
      Password:
    </dt>
    <dd>
      <span ng-if="!showPassword">***************</span>
      <a class="icon fa-eye" title="Show password" ng-click="showPassword=!showPassword"></a>
      <span ng-if="showPassword" ng-bind="$ctrl.resource.user_password"></span>
    </dd>
  </div>

  <div class="m-b-xs" ng-if="$ctrl.resource.key_name">
    <dt>
      SSH key:
    </dt>
    <dd>
      <span ng-bind="$ctrl.resource.key_name"></span>
    </dd>
  </div>

  <div class="m-b-xs" ng-if="$ctrl.resource.security_groups">
    <dt>
      Security groups:
    </dt>
    <dd>
      <security-groups-link
        security-groups="$ctrl.resource.security_groups"></security-groups-link>
    </dd>
  </div>

  <div class="m-b-xs" ng-if="!$ctrl.resource.isVolume && $ctrl.resource.uptime">
    <dt>
      Uptime:
    </dt>
    <dd>
      {{ ::$ctrl.resource.uptime }}
    </dd>
  </div>

</div>
</dl>
