<div ng-controller="ProjectDetailsController as ProjectCtrl">
    <sidebar items="items" context="context"></sidebar>
</div>
<div id="page-wrapper"
    ng-class="$state.current.data.pageClass || 'white-bg'">
    <div ng-if="!controller.model">
        <loading-spinner/>
    </div>
    <div ng-if="controller.model">
    <nc-header></nc-header>
    <div class="row wrapper white-bg page-heading">
        <div class="col-lg-12">
            <h2>{{ controller.model.name }}</h2>
            <resource-breadcrumbs resource="controller.model"/>
        </div>
    </div>
    <resource-details resource="controller.model" controller="controller"></resource-details>
    <app-footer/>
</div>
