<dl class="dl-horizontal resource-details-table col-sm-12"
  ng-switch="$ctrl.resource.resource_type">

  <div ng-switch-when="OpenStack.SecurityGroup">
    <security-group-summary resource="$ctrl.resource"></security-group-summary>
  </div>

  <div ng-switch-when="OpenStack.FloatingIP">
    <openstack-floating-ip-summary resource="$ctrl.resource"></openstack-floating-ip-summary>
  </div>

  <div ng-switch-when="OpenStack.Network">
    <openstack-network-summary resource="$ctrl.resource"></openstack-network-summary>
  </div>

  <div ng-switch-when="OpenStack.SubNet">
    <openstack-subnet-summary resource="$ctrl.resource"></openstack-subnet-summary>
  </div>

  <div ng-switch-when="OpenStack.Tenant">
    <openstack-tenant-summary resource="$ctrl.resource"></openstack-tenant-summary>
  </div>

  <div ng-switch-when="OpenStackTenant.Instance">
    <openstack-instance-summary resource="$ctrl.resource"></openstack-instance-summary>
  </div>

  <div ng-switch-default>

  <resource-summary-base resource="$ctrl.resource"></resource-summary-base>

  <div class="m-b-xs" ng-if="::$ctrl.resource.summary">
    <dt>{{$ctrl.resource.summaryLabel}}:</dt>
    <dd>
      {{ ::$ctrl.resource.summary }}
    </dd>
  </div>

  <div class="m-b-xs" ng-if="$ctrl.resource.isVolume || $ctrl.resource.isBackup">
    <dt>{{::$ctrl.resource.label}}:</dt>
    <dd ng-if="::$ctrl.resource.instance">
      <a ui-sref="resources.details({
        uuid: $ctrl.resource.instance_uuid,
        resource_type: 'OpenStackTenant.Instance'
      })">
        {{ ::$ctrl.resource.instance_name || 'OpenStack instance' }}
      </a>
    </dd>
    <dd ng-if="!$ctrl.resource.instance">
      &ndash;
    </dd>
  </div>

  <div class="m-b-xs" ng-if="::$ctrl.resource.source_volume">
    <dt>Volume:</dt>
    <dd>
      <a ui-sref="resources.details({
        uuid: $ctrl.resource.source_volume_uuid,
        resource_type: 'OpenStackTenant.Volume'
      })">
        {{ ::$ctrl.resource.source_volume_name }}
      </a>
    </dd>
  </div>

  <div class="m-b-xs" ng-if="!$ctrl.resource.isVolume">
    <dt>
      Access:
    </dt>
    <dd>
      <a ng-if="$ctrl.resource.access_info_url"
         href="{{ $ctrl.resource.access_info_url }}"
         target="_blank">
          <i class="fa fa-external-link"></i>
          {{ $ctrl.resource.access_info_text }}
      </a>
      <span ng-if="!$ctrl.resource.access_info_url">
        {{ $ctrl.resource.access_info_text }}
      </span>
    </dd>
  </div>

  </div>

</dl>
