<div ng-if="$ctrl.services.length === 0" class="m-t-sm">
  <span translate>There are no providers for this deployment plan.</span>
</div>
<div ng-if="$ctrl.services.length > 0" class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th translate>Provider</th>
        <th>
          <span translate>Price per day</span>
          <price-tooltip></price-tooltip>
        </th>
        <th>
          <span translate>Price per month</span>
          <price-tooltip></price-tooltip>
        </th>
        <th translate>Actions</th>
      </tr>
    </thead>
    <tbody ng-repeat="service in $ctrl.services">
      <tr>
        <td>
          <provider-icon type="service.service_settings_type" size="img-xs"></provider-icon>
        </td>
        <td>
          {{ service.service_settings_name }}
        </td>
        <td>
          <span ng-if="service.price">
            {{ service.price | defaultCurrency }}
          </span>
          <span ng-if="!service.price" translate>
            N/A
          </span>
        </td>
        <td>
          <span ng-if="service.price">
            {{ (service.price * 30) | defaultCurrency }}
          </span>
          <span ng-if="!service.price" translate>
            N/A
          </span>
        </td>
        <td>
          <button type="button"
            class="btn btn-sm btn-default"
            ng-click="$ctrl.explainPlan(service)">
            <i class="fa fa-eye"></i>
            <span translate>Explain plan</span>
          </button>
        </td>
      </tr>
      <tr ng-if="service.expanded">
        <td colspan="5">
          <span ng-if="service.error_message">
            {{ ::service.error_message }}
          </span>
          <span ng-if="service.optimized_presets">
            <cost-plan-flavors service-type="service.service_settings_type" items="service.optimized_presets"></cost-plan-flavors>
          </span>
          <span ng-if="service.details">{{ service.details }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
