.provider-description {
  border: 1px #e7eaec solid;
}

.provider-description__logo {
  margin: 0 auto;
  max-width: 200px;
  max-height: 200px;
}

.provider-description__content {
  padding: 1.5rem 3rem 1.5rem 3rem;
  font-size: 16px;
}
