.service-provider-secret-code {
  .service-provider-secret-code__label {
    display: inline-block;
  }

  .service-provider-secret-code__value {
    display: inline-block;
  }

  .service-provider-secret-code__generate-btn {
    display: inline-block;
    vertical-align: top;
  }
}

@media screen and (max-width: 366px) {
  .service-provider-secret-code__value {
    margin-top: 5px;
    margin-left: 0;
  }
}

@media screen and (max-width: 470px) {
  .service-provider-secret-code__generate-btn {
    margin-top: 5px;
    margin-left: 0;
  }
}
