.slurm-allocation-summary-extra-details-container {
  margin-top: 5px;

  .field-container {
    dt {
      margin-top: 10px;
    }

    .pre-container {
      display: inline-block;

      pre {
        display: flex;
        justify-items: center;
        background-color: #ffffff;
        padding: 0 0 0 10px;
        margin-bottom: 0;

        .copyable-content {
          flex-grow: 1;
        }

        .copy-to-clipboard-container {
          border-left: 1px solid #ccc;
          padding: 0 10px;
        }
      }
    }
  }
}
