<div class="modal-header">
  <h3 class="modal-title">
    <span translate>Security groups details</span>
  </h3>
</div>
<div class="modal-body">
  <div ng-if="$ctrl.securityGroups.length === 0">
    <span translate>Instance does not have any security groups yet.</span>
  </div>
  <table class="table" ng-if="$ctrl.securityGroups.length > 0">
    <thead>
      <tr>
        <th></th>
        <th translate>IP protocol</th>
        <th translate>Port range</th>
        <th translate>Remote network</th>
      </tr>
    </thead>
    <tbody ng-repeat="group in $ctrl.securityGroups">
      <tr ng-repeat="rule in group.rules track by $index">
        <td rowspan="{{group.rules.length}}" ng-if="$index ===0">
          <strong>{{ group.name | uppercase }}</strong>
          <div ng-if="group.description">({{ group.description }})</div>
        </td>
        <td>{{ rule | securityGroupProtocol }}</td>
        <td>
          {{ rule | securityGroupRulePortRange }}
        </td>
        <td>{{ rule.cidr }} (<span translate>CIDR</span>)</td>
      </tr>
    </tbody>
  </table>
</div>
