<div ng-if="$ctrl.rules.length === 0">
    Security group does not have any rules yet.
</div>

<div class="row">
  <div class="col-sm-12 m-b-sm">
    <button class="btn btn-primary btn-sm">
      <i class="fa fa-plus"></i> Add rule
    </button>
  </div>

  <div class="col-md-6">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
              <th>IP protocol</th>
              <th>Source port</th>
              <th>Destination port</th>
              <th>Remote CIRD</th>
              <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="rule in $ctrl.rules">
            <td>{{ ::rule.protocol | uppercase }}</td>
            <td>{{ ::rule.from_port | securityGroupRulePort }}</td>
            <td>{{ ::rule.to_port | securityGroupRulePort }}</td>
            <td>{{ ::rule.cidr }}</td>
            <td>
              <button class="btn btn-danger btn-xs">
                <i class="fa fa-trash"></i> Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
