<div ng-if="DashboardController.loading">
    <loading-spinner/>
</div>
<div ng-if="!DashboardController.loading">
    <div class="white-box empty-data-block" ng-if="DashboardController.table.length <= 1">
        <h1 translate>Not enough data for cost analysis.</h1>
    </div>
    <div class="white-box big-chart" ng-if="DashboardController.table.length > 1">
        <dashboard-cost-chart data="DashboardController.costData"></dashboard-cost-chart>
        <div class="clear"></div>
    </div>
    <div class="white-box table-list" ng-if="DashboardController.table.length > 1">
        <div class="table-block" ng-repeat="row in DashboardController.table">
            <div class="title"
                 ng-click="DashboardController.selectRow(row);"
                 ng-class="{'active': row.selected}">
                 <expandable-indicator open="row.selected"></expandable-indicator>
                <ul class="sort-list" ng-if="row.total > 0">
                    <li>
                        <span class="month" ng-bind="::row.date"></span>
                    </li>
                    <li>
                        <div class="icon"></div>
                        <a stoppropagation
                           ng-click="row.selected=true; row.activeTab='projects'"
                           ng-class="{'active': row.selected && row.activeTab=='projects'}">
                            <span translate>Projects</span> (<span ng-bind="::row.projects.length"></span>)
                        </a>
                    </li>
                    <li visible="resources">
                        <div class="icon"></div>
                        <a stoppropagation
                           ng-click="row.selected=true; row.activeTab='resources'"
                           ng-class="{'active': row.selected && row.activeTab=='resources'}">
                            <span translate>Resources</span> (<span ng-bind="::row.resources.length"></span>)
                        </a>
                    </li>
                    <li visible="providers">
                        <div class="icon"></div>
                        <a stoppropagation
                           ng-click="row.selected=true; row.activeTab='services'"
                           ng-class="{'active': row.selected && row.activeTab=='services'}">
                            <span translate>Providers</span> (<span ng-bind="::row.services.length"></span>)
                        </a>
                    </li>
                </ul>
                <ul class="sort-list" ng-if="row.total == 0">
                    <li>
                        <span class="month" ng-bind="::row.date"></span>
                    </li>
                    <li translate>
                        No resources used during this month.
                    </li>
                </ul>
                <div class="total-cost">
                    <span class="table-alert"></span>
                    <span class="cost">
                        <span ng-if="row.isCurrent" translate>Projected cost</span>
                        <span ng-if="!row.isCurrent" translate>Total cost</span>
                        {{ row.total | defaultCurrency }}
                    </span>
                </div>
                <div class="clear"></div>
            </div>
            <div ng-if="row.selected">
                <div class="cost-table desktop" ng-if="row.projects.length && row.activeTab=='projects'">
                    <div class="tr th">
                        <div class="td"><span translate>Project name</span></div>
                        <div class="td"><span translate>Organization name</span></div>
                        <div class="td"><span translate>Cost</span></div>
                    </div>
                    <div class="tr" ng-repeat="project in row.projects">
                        <div class="td"><span ng-bind="::project.project_name"></span></div>
                        <div class="td"><span ng-bind="::project.organization_name"></span></div>
                        <div class="td"><span>{{ ::project.total | defaultCurrency }}</span></div>
                    </div>
                </div>
                <div class="mobile-cost-container" ng-if="row.projects.length && row.activeTab=='projects'">
                    <div class="cost-row" ng-repeat="project in row.projects">
                        <div class="cost-row-name">
                            <b>{{ ::project.project_name }}</b>
                            <div>In {{ ::project.organization_name }}</div>
                        </div>
                        <div class="cost-row-price">
                            <span>{{ ::project.total | defaultCurrency }}</span>
                        </div>
                    </div>
                </div>
                <div class="cost-table desktop" ng-if="row.services.length && row.activeTab=='services'">
                    <div class="tr th">
                        <div class="td"><span translate>Provider name</span></div>
                        <div class="td"><span translate>Cost</span></div>
                    </div>
                    <div class="tr" ng-repeat="service in row.services">
                        <div class="td"><span ng-bind="::service.scope_name"></span></div>
                        <div class="td"><span>{{ ::service.total | defaultCurrency }}</span></div>
                    </div>
                </div>
                <div class="mobile-cost-container" ng-if="row.services.length && row.activeTab=='services'">
                    <div class="cost-row" ng-repeat="service in row.services">
                        <div class="cost-row-name">
                            <b>{{::service.scope_name}}</b>
                        </div>
                        <div class="cost-row-price">
                            <span>{{ ::service.total | defaultCurrency }}</span>
                        </div>
                    </div>
                </div>
                <div class="cost-table resources-cost-list desktop" ng-if="row.resources.length && row.activeTab=='resources'">
                    <div class="tr th">
                        <div class="td"><span translate>Resource name</span></div>
                        <div class="td"><span translate>Resource type</span></div>
                        <div class="td"><span translate>Project</span></div>
                        <div class="td"><span translate>Cost</span></div>
                    </div>
                    <div class="tr" ng-repeat="resource in row.resources">
                        <div class="td">
                            <a ng-if="resource.scope" ui-sref="resources.details({uuid: resource.resource_uuid, resource_type: resource.resource_type})">{{::resource.scope_name}}</a>
                            <span ng-if="!resource.scope">{{::resource.scope_name}}</span>
                        </div>
                        <div class="td"><span ng-bind="::resource.resource_type"></span></div>
                        <div class="td"><a ui-sref="project.details({uuid: resource.project_uuid})">{{::resource.project_name}}</a></div>
                        <div class="td"><span>{{ ::resource.total | defaultCurrency }}</span></div>
                    </div>
                </div>
                <div class="mobile-cost-container" ng-if="row.resources.length && row.activeTab=='resources'">
                    <div class="cost-row" ng-repeat="resource in row.resources">
                        <div class="cost-row-name">
                            <a ng-if="resource.scope" ui-sref="resources.details({uuid: resource.resource_uuid, resource_type: resource.resource_type})">{{::resource.scope_name}}</a>
                            <span ng-if="!resource.scope">{{::resource.scope_name}}</span>
                            <div>
                                {{ ::resource.resource_type }} in {{::resource.project_name}} project
                            </div>
                        </div>
                        <div class="cost-row-price">
                            <span>{{ ::resource.total | defaultCurrency }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
