@import 'variables.scss';
@import 'mixins/mediaqueries.scss';

.clear {
  clear: both;
}

.cost-table {
  border:1px solid #cccaca;
  padding-bottom: 10px;
  &.desktop {
      display: block;
      @include bp(xs) {
          display: none;
      }
  }
  .tr {
    position: relative;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0 20px;
    table-layout: fixed;
    display: table;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    > * {
      display: table-cell;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      vertical-align: middle;
    }
    .td {
      &.number {
        width: 80px;
      }
      &.visual-status {
        width: 30px;
        padding-right: 10px;
      }
      &.name {
        width: 225px;
        text-align: left;
      }
      &:first-child {
        font-weight: bold;
      }
      &:last-child {
        text-align: right;
      }
      @include bp(xs) {
        width: 30%;
      } // xs
      @include bp(sm) {
        width: 30%;
      } // sm
    }
    &.th {
      font-weight: bold;
    }
    &:nth-child(2n-1) {
      height: 50px;
      line-height: 50px;
      background: $table-gray;
    }
  }
}

.mobile-cost-container {
  display: none;
  @include bp(xs) {
      display: block;
  }
  border: 1px solid #cccaca;
  padding: 10px;
  .cost-row {
    display: table;
    .cost-row-name {
      display: table-cell;
      width: 100%;
    }
    .cost-row-price {
      display: table-cell;
    }
  }
}

