<div class="cost-chart-wrapper">
    <div class="d3-line-chart" id="chart"></div>
    <div class="legend">

        <div class="title"></div>

        <div class="switch">
            <input type="radio" ng-model="projectSelect" id="source-project" class="source-switch" value="project"/>
            <input type="radio" ng-model="projectSelect" id="source-resource" class="source-switch" value="resource"/>
            <input type="radio" ng-model="projectSelect" id="source-service" class="source-switch" value="service"/>

            <label ng-class="{on: projectSelect === 'project'}" for="source-project" translate>Projects</label>
            <label ng-class="{on: projectSelect === 'resource'}" for="source-resource" translate>Resources</label>
            <label ng-class="{on: projectSelect === 'service'}" for="source-service" translate>Providers</label>
        </div>
        <div><span class="date_label">Date: </span> <span class="date" ng-bind="currentValues.date"></span></div>
        <ul class="entities">
           <li ng-repeat="entity in entities" class="{{entity.name}}">
               <input ng-hide="entity.name==='total'" type="checkbox" ng-model="entity.on" />
               <div ng-style="{backgroundColor: entity.color}" class="point-chart"></div>
               <span class="entity-name" ng-class="{'entity-name-total': entity.name === 'total'}">{{entity.title}}</span>
               <span class="entity-value" ng-bind="currentValues[entity.name]"></span>
           </li>
        </ul>
    </div>
</div>
