<div ng-repeat="project in $ctrl.projects">
  <p>
    <a ui-sref="project.details({uuid: project.uuid})">
      <strong>{{ project.name }}</strong>
    </a>
    ({{ project.total }} <span translate>resources</span>)
  </p>
  <div class="progress">
    <div
      class="progress-bar"
      ng-repeat="category in project.categories"
      uib-tooltip="{{ category.label | translate }}"
      ng-bind="category.value"
      ng-style="{
        'background-color': category.color,
        'width': (category.relative - 0.5) + '%'
      }">
    </div>
  </div>
</div>
