<div class="white-box empty-data-block" ng-if="DashboardController.projectsList.length == 0">
    <h1 translate>Not enough data for resource analysis</h1>
    <h2 translate>Please create first project</h2>
</div>
<div class="white-box dashboard-resources-tab" ng-if="DashboardController.projectsList.length">
        <div class="pie-charts-block" block-ui="pie-charts">
            <div class="chart-element"
                 ng-class="{'active': DashboardController.barChartTab === 'vmsByProject'}"
                 ng-click="DashboardController.changeTab('vmsByProject')">
                <span class="chart-name" translate>Current usage</span>
                <pie-chart chart-data="DashboardController.currentUsageData"
                           chart-controller="DashboardController"></pie-chart>
                <div><span translate>Current plan:</span>
                    <a ui-sref="organization.plans({uuid: DashboardController.currentCustomer.uuid})">
                        {{DashboardController.currentPlan}}
                    </a>
                </div>
            </div>
            <div class="chart-element month-cost"
                 block-ui="month-cost-charts"
                 ng-class="{'active': DashboardController.barChartTab === 'providersByProject'}"
                 ng-click="DashboardController.changeTab('providersByProject')">
                <span class="chart-name" translate>By provider (30d top 5)</span>
                <div ng-if="!DashboardController.totalMonthCost" class="empty-chart-message">
                    <span translate>Not enough data for chart</span>
                </div>
                <pie-chart class="month-cost-chart" ng-if="DashboardController.totalMonthCost"
                           chart-data="DashboardController.monthCostChartData"
                           chart-controller="DashboardController"></pie-chart>
                <div class="month-cost-chart legend" id="monthCostChartLegend"></div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="big-chart" block-ui="bar-chart" ng-if="DashboardController.barChartTab === 'vmsByProject'">
            <span class="chart-name" translate>By project</span>
            <div ng-if="!DashboardController.resourcesCount" class="empty-chart-message">
                <span translate>Not enough data for chart</span>
            </div>
            <div ng-if="DashboardController.projectsList.showBarChart &&
                        DashboardController.resourcesCount">
                <bar-chart
                    class="xs-hide"
                    chart-data="DashboardController.resourcesByProjectChartData"
                    chart-controller="DashboardController">
                </bar-chart>
                <div class="xs-show">
                    <div class="details-table__row"
                         ng-repeat="project in DashboardController.projectsList">
                        <div class="details-table__key">
                            {{ ::project.name }}
                        </div>
                        <div class="details-table__value">
                            {{ project.vcpu }}  <span translate>vCPU</span> /
                            {{ project.ram }} <span translate>RAM</span> /
                            {{ project.storage }}  <span translate>HDD</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="big-chart" block-ui="bar-chart" ng-if="DashboardController.barChartTab === 'providersByProject'">
            <span class="chart-name" translate>Top providers by project</span>
            <bar-chart ng-if="DashboardController.projectsList.showBarChart"
                       chart-data="DashboardController.servicesByProjectChartData"
                       chart-controller="DashboardController"></bar-chart>
        </div>
</div>
