//
// Menu
//

// Aside menu
.aside-menu {
  .menu {
    padding: 0 get($aside-config, margin-x);

    // Link padding x
    @include menu-link-padding-x(get($aside-config, padding-x));

    // Menu indention
    @include menu-link-indention(
      get($aside-config, menu-indention),
      get($aside-config, padding-x)
    );
  }

  &.menu {
    padding: 0 get($aside-config, margin-x);
  }

  // Item
  .menu-item {
    padding: 0;

    // Menu Link
    .menu-link {
      padding-top: 0.55rem;
      padding-bottom: 0.55rem;
    }

    // Icon
    .menu-icon {
      justify-content: flex-start;
    }
  }

  .menu-separator {
    height: 1px;
    margin: 0 get($aside-config, margin-x);
  }
}

.aside {
  border-right: get($aside-config, border-right);

  .hover-scroll-overlay-y {
    --scrollbar-space: 0.4rem;

    @include scrollbar-color(
      get($aside-config, scrollbar-color),
      get($aside-config, scrollbar-hover-color)
    );
  }
}

// Dark aside colors
$dark-title: $gray-800;
$dark-icon: $gray-600;
$dark-arrow: $gray-600;
$dark-arrow-state: $gray-800;
$dark-bg-hover: $gray-50;
$dark-bg-active: $gray-100;
$dark-bg-subitem: $gray-200;
$dark-bg-subitem-2: $gray-300;
$dark-badge-color: $gray-300;
$dark-badge-bg: $gray-800;
$dark-badge-border: $gray-400;
$dark-accordion-active: $gray-100;
$dark-sub-accordion-active: $gray-200;
$dark-footer-separator: $gray-300;

$asides: (
  dark: (
    title: if(isDarkMode(), $dark-title, $primary-100),
    icon: if(isDarkMode(), $dark-icon, $primary-300),
    arrow: if(isDarkMode(), $dark-arrow, $primary-300),
    arrow-state: if(isDarkMode(), $dark-arrow-state, $primary-100),
    bg-hover: if(isDarkMode(), $dark-bg-hover, $primary-900),
    bg-active: if(isDarkMode(), $dark-bg-active, $primary-800),
    bg-subitem: if(isDarkMode(), $dark-bg-subitem, $primary-700),
    bg-subitem-2: if(isDarkMode(), $dark-bg-subitem-2, $primary-600),
    badge-color: if(isDarkMode(), $dark-badge-color, $primary-900),
    badge-bg: if(isDarkMode(), $dark-badge-bg, $primary-50),
    badge-border: if(isDarkMode(), $dark-badge-border, $primary-300),
    accordion-active: if(isDarkMode(), $dark-accordion-active, $primary-800),
    sub-accordion-active: if(
        isDarkMode(),
        $dark-sub-accordion-active,
        $primary-700
      ),
    footer-separator: if(isDarkMode(), $dark-footer-separator, $primary-700),
  ),
  light: (
    title: if(isDarkMode(), $dark-title, $gray-700),
    icon: if(isDarkMode(), $dark-icon, $gray-500),
    arrow: if(isDarkMode(), $dark-arrow, $gray-400),
    arrow-state: if(isDarkMode(), $dark-arrow-state, $gray-500),
    bg-hover: if(isDarkMode(), $dark-bg-hover, $gray-50),
    bg-active: if(isDarkMode(), $dark-bg-active, $gray-100),
    bg-subitem: if(isDarkMode(), $dark-bg-subitem, $gray-200),
    bg-subitem-2: if(isDarkMode(), $dark-bg-subitem-2, $gray-300),
    badge-color: if(isDarkMode(), $dark-badge-color, $gray-200),
    badge-bg: if(isDarkMode(), $dark-badge-bg, $gray-700),
    badge-border: if(isDarkMode(), $dark-badge-border, $gray-300),
    accordion-active: if(isDarkMode(), $dark-accordion-active, $gray-100),
    sub-accordion-active: if(
        isDarkMode(),
        $dark-sub-accordion-active,
        $gray-200
      ),
    footer-separator: if(isDarkMode(), $dark-footer-separator, $gray-200),
  ),
  accent: (
    title: if(isDarkMode(), $dark-title, $white),
    icon: if(isDarkMode(), $dark-icon, $white),
    arrow: if(isDarkMode(), $dark-arrow, $white-8),
    arrow-state: if(isDarkMode(), $dark-arrow-state, $white),
    bg-hover: if(isDarkMode(), $dark-bg-hover, $white-1),
    bg-active: if(isDarkMode(), $dark-bg-active, $white-2),
    bg-subitem: if(isDarkMode(), $dark-bg-subitem, $white-3),
    bg-subitem-2: if(
        isDarkMode(),
        $dark-bg-subitem-2,
        var(--waldur-brand-color)
      ),
    badge-color: if(isDarkMode(), $dark-badge-color, $white),
    badge-bg: if(isDarkMode(), $dark-badge-bg, var(--waldur-brand-color)),
    badge-border: if(
        isDarkMode(),
        $dark-badge-border,
        var(--waldur-brand-color)
      ),
    accordion-active: if(isDarkMode(), $dark-accordion-active, $white-2),
    sub-accordion-active: if(isDarkMode(), $dark-sub-accordion-active, $white-3),
    footer-separator: if(isDarkMode(), $dark-footer-separator, $white-6),
  ),
);

@each $name, $value in $asides {
  .aside-#{$name} {
    .menu {
      .menu-item {
        .menu-section {
          color: $gray-950 !important;
        }

        $title-color: get($value, title);
        $icon-color: get($value, icon);
        $arrow-color: get($value, arrow);
        $arrow-state-color: get($value, arrow-state);

        //$title-color, $icon-color, $bullet-color, $arrow-color, $bg-color
        @include menu-link-default-state(
          $title-color,
          $icon-color,
          transparent,
          $arrow-color,
          null
        );
        @include menu-link-hover-state(
          $title-color,
          $icon-color,
          transparent,
          $arrow-state-color,
          get($value, bg-hover)
        );
        @include menu-link-here-state(
          $title-color,
          $icon-color,
          transparent,
          $arrow-state-color,
          get($value, bg-active)
        );
        @include menu-link-show-state(
          $title-color,
          $icon-color,
          transparent,
          $arrow-state-color,
          get($value, bg-active)
        );
        @include menu-link-active-state(
          $title-color,
          $icon-color,
          transparent,
          $arrow-state-color,
          get($value, bg-active)
        );

        &.menu-accordion {
          &.hover {
            background: get($value, accordion-active);
          }

          .menu-sub-accordion .menu-item {
            @include menu-link-here-state(
              $title-color,
              $icon-color,
              transparent,
              $arrow-state-color,
              get($value, bg-subitem)
            );
            @include menu-link-show-state(
              $title-color,
              $icon-color,
              transparent,
              $arrow-state-color,
              get($value, bg-subitem)
            );
          }

          // 2nd level accordion
          &.hover .menu-sub-accordion > .menu-item.menu-accordion.hover {
            background: get($value, sub-accordion-active);
            border-radius: 0;

            .menu-sub-accordion .menu-item {
              &.show > .menu-link,
              &.here > .menu-link {
                background: get($value, bg-subitem-2);
              }
            }
          }
        }

        .menu-badge {
          .badge {
            color: get($value, badge-color);
            background-color: get($value, badge-bg);
            border: 1px solid get($value, badge-bg);

            // Outline badge
            &.badge-inverse {
              color: get($value, badge-bg);
              background-color: transparent;
              border: 1px solid get($value, badge-border);
            }
          }
        }
      }
    }
    .aside-logo {
      @include svg-icon-color(get($value, icon));
    }
    .aside-footer.has-divider::before {
      background: get($value, footer-separator);
    }

    .menu-text {
      color: get($value, title);
    }
    .menu-separator {
      background: get($value, footer-separator);
    }
    .menu-btn {
      color: get($value, arrow);

      &:hover {
        color: get($value, arrow-state);
      }
    }
  }
}

// Customization for accent theme
.aside-accent {
  .menu {
    .menu-item {
      .menu-badge {
        // Outline badge
        .badge {
          color: if(isDarkMode(), $dark-badge-color, $white);
          background-color: if(isDarkMode(), $dark-badge-bg, transparent);
          border-color: if(isDarkMode(), $dark-badge-border, $white);
        }
        .badge.badge-inverse {
          color: if(isDarkMode(), $dark-badge-bg, $white);
          background-color: transparent;
          border-color: if(isDarkMode(), $dark-badge-border, $white);
        }
      }
    }
  }
}
