<div>
    <div class="container">
        <h1>About</h1>
    </div>

    <div class="white-box text-page">
        <p>
            TrackMyCosts.com is a service built by OpenNode team <a href="opennodecloud.com">opennodecloud.com</a>
            for making tracking of expenses easier.
        </p>
        <p>
            At OpenNode we are using quite a lot of services - AWS, Azure, Digital Ocean, Google Apps, On-Demand
            Jira and so on. We use them to run multiple projects. The issue we had was understanding if expenses
            actually made sense.
        </p>
        <p>
            TrackMyCosts.com is built on top of the open-source platform NodeConductor
            <a href = "https://github.com/opennode/nodeconductor/">https://github.com/opennode/nodeconductor/</a>
            and allows to analyse expenses by allocating resources from different cloud providers to the projects
            you create.
        </p>
    </div>
</div>
