@import '../../sass/mixins/mediaqueries';

.dashboard-small-label {
  display: block;
  padding: 2px 18px;
  font-weight: 500;
  white-space: nowrap;
}

.dashboard-hero-logo {
  position: relative;
  width: 150px;
  padding: 2rem 0;

  @include bp(xs) {
    width: 95px;
  }

  .dashboard-small-label {
    &.top-label {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }

    &.bottom-label {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}

.health-title {
  font-size: 12px;

  @include bp(xs) {
    font-size: 11px;
  }
}
