.public-dashboard-hero__background {
  min-height: 320px;
  width: 100%;
  background-color: #2f4050;
  background-image: url(../../marketplace/landing/marketplace-background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
}

.public-dashboard-hero__table {
  display: table-cell;
  vertical-align: bottom;
}

.public-dashboard-hero-body {
  .dashboard-small-label {
    display: block;
    padding: 2px 18px;
    font-weight: 500;
  }
}

.public-dashboard-logo {
  position: relative;

  .dashboard-small-logo {
    position: absolute;
    top: -15px;
    right: -15px;
  }

  .dashboard-small-label {
    &.top-label {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &.bottom-label {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }
}
