.anonymousHeader {
  display: flex;
  padding: 16px 150px;
  justify-content: space-between;

  .anonymousHeader__actions {
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 745px) {
  .anonymousHeader {
    justify-content: flex-end;
    padding: 16px;

    & > input {
      display: none;
    }
  }
}
