<footer class="footer hidden-print">
  <div class="pull-right">
    <ul class="footer-nav">
      <li>
        <a ui-sref="policy.privacy" translate>Privacy policy</a>
      </li>
      <li>
        <a ui-sref="tos.index" translate>Terms of Service</a>
      </li>
      <li ng-if="::$ctrl.supportEmail">
        {{ ::$ctrl.supportEmail }}
      </li>
      <li ng-if="::$ctrl.supportPhone">
        {{ ::$ctrl.supportPhone }}
      </li>
      <li ng-if="$ctrl.isAuthenticated()" visible-if="'help'">
        <a ui-sref="help.list" translate>Help</a>
      </li>
      <li ng-if="::$ctrl.companyName">
        <a ng-href="{{ $ctrl.companyUrl }}">{{ ::$ctrl.companyName }}</a>
      </li>
    </ul>
  </div>
  <div>
    <span translate>Version</span>:
    <a href="https://opennode.atlassian.net/wiki/spaces/WD/pages/22976728/Changelog" target="_blank">{{ ::$ctrl.buildId }}</a>
  </div>
</footer>
