<div ng-if="$ctrl.resource.quotas.length === 0">
    <div class="row text-center" translate>You have no quotas yet.</div>
</div>
<div ng-if="$ctrl.resource.quotas.length > 0" class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th translate>Name</th>
                <th translate>Usage</th>
                <th translate>Limit</th>
                <th translate>Threshold</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="quota in $ctrl.resource.quotas track by quota.name">
                <td translate>{{ quota.name | prettyQuotaName }}</td>
                <td translate>{{ quota.usage }}</td>
                <td translate>{{ quota.limit }}</td>
                <td translate>{{ quota.threshold }}</td>
            </tr>
        </tbody>
    </table>
</div>
