@import 'inspinia/_variables.scss';

.appstore-support-agreement {
    box-shadow: 0 4px 8px 0 #ededed;
    border-radius: 3px;
    border: 1px solid #cacaca;
    position: relative;
    cursor: pointer;
    background: #fff;
    margin: 10px;
    text-align: center;
    padding: 15px;

    &.selected {
        border-color: $navy;
    }
}
