<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-9">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Choose package</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-4"
                             ng-repeat="package in AppStore.selectedCategory.packages"
                             ng-click="AppStore.selectSupportPackage(package)">
                            <div class="appstore-support-agreement"
                                ng-class="{selected: AppStore.selectedPackage == package}">
                                <h4>{{ ::package.name }}</h4>
                                <p>{{ ::package.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox" ng-if="AppStore.agreementShow">
                <div class="ibox-title">
                    <h5>Sign a support agreement</h5>
                </div>
                <div class="ibox-content">
                    <h4>1. Check terms</h4>
                    <ul>
                        <li>
                            <strong>Monthly base price:</strong>
                            {{ AppStore.selectedPackage.base_rate | defaultCurrency }}
                        </li>
                        <li>
                            <strong>Hour price:</strong>
                            {{ AppStore.selectedPackage.hour_rate | defaultCurrency }}
                        </li>
                    </ul>
                    <h4>2. Read through terms and conditions</h4>
                    <longread text="AppStore.selectedPackage.terms"></longread>
                </div>
                <div class="ibox-content">
                    <button
                        type="submit"
                        class="btn btn-primary pull-right"
                        ng-class="{'disabled': !AppStore.selectedPackage}"
                        submit-button="AppStore.signContract()">
                        <i class="fa fa-shopping-cart"></i>
                        Submit <span class="hidden-xs">SLA request</span>
                    </button>
                    <button
                        type="button"
                        cancel-button
                        class="btn btn-default">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <support-agreement-summary
                package="AppStore.selectedPackage"
                customer="AppStore.currentCustomer"
                project="AppStore.currentProject">
            </support-agreement-summary>
        </div>
    </div>
</div>
