<div class="ibox">
    <div class="ibox-title">
        <h5 translate>Sign a support agreement</h5>
    </div>
    <div class="ibox-content">
        <h4>1. <span translate>Check terms</span></h4>
        <ul>
            <li>
                <price-tooltip></price-tooltip>
                <strong><span translate>Monthly base price</span>: </strong>
                {{ $ctrl.plan.base_rate | defaultCurrency }}
            </li>
            <li>
                <price-tooltip></price-tooltip>
                <strong><span translate>Hour price</span>: </strong>
                {{ $ctrl.plan.hour_rate | defaultCurrency }}
            </li>
        </ul>
        <h4>2. <span translate>Read through terms and conditions.</span></h4>
        <longread text="$ctrl.plan.terms"></longread>
    </div>
    <div class="ibox-content">
        <button
            type="submit"
            class="btn btn-primary pull-right"
            submit-button="$ctrl.onSubmit()">
            <i class="fa fa-shopping-cart"></i>
            <span translate>Submit</span> <span class="hidden-xs" translate>SLA request</span>
        </button>
        <button
            back-button
            type="button"
            class="btn btn-default">
            <span translate>Cancel</span>
        </button>
    </div>
</div>
