<div ng-if="$ctrl.loading">
    <loading-spinner/>
</div>

<div class="ibox-content" ng-if="!$ctrl.loading && !$ctrl.plans.length">
    <p class="text-center text-warning" translate>
        There are no working premium support packages available for the current organization.
    </p>
</div>

<div class="ibox" ng-if="!$ctrl.loading && $ctrl.plans.length">
    <div class="ibox-title">
        <h5 translate>Choose package</h5>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-4"
                 ng-repeat="plan in $ctrl.plans"
                 ng-click="$ctrl.onSelect({plan: plan})">
                <div class="premium-support-plan"
                    ng-class="{selected: $ctrl.selected == plan}">
                    <h4>{{ ::plan.name }}</h4>
                    <p>{{ ::plan.description | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
