<div class="ibox">
    <div class="ibox-title">
        <h5>Sign a support agreement</h5>
    </div>
    <div class="ibox-content">
        <h4>1. Check terms</h4>
        <ul>
            <li>
                <strong>Monthly base price:</strong>
                {{ $ctrl.plan.base_rate | defaultCurrency }}
            </li>
            <li>
                <strong>Hour price:</strong>
                {{ $ctrl.plan.hour_rate | defaultCurrency }}
            </li>
        </ul>
        <h4>2. Read through terms and conditions</h4>
        <longread text="$ctrl.plan.terms"></longread>
    </div>
    <div class="ibox-content">
        <button
            type="submit"
            class="btn btn-primary pull-right"
            submit-button="$ctrl.onSubmit()">
            <i class="fa fa-shopping-cart"></i>
            Submit <span class="hidden-xs">SLA request</span>
        </button>
        <button
            type="button"
            cancel-button
            class="btn btn-default">
            Cancel
        </button>
    </div>
</div>
