.favorite-pages-header {
  background-color: #2f4050;
  background-image: url(./pattern.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.favorite-pages {
  height: calc(100vh - 200px);
  min-height: 100px;
  max-height: 325px;
  overflow: auto;

  &.empty {
    height: unset;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    td {
      width: 50%;
      margin: 0;
      padding: 0;
    }

    .favorite-page-item {
      width: 100%;
      height: 135px;
      padding: 6px 10px 20px;
      position: relative;

      &:hover .remove-button {
        opacity: 1;
      }
      .remove-button {
        opacity: 0;
      }

      strong,
      span {
        white-space: nowrap;
        max-width: 150px;
      }

      .loading {
        position: absolute;
        background-color: #000000bf;
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          padding: 0;
          font-size: 2rem;
          color: white !important;
        }
      }
    }
  }
}
