<div class="modal-header">
  <h2 class="modal-title" translate>Invite user</h2>
</div>
<form name="DialogCtrl.DialogForm">
  <div class="modal-body">
    <div ng-if="DialogCtrl.loading">
      <loading-spinner></loading-spinner>
    </div>
    <div ng-if="!DialogCtrl.loading">
      <div class="form-group">
        <label class="control-label" for="inviteEmail">
          <span translate>E-mail</span>
          <span class="text-danger">*</span>
        </label>
        <input
          class="form-control"
          id="inviteEmail"
          name="email"
          type="email"
          ng-model="DialogCtrl.email"
          required
          ng-disabled="DialogCtrl.submitting || DialogCtrl.fetchingUserDetails"
        />
        <p
          class="text-danger"
          ng-repeat="error in DialogCtrl.errors.email"
          ng-bind="error"
        ></p>
      </div>

      <div class="form-group">
        <label class="control-label" for="inviteCivilNumber">
          {{ DialogCtrl.civilNumberLabel }}
          <span class="text-danger" ng-if="DialogCtrl.civilNumberRequired"
            >*</span
          >
        </label>
        <input
          class="form-control"
          id="inviteCivilNumber"
          name="civil_number"
          ng-model="DialogCtrl.civil_number"
          ng-required="{{ DialogCtrl.civilNumberRequired }}"
          ng-disabled="DialogCtrl.submitting || DialogCtrl.fetchingUserDetails"
        />
        <p
          ng-if="DialogCtrl.civilCodeHelpText"
          class="help-block m-b-n-xs text-muted"
        >
          {{ DialogCtrl.civilCodeHelpText }}
        </p>
        <p
          class="text-danger"
          ng-repeat="error in DialogCtrl.errors.civil_number"
          ng-bind="error"
        ></p>
      </div>

      <div class="form-group" ng-if="DialogCtrl.showTaxNumber">
        <label class="control-label" for="inviteTaxNumber">
          {{ DialogCtrl.taxNumberLabel }}
          <span class="text-danger" ng-if="DialogCtrl.taxNumberRequired"
            >*</span
          >
        </label>
        <input
          class="form-control"
          id="inviteTaxNumber"
          name="tax_number"
          ng-model="DialogCtrl.tax_number"
          ng-required="{{ DialogCtrl.taxNumberRequired }}"
          ng-disabled="DialogCtrl.submitting || DialogCtrl.fetchingUserDetails"
        />
        <p
          class="text-danger"
          ng-repeat="error in DialogCtrl.errors.tax_number"
          ng-bind="error"
        ></p>
      </div>

      <div class="form-group" ng-if="DialogCtrl.requireUserDetails">
        <button
          type="button"
          class="btn btn-primary"
          ng-disabled="DialogCtrl.fetchingUserDetails"
          ng-click="DialogCtrl.fetchUserDetails()"
        >
          <span translate>Show user details</span>
        </button>
      </div>

      <div class="form-group" ng-if="DialogCtrl.fetchedUserDetails">
        <p>
          <strong><span translate>Full name</span>:</strong>
          {{ DialogCtrl.userDetails.full_name }}
        </p>

        <p>
          <strong><span translate>Native name</span>:</strong>
          {{ DialogCtrl.userDetails.native_name }}
        </p>

        <p>
          <strong><span translate>Organization</span>:</strong>
          {{ DialogCtrl.userDetails.organization }}
        </p>

        <p>
          <strong><span translate>Job title</span>:</strong>
          {{ DialogCtrl.userDetails.job_title }}
        </p>
      </div>

      <div class="form-group" ng-hide="DialogCtrl.roleDisabled">
        <div>
          <label class="control-label" translate>Role</label>
        </div>
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-default"
            ng-repeat="role in DialogCtrl.roles"
            ng-class="{active: DialogCtrl.role == role}"
            ng-click="DialogCtrl.role = role"
          >
            <i class="fa" ng-class="role.icon"></i> {{ role.title | translate }}
          </button>
        </div>
        <p
          class="text-danger"
          ng-repeat="error in DialogCtrl.errors.customer"
          ng-bind="error"
        ></p>
      </div>

      <div
        class="form-group"
        ng-hide="DialogCtrl.roleDisabled"
        ng-if="DialogCtrl.role.field == 'project_role'"
      >
        <label class="control-label" for="inviteProject">
          <span translate>Project</span>
          <span class="text-danger">*</span>
        </label>
        <select
          id="inviteProject"
          ng-options="project as project.name for project in DialogCtrl.customer.projects"
          ng-model="DialogCtrl.project"
          class="form-control"
          required
          ng-disabled="DialogCtrl.submitting"
        >
          <option value=""><span translate>Select project</span></option>
        </select>
        <p
          class="text-danger"
          ng-repeat="error in DialogCtrl.errors.project"
          ng-bind="error"
        ></p>
      </div>

      <div class="form-group" ng-if="DialogCtrl.errors.non_field_errors">
        <p
          class="text-danger"
          ng-repeat="error in DialogCtrl.errors.non_field_errors"
          ng-bind="error"
        ></p>
      </div>
    </div>
  </div>
  <div class="modal-footer" ng-hide="DialogCtrl.roleDisabled">
    <button
      class="btn btn-primary"
      type="submit"
      ng-disabled="DialogCtrl.DialogForm.$invalid"
      submit-button="DialogCtrl.submitForm()"
    >
      <span translate>Invite user</span>
    </button>
    <button
      class="btn btn-default"
      type="button"
      ng-click="DialogCtrl.dismiss()"
    >
      <span translate>Cancel</span>
    </button>
  </div>
</form>
