<div ng-controller="CustomerWorkspaceController">
  <sidebar items="items" context="context"></sidebar>
</div>
<div id="page-wrapper" ng-class="$state.current.data.pageClass || 'white-bg'">
  <cookies-consent></cookies-consent>
  <nc-header></nc-header>
  <div ng-if="$ctrl.loading">
    <loading-spinner></loading-spinner>
  </div>
  <div ng-if="!$ctrl.loading">
    <div ng-if="$ctrl.showAccountingRecords">
      <billing-record-details invoice="$ctrl.invoice"></billing-record-details>
    </div>
    <div ng-if="!$ctrl.showAccountingRecords">
      <invoice-details invoice="$ctrl.invoice"></invoice-details>
    </div>
    <div class="footer-indent"></div>
    <app-footer></app-footer>
  </div>
</div>
