<billing-record-header invoice="$ctrl.invoice"></billing-record-header>

<div ng-if="$ctrl.loading">
  <loading-spinner></loading-spinner>
</div>

<div ng-if="!$ctrl.loading" class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content">
      <div class="p-xl">
        <div class="row">
          <div class="col-sm-6 text-right col-sm-offset-6">
            <h4>{{ ::$ctrl.customer.name }}</h4>
            <h4 ng-if="$ctrl.customer.agreement_number">
              <span translate>Agreement number</span>
              {{::$ctrl.customer.agreement_number }}
            </h4>
            <h4 translate>Record no.</h4>
            <h4 class="text-navy">{{ ::$ctrl.invoice.number }}</h4>
            <div ng-if="$ctrl.invoice.customer_details">
              <span translate>For</span>:
              <billing-customer-details customer="$ctrl.invoice.customer_details"></billing-customer-details>
            </div>
            <div>
              <span>
                <strong translate>Record period</strong>:
                {{ ::$ctrl.invoice.period }}
              </span>
            </div>
          </div>
        </div>

        <div class="table-responsive m-t">
          <table class="table invoice-table">
            <thead>
              <tr>
                <th translate>Item</th>
                <th translate>Quantity</th>
                <th translate>Unit price</th>
                <th>
                  <price-tooltip></price-tooltip>
                  <span translate>Total price</span></th>
              </tr>
            </thead>
            <tbody ng-repeat="project in $ctrl.projects | orderBy:'name' track by $index">
              <tr class="project" ng-if="::project.name">
                <td colspan="4">
                  <h3>{{ ::project.name }}</h3>
                </td>
              </tr>
              <tr ng-repeat="item in project.items track by $index">
                <td>
                  <div>
                    <strong>{{ $ctrl.getItemName(item) }}</strong>
                  </div>
                  <i class="fa fa-question-circle m-l-xs"
                    uib-tooltip="{{'Tracked using UTC timezone, displayed with your browser’s timezone.' | translate }}">
                  </i>
                  <small>
                    <span translate>Start time</span>: {{ ::item.start || '&mdash;' | dateTime }}.
                    <span translate>End time</span>: {{ ::item.end || '&mdash;' | dateTime }}
                  </small>
                  <div ng-if="item.details.service_provider_name">
                    <small>
                      <span translate>Vendor</span>: {{ ::item.details.service_provider_name }}
                    </small>
                  </div>
                  <!-- <invoice-events-toggle item="item"></invoice-events-toggle> -->
                </td>
                <td>{{ item.factor || item.quantity }}</td>
                <td>{{ ::item.unit_price | defaultCurrency }}</td>
                <td>{{ ::item.price | defaultCurrency }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <table class="table invoice-total">
          <tbody>
            <tr>
              <td>
                <strong translate>TOTAL</strong>
                <small translate>(VAT is not included)</small>:
              </td>
              <td>{{ ::$ctrl.invoice.price | defaultCurrency }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
