<div class="tabs-container m-l-sm">
  <uib-tabset active="active">
    <uib-tab ng-if="!$ctrl.showAccountingRecords && !$ctrl.payPalVisible">
      <uib-tab-heading translate>Invoices</uib-tab-heading>
      <div class="panel-body">
        <invoices-list></invoices-list>
      </div>
    </uib-tab>
    <uib-tab ng-if="$ctrl.showAccountingRecords">
      <uib-tab-heading translate>Accounting records</uib-tab-heading>
      <div class="panel-body">
        <billing-records-list></billing-records-list>
      </div>
    </uib-tab>
    <uib-tab ng-if="!$ctrl.showAccountingRecords && $ctrl.payPalVisible">
      <uib-tab-heading translate>Invoices</uib-tab-heading>
      <div class="panel-body">
        <p ng-if="$ctrl.customer">
          <span translate>Estimated cost for the current month:</span>
          {{ $ctrl.customer.billing_price_estimate.total | defaultCurrency }}
          <price-estimate-button customer="$ctrl.customer"></price-estimate-button>
        </p>
        <paypal-invoices-list></paypal-invoices-list>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
