<div class="tabs-container m-l-sm">
  <uib-tabset active="active">
    <uib-tab ng-if="!$ctrl.showAccountingRecords && !$ctrl.payPalVisible">
      <uib-tab-heading translate>Invoices</uib-tab-heading>
      <div class="panel-body">
        <invoices-list></invoices-list>
      </div>
    </uib-tab>
    <uib-tab ng-if="$ctrl.showAccountingRecords">
      <uib-tab-heading translate>Accounting records</uib-tab-heading>
      <div class="panel-body">
        <div ng-if="$ctrl.activeFixedPricePaymentProfile">
          <span
            ng-if="$ctrl.activeFixedPricePaymentProfile.agreement_number"
            translate
          >
            Organization has signed a fixed price agreement
            {{ $ctrl.activeFixedPricePaymentProfile.agreement_number }}.
            <span
              ng-if="$ctrl.activeFixedPricePaymentProfile.end_date"
              translate
            >
              End date of the agreement is
              {{ $ctrl.activeFixedPricePaymentProfile.end_date }}.
            </span>
          </span>
        </div>
        <billing-records-list></billing-records-list>
      </div>
    </uib-tab>
    <uib-tab ng-if="!$ctrl.showAccountingRecords && $ctrl.payPalVisible">
      <uib-tab-heading translate>Invoices</uib-tab-heading>
      <div class="panel-body">
        <p ng-if="$ctrl.customer">
          <span translate>Estimated cost for the current month:</span>
          {{ $ctrl.customer.billing_price_estimate.total | defaultCurrency }}
          <price-estimate-button
            customer="$ctrl.customer"
          ></price-estimate-button>
        </p>
        <paypal-invoices-list></paypal-invoices-list>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
