<invoice-header invoice="$ctrl.invoice"></invoice-header>

<div ng-if="!$ctrl.loading" class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content">
      <div class="p-xl">
        <div class="row">
          <div class="col-sm-6">
            <h5><span translate>From</span>:</h5>
            <billing-customer-details customer="$ctrl.invoice.issuer_details"></billing-customer-details>
          </div>

          <div class="col-sm-6 text-right">
            <span ng-if="$ctrl.invoice.number">
              <h4 translate>Invoice No.</h4>
              <h4 class="text-navy">{{ ::$ctrl.invoice.number}}</h4>
            </span>
            <span><span translate>To</span>:</span>
            <billing-customer-details customer="$ctrl.invoice.customer_details"></billing-customer-details>
            <div>
              <span><strong><span translate>Invoice date</span>:</strong> {{ ::$ctrl.invoice.invoice_date || '&mdash;'}}</span><br>
              <span>
                <strong><span translate>Due date</span>:</strong>
                {{ ::$ctrl.invoice.due_date || '&mdash;'}}
              </span>
            </div>
          </div>
        </div>

        <div class="table-responsive m-t">
          <table class="table invoice-table">
            <thead>
              <tr>
                <th translate>Item</th>
                <th translate>Quantity</th>
                <th translate>Unit price</th>
                <th ng-if="$ctrl.invoice.issuer_details.vat_code">Tax</th>
                <th translate>Total price</th>
              </tr>
            </thead>
            <tbody ng-repeat="project in $ctrl.projects | orderBy:'name' track by $index">
              <tr class="project" ng-if="::project.name">
                <td colspan="4">
                  <h3>{{ ::project.name }}</h3>
                </td>
              </tr>
              <tr ng-repeat="item in project.items track by $index">
                <td>
                  <div>
                    <strong>{{ $ctrl.getItemName(item) }}</strong>
                  </div>
                  <small>
                    <span translate>Start time</span>: {{ ::item.start || '&mdash;' | dateTime }}.
                    <span translate>End time</span>: {{ ::item.end || '&mdash;' | dateTime }}.
                  </small>
                  <div ng-if="item.details.service_provider_name">
                    <small>
                      <span translate>Vendor</span>: {{ ::item.details.service_provider_name }}
                    </small>
                  </div>
                  <!-- <invoice-events-toggle item="item"></invoice-events-toggle> -->
                </td>
                <td>{{ item.factor || item.quantity }}</td>
                <td>{{ ::item.unit_price | defaultCurrency}}</td>
                <td ng-if="$ctrl.invoice.issuer_details.vat_code">
                  {{ ::item.tax | defaultCurrency}}
                </td>
                <td>{{ (item.total || item.price) | defaultCurrency}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <table class="table invoice-total">
          <tbody>
            <tr>
              <td>
                <strong><span translate>Subtotal</span>: </strong>
              </td>
              <td>{{ ::$ctrl.invoice.price | defaultCurrency}}</td>
            </tr>
            <tr ng-if="$ctrl.invoice.issuer_details.vat_code">
              <td><strong><span translate>TAX</span>: </strong></td>
              <td>{{ ::$ctrl.invoice.tax | defaultCurrency}}</td>
            </tr>
            <tr>
              <td>
                <strong><span translate>TOTAL</span>: </strong>
              </td>
              <td>{{ ::$ctrl.invoice.total | defaultCurrency}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
