<div class="ibox">
    <div class="ibox-title">
        <h5>
            <span translate>Checkout summary</span>
        </h5>
    </div>
    <div class="ibox-content">
        <p ng-if="!$ctrl.isValid()">
            <span translate>No items yet.</span>
        </p>
        <p ng-if="$ctrl.components">
            Note that this virtual machine is charged as part of <strong>{{ $ctrl.model.service.name }}</strong> package.
        </p>
        <table class="table table-bordered" ng-if="$ctrl.isValid()">
          <tbody>
            <tr ng-if="$ctrl.model.name">
                <td><strong translate>VM name</strong></td>
                <td>{{ $ctrl.model.name }}</td>
            </tr>
            <tr>
                <td><strong translate>Image</strong></td>
                <td>{{ $ctrl.model.image.name }}</td>
            </tr>
            <tr>
                <td><strong translate>Flavor</strong></td>
                <td>{{ $ctrl.model.flavor.name }}</td>
            </tr>
            <tr>
                <td><strong translate>vCPU</strong></td>
                <td>{{ $ctrl.model.flavor.cores }} cores</td>
            </tr>
            <tr>
                <td><strong translate>RAM</strong></td>
                <td>{{ $ctrl.model.flavor.ram | filesize }}</td>
            </tr>
            <tr>
                <td><strong translate>Total storage</strong></td>
                <td>{{ $ctrl.getTotalStorage() | filesize }}</td>
            </tr>
            <tr>
                <td><strong translate>Price per day</strong></td>
                <td>{{ $ctrl.getDailyPrice() | defaultCurrency }}</td>
            </tr>
            <tr>
                <td><strong translate>Price per month</strong></td>
                <td>{{ $ctrl.getMonthlyPrice() | defaultCurrency }}</td>
            </tr>
            <tr>
                <td><strong translate>Invoiced to</strong></td>
                <td>{{ $ctrl.model.customer.name }}</td>
            </tr>
            <tr>
                <td><strong translate>Project</strong></td>
                <td>{{ $ctrl.model.project.name }}</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
