<div>
    <div class="btn-group m-b-xs">
        <label class="btn btn-white"
               ng-model="$ctrl.selected"
               uib-btn-radio="'allocate_floating_ip'">Auto-assign</label>
        <label class="btn btn-white"
               ng-model="$ctrl.selected"
               uib-btn-radio="'skip'">Skip assignment</label>
        <label class="btn btn-white"
               ng-model="$ctrl.selected"
               uib-btn-radio="'floating_ip'">Select IP</label>
    </div>
    <div class="m-l-xs m-r-md">
        <select class="form-control">
            <option value="">Select an option</option>
        </select>
    </div>
</div>
