<div ng-if="$ctrl.loading">
  <loading-spinner></loading-spinner>
</div>

<div class="ibox" ng-if="!$ctrl.loading && $ctrl.issue">
  <div class="ibox-content">
    <div class="row m-b-md">
      <div class="col-lg-12">
        <h2 ng-if="$ctrl.issue.key">{{ $ctrl.issue.key }}: {{ $ctrl.issue.summary }}</h2>
        <h2 ng-if="!$ctrl.issue.key">{{ $ctrl.issue.summary }}</h2>
      </div>
    </div>
    <div class="row m-b-md">
      <dl class="dl-horizontal resource-details-table col-sm-12">
        <div class="m-b-xs">
          <dt><span translate>Caller</span>:</dt>
          <dd>{{ ::$ctrl.issue.caller_full_name }}</dd>
        </div>

        <div class="m-b-xs" ng-if="::$ctrl.issue.reporter_name && $ctrl.staffOrSupport">
          <dt><span translate>Reporter</span>:</dt>
          <dd>{{ ::$ctrl.issue.reporter_name }}</dd>
        </div>

        <div class="m-b-xs" ng-if="$ctrl.staffOrSupport">
          <dt><span translate>Assigned to</span>:</dt>
          <dd>{{ ::$ctrl.issue.assignee_name || 'N/A' }}</dd>
        </div>

        <div class="m-b-xs" ng-if="::$ctrl.issue.customer_name">
          <dt><span translate>Organization</span>:</dt>
          <dd>{{ ::$ctrl.issue.customer_name }}</dd>
        </div>

        <div class="m-b-xs">
          <dt><span translate>Request type</span>:</dt>
          <dd>{{ ::$ctrl.issue.type }}</dd>
        </div>

        <div class="m-b-xs" ng-if="::$ctrl.issue.project_name">
          <dt><span translate>Project</span>:</dt>
          <dd>{{ ::$ctrl.issue.project_name }}</dd>
        </div>

        <div class="m-b-xs" ng-if="::$ctrl.issue.resource_type">
          <dt><span translate>Service type</span>:</dt>
          <dd>{{ ::$ctrl.issue.resource_type }}</dd>
        </div>

        <div class="m-b-xs" ng-if="::$ctrl.issue.resource_name">
          <dt><span translate>Affected resource</span>:</dt>
          <dd>{{ ::$ctrl.issue.resource_name }}</dd>
        </div>

        <div class="m-b-xs">
          <dt><span translate>Status</span>:</dt>
          <dd>{{ $ctrl.issue.status || 'N/A' }}</dd>
        </div>

        <div class="m-b-xs" ng-if="::$ctrl.issue.resolution">
          <dt><span translate>Resolution</span>:</dt>
          <dd>{{ ::$ctrl.issue.resolution }}</dd>
        </div>

        <div class="m-b-xs" ng-if="::$ctrl.issue.priority">
          <dt><span translate>Priority</span>:</dt>
          <dd>{{ ::$ctrl.issue.priority }}</dd>
        </div>

        <div class="m-b-xs" ng-if="$ctrl.showLink()">
          <dt><span translate>Link</span>:</dt>
          <dd>
            <a href="{{ ::$ctrl.issue.link }}" target="_blank">
              <i class="fa fa-external-link"></i>
              <span translate>Open in Service Desk</span>
            </a>
          </dd>
        </div>

        <div class="m-b-xs">
          <dt><span translate>Created</span>:</dt>
          <dd>
            <span am-time-ago="::$ctrl.issue.created"></span>,
            {{ ::$ctrl.issue.created | dateTime }}
          </dd>
        </div>
      </dl>

      <div class="col-sm-12">
        <h3 translate>Description</h3>
        <div class="html-description" ng-bind-html="$ctrl.issue.description"></div>
      </div>
    </div>
  </div>
</div>

<div ng-if="!$ctrl.loading">
  <issue-attachments-container issue="$ctrl.issue"></issue-attachments-container>
</div>

<div ng-if="!$ctrl.loading && $ctrl.issue">
  <issue-comments-container issue="$ctrl.issue"></issue-comments-container>
</div>
