.layout-warning-bar {
  min-height: 48px;
  border-bottom: 1px solid var(--bs-border-color);
  display: flex;
  align-items: center;

  &.bar-warning {
    background-color: $bg-warning-primary;
    color: if(isDarkMode(), $warning-700, $warning-800);
  }

  &.bar-danger {
    background-color: $bg-error-primary;
    color: if(isDarkMode(), $danger-700, $danger-800);
  }
}

.announcements {
  .bar {
    min-height: 55px;
    border-bottom: 1px solid var(--bs-border-color);

    &:not(:first-child) {
      border-top: 1px solid var(--bs-border-color);
    }
    &:not(:last-child) {
      margin-bottom: 8px;
    }

    .ellipsis {
      overflow: hidden;

      p.ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        margin-bottom: 0;
      }
    }

    .text-anchor {
      white-space: nowrap;
    }

    &.bar-warning {
      background-color: $bg-warning-primary;
      color: if(isDarkMode(), $warning-700, $warning-800) !important;
    }

    &.bar-danger {
      background-color: $bg-error-primary;
      color: if(isDarkMode(), $danger-700, $danger-800) !important;
    }

    &.bar-success {
      background-color: $bg-success-primary;
      color: if(isDarkMode(), $success-700, $success-800) !important;
    }
  }
}
