.aside {
  .menu {
    .menu-item {
      &.menu-accordion {
        &.hover {
          background: if(isDarkMode(), $gray-300, $primary-700);
          border-radius: $border-radius;
          overflow: hidden;

          > .menu-link:not(:hover) {
            background-color: transparent !important;
          }
        }

        // Accordion arrow rotation
        &:not(.menu-dropdown),
        &:not(.menu-dropdown) {
          &.hiding >,
          &:not(.showing) > {
            .menu-link {
              .menu-arrow:after {
                transform: rotate(90deg);
              }
            }
          }

          &.showing,
          &:not(.hiding).show {
            > .menu-link {
              .menu-arrow:after {
                @include menu-link-arrow-rotate(270deg, -270deg);
              }
            }
          }
        }
      }

      .menu-link {
        height: 40px;

        .menu-title {
          font-size: get($aside-config, font-size);
          font-weight: 500;
        }

        .menu-arrow {
          width: 1.3rem;
          height: 1.3rem;
        }

        // Menu Icon
        .menu-icon {
          width: get($aside-config, icon-size);
          margin-right: 12px;

          .svg-icon {
            @include svg-icon-size(get($aside-config, icon-size), true);
          }
        }
      }
    }

    .resources-filter {
      height: 42px;
      display: flex;
      align-items: center;

      .filter-item {
        width: 100%;
        padding: 0.55rem get($aside-config, padding-x);

        .badge {
          display: inline-flex;
          align-items: center;
        }
      }
    }
  }

  &:not(:hover) .aside-logo #kt_aside_toggle {
    display: none;
  }

  .aside-footer.has-divider::before {
    content: ' ';
    height: 1px;
    display: block;
    background: if(isDarkMode(), $gray-400, $primary-700);
    margin: 0 get($aside-config, margin-x);
  }
}

// On aside collapsed - not on mobile & not on hover
@media (min-width: 992px) {
  .aside {
    &:not(.aside-hoverable),
    &:not(:hover) {
      .menu-item {
        .menu-link {
          transition: all 0.2s;

          [data-kt-aside-minimize='on'] & {
            justify-content: start;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            width: 43px;
            white-space: nowrap;
          }
        }

        &.menu-accordion {
          [data-kt-aside-minimize='on'] & {
            width: 43px;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

// Add resource button
$dark-add-resource-border: if(isDarkMode(), $gray-600, $gray-300);
$dark-add-resource-color: if(isDarkMode(), $gray-600, $gray-300);
$dark-add-resource-state-color: if(isDarkMode(), $gray-700, $gray-200);
$dark-show-more-color: if(isDarkMode(), $gray-600, $gray-300);
$dark-show-more-active-icon: if(isDarkMode(), $gray-800, $gray-100);
// Resources filter
$dark-badge-color: if(isDarkMode(), $gray-800, $gray-100);
$dark-badge-bg: if(isDarkMode(), $gray-100, $gray-800);
$dark-badge-border: if(isDarkMode(), $gray-400, $gray-500);

$custom-aside: (
  dark: (
    add-resource-border: $dark-add-resource-border,
    add-resource-color: $dark-add-resource-color,
    add-resource-state-color: $dark-add-resource-state-color,
    show-more-color: $dark-show-more-color,
    show-more-active-icon: $dark-show-more-active-icon,
    // Resources filter
    filter-label: $dark-show-more-color,
    filter-badge-color: $dark-badge-color,
    filter-badge-bg: $dark-badge-bg,
    filter-badge-border: $dark-badge-border,
  ),
  light: (
    add-resource-border: if(isDarkMode(), $gray-600, $gray-300),
    add-resource-color: if(isDarkMode(), $gray-200, $gray-700),
    add-resource-state-color: if(isDarkMode(), $gray-300, $gray-600),
    show-more-color: if(isDarkMode(), $gray-400, $gray-500),
    show-more-active-icon: if(isDarkMode(), $gray-300, $gray-600),
    filter-label: if(isDarkMode(), $gray-400, $gray-500),
    filter-badge-color: if(isDarkMode(), $gray-200, $gray-700),
    filter-badge-bg: transparent,
    filter-badge-border: if(isDarkMode(), $gray-600, $gray-300),
  ),
  primary: (
    add-resource-border: rgba(255, 255, 255, 0.3),
    add-resource-color: rgba(255, 255, 255, 0.7),
    add-resource-state-color: white,
    show-more-color: rgba(255, 255, 255, 0.7),
    show-more-active-icon: white,
    filter-label: rgba(255, 255, 255, 0.7),
    filter-badge-color: white,
    filter-badge-bg: rgba(255, 255, 255, 0.15),
    filter-badge-border: rgba(255, 255, 255, 0.3),
  ),
  accent: (
    add-resource-border: var(--waldur-brand-300),
    add-resource-color: var(--waldur-brand-300),
    add-resource-state-color: var(--waldur-brand-200),
    show-more-color: var(--waldur-brand-300),
    show-more-active-icon: var(--waldur-brand-100),
    filter-label: var(--waldur-brand-200),
    filter-badge-color: var(--waldur-brand-100),
    filter-badge-bg: var(--waldur-brand-700),
    filter-badge-border: var(--waldur-brand-color),
  ),
  accent-light: (
    add-resource-border: var(--waldur-brand-600),
    add-resource-color: var(--waldur-brand-600),
    add-resource-state-color: var(--waldur-brand-700),
    show-more-color: var(--waldur-brand-600),
    show-more-active-icon: var(--waldur-brand-800),
    filter-label: var(--waldur-brand-700),
    filter-badge-color: var(--waldur-brand-800),
    filter-badge-bg: var(--waldur-brand-200),
    filter-badge-border: var(--waldur-brand-400),
  ),
);

.aside {
  @each $name, $value in $custom-aside {
    &.aside-#{$name} {
      .menu-item {
        &.add-resource-toggle {
          .menu-link {
            border-color: get($value, add-resource-border);
            &:not(:hover) {
              .menu-title,
              .menu-icon .svg-icon svg {
                color: get($value, add-resource-color);
              }
            }
            &:hover {
              .menu-title,
              .menu-icon .svg-icon svg {
                color: get($value, add-resource-state-color);
              }
            }
          }
        }
        &.menu-show-more {
          .menu-link {
            .menu-title .btn {
              color: get($value, show-more-color);
            }
            .menu-badge .svg-icon {
              @include svg-icon-color(get($value, show-more-color));
            }
          }
          &.active .menu-link {
            .menu-badge .svg-icon {
              @include svg-icon-color(get($value, show-more-active-icon));
            }
          }
        }
      }

      .resources-filter {
        .filter-item {
          > label {
            color: get($value, filter-label);
          }
          .badge {
            color: get($value, filter-badge-color) !important;
            background-color: get($value, filter-badge-bg) !important;
            border: 1px solid get($value, filter-badge-border) !important;

            button {
              color: get($value, filter-label) !important;

              &:hover {
                color: get($value, filter-badge-color) !important;
              }
            }
          }
        }
      }
    }
  }
}
