@import '~/src/metronic/sass/core/components/_variables.scss';

/* CARD */
.card .card-header {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: $gray-700;
  border-bottom-color: $light;
}

/* LIST-GROUP & ITEMS */
.list-group-item {
  background-color: $dark-inverse;

  &:hover {
    background-color: $gray-200;
  }
  &.active {
    color: $gray-900;
    background-color: $gray-200;
    border-color: $gray-200;
  }
}

/* SVG ICON */
.collapsible:not(.collapsed),
.show,
.active {
  > .rotate-180 {
    transform: rotateZ(180deg);
    transition: transform 0.3s ease;
  }
}

/* Typography */
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.ellipsis-lines {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  &-2 {
    @extend .ellipsis-lines;
    -webkit-line-clamp: 2;
  }
  &-3 {
    @extend .ellipsis-lines;
    -webkit-line-clamp: 3;
  }
  &-4 {
    @extend .ellipsis-lines;
    -webkit-line-clamp: 4;
  }
}

.btn-text-align {
  line-height: 1.5;
  padding: calc(0.75rem + 1px) calc(1.5rem + 1px);
}

.text-link {
  background-color: transparent;
  border: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: $dark;
  text-decoration: underline;

  &:hover {
    color: $primary;
    text-decoration: none;
  }
}
.text-anchor {
  background-color: transparent;
  color: $link-color;
  text-decoration: $link-decoration;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;

  &:hover {
    color: $link-color;
    text-decoration: underline !important;
    transition: $transition-base;
  }
}
.text-btn {
  background-color: transparent;
  color: $gray-600;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
}

.z-index-100 {
  z-index: 100;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.text-pre {
  white-space: pre;
}
