.border-hover-brand:hover {
  border-color: var(--waldur-brand-color) !important;
}

.border-active-brand.active {
  border-color: var(--waldur-brand-color) !important;
}

.border-rows {
  > *:not(:last-child) {
    border-bottom: 1px solid $border-color;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
}
