.breadcrumb-container .breadcrumb {
  flex-wrap: nowrap;
  flex-grow: 1;

  .breadcrumb-item {
    text-wrap: nowrap;
    min-width: 20px;

    &:last-child {
      flex-grow: 1;
    }
  }
}

$mobileHeaderHeight: get(
  $header-config,
  default,
  outer-height,
  tablet-and-mobile
);

.breadcrumb-mobile {
  background-color: $body-bg;
  height: $mobileHeaderHeight;
  position: fixed;
  top: $mobileHeaderHeight;
  z-index: 20;
  border-bottom: 1px solid $border-color;

  + .content {
    margin-top: $mobileHeaderHeight;
  }

  .outstanding-bar-enabled & {
    top: calc(#{$mobileHeaderHeight} + var(--kt-pagebar-height));
  }
}
