/* *** BUTTONS *** */

/* BUTTON */
.btn {
  border-radius: 7px;
  letter-spacing: 0.56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.disabled,
  &:disabled {
    color: $gray-400 !important;
    border-color: transparent !important;

    i {
      color: $gray-400 !important;
    }
    .svg-icon {
      @include svg-icon-color($gray-400, true);
    }
    &.dropdown-toggle:after {
      color: $gray-400 !important;
    }
  }

  .btn-group-lg > .btn.btn-icon,
  &.btn-icon.btn-lg {
    height: 3.385rem;
    width: 3.385rem;
  }
}
