/* *** BUTTONS *** */

/* BUTTON */
.btn {
  letter-spacing: 0.56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;

  &.btn-sm {
    font-size: 14px;
  }

  &.btn-lg {
    line-height: 24px;
  }

  &.btn-link.disabled,
  &.btn-link:disabled {
    color: $gray-300 !important;
    border-color: transparent !important;

    i {
      color: $gray-300 !important;
    }
    .svg-icon {
      @include svg-icon-color($gray-300, true);
    }
    &.dropdown-toggle:after {
      color: $gray-300 !important;
    }
  }

  &.btn-icon.disabled,
  &.btn-icon:disabled {
    background-color: $bg-disabled_subtle !important;
    color: $fg-disabled !important;
    border-color: transparent !important;

    i {
      color: $fg-disabled !important;
    }
    .svg-icon {
      @include svg-icon-color($fg-disabled, true);
    }
    &.dropdown-toggle:after {
      color: $fg-disabled !important;
    }
  }

  .btn-group-lg > .btn.btn-icon,
  &.btn-icon.btn-lg {
    height: 3.385rem;
    width: 3.385rem;
  }

  &.btn-avatar {
    width: 32px;
    height: 32px;
    color: $fg-quinary;
    border-color: $border-primary !important;

    @include svg-icon-color($fg-quinary);

    &:hover {
      @include svg-icon-color($fg-quaternary);
    }
    &:focus {
      background-color: $bg-primary !important;
      box-shadow: $ring-gray-100-lg !important;
    }
    &:disabled {
      background-color: $bg-disabled !important;
      border-color: $border-disabled !important;
      @include svg-icon-color($fg-disabled);
    }

    &.btn-sm {
      width: 24px;
      height: 24px;
    }
    &.btn-lg {
      width: 40px;
      height: 40px;
    }
  }
}

.up-down-buttons {
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;

  > button {
    display: flex;
  }
}
