/* *** BUTTONS *** */

/* BUTTON */
.btn {
  letter-spacing: 0.56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.btn-link.disabled,
  &.btn-link:disabled {
    color: $gray-300 !important;
    border-color: transparent !important;

    i {
      color: $gray-300 !important;
    }
    .svg-icon {
      @include svg-icon-color($gray-300, true);
    }
    &.dropdown-toggle:after {
      color: $gray-300 !important;
    }
  }

  &.btn-icon.disabled,
  &.btn-icon:disabled {
    background-color: $bg-disabled_subtle !important;
    color: $fg-disabled !important;
    border-color: transparent !important;

    i {
      color: $fg-disabled !important;
    }
    .svg-icon {
      @include svg-icon-color($fg-disabled, true);
    }
    &.dropdown-toggle:after {
      color: $fg-disabled !important;
    }
  }

  .btn-group-lg > .btn.btn-icon,
  &.btn-icon.btn-lg {
    height: 3.385rem;
    width: 3.385rem;
  }
}

.up-down-buttons {
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;

  > button {
    display: flex;
  }
}
