.dropdown-menu {
  z-index: 1100;
}

.dropdown-item {
  color: $gray-700;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;

  .svg-icon {
    margin-right: 0.923rem;

    svg {
      height: 20px;
      width: 20px;
    }
  }
}

.dropdown-toggle.no-arrow {
  &::before,
  &::after {
    content: none;
  }
}

.btn-group {
  .btn-check + .btn:focus,
  .btn-check:focus + .btn,
  .btn:focus:not(.btn-active),
  .btn-check:checked + .btn {
    background-color: $bg-tertiary;
    box-shadow: unset;
  }
  .btn-check:active + .btn,
  .btn-check + .btn:active {
    border-color: $border-primary;
  }
  .btn-check:disabled + .btn {
    border-color: $border-primary;
    color: $text-disabled;
  }
}
