.content.full-page {
  padding: 0;

  #kt_content_container.container-fluid {
    padding: 0;
  }
}

.hero-enabled .content {
  padding: 0;

  .post {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
