/* *** FORM ELEMENTS *** */
/* LABEL */
.col-form-label,
.form-label {
  font-size: $font-size-lg; // fs-6
  font-weight: 500; // fw-bold
  color: $text-secondary;
}

.form-text {
  font-size: $font-size-lg;
  font-weight: 400;
  color: $text-tertiary;
  display: block;
  line-height: 1;
}

/* FORM CONTROL (INPUT) */
.form-control,
.form-select,
.form-check-input,
.metronic-select__control {
  &:hover:not(:disabled):not([readonly]):not(:checked):not(:focus):not(
      .is-invalid
    ):not(.metronic-select__control--is-disabled):not(
      .metronic-select__control--is-focused
    ) {
    border-color: var(--bs-primary);
  }
}

.form-control {
  &:focus {
    box-shadow: $input-focus-box-shadow;
  }

  &:disabled {
    cursor: not-allowed;
    color: $input-disabled-color;
    border-color: $input-border-color;
    @include placeholder($input-disabled-color);
  }

  &.is-invalid:focus,
  .was-validated &:invalid:focus {
    border-color: $form-focus-feedback-invalid-color;
    border-width: 1px;
    box-shadow: 0 0 0 1px $form-focus-feedback-invalid-color;
  }

  &.form-control-solid {
    border-color: $gray-300;

    &:focus,
    &:active {
      border-color: $gray-400;
    }

    &.is-invalid {
      border-color: #f1416c;
    }
  }

  /** Number input **/
  /* Hide arrows on number input */
  /* For WebKit browsers (Chrome, Safari, Edge, Opera) */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* For Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
}
.form-floating {
  > textarea {
    &.form-control {
      height: unset;
    }
    // Hide label of floating textarea when scroll not on top
    &[data-scroll]:not([data-scroll='0']) + label.form-label {
      opacity: 0;
    }
  }
}
.form-addon {
  position: relative;

  .form-control-addon {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 0.68rem;
    padding-right: 1rem;
    pointer-events: none;
    border: 1px solid transparent;
  }
}

/* CHECKBOX */
.form-check {
  &-label {
    font-size: $font-size-lg;
  }
}

/* INPUT GROUP */
.input-group {
  .input-group-text {
    background-color: transparent;
    color: $gray-500;
    font-size: 1.24rem;
  }

  .input-group-addons {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
  }

  /* NUMBER */
  &.input-group-number {
    input[type='number'] {
      border-radius: $border-radius !important;
      padding-right: 2.6rem;

      &.has-unit {
        padding-right: 4.8rem;

        &.is-invalid {
          padding-right: 6.5rem;
        }
      }
      &.is-invalid {
        padding-right: 4.8rem;
      }
    }

    .up-down-buttons {
      margin-right: 1rem;
      z-index: 6;

      > button {
        color: $fg-quinary;
        &:hover {
          color: $fg-quaternary;
        }

        svg {
          width: 20px;
          height: 10px;
        }

        &:first-child {
          padding-top: 6px;
        }
        &:last-child {
          padding-bottom: 6px;
        }
      }
    }

    .has-unit ~ .input-group-addons .up-down-buttons {
      margin-right: 0;
    }

    .unit {
      background: transparent;
      padding-left: 0.31rem;
      z-index: 5;
    }

    .form-control.is-invalid,
    .was-validated .form-control:invalid {
      background-position: right 4.4rem center;
    }
  }

  &.has-icon {
    input.form-control {
      border-radius: $border-radius !important;
      margin-left: unset !important;
      padding-left: 40px;
    }

    .input-group-icon {
      position: absolute;
      left: 12px;
      transform: translateY(-50%);
      top: 50%;
      z-index: 5;

      @include svg-icon-size(20px);
      @include svg-icon-color($fg-quinary);
    }
  }

  &.has-icon-right {
    input.form-control {
      padding-right: 40px;
    }

    .input-group-icon-right {
      left: auto;
      right: 12px;
    }
  }
}
