/* *** FORM ELEMENTS *** */
/* LABEL */
.col-form-label,
.form-label {
  font-size: 1.075rem; // fs-6
  font-weight: 500; // fw-bold
  color: $gray-800;
}

.form-text {
  font-size: 1.075rem;
  font-weight: 400;
  color: $gray-800;
  display: block;
  line-height: 1;
}

/* FORM CONTROL (INPUT) */
.form-control {
  border-radius: 8px;
  font-size: 1.24rem;
  color: $dark;
  box-shadow: unset;
  font-weight: 400;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;

  &:focus {
    color: $dark;
    border-color: $primary-300;
    box-shadow: 0 0 0 4px rgba($primary-300, 0.25);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $gray-200;
  }
  &[readonly]:not(.flatpickr-input) {
    background-color: $gray-200;
  }

  &.form-control-solid {
    border-color: $gray-300;

    &:focus,
    &:active {
      border-color: $gray-400;
    }

    &.is-invalid {
      border-color: #f1416c;
    }
  }
}
.form-floating {
  > textarea {
    &.form-control {
      height: unset;
    }
    // Hide label of floating textarea when scroll not on top
    &[data-scroll]:not([data-scroll='0']) + label.form-label {
      opacity: 0;
    }
  }
}
.form-addon {
  position: relative;

  .form-control-addon {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 0.7rem;
    padding-right: 1rem;
    pointer-events: none;
    border: 1px solid transparent;
  }
}

/* CHECKBOX */
.form-check {
  &-label {
    font-size: 0.95rem;
  }
}
