.featured-icon {
  width: 38px;
  height: 38px;
  border-color: rgba($fg-success-primary, 0.1);

  &,
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
    border-width: 2px;
    border-style: solid;
  }

  > div {
    width: 28px;
    height: 28px;
    border-color: rgba($fg-success-primary, 0.3);

    @include svg-icon-color($fg-success-primary);

    @include svg-icon-size(20px);
  }

  &.featured-icon-sm {
    width: 34px;
    height: 34px;

    > div {
      width: 24px;
      height: 24px;

      @include svg-icon-size(16px);
    }
  }
  &.featured-icon-lg {
    width: 42px;
    height: 42px;

    > div {
      width: 32px;
      height: 32px;

      @include svg-icon-size(24px);
    }
  }
  &.featured-icon-xl {
    width: 46px;
    height: 46px;

    > div {
      width: 36px;
      height: 36px;

      @include svg-icon-size(28px);
    }
  }

  &.icon-danger {
    border-color: rgba($border-error-solid, 0.1);

    > div {
      border-color: rgba($border-error-solid, 0.3);

      @include svg-icon-color($fg-error-primary);
    }
  }

  &.icon-warning {
    border-color: rgba($border-warning-solid, 0.1);

    > div {
      border-color: rgba($border-warning-solid, 0.3);

      @include svg-icon-color($fg-warning-primary);
    }
  }

  &.icon-default,
  &.icon-dark {
    border-color: rgba($fg-quaternary, 0.1);

    > div {
      border-color: rgba($fg-quaternary, 0.3);

      @include svg-icon-color($fg-quaternary);
    }
  }

  &.featured-icon-solid {
    width: 40px;
    height: 40px;
    border: unset !important;
    background-color: if(isDarkMode(), $success-50, $bg-success-secondary);

    > div {
      border: unset !important;
      @include svg-icon-color($fg-success-secondary);
    }

    &.featured-icon-sm {
      width: 32px;
      height: 32px;
    }
    &.featured-icon-lg {
      width: 48px;
      height: 48px;
    }
    &.featured-icon-xl {
      width: 56px;
      height: 56px;
    }

    &.icon-danger {
      background-color: if(isDarkMode(), $danger-50, $bg-error-secondary);
      @include svg-icon-color($fg-error-secondary);
    }
    &.icon-warning {
      background-color: if(isDarkMode(), $warning-50, $bg-warning-secondary);
      @include svg-icon-color($fg-warning-secondary);
    }
    &.icon-default,
    &.icon-dark {
      background-color: $bg-tertiary;
      @include svg-icon-color($fg-quaternary);
    }
  }
}

.icon-square {
  border: 1px solid $border-secondary;
  padding: 9px;
  border-radius: 8px;
  background-color: transparent;
  line-height: 0.9;

  @include svg-icon-color($fg-secondary);
  @include svg-icon-size(20px);

  &.icon-lg {
    padding: 11px;
    border-radius: 12px;
    @include svg-icon-size(24px);
  }
}

svg.icon-align,
.icon-align svg {
  margin-top: -3px;
}
