.icon-square {
  border: 1px solid $border-secondary;
  padding: 9px;
  border-radius: 8px;
  background-color: transparent;
  line-height: 0.9;

  @include svg-icon-color($fg-secondary);
  @include svg-icon-size(20px);

  &.icon-lg {
    padding: 11px;
    border-radius: 12px;
    @include svg-icon-size(24px);
  }
}

svg.icon-align,
.icon-align svg {
  margin-top: -3px;
}
