.nav.nav-tabs {
  .nav-item {
    // Badge in tab header
    .nav-link .badge {
      background-color: $gray-100;
      border-color: $gray-200;
      color: $gray-700;
    }
    &:hover .nav-link .badge,
    .nav-link.active .badge {
      background-color: $brand-50;
      border-color: $brand-200;
      color: $brand-700;
    }

    .nav-link.disabled {
      color: $gray-400 !important;
    }
  }
}

.btn-nav-item {
  width: 40px;
  height: 40px;
  background-color: $bg-primary;
  border-radius: $border-radius-sm;
  transition: $transition-base;
  outline: none;
  border: none;

  i {
    color: $gray-400;
  }
  .svg-icon {
    @include svg-icon-color($gray-400);
  }

  &:focus,
  &:active,
  &:hover {
    background-color: $btn-secondary-bg;

    i {
      color: $text-brand-secondary;
    }
    .svg-icon {
      @include svg-icon-color($text-brand-secondary);
    }
  }

  &:focus,
  &:active {
    box-shadow: $ring-primary-100;
  }
}
