//
// Ring
//

// Gray ring colors
@each $name, $value in $grays {
  // Initial
  .ring-gray-#{$name} {
    outline-color: $value !important;
  }
}

@each $name, $value in $theme-colors {
  @if ($name == primary) {
    $value: $brand;
  }

  .ring-#{$name} {
    outline: 1px solid $value !important;
  }

  .ring-light-#{$name} {
    outline: 1px solid theme-light-color($name) !important;
  }
}

// Hover border colors
@each $name, $value in $theme-colors {
  @if ($name == primary) {
    $value: $brand;
  }

  .ring-hover-#{$name}:hover {
    outline-color: $value !important;
  }

  .ring-active-#{$name}.active {
    outline-color: $value !important;
  }
}

// Dashed style
.ring-dashed {
  outline-style: dashed !important;
}

// Dotted style
.ring-dotted {
  outline-style: dotted !important;
}

// Width
.ring-1 {
  outline-width: 1px !important;
}
.ring-2 {
  outline-width: 2px !important;
}
.ring-3 {
  outline-width: 3px !important;
}
.ring-4 {
  outline-width: 4px !important;
}
.ring-5 {
  outline-width: 5px !important;
}
