.metronic-select-container {
  .metronic-select {
    &__control {
      border-radius: 8px;
      border-color: $gray-300;
      font-size: 1.2rem;
      font-weight: 400;
      background-color: if(isDarkMode(), $gray-25, $white);

      &--is-focused,
      &--is-focused:hover {
        border-color: $brand-300;
        box-shadow: 0 0 0 4px rgba($brand-300-rgb, 0.25);
      }

      &--is-disabled {
        background-color: if(isDarkMode(), $gray-100, $gray-200);
        .metronic-select__placeholder {
          color: if(isDarkMode(), $gray-300, $gray-500);
        }
      }
    }

    &__value-container {
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
      padding-left: 10px;
    }

    &__placeholder {
      color: $gray-500;
    }

    &__indicator {
      color: $gray-700;

      &-separator {
        display: none;
      }
    }

    // dropdown-indicator rotate
    &__dropdown-indicator {
      transition: $rotate-transition;
      backface-visibility: hidden;
    }
    &__control--menu-is-open {
      .metronic-select__dropdown-indicator {
        transform: rotateZ(180deg);

        [direction='rtl'] & {
          transform: rotateZ(-180deg);
        }
      }
    }

    &__value-container--is-multi {
      display: flex;
      gap: 6px;

      .badge {
        color: $gray-700;
        border: 1px solid $gray-200;
        background-color: transparent;
        padding: 4px 8px;
        display: flex;
        align-items: center;
        font-size: $font-size-lg;
        font-weight: 500;
      }
    }
  }

  &.select-sm {
    .metronic-select {
      &__control {
        min-height: 28px;
        font-size: $font-size-lg;
        line-height: 1;
      }

      &__value-container {
        padding-top: 0.35rem;
        padding-bottom: 0.35rem;
        padding-left: 8px;
        padding-right: 0;
      }
      &__input-container {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
      }

      &__dropdown-indicator {
        padding: 0;
        margin-right: 8px;
      }
    }
  }
}

// Menu/List
.metronic-select__menu {
  border-radius: 8px !important;

  .metronic-select__menu-list {
    .metronic-select__option {
      padding: 12px 16px;
      display: flex;
      align-items: center;
      column-gap: 0.5rem;

      &--is-selected,
      &--is-focused {
        color: $dark;
        background-color: $gray-50;

        &:active {
          background-color: $gray-200;
        }
      }

      &--is-selected {
        // Add border-top only for the first selected option in a group
        &:not(:first-child) {
          &:not(
            .metronic-select__option--is-selected
              + .metronic-select__option--is-selected
          ) {
            border-top: 1px solid $border-color;
          }
        }

        // Add border-top only for the first unselected option after a group
        + :not(.metronic-select__option--is-selected) {
          border-top: 1px solid $border-color;
        }
      }
    }

    &:not(.metronic-select__menu-list--is-multi) {
      .metronic-select {
        &__option {
          justify-content: space-between;

          > * {
            flex-grow: 1;
          }

          &--is-selected::after {
            display: block;
            width: 16px;
            height: 16px;
            content: ' ';
            background-image: escape-svg(var(--checkbox-bg));
            background-repeat: no-repeat;
            background-position: 50%;
            background-color: transparent;
          }
        }
      }
    }

    &.metronic-select__menu-list--is-multi {
      .metronic-select__option {
        column-gap: 12px;

        &--is-focused {
          background-color: $gray-50;
        }
      }
    }
  }
}

.metronic-select-tooltip {
  background-color: $dark;

  .popover-body {
    color: if(isDarkMode(), $gray-100, $white);
    text-align: center;
    padding: 8px 12px;
  }
  .popover-arrow {
    display: none;
  }
}
