@import '~/src/metronic/sass/core/components/_variables.scss';

$dark-color: #1f2e23;

#marketplaces-selector {
  .welcome-view-container {
    width: 50%;
    flex-basis: 50%;

    .welcome-view {
      background-image: linear-gradient($dark-color, $primary-active);
      height: 50%;
      min-height: 150px;
      max-height: 500px;
    }
  }

  .list-group {
    border-radius: unset;
    padding-bottom: 2rem;
  }
  .list-group-item {
    padding: 1.05rem 1.5rem 1.05rem 1.75rem;
    cursor: pointer;

    &.active {
      z-index: unset;
    }
  }

  .category-listing {
    width: 50%;
    flex-basis: 50%;
    border-right: 1px solid $border-color;

    .scrollbar {
      height: calc(100vh - 270px) !important;
      min-height: 200px;
      max-height: 320px;
    }
    .list-group-item {
      background-color: $white !important;
      color: $black !important;
      border: 0;
      &:hover {
        background-color: $gray-50 !important;
        color: unset !important;
      }
      &.active {
        background-color: $gray-50 !important;
        color: unset !important;
        z-index: unset;
      }
      @if isDarkMode() {
        color: $white !important;
        background-color: $dark-light !important;
        &:hover {
          background-color: $dark-inverse !important;
        }
        &.active {
          background-color: $dark-inverse !important;
        }
      }
    }
  }

  .offering-listing {
    width: 50%;
    flex-basis: 50%;

    .scrollbar-view {
      height: calc(100vh - 270px) !important;
      min-height: 200px;
      max-height: 320px;
    }

    .btn-back {
      display: none;
    }
    .divider {
      display: none;
    }

    .list-group-item {
      background-color: if(isDarkMode(), $dark-inverse, $white);
      color: if(isDarkMode(), $gray-700, $white) !important;
      border: 0;

      &:hover {
        background-color: if(isDarkMode(), $hover-bg, $gray-50);
      }
      &.active {
        background-color: if(isDarkMode(), $gray-400, $gray-700);
        .title {
          color: if(isDarkMode(), $dark-inverse, $white);
        }
        .description {
          color: if(isDarkMode(), $gray-300, $gray-700);
        }
      }
      &.disabled {
        background-color: if(isDarkMode(), $gray-200, #f6f8fa) !important;
        opacity: 0.5;
        .title {
          color: if(isDarkMode(), $light-inverse, $gray-700) !important;
        }
      }
      .description {
        color: $gray-700;
      }
    }
  }

  .message-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 50%;
    min-height: 100px;
  }
}

.marketplaces-selector {
  width: 100%;
}

@media (min-width: 1500px) {
  .marketplaces-selector {
    max-width: 1200px;
  }
  [data-kt-aside-minimize='on'] .aside {
    .marketplaces-selector {
      max-width: 1400px;
    }
  }
}
@media (max-width: 1500px) {
  .marketplaces-selector {
    max-width: calc(100% - 300px);
  }
  [data-kt-aside-minimize='on'] .aside {
    .marketplaces-selector {
      max-width: calc(100% - 100px);
    }
  }
}

// Mobile screens
@media (max-width: 992px) {
  #marketplaces-selector {
    .category-listing {
      width: 100%;
      height: 50%;
      border-right: unset;

      .scrollbar {
        max-height: 346px;
      }
    }
    .offering-listing {
      display: none;
      width: 100%;
      height: 50%;

      .scrollbar-view {
        max-height: 299px;
      }

      .btn-back {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      .divider {
        display: block;
      }
    }

    .welcome-view-container {
      display: none;
    }

    .message-wrapper {
      width: 100%;
      height: 50%;
    }

    .category-selected {
      .category-listing {
        display: none;
      }
      .offering-listing {
        display: block;
      }
    }
  }
}
