.shopping-cart-steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem !important;
  flex-wrap: nowrap !important;

  .step {
    display: block;
    position: relative;
    cursor: pointer;
    width: 100%;
    margin-bottom: -1px;
    margin-left: -1px;
    padding: 20px 15px;
    border: 1px solid if(isDarkMode(), #405448, #e5e5e5);
    background-color: if(isDarkMode(), #213025, #fff);
    z-index: 1;
    text-align: center;
    text-decoration: none;

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &.active {
      border-color: if(isDarkMode(), #78bf69, #05f);
      cursor: default;
      z-index: 5;
      pointer-events: none;
    }

    .step-title {
      margin-bottom: 0;
      margin-top: 0;
      font-size: 14px;
      font-weight: normal;
      letter-spacing: 0.025em;

      & > i {
        margin-top: -2px;
        margin-right: 6px;
        color: #4caf50;
        font-size: 1.2em;
        vertical-align: middle;
      }
    }

    &:not(.active):hover {
      background-color: if(isDarkMode(), #253629, #f5f5f5);
    }

    &:not(.active) {
      color: #232323;
    }
  }
}
