.category-card {
  display: block;
  position: relative;
  width: 100%;
  height: 150px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 30px;

  .category-thumb {
    display: block;
    overflow: hidden;
    padding-bottom: 10px;

    &>img {
      display: block;
      height: 4em;
      width: 4em;
      margin: 10px auto;
      margin-bottom: 0px;
    }
  }

  .category-card-body {
    padding: 18px;
    padding-top: 0px;
    text-align: center;
  }

  .category-title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: normal;
  }
}
