<div class="modal-header">
    <h3 class="modal-title">{{ action.title }} {{ resource.name }}</h3>
</div>
<form name="ActionForm">
<div class="modal-body">
    <div ng-if="loading">
        <h1 class="text-center"><i class="icon fa-spinner fa-spin"></i></h1>
    </div>
    <div ng-if="!loading">
        <div class="form-group"
             ng-repeat="(name, field) in action.fields">
            <label class="control-label"
                for="action-{{ name }}"
                ng-if="field.type != 'boolean'">
                <field-label field="field"></field-label>
                <helpicon help-text="{{ ::field.help_text }}" ng-if="::field.help_text"></helpicon>
            </label>
            <div ng-switch="field.type">
                <div ng-switch-when="string">
                    <input id="action-{{ name }}"
                        ng-model="form[name]"
                        class="form-control"
                        ng-required="field.required"/>
                </div>
                <div ng-switch-when="integer">
                    <input ng-model="form[name]"
                           type="number"
                           id="action-{{ name }}"
                           min="{{ ::field.min_value }}"
                           max="{{ ::field.max_value }}"
                           placeholder="{{ ::field.min_value }}"
                           class="form-control"
                           ng-required="field.required"/>
                </div>
                <div ng-switch-when="select" ng-if="!field.many">
                    <select id="action-{{ name }}"
                        ng-options="item.value as item.display_name for item in field.list"
                        ng-model="form[name]"
                        ng-if="field.list && field.list.length !== 0"
                        class="form-control"
                        ng-required="field.required">
                        <option value="">Select an option</option>
                     </select>
                     <div class="form-control-static" ng-if="!field.list || field.list.length === 0">N/A</div>
                </div>
                <div ng-switch-when="boolean">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="form[name]">
                            <field-label field="field"></field-label>
                            <helpicon help-text="{{ ::field.help_text }}" ng-if="::field.help_text"></helpicon>
                        </label>
                    </div>
                </div>
                <div ng-switch-when="select" ng-if="field.many">
                    <ui-select multiple
                               ng-model="form[name]"
                               ng-if="field.list && field.list.length !== 0"
                               theme="bootstrap">
                        <ui-select-match placeholder="Select {{field.label}}...">{{$item.display_name}}</ui-select-match>
                        <ui-select-choices repeat="item in field.list | filter: {display_name: $select.search} track by item.value">
                            <div ng-bind-html="item.display_name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <div class="form-control-static" ng-if="!field.list || field.list.length === 0">N/A</div>
                </div>
                <p class="text-danger" ng-repeat="error in errors[name]" ng-bind="error"></p>
            </div>
        </div>
        <p class="text-danger" ng-repeat="error in errors.non_field_errors" ng-bind="error"></p>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary"
        submit-button="submitForm()">
        Submit
    </button>
    <button type="button" class="btn btn-default"
        ng-click="cancel()">
        Cancel
    </button>
</div>
</form>
