<!-- app-header -->
<header class="app-header site s-student">
    <nav class="container">
        <!-- views nav -->
        <ul class="nav-list in-home views">
            <li class="logo-box site">
                <a href="#maintop" du-smooth-scroll class="logo"></a>
            </li>
            <li class="node-conductor site">
                <h2>NodeConductor</h2>
            </li>
        </ul>
        <!-- /views nav -->
        <!-- context nav -->
        <!-- /context nav -->
    </nav>
</header>
<!-- app-header -->
