<div ui-view="siteHeader"></div>

<div class="site-block site-welcome" id="maintop">
    <div class="container">
        <h1 class="welcome-title">
            Cloud service cost tracker

            <span>Automatic cost tracking and analysis for the cloud services</span>
        </h1>
        <div class="tour-box">
            <a href="#/login/" class="take-a-tour btn btn-default">Sign me up!</a>
        </div>
        <img src="/static/images/site-left.png" alt="" class="img img-left">
        <img src="/static/images/site-center.png" alt="" class="img img-center">
        <img src="/static/images/site-right.png" alt="" class="img img-right">
        <div class="decor"></div>
    </div>
</div>

<section class="site-block" id="features">
    <div class="container">
        <h2 class="app-title features-title">Benefits</h2>
        <!-- features -->
        <div class="features">
            <div class="col">
                <div class="feature cloud">
                    <h3>TBA</h3>
                    <p>
                        TBA
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="feature mobile">
                    <h3>TBA</h3>
                    <p>
                        TBA
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="feature backup">
                    <h3>TBA</h3>
                    <p>
                        TBA
                    </p>
                </div>
            </div>
        </div>
        <!-- /features -->
    </div>
</section>

<section class="site-block contact-for-details">
    <div class="container-fluid">
        <div class="mail-box">
            Contact <a href="mailto:info@opennodecloud.com">info@nodeconductor.com</a> for details.
        </div>
    </div>
</section>

<div ui-view="siteFooter"></div>
