<div class="site-block site-welcome cost-tracking" id="maintop">
    <div class="container">
        <h1 class="welcome-title">
            Track my costs

            <span> Get your expenses under control</span>
        </h1>
        <div class="tour-box">
            <a href="#/login/" class="take-a-tour btn btn-default">Sign me up!</a>
        </div>
        <img src="/static/images/site-left.png" alt="" class="img img-left">
        <img src="/static/images/site-center.png" alt="" class="img img-center">
        <img src="/static/images/site-center-appstore.png" alt="" class="img img-center-appstore">
        <img src="/static/images/site-right.png" alt="" class="img img-right">
        <div class="decor"></div>
    </div>
</div>

<section class="site-block" id="features">
    <div class="container">
        <h2 class="app-title features-title">Benefits</h2>
        <!-- features -->
        <div class="features">
            <div class="col">
                <div class="feature cloud">
                    <h3>Multi-cloud support</h3>
                    <p>
                        Track your expenses from multiple service providers: Amazon Web Services, Digital Ocean and
                        MS Azure. Additional providers are planned to be added soon.
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="feature backup">
                    <h3>Easy setup</h3>
                    <p>
                       It's enough to simply add your accounts and import resources you want to track to get a historical
                       information about the costs.
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="feature graph">
                    <h3>Analysis and alerts</h3>
                    <p>
                        Visualise your total costs, see cost breakdown by resources, projects and providers.
                        TrackMyCosts will alert you if the budget expenses are going to change rapidly.
                    </p>
                </div>
            </div>
        </div>
        <!-- /features -->
    </div>
</section>
<section class="providers">
    <h2 class="app-title features-title">Providers</h2>
    <div class="providers-list">
        <div class="provider">
            <div class="img-wrapper">
                <img ng-src="/static/images/appstore/icon-amazon.png" src="/static/images/appstore/icon-amazon.png">
            </div>
        </div>
        <div class="provider">
            <div class="img-wrapper">
                <img ng-src="/static/images/appstore/icon-azure.png" src="/static/images/appstore/icon-azure.png">
            </div>
        </div>
        <div class="provider">
            <div class="img-wrapper">
                <img ng-src="/static/images/appstore/icon-digitalocean.png" src="/static/images/appstore/icon-digitalocean.png">
            </div>
        </div>
        <div class="provider">
            <div class="img-wrapper">
             <img ng-src="/static/images/appstore/icon-openstack.png" src="/static/images/appstore/icon-openstack.png">
            </div>
        </div>
        <div class="provider">
            <div class="img-wrapper">
                <img ng-src="/static/images/appstore/icon-gitlab.png" src="/static/images/appstore/icon-gitlab.png">
            </div>
        </div>
    </div>
</section>
<section class="site-block contact-for-details">
    <div class="container-fluid">
        <div class="mail-box">
            Contact <a href="mailto:info@opennodecloud.com">info@opennodecloud.com</a> for details.
        </div>
    </div>
</section>

<div ui-view="siteFooter"></div>
