<div class="row blue-bg p-xs" ng-if="!$ctrl.consentHidden()">
  <div class="col-sm-10 col-xs-12 text-center">
    <h3 class="font-normal">
      <span translate>This website uses cookies to ensure you get the best experience on our website.</span>
      <a class="text-white learn-more__link" href="http://cookies.insites.com/" target="_blank">Learn more</a>
    </h3>
  </div>
  <div class="col-sm-2 col-xs-12 text-center">
    <button class="btn btn-xl btn-primary" ng-click="$ctrl.hideConsent()">
      <span translate>Got it!</span>
    </button>
  </div>
</div>
