@import '~/src/metronic/assets/sass/core/components/_variables.scss';

/* MODAL */
.modal-metro {
  .modal-header {
    display: block;
    padding: 30px 20px 0;
    text-align: center;
    border-bottom: none;

    .modal-title {
      color: $gray-800;
      font-size: 18px;
      text-transform: uppercase;
    }

    .modal-subtitle {
      color: $gray-800;
      font-size: 14px;
    }
  }

  .modal-footer {
    border-top: none;
  }
}

/* BUTTON */
.btn {
  border-radius: 7px;
  padding: 5px 12px;
  border: 0;
  letter-spacing: 0.56px;
}

.list-group.list-group-metro {
  button {
    background: none;
    box-shadow: none;
    border: none;
    border-radius: 0 !important;
    letter-spacing: 0px;
    color: $gray-500;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;

    &.active {
      color: $primary;
      border-bottom: 1px solid $primary;
    }
    &:hover {
      background: $light;
    }
  }
}

/* POPOVER */
.popover.popover-metro {
  min-width: 400px;
  border-radius: 0;
  padding: 0;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid $gray-600;
  border-left: 1px solid $gray-600;
  z-index: 10000;

  .popover-body {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  .arrow {
    display: none;
  }

  .tile {
    padding: 1rem;
    border-bottom: 1px solid $gray-600;
    border-right: 1px solid $gray-600;
    float: left;
  }
  .tile-1 {
    flex-basis: 100%;
    flex-grow: 1;
  }
  .tile-2 {
    flex-basis: 50%;
    flex-grow: 1;
  }
  .tile-3 {
    flex-basis: 33.33333%;
    flex-grow: 1;
  }
}

/* CARD */
.card .card-header {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: $gray-700;
  border-bottom-color: $light;
}

/* LIST-GROUP & ITEMS */
.list-group-item {
  background-color: $dark-inverse;

  &:hover {
    background-color: $gray-200;
  }
  &.active {
    background-color: $gray-200;
    border-color: $gray-200;
  }
}

/* *** FORM ELEMENTS *** */
/* LABEL */
.col-form-label,
.form-label {
  font-size: 0.95rem; // fs-7
  font-weight: 500; // fw-bold
}

/* FORM CONTROL (INPUT) */
.form-control {
  border-radius: 9px;
  font-size: 0.95rem;

  &:disabled {
    cursor: not-allowed;
    background-color: $gray-200;
  }
  &[readonly]:not(.flatpickr-input) {
    background-color: $gray-200;
  }

  &.form-control-solid {
    border-color: $gray-300;

    &:focus,
    &:active {
      border-color: $gray-400;
    }
  }
}

/* CHECKBOX */
.form-check {
  &-label {
    font-size: 0.95rem;
  }
}

/* SVG ICON */
.collapsible:not(.collapsed),
.show,
.active {
  > .rotate-180 {
    transform: rotateZ(180deg);
    transition: transform 0.3s ease;
  }
}

/* Typography */
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
