.react-select-container {
  .react-select__control {
    background-color: $background-light;
    border-color: transparent;
    border-radius: 9px;

    &.react-select__control--is-focused {
      box-shadow: 0 0 0 1px $primary-color;
    }
  }

  .react-select__indicator-separator {
    display: none;
  }

  .react-select__indicator svg {
    fill: #a1b7a5;
  }

  .react-select__single-value {
    color: $input-color;
  }
}
