@import '~/src/metronic/assets/sass/core/components/_variables.scss';

/* TABLE */
.table {
  thead > tr > th {
    font-size: 14px;
    color: $dark;
    text-transform: uppercase;
    font-weight: 500;
  }

  tbody > tr > td {
    color: $gray-600;
  }

  td:first-child,
  th:first-child,
  tr:first-child {
    padding-left: 0.75rem;
  }
  td:last-child,
  th:last-child,
  tr:last-child {
    padding-right: 0.75rem;
  }
}

/* TABLE IN CARD */
.card.card-table {
  .card-header {
    border-bottom-style: dashed;
  }

  /* TABLE FULL IN CARD */
  &.full-width {
    .card-body {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;

      .table {
        td:first-child,
        th:first-child,
        tr:first-child {
          padding-left: 2.5rem;
        }
        td:last-child,
        th:last-child,
        tr:last-child {
          padding-right: 2.5rem;
        }
      }
    }
  }
}
