// Basic Colors
$primary-color: #008800;
$primary-dark-color: #19331f;
$secondary-color: #7f998a;

$bg-success: #008800;
$bg-success-light: #f6faf5;
$border-color: #7f998a;
$input-color: #5f7a66;

// Button colors
$btn-secondary: #f6faf7;
$btn-secondary-text: #7f998a;
$btn-secondary-hover: #eaf1ec;

$btn-primary: #008800;
$btn-primary-text: #fff;
$btn-primary-hover: #008100;

// Table colors
$table-header-color: #405448;
$table-header-border-color: #f2f9f3;
$table-data-color: #7f998a;
