@import '~/src/metronic/assets/sass/core/components/_variables.scss';

$dark-header: #131a14;
$dark-body: #2e352c;
$dark-body-active: #1e261f;
$dark-border: #65765f;

/* Organization selector */
.context-selector {
  background-color: $dark-body;
  width: 100%;
  cursor: default;

  &.guest-popup {
    height: calc(100vh - 70px);
  }

  .context-selector-header {
    display: flex;
    align-items: center;
    padding: 1rem 5rem;

    .button-close {
      display: none;
    }
  }

  .context-selector-header,
  .list-header {
    background-color: $dark-header;
  }

  .scrollbar-view {
    height: calc(100vh - 260px) !important;
  }

  .border-bottom {
    border-bottom: 1px solid $dark-border !important;
  }

  .list-group {
    border-radius: unset;
  }

  .organization-listing {
    .list-group-item {
      background-color: unset;
      color: $white;
      border: 0;
      margin-top: 0;
      padding: 0;

      > div {
        align-items: stretch;
      }

      .item-content {
        padding: 0.5rem 1rem;
        padding-right: 0.5rem;
        flex-grow: 1;
      }

      &:hover {
        .item-info {
          display: none;
        }
        .item-link {
          display: block;
        }
        .actions {
          background-color: $white;
        }
      }
      &.active {
        background-color: $dark-body-active;
        z-index: unset;
      }
      &.selected {
        background-color: $white;
        color: $dark-body;
        z-index: unset;

        .item-link a {
          color: $dark-body;
        }
      }

      .item-link {
        display: none;

        a {
          color: $white;
        }
      }

      .actions {
        display: flex;
        align-items: center;

        .action-item {
          display: flex;
          align-items: center;
          padding: 1rem;
          height: 100%;
        }
      }
    }
  }
  .project-listing {
    border-left: 1px solid $dark-border;

    &.disabled {
      opacity: 0.3;
      cursor: not-allowed;
      pointer-events: none;
    }
    &-header {
      background-color: $dark-header;
    }
    .list-group-item {
      background-color: unset;
      color: $white;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      border-color: $dark-border;
      height: 55px;
      min-height: 55px;
      cursor: pointer;

      &:hover {
        .item-info {
          display: none;
        }
        .item-link {
          display: block;
        }
        .actions {
          display: flex;
        }
      }
      &.active {
        background-color: $white;
        color: $dark-body;
        z-index: unset;
        border: 0;
        cursor: default;

        .item-link a {
          color: $dark-body;
        }
      }
      .item-link {
        display: none;

        a {
          color: $white;
        }
      }

      > div {
        height: 100%;
      }

      .actions {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        align-items: center;
        background-color: $white;

        .action-item {
          display: flex;
          align-items: center;
          padding: 0.5rem 1.5rem;
          height: 100%;
          color: $dark-body;

          &:hover {
            text-decoration: underline !important;
          }
        }
      }
    }
  }
}

@media (min-width: 1500px) {
  .context-selector {
    max-width: 1200px;
  }
  [data-kt-aside-minimize='on'] .aside {
    .context-selector {
      max-width: 1400px;
    }
  }
}
@media (max-width: 1500px) {
  .context-selector {
    max-width: calc(100% - 350px);
  }
  [data-kt-aside-minimize='on'] .aside {
    .context-selector {
      max-width: calc(100% - 100px);
    }
  }
}

// Mobile screens
@media (max-width: 768px) {
  .context-selector {
    transform: translate(10px, 10px) !important;
    max-width: calc(100% - 20px);

    .context-selector-header {
      padding: 1rem;

      .button-close {
        display: block;
      }
    }

    .scrollbar-view {
      height: calc(100vh - 170px) !important;
    }
    .project-listing .projects-scrollbar {
      height: calc(100vh - 300px) !important;
    }
  }
}

/* Project selector */
.project-selector-wrapper {
  position: relative;

  .project-selector-toggle {
    position: relative;
    margin-left: 2rem;

    &:before {
      content: '';
      width: 1px;
      height: 30px;
      position: absolute;
      top: 12px;
      left: -1rem;
      background-color: $gray-900;
    }
  }

  .project-selector-dropdown {
    margin-top: 8px !important;
    min-width: 350px;
    max-width: 600px;
    background-color: if(isDarkMode(), $gray-100, $white) !important;

    @media (max-width: 767px) {
      min-width: 280px;
    }

    // search input
    input {
      border-radius: 0;
    }

    .list-group {
      border-radius: 0;

      .list-group-item {
        background-color: unset;
        z-index: 0;
        cursor: pointer;

        &:hover {
          .item-info {
            display: none;
          }
          .item-link {
            display: block;
          }
          .actions {
            display: flex;
          }
        }
        &.active {
          color: $dark-inverse;
          background-color: if(isDarkMode(), $white, $dark-header);
          cursor: default;

          .item-link a {
            color: $dark-inverse;
          }
          .item-info > * {
            color: if(isDarkMode(), $gray-400, $text-muted);
          }
          .actions .action-item {
            background-color: if(isDarkMode(), $white, $dark-header);
          }
        }
        .item-link {
          display: none;

          a {
            color: if(isDarkMode(), $white, $dark-header);
          }
        }
        .item-info > * {
          color: $text-muted;
        }

        .actions {
          height: 100%;
          display: none;
          position: absolute;
          top: 0;
          right: 0;
          align-items: center;
          background-color: if(isDarkMode(), $white, $dark-header);

          .action-item {
            display: flex;
            align-items: center;
            padding: 0.5rem 1.5rem;
            height: 100%;
            color: $dark-inverse;

            &:hover {
              text-decoration: underline !important;
            }
          }
        }
        &:hover {
          .actions {
            display: flex;
          }
          .subtitle {
            opacity: 0;
          }
        }
      }
    }

    &.disabled {
      opacity: 0.3;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}
