@import '~/src/metronic/assets/sass/core/components/_variables.scss';

.dropzone-title {
  padding-right: 55px;
  position: relative;
}

.dropzone {
  border: 3px dashed $gray-300;
  padding: 20px 30px;
  border-radius: 10px;
}

.dropzone-message {
  font-size: 14px;
  text-align: center;

  i,
  span {
    display: inline-block;
    vertical-align: middle;
  }

  i {
    margin-right: 10px;
    font-size: 22px;
    color: $gray-300;
  }

  .dropzone-attachments {
    margin-top: 0.5rem;
  }
}

.dropzone__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  background: transparentize($white, 0.5);
  border: 3px dashed $yellow;
  text-align: center;
  z-index: 2;
}

.dropzone__overlay-message {
  display: inline-flex;
  padding: 20px 30px;
  border: 3px solid $yellow;
  border-radius: 5px;
  max-width: 250px;
  background-color: $white;
}
