@import '~/src/metronic/assets/sass/core/components/_variables.scss';

$dark-color: #1f2e23;

#marketplaces-selector {
  .marketplaces-selector-header {
    background-color: $dark-color;
    border-bottom: 1px solid lighten($dark-color, 5%);
    padding: 2rem 3rem;

    .button-close {
      display: none;
    }
  }
  .welcome-view-container {
    width: 50%;
    flex-basis: 50%;

    .welcome-view {
      background-image: linear-gradient($dark-color, $primary-active);
      height: 50%;
      min-height: 150px;
      max-height: 500px;
    }
  }

  .list-group {
    border-radius: unset;
  }
  .list-group-item {
    padding: 1.25rem 1.5rem 1.25rem 3rem;
    cursor: pointer;

    &.active {
      z-index: unset;
    }
  }

  .category-listing {
    width: 50%;
    flex-basis: 50%;

    .scrollbar {
      height: calc(100vh - 160px) !important;
    }
    .list-group-item {
      background-color: $white !important;
      color: $black !important;
      border: 0;
      &:hover {
        background-color: #f6faf7 !important;
        color: unset !important;
      }
      &.active {
        background-color: #f6faf7 !important;
        color: unset !important;
        z-index: unset;
      }
      @if isDarkMode() {
        color: $white !important;
        background-color: $dark-light !important;
        &:hover {
          background-color: $dark-inverse !important;
        }
        &.active {
          background-color: $dark-inverse !important;
        }
      }
    }
  }

  .offering-listing {
    width: 50%;
    flex-basis: 50%;

    .scrollbar {
      height: calc(100vh - 225px) !important;
    }
    .offerings-footer {
      position: relative;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0.75rem;
    }

    .list-group-item {
      background-color: if(isDarkMode(), $dark-inverse, $white);
      color: if(isDarkMode(), $gray-700, $white) !important;
      border: 0;

      &:hover {
        background-color: if(isDarkMode(), $hover-bg, #f6faf7);
      }
      &.active {
        background-color: if(isDarkMode(), $gray-400, $gray-700);
        .title {
          color: if(isDarkMode(), $dark-inverse, $white);
        }
        .description {
          color: if(isDarkMode(), $gray-300, $text-muted);
        }
      }
      &.disabled {
        background-color: if(isDarkMode(), $gray-200, #f6f8fa) !important;
        opacity: 0.5;
        .title {
          color: if(isDarkMode(), $light-inverse, $gray-700) !important;
        }
      }
      .description {
        color: $text-muted;
      }
    }
  }

  .message-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    flex-basis: 50%;
  }
}

.marketplaces-selector {
  width: 100%;
}

@media (min-width: 1500px) {
  .marketplaces-selector {
    max-width: 1200px;
  }
  [data-kt-aside-minimize='on'] .aside {
    .marketplaces-selector {
      max-width: 1400px;
    }
  }
}
@media (max-width: 1500px) {
  .marketplaces-selector {
    max-width: calc(100% - 300px);
  }
  [data-kt-aside-minimize='on'] .aside {
    .marketplaces-selector {
      max-width: calc(100% - 100px);
    }
  }
}

// Mobile screens
@media (max-width: 768px) {
  #marketplaces-selector {
    transform: translate(10px, 10px) !important;
    max-width: calc(100% - 20px);

    .marketplaces-selector-header {
      padding: 1.5rem;

      .button-close {
        display: block;
      }
    }

    .list-group-item {
      padding: 0.75rem;
    }

    .category-listing {
      width: 100%;
      height: 50%;

      .scrollbar {
        height: calc((100vh - 90px) / 2) !important;
      }
    }
    .offering-listing {
      width: 100%;
      height: 50%;

      .scrollbar {
        height: calc((100vh - 185px) / 2) !important;
      }
    }

    .welcome-view-container {
      width: 100%;
      height: 50%;

      .welcome-view {
        height: 100%;
        min-height: 100px;
      }
    }

    .message-wrapper {
      width: 100%;
      height: 50%;
    }
  }
}
