@import '~/src/metronic/assets/sass/core/components/_variables.scss';

.quick-project-selector {
  .scrollbar-view {
    height: calc(100vh - 280px) !important;
  }

  .list-group {
    border-radius: unset;
  }

  .organization-listing {
    .list-group-item {
      background-color: unset;
      border: 0;
      transition: 0.2s color ease, 0.2s background-color ease;

      &:hover {
        background-color: $hover-bg;
      }
      &.active {
        background-color: if(isDarkMode(), $gray-100, $gray-200);
        color: unset;
        transition: 0.2s color ease, 0.2s background-color ease;
      }
      &:active,
      &:focus {
        background-color: if(isDarkMode(), $gray-200, $gray-300);
      }
    }
  }
  .project-listing {
    &.disabled {
      opacity: 0.3;
      cursor: not-allowed;
      pointer-events: none;
    }
    .list-group-item {
      background-color: unset;
      border: 0;
      cursor: pointer;
      transition: 0.2s color ease, 0.2s background-color ease;

      &:hover {
        background-color: $hover-bg;
      }
      &.active {
        background-color: if(isDarkMode(), $gray-400, $gray-700);
        cursor: default;
        transition: 0.2s color ease, 0.2s background-color ease;

        a {
          color: #fff;
        }
      }
      &:active,
      &:focus {
        background-color: if(isDarkMode(), $gray-400, $gray-300);
      }

      a {
        color: unset;
      }
    }
  }
}
