.search-box-metro {
  position: relative;

  input {
    padding-left: 30px;
    background: $bg-success-light;
    border-radius: 10px;
    border-color: transparent;

    &:focus {
      border-color: $primary-color;
    }

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #7d9b83;
      opacity: 1; /* Firefox */
      text-align: center;
      font-size: 12px;
    }
    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #7d9b83;
      text-align: center;
      font-size: 12px;
    }
    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #7d9b83;
      text-align: center;
      font-size: 12px;
    }
  }

  label {
    position: absolute;
    color: #7d9b83;
    top: 7px;
    left: 10px;
  }
}
