.search-box-metro {
  position: relative;

  input {
    padding-left: 30px;
    border-radius: 10px;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      opacity: 1; /* Firefox */
      text-align: center;
      font-size: 12px;
    }
    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      text-align: center;
      font-size: 12px;
    }
    &::-ms-input-placeholder {
      /* Microsoft Edge */
      text-align: center;
      font-size: 12px;
    }
  }

  label {
    position: absolute;
    top: 7px;
    left: 10px;
  }
}
