<ng-include src="'/views/partials/app-header.html'"></ng-include>

<!-- app-block -->
<section class="app-block">
    <div class="container-fluid">
        <div class="white-box">
            <div class="app-title-line">
                <div class="row">
                    <div class="col-xs-12 first-line">
                        <h2 class="app-title">Add Resource</h2>
                        <ul class="sort no-display">
                            <li><a href="#" class="active">5</a></li>
                            <li><a href="#">15</a></li>
                            <li><a href="#">24</a></li>
                            <li class="divid">
                                <div class="search" data-role="search-box">
                                    <input type="text">
                                    <button class="search-button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </li>
                        </ul>
                        <div class="crud-box pull-right"><a href="../resources/index.html" class="crud-controls active"><i class="fa fa-plus"></i> add resource</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /app-block -->

<div class="app-form-box after-line" data-role="form-box" ng-controller="ResourceAddController as ResourceAdd">
    <!-- app-block -->
    <section class="app-block">
        <div class="container-fluid">
            <div class="white-box top-level">
                <!-- app-basic-form -->
                <div class="app-basic-form">
                    <form action="">

                        <!-- app-title-line -->
                        <div class="app-title-line in-form form-field">
                            <div class="row">
                                <div class="col-xs-12 first-line">
                                    <h2 class="app-title">Add resource</h2>
                                </div>
                            </div>
                        </div>
                        <!-- /app-title-line -->

                        <div class="row form-field">
                            <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder="Resource Name" data-role="form-input" ng-model="ResourceAdd.resource.hostname">
                            </div>
                            <div class="col-xs-4">
                                <div class="custom-select project">
                                    <select name="" id="" ng-model="ResourceAdd.resource.project">
                                        <option ng-repeat="project in ResourceAdd.projectList" value="{{ project.url }}">{{ project.name }}</option>
                                    </select>
                                </div>
                                <a href="#" class="crud-controls active"><i class="fa fa-plus"></i> Add project</a>
                            </div>
                            <div class="col-xs-4">
                                <div class="custom-select project">
                                    <select name="" id="" ng-model="ResourceAdd.resource.ssh_public_key">
                                        <option ng-repeat="key in ResourceAdd.keyList" value="{{ key.url }}">{{ key.name }}</option>
                                    </select>
                                </div>
                                <a href="#" class="crud-controls"><i class="fa fa-plus"></i> Add SSH key</a>
                            </div>
                        </div>

                        <div class="row form-field description">
                            <div class="col-xs-4 col-xs-offset-4">
                                <div class="gray-text">
                                    Description for Project choises goes here...
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="gray-text">
                                    Description for key choises goes here...
                                </div>
                            </div>
                        </div>

                        <div class="form-divide"></div>

                        <!-- app-title-line -->
                        <div class="app-title-line in-form form-field">
                            <div class="row">
                                <div class="col-xs-12 first-line">
                                    <h2 class="app-title">Service</h2>
                                    <div class="crud-box pull-right"><a href="#" class="crud-controls"><i class="fa fa-plus"></i> Add service</a></div>
                                </div>
                            </div>
                        </div>
                        <!-- /app-title-line -->

                        <!-- service-choice -->
                        <div class="servicestore form-field" data-role="servicestore">
                            <div class="row templates-row">
                                <!-- template -->
                                <div class="col-xs-4" ng-repeat="service in ResourceAdd.serviceList">
                                    <div class="service-template" data-role="servicestore-template" ng-click="ResourceAdd.setService(service)">
                                        <div class="name-row">
                                            <div class="icon-box">
                                                <img src="../static/images/icons/openstack.jpg" alt="" class="icon">
                                            </div>
                                            <div class="description">
                                                <h3>{{ service.name }}</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /template -->
                            </div>
                        </div>
                        <!-- /service-choice -->

                        <div class="form-divide"></div>

                        <!-- app-title-line -->
                        <div class="app-title-line in-form form-field">
                            <div class="row">
                                <div class="col-xs-12 first-line">
                                    <h2 class="app-title">Template</h2>
                                </div>
                            </div>
                        </div>
                        <!-- /app-title-line -->

                        <!-- template-choice -->
                        <div class="servicestore form-field" data-role="servicestore">
                            <div class="row templates-row">
                                <!-- template -->
                                <div class="col-xs-4" ng-repeat="template in ResourceAdd.templateList">
                                    <div class="service-template" data-role="servicestore-template" ng-click="ResourceAdd.setService(service)">
                                        <div class="name-row">
                                            <div class="icon-box">
                                                <img ng-show="template.icon_url" src="{{ template.icon_url }}" alt="" class="icon">
                                                <img ng-show="!template.icon_url" src="static/images/os-fallback.png" alt="" class="icon">
                                            </div>
                                            <div class="description">
                                                <h3>{{ template.name }}</h3>
                                                <article class="gray-text">
                                                    <ul>
                                                        <li>OS: {{ template.os }}</li>
                                                    </ul>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /template -->
                            </div>
                        </div>
                        <!-- /template-choice -->

                        <!-- app-title-line -->
                        <div class="app-title-line in-form form-field">
                            <div class="row">
                                <div class="col-xs-12 first-line">
                                    <h2 class="app-title">Flavor</h2>
                                </div>
                            </div>
                        </div>
                        <!-- /app-title-line -->

                        <!-- appstore -->
                        <div class="appstore form-field" data-role="appstore">
                            <div class="templates">
                                <div class="row templates-row">
                                    <!-- template-box -->
                                    <div class="col-xs-4" ng-repeat="template in ResourceAdd.templateList">
                                        <div class="template" data-role="appstore-template">
                                            <div class="row name-row">
                                                <div class="col-xs-4 icon-box">
                                                    <img src="../static/images/tmp/cent-icon.png" alt="" class="icon">
                                                </div>
                                                <div class="col-xs-8">
                                                    <div class="description">
                                                        <h3>{{ template.name }}</h3>
                                                        <article class="gray-text">
                                                            Here goes some description about this template
                                                            <ul>
                                                                <li>asdasd</li>
                                                                <li>asdasd</li>
                                                                <li>asdasd</li>
                                                            </ul>
                                                        </article>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /template-box -->
                                </div>
                            </div>
                        </div>
                        <!-- /appstore -->

                        <div class="form-divide"></div>

                        <div class="row form-field">
                            <div class="col-xs-12 text-center">
                                <button class="btn btn-default">Cancel</button>
                                <button class="btn btn-primary" ng-click="ResourceAdd.save()">Add resource</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /app-basic-form -->
            </div>
        </div>
    </section>
    <!-- /app-block -->
</div>

<ng-include src="'/views/partials/app-footer.html'"></ng-include>
