<ng-include src="'/views/partials/app-header.html'"></ng-include>

<div ng-controller="ProfileController as controller">
<!-- profile-view -->
<div class="profile-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1">
                <img src="../static/images/887178.jpg" class="profile-pic" alt="John Doe">
            </div>
            <div class="col-xs-7 profile-info">
                <h1 class="profile-name">{{ controller.user.native_name }} ({{ controller.user.username }})</h1>
                <a href="mailto:{{ controller.user.email }}">{{ controller.user.email }}</a>
                <div class="stats">
                    <div class="row">
                        <div class="col-xs-4">
                            <span class="stat-int">{{ controller.projects.length }}</span>
                            <span class="stat-description">Active projects</span>
                        </div>
                        <div class="col-xs-4">
                            <span class="stat-int">{{ controller.customers.length }}</span>
                            <span class="stat-description">Customers</span>
                        </div>
                        <div class="col-xs-4">
                            <span class="stat-int">{{ controller.user.keys.length }}</span>
                            <span class="stat-description">SSH keys</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <ul class="controls pull-right">
                    <li>
                        <a href="/#/profile/edit/" class="crud-controls"><i class="fa fa-cog"></i> edit profile</a>
                    </li>
                    <li>
                        <a href="/#/profile/changepass/" class="crud-controls"><i class="fa fa-cog"></i> change password</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /profile-view -->

<!-- app-tabs -->
<div class="app-tabs">
    <!-- tabs-nav -->
    <div class="tabs-container">
        <div class="container-fluid">
            <ul class="nav nav-tabs" role="tablist">
                <li ng-class="{'active': controller.activeTab === 'eventlog'}">
                    <a href="" role="tab" data-toggle="tab" ng-click="controller.activeTab = 'eventlog'">
                        Events
                    </a>
                </li>
                <li ng-class="{'active': controller.activeTab === 'projects'}">
                    <a href="" role="tab" data-toggle="tab" ng-click="controller.activeTab = 'projects'">
                        Projects
                    </a>
                </li>
                <li ng-class="{'active': controller.activeTab === 'customers'}">
                    <a href="" role="tab" data-toggle="tab" ng-click="controller.activeTab = 'customers'">
                        Customers
                    </a>
                </li>
                <li ng-class="{'active': controller.activeTab === 'keys'}">
                    <a href="" role="tab" data-toggle="tab" ng-click="controller.activeTab = 'keys'">
                        Keys
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /tabs-nav -->
    <!-- tabs-content -->
    <div class="tab-content" ng-switch="controller.activeTab">
        <!-- tab -->
        <div class="tab-pane" ng-class="{'active': controller.activeTab === 'eventlog'}" ng-switch-when="eventlog">
            <!-- app-block -->
            <section class="app-block">
                <div class="container-fluid">
                    <!-- white-box -->
                    <div class="white-box">
                        <div class="app-title-line">
                            <div class="row">
                                <div class="col-xs-12 first-line">
                                    <ul class="sort">
                                        <li><a href="#" class="active">5</a></li>
                                        <li><a href="#">15</a></li>
                                        <li><a href="#">24</a></li>
                                        <li class="divid">
                                            <div class="search" data-role="search-box">
                                                <input type="text">
                                                <button class="search-button">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /white-box -->
                </div>
            </section>
            <!-- /app-block -->
            <!-- app-block -->
            <section class="app-block">
                <div class="container-fluid">
                    <div class="white-box">
                       <div class="app-items-list">
                            <table class="items-table">
                                <!-- event -->
                                <tr class="event">
                                    <td class="circle">
                                        <div class="circle-decor"></div>
                                    </td>
                                    <td>
                                        <h2 class="item-title">Update something</h2>
                                        <div class="content">
                                            <div class="gray-text">
                                                <p>
                                                    Description of an event. AWS VM john.doe.com was is suffering from a Heartbleed bug.
                                                </p>
                                            </div>
                                            <ul class="controls">
                                                <li>
                                                    <a href="#" class="event-action">Send to email</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td class="col-xs-2 controls-ctn">
                                        <ul class="controls pull-right">
                                            <li>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Favorite" class="kit-icon star filled"></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <!-- /event -->
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /app-block -->
        </div>
        <!-- /tab -->
        <div class="tab-pane" ng-class="{'active': controller.activeTab === 'projects'}" ng-switch-when="projects">
            <!-- app-block -->
            <section class="app-block">
                <div class="container-fluid">
                    <div class="white-box">
                        <div class="app-title-line">
                            <div class="row">
                                <div class="col-xs-12 first-line">
                                    <ul class="sort">
                                        <li><a href="#" class="active">5</a></li>
                                        <li><a href="#">15</a></li>
                                        <li><a href="#">24</a></li>
                                        <li class="divid">
                                            <div class="search" data-role="search-box">
                                                <input type="text">
                                                <button class="search-button">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="crud-box pull-right"><a href="#" class="crud-controls"><i class="fa fa-plus"></i> add project</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /app-block -->
            <!-- app-block -->
            <section class="app-block">
                <div class="container-fluid">
                    <div class="white-box">
                        <div class="app-items-list">
                            <table class="items-table">
                                <tr>
                                    <th class="name">
                                        <a href="" class="sort">Name</a>
                                    </th>
                                    <th class="col-xs-2"><a href="" class="sort">Resources</a></th>
                                    <th class="col-xs-2"><a href="" class="sort">Users</a></th>
                                    <th class="col-xs-2"></th>
                                </tr>
                                <tr ng-repeat="project in controller.projects">
                                    <td class="name">
                                        <h2 class="item-title"><a href="/#/projects/{{ project.uuid }}/">{{ project.name }}</a></h2>
                                        <p class="gray-text">
                                            {{ project.description }}
                                        </p>
                                    </td>
                                    <td class="col-xs-3 gray-text">
                                        <ul class="standart-list">
                                            <li ng-repeat="resource in project.clouds"><span class="elem item-type repo"></span> {{ resource.name }}</li>
                                        </ul>
                                    </td>
                                    <td class="col-xs-2 gray-text">
                                        <ul class="standart-list">
                                            <li ng-repeat="user in project.users"><a href="">{{ user.native_name }}</a></li>
                                        </ul>
                                    </td>
                                    <td class="col-xs-2 controls-ctn">
                                        <ul class="controls pull-right">
                                            <li>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Favorite" class="kit-icon star"></a>
                                            </li>
                                            <li>
                                                <a href="#" class="conf" data-toggle="tooltip" data-placement="top" title="Archive"><i class="glyphicon glyphicon-compressed"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="conf" data-toggle="tooltip" data-placement="top" title="Settings"><i class="fa fa-cog"></i></a>
                                            </li>
                                            <li>
                                                <a href="" ng-click="controller.remove(project)" class="remove" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-times"></i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /app-block -->
            <!-- app-block -->
            <div class="app-block">
                <div class="container-fluid">
                    <!-- pagination -->
                    <div class="pagination">
                        <ul>
                            <li><a href="#" class="current">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </div>
                    <!-- /pagination -->
                </div>
            </div>
            <!-- /app-block -->
        </div>
        <div class="tab-pane" ng-class="{'active': controller.activeTab === 'customers'}" ng-switch-when="customers">
            <!-- app-block -->
            <section class="app-block">
                <div class="container-fluid">
                    <div class="white-box">
                        <div class="app-title-line">
                            <div class="row">
                                <div class="col-xs-12 first-line">
                                    <ul class="sort">
                                        <li><a href="#" class="active">5</a></li>
                                        <li><a href="#">15</a></li>
                                        <li><a href="#">24</a></li>
                                        <li class="divid">
                                            <div class="search" data-role="search-box">
                                                <input type="text">
                                                <button class="search-button">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="crud-box pull-right"><a href="#" class="crud-controls"><i class="fa fa-plus"></i> add customer</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /app-block -->
            <!-- app-block -->
            <section class="app-block">
                <div class="container-fluid">
                    <div class="white-box">
                        <div class="app-items-list">
                            <table class="items-table">
                                <tr>
                                    <th class="pic"></th>
                                    <th class="name">
                                        <a href="" class="sort">Name</a>
                                    </th>
                                    <th class="col-xs-3">
                                        <a href="" class="sort">Services</a>
                                    </th>
                                </tr>
                                <tr ng-repeat="customer in controller.customers">
                                    <td class="col-xs-1 pic">
                                        <a href="../customer/index.html">
                                            <img src="../static/images/tmp/dojocat.jpg">
                                        </a>
                                    </td>
                                    <td class="name">
                                        <h2 class="item-title">
                                            <a href="#/customers/{{ customer.uuid }}/">{{ customer.name }}</a>
                                        </h2>
                                    </td>
                                    <td class="col-xs-3">
                                        <ul class="standart-list">
                                            <li><a href="../project/index.html">Github account</a></li>
                                            <li><a href="../project/index.html">OpenStack</a></li>
                                        </ul>
                                    </td>
                                    <td class="col-xs-2 controls-ctn">
                                        <ul class="controls pull-right">
                                            <li>
                                                <a href="#/customers/{{ customer.uuid }}/edit/" data-toggle="tooltip" data-placement="top" title="Restart"><i class="fa fa-cog"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="remove" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-times"></i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /app-block -->
            <!-- app-block -->
            <div class="app-block">
                <div class="container-fluid">
                    <!-- pagination -->
                    <div class="pagination">
                        <ul>
                            <li><a href="#" class="current">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </div>
                    <!-- /pagination -->
                </div>
            </div>
            <!-- /app-block -->
        </div>
        <div class="tab-pane" ng-class="{'active': controller.activeTab === 'keys'}" ng-switch-when="keys">
            <!-- app-block -->
            <section class="app-block">
                <div class="container-fluid">
                    <div class="white-box">
                        <div class="app-title-line">
                            <div class="row">
                                <div class="col-xs-12 first-line">
                                    <ul class="sort">
                                        <li><a href="#" class="active">5</a></li>
                                        <li><a href="#">15</a></li>
                                        <li><a href="#">24</a></li>
                                        <li class="divid">
                                            <div class="search" data-role="search-box">
                                                <input type="text">
                                                <button class="search-button">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="crud-box pull-right"><a href="#" class="crud-controls"><i class="fa fa-plus"></i> add key</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /app-block -->
            <!-- app-block -->
            <section class="app-block">
                <div class="container-fluid">
                    <div class="white-box">
                        <div class="app-items-list">
                            <table class="items-table">
                                <tr>
                                    <th class="name">
                                        <a href="" class="sort">Name</a>
                                    </th>
                                    <th class="col-xs-8">
                                        <a href="" class="sort">Key</a>
                                    </th>
                                    <th class="col-xs-1"></th>
                                </tr>
                                <tr ng-repeat="key in controller.user.keys">
                                    <td class="user-name">
                                        <strong>{{ key.name }}</strong>
                                    </td>
                                    <td class="col-xs-8">
                                        <div class="key">{{ key.public_key }}</div>
                                    </td>
                                    <td class="col-xs-1 controls-ctn">
                                        <ul class="controls pull-right">
                                            <li>
                                                <a href="#" class="remove" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-times"></i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /app-block -->
            <!-- app-block -->
            <div class="app-block">
                <div class="container-fluid">
                    <!-- pagination -->
                    <div class="pagination">
                        <ul>
                            <li><a href="#" class="current">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </div>
                    <!-- /pagination -->
                </div>
            </div>
            <!-- /app-block -->
        </div>
    </div>
    <!-- /tabs-content -->
</div>
<!-- /app-tabs -->
</div>

<ng-include src="'/views/partials/app-footer.html'"></ng-include>
