<div ng-controller="IssueAddController as IssueAdd">

    <div class="container">
        <h1>{{ IssueAdd.title }}</h1>
    </div>

    <div class="white-box">
        <section class="short-form">
            <div class="form-row" ng-hide="IssueAdd.type === 'remove_user'">
                <div class="col label">
                    <label for="">Ticket name:</label>
                </div>
                <div class="col input input-full">
                    <input type="text" placeholder="Problem" ng-model="IssueAdd.issue.summary">
                    <div class="error arrow-up" ng-show="IssueAdd.errors.summary">
                        <ul class="error-list">
                            <li ng-repeat="error in IssueAdd.errors.summary">{{ error }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col label">
                    <label for="">{{ IssueAdd.descriptionLabel }}:</label>
                </div>
                <div class="col input input-full">
                    <textarea class="full" placeholder="Problem description" ng-model="IssueAdd.issue.description"></textarea>
                    <div class="error arrow-up" ng-show="IssueAdd.errors.description">
                        <ul class="error-list">
                            <li ng-repeat="error in IssueAdd.errors.description">{{ error }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- non field errors -->
        <div class="simple-line" ng-show="IssueAdd.errors.non_field_errors">
            <div class="error">
                <ul class="error-list">
                    <li ng-repeat="error in IssueAdd.errors.non_field_errors">
                        {{ error }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- /non field errors -->

        <div class="decision">
            <div class="col">
                <a class="button-cancel" ng-click="IssueAdd.cancel()">Cancel</a>
            </div>
            <div class="col">
                <a class="button-apply" submit-button="IssueAdd.save()">Open ticket</a>
            </div>
        </div>
    </div>
</div>
