<div>

    <div class="white-box">
        <ul class="sort-list">
            <li class="title">
                <h2 class="app-title">Customer support</h2>
            </li>
            <li class="search divid">
                <div class="search-box">
                    <input type="text" ng-model='ProjectList.searchInput' ng-change="ProjectList.search()">
                    <button class="search-button" ng-click="ProjectList.search()"></button>
                </div>
            </li>
            <li class="right-sort">
                <a ui-sref="projects.create" class="button">
                    <span class="icon plus"></span>
                    <span>Create ticket</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="white-box">
        <ul class="object-list">
            <li ng-repeat="ticket in [1, 2, 3]">
                <div class="list-item" ng-class="{'opened': expandItem}">
                    <div class="avatar">
                        <span class="avatar">
                            <img gravatar-src="user.email" gravatar-size="100" alt="" class="avatar-img">
                        </span>
                    </div>
                    <div class="name">
                        <h3 class="item-title pointer">
                            <a>Ticket # {{ $index }}</a>
                        </h3>
                        <span class="subtitle">
                            #2820 - Created on 06/06/14 at 20:57 UTC - Last reply 1day ago
                        </span>
                    </div>
                    <div class="actions">
                        <div class="actions-button">
                            <a class="button view"
                                ng-class="{'active': openTicket}"
                                ng-click="openTicket=!openTicket"></a>
                        </div>
                    </div>
                </div>
                <div class="list-item-details" ng-show="openTicket">
                    <section class="on-mobile">
                        <header>
                            <h4 class="item-title">Creation date</h4>
                        </header>
                        {{ project.created | date:'medium' }}
                    </section>
                    <section ng-if="project.description">
                        {{ project.description }}
                    </section>
                    <section>
                        <header>
                            <h4 class="item-title">Resources</h4>

                            <minipagination page-models="ProjectList.projectResources"
                                            page-model-id="project.uuid"
                                            page-change="ProjectList.getResourcesForProject"
                                            page-entity-name="resources"></minipagination>
                        </header>
                        <ul class="list-blocks">
                            <li ng-repeat="resource in ProjectList.projectResources[project.uuid].data">
                                <a>{{ resource.name }}</a>
                            </li>
                        </ul>
                    </section>
                    <!-- asas -->
                    <section>
                        <header>
                            <h4 class="item-title">Users</h4>

                            <minipagination page-models="ProjectList.projectUsers"
                                            page-model-id="project.uuid"
                                            page-change="ProjectList.getUsersForProject"
                                            page-entity-name="users"></minipagination>
                        </header>
                        <ul class="list-blocks">
                            <li ng-repeat="user in ProjectList.projectUsers[project.uuid].data">
                                <div class="avatar small">
                                    <img gravatar-src="user.email" gravatar-size="60">
                                </div>
                                <a ui-sref="users.details({uuid: user.user_uuid})">{{ user.user_full_name }}</a>
                            </li>
                        </ul>
                    </section>
                </div>
            </li>
        </ul>
    </div>

<!--     <div class="pagination">
        <pagination pages-list="ProjectList" pages-service="ProjectList.service"></pagination>
    </div> -->
</div>
