.marketplaces-selector {
  width: 100%;
}

@media (min-width: 1500px) {
  .marketplaces-selector {
    max-width: 1200px;
  }
  [data-kt-aside-minimize='on'] .aside {
    .marketplaces-selector {
      max-width: 1400px;
    }
  }
}
@media (max-width: 1500px) {
  .marketplaces-selector {
    max-width: calc(100% - 300px);
  }
  [data-kt-aside-minimize='on'] .aside {
    .marketplaces-selector {
      max-width: calc(100% - 100px);
    }
  }
}
