<div class="ibox-content" ng-if="$ctrl.loading">
  <h4 translate class="text-center m-b-md">Calculating costs</h4>
  <loading-spinner/>
</div>
<div class="ibox" ng-if="!$ctrl.loading">
  <div class="ibox-title">
    <h5>
      <span translate>Checkout summary</span>
    </h5>
  </div>
  <div class="ibox-content">
    <p ng-if="$ctrl.error" translate>Unable to fetch summary.</p>
    <table class="table table-bordered" ng-if="$ctrl.isValid()">
      <tbody>
        <tr>
          <td>
            <strong translate>Price per day</strong>
            <price-tooltip></price-tooltip>
          </td>
          <td>{{ $ctrl.getDailyPrice() | defaultCurrency }}</td>
        </tr>
        <tr>
          <td>
            <strong translate>Price per month</strong>
            <price-tooltip></price-tooltip>
          </td>
          <td>{{ $ctrl.getMonthlyPrice() | defaultCurrency }}</td>
        </tr>
        <tr>
          <td><strong translate>Invoiced to</strong></td>
          <td>{{ $ctrl.customer.name }}</td>
        </tr>
        <tr>
          <td><strong translate>Project</strong></td>
          <td>{{ $ctrl.project.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
