<div ng-controller="UpdateProfileController as controller">

    <div class="profile-view">
        <section class="avatar">
            <span class="avatar big">
                <img src="/static/images/user-avatar.jpg" alt="" class="avatar-img">
            </span>
        </section>
        <section class="content">
            <h2 class="app-title">{{ controller.user.full_name }}</h2>
            <span>({{ controller.user.username }})</span>
            <div>
                <div class="mini-form">
                    <input type="text" class="form-control" ng-model="controller.user.email" required>
                    <button class="button-apply" ng-show="controller.user.email.length" type="submit">Save</button>
                </div>
                <div class="error short" ng-show="controller.errors.email">
                    <ul class="error-list">
                        <li ng-repeat="error in controller.errors.email">
                            {{ error }}
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="actions">
            <div class="actions-button">
                <a class="button" ng-click="openActions=!openActions">actions</a>
                <ul class="actions-dropdown" ng-show="openActions">
                    <li>
                        <a class="button-simple">Add to project</a>
                    </li>
                    <li>
                        <a ui-sref="profile.details" class="button-simple">Back to profile</a>
                    </li>
                    <li>
                        <a class="button-simple" ng-click="controller.deleteAccount()">delete my account</a>
                    </li>
                </ul>
            </div>
        </section>
    </div>

    <ul class="tabs-nav">
        <li ng-class="{'active': controller.activeTab === 'eventlog'}"
            ng-click="controller.activeTab = 'eventlog'">
            Events
        </li>
        <li ng-class="{'active': controller.activeTab === 'projects'}"
            ng-click="controller.activeTab = 'projects'">
            Projects
        </li>
        <li ng-class="{'active': controller.activeTab === 'keys'}"
            ng-click="controller.activeTab = 'keys'">
            SSH Keys
        </li>
        <li ng-class="{'active': controller.activeTab === 'manageuser'}"
            ng-click="controller.activeTab = 'manageuser'">
            Manage User
        </li>
    </ul>

    <div class="white-box">
        <ul class="sort-list">
            <li>
                <a href="{{pagesHref}}" class="page-size active">5</a>
                <a href="{{pagesHref}}" class="page-size">10</a>
                <a href="{{pagesHref}}" class="page-size">15</a>
                <a href="{{pagesHref}}" class="page-size">20</a>
            </li>
            <li class="search divid">
                <div class="search-box">
                    <input type="text" ng-model='ProjectList.searchInput' ng-keyup="ProjectList.search()">
                    <button class="search-button" ng-click="ProjectList.search()"></button>
                </div>
            </li>
        </ul>
    </div>

    <sectin class="tabs-content" ng-switch="controller.activeTab">
        <div class="tab" id="eventlog"
            ng-class="{'tab-active': controller.activeTab === 'eventlog'}"
            ng-switch-when="eventlog">
            <div ui-view="tabEventlog"></div>
        </div>
        <div class="tab" id="projects"
            ng-class="{'tab-active': controller.activeTab === 'projects'}"
            ng-switch-when="projects">
            <div ui-view="tabProjects"></div>
        </div>
        <div class="tab" id="keys"
            ng-class="{'tab-active': controller.activeTab === 'keys'}"
            ng-switch-when="keys">
            <div ui-view="tabKeys"></div>
        </div>
        <div class="tab" id="manageuser"
            ng-class="{'tab-active': controller.activeTab === 'manageuser'}"
            ng-switch-when="manageuser">
            <div ui-view="tabManageUser"></div>
        </div>
    </sectin>

</div>
