<div ng-controller="CustomerAddController as CustomerAdd">
    <div class="container">
        <h1>Add organization</h1>
    </div>

    <div class="white-box">
        <section class="short-form">
            <div class="form-row">
                <div class="col label">
                    <label for="name">Organization name</label>
                </div>
                <div class="col input">
                    <input type="text" id="name" placeholder="name" ng-model="CustomerAdd.instance.name">
                    <div class="error arrow-up" ng-show="CustomerAdd.errors.name">
                        <ul class="error-list">
                            <li ng-repeat="error in CustomerAdd.errors.name">{{ error }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col label">
                    <label for="registration_code">Registration code</label>
                </div>
                <div class="col input">
                    <input type="text" id="registration_code" placeholder="code" ng-model="CustomerAdd.instance.registration_code">
                    <div class="error arrow-up" ng-show="CustomerAdd.errors.registration_code">
                        <ul class="error-list">
                            <li ng-repeat="error in CustomerAdd.errors.registration_code">{{ error }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col label">
                    <label for="contact_details">Contact details</label>
                </div>
                <div class="col input">
                <textarea id="contact_details"
                          placeholder="Organization contact details"
                          ng-model="CustomerAdd.instance.contact_details"></textarea>
                </div>
            </div>
        </section>

        <!-- non field errors -->
        <div class="simple-line" ng-show="CustomerAdd.errors.non_field_errors">
            <div class="error">
                <ul class="error-list">
                    <li ng-repeat="error in CustomerAdd.errors.non_field_errors">
                        {{ error }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- /non field errors -->
        <div class="simple-line" ng-show="CustomerAdd.errors.detail">
            <div class="error">
                <ul class="error-list">
                    <li>
                        {{ CustomerAdd.errors.detail }}
                    </li>
                </ul>
            </div>
        </div>

        <div class="decision">
            <div class="col">
                <a class="button-cancel" ng-click="CustomerAdd.cancel()">Cancel</a>
            </div>
            <div class="col">
                <a class="button-apply" submit-button="CustomerAdd.save()">Add organization</a>
            </div>
        </div>
    </div>

</div>
