<div ng-controller="CustomerDetailUpdateController as CustomerDetailUpdate">

    <div class="profile-view">
        <section class="avatar">
            <span class="avatar big">
                <img ng-src="{{CustomerDetailUpdate.imageUrl}}" alt="" class="avatar-img"
                    ng-hide="CustomerDetailUpdate.files.length">

                <img ngf-src="CustomerDetailUpdate.files[0]" alt="" class="avatar-img"
                    ng-show="CustomerDetailUpdate.files.length">
            </span>
        </section>
        <section class="content" style="width: 200px" ng-show="CustomerDetailUpdate.isOwnerOrStaff(CustomerDetailUpdate.model)">
            <a class="button" ngf-select ngf-accept="'image/*'"
                ng-hide="CustomerDetailUpdate.files.length"
                ng-model="CustomerDetailUpdate.files">New logo</a>

            <a class="button"
                ng-show="CustomerDetailUpdate.model.image && CustomerDetailUpdate.files.length==0"
                ng-click="CustomerDetailUpdate.deleteImage()">Delete</a>

            <a class="button"
                ng-show="CustomerDetailUpdate.files.length"
                ng-click="CustomerDetailUpdate.uploadImage()">Save</a>

            <a class="button"
                ng-show="CustomerDetailUpdate.files.length"
                ng-click="CustomerDetailUpdate.files=[]">Cancel</a>
        </section>
        <section class="content" ng-show="CustomerDetailUpdate.currentUser.is_staff">
            <h2 class="app-title" class="app-title" editable-text="CustomerDetailUpdate.model.name" buttons="no" onbeforesave="CustomerDetailUpdate.update()" title="Click to edit name">
                {{ CustomerDetailUpdate.model.name || 'Name' }}
            </h2>
            <div editable-text="CustomerDetailUpdate.model.contact_details" buttons="no" onbeforesave="CustomerDetailUpdate.update()" title="Click to edit contact details">
                {{ CustomerDetailUpdate.model.contact_details || 'Contact details' }}
            </div>
        </section>
        <section class="content" ng-show="!CustomerDetailUpdate.currentUser.is_staff">
            <div class="app-title">
                {{ CustomerDetailUpdate.model.name }}
            </div>
            <div>
                {{ CustomerDetailUpdate.model.contact_details }}
            </div>
        </section>
        <section class="actions">
            <div class="actions-button">
                <a class="button" ng-click="openActions=!openActions">actions</a>
                <ul class="actions-dropdown" ng-show="openActions">
                    <li>
                        <a ui-sref="organizations.plans({uuid: CustomerDetailUpdate.model.uuid})" class="button-simple">Plans</a>
                    </li>
                    <li>
                        <a class="button-simple">Billing</a>
                    </li>
                </ul>
            </div>
        </section>
    </div>

    <ul class="tabs-nav">
        <li ng-class="{'active': CustomerDetailUpdate.activeTab === 'resources'}"
            ng-click="CustomerDetailUpdate.activeTab = 'resources'">
            Resources
        </li>
        <li ng-class="{'active': CustomerDetailUpdate.activeTab === 'projects'}"
            ng-click="CustomerDetailUpdate.activeTab = 'projects'">
            Projects
        </li>
        <li ng-class="{'active': CustomerDetailUpdate.activeTab === 'services'}"
            ng-click="CustomerDetailUpdate.activeTab = 'services'">
            Services
        </li>
    </ul>

    <sectin class="tabs-content" ng-switch="CustomerDetailUpdate.activeTab">
        <div class="tab" id="resources"
            ng-class="{'tab-active': CustomerDetailUpdate.activeTab === 'resources'}"
            ng-switch-when="resources">
            <div ui-view="tabResources"></div>
        </div>
        <div class="tab" id="projects"
            ng-class="{'tab-active': CustomerDetailUpdate.activeTab === 'projects'}"
            ng-switch-when="projects">
            <div ui-view="tabProjects"></div>
        </div>
        <div class="tab" id="services"
            ng-class="{'tab-active': CustomerDetailUpdate.activeTab === 'services'}"
            ng-switch-when="services">
            <div ui-view="tabServices"></div>
        </div>
    </sectin>

</div>
