<div ng-if="InvoiceDetails.loading">
    <h1 class="text-center"><i class="icon fa-spinner fa-spin"></i></h1>
</div>

<div ng-if="!InvoiceDetails.loading" class="row">
    <div class="col-lg-12 hidden-print">
        <div class="text-right">
            <button class="btn btn-primary" ng-click="InvoiceDetails.printLink()">Print</button>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="ibox-content p-xl">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>From:</h5>
                        <address>
                            <strong>{{::InvoiceDetails.invoice.issuer_details.company}}</strong><br>
                            {{::InvoiceDetails.invoice.issuer_details.address}}<br>
                            {{::InvoiceDetails.invoice.issuer_details.country}}, {{::InvoiceDetails.invoice.issuer_details.postal}}<br>
                            <abbr title="Phone">P:</abbr> {{::InvoiceDetails.invoice.issuer_details.phone}}<br>
                            {{::InvoiceDetails.invoice.issuer_details.bank}}, {{::InvoiceDetails.invoice.issuer_details.account}} <br>
                            {{::InvoiceDetails.invoice.issuer_details.email}}
                        </address>
                    </div>

                    <div class="col-sm-6 text-right">
                        <h4>Invoice No.</h4>
                        <h4 class="text-navy">{{::InvoiceDetails.invoice.number}}</h4>
                        <span>To:</span>
                        <address>
                            <strong>{{::InvoiceDetails.invoice.customer_details.company}}</strong><br>
                            {{::InvoiceDetails.invoice.customer_details.address}}<br>
                            {{::InvoiceDetails.invoice.customer_details.country}}, {{::InvoiceDetails.invoice.customer_details.postal}}<br>
                            <abbr title="Phone">P:</abbr> {{::InvoiceDetails.invoice.customer_details.phone}}<br>
                            {{::InvoiceDetails.invoice.customer_details.bank}}<br>
                            {{::InvoiceDetails.invoice.customer_details.email}}
                        </address>
                        <div>
                            <span><strong>Invoice Date:</strong> {{::InvoiceDetails.invoice.invoice_date || '&mdash;'}}</span><br>
                            <span><strong>Due Date:</strong> {{::InvoiceDetails.invoice.due_date || '&mdash;'}}</span>
                        </div>
                    </div>
                </div>

                <div class="table-responsive m-t">
                    <table class="table invoice-table">
                        <thead>
                        <tr>
                            <th>Item List</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Tax</th>
                            <th>Total Price</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in InvoiceDetails.invoice.openstack_items track by $index">
                                <td><div><strong>{{item.name}}</strong></div>
                                    <small>Start time: {{item.start || '&mdash;' | dateTime }}. End time: {{item.end || '&mdash;' | dateTime }}</small></td>
                                <!-- now items quantity always equals to 1 -->
                                <td>1</td>
                                <td>{{item.price | defaultCurrency}}</td>
                                <td>{{item.tax | defaultCurrency}}</td>
                                <td>{{item.total | defaultCurrency}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /table-responsive -->

                <table class="table invoice-total">
                    <tbody>
                    <tr>
                        <td><strong>Sub Total: </strong></td>
                        <td>{{::InvoiceDetails.invoice.price | defaultCurrency}}</td>
                    </tr>
                    <tr>
                        <td><strong>TAX: </strong></td>
                        <td>{{::InvoiceDetails.invoice.tax | defaultCurrency}}</td>
                    </tr>
                    <tr>
                        <td><strong>TOTAL: </strong></td>
                        <td>{{::InvoiceDetails.invoice.total | defaultCurrency}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
