<div ng-controller="PlansListController as PlanList">

<div class="profile-view">
        <section class="avatar">
            <span class="avatar big">
                <img src="/static/images/user-avatar.jpg" alt="" class="avatar-img">
            </span>
        </section>
        <section class="content">
            <h2 class="app-title"><a ui-sref="customers.details({uuid: PlanList.customer.uuid})">{{ PlanList.customer.name }}</a></h2>
            <div>
                <h4 class="app-title">Choose new plan</h4>
            </div>
            <div class="plans">
                <div class="plan" ng-repeat="plan in PlanList.list">
                    <div class="plan-item" ng-class="{'current-plan': PlanList.currentPlan.uuid === plan.uuid, 'selected': PlanList.selectedPlan.uuid === plan.uuid}" ng-click="PlanList.selectPlan(plan)">
                        <table>
                            <th>
                                <span class="plan-name">{{ plan.name }}</span>
                                <span class="plan-price">${{ plan.price }} / mo.</span>
                            </th>
                            <tr ng-repeat="quota in plan.quotas">
                                <td>{{ quota.value }} {{ PlanList.getPrettyQuotaName(quota.name) }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="decision">
                <div class="col">
                    <a class="button-cancel" ng-click="PlanList.cancel()">Cancel</a>
                </div>
                <div class="col">
                    <a class="button-apply" ng-class="{'disabled': !PlanList.selectedPlan}" ng-click="PlanList.createOrder()">Confirm change your Plan</a>
                </div>
            </div>
        </section>
        <section class="actions">
            <div class="actions-button">
                <a class="button" ng-click="openActions=!openActions">actions</a>
                <ul class="actions-dropdown" ng-show="openActions">
                    <li>
                        <a ui-sref="customers.edit({uuid: PlanList.customer.uuid})" class="button-simple">Edit profile</a>
                    </li>
                    <li>
                        <span class="button-simple active">Plans</span>
                    </li>
                    <li>
                        <a class="button-simple">Billing</a>
                    </li>
                </ul>
            </div>
        </section>
    </div>

</div>
