<div class="compact-list__header"
     ng-click="entity.expandItemOpen = !entity.expandItemOpen">
  <div class="compact-list__title">
    <a ui-sref="organization.details({uuid: entity.uuid})"
       ng-bind="entity.name"></a>
  </div>
  <div class="compact-list__right">
     <expandable-indicator open="entity.expandItemOpen">
     </expandable-indicator>
  </div>
</div>

<div ng-show="entity.expandItemOpen" class="compact-list__details">
  <div class="details-table__row" ng-if="entity.contact_details">
    <div class="details-table__key">
      Contact
    </div>
    <div class="details-table__value">
      {{ entity.contact_details }}
    </div>
  </div>

  <div class="details-table__row" visible="plans">
    <div class="details-table__key">
      Plan
    </div>
    <div class="details-table__value">
      {{ entity.plan_name || 'No plan' }}
    </div>
  </div>

  <div class="details-table__row" ng-if="entity.projects">
    <div class="details-table__key">
      Stats
    </div>
    <div class="details-table__value">
      <ng-pluralize count="entity.projects.length"
                    when="{'0': 'No projects',
                           'one': '1 project',
                           'other': '{} projects'}">
      </ng-pluralize>,
      <ng-pluralize count="entity.quotas_usage.nc_service_count"
                    when="{'0': 'no providers',
                           'one': '1 provider',
                           'other': '{} providers'}">
      </ng-pluralize>,
      <ng-pluralize count="entity.quotas_usage.nc_resource_count"
                    when="{'0': 'no resources',
                           'one': '1 resource',
                           'other': '{} resource'}">
      </ng-pluralize>
    </div>
  </div>

</div>

<action-list actions="entityButtons" entity="entity" ng-show="entity.expandItemOpen"></action-list>
