<nav ng-controller="CustomerDetailsController"
    class="navbar-default navbar-static-side"
    role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="profile-element">
                    <a ui-sref="dashboard.index">
                        <h3 class="brand-name">Waldur</h3>
                    </a>
                </div>
            </li>
            <li>
                <a ui-sref="organizations.list">
                    <i class="fa fa-angle-left"></i>
                    <span class="nav-label">Back to list</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="organizations.details.events({uuid: currentCustomer.uuid})">
                    <i class="fa fa-bell-o"></i>
                    <span class="nav-label">Events</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="organizations.details.alerts({uuid: currentCustomer.uuid})">
                    <i class="fa fa-fire"></i>
                    <span class="nav-label">Alerts</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="organizations.details.projects({uuid: currentCustomer.uuid})">
                    <i class="fa fa-folder-open-o"></i>
                    <span class="nav-label">Projects</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="organizations.details.providers({uuid: currentCustomer.uuid})">
                    <i class="fa fa-database"></i>
                    <span class="nav-label">Providers</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="organizations.details.team({uuid: currentCustomer.uuid})">
                    <i class="fa fa-group"></i>
                    <span class="nav-label">Team</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="organizations.details.billing({uuid: currentCustomer.uuid})">
                    <i class="fa fa-file-text-o"></i>
                    <span class="nav-label">Billing</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="organizations.details.sizing({uuid: currentCustomer.uuid})">
                    <i class="fa fa-calculator"></i>
                    <span class="nav-label">Sizing</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="organizations.details.virtual-machines({uuid: currentCustomer.uuid})">
                    <i class="fa fa-desktop"></i>
                    <span class="nav-label">VMs</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="organizations.details.private-clouds({uuid: currentCustomer.uuid})">
                    <i class="fa fa-cloud"></i>
                    <span class="nav-label">Private clouds</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="organizations.details.applications({uuid: currentCustomer.uuid})">
                    <i class="fa fa-cube"></i>
                    <span class="nav-label">Applications</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="organizations.details.delete({uuid: currentCustomer.uuid})">
                    <i class="fa fa-wrench"></i>
                    <span class="nav-label">Manage</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
