<div class="team-members" ng-controller="CustomerTeamTabController as TeamList">

    <add-team-member
            class="add-team-member-wrapper"
            ng-if="TeamList.entityOptions.entityData.name === 'team'"
            controller="TeamList">
    </add-team-member>

    <entitylist entity-list="TeamList"
                entity-service="TeamList.service"
                entity-buttons="TeamList.actionButtonsListItems"
                entity-options="TeamList.entityOptions"></entitylist>

    <div class="add-team-popup"
         ng-click="TeamList.entityOptions.entityData.showPopup = false"
         ng-show="TeamList.entityOptions.entityData.showPopup">
        <add-team-member stoppropagation
                class="add-team-member-wrapper"
                ng-if="TeamList.entityOptions.entityData.name === 'team'"
                edit-user="TeamList.editUser"
                controller="TeamList">
        </add-team-member>
    </div>

</div>
