<article class="tab-sizing" ng-controller="CustomerSizingTabController as CustomerSizing">
    <ul class="sizing-list">
        <li class="open">
            <header>
                <div class="title">
                    <h2>Monator offer</h2>
                    <span>email to: john@monator.com</span>
                </div>
                <div class="btn-set">
                    <a href="#" class="button">New</a>
                    <a href="#" class="button">Clone</a>
                </div>
                <div class="btn-set">
                    <a href="#" class="button">Send</a>
                    <a href="#" class="button">Provision</a>
                </div>
            </header>
            <main>
                <section>
                    <aside class="left">
                        <h3>Add infrastructure</h3>
                        <ul>
                            <li ng-model="item1" ng-class="item1">
                                <a href="#" ng-click="item1 = item1 != 'open' ? 'open' : ''">WebServer</a>
                                <ul>
                                    <li><a href="#">server1</a></li>
                                    <li><a href="#">server2</a></li>
                                </ul>
                            </li>
                            <li ng-model="item2" ng-class="item2">
                                <a href="#" ng-click="item2 = item2 != 'open' ? 'open' : ''">Database</a>
                                <ul>
                                    <li><a href="#">MySQL</a></li>
                                    <li><a href="#">MSSQL</a></li>
                                </ul>
                            </li>
                            <li ng-model="item3" ng-class="item3">
                                <a href="#" ng-click="item3 = item3 != 'open' ? 'open' : ''">WebServer</a>
                                <ul>
                                    <li><a href="#">MySQL</a></li>
                                    <li><a href="#">MSSQL</a></li>
                                </ul>
                            </li>
                            <li ng-model="item4" ng-class="item4">
                                <a href="#" ng-click="item4 = item4 != 'open' ? 'open' : ''">WebServer</a>
                                <ul>
                                    <li><a href="#">MySQL</a></li>
                                    <li><a href="#">MSSQL</a></li>
                                </ul>
                            </li>
                        </ul>
                    </aside>
                    <section class="view">
                        <h3>Stack planning view</h3>
                        <ul>
                            <li>
                                <div class="name">
                                    <h4>WebServer</h4>
                                    <span>Apache</span>
                                </div>
                                <div class="switch-wrapper">
                                    <div  class="switch" ng-init="switch1 = 'first'" ng-class="switch1">
                                        <span class="sub-label" ng-click="switch1 = 'first'">Optimal</span>
                                        <span class="sub-label" ng-click="switch1 = 'second'">Average</span>
                                        <span class="sub-label" ng-click="switch1 = 'third'">Large</span>
                                        <div class="slider">
                                            <span class="first">Optimal</span>
                                            <span class="second">Average</span>
                                            <span class="third">Large</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="multiplier">
                                    <span>x</span>
                                    <input type="number"  ng-model="value">
                                    <button class="button minus" ng-click="value = value > 0 ? value - 1 : value">-</button>
                                    <button class="button plus" ng-click="value = value + 1">+</button>
                                </div>
                            </li>
                            <li>
                                <div class="name">
                                    <h4>WebServer</h4>
                                    <span>Apache</span>
                                </div>
                                <div class="switch-wrapper">
                                    <div  class="switch" ng-init="switch2 = 'first'" ng-class="switch2">
                                        <span class="sub-label" ng-click="switch2 = 'first'">Optimal</span>
                                        <span class="sub-label" ng-click="switch2 = 'second'">Average</span>
                                        <span class="sub-label" ng-click="switch2 = 'third'">Large</span>
                                        <div class="slider">
                                            <span class="first">Optimal</span>
                                            <span class="second">Average</span>
                                            <span class="third">Large</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="multiplier">
                                    <span>x</span>
                                    <input type="number"  ng-model="value1">
                                    <button class="button minus" ng-click="value1 = value1 > 0 ? value1 - 1 : value1">-</button>
                                    <button class="button plus" ng-click="value1 = value1 + 1">+</button>
                                </div>
                            </li>
                        </ul>
                    </section>
                    <aside class="right">
                        <h3>Providers</h3>
                        <div class="provider">
                            <h4>AWS EC2</h4>
                            <div class="price">
                                <b>120</b>
                                <span>USD/mo</span>
                            </div>
                        </div>
                        <div class="provider">
                            <h4>AWS EC2</h4>
                            <div class="price">
                                <b>120</b>
                                <span>USD/mo</span>
                            </div>
                        </div>
                    </aside>
                </section>
            </main>
        </li>
        <li>
            <header>
                <div class="title">
                    <h2>Webapp for Monster Inc.</h2>
                    <span>
                        email to: john@monator.com
                    </span>
                </div>
                <div class="price">
                    <b>600</b>
                    <span>USD/mo (DRAFT)</span>
                </div>
            </header>
        </li>
        <li>
            <header>
                <div class="title">
                    <h2>Webapp for Monster Inc.</h2>
                    <span>
                        email to: john@monator.com
                    </span>
                </div>
                <div class="price">
                    <b>600</b>
                    <span>USD/mo (DRAFT)</span>
                </div>
            </header>
        </li>
    </ul>

</article>
