<!-- view-control -->
<section class="view-control">
    <div class="list-item no-cursor">
        <div class="checkbox">
            <div class="checkbox" ng-show="controller.showgroup">
                <input type="checkbox">
            </div>
        </div>
        <div>
            <div class="view-action-buttons" ng-show="controller.showgroup">
                <a class="button start"
                    ng-click="ResourceList.startResource(resource)"
                    ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'start')}">
                Start</a>
                <a class="button stop"
                    ng-click="ResourceList.stopResource(resource)" title="Stop"
                    ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'stop')}">
                Stop</a>
                <a class="button restart"
                    ng-click="ResourceList.restartResource(resource)"
                    ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'restart')}">
                Restart</a>
                <a class="button remove"
                    ng-click="ResourceList.deleteResource(resource, $index)">
                Remove</a>
            </div>
            <div class="view-action-buttons-mobile" ng-show="controller.showgroup">
                <div class="actions-button">
                    <a class="button dropdown-active"
                        ng-click="mobileActions=!mobileActions">actions</a>
                    <ul class="actions-dropdown" ng-show="mobileActions">
                        <li>
                            <a class="button-simple start"
                                ng-click="ResourceList.startResource(resource)"
                                ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'start')}">
                            Start</a>
                        </li>
                        <li>
                            <a class="button-simple stop"
                                ng-click="ResourceList.stopResource(resource)" title="Stop"
                                ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'stop')}">
                            Stop</a>
                        </li>
                        <li>
                            <a class="button-simple restart"
                                ng-click="ResourceList.restartResource(resource)"
                                ng-class="{'disabled': !ResourceList.isOperationAvailable(resource, 'restart')}">
                            Restart</a>
                        </li>
                        <li>
                            <a class="button-simple remove"
                                ng-click="ResourceList.deleteResource(resource, $index)">
                            Remove</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="actions switch">
            <span class="label-text" ng-class="{'low-grade': !controller.showgroup}">batch</span>
            <div class="checkbox-toggle">
                <input type="checkbox" id="control-types" ng-click="controller.showgroup=!controller.showgroup">
                <label for="control-types"></label>
            </div>
            <span class="label-text special-left" ng-class="{'low-grade': controller.showgroup}">single</span>
        </div>
    </div>
</section>
<!-- /view-control -->

<div class="white-box clear">
    <ul class="object-list">
        <li>
            <div class="list-item">
                <div class="checkbox"></div>
                <div class="name">
                    <a class="list-sort">Name</a>
                </div>
                <div class="additional-cell">
                    <a class="list-sort">creation date</a>
                </div>
                <div class="actions"></div>
            </div>
        </li>
        <li ng-repeat="project in controller.project">
            <div class="list-item" ng-class="{'opened': expandItem}">
                <div class="checkbox">
                    <div class="checkbox">
                        <input type="checkbox">
                    </div>
                </div>
                <div class="name">
                    <h3 class="item-title pointer" ng-click="expandItem=!expandItem">{{ project.name }}</h3>
                    <a class="more-details"
                        ng-show="expandItem"
                        ui-sref="projects.details({uuid: project.uuid})">Permanent link</a>
                </div>
                <div class="additional-cell">
                    {{ project.creation_date }}
                </div>
                <div class="actions">
                    <div class="actions-button">
                        <a class="button" ng-click="openActions=!openActions">actions</a>
                        <ul class="actions-dropdown" ng-show="openActions">
                            <li>
                                <a class="button-simple">Add user</a>
                            </li>
                            <li>
                                <a class="button-simple">Archive</a>
                            </li>
                            <li>
                                <a class="button-simple">Delete</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="list-item-details" ng-show="expandItem">
                <section ng-if="project.description">
                    {{ project.description }}
                </section>
                <section>
                    <header>
                        <h4 class="item-title">Resources</h4>
                        <ul class="inline-pagination">
                            <li>
                                <a href="">1</a>
                            </li>
                            <li>
                                <a href="" class="current">2</a>
                            </li>
                            <li>
                                <a href="">3</a>
                            </li>
                            <li>
                                <span>...</span>
                            </li>
                            <li>
                                <a href="">5</a>
                            </li>
                        </ul>
                    </header>
                    <ul>
                        <li class="item-list">
                            <section>
                                <a class="list-sort">Name</a>
                            </section>
                            <section>
                                <div class="list-sort">Access information</div>
                            </section>
                        </li>
                        <li class="item-list" ng-repeat="resource in project.resources">
                            <section>
                                <a href="">{{ resource.name }}</a>
                            </section>
                            <section>
                                <span ng-repeat="access in resource.access_information">{{ access }}</span>
                            </section>
                        </li>
                    </ul>
                </section>
                <!-- asas -->
                <section>
                    <header>
                        <h4 class="item-title">Users</h4>
                        <ul class="inline-pagination">
                            <li>
                                <a href="">1</a>
                            </li>
                            <li>
                                <a href="" class="current">2</a>
                            </li>
                            <li>
                                <a href="">3</a>
                            </li>
                            <li>
                                <span>...</span>
                            </li>
                            <li>
                                <a href="">5</a>
                            </li>
                        </ul>
                    </header>
                    <ul>
                        <li class="item-list">
                            <section>
                                <a class="list-sort">Name</a>
                            </section>
                        </li>
                        <li class="item-list" ng-repeat="user in project.users">
                            <section>
                                <div class="avatar">
                                    <img gravatar-src="'{{ user.email }}'" gravatar-size="100" alt="" class="avatar-img">
                                </div>
                                <a ui-sref="users({uuid: user.uuid})">{{ user.native_name }}</a>
                            </section>
                        </li>
                    </ul>
                </section>
            </div>
        </li>
    </ul>
</div>
