<div ng-if="DeleteController.loading">
    <h1 class="text-center"><i class="icon fa-spinner fa-spin"></i></h1>
</div>

<div ng-if="!DeleteController.loading">
    <div class="panel panel-default">
        <div class="panel-heading">Customer details</div>
        <div class="panel-body">
            <strong>Name: </strong>{{::DeleteController.customer.name}}
        </div>
    </div>
    <div class="panel panel-default" ng-if="DeleteController.paymentDetails">
        <div class="panel-heading">Payment details</div>
        <div class="panel-body">
            <strong>Company: </strong>{{::DeleteController.paymentDetails.company}}<br>
            <strong>Address: </strong>{{::DeleteController.paymentDetails.address}}<br>
            <strong>Country: </strong>{{::DeleteController.paymentDetails.country}}<br>
            <strong>Email: </strong>{{::DeleteController.paymentDetails.email}}<br>
            <strong>Postal: </strong>{{::DeleteController.paymentDetails.postal}}<br>
            <strong>Phone: </strong>{{::DeleteController.paymentDetails.phone}}<br>
            <strong>Bank: </strong>{{::DeleteController.paymentDetails.bank}}<br>
            <strong>Account: </strong>{{::DeleteController.paymentDetails.account}}<br>
            <strong>Default tax percent: </strong>{{::DeleteController.paymentDetails.default_tax_percent}}<br>
        </div>
    </div>
    <div class="panel panel-default" ng-if="DeleteController.canRemoveCustomer">
        <div class="panel-heading">Customer actions</div>
        <div class="panel-body">
            <h3>You can remove this organization by pressing the button</h3>
            <a ng-click="DeleteController.removeCustomer()" class="btn btn-danger">
                <i class="fa fa-trash"></i>
                Remove organization
            </a>
        </div>
    </div>
    <h3 ng-if="!DeleteController.canRemoveCustomer">
        Only staff user can remove organization.
    </h3>
</div>
