@import '~sass/inspinia/_variables.scss';
@import '~sass/variables.scss';

.attachment-item {
  position: relative;
  border: none;
  border-radius: 3px;
  width: 200px;
  padding: 0 0 10px;

  &:hover {
    background-color: $gray;

    .attachment-item__delete {
      display: block;
    }
  }
}

.attachment-item__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 145px;
  border: 1px solid $border-color;
  border-radius: 3px;
  margin-bottom: 20px;

  img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;

    i {
      display: block;
      font-size: 50px;
    }
  }
}

.attachment-item__description {
  padding: 0 10px;
}

.attachment-item__description-name {
  position: relative;
  padding-right: 20px;
  margin-bottom: 5px;

  a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }
}

.attachment-item__delete {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  cursor: pointer;
}

.attachment-item__description-info {
  display: flex;
  justify-content: space-between;
}

.attachment-item__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  background: transparentize($white, 0.5);
  border: 1px dashed $yellow;
  text-align: center;
  z-index: 2;
}
