@import '~sass/inspinia/_variables.scss';
@import '~sass/variables.scss';

.attachments__title {
  padding-right: 55px;
  position: relative;
}

.attachments__container {
  border: 1px dashed $gray-label;
  padding: 20px 30px;
}

.attachments__container-message {
  font-size: 14px;
  text-align: center;

  i, span {
    display: inline-block;
    vertical-align: middle;
  }

  i {
    margin-right: 10px;
    font-size: 22px;
  }
}

.dropzone__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  background: transparentize($white, 0.5);
  border: 3px dashed $yellow;
  text-align: center;
  z-index: 2;
}

.dropzone__overlay-message {
  display: inline-flex;
  padding: 20px 30px;
  border: 3px solid $yellow;
  border-radius: 5px;
  max-width: 250px;
  background-color: $white;
}
