<div ng-if="$ctrl.loading" class="wrapper">
  <div class="row m-t-xl">
    <loading-spinner></loading-spinner>
  </div>
</div>
<div class="wrapper" ng-if="!$ctrl.loading">
  <div class="row m-t-md">
    <div class="col-md-6 col-md-offset-3 col-xs-12 col-lg-6 col-lg-offset-3">
      <h2>
        {{ ::$ctrl.pageTitle }}
      </h2>
      <p translate>
        To get your clouds under control, please fill in your data.
      </p>
    </div>
  </div>
  <div class="row initial-data-page">
    <div class="ibox col-md-offset-2 col-md-8 col-lg-6 col-lg-offset-3">
      <div class="ibox-content">
        <user-edit user="$ctrl.user" on-save="($ctrl.save)" initial="true">
        </user-edit>
      </div>
    </div>
  </div>
</div>
