<cookies-consent></cookies-consent>
<div class="middle-box text-center loginscreen footer-indent">
  <span ng-if="::!auth.loginLogo">
    <h1 class="logo-name">{{ ::auth.shortPageTitle }}</h1>
    <h4 ng-if="!auth.isSignupFormVisible">
      <span>{{ ::auth.pageTitle | translate }}</span>
    </h4>
  </span>
  <span ng-if="::auth.loginLogo">
    <img ng-src="{{ ::auth.loginLogo }}">
  </span>
  <h4 ng-if="auth.isSignupFormVisible">
    <span translate>Register to</span> {{ ::auth.shortPageTitle }}
  </h4>
  <p>
    <span ng-if="!auth.isSignupFormVisible" translate>
      Your single pane of control for all cloud services. Login in to see it in action.
    </span>
    <span ng-if="auth.isSignupFormVisible" translate>
      Create an account
    </span>
  </p>
  <!-- Login form -->
  <form ng-if="auth.showLoginForm()" class="m-b-sm" name="auth.LoginForm">
    <div class="form-group">
      <input type="text"
        class="form-control"
        ng-model="auth.user.username"
        placeholder="{{ 'Username' | translate }}"
        required="">
    </div>
    <div class="form-group">
      <input type="password"
        class="form-control"
        ng-model="auth.user.password"
        placeholder="{{ 'Password' | translate }}"
        required="">
    </div>
    <button type="submit"
      class="btn btn-primary btn-block"
      submit-button="auth.signin()">
      <span translate>Login</span>
    </button>
    <p class="text-danger"
      ng-repeat="error in auth.getErrors()" ng-bind="error"></p>
  </form>
  <!-- Registration form -->
  <form ng-if="auth.showRegisterForm()" class="m-b-sm" name="auth.RegisterForm">
    <div class="form-group">
      <input type="text"
        ng-model="auth.user.username"
        placeholder="{{ 'Username' | translate }}"
        class="form-control" required="">
    </div>
    <div class="form-group">
      <input type="text"
        ng-model="auth.user.full_name"
        placeholder="{{ 'Full name' | translate }}"
        class="form-control">
    </div>
    <div class="form-group">
      <input type="email" required="" class="form-control" ng-model="auth.user.email"
        placeholder="{{ 'Email' | translate }}">
    </div>
    <div class="form-group">
      <input type="password"
        ng-model="auth.user.password"
        placeholder="{{ 'Password' | translate }}"
        class="form-control" required="">
    </div>
    <p class="text-danger"
      ng-repeat="error in auth.getErrors()" ng-bind="error"></p>
    <button class="btn btn-primary btn-block"
      submit-button="auth.signup()"
      type="submit">
      <span translate>Register</span>
    </button>
  </form>
  <p ng-if="auth.showSocialSignupLabel()">
    <small translate>Or use social login</small>
  </p>
  <div ng-if="auth.showGoogle()" class="m-b-sm">
    <button ng-click="auth.authenticate('google')" class="btn btn-google btn-block">
      <i class="fa fa-google-plus-square" aria-hidden="true"></i>
      <auth-button-text mode="auth.mode" provider="Google"></auth-button-text>
    </button>
  </div>
  <div ng-if="auth.showFacebook()" class="m-b-sm">
    <button ng-click="auth.authenticate('facebook')" class="btn btn-facebook btn-block">
      <i class="fa fa-facebook-square" aria-hidden="true"></i>
      <auth-button-text mode="auth.mode" provider="Facebook"></auth-button-text>
    </button>
  </div>
  <div ng-if="auth.showSmartId()" class="m-b-sm">
    <button ng-click="auth.authenticate('smartid')" class="btn btn-smartid btn-block">
      <i class="fa fa-id-card-o" aria-hidden="true"></i>
      <span ng-if="auth.mode === 'register'" translate>Register with trusted identity</span>
      <span ng-if="auth.mode !== 'register'" translate>Sign in with trusted identity</span>
    </button>
  </div>
  <div ng-if="auth.showTARA()" class="m-b-sm">
    <button ng-click="auth.authenticate('tara')" class="btn btn-smartid btn-block">
      <i class="fa fa-id-card-o" aria-hidden="true"></i>
      <auth-button-text mode="auth.mode" provider="{{ auth.getTARALabel() }}"></auth-button-text>
    </button>
  </div>
  <div ng-if="auth.showSaml2()">
    <auth-saml2 mode="auth.mode"></auth-saml2>
  </div>
  <div ng-if="auth.showSaml2Providers()">
    <auth-saml2-trigger mode="auth.mode"></auth-saml2-trigger>
  </div>
  <div ng-if="auth.showEstonianId()">
    <auth-estonian-id mode="auth.mode"></auth-estonian-id>
  </div>
  <div ng-if="auth.showValimo()">
    <auth-valimo-trigger mode="auth.mode"></auth-valimo-trigger>
  </div>
  <div class="form-group m-b-sm" ng-if="auth.showRegisterButton()">
    <p>
      <small translate>Do not have an account?</small>
    </p>
    <a ng-click="auth.gotoRegister()" class="btn btn-default btn-block">
      <span translate>Create an account</span>
    </a>
  </div>
  <div class="form-group m-b-sm" ng-if="auth.showLoginButton()">
    <p>
      <small translate>Already have an account?</small>
    </p>
    <a ng-click="auth.gotoLogin()" class="btn btn-default btn-block">
      <span translate>Login</span>
    </a>
  </div>
  <language-list></language-list>
  <powered-by></powered-by>
</div>
<app-footer></app-footer>
