.authHeader {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 300px;

  .logo-name {
    font-size: 74px;
    letter-spacing: -4px;
    margin-top: 0;
    margin-bottom: 12px;
  }
}
