.HeroColumn {
  min-height: 100vh;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

.HeroBackground {
  width: 100%;
  height: 100%;
  background: #000000ba;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeroText {
  text-align: center;
}

.HeroText h1 {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .HeroText {
    max-width: 57%;
  }
}
