.login-input {
  margin-bottom: 8px;
  padding: 8px 14px;
  width: 100%;
  font-size: 1.077rem;
}

.login-input:focus {
  outline: 0;
}

.login-separator {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.login-separator-border {
  flex-grow: 1;
  border-bottom: 1px solid var(--waldur-border-secondary);
}

.login-separator-text {
  margin: 0 18px;
}

.login-with-local-account-button {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-decoration: underline;
  color: var(--waldur-brand-color);
  margin-bottom: 1rem;
  border: 0;
  background: transparent;
}

.login-submit-button {
  height: 38px;
  width: 100%;
}

.login-lang-select {
  width: 100px;
}
.login-lang-select .metronic-select__control {
  border-color: transparent;
}
