@import '@waldur/sass/variables';

.login-column {
  height: 100%;
  min-height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0 10px;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  flex-grow: 1;
  color: $text-color;
}

.login-footer {
  height: 64px;
  display: flex;
  justify-content: space-between;
  padding: 15px 32px;
  font-size: 1.077rem;
  font-weight: 500;
  border-top: 1px solid var(--bs-border-color);
  margin: 0 -10px;
}

.login-footer.footer-top {
  margin-top: 2.5rem;
}

.login-footer .menu {
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.login-footer select {
  font-weight: 600;
  border: none;
  background-color: transparent;
}

@media (width >= 768px) {
  .login-grid-item-container {
    width: 50%;
  }

  .login-logo {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
