@import '~sass/theme/_variables';

.login-column {
  height: 100%;
  min-height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  flex-grow: 1;
  color: $text-color;
}

.login-footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.login-footer select {
  font-weight: 600;
  border: none;
  background-color: transparent;
}

@media (width >= 768px) {
  .login-grid-item-container {
    width: 50%;
  }

  .login-logo {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
