.marketplace-offering-logo {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.marketplace-offering-logo--small {
  display: block;
  margin: auto;
  max-height: 6em;
  max-width: 200px;
  margin-bottom: 15px;
}
