.offering-button-group {
  display: table;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  table-layout: fixed;

  .offering-button {
    display: table-cell;
    position: relative;
    padding: 10px;
    transition: background-color 0.3s;
    border: 0;
    border-right: 1px solid #e5e5e5;
    background: none;
    color: #505050;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
    }

    &:last-child {
      border-right: 0;
    }
  }

  .offering-button-active {
    background: #f3f3f4;
  }
}
