.page-bar-container {
  position: sticky;
  top: calc(65px + var(--kt-toolbar-height)); /* header and toolbar height */
  z-index: 10;

  a.btn:hover:not(.btn-primary) {
    text-decoration: underline !important;
  }
}

body:not(.toolbar-fixed) {
  .page-bar-container {
    top: 65px; /* header height */
  }
}
