<div class="modal-header">
  <h3 class="modal-title" translate>Resize droplet</h3>
</div>
<div class="modal-body">
  <div ng-if="loading">
    <loading-spinner></loading-spinner>
  </div>
  <div ng-if="!loading">
    <p ng-if="!action.enabled" class="text-danger" ng-bind="action.reason"></p>

    <div ng-if="action.enabled">
      <div class="form-group">
        <p class="form-control-static">
          <strong><span translate>Current size</span>: </strong>
          {{ formatSize(resource) }}
        </p>
      </div>

      <div class="form-group">
        <label class="control-label"><span translate>New size</span>:</label>
        <ui-select ng-model="options.newSize" theme="bootstrap">
          <ui-select-match placeholder="{{ 'Select size...' | translate }}">
            {{ formatSize($select.selected) }}
          </ui-select-match>
          <ui-select-choices repeat="size in sizes track by size.uuid"
            ui-disable-choice="!size.enabled">
            {{ formatSize(size) }}
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="form-group">
        <div class="radio">
          <label for="flexible" class="control-label">
            <input
              id="flexible"
              type="radio"
              ng-model="options.resizeType"
              name="resizeType"
              value="flexible">
            <strong translate>Flexible</strong>
            <p translate>Increase a droplet's RAM and CPU only (not the storage).</p>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="radio">
          <label for="permanent" class="control-label">
            <input
              id="permanent"
              type="radio"
              ng-model="options.resizeType"
              name="resizeType"
              value="permanent">
            <strong translate>Permanent</strong>
            <p translate>Increase a droplet's RAM, CPU and SSD disk.</p>
          </label>
        </div>
      </div>

      <div class="form-group"
        ng-if="errors.non_field_errors">
        <p class="text-danger"
          ng-repeat="error in errors.non_field_errors"
          ng-bind="error">
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary"
    ng-class="{'disabled': !action.enabled || !options.newSize}"
    submit-button="submitForm()"><span translate>Submit</span></button>
  <button class="btn btn-default" ng-click="$dismiss()" translate>Cancel</button>
</div>
